﻿@using Ivh.Web.Client.Models

@{
    bool chatEnabled = IsFeatureEnabled(VisitPayFeatureEnum.FeatureChatIsEnabled) && (User.IsInRole(VisitPayRoleStrings.Csr.ChatOperator) || User.IsInRole(VisitPayRoleStrings.Csr.ChatOperatorAdmin));
}

<button type="button" id="sidenav-toggle" class="btn btn-icon active" title="Toggle Menu">
    <i class="material-icons">menu</i>
    Menu
</button>
<nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
        @if (chatEnabled)
        {
            <li class="no-border">
                @Html.Partial("~/Views/Chat/_ChatIndicator.cshtml")
            </li>
        }
        <li class="no-border">
            @Html.Action("CurrentUser", "Home")
        </li>
        <li>
            <a href="@Url.Action("LogOff", "Account")" title="Logout" id="btnNavLogout">Logout</a>
        </li>
    </ul>
</nav>

