﻿@using Castle.Core.Internal
@using Ivh.Web.Client.Models
@model NavViewModel

@{
    string requestUrl = Request.Url != null ? Request.Url.ToString() : "";
}

<div id="sideNav" class="sidenav collapsible open">
    <div id="sideNavMenu" class="sidenav-nav">
        @foreach (NavItemViewModel navItem in Model.NavItems)
        {
            if (navItem.Children.Count == 0)
            {
                <a href="@navItem.Url"
                   @(navItem.NewWindowOrTab ? "target=\"_blank\"" : "")
                   id="@string.Format("aClientNav{0}", navItem.Id)"
                   class="sidenav-item @(requestUrl.EndsWith(navItem.Url) ? "active" : "")">
                    @navItem.Text
                </a>
            }
            else
            {
                bool dropdownActive = navItem.Children.Any(child => !child.Url.IsNullOrEmpty() && (requestUrl.EndsWith(child.Url) || requestUrl.Contains(child.Id)));
                <button class="sidenav-item sidenav-dropdown-btn @(dropdownActive ? "active expanded" : "")"
                        id="@string.Format("aClientNav{0}", navItem.Id)">
                    @navItem.Text
                    <i class="sidenav-dropdown-icon sidenav-dropdown-icon-open glyphicon glyphicon-chevron-down"></i>
                    <i class="sidenav-dropdown-icon sidenav-dropdown-icon-closed glyphicon glyphicon-chevron-right"></i>
                </button>
                <div class="sidenav-dropdown-container @(dropdownActive ? "expanded" : "")">
                    @foreach (NavItemViewModel childItem in navItem.Children)
                    {
                        if (childItem.Url.IsNullOrEmpty())
                        {
                            <div class="sidenav-text">@childItem.Text</div>
                        }
                        else
                        {
                            <a href="@childItem.Url"
                               @(childItem.NewWindowOrTab ? "target=\"_blank\"" : "")
                               id="@string.Format("aClientNav{0}", childItem.Id)"
                               class="@(requestUrl.EndsWith(childItem.Url) || requestUrl.Contains(childItem.Id) ? "active" : "")">
                                @childItem.Text
                            </a>
                        }
                    }
                </div>
            }
        }
    </div>
    <div class="sidenav-footer">
        <div class="visitpay"></div>
    </div>
</div>
