﻿@import '../_variables.scss';

#section-reconfigure {
    padding: 0 15px 0 15px;

    > .alert-danger {
        margin-bottom: 9px;
        margin-left: -15px;
        margin-right: -15px;
    }

    .top-row {
        background: $vp-gray-dark;
        border: 8px solid $vp-gray-lighter;

        .text {
            color: #ffffff;
            padding-bottom: 7px;
            padding-top: 7px;
        }

        .details {
            background: $vp-gray-lighter;

            table {
                font-size: 12px;
                text-transform: uppercase;
                width: 100%;

                > colgroup {
                    > col {
                        &:nth-of-type(1) {
                            width: 60%;
                        }
                    }
                }
            }
        }
    }

    .main-row {
        margin-top: 15px;
    }

    .text-row {
        hr {
            margin-left: -15px;
            margin-right: -15px;
        }
    }

    #frmTerms {
        margin-top: 7px;

        button {
            height: 24px;
            line-height: 24px;
            margin-left: 7px;
        }

        select {
            width: 130px;
        }

        input[type=text] {
            width: 130px;
        }

        .row {
            margin-bottom: 7px;
        }
    }

    .interest-rates {
        font-size: 12px;
        margin-bottom: 5px;
        margin-top: 5px;
        width: 100%;

        thead {
            td {
                font-weight: bold;
                background: $vp-gray-lighter;
            }
        }

        thead, tbody {
            td {
                text-align: center;
            }
        }

        td {
            border: 1px solid $vp-gray-light;
            padding: 3px 10px 3px 10px;
        }
    }

    .terms-container {
        padding-left: 0;
        padding-right: 0;

        .terms {
            background: $vp-gray-lightest;
            line-height: 24px;
            padding: 0 15px 7px 15px;

            table {
                font-size: 12px;
                text-transform: uppercase;
                width: 100%;

                > colgroup {
                    > col {
                        &:nth-of-type(1) {
                            width: 60%;
                        }
                    }
                }
            }
        }

        .terms-error {
        }
    }
}
