﻿@import '../_variables.scss';

#modalSelectHsGuarantors {
    table.static-grid {
        margin-bottom: 0;
        margin-top: 0;
        tbody {
            td { 
                line-height: 20px; 
                label {
                    margin: 0;
                }
            }
        }
    }
}

#modalUnmatchGuarantors {

    table {
        margin-bottom: 12px;
        margin-top: 0;
        border: 1px solid $vp-gray-light;
        width: 100%;

        thead {
            th {
                padding-left: 2px;
                border: 1px solid $vp-gray-light;
            }
        }

        tbody {

            tr.discrepancy {
                background: $vp-discrepancy;
            }

            td {
                border: 1px solid $vp-gray-light;
                padding-left: 4px;
            }
        }
    }
}