﻿@model Ivh.Web.QATools.Models.VisitViewModel
@{
    ViewBag.Title = "VPP Users | Guarantor | Create Visit";
}
<div class="main">
    <div class="container">
        <div class="col-lg-12">
            <h4>Create Visit - <strong id="UserName">@Model.UserName</strong></h4>
            @Html.Partial("~/Views/Guarantors/_sideNav.cshtml")
            <div class="col-md-10">
                <input type="hidden" id="VpGuarantorId" value="@Model.VpGuarantorId">
                <form class="form-horizontal">

                    <div class="form-group">
                        <label class="control-label col-xs-2" for="BillingApplicationOptions">
                            Billing Application
                        </label>
                        <div id="BillingApplicationOptions" class="col-xs-10">
                            <span>
                                <a class="pull-left"><input type="radio" value="HB" name="BillingApplication" id="BillingApplication_HB" checked />HB&nbsp;&nbsp;</a>
                                <a><input type="radio" value="PB" name="BillingApplication" id="BillingApplication_PB" />PB</a>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="PatientFirstName" class="control-label col-xs-2">First Name</label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control" id="PatientFirstName" placeholder="First Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="PatientLastName" class="control-label col-xs-2">Last Name</label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control" id="PatientLastName" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="VisitDescription" class="control-label col-xs-2">Description</label>
                        <div class="col-xs-10">
                            <textarea type="text" class="form-control" id="VisitDescription" placeholder="Description" rows="5" maxlength="2000"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="DischargeDate" class="control-label col-xs-2">Discharge Date</label>
                        <div class="col-xs-10">
                            <input class="form-control" id="DischargeDate" placeholder="Discharge Date">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="HsCurrentBalanceOffsetFromVPBalance" class="control-label col-xs-2">HS Current Balance</label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control currency" id="HsCurrentBalanceOffsetFromVPBalance" data-number-to-fixed="2" placeholder="">
                        </div>
                    </div>
                </form>
                <div class="form-actions col-md-6 pull-left text-right">
                    <button type="button" id="_Save" class="btn btn-primary" disabled>Save</button>
                    <button type="button" id="_Cancel" class="btn">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/views/visits")"></script>
}

