﻿@import '../_variables.scss';
@import '../_mixins.scss';
@import '../../../../../Content/Css/_mixins-common.scss';

#section-payment-menu {

    .grid {

        > ul {
            list-style: none;
            margin: 0;
            padding: 0;

            > li {
                margin: 0 0 0 20px;
                padding: 0;

                .btn-grid-link {
                    border-top: 0;
                    padding-left: 15px;

                    .glyphicon, [class^="vpicon-"], [class*=" vpicon-"] {
                        display: none;
                    }
                }
            }
        }

        > .btn-grid-link {
            .balance {
                display: none;
            }
        }

        .btn-grid-link {
            padding-left: 48px;

            > span {
                &:last-of-type:not(:first-of-type) {
                    margin-top: -9px;
                    position: absolute;
                    right: 34px;
                    top: 50%;
                }
            }

            .glyphicon, [class^="vpicon-"], [class*=" vpicon-"] {
                color: $vp-gray-light;
                font-size: 26px;
                left: 10px;
                margin-top: -12px;
                position: absolute;
                top: 50%;
            }

            &:disabled {
                > span {
                    &:last-of-type:not(:first-of-type) {
                        right: 11px;
                    }
                }

                &:after {
                    content: '';
                }
            }

            &.parent-item {
                &:after {
                    color: $vp-gray-light !important;
                    font-family: 'Glyphicons Halflings';
                    font-size: 20px;
                    line-height: 60px;
                    position: absolute;
                    right: 7px;
                    top: 0;
                }

                &:not(.expanded):after {
                    content: '\2b';
                }

                &.expanded:after {
                    content: '\2212';
                }
            }

            &.parent-item + ul {
                display: none;
            }

            &.parent-item.expanded + ul {
                display: block;
            }
        }

        .btn-grid-link:not(.expanded) + ul + .btn-grid-link {
            border-top: 0;
        }

        .btn-grid-link.expanded + ul + .btn-grid-link {
            margin-top: -1px;
        }

        .widget {
            color: $text-color;
            height: auto;
            min-height: 60px;
            overflow: visible;
            padding-right: 15px;
            padding-left: 8px;
            position: relative;
            margin-top: 15px;

            &:after {
                display: none;
            }

            > span.header {
                display: block;
                height: 50px;
                line-height: 50px;
                padding-left: 60px;
                padding-right: 32px;
                position: relative;

                > span.icon {
                    bottom: 0;
                    left: 3px;
                    position: absolute;
                    top: 0;
                    vertical-align: middle;
                    width: 44px;

                    > img {
                        left: 50%;
                        position: absolute;
                        top: 50%;
                        transform: translateX(-50%) translateY(-50%);
                        max-height: 44px;
                        max-width: 44px;
                    }
                }

                > span.text {
                    display: block;
                    font-weight: bold;
                }

                &:after {
                    color: $vp-gray-light !important;
                    content: '';
                    font-family: 'Glyphicons Halflings';
                    font-size: 24px;
                    line-height: normal;
                    right: 0;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }

            &.widget-link {
                > span.header {
                    &:after {
                        @include glyphicon('\e164');
                    }
                }
            }
        }

        .widget.btn-grid-link {
            &.widget-healthequity {
                > span.header {
                    > span.icon {
                        > img {
                            max-height: 36px;
                            max-width: 36px;
                        }
                    }

                    > span.balance {
                        display: block;
                    }
                }
            }

            &.widget-healthequity-with-balance {
                > span.header {
                    line-height: 17px;
                }
            }
        }
    }
}

#section-arrange-payment {

    form {
        input[type=text] {
            text-align: right;
            width: 130px;
        }

        input[type=date] {
            text-align: right;
            width: 130px;
        }

        .btn-default {
            > span {
                display: block;
                line-height: 25px;
            }
        }

        #btnPaymentMethods {
            > span {
                &.no-payment-method {
                    margin-top: -4px;
                }

                &.payment-method-selected {
                    margin-top: -4px;
                }
            }

            &:after {
                top: 0;
            }
        }

        > div {
            line-height: 48px;

            &:after {
                clear: both;
                content: '';
                display: table;
            }

            .form-control {
                display: inline;
            }
        }
    }

    .modern-grid {
        width: 100%;

        &.financeplan-grid {
            &:not(.allow-input) {
                col {
                    &:nth-of-type(1) {
                        width: 100%;
                    }

                    &:nth-of-type(2) {
                        width: 120px;
                    }

                    &:nth-of-type(3) {
                        width: 70px;
                    }
                }
            }
        }

        &.visits-grid {
            &:not(.allow-input) {
                col {
                    &:nth-of-type(1) {
                        width: 100%;
                    }

                    &:nth-of-type(2) {
                        width: 120px;
                    }

                    &:nth-of-type(3) {
                        width: 70px;
                    }
                }
            }
        }
    }

    #btnPaymentMethods {
        max-width: 180px;
        padding-left: 0;
        padding-right: 24px;
        width: 180px;
    }
}

#arrange-payment-finance-plan {
    #finance-plan {
        @include finance-plan();
        display: none; //Start hidden
    }

    @media (max-width: $screen-tablet - 1) {
        #finance-plan-menu-secondary {
            margin-bottom: 15px;

            &:after {
                display: table;
                content: '';
                clear: both;
            }

            label {
                @include user-select(none);
                border: 1px solid $vp-gray-light;
                cursor: pointer;
                display: block;
                font-weight: normal;
                float: left;
                width: 50%;
                line-height: 40px;
                margin: 0;
                padding: 0;
                position: relative;
                text-align: center;

                input[type=radio] {
                    display: none;
                }

                &.disabled {
                    color: $vp-gray-dark;
                    cursor: not-allowed;
                }

                &:not(.disabled) {
                    &:hover {
                        background: $vp-gray-lighter;
                        color: $brand-primary;
                    }

                    &.selected {
                        background: $brand-primary;
                        border-color: $brand-primary;
                        color: #ffffff;
                        padding-right: 0;

                        &:after {
                            border-left: 28px solid transparent;
                            border-top: 10px solid $brand-primary;
                            border-right: 28px solid transparent;
                            content: '';
                            display: block;
                            height: 0;
                            position: absolute;
                            left: 50%;
                            margin-left: -28px;
                            bottom: -7px;
                            width: 0;
                        }
                    }
                }
            }
        }
    }

    #finance-plan-state-selection {
        display: none; //Start hidden

        #state-selection-instructions {
            font-weight: normal;
            padding-top: 10px;
            padding-bottom: 8px;
        }

        #state-selection-information {
            width: 95%;
            margin: 0 auto 15px;
        }

        .vpgrid-container {
            margin: 0 auto 15px;
        }

        .vpgrid-header {
            position: relative;
        }
        //Center select state button in header
        .select-state-btn {
            font-size: 14px;
            position: absolute;
            top: 50%;
            margin-top: -14px;
            right: 5px;
            padding: 4px 12px;
        }
    }
}

#overlay-submit {
    form {
        padding: 15px;

        > div {
            line-height: 36px;
        }

        a.make-changes {
            position: relative;

            &:before {
                content: '\e079';
                font-family: 'Glyphicons Halflings';
                left: -20px;
                margin-top: 1px;
                position: absolute;
            }
        }
    }
}

#overlay-receipt {
    .alert {
        padding-left: 30px;
        padding-right: 30px;
    }

    a.btn {
        display: inline-block !important;
    }
}
