﻿@import '../_variables.scss';
@import '../_mixins.scss';
@import '../../../../../Content/Bootstrap/css/bootstrap/_variables.scss';

#section-activity {
    #section-paymentspending {
    }

    #section-paymenthistory, #section-visits, #section-financeplanhistory {
        margin-top: 20px;
    }

    .payment-logo {
        margin: $grid-gutter-width 0 $grid-gutter-width/2 0;
        text-align: center;
    }
}

#modalPaymentCancel {
    hr {
        background: none;
        border: 0;
        border-top: 1px solid $vp-gray-lighter;
        height: 1px;
    }
}

#modalPaymentEdit {

    hr {
        background: none;
        border: 0;
        border-top: 1px solid $vp-gray-lighter;
        height: 1px;
    }

    #section-paymentmethodslist {
        margin-left: -15px;
        margin-right: -15px;
    }

    .option {
        margin-bottom: $grid-gutter-width/2;

        > a {
            display: inline-block;
            position: relative;

            &:after {
                @include glyphicon('\e258');
                position: absolute;
                right: -20px;
                text-decoration: none;
                top: 1px;
            }

            &.active {
                &:after {
                    @include glyphicon('\e259');
                }
            }
        }

        > div {
            margin-top: $grid-gutter-width/2;
            padding-bottom: $grid-gutter-width/2;

            form {
                .row {
                    > div {
                        white-space: nowrap;
                    }
                }

                textarea {
                    height: 70px;
                }

                label {
                    font-weight: normal;
                }
            }
        }
    }

    .input-group.date {
        width: 96px;

        .form-control[readonly] {
            background: inherit;
            border-color: $input-border;
            color: inherit;
        }
    }

    .alert-light {
        margin-bottom: 0;
    }
}
