﻿#section-payment-details-scheduled {
    .payment-method-row {
        > span {
            line-height: 44px;
        }
    }

    #btnPaymentMethods {
        max-width: 170px;
        padding-left: 0;
        padding-right: 24px;
        width: 170px;
    }
}
