﻿#modalPaymentChangeDate {
    #frmPaymentChangeDate {
        > div {
            > div {
                line-height: 34px;

                &:first-of-type {
                    padding-right: 7px;
                }

                &:last-of-type {
                    padding-left: 0;
                }
            }
        }

        .validation-summary-errors {
            margin: 0 -7px 0 0;
            padding: 7px;
        }
    }
}
