﻿@import '../_variables.scss';

#section-payment-methods {
    #section-payment-method-list {
        > a {
            display: none;
        }

        img {
            max-width: 32px;
        }
    }
}

.overlay {
    #section-payment-method-list {
        > div {
            padding: 15px 15px 0 15px !important;
        }

        img {
            max-width: 32px;
        }
    }
}

#section-payment-method-detail {
    div.payment-type {
        img {
            float: right;
            margin-left: 3px;
            margin-top: -3px;
            max-width: 28px;
        }
    }

    div.payment-type-icon {
        float: right;

        img {
            margin-top: -3px;
            max-width: 26px;
        }
    }

    div.card-info {

        .card {
            width: 154px;
        }

        .cvv {
            float: right;
            overflow-x: visible;
            text-align: right;
            width: 76px;
            white-space: nowrap;
        }
    }

    .form-group {
        label {
            font-size: $font-size-small;
        }
    }

    .alert.expiration-alert {
        margin-left: 0;
        margin-right: 0;
        padding: 7px;
    }
}

#section-make-payment {

    .no-payment-method {
        span {
            display: block;
            float: left;
            font-size: 13px;
            height: 32px;
            line-height: 28px;
            min-width: 100%;
            padding-right: 10px;
            text-align: right !important;
        }
    }
}

#section-customize-review {
    .no-payment-method {
        span {
            color: #aaaaaa;
            font-size: 16px;
        }
    }
}

#btnPaymentMethods > span, .payment-method-selected {
    display: block;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 10px;
    width: 100%;

    > img {
        display: inline !important;
        margin-right: 5px;
        width: 32px;
    }


    > span {
        display: inline;
        color: $text-color;
        font-size: 14px;
        line-height: 26px;

        &.expiry {
            margin-right: 5px;
        }
    }

    &:after {
        clear: both;
        content: '';
        display: table;
    }
}

#section-payment-methods #section-payment-method-list img,
.overlay #section-payment-method-list img,
.payment-method-selected > img {
    &.hsa-image {
        margin-top: -1px;
        max-width: 22px;
    }
}
