﻿@import '../_variables.scss';

#modalCreateSupportRequest {
    font-size: 12px;

    .modal-body {

        p {
            margin: 15px 0 15px 0;
        }

        textarea {
            height: 124px;
        }

        .form-group {
            position: relative;
        }

        #frmCreateSupportRequestAttachments {

            &:after {
                content: '';
                clear: both;
                display: block;
            }

            .fileupload-buttonbar {
                margin: 5px 0 5px -15px;
                float: left;
                width: 162px;
            }

            table {
                float: left;
                margin-top: 7px;
                width: 420px;

                > colgroup {
                    > col {
                        &:nth-of-type(1) {
                            width: 24px;
                        }

                        &:nth-of-type(3) {
                            width: 72px;
                        }

                        &:nth-of-type(4) {
                            width: 48px;
                        }
                    }
                }

                > tbody {
                    > tr {
                        > td {
                            padding: 0 8px 0 8px;
                            vertical-align: middle;

                            .btn-icon {
                                color: $state-danger-text;
                                font-size: 25px;
                                font-weight: bold;
                                margin-top: -1px;

                                &:hover {
                                    color: $state-danger-text-darker;
                                }
                            }

                            &:first-of-type {
                                padding: 0;
                            }

                            &:last-of-type {
                                padding-right: 0;
                            }
                        }
                    }
                }
            }

            .error {
                color: $state-danger-text;
                display: block;
                font-size: 12px;
                padding-top: 7px;
            }
        }
    }

    .modal-footer {
        position: relative;

        span {
            color: $state-danger-text;
            left: 15px;
            position: absolute;
            top: 20px;
        }
    }
}
