﻿@import '../_variables.scss';
@import '../../Bootstrap/css/bootstrap/_mixins.scss';

#modalSupportRequestReply, #modalSupportRequestReplyToGuarantor {
    .modal-body {
        max-height: 600px;

        .container-fluid {
            margin: 0 -15px 0 -15px;

            > .row {
                margin: 0 -7px 0 -7px;

                > div, form {
                    padding-left: 7px;
                    padding-right: 7px;
                }
            }
        }

        .topics {
            border: 1px solid $vp-gray-light;
            font-size: 12px;
            height: 325px;
            max-height: 570px;
            overflow-x: hidden;
            overflow-y: scroll;

            ul {
                > li {
                    > i {
                        width: 14px;
                    }

                    > ul {
                        li {
                            margin-left: 16px;
                        }

                        > li {
                            > a {
                                > span {
                                    @include text-overflow();
                                    display: inline-block;
                                    width: 192px;
                                }
                            }
                        }
                    }
                }

                a {
                    > .glyphicon-file {
                        color: $link-color;
                    }

                    &:hover {
                        > .glyphicon-file {
                            color: $link-hover-color;
                        }
                    }
                }
            }
        }

        #frmReplyAttachments {
            border: 1px solid $vp-gray-light;
            display: none;
            margin-top: 15px;
            overflow-x: hidden;
            overflow-y: scroll;
            padding: 4px 4px 0 4px;

            .fileupload-buttonbar {
                display: none;
            }

            table {
                font-size: 12px;
                width: 100%;

                > colgroup {
                    > col {
                        &:nth-of-type(1) {
                            width: 32px;
                        }

                        &:nth-of-type(2) {
                        }

                        &:nth-of-type(3) {
                            width: 76px;
                        }

                        &:nth-of-type(4) {
                            width: 24px;
                        }
                    }
                }

                > tbody {
                    > tr {
                        > td {
                            .btn-icon {
                                color: $state-danger-text;
                                font-size: 25px;
                                font-weight: bold;
                                margin-top: -6px;

                                &:hover {
                                    color: $state-danger-text-darker;
                                }
                            }

                            &:nth-of-type(2) {
                                span {
                                    @include text-overflow();
                                    display: block;
                                    width: 134px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .message {
            border: 1px solid $vp-gray-light;
            height: 325px;
            max-height: 570px;
            overflow-y: scroll;
            width: 100%;
        }

        .templateReplacementTags {
            min-height: 415px;
            max-height: 570px;
        }
    }

    .modal-footer {
        .error {
            color: $state-danger-text;
            float: left;
            font-size: 11px;
            line-height: 25px;
            padding-left: 8px;
        }
    }
}