﻿$support-request-header:    yellow !default;

#print-supportrequest {
    width: 7.25in;

    h2 {
        background: $support-request-header;
        color: #ffffff;
        font-size: 13px;
        margin: 0;
        padding: 6px;

        &:nth-of-type(1) {
            span {
                &:nth-of-type(1) {
                    float: right;
                }
            }
        }

        &:after {
            clear: both;
            content: '';
            display: table;
        }
    }

    .top {
        height: 90px;

        > .user {
            float: right;
            text-align: right;
        }

        > .logo {
            img {
                max-height: 50px;
            }
        }
    }

    .request {
        border-collapse: collapse;
        border-spacing: 0;
        clear: both;
        margin: 0 0 20px 0;
        width: 100%;

        > colgroup {
            > col {
                &:nth-of-type(1) {
                    width: 15%;
                }

                &:nth-of-type(2) {
                    width: 35%;
                }

                &:nth-of-type(3) {
                    width: 15%;
                }

                &:nth-of-type(4) {
                    width: 35%;
                }
            }
        }

        > tbody {
            > tr {
                > td {
                    border: 1px solid #000000;
                    padding: 2px;
                }
            }
        }
    }

    .communications {
        margin: 0 0 20px 0;

        > div {
            padding: 4px 8px 4px 8px;
            text-align: justify;
            -ms-word-wrap: break-word;
            word-wrap: break-word;

            > div {
                > strong {
                    &:nth-of-type(1) {
                        float: right;
                    }
                }
            }

            &:nth-of-type(even) {
                background: #f4f4f4;
            }
        }
    }

    .attachments {
        page-break-inside: avoid;

        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;

            > colgroup {
                > col {
                    &:nth-of-type(1) {
                        width: 80%;
                    }

                    &:nth-of-type(2) {
                        width: 20%;
                    }
                }
            }

            > tbody {
                > tr {
                    > td {
                        overflow: hidden;
                        padding: 4px 8px 4px 8px;
                        white-space: nowrap;

                        > span {
                            display: block;
                            overflow: hidden;
                            -ms-text-overflow: ellipsis;
                            -o-text-overflow: ellipsis;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            width: 517px;
                        }
                    }

                    &:nth-of-type(even) {
                        background: #f4f4f4;
                    }
                }
            }
        }
    }
}