﻿@import '../_variables.scss';
@import '../_mixins.scss';
@import '../../Bootstrap/css/bootstrap/_mixins.scss';

.dialog-shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
}

.dialog-title-bar {
    background: $brand-primary !important;
    color: $vp-primary-text !important;
    font-weight: normal !important;
    border-bottom: 0 !important;
}

//TODO: Move this to a dialog css file (as well as the two classes above)
//FIX FOR JQUERY DIALOG CONTENT NOT FULL SIZE AFTER RESIZING DIALOG
.ui-dialog, .ui-dialog-content {
    box-sizing: content-box;
}

#supportRequest {

    .panel-title {
        > span {
            &:nth-of-type(2), &:nth-of-type(3) {
                padding-left: 40px;
            }
        }
    }

    .panel-body {
        > .top {

            form.topics {
                border-left: 1px solid $vp-gray-light;
                font-size: 12px;

                > div {
                    &:not(:nth-of-type(1)) {
                        margin-top: 4px;
                    }
                }
            }

            .details {
                > .row {
                    > div {
                        &.col-xs-6 {
                            > div {
                                > span {
                                    max-width: 170px;
                                }
                            }
                        }

                        &.col-xs-8 {
                            > div {
                                > span {
                                    max-width: 270px;
                                }
                            }
                        }
                    }
                }
            }

            .action {
                margin-bottom: 10px;
                margin-top: 15px;

                select {
                    width: 150px;
                }

                label {
                    position: absolute;
                    left: calc(50% + 7px);

                    select {
                        display: inline-block;
                    }
                }
            }
        }

        .communication {
            margin: 0 -15px 0 -15px;

            > .row {
                margin: 0 -7px 0 -7px;

                > div {
                    padding-left: 7px;
                    padding-right: 7px;

                    .btn-icon {
                        font-size: 13px;
                        margin-left: 8px;
                        margin-top: -2px;
                        outline: none !important;
                    }
                }
            }

            .messages {
                border: 1px solid $vp-gray-light;
                clear: both;
                font-size: 12px;
                height: 280px;
                margin: 5px 0 0 0;
                max-height: 280px;
                overflow-y: auto;

                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;

                    > li {
                        display: block;
                        margin: 0;
                        padding: 4px 6px 6px 6px;

                        .title {
                            color: $brand-primary;
                            font-weight: bold;

                            a {
                                display: block;
                                margin-left: 8px;
                                margin-top: 3px;
                                width: 12px;
                            }

                            &.sender-guarantor {
                                color: $vp-state-green;
                            }
                        }

                        .body {
                            height: 36px;
                            line-height: 18px;
                            overflow: hidden;
                            position: relative;

                            p {
                                margin: 0;
                                padding: 0;
                                text-align: justify;
                                -ms-word-break: break-word;
                                word-break: break-word;
                                -ms-word-wrap: break-word;
                                word-wrap: break-word;
                            }

                            .less {
                                display: none;
                            }

                            .more {
                                @include gradient-horizontal(rgba(255,255,255,0), #ffffff, 0, 30%);
                                display: none;
                                padding-left: 100px;
                                position: absolute;
                                top: 18px;
                                right: 0;
                            }

                            .more > a {
                                margin-left: 6px;
                            }
                        }

                        &:nth-of-type(even) {
                            background: $vp-gray-lightest;

                            .body {
                                .more {
                                    @include gradient-horizontal(rgba(255,255,255,0), $vp-gray-lightest, 0, 30%);
                                }
                            }
                        }
                    }
                }
            }

            .message {
                border: none;
                clear: both;
                font-size: 12px;
                height: inherit;
                margin: 5px 0 0 0;
                max-height: inherit;
                overflow-y: hidden;
            }
        }

        > .editor-internal {
            display: none;
            height: 144px;
            overflow: hidden;
            padding-top: 15px;
            width: 868px;

            textarea {
                height: 129px;
            }

            .fileupload-buttonbar {
                display: none;
            }

            #frmEditorInternalAttachments {
                border: 1px solid $vp-gray-light;
                font-size: 12px;
                height: 129px;
                max-height: 129px;
                overflow-x: hidden;
                overflow-y: scroll;
                padding: 4px 4px 0 4px;

                table {
                    width: 100%;

                    > colgroup {
                        > col {
                            &:nth-of-type(1) {
                                width: 32px;
                            }

                            &:nth-of-type(2) {
                            }

                            &:nth-of-type(3) {
                                width: 56px;
                            }

                            &:nth-of-type(4) {
                                width: 24px;
                            }
                        }
                    }

                    > tbody {
                        > tr {
                            > td {
                                .btn-icon {
                                    color: $state-danger-text;
                                    font-size: 25px;
                                    font-weight: bold;
                                    margin-top: -6px;

                                    &:hover {
                                        color: $state-danger-text-darker;
                                    }
                                }

                                &:nth-of-type(2) {
                                    span {
                                        @include text-overflow();
                                        display: block;
                                        width: 154px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .panel-footer {
        height: 56px;

        > .primary-buttons {
            position: relative;

            > #btnSupportRequestDoAction {
                left: 0;
                position: absolute;
                top: 0;
            }
        }

        > .editor-internal-buttons {
            display: none;

            .error {
                color: $state-danger-text;
                float: left;
                font-size: 11px;
                line-height: 25px;
                padding-left: 8px;
            }
        }
    }

    div.grid-container {
        margin-bottom: 15px;
        position: relative;

        > a.grid-header {
            @include link-expandable-lg();
        }

        > div {
            display: none;
        }

        &.expanded {
            > a.grid-header {
                background: $brand-primary;
                color: $vp-primary-text;
                font-weight: normal;
                border-bottom: 0;
                padding-left: 32px;

                &:after {
                    @include glyphicon('\e259');
                    left: 8px;
                }
            }

            > div {
                display: block !important;
            }
        }
    }
}

#modalSupportAttachments {

    .malware-scan-status {
        padding-right: 20px;
    }

    .modal-body {
        max-height: calc(80vh - 200px);
        overflow-y: scroll;

        table {
            font-size: 12px;
            width: 100%;

            button.srma-delete {
                color: $state-danger-text;
                font-size: 18px;
                font-weight: bold;
                margin-left: 8px;

                &:hover {
                    color: $state-danger-text-darker;
                }
            }

            > colgroup {
                > col {
                    &:nth-of-type(1) {
                        width: 30px;
                    }

                    &:nth-of-type(2) {
                        width: 100%;
                        max-width: 250px;
                    }

                    &:nth-of-type(3) {
                        width: 150px;
                    }

                    &:nth-of-type(4) {
                        width: 150px;
                    }
                }
            }

            > tbody {
                > tr {
                    > td {

                        &:nth-of-type(1) {
                            white-space: nowrap;
                            min-width: 30px;
                        }

                        &:nth-of-type(2) {
                            > span {
                                @include text-overflow();
                                display: block;
                                max-width: 250px;
                            }
                        }

                        &:nth-of-type(3) {
                            white-space: nowrap;
                        }

                        &:nth-of-type(4) {
                            white-space: nowrap;
                        }
                    }
                }
            }
        }
    }
}
