﻿#visitPayDocument {
    #uploadButton {
        margin-bottom: 30px;
    }
}

#modalEditVisitPayDocument, #modalUploadVisitPayDocument {
    .modal-content {

        .modal-body {
            padding-left: 50px;
            padding-right: 50px;

            .input-group.date {
                margin: 3px 8px 0 0;
                width: 111px;
            }

            .row{
                padding-bottom:10px;
            }
        }
    }
}
