﻿@import '../_variables.scss';
@import '../_mixins.scss';
@import '../_mixins-common.scss';

#section-register {

    $form-width: 360px;

    .patient-dob {
        margin-top: 15px;
        margin-bottom: 10px;
    }

    .steps {
        margin-bottom: 30px;
    }

    .form-section {
        max-width: $form-width;
        position: relative;
    }

    .field-tip {
        &.payment-methods-tip {
            margin-bottom: 15px;
        }

        &.username-tip {
            margin-bottom: 8px;
        }
    }

    .terms-box {
        border: 1px solid $vp-gray-light;
        padding: 15px;

        .btn-outline {
            max-width: 340px;
            white-space: normal;
            word-break: break-word;
        }
    }
    /* this is ugly until we refactor payment methods */
    #section-paymentmethods {
        display: none;

        #section-paymentmethodslist {
            width: $form-width;

            .payment-method-details {
                margin-left: 15px;
            }

            .row.account-heading p,
            .row.account-item > div label,
            .nickname,
            .hsaType,
            hr {
                display: none;
            }

            .row.account-heading {
                text-align: center !important;

                .btn {
                    padding-left: 0;
                    padding-right: 0;
                    text-align: center;
                    min-width: 150px;
                }
            }
        }
    }
}

#modalSampleStatement {
    @include sample-statement($btn-primary-bg, $client-button-primary-bg-hover);
}
