﻿#section-registersummary {
    padding-left: 20px;
    padding-right: 20px;

    .modal-text-large {
        font-size: 45px;
        padding-bottom: 20px;
        padding-top: 25px;
    }

    .modal-footer {
        padding-bottom: 45px;
        padding-top: 25px;
    }

    p {
        margin: 0 0 20px;
    }
}
