﻿@using System.Web.Mvc.Html
@using Ivh.Common.Base.Formatters
@model Ivh.Common.Web.Models.Monitoring.SystemInfoViewModel
@{
    /**/

    Layout = null;
}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>System Info</title>
    <meta http-equiv="refresh" content="60">
    <style type="text/css">
        .Table {
            display: table;
        }

        .Title {
            display: table-caption;
            text-align: center;
            font-weight: bold;
            font-size: larger;
        }

        .Heading {
            display: table-row;
            font-weight: bold;
            text-align: center;
        }

        .Row {
            display: table-row;
        }

        .Cell {
            display: table-cell;
            border: solid;
            border-width: thin;
            padding-left: 5px;
            padding-right: 5px;
        }

        .Raw {
            display: inline-block;
            border: solid 1px #000;
            min-height: 200px;
            width: 500px;
        }
    </style>

</head>
<body>
    <div class="Table">
        <div class="Title">
            <p>System Info <a href="@Url.Action("SystemHealth", "Monitoring")" title="SysInfo">System Health</a></p> 
        </div>
        <div class="Heading">
            <div class="Cell">
                <p>Metric</p>
            </div>
            <div class="Cell">
                <p>Value</p>
            </div>
        </div>
        <div class="Row">
            <div class="Cell">
                <p>@Html.LabelFor(m => m.Client)</p>
            </div>
            <div class="Cell">
                <p>@Model.Client</p>
            </div>
        </div>
        <div class="Row">
            <div class="Cell">
                <p>@Html.LabelFor(m => m.Environment)</p>
            </div>
            <div class="Cell">
                <p>@Model.Environment</p>
            </div>
        </div>
        <div class="Row">
            <div class="Cell">
                <p>@Html.LabelFor(m => m.Application)</p>
            </div>
            <div class="Cell">
                <p>@Model.Application</p>
            </div>
        </div>
        <div class="Row">
            <div class="Cell">
                <p>@Html.LabelFor(m => m.AppVersion)</p>
            </div>
            <div class="Cell">
                <p>@Model.AppVersion</p>
            </div>
        </div>
        <div class="Row">
            <div class="Cell">
                <p>@Html.LabelFor(m => m.ClientDataApiVersion)</p>
            </div>
            <div class="Cell">
                <p>@Model.ClientDataApiVersion</p>
            </div>
        </div>
        <div class="Row">
            <div class="Cell">
                <p>@Html.LabelFor(m => m.SecurePanApiVersion)</p>
            </div>
            <div class="Cell">
                <p>@Model.SecurePanApiVersion</p>
            </div>
        </div>
        <div class="Row">
            <div class="Cell">
                <p>@Html.LabelFor(m => m.ClientSettingsHash)</p>
            </div>
            <div class="Cell">
                <p>@Model.ClientSettingsHash</p>
            </div>
        </div>
        <div class="Row">
            <div class="Cell">
                <p>@Html.LabelFor(m => m.Raw)</p>
            </div>
            <div class="Raw" contenteditable="true">
                <pre>@Model.Raw</pre>
            </div>
        </div>
    </div>
</body>
</html>