﻿@import '../_variables.scss';
@import '../../Bootstrap/css/bootstrap/_variables.scss';
@import '../../Bootstrap/css/bootstrap/_mixins.scss';
@import '../_mixins.scss';

#section-chat-queue {
    visibility: hidden; //Shown after loading
    a {
        text-decoration: none;
        cursor: pointer;
    }

    .panel {
        box-shadow: 0 1px 1px rgba(0,0,0,.05) !important;
    }

    .panel-heading {
        border-style: solid solid none solid;
        border-width: 1px;
        border-radius: 4px 4px 0 0;
        border-color: $panel-default-border;
    }

    .panel-footer {
        border-style: none solid solid solid;
        border-width: 1px;
        border-radius: 0 0 4px 4px;
        border-color: $panel-default-border;
    }

    .panel-body {
        border-style: none solid solid solid;
        border-width: 1px;
        border-color: $panel-default-border;

        & .list-group-item {
            border-left-width: 0;
            border-right-width: 0;
        }
    }

    .list-group {
        margin-bottom: 0;
        max-height: 500px;
        overflow-y: scroll;
        overflow: auto;
    }

    .message-preview {
        max-height: 20px;
        @include text-overflow();
    }

    .chat-iframe {
        border: none;
        width: 100%;
        height: 100%;
        border-radius: 0 0 0 0;
        max-height: 410px;
        min-height: 410px;
    }

    .list-group-item {
        padding-left: 25px; //To account for status dot
        > .status-container {
            left: 0;
            position: absolute;
            top: 0;
            padding: 9px;

            > .status-dot {
                height: 10px;
                width: 10px;
                border-radius: 50%;
                display: inline-block;
                margin-bottom: 1px;
                background-color: #56aa7a;

                &.offline {
                    background-color: #9da1a4;
                }
            }
        }

        &.active {
            & p {
                color: #ffffff;
            }
        }
    }

    .vpicon-toggleOff {
        color: $vp-gray-dark;

        &:hover {
            color: $client-accent
        }
    }

    .vpicon-toggleOn {
        color: $vp-dark-blue;

        &:hover {
            color: $client-accent
        }
    }
}
