﻿@import '../_variables.scss';
@import '../../Bootstrap/css/bootstrap/_variables.scss';
@import '../../Bootstrap/css/bootstrap/_mixins.scss';
@import '../_mixins.scss';

.chat-dialog-iframe {
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 0;
}

#chatDialog {
    padding: 0;
}