﻿@import '../_variables.scss';
@import '../../Bootstrap/css/bootstrap/_variables.scss';
@import '../../Bootstrap/css/bootstrap/_mixins.scss';
@import '../_mixins.scss';

#section-chat-admin {
    visibility: hidden; //Shown after page is loaded
    padding-top: 10px;

    .table {
        margin: 0;
    }

    .panel-title {
        padding-top: 5.5px;
    }

    .panel-heading {
        height: 45px;
    }

    .panel-body {
        border-style: none solid solid solid;
        border-width: 1px;
        border-color: $vp-gray-light;
        padding: 10px 0 10px 0;

        &.no-padding {
            padding: 0 !important;
        }
    }

    .btn-icon {
        font-size: 14px;
    }

    .alert {
        margin: 0;
    }

    .chat-status-section {
        visibility: hidden; //Shown after page is loaded
        width: 100%;
    }

    .chat-status-label {
        padding-left: 5px;
    }

    .kill-switch {
        padding-right: 5px;
    }

    .validation-summary-errors {
        padding: 5px 0 5px 5px;
    }
}