﻿@using Ivh.Common.VisitPay.Constants
@model Ivh.Common.Web.Models.Guarantor.EditPhoneViewModel

<div id="modalPhoneEdit" class="modal modal-vcenter fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <form class="modal-content" autocomplete="off">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.IsSmsEnabled)
            @Html.HiddenFor(m => m.VisitPayUserId)
            @Html.HiddenFor(m => m.SmsPhoneType)
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">

                @Html.ValidationSummary(Html.TextRegion(TextRegionConstants.ValidationCorrectErrors))

                <div class="row form-group">
                    <div class="col-xs-5">@Html.VpLabelFor(m => m.PhoneNumber):</div>
                    <div class="col-xs-7">@Html.VpTextBoxFor(m => m.PhoneNumber)</div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-5">@Html.VpLabelFor(m => m.PhoneNumberType):</div>
                    <div class="col-xs-7">@Html.VpPhoneNumberTypesDropDownListFor(m => m.PhoneNumberType, new { @class = "form-control" })</div>
                </div>

                @if (Model.IsSmsEnabled)
                {
                    <br />
                    <p>@Html.TextRegion(TextRegionConstants.EditPhoneTextMessageDisabling)</p>
                }

            </div>
            <div class="modal-footer text-center">
                <button type="submit" class="btn btn-primary">@Html.TextRegion(TextRegionConstants.ButtonContinue)</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">@Html.TextRegion(TextRegionConstants.ButtonCancel)</button>
            </div>
        </form>
    </div>
</div>