﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.VisitPay.Enums
@model Ivh.Common.Web.Models.Guarantor.PhoneTextInformationViewModel

@Html.HiddenFor(m => m.CmsVersionId)
@Html.HiddenFor(m => m.SmsEnabledFor)
@Html.HiddenFor(m => m.VisitPayUserId)

@if (Model.SmsModuleEnabled && Model.SmsEnabledFor.HasValue)
{
    <div class="row">
        <div class="col-xs-12 text-right">
            <button type="button" class="btn btn-primary" id="btnDisableSms">@Html.TextRegion(TextRegionConstants.TurnOffTextMessaging)</button>
        </div>
    </div>
    <hr />
}

<div class="row phone-item">
    <div class="col-xs-2">@Html.TextRegion(TextRegionConstants.Primary):</div>
    <div class="col-xs-3 phone-number">
        <em class="glyphicon @Model.PrimaryTypeIcon"></em>
        @Model.PhoneNumber (@Model.PhoneNumberType)
    </div>
    <div class="col-xs-6">
        @if (Model.SmsModuleEnabled)
        {
            if (Model.SmsEnabledFor.HasValue && Model.SmsEnabledFor.Value == SmsPhoneTypeEnum.Primary)
            {
                @:@Html.TextRegion(TextRegionConstants.TextMessaging): <span class="text-green">@Html.TextRegion(TextRegionConstants.Enabled)</span>
            }
            else
            {
                @:@Html.TextRegion(TextRegionConstants.TextMessaging): <span><strong>@Html.TextRegion(TextRegionConstants.Disabled)</strong></span>
            }
        }
    </div>
    <div class="col-xs-1 actions">
        <button type="button" class="btn-icon" id="btnEditPrimary" title="@Html.TextRegion(TextRegionConstants.EditPrimaryPhoneNumber)"><em class="glyphicon glyphicon-pencil"></em></button>
        <button type="button" class="btn-icon" title="@Html.TextRegion(TextRegionConstants.PrimaryPhoneDeleteMessage)" disabled="disabled"><em class="glyphicon glyphicon-trash"></em></button>
    </div>
</div>
<div class="row phone-item">
    <div class="col-xs-2">@Html.TextRegion(TextRegionConstants.Secondary):</div>
    @if (Model.HasSecondaryPhone)
    {
        <div class="col-xs-3 phone-number">
            <em class="glyphicon @Model.SecondaryTypeIcon"></em>
            @Model.PhoneNumberSecondary (@Model.PhoneNumberSecondaryType)
        </div>
        <div class="col-xs-6">
            @if (Model.SmsModuleEnabled)
            {
                if (Model.SmsEnabledFor.HasValue && Model.SmsEnabledFor.Value == SmsPhoneTypeEnum.Secondary)
                {
                    @:@Html.TextRegion(TextRegionConstants.TextMessaging): <span class="text-green">@Html.TextRegion(TextRegionConstants.Enabled)</span>
                }
                else
                {
                    @:@Html.TextRegion(TextRegionConstants.TextMessaging): <span><strong>@Html.TextRegion(TextRegionConstants.Disabled)</strong></span>
                }
            }
        </div>
    }
    else
    {
        <div class="col-xs-9 no-phone">
            @Html.TextRegion(TextRegionConstants.NoPhone)
        </div>
    }
    <div class="col-xs-1 actions">
        @{
            string secondaryDisabledAttr = Model.HasSecondaryPhone ? "" : "disabled=\"disabled\"";
            string secondarySmsEnabledFor = Model.SmsEnabledFor.HasValue && Model.SmsEnabledFor.Value == SmsPhoneTypeEnum.Secondary ? "true" : "false";
        }
        <button type="button" class="btn-icon" id="btnEditSecondary" title="@Html.TextRegion(TextRegionConstants.EditSecondaryPhoneNumber)"><em class="glyphicon glyphicon-pencil"></em></button>
        <button type="button" class="btn-icon" id="btnDeleteSecondary" title="@Html.TextRegion(TextRegionConstants.DeleteSecondaryPhoneNumber)" data-smsenabledfor="@secondarySmsEnabledFor" @secondaryDisabledAttr><em class="glyphicon glyphicon-trash"></em></button>
    </div>
</div>

@if (Model.SmsModuleEnabled)
{
    <hr />

    if (Model.SmsEnabledFor.HasValue)
    {
        <div>
            <p>@Html.CmsRegion(CmsRegionEnum.SmsActiveMessageClient)</p>
        </div>
    }
    else
    {
        <div class="text-center">
            <p>@Html.CmsRegion(CmsRegionEnum.SmsActivateMessageClient)</p>
        </div>
        <hr />
    }

    string preferencesClassName = Model.SmsEnabledFor.HasValue ? "" : "disabled";

    <div class="preferences @preferencesClassName">
        @for (int i = 0; i < Model.Preferences.Count; i++)
        {
            <div class="preference">
                <div>
                    <em class="glyphicon @Model.Preferences[i].IconType"></em>
                    @Model.Preferences[i].Description
                </div>
                <div>
                    @Html.CheckBoxFor(m => m.Preferences[i].Enabled, new { data_id = Model.Preferences[i].CommunicationGroupId })
                </div>
            </div>
        }
    </div>
}
