﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.VisitPay.Enums
@model Ivh.Common.Web.Models.Guarantor.PhoneTextInformationViewModel

@{
    string pageTitle = this.IsFeatureEnabled(VisitPayFeatureEnum.Sms) ? Html.TextRegion(TextRegionConstants.PhoneTextSettingsPageHeading) : Html.TextRegion(TextRegionConstants.PhoneSettingsPageHeading);
}

@section breadcrumbs {
    <ul>
        <li>@base.ClientDto.ClientBrandName</li>
        <li>@pageTitle</li>
    </ul>
}

@Html.Action("GuarantorContext", "Payment", new { VisitPayUserId = Model.VisitPayUserId })

<h1 class="bar">@pageTitle</h1>
<section id="section-phonetext">
    @Html.Partial("_PhoneTextInformation", Model)
</section>

@section scripts {
    @Scripts.Render("~/bundles/scripts/guarantor/phonetextsettings")
}