﻿@model Ivh.Web.Client.Models.Manage.UpgradeGuarantorViewModel

@section breadcrumbs {
    <ul>
        <li>@base.ClientDto.ClientBrandName</li>
        <li>Upgrade Guarantor</li>
    </ul>
}
<section id="section-upgrade">
    @using (Html.BeginForm("UpgradeAccount", "Guarantor", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.VisitPayUserId)
        <h1 class="bar">
            Upgrade Guarantor to Online Account
        </h1>
        @Html.ValidationSummary()
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group row">
                    <div class="col-xs-2">@Html.VpLabelFor(m => m.Email):</div>
                    <div class="col-xs-4">@Html.VpTextBoxFor(m => m.Email)</div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-2">@Html.VpLabelFor(m => m.EmailConfirm):</div>
                    <div class="col-xs-4">@Html.VpTextBoxFor(m => m.EmailConfirm)</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group row">
                    <div class="col-xs-offset-2 col-xs-10">
                        <input type="checkbox" id="cbUseEmailUsername" data-bind="checked: UseEmailAsUsername"/> <label for="cbUseEmailUsername">Use email as username</label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-2">@Html.VpLabelFor(m => m.Username):</div>
                    <div class="col-xs-4">@Html.VpTextBoxFor(m => m.Username)</div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-2">@Html.VpLabelFor(m => m.UsernameConfirm):</div>
                    <div class="col-xs-4">@Html.VpTextBoxFor(m => m.UsernameConfirm)</div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-2">@Html.VpLabelFor(m => m.FirstName):</div>
            <div class="col-xs-8 col-group">
                <div class="col-xs-4">@Html.VpTextBoxFor(m => m.FirstName)</div>
                <div class="col-xs-4">@Html.VpTextBoxFor(m => m.MiddleName)</div>
                <div class="col-xs-4">@Html.VpTextBoxFor(m => m.LastName)</div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-2">@Html.VpLabelFor(m => m.AddressStreet1):</div>
            <div class="col-xs-4">@Html.VpTextBoxFor(m => m.AddressStreet1)</div>
        </div>
        <div class="form-group row">
            <div class="col-xs-offset-2 col-xs-4">@Html.VpTextBoxFor(m => m.AddressStreet2)</div>
        </div>
        <div class="form-group row">
            <div class="col-xs-offset-2 col-xs-8 col-group">
                <div class="col-xs-4">@Html.VpTextBoxFor(m => m.City)</div>
                <div class="col-xs-4">@Html.VpStatesDropDownListFor(m => m.State, new {@class = "form-control"})</div>
                <div class="col-xs-4">@Html.VpTextBoxFor(m => m.Zip)</div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-2">@Html.VpLabelFor(m => m.PhoneNumber):</div>
            <div class="col-xs-8 col-group">
                <div class="col-xs-4">@Html.VpTextBoxFor(m => m.PhoneNumber)</div>
                <div class="col-xs-4">@Html.VpPhoneNumberTypesDropDownListFor(m => m.PhoneNumberType, new {@class = "form-control"})</div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-2">@Html.VpLabelFor(m => m.PhoneNumberSecondary):</div>
            <div class="col-xs-8 col-group">
                <div class="col-xs-4">@Html.VpTextBoxFor(m => m.PhoneNumberSecondary)</div>
                <div class="col-xs-4">@Html.VpPhoneNumberTypesDropDownListFor(m => m.PhoneNumberSecondaryType, new {@class = "form-control"})</div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-2">@Html.VpLabelFor(m => m.Ssn4):</div>
            <div class="col-xs-2">@Html.VpTextBoxFor(m => m.Ssn4)</div>
        </div>
        <div class="form-group row">
            <div class="col-xs-2">@Html.VpLabelFor(m => m.DateOfBirth):</div>
            <div class="col-xs-2">@Html.VpTextBoxFor(m => m.DateOfBirth)</div>
        </div>
        <div class="col text-right">
            <button type="submit" class="btn btn-primary" id="btnSubmit" title="Create Online Account">Upgrade Account</button>
            <button type="button" class="btn btn-primary" id="btnCancel" title="Reset">Cancel</button>
        </div>
    }
</section>


@section scripts {
    @Scripts.Render("~/bundles/scripts/guarantor/upgradeguarantor")
}

