﻿<div id="modalClientSupportRequest" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header vp-primary">
                <button type="button" class="close" data-dismiss="modal" title="Close window and return"><span>&times;</span></button>
                <h4 class="modal-title">
                    Case <!-- ko text: ClientSupportRequestDisplayId --><!-- /ko -->
                    <span><!-- ko text: ClientSupportRequestStatus.HeaderText --><!-- /ko --></span>
                </h4>
            </div>
            <div class="modal-body">

                <div data-bind="visible: !IsAddMessage() || !IsAdmin()">
                    <table class="details">
                        <colgroup>
                            <col />
                            <col />
                            <col />
                            <col />
                        </colgroup>
                        <tbody>
                            <tr>
                                <td colspan="4" data-bind="text: TopicDisplay"></td>
                            </tr>
                            <tr>
                                <td>Requestor Name</td>
                                <td data-bind="text: CreatedByVisitPayUserName"></td>
                                <td>Phone</td>
                                <td data-bind="text: ContactPhone"></td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td colspan="3" data-bind="text: CreatedByVisitPayUserEmail"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="row controls" data-bind="visible: !IsAddMessage() || !IsAdmin(), css: { 'admin': IsAdmin }">
                    <!-- ko if: IsAdmin -->
                    <div class="col-xs-9">
                        @using (Html.BeginForm("ClientSupportRequestSaveDetails", "ClientSupport", FormMethod.Post, new { id = "frmSaveDetails", @class = "row" }))
                        {
                            <div class="col-xs-3">
                                <label>
                                    Assigned to:
                                    <select class="form-control" data-bind="options: AdminVisitPayUsers, optionsText: 'Text', optionsValue: 'Value', optionsCaption: '<Unassigned>', value: AssignedVisitPayUserId"></select>
                                </label>
                            </div>
                            <div class="col-xs-3">
                                <label>
                                    Jira ID:
                                    <input type="text" data-bind="value: JiraId" class="form-control" />
                                </label>
                                <a href="" title="" target="_blank" data-bind="visible: JiraIdDisplay.Any(), attr: { href: JiraIdDisplay.Href }">Open in Jira</a>
                            </div>
                            <div class="col-xs-3">
                                <label>
                                    @ClientDto.AppSupportRequestNamePrefix ID:
                                    <input type="text" data-bind="value: TargetVpGuarantorId" class="form-control" id="txtTargetVpGuarantorId" />
                                </label>
                                <a href="" title="" data-bind="visible: TargetVpGuarantorIdDisplay.Any(), attr: { href: TargetVpGuarantorIdDisplay.Href }">Open Account Details</a>
                                <span class="text-danger" data-bind="visible: ErrorMessages.Any(), text: ErrorMessages"></span>
                            </div>
                            <div class="col-xs-3">
                                <button type="submit" class="btn btn-primary" title="Save">Save</button>
                            </div>
                        }
                    </div>
                    <!-- /ko -->
                    <!-- ko ifnot: IsAdmin -->
                    <div class="col-xs-3">
                        <a href="javascript:;" data-bind="click: MessagesClient.ToggleSortOrder, attr: { title: MessagesClient.SortOrder.Text }">
                            <strong>Communication History</strong>
                            <em class="glyphicon" data-bind="css: { 'glyphicon-arrow-up': MessagesClient.SortOrder.IsAsc, 'glyphicon-arrow-down': MessagesClient.SortOrder.IsDesc }"></em>
                        </a>
                    </div>
                    <div class="col-xs-6 text-center">
                        <button type="button" data-action="showattachments" class="btn btn-default" title="Click here to download all files attached to this Support Ticket" data-bind="enable: Attachments.Any">
                            <em class="glyphicon glyphicon-file"></em> View Attachments (<span data-bind="text: Attachments.Count"></span>)
                        </button>
                    </div>
                    <!-- /ko -->
                    <div class="col-xs-3 text-right">
                        <select id="ddAction" class="form-control">
                            <option value="">I want to...</option>
                            <!-- ko if: ClientSupportRequestStatus.IsOpen -->
                            <option value="status">Mark Ticket Complete</option><!-- /ko -->
                            <!-- ko if: ClientSupportRequestStatus.IsClosed -->
                            <option value="status">Re-Open Ticket</option><!-- /ko -->
                            <option value="print">Print</option>
                        </select>
                    </div>
                </div>

                <!-- ko if: IsAdmin -->
                <div class="row controls gutter-small">
                    <div class="col-xs-6">
                        <button type="button" class="btn btn-primary pull-right" id="btnReplyRequestor" data-bind="disable: IsAddMessage" title="Reply to Requestor">Reply to Requestor</button>
                        <a href="javascript:;" data-bind="click: MessagesClient.ToggleSortOrder, attr: { title: MessagesClient.SortOrder.Text }">
                            <strong>Communication with Requestor</strong>
                            <em class="glyphicon" data-bind="css: { 'glyphicon-arrow-up': MessagesClient.SortOrder.IsAsc, 'glyphicon-arrow-down': MessagesClient.SortOrder.IsDesc }"></em>
                        </a>
                    </div>
                    <div class="col-xs-6">
                        <button type="button" class="btn btn-primary pull-right" id="btnInternalNoteAdd" data-bind="disable: IsAddMessage" title="Add Internal Note">Add Internal Note</button>
                        <a href="javascript:;" data-bind="click: MessagesInternal.ToggleSortOrder, attr: { title: MessagesInternal.SortOrder.Text  }">
                            <strong>Internal Notes</strong>
                            <em class="glyphicon" data-bind="css: { 'glyphicon-arrow-up': MessagesInternal.SortOrder.IsAsc, 'glyphicon-arrow-down': MessagesInternal.SortOrder.IsDesc }"></em>
                        </a>
                    </div>
                </div>
                <!-- /ko -->

                <div class="row messages-container gutter-small">
                    <div data-bind="css: { 'col-xs-6': IsAdmin, 'col-xs-12': !IsAdmin() }">
                        <div class="messages messages-client" data-bind="css: { 'admin': IsAdmin }">
                            <ul>
                                <!-- ko foreach: MessagesClient.Sorted -->
                                <li>
                                    <div class="title clearfix" data-bind="css: { 'sender-admin' : ClientSupportRequestMessageType() == 2, 'sender-client': ClientSupportRequestMessageType() == 1 }">
                                        <a class="glyphicon glyphicon-paperclip pull-right" href="javascript:;" title="Display attached files" data-bind="style: { 'visibility': AttachmentCount() > 0 ? 'visible' : 'hidden' }"></a>
                                        <span data-bind="text: InsertDate" class="pull-right"></span>
                                        <span data-bind="text: CreatedByVisitPayUserName"></span>
                                    </div>
                                    <div class="body">
                                        <span class="more">&hellip;<a href="javascript:;" title="Expand this message">More</a></span>
                                        <p>
                                            <span data-bind="html: MessageBody"></span>
                                            <span class="less pull-right"><a href="javascript:;" title="Collapse this message">Less</a></span>
                                        </p>
                                    </div>
                                </li>
                                <!-- /ko -->
                            </ul>
                        </div>
                    </div>
                    <!-- ko if: IsAdmin -->
                    <div class="col-xs-6">
                        <div class="messages messages-internal">
                            <ul>
                                <!-- ko foreach: MessagesInternal.Sorted -->
                                <li>
                                    <div class="title clearfix">
                                        <a class="glyphicon glyphicon-paperclip pull-right" href="javascript:;" title="Display attached files" data-bind="style: { 'visibility': AttachmentCount() > 0 ? 'visible' : 'hidden' }"></a>
                                        <span data-bind="text: InsertDate" class="pull-right"></span>
                                        <span data-bind="text: CreatedByVisitPayUserName"></span>
                                    </div>
                                    <div class="body">
                                        <span class="more">&hellip;<a href="javascript:;" title="Expand this message">More</a></span>
                                        <p>
                                            <span data-bind="html: MessageBody"></span>
                                            <span class="less pull-right"><a href="javascript:;" title="Collapse this message">Less</a></span>
                                        </p>
                                    </div>
                                </li>
                                <!-- /ko -->
                            </ul>
                        </div>
                    </div>
                    <!-- /ko -->
                </div>

                <div class="send" data-bind="visible: MessageBody.IsVisible, css: { 'internal': IsAdmin }">
                    <div>
                        <div>
                            @using (Html.BeginForm("ClientSupportRequestSaveMessage", "ClientSupport", FormMethod.Post, new { autocomplete = "off", id = "frmMessage" }))
                            {
                                <textarea id="txtMessage" class="form-control" data-bind="value: MessageBody, attr: { placeholder: MessageBody.Placeholder }" data-val="true" data-val-required="" name="txtMessage"></textarea>
                            }
                        </div>
                        <div>@Html.Partial("_ClientSupportUpload")</div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <p class="text-center"><em>NOTE: Submitted information is securely stored to meet HIPAA requirements.</em></p>
                <!-- ko if: IsAddMessage -->
                <div class="text-left">
                    <button type="button" class="btn btn-primary pull-right" title="Close this message or note without saving" id="btnMessageDiscard">Discard</button>
                    <!-- ko if: IsAdmin -->
                    <button type="button" class="btn btn-primary" title="Save Internal Note" name="btnMessageSave">Save Internal Note</button>
                    <!-- /ko -->
                    <!-- ko ifnot: IsAdmin -->
                    <button type="button" class="btn btn-primary" title="Send Reply" name="btnMessageSave">Send Reply</button>
                    <!-- /ko -->
                    <button type="button" class="btn btn-default" title="Attach a file to this message or note" id="btnMessageAttach">Attach Files</button>
                    <span class="error-upload"></span>
                </div>
                <!-- /ko -->
                <!-- ko ifnot: IsAddMessage -->
                <div class="text-center">
                    <!-- ko if: ClientSupportRequestStatus.IsOpen -->
                    <a href="javascript:;" title="Complete the Support Ticket" data-action="status" class="status">Mark Ticket Complete</a><!-- /ko -->
                    <!-- ko if: ClientSupportRequestStatus.IsClosed -->
                    <a href="javascript:;" title="Re-Open Support Ticket" data-action="status" class="status">Re-Open Ticket</a><!-- /ko -->
                    <button type="button" class="btn btn-primary" title="Close window and return" data-dismiss="modal" id="btnClientSupportRequestClose">Close Window</button>
                    <!-- ko if: IsAdmin -->
                    <button type="button" data-action="showattachments" class="btn btn-default" title="Click here to download all files attached to this Support Ticket" data-bind="enable: Attachments.Any">
                        <em class="glyphicon glyphicon-file"></em> View Attachments (<span data-bind="text: Attachments.Count"></span>)
                    </button>
                    <!-- /ko -->
                </div>
                <!-- /ko -->
            </div>
        </div>
    </div>
</div>