﻿<form id="frmClientSupportAttachments" method="POST" enctype="multipart/form-data" autocomplete="off">
    <div class="row fileupload-buttonbar">
        <div class="col-xs-12 text-center">
            <span class="btn btn-default fileinput-button">
                <em class="glyphicon glyphicon-file"></em>
                <span>Attach A File</span>
                <input type="file" name="files[]" multiple title="You may attach documentation to support your ticket">
            </span>
            <span class="error"></span>
            <button type="submit" class="btn btn-primary start"></button>
        </div>
    </div>
    <table>
        <colgroup>
            <col />
            <col />
            <col />
            <col />
        </colgroup>
        <tbody class="files"></tbody>
    </table>
</form>
<script id="template-upload" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
    {% if (!file.error) { %}
    <tr class="template-upload">
        <td><span class="icon-file-type {%=getFileType(file.type)%}"></span></td>
        <td><span class="filename">{%=file.name%}</span></td>
        <td class="text-right">{%=o.formatFileSize(file.size)%}</td>
        <td class="text-right">
            <button class="btn btn-primary start" disabled="disabled" style="display: none;"></button>
            {% if (!i) { %}
            <button class="btn btn-icon cancel" title="Delete this Attachment">&times;</button>
            {% } %}
        </td>
    </tr>
    {% } %}
    {% } %}
</script>
<script id="template-download" type="text/x-tmpl">
    <!-- need line break -->
</script>