﻿@using Ivh.Common.VisitPay.Strings
<div id="modalClientSupportRequestAttachments" class="modal modal-nested fade" tabindex="-1" role="dialog" data-backdrop="static" style="top: 130px;">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header vp-primary">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">Click file(s) to download</h4>
            </div>
            <div class="modal-body">
                <table>
                    <colgroup>
                        <col />
                        <col />
                        <col />
                        <col />
                    </colgroup>
                    <tbody>
                    <!-- ko foreach: Attachments.Applicable -->
                    <tr>
                        <td><span class="icon-file-type"></span></td>
                        <td>
                            <!-- ko if: MalwareScanStatus() == 2 -->
                            <span>
                                <a href="javascript:;" data-bind="text: AttachmentFileName, attr: { title: AttachmentFileName }"></a>
                            </span>
                            <!-- /ko -->
                            <!-- ko ifnot: MalwareScanStatus() == 2 -->
                            <span data-bind="text: AttachmentFileName, attr: { title: AttachmentFileName }"></span>
                            <!-- /ko -->
                        </td>
                        <td>
                            <span class="text-bold" data-bind="text: $root.AttachmentMalwareScanStatusDisplay(MalwareScanStatus), css: { 'text-warning': MalwareScanStatus() == 1, 'text-success': MalwareScanStatus() == 2, 'text-danger': MalwareScanStatus() == 3 }"></span>
                        </td>
                        <td class="text-right" data-bind="text: InsertDate"></td>
                        @if (User.IsInRole(VisitPayRoleStrings.Miscellaneous.IvhAdmin))
                        {
                            <td><button class="btn btn-icon srma-delete" title="Delete this Attachment">&times;</button></td>
                        }
                    </tr>
                    <!-- /ko -->
                    </tbody>
                </table>
            </div>
            <div class="modal-footer text-right">
                <button type="submit" class="btn btn-primary pull-left" title="Download All">Download All</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" title="Close">Close</button>
            </div>
        </div>
    </div>
</div>
