﻿@model Ivh.Web.Client.Models.ClientSupport.ClientSupportRequestActionViewModel

<div id="modalClientSupportRequestAction" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-md">
        @using (Html.BeginForm("ClientSupportRequestAction", "ClientSupport", FormMethod.Post, new { @class = "modal-content", autocomplete = "off" }))
        { 
            <div class="modal-header vp-primary">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">
                    @Model.ActionText Support Ticket @Model.ClientSupportRequestDisplayId
                </h4>
            </div>
            <div class="modal-body">
                @Html.HiddenFor(m => m.ClientSupportRequestId)
                @Html.HiddenFor(m => m.ClientSupportRequestStatus)
                @Html.LabelFor(m => m.Message, "Enter a note to " + Model.ActionText.ToLower() + " this request:")
                @Html.TextAreaFor(m => m.Message, new {@class = "form-control", rows = 6})
            </div>
            <div class="modal-footer text-center">
                <button type="submit" class="btn btn-primary" title="Submit">Submit</button>
                <button type="button" class="btn btn-primary" title="Cancel" data-dismiss="modal">Cancel</button>
            </div>
        }
    </div>
</div>