﻿<div id="modalClientSupportRequestReply" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header vp-primary">
                <button type="button" class="close" data-dismiss="modal" title="Close window and return"><span>&times;</span></button>
                <h4 class="modal-title">Select Message Template</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="topics">
                            <ul>
                                <li data-jstree='{"icon":"glyphicon glyphicon-file"}'><span>Blank Template</span></li>
                                <!-- ko foreach: Topics -->
                                <li>
                                    <span data-bind="text: ClientSupportTopicName, attr: { title: ClientSupportTopicName }"></span>
                                    <ul>
                                        <!-- ko foreach: Topics -->
                                        <li>
                                            <span data-bind="text: ClientSupportTopicName, attr: { title: ClientSupportTopicName }"></span>
                                            <ul>
                                                <!-- ko foreach: Templates -->
                                                <li data-jstree='{"icon":"glyphicon glyphicon-file"}' data-bind="attr: { 'data-topic': $parent.ClientSupportTopicId, 'data-template': $index }">
                                                    <span data-bind="text: ContentTitle, attr: { title: ContentTitle }"></span>
                                                </li>
                                                <!-- /ko -->
                                            </ul>
                                        </li>
                                        <!-- /ko -->
                                        <!-- ko foreach: Templates -->
                                        <li data-jstree='{"icon":"glyphicon glyphicon-file"}' data-bind="attr: { 'data-topic': $parent.ClientSupportTopicId, 'data-template': $index }">
                                            <span data-bind="text: ContentTitle, attr: { title: ContentTitle }"></span>
                                        </li>
                                        <!-- /ko -->
                                    </ul>
                                </li>
                                <!-- /ko -->
                            </ul>
                        </div>
                        @Html.Partial("_ClientSupportUpload")
                    </div>
                    @using (Html.BeginForm("ClientSupportRequestSaveMessage", "ClientSupport", FormMethod.Post, new { autocomplete = "off", id = "frmReply", @class = "col-xs-8" }))
                    {
                        <textarea id="txtReply" class="form-control" data-val="true" data-val-required="" name="txtReply"></textarea>
                    }
                </div>
            </div>
            <div class="modal-footer">
                <p class="text-center"><em>NOTE: Submitted information is securely stored to meet HIPAA requirements.</em></p>
                <div class="text-left">
                    <button type="button" class="btn btn-primary pull-right" title="Close this message or note without saving" id="btnReplyDiscard">Discard</button>
                    <button type="button" class="btn btn-primary" title="Send Reply" id="btnReply">Send Reply</button>
                    <button type="button" class="btn btn-default" title="Attach a file to this message or note" id="btnReplyAttach">Attach Files</button>
                    <span class="error-upload"></span>
                </div>
            </div>
        </div>
    </div>
</div>
