﻿@model Ivh.Web.Client.Models.ClientSupport.ClientSupportRequestCreateViewModel

<div id="modalClientSupportRequestCreate" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header vp-primary">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">
                    Contact @ClientDto.AppSupportRequestNamePrefix
                </h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("ClientSupportRequestCreate", "ClientSupport", FormMethod.Post, new {autocomplete = "off"}))
                {
                    @Html.HiddenFor(x => x.IsCreatedOnBehalfOfClient)
                    <div>@Html.VpLabelFor(m => m.ClientSupportParentTopicId):</div>
                    <div>@Html.DropDownListFor(m => m.ClientSupportParentTopicId, new List<SelectListItem>(), new {@class = "form-control", disabled = "disabled", data_bind = "enable: ParentTopics.Any, options: ParentTopics, optionsText: 'ClientSupportTopicName', optionsValue: 'ClientSupportTopicId', optionsCaption: '--Select One--', value: ParentTopics.SelectedId"})</div>

                    <div>@Html.VpLabelFor(m => m.ClientSupportTopicId):</div>
                    <div>@Html.DropDownListFor(m => m.ClientSupportTopicId, new List<SelectListItem>(), new {@class = "form-control", disabled = "disabled", data_bind = "enable: Topics.Any, options: Topics, optionsText: 'ClientSupportTopicName', optionsValue: 'ClientSupportTopicId', optionsCaption: '--Select One--', value: Topics.SelectedId"})</div>


                    if (@Model.IsCreatedOnBehalfOfClient)
                    {
                        <div>@Html.VpLabelFor(m => m.RequestorUserId):</div>
                        <div>@Html.DropDownListFor(m => m.RequestorUserId, Model.AdminVisitPayUsers, "-- Select One --", new {@class = "form-control"})</div>
                    }
                    else
                    {
                        this.ViewData.ModelState.Remove("RequestorUserId");
                    }
                    <p class="text-center">
                        <strong>In order for us to assist you quickly, please provide the following information.</strong>
                    </p>
                    if (!@Model.IsCreatedOnBehalfOfClient)
                    {
                        <div class="row form-group">
                            <div class="col-xs-3">@Html.VpLabelFor(m => m.ClientUserFullName):</div>
                            <div class="col-xs-9">@Html.DisplayFor(m => m.ClientUserFullName)</div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-3">@Html.VpLabelFor(m => m.ClientUserEmail):</div>
                            <div class="col-xs-9">@Html.DisplayFor(m => m.ClientUserEmail)</div>
                        </div>
                    }
                    <div class="row form-group">
                        <div class="col-xs-3">@Html.VpLabelFor(m => m.ContactPhone):</div>
                        <div class="col-xs-4">@Html.VpTextBoxFor(m => m.ContactPhone)</div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-12">@Html.VpLabelFor(m => m.MessageBody):</div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-12">@Html.TextAreaFor(m => m.MessageBody, new {@class = "form-control", placeholder = string.Format("Enter additional information for the {0} representative.", ClientDto.AppSupportRequestNamePrefix)})</div>
                    </div>
                }
                <div class="row form-group">
                    <div class="col-xs-12 text-center">
                        <em>NOTE: Submitted information is securely stored to meet HIPAA requirements.</em>
                    </div>
                </div>
                @Html.Partial("_ClientSupportUpload")
            </div>
            <div class="modal-footer text-center">
                <button type="submit" class="btn btn-primary" title="Submit" id="btnCreateClientSupportRequest">Submit</button>
                <button type="button" class="btn btn-primary" title="Cancel" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>