﻿@model Ivh.Web.Client.Models.ClientSupport.ClientSupportRequestFilterViewModel

@section breadcrumbs {
    <ul>
        <li>@ClientDto.ClientBrandName</li>
        <li>My @ClientDto.AppSupportRequestNamePrefix Support Tickets</li>
    </ul>
}

<h1 class="bar vp-primary">
    My @ClientDto.AppSupportRequestNamePrefix Support Tickets
</h1>
<section id="section-clientusersupportrequests">
    <div class="contact">
        <p class="text-center">Our business hours are @ClientDto.AppSupportBusinessHours.  We can be contacted by phone at @ClientDto.AppSupportPhone, or you may use our secure online form.</p>
        <p class="text-center"><a href="javascript:;" class="btn btn-primary" title="Submit Support Ticket" id="btnCreateSupportRequest">Submit Support Ticket</a></p>
        <hr/>
    </div>
    <form class="jqGridFilter container" autocomplete="off">
        <div class="alert alert-info collapse" data-bind="css: { collapse: RunResults() == false }">
            Click <strong>Run</strong> to update your results
        </div>
        <div class="row">
            <div class="col">@Html.LabelFor(m => m.ClientSupportRequestStatus)</div>
            <div class="col">@Html.LabelFor(m => m.DaysOffset)</div>
            <div class="col"></div>
            <div class="col"><button type="submit" class="btn btn-primary">Run</button>
            </div>
        </div>
        <div class="row">
            <div class="col">@Html.DropDownListFor(m => m.ClientSupportRequestStatus, Model.ClientSupportRequestStatuses, "All", new {@class = "form-control", data_bind = "initial: Filter.ClientSupportRequestStatus, value: Filter.ClientSupportRequestStatus"})</div>
            <div class="col">@Html.DropDownListFor(m => m.DaysOffset, Model.DayOffsets, "All", new {@class = "form-control", data_bind = "initial: Filter.DaysOffset, value: Filter.DaysOffset"})</div>
            <div class="col"></div>
            <div class="col"><button type="button" class="btn btn-primary" data-reset="true">Reset</button>
            </div>
        </div>
    </form>
    <div id="gridClientUserSupportRequests">
    </div>
</section>

@section scripts {
    @Scripts.Render("~/bundles/scripts/clientsupport/clientuser")
}