﻿@model Ivh.Web.Client.Models.ClientSupport.ClientSupportRequestFilterViewModel

@section breadcrumbs {
    <ul>
        <li>@ClientDto.ClientBrandName</li>
        <li>Manage @ClientDto.AppSupportRequestNamePrefix Support Tickets</li>
    </ul>
}

<h1 class="bar vp-primary">
    Manage @ClientDto.AppSupportRequestNamePrefix Support Tickets
    <input type="image" title="Export To Excel" id="btnExport" src="~/Content/Images/excel.png" class="export-excel" />
</h1>
<section id="section-clientadminsupportrequests">
    <form class="jqGridFilter container" autocomplete="off">
        <div class="alert alert-info collapse" data-bind="css: { collapse: RunResults() == false }">
            Click <strong>Run</strong> to update your results
        </div>
        <div class="row">
            <div class="col">@Html.LabelFor(m => m.ClientSupportRequestStatus)</div>
            <div class="col">@Html.LabelFor(m => m.AssignedToVisitPayUserId)</div>
            <div class="col">@Html.LabelFor(m => m.DaysOffset)</div>
            <div class="col">@Html.LabelFor(m => m.ClientSupportRequestDisplayId)</div>
            <div class="col">@Html.LabelFor(m => m.JiraId)</div>
            <div class="col">@Html.LabelFor(m => m.TargetVpGuarantorId, string.Format("{0} ID", ClientDto.AppSupportRequestNamePrefix))</div>
            <div class="col"></div>
            <div class="col"><button type="submit" class="btn btn-primary">Run</button></div>
        </div>
        <div class="row">
            <div class="col">@Html.DropDownListFor(m => m.ClientSupportRequestStatus, Model.ClientSupportRequestStatuses, "All", new { @class = "form-control", data_bind = "initial: Filter.ClientSupportRequestStatus, value: Filter.ClientSupportRequestStatus" })</div>
            <div class="col">@Html.DropDownListFor(m => m.AssignedToVisitPayUserId, Model.AdminVisitPayUsers, "All", new { @class = "form-control", data_bind = "initial: Filter.AssignedToVisitPayUserId, value: Filter.AssignedToVisitPayUserId" })</div>
            <div class="col">@Html.DropDownListFor(m => m.DaysOffset, Model.DayOffsets, "All", new { @class = "form-control", data_bind = "initial: Filter.DaysOffset, value: Filter.DaysOffset" })</div>
            <div class="col">@Html.VpTextBoxFor(m => m.ClientSupportRequestDisplayId, new { data_bind = "initial: Filter.ClientSupportRequestDisplayId, value: Filter.ClientSupportRequestDisplayId" })</div>
            <div class="col">@Html.VpTextBoxFor(m => m.JiraId, new { data_bind = "initial: Filter.JiraId, value: Filter.JiraId" })</div>
            <div class="col">@Html.VpTextBoxFor(m => m.TargetVpGuarantorId, new { data_bind = "initial: Filter.TargetVpGuarantorId, value: Filter.TargetVpGuarantorId", placeholder = string.Format("{0} ID", ClientDto.AppSupportRequestNamePrefix) })</div>
            <div class="col"><button id="btnCreateSupportRequest" type="button" class="btn btn-primary">Open Ticket</button></div>
            <div class="col"><button type="button" class="btn btn-primary" data-reset="true">Reset</button></div>
        </div>
    </form>
    <div id="gridClientAdminSupportRequests">
    </div>
</section>

@section scripts {
    @Scripts.Render("~/bundles/scripts/clientsupport/clientadmin")
}