﻿@using Ivh.Common.VisitPay.Enums
@using Ivh.Web.Client.Models.ClientSupport
@model ClientSupportRequestPrintViewModel
@{
    Layout = "~/Views/Shared/_LayoutPrint.cshtml";
}

@section title {
    @ClientDto.AppSupportRequestNamePrefix Support Ticket: @Model.ClientSupportRequest.ClientSupportRequestDisplayId
}

<section id="print-supportrequest">
    <div class="top">
        <img src="@ServerUrl/Content/Client/logo.png" />
    </div>
    <h2 style="margin-bottom: 20px;" class="vp-primary">
        @ClientDto.AppSupportRequestNamePrefix Support Ticket: @Model.ClientSupportRequest.ClientSupportRequestDisplayId
        @if (Model.ClientSupportRequest.ClientSupportRequestStatus == ClientSupportRequestStatusEnum.Open)
        {
            <span>Opened: @Model.ClientSupportRequest.InsertDate</span>
        }
        else
        {
            <span>Closed: @Model.ClientSupportRequest.ClosedDate</span>
        }
    </h2>
    <table class="request">
        <colgroup>
            <col />
            <col />
            <col />
            <col />
        </colgroup>
        <tbody>
            <tr>
                <td colspan="4">@Model.ClientSupportRequest.TopicDisplay</td>
            </tr>
            <tr>
                <td>Requestor Name</td>
                <td>@Model.ClientSupportRequest.CreatedByVisitPayUserName</td>
                <td>Phone</td>
                <td>@Model.ClientSupportRequest.ContactPhone</td>
            </tr>
            <tr>
                <td>Email</td>
                <td colspan="3">@Model.ClientSupportRequest.CreatedByVisitPayUserEmail</td>
            </tr>
            @if (Model.IsAdmin)
            {
                <tr>
                    <td>Assigned to</td>
                    <td colspan="3">@Model.ClientSupportRequest.AssignedVisitPayUserName</td>
                </tr>
                <tr>
                    <td>Jira ID</td>
                    <td colspan="3">@Model.ClientSupportRequest.JiraId</td>
                </tr>
                <tr>
                    <td>@ClientDto.AppSupportRequestNamePrefix ID</td>
                    <td colspan="3">
                        @if (Model.ClientSupportRequest.TargetVpGuarantorId.HasValue)
                        {
                            @Html.Raw(Model.ClientSupportRequest.TargetVpGuarantorId.Value)
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="communications">
        @if (Model.IsAdmin)
        {
            <h2 class="vp-primary">Communication with Requestor</h2>
        }
        else
        {
            <h2 class="vp-primary">Communication History</h2>
        }
        @foreach (ClientSupportRequestMessageViewModel message in Model.ClientSupportRequest.MessagesClient.OrderByDescending(x => x.InsertDate))
        {
            <div>
                <div>
                    <strong>@message.InsertDate</strong>
                    <strong>@message.CreatedByVisitPayUserName</strong>
                </div>
                <div>@Html.Raw(message.MessageBody)</div>
            </div>
        }
        @if (Model.IsAdmin)
        {
            <h2 class="vp-primary">Internal Notes</h2>
            foreach (ClientSupportRequestMessageViewModel message in Model.ClientSupportRequest.MessagesInternal.OrderByDescending(x => x.InsertDate))
            {
                <div>
                    <div>
                        <strong>@message.InsertDate</strong>
                        <strong>@message.CreatedByVisitPayUserName</strong>
                    </div>
                    <div>@Html.Raw(message.MessageBody)</div>
                </div>
            }
        }
    </div>
    <div class="attachments">
        <h2 class="vp-primary">Attachment List</h2>
        <table>
            <colgroup>
                <col />
                <col />
            </colgroup>
            <tbody>
                @foreach (ClientSupportRequestMessageAttachmentViewModel attachment in Model.ClientSupportRequest.Attachments.OrderBy(x => x.InsertDate).ThenBy(x => x.AttachmentFileName))
                {
                    <tr>
                        <td><span>@attachment.AttachmentFileName</span></td>
                        <td>@attachment.InsertDate</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>

@section scripts {
    <script type="text/javascript">
        (function() {
            window.print();
        })();
    </script>
}