﻿@import '../_variables.scss';
@import '../../Bootstrap/css/bootstrap/_mixins.scss';
@import '../_mixins.scss';

#section-journaleventlog {

    .jqGridFilter {
        > .row {
            > div {
                &:nth-of-type(1) {
                    width: 140px;
                }

                &:nth-of-type(2) {
                    width: 140px;
                }

                &:nth-of-type(3) {
                    width: 160px;
                }

                &:nth-of-type(4) {
                    width: 160px;
                }

                &:nth-of-type(5) {
                    width: 140px;
                }

                &:nth-of-type(6) {
                    width: 140px;
                }

                &:nth-of-type(7) {
                    width: 43px;
                }

                &:nth-of-type(8) {
                    width: 80px;
                }
            }
        }
    }

    .ui-jqgrid {
        tr.ui-jqgrid-labels {
            > th {
                &.ui-th-column-header {
                    text-align: center !important;
                }
            }
        }
    }
}

.tooltip-inner {
    > div {
        > div {
            > span {
                &:nth-of-type(1){
                    width: 100px;
                }
                &:nth-of-type(2){
                    font-weight: lighter;
                    max-width: 240px;
                    margin-left: 10px;
                    float: right;
                    @include text-overflow;
                }
            }
        }  
    }   
}

#modalAuditEventLogDetails {
    #additionalData{
        .datum-value{
            -ms-word-break: break-word;
            word-break: break-word;
            -ms-word-wrap: break-word;
            word-wrap: break-word;
        }
    }
}