﻿#section-auditlogreview {
    .jqGridFilter {
        > .row {
            > div {
                &:nth-of-type(1) {
                    width: 140px;
                }

                &:nth-of-type(2) {
                    width: 140px;
                }

                &:nth-of-type(3) {
                    width: 380px;
                }

                &:nth-of-type(4) {
                    width: 140px;
                }

                &:nth-of-type(5) {
                    width:203px;
                }
            }
        }
    }

    .ui-jqgrid {
        tr.ui-jqgrid-labels {
            > th {
                &.ui-th-column-header { 
                    text-align: center !important; 
                }
            }
        }
    }
}
