﻿#section-clientusermanagement {
    .jqGridFilter {
        > .row {
            > div {
                height: 56px;
                line-height: 56px;

                &:nth-of-type(1),
                &:nth-of-type(2),
                &:nth-of-type(3),
                &:nth-of-type(4) {
                    width: 180px;
                }

                &:nth-of-type(5) {
                    width: 220px;
                    line-height: 28px;

                    > a {
                        width: 100px;
                    }
                }

                &:nth-of-type(6) {
                    line-height: 28px;
                    width: 63px;
                }
            }
        }
    }

    .jqGridFilter.container {
        > .alert {
            top: -28px;
        }
    }

    .ui-jqgrid-htable {
        #_Roles {
            .ui-jqgrid-sortable {
                cursor: default;
            }
        }
    }

    .ui-jqgrid-btable {
        tbody {
            > tr {
                > td {
                    > a {
                        display: block;
                    }
                }
            }
        }
    }
}
