﻿@using Ivh.Common.VisitPay.Constants
@model Ivh.Web.Patient.Models.Sso.HealthEquityWidgetViewModel
@if (Model.Visible)
{
    <div class="healthequitybalance-widget">
        <span class="healthequity-text">@Html.TextRegion(TextRegionConstants.HealthEquityCashBalance):</span> <span class="healthequity-hsa-balance healthequity-hsa-cash-balance">@Html.TextRegion(TextRegionConstants.Loading)...</span> <span class="logo-healthequity"></span> <br/>
        <span class="healthequity-lastcalltoapi text-italic">@Html.TextRegion(TextRegionConstants.Loading)...</span>
    </div>
    <script type="text/javascript">
        (function() {
            window.VisitPay = window.VisitPay || {};
            window.VisitPay.Sso = window.VisitPay.Sso || {};
            window.VisitPay.Sso.HealthEquity = window.VisitPay.Sso.HealthEquity || {};
            window.VisitPay.Sso.HealthEquity.Model = '@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model))';
        })();
    </script>
}