﻿@using Ivh.Common.VisitPay.Constants
@model Ivh.Web.Patient.Models.Sso.HealthEquityWidgetViewModel

@if (Model.Visible)
{
    if (Model.SsoOutboundAgreed && Model.ShowBalanceSetting)
    {
        <div class="widget-container widget-link healthequity-widget healthequity-widget-with-balance" id="healthequity-sso-outbound-link">
            <div class="header">
                <span class="icon">
                    <img src="/Content/Images/healthEquity-icon-75.png" alt="" />
                </span>
                <div class="info">
                    My HealthEquity HSA <br/>
                    @Html.TextRegion(TextRegionConstants.Balance): <span class="healthequity-hsa-balance healthequity-hsa-cash-balance">@Html.TextRegion(TextRegionConstants.Loading)...</span><br />
                    <span class="healthequity-lastcalltoapi text-italic"></span>
                </div>
            </div>
        </div>
    }
}

<script type="text/javascript">
    (function () {
        window.VisitPay = window.VisitPay || {};
        window.VisitPay.Sso = window.VisitPay.Sso || {};
        window.VisitPay.Sso.HealthEquity = window.VisitPay.Sso.HealthEquity || {};
        window.VisitPay.Sso.HealthEquity.Model = '@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model))';
        window.VisitPay.Sso.HealthEquity.OAuthUrl = '@Url.Action("RedirectToOAuthAfterPing", new { provider = Model.SsoProviderEnum })';
        window.VisitPay.Sso.HealthEquity.AfterOAuthWindowClosesUrl = '@Html.Raw(Url.Action("RedirectToOpenDialog", new { provider = Model.SsoProviderEnum, redirectUrl = Request.Url != null ? Request.Url.AbsoluteUri : string.Empty }))';
        window.VisitPay.Sso.HealthEquity.OpenInitialDialog = '@Model.ShouldOpenInitialHqyWidgetDialog';
    })();
</script>
