﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.VisitPay.Enums
@model Ivh.Web.Patient.Models.Sso.HealthEquityWidgetViewModel
@if (Model.FeatureEnabled)
{
    <div id="modalHealthEquityAgreeToTermsSso" class="modal fade modal-healthequity modal-healthequityagreetotermssso" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <form class="modal-content" autocomplete="off">
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    <h4 class="modal-title">@Html.TextRegion(TextRegionConstants.LinkMyHealthEquityHsa)</h4>
                </div>
                <div class="modal-body">
                    <h1>@Html.TextRegion(TextRegionConstants.HealthEquityAcceptAuthorization)</h1>
                    <div class="terms-container">
                        @Html.CmsRegion(CmsRegionEnum.HealthEquityAgreement)
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-primary" id="btnHqyAgreeDialogSave" title="@Html.TextRegion(TextRegionConstants.Accept)">@Html.TextRegion(TextRegionConstants.Accept)</button>
                    <button type="button" class="btn btn-primary" id="btnHqyDeclineDialogSave" title="@Html.TextRegion(TextRegionConstants.ButtonDecline)">@Html.TextRegion(TextRegionConstants.ButtonDecline)</button>
                </div>
            </form>
        </div>
    </div>
}