﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.VisitPay.Enums
@model Ivh.Web.Patient.Models.Sso.HealthEquityWidgetViewModel


@{
    var urlForRedirect = Url.Action("SamlResponse", "Sso", new {target = SamlResponseTargetEnum.HealthEquity});
    switch (Model.SsoProviderEnum)
    {
        case SsoProviderEnum.HealthEquityOAuthImplicit:
        case SsoProviderEnum.HealthEquityOAuthGrant:
            urlForRedirect = Url.Action("SsoRedirect", "Sso", new { target = Model.SsoProviderEnum });
            break;
    }
}

@if (Model.FeatureEnabled)
{
    <div id="modalHealthEquitySso" class="modal fade modal-healthequity modal-healthequitysso" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <form class="modal-content" autocomplete="off">
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    <h4 class="modal-title">@Html.TextRegion(TextRegionConstants.HealthEquityManageAccount)</h4>
                </div>
                <div class="modal-body">
                    
                    <p>@Html.TextRegion(TextRegionConstants.HealthEquityAccountLinkedWithClient)</p>
                    
                    <p class="healthequity-error-modal text-italic text-center"></p>
                    
                    <p class="text-center">
                        <a id="aGotoHealthEquity" target="_blank" href="@urlForRedirect" title="@Html.TextRegion(TextRegionConstants.HealthEquityGoToAccount)">@Html.TextRegion(TextRegionConstants.HealthEquityGoToAccount)</a>
                    </p>

                    <hr />
                    
                    <div class="balances loading">
                        <div class="row">
                            <div class="col-xs-4">@Html.TextRegion(TextRegionConstants.HealthEquityCashBalance):</div>
                            <div class="col-xs-2 healthequity-hsa-cash-balance-modal">-</div>
                            <div class="col-xs-1"></div>
                            <div class="col-xs-5" id="divHqyBalanceMessage">
                                <div class="balance-loading">
                                    @Html.TextRegion(TextRegionConstants.HealthEquityBalancesLoading)
                                </div>
                                <div class="balance-na" style="display: none;">
                                    @Html.TextRegion(TextRegionConstants.HealthEquityBalanceUnavailable)
                                </div>
                                <div class="balance-current" style="display: none;">
                                    <p>@Html.TextRegion(TextRegionConstants.HealthEquityBalanceEstimated) <span class="healthequity-lastcalltoapi-modal">@Html.TextRegion(TextRegionConstants.Loading)...</span>.</p>
                                    <p>@Html.TextRegion(TextRegionConstants.HealthEquityBalanceRefreshTiming)</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">@Html.TextRegion(TextRegionConstants.HealthEquityInvestmentBalance):</div>
                            <div class="col-xs-2 healthequity-hsa-investment-balance-modal">-</div>
                        </div>
                        <div class="row separator">
                            <div class="col-xs-6">
                                <hr/>
                            </div>
                        </div>
                        <div class="row sum">
                            <div class="col-xs-4">@Html.TextRegion(TextRegionConstants.HealthEquityTotalBalance):</div>
                            <div class="col-xs-2 healthequity-hsa-total-balance-modal">-</div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-xs-4">@Html.TextRegion(TextRegionConstants.HealthEquityYtdContributions):</div>
                            <div class="col-xs-2 healthequity-hsa-contributions-ytd-modal">-</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">@Html.TextRegion(TextRegionConstants.HealthEquityYtdDistributions):</div>
                            <div class="col-xs-2 healthequity-hsa-distributions-ytd-modal">-</div>
                        </div>
                    </div>

                    <hr />

                    <p class="text-center"><a href="@Url.Action("Settings", "Sso")" title="@Html.TextRegion(TextRegionConstants.SsoViewConnections)">@Html.TextRegion(TextRegionConstants.SsoViewConnections)</a></p>

                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="btnHqyDialogCancel" title="@Html.TextRegion(TextRegionConstants.Close)">@Html.TextRegion(TextRegionConstants.Close)</button>
                </div>
            </form>
        </div>
    </div>
}