﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.VisitPay.Enums
<div id="modalHealthEquityDontShowWidgetSso" class="modal fade modal-healthequity" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content" autocomplete="off">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">@Html.TextRegion(TextRegionConstants.HealthEquityWidget)</h4>
            </div>
            <div class="modal-body">
                <p>@Html.CmsRegion(CmsRegionEnum.HealthEquityDontShowWidget)</p>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-primary" title="@Html.TextRegion(TextRegionConstants.Close)" data-dismiss="modal">@Html.TextRegion(TextRegionConstants.Close)</button>
            </div>
        </div>
    </div>
</div>