﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.VisitPay.Enums
@model Ivh.Web.Patient.Models.Sso.HealthEquityWidgetViewModel
@if (Model.FeatureEnabled)
{
    <div id="modalHealthEquityNoSso" class="modal fade modal-healthequity modal-healthequitynosso" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <form class="modal-content" autocomplete="off">
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    <h4 class="modal-title">@Html.TextRegion(TextRegionConstants.HealthEquityManageAccount)</h4>
                </div>
                <div class="modal-body">
                    <p>@Html.CmsRegion(CmsRegionEnum.HealthEquityNoSsoSignUp)</p>
                    <hr/>
                    <p class="text-center"><a href="javascript:;" title="@Html.TextRegion(TextRegionConstants.TellMeMore)" id="aMore">@Html.TextRegion(TextRegionConstants.TellMeMore)</a></p>
                    <div id="divMore" style="display: none;">
                        <p>@Html.CmsRegion(CmsRegionEnum.HealthEquityTellMeMore)</p>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <a href="javascript:;" data-dismiss="modal" id="btnHqyDialogCancel" title="@Html.TextRegion(TextRegionConstants.Close)">@Html.TextRegion(TextRegionConstants.Close)</a>
                    <button type="button" class="btn btn-primary" id="healthequity-open-agreement-link" title="@Html.TextRegion(TextRegionConstants.ClickHereToGetStarted)"></button>
                </div>
            </form>
        </div>
    </div>
}