﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.VisitPay.Enums
@model Ivh.Web.Patient.Models.Sso.HealthEquityWidgetViewModel
@if (Model.FeatureEnabled)
{
    <div id="modalHealthEquitySsoSetupFailed" class="modal fade modal-healthequity" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <form class="modal-content" autocomplete="off">
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    <h4 class="modal-title">@Html.TextRegion(TextRegionConstants.LinkMyHealthEquityHsa)</h4>
                </div>
                <div class="modal-body">
                    <h1>@Html.TextRegion(TextRegionConstants.SsoFailed)</h1>
                    <p>@Html.CmsRegion(CmsRegionEnum.HealthEquitySetupFailed)</p>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-primary" id="btnHqyFailedClose" title="@Html.TextRegion(TextRegionConstants.Close)" data-dismiss="modal">@Html.TextRegion(TextRegionConstants.Close)</button>
                </div>
            </form>
        </div>
    </div>
}