﻿@using Ivh.Common.VisitPay.Constants
@model Ivh.Web.Patient.Models.Sso.SsoTermsActionViewModel

<div class="modal modal-nested modal-vcenter fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-md">
        @using (Html.BeginForm("TermsContinue", "Sso", FormMethod.Post, new {@class = "modal-content"}))
        {
            @Html.HiddenFor(m => m.SsoProvider)
            <div class="modal-header">
                <h4 class="modal-title">@Html.Raw(Model.Content.ContentTitle)</h4>
            </div>
            <div class="modal-body">
                <p>@Html.Raw(Model.Content.ContentBody)</p>
                <hr/>
                <div class="ignore text-center">
                    <input type="checkbox" id="Ignore" name="Ignore" value="true" />
                    <label for="Ignore"><strong>@Html.TextRegion(TextRegionConstants.SsoOptOutCheckbox)</strong></label>
                </div>
            </div>
            <div class="modal-footer text-center"><button type="submit" class="btn btn-primary" title="@Html.TextRegion(TextRegionConstants.ButtonContinue)">@Html.TextRegion(TextRegionConstants.ButtonContinue)</button>
            </div>
        }
    </div>
</div>
