﻿@using Ivh.Common.VisitPay.Constants
@{
    Layout = "~/Views/Shared/_LayoutPatientSideNav.cshtml";
}

@section sidenav {
    @Html.Partial("~/Views/Shared/_NavAccount.cshtml")
}

<section id="section-sso-settings" style="display: none">
    <div class="alert alert-light" data-bind="visible: children.length === 0">@Html.TextRegion(TextRegionConstants.NoSsoSettingsToDisplay)</div>
    <div data-bind="foreach: children">
        @Html.VpPageHeading(string.Concat(ClientDto.ClientBrandName, " <span data-bind=\"text: $data.ssoProviderName\"></span> ", Html.TextRegion(TextRegionConstants.SingleSignOn)))
        <div class="provider">
            <div class="manage">
                <div>
                    <p data-bind="html: $data.body"></p>
                </div>
                <!-- ko if: $data.enableFromManageSso -->
                <table class="static-grid">
                    <colgroup>
                        <col style="width: 40%;"/>
                        <col style="width: 20%;"/>
                        <col style="width: 20%;"/>
                    </colgroup>
                    <thead>
                    <tr>
                        <td>@Html.TextRegion(TextRegionConstants.SsoManagement)</td>
                        <td class="text-center">@Html.TextRegion(TextRegionConstants.Status)</td>
                        <td class="text-center">@Html.TextRegion(TextRegionConstants.Action)</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><a href="javascript:;" class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="right" data-container="body" data-bind="attr: { title: $data.shortDescription }"></a> <span data-bind="text: $data.ssoProviderName"></span></td>
                        <td class="text-center"><span data-bind="text: $data.activeDisplay"></span></td>
                        <td class="text-center"><a href="javascript:;" data-bind="text: $data.actionText, click: $data.action, attr: { title: $data.actionText }"></a></td>
                    </tr>
                    </tbody>
                </table>
                <!-- /ko -->
                <!-- ko ifnot: $data.enableFromManageSso -->
                <!-- ko if: $data.isAccepted -->
                <hr/>
                <p class="text-center">
                    <button type="button" class="btn btn-primary" data-bind="click: disable" title="@Html.TextRegion(TextRegionConstants.DisableSingleSignOn)" id="btnSsoSettingsDisable">
                        @Html.Raw(Html.TextRegion(TextRegionConstants.DisableProviderSingleSignOn, new Dictionary<string, string> 
                        {
                            { "[[SsoProviderName]]", "<span data-bind=\"text: $data.ssoProviderName\"></span>" }
                        }))
                    </button>
                </p>
                <p class="text-center">
                    <em>@Html.TextRegion(TextRegionConstants.TermsAccepted): <span data-bind="text: $data.actionDateTime"></span></em>
                </p>
                <!-- /ko -->
                <!-- ko if: $data.isDeclined -->
                <hr/>
                <p class="text-center">
                    <label>
                        <input type="checkbox" data-bind="checked: isIgnored" id="cbSsoIgnore"/> <b>@Html.TextRegion(TextRegionConstants.DoNotOfferSso)</b>
                    </label>
                </p>
                <p class="text-center">
                    <em>@Html.TextRegion(TextRegionConstants.Declined): <span data-bind="text: $data.actionDateTime"></span> @Html.TextRegion(TextRegionConstants.By) <span data-bind="text: $data.actionVisitPayUser"></span></em>
                </p>
                <!-- /ko -->
                <!-- /ko -->
            </div>
        </div>
        <br/>
    </div>
</section>

@section scripts {
    @Scripts.Render("~/bundles/scripts/sso/settings")
    <script language="javascript">
        (function () {
            $(document).ready(function () {
                    var sso = new window.VisitPay.Sso();
                    var configuration = {
                        SettingsUrl: '@Url.Action("GetSettings")'
                    };
                    sso.init(configuration, $('#section-sso-settings'));
                });
        })();
    </script>
}