﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.VisitPay.Enums
@model Ivh.Application.Core.Common.Dtos.SsoCanRedirectToSsoResult
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    @if (Model.CanRedirect && !string.IsNullOrWhiteSpace(Model.AccessToken))
    {
        <h1>@Html.TextRegion(TextRegionConstants.WaitForRedirect)</h1>
        <img src="~/Content/Images/loading1.gif"/>
        <form id="oauth-response-form" action="@Model.UrlToRedirect" method="get" style="display: none;">
            @*<input name="returnUrl" type="text" value=""/>*@
            <input name="ssoToken" type="text" value="@Model.AccessToken"/>
            <input type="submit" value="Return"/>
        </form>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#oauth-response-form').submit();
            });
        </script>
    }
    else
    {
        <p>@Model.ErrorMessage</p>
        <p>@Html.CmsRegion(CmsRegionEnum.HealthEquitySamlResponseFailed)</p>
        <p>
            <a href="javascript:window.close();">@Html.TextRegion(TextRegionConstants.ClickToReturnToClient)</a>
        </p>
    }

</div>