﻿@using Ivh.Common.VisitPay.Constants
@model Ivh.Web.Patient.Models.Sso.SsoTermsViewModel

@{
    Layout = "~/Views/Shared/_LayoutPublicNoLogin.cshtml";
}

@section css {
    <style type="text/css">
        .navbar {
            visibility: hidden;
        }
    </style>
}

<section id="section-sso-terms">
    @Html.VpPageHeading(Model.Description.ContentTitle)
    <div class="description">
        <p><strong>@Html.Raw(Model.Description.ContentBody)</strong></p>
    </div>
    <div class="terms">
        @Html.Raw(Model.Terms.ContentBody)
    </div>
    @using (Html.BeginForm("Terms", "Sso", FormMethod.Post, new {@class = "row"}))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.SsoProvider)
        <div class="col-xs-6 text-right">
            <button id="btnAccept" type="button" class="btn btn-primary">@Html.TextRegion(TextRegionConstants.Accept)</button>
        </div>
        <div class="col-xs-6">
            <button id="btnDecline" type="button" class="btn btn-primary">@Html.TextRegion(TextRegionConstants.ButtonDecline)</button>
        </div>
    }
</section>

@section modals {
    <div id="termsModalContainer"><!-- placeholder for modals --></div>
}

@section scripts {
    @Scripts.Render("~/bundles/scripts/sso/terms")
}