﻿@model Ivh.Web.QATools.Models.Persona.PersonaCreateViewModel

<div id="create-user-container">
    <p>
        This page is intended for usability testing (TryMyUI). 
        <br/>
        When the form is submitted, if the user already exists it will <strong>remove the user</strong> and recreate the builder from the specs.
    </p>

    <div id="form-container">
        @using (Html.BeginForm("CreatePersona", "Persona", FormMethod.Post, new { id = "frmCreatePersona" }))
    {
        @Html.LabelFor(m => m.PersonaUserName)
        @Html.DropDownListFor(m => m.PersonaUserName, new SelectList(Model.PersonaUserNames), new { @class = "form-control" })

        <div class="row">
            <div class="col-md-3">
                @Html.LabelFor(m => m.Password)
                @Html.TextBoxFor(m => m.Password, new { @class = "form-control js-password" })
            </div>
            <div class="col-md-3">
                 <button class="btn btn-primary" type="button" id="btnRefreshPassword" data-refresh-password-url="@Url.Action("GeneratePassword","Persona")">Refresh</button>
            </div>
           
        </div>
            <button class="btn btn-primary" type="submit" id="btnCreatePersona">Create Persona</button>
            <div id="persona-user-message" class="success"></div>
        
        
    }
    </div>
</div>
@section scripts {
    <script src="~/Scripts/Persona/create-persona.js"></script>
}

@section styles{
    <link href="~/Content/Css/Persona/create-persona.css" rel="stylesheet" />
}