﻿@using Newtonsoft.Json
@model Ivh.Web.QATools.Models.Persona.ManagePersonasViewModel

<br />
<div style="position: relative; margin: auto; width: 850px;" data-context="clone">
    <div class="row">
        <h3 class="col-xs-6" style="margin-top: 0;">Manage Personas</h3>
        <div class="col-xs-6 text-right" style="font-size: 11px; text-transform: uppercase;">
            <a href="javascript:;" data-bind="click: CreateFromHs">Create from HS Data</a>
            &nbsp; &bull; &nbsp;
            <a href="javascript:;" data-bind="click: AddDemoAccounts">Add Demo Accounts</a>
            &nbsp; &bull; &nbsp;
            <a href="javascript:;" data-bind="click: AddTrainingAccounts">Add Training Accounts</a>
        </div>
    </div>
    <table class="table table-condensed" style="table-layout: fixed; font-size: 12px;">
        <colgroup>
            <col style="width: 46%;" />
            <col style="width: 22%;"/>
            <col style="width: 16%;" />
            <col style="width: 16%;" />
        </colgroup>
        <thead>
            <tr>
                <th>Persona</th>
                <th>Action</th>
                <th># of Clones</th>
                <th>Starting At</th>
            </tr>
        </thead>
        <tbody>
            <!-- ko foreach: CloneRequests -->
            <tr>
                <td>
                    <em class="glyphicon glyphicon-trash" style="cursor: pointer;" data-bind="click: $root.Remove"></em>
                    &nbsp;
                    <!-- ko if: $root.Mode.IsHs -->
                    <input class="form-control" type="text" data-bind="value: HsGuarantorSourceSystemKey" placeholder="Source System Key" style="display: inline-block; width: 150px;" />
                    <!-- /ko -->
                    <select class="form-control" style="display: inline-block; width: 180px;" data-bind="value: Username, options: $root.Usernames, optionsCaption: '--Select--'"></select>
                </td>
                <td style="vertical-align: middle;">
                    <label><input type="checkbox" data-bind="checked: Rebuild" style="font-weight: normal;" /> Rebuild</label>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <label><input type="checkbox" data-bind="checked: Clone" style="font-weight: normal;" /> Clone</label>
                </td>
                <td><select class="form-control" data-bind="enable: Clone, value: NumberOfClones, options: $root.Clones"></select></td>
                <td><input type="text" class="form-control" data-bind="enable: Clone, value: StartingValue" /></td>
            </tr>
            <!-- /ko -->
        </tbody>
        <tfoot>
            <tr>
                <td>
                    <button class="btn btn-secondary" data-bind="click: Add">Add Another</button>
                </td>
                <td colspan="3" class="text-right">
                    <button class="btn btn-primary" id="btnStart">Start</button>
                </td>
            </tr>
        </tfoot>
    </table>
    <div class="alert alert-info" style="font-size: 12px;">
        <ul>
            <li>Clones and Rebuilds will <strong>overwrite</strong> any existing user with the same name.</li>
            <li>Managed User accounts will be automatically cloned or rebuilt with their managing user.</li>
        </ul>
    </div>
</div>

@section scripts {

    <div class="modal fade" id="modalProcessing" data-backdrop="static" data-keyboard="false" data-context="processing">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- ko if: Status.IsNotStarted -->
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <!-- /ko -->
                    <h4 class="modal-title">
                        <span data-bind="text: Status.Text"></span>
                    </h4>
                </div>
                <div class="modal-body">
                    <div id="scrollContainer" style="height: 300px; overflow-x: hidden; overflow-y: scroll;">
                        <table style="font-family: Monospace; font-size: 13px; width: 100%;">
                            <colgroup>
                                <col style="width: 70%;"/>
                                <col style="width: 20%;"/>
                                <col style="width: 10%;"/>
                            </colgroup>
                            <tbody data-bind="foreach: Requests">
                            <tr style="height: 20px;">
                                <td>
                                    <!-- ko if: HsGuarantorSourceSystemKey -->
                                    [<span data-bind="text: HsGuarantorSourceSystemKey"></span>]
                                    &nbsp;
                                    <!-- /ko -->
                                    <span data-bind="text: Username"></span><span data-bind="text: Suffix"></span>
                                </td>
                                <td>
                                    <span data-bind="visible: Rebuild">Rebuild</span>
                                    <span data-bind="visible: Clone">Clone</span>
                                </td>
                                <td class="text-right" style="padding-right: 8px;">
                                    <span data-bind="visible: Status() === 1" class="glyphicon glyphicon-refresh rotate"></span>
                                    <span data-bind="visible: Status() === 2" class="glyphicon glyphicon-ok" style="color: green;"></span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-xs-6 text-left">
                            <!-- ko ifnot: Status.IsNotStarted -->
                            (<span data-bind="text: Completed"></span> of <span data-bind="text: Total"></span>)
                            <!-- /ko -->
                        </div>
                        <div class="col-xs-6">
                            <!-- ko if: Status.IsNotStarted -->
                            <button data-bind="click: Start" type="button" class="btn btn-lg btn-primary">Start</button>
                            <!-- /ko -->
                            <!-- ko ifnot: Status.IsNotStarted -->
                            <button data-bind="enable: Status.IsComplete" type="button" class="btn btn-lg btn-primary" data-dismiss="modal">Close</button>
                            <!-- /ko -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/Libraries/knockout-3.4.2.js"></script>
    <script src="~/Scripts/Libraries/knockout.mapping-latest.js"></script>
    <script type="text/javascript">

        var cloneUrl = '@Url.Action("Clone", "Persona")';
        var rebuildUrl = '@Url.Action("Rebuild", "Persona")';
        var additionalOptions = @Html.Raw(JsonConvert.SerializeObject(Model.AdditionalCloneOptions)); // []

        var actionTypeEnum = {
            Clone: 1,
            Rebuild: 2
        };
        var statusEnum = {
            NotStarted: 1,
            Processing: 2,
            Complete: 3
        };

        var clones = [];
        for (var i = 1; i <= 50; i++) {
            clones.push(i);
        }
        if (additionalOptions && additionalOptions.length > 0) {
            for (var a = 0; a < additionalOptions.length; a++) {
                clones.push(additionalOptions[a]);
            }
        }

        var CloneRequestVm = function(source) {

            var self = {};

            self.Username = ko.observable(source.Username);
            self.HsGuarantorSourceSystemKey = ko.observable(source.HsGuarantorSourceSystemKey);
            self.Clone = ko.observable(source.Clone);
            self.Rebuild = ko.observable(source.Rebuild);
            self.NumberOfClones = ko.observable(source.NumberOfClones);
            self.StartingValue = ko.observable(source.StartingValue);
            self.IsValid = ko.computed(function() {
                var username = ko.unwrap(self.Username)
                if (username == null || username.length === 0) {
                    return false;
                }
                if (ko.unwrap(self.Clone) === true && parseInt(ko.unwrap(self.StartingValue)) <= 0) {
                    return false;
                }
                return true;
            });

            return self;

        };

        var ClonesVm = function(usernames, demoUsernames, trainingUsernames, hsDataScenarios) {

            var self = {};

            self.Clones = clones;
            self.CloneRequests = ko.observableArray([]);
            self.Mode = ko.observable();
            self.Mode.IsHs = ko.computed(function() {
                return ko.unwrap(self.Mode) === 'hs';
            });
            self.Usernames = ko.computed(function() {
                var mode = ko.unwrap(self.Mode);
                if (mode == null || mode.length === 0) {
                    return usernames;
                }
                if (mode === 'demo') {
                    return demoUsernames;
                }
                if (mode === 'training') {
                    return trainingUsernames;
                }
                if (mode === 'hs') {
                    return hsDataScenarios;
                }
                return usernames;
            });

            self.Add = function(source) {
                source = source || {
                    Username: null,
                    NumberOfClones: 1,
                    StartingValue: 1
                };
                self.CloneRequests.push(new CloneRequestVm(source));
            };

            self.CreateFromHs = function() {

                self.CloneRequests.removeAll();
                self.Add();
                self.Mode('hs');

            };

            self.AddDemoAccounts = function() {

                self.CloneRequests.removeAll();
                self.Mode('demo');
                for (var i = 0; i < usernames.length; i++) {
                    if (demoUsernames.indexOf(usernames[i]) > -1) {
                        self.Add({
                            Username: usernames[i]
                        });
                    }
                }

            };

            self.AddTrainingAccounts = function() {

                self.CloneRequests.removeAll();
                self.Mode('training');
                for (var i = 0; i < usernames.length; i++) {
                    if (trainingUsernames.indexOf(usernames[i]) > -1) {
                        self.Add({
                            Username: usernames[i],
                            Clone: true,
                            NumberOfClones: 20,
                            StartingValue: 1
                        });
                    }
                }

            };

            self.Remove = function(item) {
                self.CloneRequests.remove(item);
            };

            // add an empty one to start
            self.Add();

            return self;

        };

        var ProcessingRequestVm = function(username, actionType, cloneSuffix, hsGuarantorSourceSystemKey) {

            var self = {};

            self.Username = username;
            self.Rebuild = actionType === actionTypeEnum.Rebuild;
            self.Clone = actionType === actionTypeEnum.Clone;
            self.Suffix = self.Clone ? cloneSuffix : null;
            self.Status = ko.observable(0);
            self.HsGuarantorSourceSystemKey = hsGuarantorSourceSystemKey;

            return self;
        };

        var ProcessingVm = function() {
            var self = {};

            self.Requests = ko.observableArray([]);

            self.Total = ko.computed(function() {
                return ko.unwrap(self.Requests).length;
            });

            self.Queued = ko.computed(function() {
                return requestCount(1);
            });

            self.Completed = ko.computed(function() {
                return requestCount(2);
            });

            self.AddRequests = function(cloneRequests) {

                self.Status(statusEnum.NotStarted);
                self.Requests.removeAll();

                var array = ko.unwrap(cloneRequests);
                if (array.length === 0) {
                    return;
                }

                for (var i = 0; i < array.length; i++) {

                    var cloneRequest = ko.unwrap(array[i]);
                    if (!cloneRequest.IsValid()) {
                        continue;
                    }

                    var obj = ko.mapping.toJS(cloneRequest);

                    // rebuild first
                    if (obj.Rebuild) {
                        self.Requests.push(new ProcessingRequestVm(obj.Username, actionTypeEnum.Rebuild, null, obj.HsGuarantorSourceSystemKey));
                    }

                    // clone second
                    if (obj.Clone) {
                        for (var j = 0; j < obj.NumberOfClones; j++) {
                            var suffix = parseInt(obj.StartingValue) + j;
                            self.Requests.push(new ProcessingRequestVm(obj.Username, actionTypeEnum.Clone, suffix, obj.HsGuarantorSourceSystemKey));
                        }
                    }

                }
            };

            self.Start = function() {

                console.log('started at:', new Date());
                self.Status(statusEnum.Processing);
                next();

            };

            self.Status = ko.observable();
            self.Status.IsComplete = ko.computed(function() {
                return ko.unwrap(self.Status) === statusEnum.Complete;
            });
            self.Status.IsNotStarted = ko.computed(function() {
                return ko.unwrap(self.Status) === statusEnum.NotStarted;
            });
            self.Status.Text = ko.computed(function() {
                var status = ko.unwrap(self.Status);
                if (status === statusEnum.NotStarted) {
                    return 'Preview';
                }
                if (status === statusEnum.Processing) {
                    return 'Processing...';
                }
                if (status === statusEnum.Complete) {
                    return 'Complete!';
                }
            });

            function run(request) {

                var promise = $.Deferred();

                if (request.Clone) {
                    $.post(cloneUrl, { sourceVisitPayUserName: request.Username, suffix: request.Suffix, hsGuarantorSourceSystemKey: request.HsGuarantorSourceSystemKey }, function() {
                        promise.resolve();
                    });
                } else {
                    $.post(rebuildUrl, { personaUsername: request.Username, hsGuarantorSourceSystemKey: request.HsGuarantorSourceSystemKey }, function() {
                        promise.resolve();
                    });
                }

                return promise;
            };

            function next(index) {

                index = index || 0;
                var requests = ko.unwrap(self.Requests);
                if (index >= requests.length) {
                    return;
                }

                var request = ko.unwrap(requests[index]);
                if (!request) {
                    return;
                }

                request.Status(1);
                run(request).done(function() {
                    request.Status(2);
                    next(index + 1);
                });
            };

            function requestCount(status) {
                var count = 0;
                var requests = ko.unwrap(self.Requests);
                for (var i = 0; i < requests.length; i++) {
                    var request = requests[i];
                    if (parseInt(ko.unwrap(request.Status)) === status) {
                        count++;
                    }
                };
                return count;
            };

            // subscribe to set status
            self.Completed.subscribe(function(newValue) {
                var total = parseInt(ko.unwrap(self.Total));
                var completed = parseInt(newValue);
                if (total > 0 && total === completed) {
                    self.Status(statusEnum.Complete);
                    console.log('finished at:', new Date());
                }
            });

            return self;
        };

        $(document).ready(function() {

            var data = @Html.Raw(JsonConvert.SerializeObject(Model));

            //
            var clonesVm = new ClonesVm(data.Usernames, data.DemoAccountUsernames, data.TrainingAccountUsernames, data.HsDataScenarios);
            ko.applyBindings(clonesVm, $('[data-context="clone"]')[0]);

            //
            var processingVm = new ProcessingVm();
            ko.applyBindings(processingVm, $('[data-context="processing"]')[0]);

            var subscription;
            $(document).on('click.start', '#btnStart', function(e) {

                e.preventDefault();

                // add requests
                processingVm.AddRequests(clonesVm.CloneRequests);

                // show modal
                var $modal = $('#modalProcessing');
                $modal.off('shown.bs.modal').on('shown.bs.modal', function() {
                    $('#modalProcessing').find('#scrollContainer').animate({
                        scrollTop: 0
                    }, 250);
                });
                $modal.modal('show');

                if (subscription) {
                    subscription.dispose();
                }

                // scroll into view
                var scrollHeight;
                var $container;
                subscription = processingVm.Completed.subscribe(function(newValue) {
                    if (newValue > 1) {
                        $container = $container || $modal.find('#scrollContainer');
                        scrollHeight = scrollHeight || $container.find('tbody').find('tr').eq(0).height();
                        $container.scrollTop($container.scrollTop() + scrollHeight);
                    }
                });

            });
        });

    </script>
}
