﻿@using Ivh.Common.VisitPay.Constants
@model Ivh.Web.Client.Models.GuarantorInvitationViewModel

@section breadcrumbs {
    <ul>
        <li>@base.ClientDto.ClientBrandName</li>
        <li>Invite Guarantor</li>
    </ul>
}
<section id="section-invite">
    <form id="frmInviteGuarantor" autocomplete="off">
        <h1 class="bar">
            Invite Guarantor
        </h1>
        <div class="alert alert-info">
            Enter the guarantor's name and email below. @Model.ClientBrandName will automatically send an email to the patient that includes the URL where they can sign up for a new account.
        </div>
        <div class="form-group row">
            @Html.ValidationSummary(Html.TextRegion(TextRegionConstants.ValidationCorrectErrors), new { @class = "col-xs-offset-2 col-xs-8" })
        </div>
        <div class="form-group row">
            <div class="col-xs-2">
                @Html.VpLabelFor(m => m.FirstName):
            </div>
            <div class="col-xs-2" style="padding-right: 2px;">
                @Html.VpTextBoxFor(m => m.FirstName, new { data_bind = "value: FirstName" })
            </div>
            <div class="col-xs-1" style="padding-left: 2px; padding-right: 2px;">
                @Html.VpTextBoxFor(m => m.MiddleName, new { data_bind = "value: MiddleName" })
            </div>
            <div class="col-xs-2" style="padding-left: 2px;">
                @Html.VpTextBoxFor(m => m.LastName, new { data_bind = "value: LastName" })
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-2">
                @Html.VpLabelFor(m => m.Email):
            </div>
            <div class="col-xs-4">
                @Html.VpTextBoxFor(m => m.Email, new { data_bind = "value: Email" })
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-2 required-instruction">
                <strong>*</strong> Required field
            </div>
            <div class="col-xs-8">
                <button type="submit" class="btn btn-primary btn-wider" id="submit">Invite</button>
                <span id="InvitationSentMessage" class="required-instruction hidden">The invitation has been sent.</span>
            </div>
        </div>
    </form>
</section>


@section scripts {
    @Scripts.Render("~/bundles/scripts/invite/inviteguarantor")
}
