﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.Web.Models.Consolidate
@model Ivh.Web.Patient.Models.Consolidate.AcceptTermsFpViewModel

<a href="#overlay-consolidation-details" class="back">@Html.TextRegion(TextRegionConstants.ReviewRequest)</a>
<section id="section-accept-terms-consolidation" class="container">
    <br/>
    @foreach (ConsolidationGuarantorFinancePlanViewModel financePlan in Model.FinancePlans)
    {
        <div class="detail-grid">
            <div class="detail detail2">
                <span>
                    <span class="pull-right">@financePlan.CurrentFinancePlanBalance</span>
                    <strong>@Html.TextRegion(TextRegionConstants.CurrentBalance)</strong>
                </span>
                <span>
                    <span class="pull-right">@financePlan.MonthlyPaymentAmount</span>
                    <strong>@Html.TextRegion(TextRegionConstants.NextRecurringPayment)</strong>
                </span>
                <div style="padding-bottom: 0;">
                    <div class="grid">
                        <div>
                            <div>
                                <div class="pull-left text-light">@Html.TextRegion(TextRegionConstants.NextRecurringPayment)</div>
                                <div class="text-ellipsis text-right">@financePlan.OriginatedFinancePlanBalance</div>
                            </div>
                            <div>
                                <div class="pull-left text-light">@Html.TextRegion(TextRegionConstants.CurrentInterestRate)</div>
                                <div class="text-ellipsis text-right">@financePlan.CurrentInterestRate</div>
                            </div>
                            <div>
                                <div class="pull-left text-light">@Html.TextRegion(TextRegionConstants.ExpectedFinalPayment)</div>
                                <div class="text-ellipsis text-right">@financePlan.FinalPaymentDate</div>
                            </div>
                        </div>
                        <div class="text-right">
                            <a href="#CreditAgreement" data-offerid="@financePlan.FinancePlanOfferId" title="@Html.TextRegion(TextRegionConstants.ClickToReview)" class="btn btn-default btn-smaller" style="margin-right: 0;">@Html.TextRegion(ClientDto.CreditAgreementName)</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    
    <p>
        @Html.Raw(Model.CmsVersionText)
    </p>
    <p class="text-right">
        <button class="btn btn-default" id="btnPaymentMethods">
            @Html.Partial("~/Areas/Mobile/Views/Payment/_PaymentMethodSelected.cshtml")
        </button>
    </p>

    @using (Html.BeginForm("ConfirmAcceptanceFp", "Consolidate", new {area = ""}, FormMethod.Post, new {@class = "row text-center", id = "frmConfirmAcceptance"}))
    {
        <input type="hidden" id="ConsolidationGuarantorId" value="@Model.ConsolidationGuarantorId"/>
        <input type="hidden" id="RequestType" value="@((int) Model.RequestType)"/>
        <br/>
        <p>
            <button type="submit" title="@Html.TextRegion(TextRegionConstants.AgreeToFinancePlanTerms)" class="btn btn-primary btn-small btn-75" id="btnAccept" data-bind="enable: PaymentMethod.PaymentMethodId.Any" disabled="disabled">
                @Html.TextRegion(TextRegionConstants.AgreeToFinancePlanTerms)
            </button>
        </p>
        <br/>
        <p>
            <button type="button" title="@Html.TextRegion(TextRegionConstants.ButtonDeclineConsolidation)" class="btn btn-primary btn-small btn-75" id="btnDecline">
                @Html.TextRegion(TextRegionConstants.ButtonDeclineConsolidation)
            </button>
        </p>
        <br/>
    }
</section>
