﻿@using Ivh.Common.VisitPay.Constants
@model Ivh.Web.Patient.Models.Consolidate.AcceptTermsViewModel

@using (Html.BeginForm("ConfirmAcceptance", "Consolidate", new { area = "" }, FormMethod.Post, new { @class = "row text-center", id = "frmConfirmAcceptance" }))
{
    <input type="hidden" id="ConsolidationGuarantorId" value="@Model.ConsolidationGuarantorId" />
    <input type="hidden" id="RequestType" value="@((int) Model.RequestType)" />
    <br />
    <p><button type="submit" title="@Html.TextRegion(TextRegionConstants.ButtonAcceptRequestToConsolidate)" class="btn btn-primary btn-small btn-75" id="btnAccept">@Html.TextRegion(TextRegionConstants.ButtonAcceptRequestToConsolidate)</button></p>
    <br />
    <p><button type="button" title="@Html.TextRegion(TextRegionConstants.ButtonDeclineConsolidation)" class="btn btn-primary btn-small btn-75" id="btnDecline">@Html.TextRegion(TextRegionConstants.DeclineRequest)</button></p>
    <br />
}
