﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.VisitPay.Enums
@model Ivh.Web.Patient.Models.Consolidate.AcceptTermsViewModel

<a href="javascript:;" onclick="javascript: window.history.back();" class="back">@Html.TextRegion(TextRegionConstants.ReviewRequest)</a>
<section id="section-accept-terms-consolidation" class="container">
    <br/>
    @if (Model.RequestType == ConsolidationMatchRequestTypeEnum.RequestToBeManaged)
    {
        <div id="step1" data-bind="visible: Step.Is(1)">
            <p>@Html.Raw(Model.TextCms.ContentBody)</p>
            <button type="button" class="btn btn-primary btn-75" data-bind="click: Step.Next">@Html.TextRegion(TextRegionConstants.Next)</button>
        </div>

        <form id="step2" data-bind="visible: Step.Is(2)">
            <div class="terms">
                <p class="text-center"><strong>@Html.Raw(Model.TermsCms.ContentTitle)</strong></p>
                <div>@Html.Raw(Model.TermsCms.ContentBody)</div>
            </div>
           
            <hr class="light"/>
            <div class="agree">
                <input data-val="true" data-val-requirechecked="" data-val-required="" id="cbTerms" name="cbTerms" value="true" type="checkbox"/>
                <label for="cbTerms" class="required">@Html.TextRegion(TextRegionConstants.AcceptTermsConcerningConsolidation)</label>
            </div>
            <button type="submit" class="btn btn-primary btn-75">@Html.TextRegion(TextRegionConstants.Next)</button>
        </form>

        <div id="step3" data-bind="visible: Step.Is(3)">
            <div class="terms hipaa">
                <p class="text-center"><strong>@Html.Raw(Model.HipaaCms.ContentTitle)</strong></p>
                <div>@Html.Raw(Model.HipaaCms.ContentBody)</div>
            </div>
            <hr class="light" />
            <form class="agree">
                <input data-val="true" data-val-requirechecked="" data-val-required="" id="cbHipaa" name="cbHipaa" value="true" type="checkbox"/>
                <label for="cbHipaa" class="required">@Html.TextRegion(TextRegionConstants.HippaAgree)</label>
            </form>
            @Html.Partial("_AcceptTermsForm", Model)
        </div>
    }
    else
    {
        @Html.CmsRegion(CmsRegionEnum.ConsolidationManagingAcceptTerms)
        <p class="text-right"><a href="#TermsOfUse" class="btn btn-default" title="@Html.TextRegion(TextRegionConstants.TermsOfUse)">@Html.TextRegion(TextRegionConstants.TermsOfUse)</a></p>
        @Html.Partial("_AcceptTermsForm", Model)
    }
</section>
