﻿@using Ivh.Common.VisitPay.Constants
@model Ivh.Web.Patient.Models.Consolidate.MatchRequestViewModel

@using (Html.BeginForm("ConsolidateMatch", "Consolidate", new { area = "" }, FormMethod.Post, new { autocomplete = "off", id = "frmConsolidateMatch" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.MatchRequestType)
    <hr class="light" />
    <div class="row">
        <div class="pull-right" style="width: 180px;">@Html.VpTextBoxFor(m => m.FirstName, new { maxlength = 50 })</div>
        @Html.VpLabelFor(m => m.FirstName)
    </div>
    <div class="row">
        <div class="pull-right" style="width: 180px;">@Html.VpTextBoxFor(m => m.LastName, new { maxlength = 50 })</div>
        @Html.VpLabelFor(m => m.LastName)
    </div>
    <div class="row">
        <div class="pull-right" style="width: 180px;">@Html.VpTextBoxFor(m => m.BirthYear, new { maxlength = 4, type = "number" })</div>
        @Html.VpLabelFor(m => m.BirthYear)
    </div>
    <div class="row">
        <div class="pull-right" style="width: 180px;">@Html.VpTextBoxFor(m => m.EmailAddress)</div>
        @Html.VpLabelFor(m => m.EmailAddress)
    </div>
    <div class="row text-center">
        <!--TODO: Localize-->
        <button type="submit" title="@Html.TextRegion(TextRegionConstants.AcceptConsolidationTermsAndSendRequest)" class="btn btn-primary btn-small btn-75">Accept Consolidation Terms<br/>and Send Request</button>
    </div>
    <br/>
}
