﻿@using Ivh.Common.VisitPay.Constants
<div class="overlay overlay-menu-visible" id="overlay-consolidation-details">
    <a href="#" class="back">@Html.TextRegion(TextRegionConstants.ConsolidationDetails)</a>
    <section id="section-consolidation-details" class="container details" data-bind="with: ActiveConsolidationGuarantor">
        <br />
        <p class="text-center">
            <strong data-bind="text: IsManagingUser() ? ManagedGuarantorName() : ManagingGuarantorName()"></strong>
        </p>
        <div>
            <span class="pull-left text-light">Status:</span>
            <div class="text-ellipsis text-right" data-bind="text: ConsolidationGuarantorStatus"></div>
        </div>
        <div>
            <!--TODO: Localize-->
            <span class="pull-left text-light">Consolidation Terms<br/>Accepted by Managing User:</span>
            <div class="text-ellipsis text-right">
                <br/>&nbsp;
                <span data-bind="text: DateAcceptedByManagingGuarantor"></span>
            </div>
        </div>
        <div>
            <!--TODO: Localize-->
            <span class="pull-left text-light">Consolidation Terms<br />Accepted by Managed User:</span>
            <div class="text-ellipsis text-right">
                <br />&nbsp;
                <span data-bind="text: DateAcceptedByManagedGuarantor"></span>
            </div>
        </div>
        <div>
            <!--TODO: Localize-->
            <span class="pull-left text-light">Finance Plan Terms<br />Accepted by Managing User:</span>
            <div class="text-ellipsis text-right">
                <br />&nbsp;
                <span data-bind="text: DateAcceptedFinancePlanTermsByManagingGuarantor"></span>
            </div>
        </div>
        <div>
            <!--TODO: Localize-->
            <span class="pull-left text-light">Date of Consolidation<br />Cancellation:</span>
            <div class="text-ellipsis text-right">
                <br />&nbsp;
                <span data-bind="text: CancelledOn"></span>
            </div>
        </div>
        <div>
            <span class="pull-left text-light">@Html.TextRegion(TextRegionConstants.ConsolidationCancelledBy):</span>
            <div class="text-ellipsis text-right">
                &nbsp;<span data-bind="text: CancelledByUserName"></span>
            </div>
        </div>
        <p style="display: none;" data-bind="visible: ActionOptions().length > 0">
            <select name="Actions" class="form-control" data-bind="options: ActionOptions, optionsCaption: '--@Html.TextRegion(TextRegionConstants.Actions)--', optionsText: 'Text', optionsValue: 'Value'"></select>
        </p>
    </section>
</div>