﻿@using Ivh.Common.Base.Enums
@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.VisitPay.Enums
@model Ivh.Web.Patient.Models.Consolidate.DeconsolidateFpViewModel

<a href="#overlay-consolidation-details" class="back">@Html.TextRegion(TextRegionConstants.CancelConsolidationPageHeading)</a>
<section id="section-deconsolidate-fp" class="container">
    <br/>
    <p>@Html.CmsRegion(CmsRegionEnum.ConsolidationManagedUserCancelConsolidationFp)</p>
    <p class="text-right">
        <button class="btn btn-default" id="btnPaymentMethods">
            @Html.Partial("~/Areas/Mobile/Views/Payment/_PaymentMethodSelected.cshtml")
        </button>
    </p>

    @Html.Raw(Model.CancelCmsVersionText)
    @using (Html.BeginForm("CancelRequest", "Consolidate", new { area = "" }, FormMethod.Post, new { @class = "row text-center", id = "frmDeconsolidateFp" }))
    {
        <input type="hidden" id="ConsolidationGuarantorId" value="@Model.ConsolidationGuarantorId" />
        <input type="hidden" id="RequestType" value="@((int) Model.RequestType)" />
        <br />
        <p>
            <button type="submit" title="@Html.TextRegion(TextRegionConstants.ConfirmCancellation)" class="btn btn-primary btn-small btn-75" id="btnConfirm">
                @Html.TextRegion(TextRegionConstants.ConfirmCancellation)
            </button>
        </p>
        <br/>
    }
</section>
