﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.VisitPay.Enums
@using Ivh.Web.Patient.Models.Consolidate

<a href="javascript:;" onclick="javascript: window.history.back();" class="back">@Html.TextRegion(TextRegionConstants.RequestToManage)</a>
<section id="section-request-managing" class="container">
    <br/>
    @Html.CmsRegion(CmsRegionEnum.ConsolidationManagingAcceptTerms)

    @Html.Partial("_ConsolidateMatchForm", new MatchRequestViewModel { MatchRequestType = ConsolidationMatchRequestTypeEnum.RequestToBeManaging })
</section>
