﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.VisitPay.Enums
@using Ivh.Web.Patient.Models.Consolidate
@model RequestManagedViewModel

<a href="javascript:;" onclick="javascript: window.history.back();" class="back">@Html.TextRegion(TextRegionConstants.RequestToBeManaged)</a>
<section id="section-request-managed" class="container">
    <br/>
    <div id="step1" data-bind="visible: Step.Is(1)">
        <div>@Html.Raw(Model.TextCms.ContentBody)</div>
        <button type="button" class="btn btn-primary btn-75" data-bind="click: Step.Next">@Html.TextRegion(TextRegionConstants.Next)</button>
    </div>

    <form id="step2" data-bind="visible: Step.Is(2)">
        <div class="terms">
            <p class="text-center"><strong>@Html.Raw(Model.TermsCms.ContentTitle)</strong></p>
            <div>@Html.Raw(Model.TermsCms.ContentBody)</div>
        </div>
        <p class="text-right"><a href="#TermsOfUse" class="btn btn-default" title="@Html.TextRegion(TextRegionConstants.TermsOfUse)">@Html.TextRegion(TextRegionConstants.TermsOfUse)</a></p>
        <hr class="light" />
        <div class="agree">
            <input data-val="true" data-val-requirechecked="" data-val-required="" id="cbTerms" name="cbTerms" value="true" type="checkbox" />
            <label for="cbTerms" class="required">@Html.TextRegion(TextRegionConstants.AcceptTermsConcerningConsolidation)</label>
        </div>
        <button type="submit" class="btn btn-primary btn-75">@Html.TextRegion(TextRegionConstants.Next)</button>
    </form>

    <form id="step3" data-bind="visible: Step.Is(3)">
        <div class="terms hipaa">
            <p class="text-center"><strong>@Html.Raw(Model.HipaaCms.ContentTitle)</strong></p>
            <div>@Html.Raw(Model.HipaaCms.ContentBody)</div>
        </div>
        <hr class="light" />
        <div class="agree">
            <input data-val="true" data-val-requirechecked="" data-val-required="" id="cbHipaa" name="cbHipaa" value="true" type="checkbox" />
            <label for="cbHipaa" class="required">@Html.TextRegion(TextRegionConstants.HippaAgree)</label>
        </div>
        <button type="submit" class="btn btn-primary btn-75">@Html.TextRegion(TextRegionConstants.Next)</button>
    </form>

    <div id="step4" data-bind="visible: Step.Is(4)">
        <p class="text-center">
            @Html.TextRegion(TextRegionConstants.RequestToBeManagedInstructions):
        </p>
        @Html.Partial("_ConsolidateMatchForm", new MatchRequestViewModel {MatchRequestType = ConsolidationMatchRequestTypeEnum.RequestToBeManaged})
    </div>
    <br/>
</section>
