﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Web.Patient.Areas.Mobile.Models
@model Ivh.Web.Patient.Models.Consolidate.ManageHouseholdViewModel

@section scripts {
    @Scripts.Render("~/bundles/mobile/scripts/consolidation")
    <script type="text/javascript">
        (function() {
            var json = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
            window.VisitPayMobile.ManageHousehold(json);
        })();
    </script>
}

@section Back {
    <a href="@Url.Action("AccountSettings", "Account")" title="@Html.TextRegion(TextRegionConstants.MyAccountPageHeading)"><em class="glyphicon glyphicon-chevron-left"></em></a>
}
@section PageTitle {
    @Html.TextRegion(TextRegionConstants.ManageHouseholdPageHeading)
}

<section id="section-household">
    <div class="btn-group btn-group-justified">
        <!--TODO: Localize-->
        <div class="btn-group" style="max-width: 45%;">
            <button type="button" class="btn btn-toggle" data-bind="click: IsViewManaging.Set, css: { 'active': IsViewManaging }">Accounts<br/>I Manage</button>
        </div>
        <div class="btn-group" style="max-width: 55%;">
            <button type="button" class="btn btn-toggle" data-bind="click: IsViewManaged.Set, css: { 'active': IsViewManaged }">Members who<br/>manage my account</button>
        </div>
    </div>
    <br/>
    <section id="section-managing" style="display: none;" data-bind="visible: IsViewManaging">
        <div class="grid" style="display: none;" data-bind="visible: HasManagedGuarantors">
            <!-- ko foreach: ManagedGuarantors -->
            <div class="mobile-link">
                <a href="javascript:;" class="grid-link pull-right height2"></a>
                <div class="text-ellipsis">
                    <strong data-bind="text: ManagedGuarantorName"></strong>
                </div>
                <div data-bind="text: ConsolidationGuarantorStatus"></div>
            </div>
            <!-- /ko -->
        </div>
        <div class="alert alert-info" style="display: none;" data-bind="visible: !HasManagedGuarantors()">@Html.TextRegion(TextRegionConstants.NotManagingAnotherClientMemberAccount)</div>
        <br />
        <p class="text-center" style="display: none;" data-bind="visible: CanRequestToBeManaging">
            <button class="btn btn-primary btn-75 btn-smaller" id="btnRequestManaging">@Html.TextRegion(TextRegionConstants.RequestToManageMember)</button>
        </p>
    </section>
    <section id="section-managed" style="display: none;" data-bind="visible: IsViewManaged">
        <div class="grid" style="display: none;" data-bind="visible: HasManagingGuarantors">
            <!-- ko foreach: ManagingGuarantors -->
            <div class="mobile-link">
                <a href="javascript:;" class="grid-link pull-right height2"></a>
                <div class="text-ellipsis">
                    <strong data-bind="text: ManagingGuarantorName"></strong>
                </div>
                <div data-bind="text: ConsolidationGuarantorStatus"></div>
            </div>
            <!-- /ko -->
        </div>
        <div class="alert alert-info" style="display: none;" data-bind="visible: !HasManagingGuarantors()">@Html.TextRegion(TextRegionConstants.NotCurrentlyManagedByAnother)</div>
        <br />
        <p class="text-center" style="display: none;" data-bind="visible: CanRequestToBeManaged">
            <button class="btn btn-primary btn-75 btn-smaller" id="btnRequestManaged">@Html.TextRegion(TextRegionConstants.RequestToBeManaged)</button>
        </p>
    </section>
</section>

@section bottom {
    @Html.Partial("_ConsolidationDetails")
    <div class="overlay" id="overlay-list">
        @Html.Partial("~/Areas/Mobile/Views/Payment/_PaymentMethodList.cshtml")
    </div>
    @Html.Partial("~/Areas/Mobile/Views/Payment/_PaymentMethodDetail.cshtml")
}
