﻿@using Ivh.Common.VisitPay.Constants
@model Ivh.Web.Patient.Models.Sso.HealthEquityWidgetViewModel

@if (Model.Visible)
{
    if (Model.SsoOutboundAgreed && Model.ShowBalanceSetting)
    {
        <button class="btn btn-grid-link widget widget-link widget-healthequity widget-healthequity-with-balance" id="HealthEquitySsoButton">
            <span class="header">
                <span class="icon">
                    <img src="/Content/Images/healthEquity-icon-75.png" alt="" />
                </span>
                <span class="text">@Html.TextRegion(TextRegionConstants.MyHealthEquityHsa)</span>
                <span class="balance">
                    @Html.TextRegion(TextRegionConstants.Balance): <span class="healthequity-hsa-balance healthequity-hsa-cash-balance">@Html.TextRegion(TextRegionConstants.Loading)...</span><br />
                    <span class="healthequity-lastcalltoapi text-italic"></span>
                </span>
            </span>
        </button>
    }
}

<script type="text/javascript">
    (function () {
        window.VisitPay = window.VisitPay || {};
        window.VisitPay.Sso = window.VisitPay.Sso || {};
        window.VisitPay.Sso.HealthEquity = window.VisitPay.Sso.HealthEquity || {};
        window.VisitPay.Sso.HealthEquity.Model = '@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model))';
        window.VisitPay.Sso.HealthEquity.NoSsoUrl = '@Url.Action("HealthEquityNoSso", "Sso")';
        window.VisitPay.Sso.HealthEquity.SsoUrl = '@Url.Action("HealthEquitySso", "Sso")';
        //ignoring area here to allow for third party authentication
        window.VisitPay.Sso.HealthEquity.OAuthUrl = '@Url.Action("RedirectToOAuthAfterPing", new { provider = Model.SsoProviderEnum, area = "" })';
        window.VisitPay.Sso.HealthEquity.AfterOAuthWindowClosesUrl = '@Html.Raw(Url.Action("RedirectToOpenDialog", new { provider = Model.SsoProviderEnum, redirectUrl = Request.Url != null ? Request.Url.AbsoluteUri : string.Empty }))';
        window.VisitPay.Sso.HealthEquity.OpenInitialDialog = '@Model.ShouldOpenInitialHqyWidgetDialog';
    })();
</script>
