﻿@using Ivh.Common.VisitPay.Constants
@model Ivh.Web.Patient.Models.Sso.SsoTermsActionViewModel

<span class="title">@Html.Raw(Model.Content.ContentTitle)</span>
<section>
    @using (Html.BeginForm("TermsContinue", "Sso", FormMethod.Post, new { @class = "modal-content" }))
    {
        @Html.HiddenFor(m => m.SsoProvider)
        <p>@Html.Raw(Model.Content.ContentBody)</p>
        <div class="text-center">
            <button type="submit" class="btn btn-primary" title="@Html.TextRegion(TextRegionConstants.ButtonContinue)">@Html.TextRegion(TextRegionConstants.ButtonContinue)</button>
        </div>
    }
</section>
