﻿@using Ivh.Common.VisitPay.Constants
@model Ivh.Web.Patient.Models.Sso.SsoTermsActionViewModel

<span class="title">@Html.Raw(Model.Content.ContentTitle)</span>
<section>
    @using (Html.BeginForm("TermsContinue", "Sso", FormMethod.Post, new { @class = "modal-content" }))
    {
        @Html.HiddenFor(m => m.SsoProvider)
        <p>@Html.Raw(Model.Content.ContentBody)</p>
        <hr />
        <div class="ignore text-center">
            <input type="checkbox" id="Ignore" name="Ignore" value="true" />
            <label for="Ignore"><strong>@Html.TextRegion(TextRegionConstants.SsoOptOutCheckbox)</strong></label>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary" title="OK">@Html.TextRegion(TextRegionConstants.ButtonContinue)</button>
        </div>
    }
</section>
