﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.VisitPay.Enums
@model Ivh.Web.Patient.Models.Sso.HealthEquityWidgetViewModel

@if (Model.FeatureEnabled)
{
<span class="title">@Html.TextRegion(TextRegionConstants.LinkMyHealthEquityHsa)</span>
    <section id="section-hqy-failed" class="overlay-healthequity">
        <p><strong>@Html.TextRegion(TextRegionConstants.SsoFailed)</strong></p>
        <p>@Html.CmsRegion(CmsRegionEnum.HealthEquitySetupFailed)</p>
        <br/>
        <button type="button" id="btnHqySsoFailedClose" class="btn btn-primary btn-50 btn-small">@Html.TextRegion(TextRegionConstants.Close)</button>
    </section>
}