﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.VisitPay.Enums
@model Ivh.Web.Patient.Models.Sso.HealthEquityWidgetViewModel

@if (Model.FeatureEnabled)
{
<a onclick="javascript:window.history.back();" class="back long-title">@Html.TextRegion(TextRegionConstants.ManageMyHealthEquityHsa)</a>
    <section id="section-hqy-no-sso" class="overlay-healthequity">
        <p>@Html.CmsRegion(CmsRegionEnum.HealthEquityNoSsoSignUp)</p> 
        <p class="text-center"><a href="javascript:;" id="aMore" title="@Html.TextRegion(TextRegionConstants.TellMeMore)">@Html.TextRegion(TextRegionConstants.TellMeMore)</a></p>
        <div id="divMore" style="display: none;">
            <p>@Html.CmsRegion(CmsRegionEnum.HealthEquityTellMeMore)</p>
        </div>
        <br/>
        <a href="javascript:;" title="@Html.TextRegion(TextRegionConstants.ClickHereToGetStarted)" class="btn btn-primary btn-75" id="btnHqySsoGetStarted">@Html.TextRegion(TextRegionConstants.ClickHereToGetStarted)</a>
    </section>
}