﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.VisitPay.Enums
@model Ivh.Web.Patient.Models.Sso.HealthEquityWidgetViewModel

@if (Model.FeatureEnabled)
{
    <a onclick="javascript:window.history.back();" class="back">@Html.TextRegion(TextRegionConstants.LinkMyHealthEquityHsa)</a>
    <section id="section-hqy-preagreement" class="overlay-healthequity">
        <p>@Html.CmsRegion(CmsRegionEnum.HealthEquityPreAgreement)</p>
        <br/>
        <a href="javascript:;" id="btnHqySsoPreAgreementContinue" class="btn btn-primary btn-75">@Html.TextRegion(TextRegionConstants.ButtonContinue)</a>
        <br/>
        <a href="javascript:;" onclick="javascript:window.history.back();" class="btn btn-primary btn-50 btn-small">@Html.TextRegion(TextRegionConstants.ButtonCancel)</a>
    </section>
}