﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.VisitPay.Enums
@model Ivh.Web.Patient.Models.Sso.HealthEquityWidgetViewModel

@if (Model.FeatureEnabled)
{
<span class="title">@Html.TextRegion(TextRegionConstants.LinkMyHealthEquityHsa)</span>
    <section id="section-hqy-success" class="overlay-healthequity">
        <p><strong>@Html.TextRegion(TextRegionConstants.SsoSetupFailed)</strong></p>
        <p>@Html.CmsRegion(CmsRegionEnum.HealthEquitySetupInvalid)</p>
        <br />
        <button type="button" id="btnHqySsoSuccessClose" class="btn btn-primary btn-50 btn-small">@Html.TextRegion(TextRegionConstants.Close)</button>
    </section>
}
