﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.VisitPay.Enums
@model Ivh.Web.Patient.Models.Sso.HealthEquityWidgetViewModel

@if (Model.FeatureEnabled)
{
    <a onclick="javascript:window.history.back();" class="back">@Html.TextRegion(TextRegionConstants.LinkMyHealthEquityHsa)</a>
    <section id="section-hqy-agreement" class="overlay-healthequity">
        <p><strong>@Html.TextRegion(TextRegionConstants.HealthEquityAcceptAuthorization)</strong></p>
        <hr class="light"/>
        <div class="terms">
            @Html.CmsRegion(CmsRegionEnum.HealthEquityAgreement)
            <br/>
            <a href="javascript:;" id="btnHqySsoAgreementAccept" class="btn btn-primary btn-75">@Html.TextRegion(TextRegionConstants.Accept)</a>
            <br />
            <a href="javascript:;" id="btnHqySsoAgreementDecline" class="btn btn-primary btn-50 btn-small">@Html.TextRegion(TextRegionConstants.ButtonDecline)</a>
        </div>
    </section>
}