﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.VisitPay.Enums
@model Ivh.Web.Patient.Models.Sso.HealthEquityWidgetViewModel

@{
    var urlForRedirect = Url.Action("SamlResponse", "Sso", new {target = SamlResponseTargetEnum.HealthEquity});
    if (Model.SsoProviderEnum == SsoProviderEnum.HealthEquityOAuthGrant)
    {
        urlForRedirect = Url.Action("SsoRedirect", "Sso", new {target = SsoProviderEnum.HealthEquityOAuthGrant});
    }
}

@if (Model.FeatureEnabled)
{
<a onclick="javascript:window.history.back();" class="back long-title">@Html.TextRegion(TextRegionConstants.ManageMyHealthEquityHsa)</a>
    <section id="section-hqy-sso" class="overlay-healthequity">
        <p>@Html.TextRegion(TextRegionConstants.HealthEquityAccountLinkedWithClient)</p>

        <p class="healthequity-error-modal text-italic text-center"></p>

        <p class="text-center">
            <a id="aGotoHealthEquity" target="_blank" href="@urlForRedirect" title="Go to my HealthEquity Account">@Html.TextRegion(TextRegionConstants.HealthEquityGoToAccount)</a>
        </p>
        
        <hr class="light" />

        <div class="balances loading details">
            <div class="row">
                <div class="col-xs-12">
                    <div class="pull-right healthequity-hsa-cash-balance-modal">-</div>
                    @Html.TextRegion(TextRegionConstants.HealthEquityCashBalance):
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="pull-right healthequity-hsa-investment-balance-modal">-</div>
                    @Html.TextRegion(TextRegionConstants.HealthEquityInvestmentBalance):
                </div>
            </div>
            <div class="row separator">
                <div class="col-xs-12">
                    <hr />
                </div>
            </div>
            <div class="row sum">
                <div class="col-xs-12">
                    <div class="pull-right healthequity-hsa-total-balance-modal">-</div>
                    @Html.TextRegion(TextRegionConstants.HealthEquityTotalBalance):
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-xs-12">
                    <div class="pull-right healthequity-hsa-contributions-ytd-modal">-</div>
                    @Html.TextRegion(TextRegionConstants.HealthEquityYtdContributions):
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="pull-right healthequity-hsa-distributions-ytd-modal">-</div>
                    @Html.TextRegion(TextRegionConstants.HealthEquityYtdDistributions):
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" id="divHqyBalanceMessage">
                    <hr class="light" />
                    <div class="balance-loading">
                        @Html.TextRegion(TextRegionConstants.HealthEquityBalancesLoading)
                    </div>
                    <div class="balance-na" style="display: none;">
                        @Html.TextRegion(TextRegionConstants.HealthEquityBalanceUnavailable)
                    </div>
                    <div class="balance-current" style="display: none;">
                        <!--TODO: Localize-->
                        <p>Your HSA balance is estimated <span class="healthequity-lastcalltoapi-modal">loading...</span>.</p>
                        <p>@Html.TextRegion(TextRegionConstants.HealthEquityBalanceRefreshTiming)</p>
                    </div>
                </div>
            </div>
        </div>

        <hr class="light" />

        <p class="text-center"><a href="@Url.Action("Settings", "Sso")" title="@Html.TextRegion(TextRegionConstants.SsoViewConnections)">@Html.TextRegion(TextRegionConstants.SsoViewConnections)</a></p>
    </section>

    <script type="text/javascript">
        (function () {
            window.VisitPay.Sso.HealthEquity.Model = '@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model))';
        })();
    </script>
}