﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.VisitPay.Enums
<a onclick="javascript:window.history.back();" class="back">My HealthEquity Widget</a>
<section id="section-hqy-dontshowwidget" class="overlay-healthequity">
    <p>@Html.CmsRegion(CmsRegionEnum.HealthEquityDontShowWidget)</p>
    <br/>
    <a href="javascript:;" title="@Html.TextRegion(TextRegionConstants.Close)" class="btn btn-primary btn-50 btn-small" id="btnHqySsoDontShowClose">@Html.TextRegion(TextRegionConstants.Close)</a>
</section>
