﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.VisitPay.Enums
@model Ivh.Web.Patient.Models.Sso.HealthEquityWidgetViewModel

@if (Model.FeatureEnabled)
{
    <span class="title">@Html.TextRegion(TextRegionConstants.LinkMyHealthEquityHsa)</span>
    <section id="section-hqy-success" class="overlay-healthequity">
        <p><strong>@Html.TextRegion(TextRegionConstants.SsoSignupSuccessful)</strong></p>
        <p>@Html.CmsRegion(CmsRegionEnum.HealthEquitySetupSuccess)</p>
        <br/>
        <a href="@Url.Action("SamlResponse", "Sso", new {target = SamlResponseTargetEnum.HealthEquity})" target="_blank" class="btn btn-primary btn-75" id="btnHqySsoGo">@Html.TextRegion(TextRegionConstants.TakeMeThere)</a>
        <br/>
        <button type="button" id="btnHqySsoSuccessClose" class="btn btn-primary btn-50 btn-small">@Html.TextRegion(TextRegionConstants.Close)</button>
    </section>
}