﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.VisitPay.Enums
@model Ivh.Web.Patient.Models.Sso.RedirectToOAuthViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (!Model.ProviderEnum.HasValue)
{
<h1>@Html.TextRegion(TextRegionConstants.TroubleConnectingToAuthorizationServer)</h1>
    <p>@Html.CmsRegion(CmsRegionEnum.HealthEquitySamlResponseFailed)</p>
}
else if (Model.SsoStatusEnum.HasValue && Model.ProviderEnum.HasValue && Model.SsoStatusEnum.Value == SsoStatusEnum.Accepted)
{
    <h1>@Html.TextRegion(TextRegionConstants.ThanksExclamation)</h1>
    <p>@Html.CmsRegion(CmsRegionEnum.HealthEquitySetupSuccess)</p>
}
else if (Model.SsoStatusEnum.HasValue && Model.ProviderEnum.HasValue && Model.SsoStatusEnum.Value != SsoStatusEnum.Accepted)
{
    <h1></h1>
    <p>@Html.CmsRegion(CmsRegionEnum.HealthEquitySetupFailed)</p>
}
else
{
    <h1>@Html.TextRegion(TextRegionConstants.SsoSomethingWentWrong)</h1>
    <p>@Html.CmsRegion(CmsRegionEnum.HealthEquitySetupFailed)</p>
}
<p>
    <a href="javascript:window.close();">@Html.TextRegion(TextRegionConstants.ClickToReturnToClient)</a>
</p>
@section scripts {
    <script language="javascript">
        (function () {
            setInterval(function () {
                parent.close();
            }, 10000);
        })();
    </script>
}