﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.VisitPay.Enums
@model Ivh.Common.Web.Models.Sso.SamlResponseViewModel
@{
    Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";
}

@section PageTitle {}

<div class="text-center">
    <p>@Model.ErrorMessage</p>
    <p>@Html.CmsRegion(CmsRegionEnum.HealthEquitySamlResponseFailed)</p>
    <p>
        <a href="javascript:window.close();">@Html.TextRegion(TextRegionConstants.ClickToReturnToClient)</a>
    </p>
</div>
