﻿@using Ivh.Common.VisitPay.Constants
@model Ivh.Common.Web.Models.Sso.SamlResponseViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>@Html.TextRegion(TextRegionConstants.RedirectTo)</title>
</head>
<body>
    <h1>@Html.TextRegion(TextRegionConstants.WaitForRedirect)</h1>
    <img src="~/Content/Images/loading1.gif" />
    <form id="saml-response-form" action="@Model.Url" method="post" style="display:none;">
        <input name="SAMLResponse" type="text" value="@Model.Value" />
        <input name="RelayState" type="text" value="@Model.RelayState" />
        <input type="submit" value="Return" />
    </form>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#saml-response-form').submit();
        });
    </script>
</body>
</html>
