﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.Web.Models.Sso
@model IList<SsoProviderWithUserSettingsViewModel>

@section Back {
    <a href="@Url.Action("AccountSettings", "Account")" title="@Html.TextRegion(TextRegionConstants.MyAccountPageHeading)"><em class="glyphicon glyphicon-chevron-left"></em></a>
}

@section PageTitle {
    @Html.TextRegion(TextRegionConstants.SsoSettingsPageHeading)
}

<section id="section-sso-settings" style="display: none">
    <div class="alert alert-light" data-bind="visible: children.length === 0">@Html.TextRegion(TextRegionConstants.NoSsoSettingsToDisplay)</div>
    <div data-bind="foreach: children">
        @Html.VpPageHeading(string.Concat(ClientDto.ClientBrandName, " <span data-bind=\"text: ssoProviderName\"></span> ", Html.TextRegion(TextRegionConstants.SingleSignOn)))
        <div class="provider">
            <div class="manage">

                <div class="row">
                    <div class="col-xs-9">
                        <div>
                            <p data-bind="html: body"></p>
                        </div>
                    </div>
                </div>

                <!-- ko if: enableFromManageSso -->
                <hr class="light"/>
                <div class="row header">
                    <div class="col-xs-6">
                        <b>@Html.TextRegion(TextRegionConstants.SsoManagement)</b>
                    </div>
                    <div class="col-xs-3 text-center">
                        <b>@Html.TextRegion(TextRegionConstants.Action)</b>
                    </div>
                </div>
                <div class="row sso">
                    <div class="col-xs-6">
                        <span data-bind="text: $data.ssoProviderName"></span>
                        (<span data-bind="text: $data.activeDisplay, css: { 'text-green text-semi': isAccepted }"></span>)
                    </div>
                    <div class="col-xs-3 text-center">
                        <a href="javascript:;" data-bind="text: $data.actionText, click: $data.action"></a>
                    </div>
                </div>
                <!-- /ko -->

                <!-- ko ifnot: enableFromManageSso -->
                <!-- ko if: isAccepted -->
                <hr/>
                <p class="text-center">
                    <button type="button" class="btn btn-primary btn-small" data-bind="click: disable" id="btnSsoSettingsDisable">
                        @Html.Raw(Html.TextRegion(TextRegionConstants.DisableProviderSingleSignOn, new Dictionary<string, string>
                        {
                            { "[[SsoProviderName]]", "<span data-bind=\"text: $data.ssoProviderName\"></span>" }
                        }))
                    </button>
                </p>
                <p class="text-center">
                    <em>@Html.TextRegion(TextRegionConstants.TermsAccepted): <span data-bind="text: actionDateTime"></span></em>
                </p>
                <!-- /ko -->
                <!-- ko if: isDeclined -->
                <hr/>
                <p class="text-center">
                    <label>
                        <input type="checkbox" data-bind="checked: isIgnored" id="cbSsoIgnore"/> <b>@Html.TextRegion(TextRegionConstants.DoNotOfferSso)</b>
                    </label>
                </p>
                <p class="text-center">
                    <em>@Html.TextRegion(TextRegionConstants.Declined): <span data-bind="text: actionDateTime"></span> by <span data-bind="text: actionVisitPayUser"></span></em>
                </p>
                <!-- /ko -->
                <!-- /ko -->
            </div>
        </div>
        <br/>
    </div>
</section>

@section scripts {
    
    @Scripts.Render("~/bundles/mobile/scripts/sso/settings")
    <script language="javascript">
        (function() {
            $(document).ready(function() {
                var sso = new window.VisitPay.Sso();
                var configuration = {
                    SettingsUrl: '@Url.Action("GetSettings")'
                };
                sso.init(configuration, $('#section-sso-settings'));
            });
        })();
    </script>
}