﻿@using Ivh.Common.VisitPay.Constants
@model Ivh.Web.Patient.Models.Sso.SsoTermsViewModel
@section PageTitle {
    @Html.Raw(Model.Description.ContentTitle)
}

<section id="section-sso-terms">
    <div class="description">
        <p><strong>@Html.Raw(Model.Description.ContentBody)</strong></p>
    </div>
    <div class="terms">
        @Html.Raw(Model.Terms.ContentBody)
    </div>
    @using (Html.BeginForm("Terms", "Sso", FormMethod.Post, new {  @class = "row"}))
    { 
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.SsoProvider)
        <div class="col-xs-12 text-center">
            <button id="btnAccept" type="button" class="btn btn-primary">@Html.TextRegion(TextRegionConstants.Accept)</button>
        </div>
        <div class="col-xs-12 text-center">
            <button id="btnDecline" type="button" class="btn btn-primary">@Html.TextRegion(TextRegionConstants.ButtonDecline)</button>
        </div>
    }
</section>

@section scripts {
    @Scripts.Render("~/bundles/mobile/scripts/sso/terms")
}