﻿@model Ivh.Web.QATools.Models.VisitTransactionViewModel
@{
    ViewBag.Title = "VPP Users | Guarantor | Create Visit Transaction";
}
<div class="main">
    <div class="container">
        <div class="col-lg-12">
            <h4>Create Transaction - <strong id="UserName">@Model.UserName</strong></h4>
            @Html.Partial("~/Views/Guarantors/_sideNav.cshtml")
            <input type="hidden" id="VpGuarantorId" value="@Model.VpGuarantorId" />

            <form class="form-horizontal">

                <div class="form-group">
                    <label for="VisitList" class="control-label col-xs-2">Visit</label>
                    <div class="col-xs-10">
                        <select class="form-control" id="VisitList"></select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="TransactionDate" class="control-label col-xs-2">Transaction Date</label>
                    <div class="col-xs-10">
                        <input class="form-control" id="TransactionDate" placeholder="TransactionDate">
                    </div>
                </div>


                <div class="form-group">
                    <label for="TransactionAmount" class="control-label col-xs-2">Amount</label>
                    <div class="col-xs-10">
                        <input type="number" class="form-control" id="TransactionAmount" placeholder="TransactionAmount">
                    </div>
                </div>

                    <div class="form-group">
                        <label for="VpTransactionTypeID" class="control-label col-xs-2">Type</label>
                        <div class="col-xs-10">
                            <select class="form-control" id="VpTransactionTypeID"></select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="InsertDate" class="control-label col-xs-2">Insert Date</label>
                        <div class="col-xs-10">
                            <input class="form-control" id="InsertDate" placeholder="InsertDate">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="TransactionDescription" class="control-label col-xs-2">Description</label>
                        <div class="col-xs-10">
                            <textarea type="text" class="form-control" id="TransactionDescription" placeholder="TransactionDescription" rows="5"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="RelatedChangeToVisitStateId" class="control-label col-xs-2">Visit Status</label>
                        <div class="col-xs-10">
                            <select class="form-control" id="RelatedChangeToVisitStateId"></select>
                        </div>
                    </div>

            </form>
            <div class="form-actions col-md-6 pull-left text-right">
                <button type="button" id="_Save" class="btn btn-primary">Save</button>
                <button type="button" id="_Cancel" class="btn">Cancel</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/views/visitTransactions")"></script>
}

