﻿#modalManageSso {
    h2 {
        font-size: 16px;
        margin: 0 0 15px 0;
        span {
            font-size: 14px;
            font-weight: normal;
            padding-left: 15px;
        }
    }
}