﻿@model Ivh.Web.Patient.Models.Registration.RegistrationWelcomeViewModel

<div class="modal-text-large">@Html.Raw(Model.CmsInstruction.ContentTitle)</div>
<p>@Html.Raw(Model.CmsInstruction.ContentBody)</p>
@Html.Raw(Model.CmsContent.ContentBody)