@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@model Ivh.Common.Web.Models.RegisterPersonalInformationViewModel

@using (Html.VpForm("RegisterRecords", "Registration", FormMethod.Post, "frmPersonalInfo", new {@class = "modern-form"}, "v-on:submit=onSubmit"))
{
    <div v-if="!IsSso">
        @if (IsFeatureEnabled(VisitPayFeatureEnum.FeatureRedirectInternationalUserRegistration))
        {
            <p class="text-center">@Html.CmsRegion(CmsRegionEnum.InternationalUserRegistrationMessage)</p>
        }
        <p class="text-center">@Html.CmsRegion(CmsRegionEnum.RegistrationStep1Instruction)</p>
    </div>

    <div class="form-section">
        <div class="form-group row" v-show="!IsSso">
            <div class="col-xs-12">
                @Html.LabelFor(m => m.GuarantorId, Html.TextRegion(ClientDto.RegistrationGuarantorIdentifierText), new {@for = "GuarantorId0"})
                <div class="guarantor-id-parts">
                    @{
                        JArray setting = (JArray) JsonConvert.DeserializeObject(ClientDto.RegistrationIdConfiguration);
                        for (int i = 0; i < setting.Count; i++)
                        {
                            JToken placeholderJToken = setting[i]["placeholder"];
                            string placeholder = placeholderJToken == null ? string.Empty : Html.TextRegion(placeholderJToken.ToString());

                            <div>
                                <input class="form-control"
                                       type="text"
                                       name="@string.Format("GuarantorId{0}", i)"
                                       id="@string.Format("GuarantorId{0}", i)"
                                       placeholder="@Html.Raw(placeholder)"
                                       data-val-required=" "
                                       data-val="true"
                                       v-model.lazy="GuarantorId[@i]"/>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-6">
                @Html.LabelFor(m => m.FirstName)
                @Html.VueTextBoxFor(m => m.FirstName)
            </div>
            <div class="col-xs-6">
                @Html.LabelFor(m => m.LastName)
                @Html.VueTextBoxFor(m => m.LastName)
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-3 col-xs-4" v-if="ConfigSsn.Visible">
                @Html.LabelFor(m => m.Ssn4)
                @Html.HiddenFor(m => m.RequireSsn)
                @Html.VueSsnBoxFor(m => m.Ssn4, "v-bind:data-val=RequireSsn")
            </div>
            <div class="col-sm-9 col-xs-8">
                @Html.LabelFor(m => m.DateOfBirthMonth)
                <div class="date-of-birth">
                    @Html.VueDropDownListFor(m => m.DateOfBirthMonth, Dates.MonthsAbbreviated())
                    @Html.VueTextBoxFor(m => m.DateOfBirthDay, new {type = "tel"}, "v-numbers=2")
                    @Html.VueTextBoxFor(m => m.DateOfBirthYear, new {type = "tel"}, "v-numbers=4")
                </div>
            </div>

            <div v-show="ConfigPatientDateOfBirth.Visible">
                <div class="col-xs-12 patient-dob">
                    <div class="checkbox-styled">
                        <input type="checkbox" id="cbUsePatientDateOfBirth" v-model="ShowPatientDateOfBirth"/>
                        <label for="cbUsePatientDateOfBirth">@Html.TextRegion(TextRegionConstants.PatientsDateOfBirthIsDifferent)</label>
                    </div>
                </div>
                @Html.HiddenFor(m => m.ShowPatientDateOfBirth)
                @Html.HiddenFor(m => m.RequirePatientDateOfBirth)
                <div class="col-sm-9 col-xs-8" v-show="ShowPatientDateOfBirth">
                    @Html.LabelFor(m => m.PatientDateOfBirthMonth)
                    <div class="date-of-birth">
                        @Html.VueDropDownListFor(m => m.PatientDateOfBirthMonth, Dates.MonthsAbbreviated())
                        @Html.VueTextBoxFor(m => m.PatientDateOfBirthDay, new {type = "tel"}, "v-numbers=2")
                        @Html.VueTextBoxFor(m => m.PatientDateOfBirthYear, new {type = "tel"}, "v-numbers=4")
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="form-section">
        <div class="form-group row">
            <div class="col-xs-12">
                @Html.LabelFor(m => m.AddressStreet1)
                @Html.VueTextBoxFor(m => m.AddressStreet1)
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-12">
                @Html.VueTextBoxFor(m => m.City)
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-8 col-xs-7">
                @Html.VueStatesDropDownListFor(m => m.State)
            </div>
            <div class="col-sm-4 col-xs-5" v-if="ConfigZip.Visible">
                @Html.HiddenFor(m => m.RequireZip)
                @Html.VueTextBoxFor(m => m.Zip, new {type = "tel"}, "v-zipcode", "v-bind:data-val=RequireZip")
            </div>
        </div>
    </div>

    <div class="form-section">
        <div class="form-group row">
            <div class="col-xs-12 text-center">
                <div class="checkbox-styled">
                    @Html.VueCheckBoxFor(m => m.GuarantorAcknowledged)
                    @Html.LabelFor(m => m.GuarantorAcknowledged)
                </div>
            </div>
        </div>
    </div>

    <div class="form-section">
        @Html.ValidationSummary(Html.TextRegion(TextRegionConstants.ValidationAllFieldsRequired))
        @Html.VpValidationSummaryCustomErrors()
    </div>

    <div class="form-section text-center">
        @Html.VpButton("btnContinueRecords", Html.TextRegion(TextRegionConstants.ButtonContinue), VpButtonTypeEnum.Submit)
    </div>
}