﻿@using Ivh.Common.Web.Models.Account
@model Ivh.Common.Web.Models.RegisterAccountViewModel

@using (Html.VpForm("RegisterAccount", "Registration", FormMethod.Post, "frmRegisterAccount", new {@class = "modern-form"}, "v-on:submit=onSubmit"))
{
    <div class="form-section">
        <div class="form-group row">
            <div class="col-xs-12">
                @Html.LabelFor(m => m.Email)
                @Html.VueTextBoxFor(m => m.Email, new {autocomplete = "email"})
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-12">
                <div class="checkbox-styled">
                    <input type="checkbox" id="cbUseEmailUsername" v-model="UseEmailAsUsername"/>
                    <label for="cbUseEmailUsername">@Html.TextRegion(TextRegionConstants.EmailAsUsername)</label>
                </div>
            </div>
        </div>
        <div v-show="!UseEmailAsUsername">
            <div class="form-group row" v-show="!UseEmailAsUsername">
                <div class="col-xs-12">
                    @Html.LabelFor(m => m.Username)
                    @Html.VueTextBoxFor(m => m.Username)
                </div>
            </div>
            <div class="field-tip username-tip">@Html.GuarantorUsernameRequirements()</div>
        </div>
        <div class="form-group row">
            <div class="col-xs-12">
                @Html.VpSwitchPassword(null, "v-show-password")
                @Html.LabelFor(m => m.Password)
                @Html.VueTextBoxFor(m => m.Password, new {maxlength = ClientDto.GuarantorPasswordMaxLength}, "v-bind:type=PasswordType")
            </div>
        </div>
        <div class="field-tip password-tip">@Html.GuarantorPasswordRequirements()</div>
    </div>
    if (Model.SecurityQuestions.Any())
    {
        <div class="form-section">
            <div class="form-group row">
                <div class="col-xs-12">
                    @{
                        int index = 0;

                        foreach (SecurityQuestionViewModel securityQuestion in Model.SecurityQuestions)
                        {
                            int i = index;
                            if (i == 0)
                            {
                                @Html.LabelFor(m => Model.SecurityQuestions[i].SecurityQuestionId)
                            }
                            @Html.VueDropDownListFor(m => Model.SecurityQuestions[i].SecurityQuestionId, securityQuestion.SecurityQuestions, true, null, "v-unique-selection")
                            @Html.VueTextBoxFor(m => Model.SecurityQuestions[i].Answer, new {autocomplete = "off"})
                            index++;
                        }
                    }
                </div>
            </div>
        </div>
    }
    <div class="form-section">
        <div class="field-tip payment-methods-tip">@Html.TextRegion(TextRegionConstants.RegistrationPaymentMethodsTip)</div>
        @if (Html.InMobile())
        {
            <section id="section-payment-methods"></section>
        }
        else
        {
            <section id="section-paymentmethods"></section>
        }
    </div>
    <div class="form-section">
        @Html.ValidationSummary(Html.TextRegion(TextRegionConstants.ValidationAllFieldsRequired))
        @Html.VpValidationSummaryCustomErrors()
    </div>
    <div class="form-section text-center">
        @Html.VpButton("btnContinueAccount", Html.TextRegion(TextRegionConstants.ButtonContinue), VpButtonTypeEnum.Submit)
    </div>
}