﻿<div id="modalSampleStatement" class="modal modal-vcenter fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-body text-center">
                <button type="button" class="btn btn-icon" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <img src="/Content/client/sample-statement.jpg"/>
            </div>
        </div>
    </div>
</div>