﻿@using Ivh.Common.VisitPay.Constants
@model Ivh.Common.Web.Models.RegisterTermsViewModel

@using (Html.VpForm("Register", "Registration", FormMethod.Post, "frmRegisterTerms", new { @class = "modern-form" }, "v-on:submit=onSubmit"))
{
    <div class="form-section">
        <div class="terms-box">
            <p>@Html.TextRegion(TextRegionConstants.RegistrationESignTermsPrompt)</p>
            <p class="text-center">
                <button type="button" class="btn btn-accent btn-outline" data-href="#EsignAct">@Html.TextRegion(TextRegionConstants.RegistrationESignTerms)</button>
            </p>
            <hr />
            <div class="checkbox-styled">
                @Html.VueCheckBoxFor(m => m.EsignTermsAgreed)
                @Html.LabelFor(m => m.EsignTermsAgreed)
            </div>
        </div>
    </div>
    <div class="form-section">
        <div class="terms-box">
            <p>@Html.TextRegion(TextRegionConstants.RegistrationUnderstandHowAccountWorks)</p>
            <p class="text-center">
                <button type="button" class="btn btn-accent btn-outline" data-href="#TermsOfUse">@Html.TextRegion(TextRegionConstants.TermsOfUse)</button>
            </p>
            <hr />
            <div class="checkbox-styled">
                @Html.VueCheckBoxFor(m => m.TermsOfUseAgreed)
                @Html.LabelFor(m => m.TermsOfUseAgreed, Html.TextRegion(TextRegionConstants.RegistrationReadAndAcceptClientTermsOfUse))
            </div>
        </div>
    </div>
    <div class="form-section">
        @Html.ValidationSummary(Html.TextRegion(TextRegionConstants.ValidationAllFieldsRequired))
        @Html.VpValidationSummaryCustomErrors()
    </div>
    <div class="form-section text-center">
        @Html.VpButton("btnContinueTerms", Html.TextRegion(TextRegionConstants.ButtonCompleteRegistration), VpButtonTypeEnum.Submit)
    </div>
}