﻿@using Ivh.Common.VisitPay.Constants
@model Ivh.Web.Patient.Models.Registration.RegistrationSummaryViewModel
<section id="section-registersummary">

    <div class="modal-text-large">@Html.TextRegion(TextRegionConstants.ThankYouForRegistering)</div>


    @Html.Raw(Model.SummaryText.ContentBody)
    @if (Model.SsoText != null && !string.IsNullOrEmpty(Model.SsoText.ContentBody))
    {
        @Html.Raw(Model.SsoText.ContentBody)
    }

    <div class="text-center">

        <div id="step4spinner">
            <div style="line-height: 32px; top: 0;">
                <img src="/Content/Images/loading.gif" alt=""/>
            </div>
            <div class="modal-text-medium">
                @Html.TextRegion(TextRegionConstants.SettingUpAccountMessage)
            </div>
        </div>

        <div class="modal-footer text-center">
            <div style="position: relative">
                <a style="visibility: hidden" href="@Url.Action("Index", "Home")" role="button" class="btn btn-primary btn-lg" title="@Html.TextRegion(TextRegionConstants.GoToMyAccount)" id="btnGoToApplication">@Html.TextRegion(TextRegionConstants.GoToMyAccount)</a>
            </div>
        </div>

    </div>

</section>