﻿@using Ivh.Common.VisitPay.Constants
@model Ivh.Web.Patient.Models.Registration.RegistrationWelcomeViewModel

@{
    Layout = "~/Views/Shared/_LayoutPublicNoMenu.cshtml";
}

<section id="section-register">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <steps-component></steps-component>
            <keep-alive>
                <router-view v-on:records-complete="onRecordsComplete"
                             v-on:account-ready="onAccountReady"
                             v-on:account-complete="onAccountComplete"
                             v-on:terms-complete="onTermsComplete">
                </router-view>
            </keep-alive>
        </div>
    </div>
</section>

@section scripts {
    @Html.Partial("_StepsComponent")
    @Html.Partial("_RegisterSettings")
    @Scripts.Render("~/bundles/scripts/vuejs", BundleConstants.CommonPaymentMethods, "~/bundles/scripts/registration/register")
}

@section modals {
    @Html.Partial("_RegisterSampleStatement")
    @Html.Partial("_RegistrationTimer")
    
    <div id="modalRegisterStep0" class="modal fade modern-modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-piwik-click data-piwik-event-category="Registration" data-piwik-event-name="Start Registration (step 0)"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    @Html.Partial("_RegisterStep0",Model)
                </div>
                <div class="modal-footer text-center">
                    <button id="btnStartRegistration" type="button" class="btn btn-primary" data-dismiss="modal" data-piwik-click data-piwik-event-category="Registration" data-piwik-event-name="Start Registration (step 0)">@Html.TextRegion(TextRegionConstants.StartRegistration)</button>
                </div>
            </div>
        </div>
    </div>

    <div id="modalRegisterSummary" class="modal fade modern-modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-body"></div>
        </div>
    </div>
</div>


}