﻿@using Ivh.Common.VisitPay.Strings
@if (IsBuildBannerVisible)
{
    <div class="alert alert-warning" id="build-banner" style="position: fixed; left: 0; top: 0; z-index: 99999999; padding: 7px;">
        <span>Build Version: @BuildVersion</span>
        @if (BuildDateTime.Day != DateTime.Today.Day)
        {
            <span>Build Date: @BuildDateTime.ToString(Format.DateTimeFormat) (@((DateTime.UtcNow - BuildDateTime).TotalHours.ToString("0")) hour(s) old)</span>
        }
        <span>&nbsp; [ <a href="javascript:;">hide</a> ]</span>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#build-banner a').on('click', function () {
                $.post('/Payment/HideBuildBanner');
                $('#build-banner').hide();
            });
        });
    </script>
}
