﻿@using Ivh.Common.VisitPay.Constants
<div class="modal fade" id="TimeoutWarning" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center">@Html.TextRegion(TextRegionConstants.GuestPayYourSessionIsAboutToExpire)</h4>
            </div>
            <div class="modal-body text-center">
                <p>
                    @Html.Raw(Html.TextRegion(TextRegionConstants.SessionExpiresIn, new Dictionary<string, string> 
                    { 
                        { "[[TimeRemaining]]", "<span id=\"timeRemaining\"></span>" }
                    }))
                </p>
                <p>@Html.TextRegion(TextRegionConstants.GuestPayDoYouWantToContinue)</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-primary" data-dismiss="modal">@Html.TextRegion(TextRegionConstants.GuestPayButtonContinue)</button>
            </div>
        </div>
    </div>
</div>