﻿@using System.Globalization
@using System.Threading
@using Ivh.Application.Settings.Common.Dtos
@{
    Layout = null;
    ThemeStylesheet = "/theme-guestpay.scss";
    
    string homeText = Html.TextRegion(TextRegionConstants.GuestPayHome);
    string legalText = Html.TextRegion(TextRegionConstants.GuestPayLegalAgreements);
    string faqsText = Html.TextRegion(TextRegionConstants.GuestPayFAQs);
    string contactText = Html.TextRegion(TextRegionConstants.GuestPayContactUs);
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@ClientDto.GuestPayClientBrandName</title>
    <link rel="icon" href="/content/client/favicon.png" />
    <link href="@ThemeStylesheet?v=@ThemeStylesheetHash" rel="stylesheet" />
    @RenderSection("css", false)
</head>
<body>
    <div id="header">
        <div>
            <div class="header-wrapper">
                <a class="logo" href="/"></a>
                <div class="header-buttons">
                    @if (ClientDto.LanguageGuestPaySupported.Count > 1)
                    {
                        CultureInfo threadCulture = Thread.CurrentThread.CurrentUICulture;
                        string selectedLocale = ClientDto.LanguageGuestPaySupported.Single(x => x.Name == threadCulture.Name).NativeName;
                        List<ClientCultureInfoDto> availableLocales = ClientDto.LanguageGuestPaySupported.Where(x => selectedLocale != x.NativeName).ToList();

                        <div class="btn-group">
                            <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="glyphicon glyphicon-globe"></i>&nbsp;
                                <span id="selected-locale">@selectedLocale</span>
                                &nbsp;<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                @foreach (ClientCultureInfoDto locale in availableLocales)
                                {
                                    <li>
                                        <a class="localization-option" href="#" data-piwik-click data-piwik-event-category="Locale Changed" data-piwik-event-name="@locale.Name" data-locale="@locale.Name" data-locale-display="@locale.NativeName">@locale.NativeName</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    }

                    @if (ClientDto.IsVisitPayEnabled)
                    {
                        IDictionary<string, string> replacementValues = new Dictionary<string, string>
                                {
                                    {"[[ClientBrandName]]", @ClientDto.GuestPayClientBrandName}
                                };
                        <a class="btn btn-primary"
                           href="@string.Format(ClientDto.AppGuarantorRegistrationUrl, "")"
                           target="_blank"
                           title="@Html.CmsRegionWithAdditionalValues(CmsRegionEnum.GuestPayCreateAccountTitle, replacementValues)"
                           data-piwik-click data-piwik-event-category="Guest Pay"
                           data-piwik-event-name="Create an Account link in the header">
                            @Html.TextRegion(TextRegionConstants.GuestPayButtonAccountCreate)
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
    <div id="topbar">
        <div>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navTop">
                            <i class="glyphicon glyphicon-menu-hamburger"></i>&nbsp;@Html.TextRegion(TextRegionConstants.GuestPayMenu)
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="navTop">
                        <ul class="nav navbar-nav">
                            <li><a href="/" title="@homeText"><span class="glyphicon glyphicon-home"></span>@homeText</a></li>
                            <li><a href="@Url.Action("FAQs" ,"Content")" title="@faqsText"><span class="glyphicon glyphicon-question-sign"></span>@faqsText</a></li>
                            <li><a href="@Url.Action("Index", "Legal")" title="@legalText"><span class="glyphicon glyphicon-hourglass"></span>@legalText</a></li>
                            <li><a href="@Url.Action("ContactUs", "Content")" title="@contactText"><span class="glyphicon glyphicon-earphone"></span>@contactText</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div id="wrapper">
        <div>
            @if (IsSectionDefined("breadcrumb"))
            {
                <div class="breadcrumb">
                    <span>@ClientDto.GuestPayClientBrandName <em class="glyphicon glyphicon-chevron-right"></em></span> @RenderSection("breadcrumb", false)
                </div>
            }
            @RenderBody()
        </div>
    </div>
    <div id="footer">
        <div>
            <div class="row">
                <ul class="col-xs-12 col-sm-7">
                    <li><a href="@Url.Action("Index", "Legal")" title="@legalText">@legalText</a></li>
                    <li><a href="@Url.Action("FAQs", "Content")" title="@faqsText">@faqsText</a></li>
                    <li><a href="@Url.Action("ContactUs", "Content")" title="@contactText">@contactText</a></li>
                </ul>
                <div class="col-xs-12 col-sm-5">
                    <div class="visitpay"></div>
                    <div class="payment">
                        <img src="/Content/Images/trust-commerce.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/scripts/base")
    @Html.Partial("~/Views/Shared/_JavascriptNamespaces.cshtml")
    @Scripts.Render("~/bundles/scripts/vpbase")
    @RenderSection("scripts", false)
    @RenderSection("modals", false)
    @Html.Partial("~/Views/Shared/_BuildBanner.cshtml")
    <style id="antiClickjack">
        body {
            display: none !important;
        }
    </style>
    <script type="text/javascript">
        if (self === top) {
            var antiClickjack = document.getElementById("antiClickjack");
            antiClickjack.parentNode.removeChild(antiClickjack);
        } else {
            top.location = self.location;
        }

        //VP-2452 - localization
        $(document).ready(function () {
            $('.localization-option').click(function () {
                //Update the locale in the dropdown
                var localeDisplay = $(this).data('localeDisplay');
                $('#selected-locale').text(localeDisplay);

                //Get selected locale and make call to update it
                var selectedLocale = $(this).data('locale');

                $.blockUI();

                //Change the locale on the server, then reload the page
                $.get('@Url.Action("ChangeLocale", "Account")?locale=' + selectedLocale)
                    .done(function (data) {
                        if (data != null && data === true) {
                            location.reload();
                        }
                    });
            });
        });
    </script>
    @Html.Partial("_Analytics")
</body>
</html>