﻿@{
    ThemeStylesheet = "/theme-print.scss";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <style type="text/css">@Html.Raw(ThemeStylesheetRaw)</style>
</head>
<body>
    <header>
        <div>
            <img src="@ServerUrl/Content/Client/logo.png" />
        </div>
    </header>
    @RenderBody()
</body>
</html>
