﻿@model Ivh.Common.Web.Models.Shared.CmsViewModel
@{
    Layout = "~/Views/Shared/Print.cshtml";
}

<section id="section-content">
    <h1>@Html.Raw(Model.ContentTitle)</h1>
    @Html.Raw(Model.ContentBody)
</section>
