﻿@using Ivh.Common.Base.Constants
@using Ivh.Common.VisitPay.Constants
@model Ivh.Common.Web.Models.Payment.CardAccountViewModel
@{
    ViewBag.Title = "Proof Of Concept";
}

<h2>Proof Of Concept</h2>
<div>
    <input type="text" id="panUrl" placeholder="PAN Url" />
</div>
<div>
    <button type="button" id="loadPan">Load PAN</button>
</div>
<div>
    <button type="button" id="testPan">Test PAN Message</button>
</div>


<p>For security purposes, we do not store payment account information. To make changes, you will need to re-enter your security code.</p>
@Html.ValidationSummary(Html.TextRegion(TextRegionConstants.ValidationCorrectErrors))
@Html.HiddenFor(m => m.PaymentMethodId)
<div class="form-group row">
    <div class="col-xs-8 col-xs-push-4">
        <img src="~/Content/Images/visa.png" alt="Visa" />
        <img src="~/Content/Images/mastercard.png" alt="MasterCard" />
        <img src="~/Content/Images/amex.png" alt="American Express" />
        <img src="~/Content/Images/discover.png" alt="Discover" />
    </div>
</div>
<div class="form-group row">
    <div class="col-xs-4">@Html.VpLabelFor(m => m.NameOnCard):</div>
    <div class="col-xs-8">@Html.VpTextBoxFor(m => m.NameOnCard, new { data_bind = "value: NameOnCard" })</div>
</div>
<div class="form-group row card-number">
    <div class="col-xs-4">@Html.VpLabelFor(m => m.BillingId, new { @class = "required" }):</div>
    <div class="col-xs-8">
        <!-- ko if: CardNumber.IsEnabled -->
        <iframe id="frame" src="about:blank" class="form-control secure-pan-frame"></iframe>
        <!-- /ko -->
        <!-- ko ifnot: CardNumber.IsEnabled -->
        X-<span data-bind="text: LastFour"></span>
        <p>PaymentMethodTypeId = <span id="result"></span></p>
        <!-- /ko -->
    </div>
</div>
<div class="form-group row">
    <div class="col-xs-4">@Html.VpLabelFor(m => m.ExpirationMonth):</div>
    <div class="col-xs-8 col-group">
        <div class="col-xs-4">@Html.DropDownListFor(m => m.ExpirationMonth, Model.Months, "--Month--", new { @class = "form-control", data_bind = "value: ExpirationMonth" })</div>
        <div class="col-xs-4">@Html.DropDownListFor(m => m.ExpirationYear, Model.Years, "--Year--", new { @class = "form-control", data_bind = "value: ExpirationYear" })</div>
    </div>
</div>
<div class="form-group row">
    <div class="col-xs-4">
        @Html.VpLabelFor(m => m.CardCode, new { data_bind = "text: 'Security Code (' + CardCode.Text() + ')'" }):
        <a class="glyphicon glyphicon-question-sign" href="javascript:;" id="aCardCodeHelp" tabindex="-1" style="margin-left: 12px;"></a>
    </div>
    <div class="col-xs-2">@Html.VpTextBoxFor(m => m.CardCode, new { data_bind = "value: CardCode, attr: { maxlength: CardCode.MaxLength, placeholder: CardCode.Text }" })</div>
</div>
<div class="form-group row" id="useAccountAddress">
    <div class="col-xs-offset-4 col-xs-8"><input type="checkbox" id="cbUseAccountAddress" /> <label for="cbUseAccountAddress">Use My Account Address</label></div>
</div>
<div class="form-group row">
    <div class="col-xs-4">@Html.VpLabelFor(m => m.AddressLine1):</div>
    <div class="col-xs-8">@Html.VpTextBoxFor(m => m.AddressLine1, new { data_bind = "value: AddressLine1" })</div>
</div>
<div class="form-group row">
    <div class="col-xs-offset-4 col-xs-8">@Html.VpTextBoxFor(m => m.AddressLine2, new { data_bind = "value: AddressLine2" })</div>
</div>
<div class="form-group row">
    <div class="col-xs-offset-4 col-xs-8 col-group">
        <div class="col-xs-4">@Html.VpTextBoxFor(m => m.City, new { data_bind = "value: City" })</div>
        <div class="col-xs-5">@Html.VpStatesDropDownListFor(m => m.State, new { @class = "form-control", data_bind = "value: State" })</div>
        <div class="col-xs-3">@Html.VpTextBoxFor(m => m.Zip, new { data_bind = "value: Zip" })</div>
    </div>
</div>
<div class="form-group row">
    <div class="col-xs-4">@Html.VpLabelFor(m => m.AccountNickName):</div>
    <div class="col-xs-8">@Html.VpTextBoxFor(m => m.AccountNickName, new { data_bind = "value: AccountNickName" })</div>
</div>
<div class="form-group row">
    <div class="col-xs-offset-4 col-xs-8">
        @{
            object attributes = new { data_bind = "enable: IsPrimary.IsEnabled, checked: IsPrimary" };
            if (Model.IsPrimary)
            {
                attributes = new { disabled = "disabled", data_bind = "checked: IsPrimary" };
            }
        }
        @Html.CheckBoxFor(m => m.IsPrimary, attributes)
        @Html.LabelFor(m => m.IsPrimary)
        <a class="glyphicon glyphicon-question-sign checkbox-tip" href="javascript:;" tabindex="-1" style="margin-left: 6px;" data-toggle="tooltip" title="The primary payment method is used for all recurring Finance Plan payments and as a default for all manually scheduled payments."></a>
    </div>
</div>

@section Scripts
{
    <script language="javascript">
        $(document).ready(function() {
            window.addEventListener("message", function(event) {
                var origin = event.origin || event.originalEvent.origin;
                //if (origin !== "")
                //  return;
                var source = event.source;
                if (event.data && event.data.notification) {
                    if (event.data.notification.PaymentMethodTypeId) {
                        $('#result').text(event.data.notification.PaymentMethodTypeId);
                    } else {
                        $('#result').text("unkown");
                    }
                    return;
                }
                if (event.data && event.data.focusEvent) {
                    if (event.data.focusEvent.hasFocus) {
                        $('.secure-pan-frame').addClass("focus");
                    } else {
                        $('.secure-pan-frame').removeClass("focus");
                    }
                    return;
                }
                if (event.data && event.data.errors) {
                    $('.secure-pan-frame').addClass("input-validation-error");
                } else {
                    $('.secure-pan-frame').removeClass("input-validation-error");
                }
                alert("QATools:" + JSON.stringify(event.data));
            }, false);

            $('#loadPan').on('click', function() {
                var panUrl = $('#panUrl').val();
                if (panUrl) {
                    $('#frame').attr('src', panUrl);
                }
                $('#compareFrame').attr('src', 'http://localhost:21402/pan/compare');
            });

            $('#testPan').on('click', function() {
                var panUrl = $('#panUrl').val();
                var name = $('input[name="NameOnCard"]').val();
                var cvv = $('input[name="CardCode"]').val();
                var month = $('#ExpirationMonth').val();
                if (month.length < 2)
                    month = '0' + month;
                var exp = month + $('#ExpirationYear').val();
                if (!name || !cvv || exp.length != 4) {
                    alert("missing values (name, cvv, exp)");
                    return;
                }
                
                if (panUrl) {
                    var iframeWin = document.getElementById("frame").contentWindow;
                    iframeWin.postMessage({ 'cvv': cvv, 'exp': exp, 'name': name }, panUrl);
                }
            });
        });
    </script>
}
