﻿@using Ivh.Application.Core.Common.Dtos
@model IList<ExternalLinkDto>

@if (Model.Any())
{
    foreach (ExternalLinkDto link in Model)
    {
        <div class="widget-container widget-link">
            <a class="header" href="@link.Url" target="_blank">
                <span class="icon">
                    @if (!string.IsNullOrEmpty(link.Icon))
                    {
                        <img src="@link.Icon" alt="@link.Text" />
                    }
                </span>
                <span class="text">@link.Text</span>
            </a>
        </div>
    }
}