﻿@using Ivh.Common.Base.Utilities.Extensions
@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.VisitPay.Enums
@model Ivh.Web.Patient.Models.Sidebar.SidebarViewModel

<div class="balance" data-balance="@Model.TotalBalance">
    <h6>@Html.TextRegion(TextRegionConstants.AmountDue)</h6>
    <div>@Model.TotalBalance.FormatCurrency()</div>
</div>
<a href="@Url.Action("ArrangePayment", "Payment")" class="btn btn-primary call-to-action-button" title="@Html.TextRegion(TextRegionConstants.MakePaymentOrArrangeFinancePlan)" id="aPayBill">
    <em class="vpicon-cards"></em>
    <span>@Html.TextRegion(TextRegionConstants.MakePayment)</span>
</a>
@if (Model.ShowCreateFinancePlanAction)
{
    <a href="@Url.Action("ArrangePayment", "Payment", new {paymentOption = (int)PaymentOptionEnum.FinancePlan})" class="btn btn-primary call-to-action-button" title="@Html.TextRegion(TextRegionConstants.CreateFinancePlanForBalance)" id="aCreateFinancePlan">
        <em class="vpicon-recurring-money"></em>
        <span>@Html.TextRegion(TextRegionConstants.PaymentPlanOptions)</span>
    </a>
}