﻿@import '../_variables.scss';
@import '../_mixins-common.scss';

html.layout-offline {

    $width: 600px;

    #content {

        a {
            text-decoration: none;
        }
        //Extend .flex-body from _layout-alt.scss
        .flex-body {
            align-items: center;
        }

        .box {
            margin-top: 0;
        }

        #offline-finance-plan {
            @include offline-finance-plan();

            .checkbox-styled {
                a {
                    text-decoration: underline;
                }
            }
        }

        #section-offline-login {
            margin: auto;
            max-width: 360px;
            position: relative;

            .login-box {
                padding-bottom: 25px;
            }

            .verify-title {
                font-family: $font-family-alt;
                font-size: ceil($font-size-base * 1.15);
                margin: 0 0 15px 0;
            }

            .verify-text {
                margin: 0 0 15px 0;
            }

            .input-validation-error {
                background: #ffebeb;
            }

            .validation-summary-errors {
                border: 0 !important;
                padding: 0;

                ul {
                    display: block !important;
                    list-style: none;
                }
            }

            .checkbox-styled {
                &.inverse {
                    input[type="checkbox"]:checked ~ label {
                        color: white;

                        &:after {
                            border-color: white;
                        }
                    }
                }
            }
        }

        .create-account {
            padding: 0 75px 0 75px;

            .hidden-create-account-item {
                display: none;
            }

            .text {
                text-align: justify;

                p {
                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }
            }
            // comes in with CMS region -367
            ul {
                width: 90%;
                margin: auto auto 10px auto;
            }

            @media (max-width: $screen-tablet) {
                padding: 0 30px 0 30px;
            }


            @media (max-width: $screen-phone) {
                padding: 0 15px 0 15px;

                ul {
                    width: 100%;
                    padding: 0 0 0 15px;
                }
            }
        }

        .offline-finance-plan-receipt-container {
            width: 100%;
            max-width: 450px;
        }

        #section-paymentmethods {
            &.change-primary {
                input[type=radio] {
                    display: none;
                }
            }

            #section-paymentmethodslist {
                max-width: 540px;

                .account-container {
                    .description {
                        display: none;
                    }
                }
            }
        }

        #offline-index {
            max-width: $width;

            .welcome-text {
                width: 100%;
            }
            //Don't show the logoff link for create account when on the offline index page, since it would kick the user out
            .create-account-logoff-link {
                display: none;
            }
        }

        #offline-statements {
            margin-top: 30px;
            width: 100%;

            #section-statements {
                padding: 0 7px 0 7px;
            }

            .statement-list {
                margin: auto;
                position: relative;

                .col-statement-type {
                    display: none;
                }

                .dropdown > button {
                    width: 200px;
                }

                .col {
                    flex-grow: 1;
                }

                .col-dropdown {
                    text-align: right;
                }

                @media (max-width: $screen-phone) {
                    .grid-row {
                        flex-direction: column;

                        .dropdown,
                        .dropdown-toggle {
                            width: 100% !important;
                        }

                        .dropdown {
                            margin-bottom: 15px;
                        }

                        .btn-download {
                            display: block;
                            float: none !important;
                            margin: 15px auto auto auto;
                            width: 100px;
                        }
                    }
                }
            }

            .next-statement {
                em {
                    float: none;
                    margin-right: 3px;
                    top: 3px;
                }

                font-style: italic;
                text-align: center;
            }
        }

        #offline-make-payment {
            width: 100%;

            #payment-submit {
                padding: 0 7px 0 7px;
            }

            .financeplan-grid {
                table-layout: auto;
                width: 100%;

                td {
                    cursor: default !important;
                }

                @media (max-width: $screen-phone) {
                    table-layout: auto;

                    .col-date, .col-past-due {
                        display: none;
                    }
                }
            }

            .row-form {
                // override col-xs-6, as this is a shared component
                > .col-xs-6 {
                    width: 60%;
                }

                > .col-xs-offset-3 {
                    margin-left: 16.67%;
                }

                @media (max-width: $screen-phone) {
                    > .col-xs-6 {
                        width: 100%;
                    }

                    > .col-xs-offset-3 {
                        margin-left: 0;
                    }
                }
            }

            .payment-amount {

                div {
                    height: 38px;

                    span {
                        display: inline-block;
                        font-size: 28px;
                        line-height: 38px;
                        font-weight: lighter;
                    }

                    .form-control {
                        float: left;
                        display: inline-block;

                        &.numeric {
                            width: 87px;
                        }
                    }

                    &:after {
                        clear: both;
                        content: '';
                    }
                }

                .vpicon-question {
                    display: inline-block;
                    line-height: 38px;
                    margin-left: 8px;
                }

                @media (max-width: $screen-phone) {
                    > label {
                        white-space: nowrap;
                    }

                    .vpicon-question {
                        display: none;
                    }
                }
            }

            .payment-date {

                label {
                    text-align: right;
                }

                div.readonly-date {
                    line-height: 38px;
                }
            }

            .payment-method {
                position: relative;

                .payment-method-display {
                    float: left;
                    line-height: 32px;

                    img {
                        top: 5px;
                    }
                }

                .btn-outline {
                    font-size: $font-size-smaller;
                    float: right;
                    height: 32px !important;
                    line-height: 28px !important;

                    &:after {
                        clear: both;
                        content: '';
                        display: table;
                    }
                }

                .payment-method-display {
                    padding-left: 0;

                    strong {
                        padding-left: 32px;
                    }
                }
            }

            .vpicon-question {
                color: $input-border;
                cursor: pointer;
                font-size: 21px;

                &:hover {
                    color: $link-hover-color;
                }
            }
        }

        #offline-payment-methods {
            margin-top: 30px;
            width: 100%;
        }

        #reconfigure-finance-plan {
            max-width: 386px;

            .flex-row {
                flex-direction: column;

                .col-main {
                    width: 100%;
                }

                .col-left {
                    width: 100%;

                    .interest-rate-container {
                        display: none;
                    }
                }

                .col-footer {
                    display: block;
                    margin-top: 30px;
                }
            }
        }
    }

    #modalOfflinePaymentReceipt {
        .alert {
            background: none !important;
            border: 0 !important;
            color: $text-color;
            text-align: left !important;
        }
    }
}
