﻿.color-palette-swatch {
    min-height: 1px;
    padding: 10px;
    margin: 1px;
}

.color-palette-selector {
    margin-left: 10px;
    margin-bottom: 10px;
}

#palette-preview {
    border: 1px solid gray;
    padding: 30px 0 40px 60px;
    width: 700px;
    margin-bottom: 50px;
}

.palette-preview-container {
    margin-top: 40px;
}

.button-container {
    margin-top: 30px;
    text-align: center
}

.formContainer {
    margin-top: 40px
}
