﻿@import '../_variables.scss';

#section-guarantorattributechanges {
    .jqGridFilter {
        > .row {
            > div {
                &:nth-of-type(1) {
                    width: 140px;
                }

                &:nth-of-type(2) {
                    width: 140px;
                }

                &:nth-of-type(3) {
                    width: 140px;
                }

                &:nth-of-type(4) {
                    width: 140px;
                }

                &:nth-of-type(5) {
                    width: 380px;
                }

                &:nth-of-type(6) {
                    width: 63px;
                }
            }
        }
    }

    .ui-jqgrid {

        th#jqGrid_Actions div {
            text-align: center;
        }

        .validmatch + span {
            padding: 0 0 0 15px;
        }

        .matchField {
            margin: -1px -4px -1px -4px;

            &.discrepancy {
                background: $vp-discrepancy;
            }

            > div {
                display: block;
                overflow: hidden;
                padding: 2px 4px 2px 4px;
                -ms-text-overflow: ellipsis;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                white-space: nowrap;

                &:first-of-type {
                    border-bottom: 1px solid $vp-gray-medium;
                }
            }
        }
    }
}
