﻿#section-supportrequests {
    .jqGridFilter {
        > .row {
            > div {
                &:nth-of-type(1) {
                    width: 146px;
                }

                &:nth-of-type(2) {
                    width: 143px;
                }

                &:nth-of-type(3) {
                    width: 143px;
                }

                &:nth-of-type(4) {
                    width: 200px;
                }

                &:nth-of-type(5) {
                    width: 143px;
                }

                &:nth-of-type(6) {
                    width: 164px;
                }

                &:nth-of-type(7) {
                    width: 63px;
                }
            }
        }
    }

    .jqgrow {

        .glyphicon-flag {
            font-size: 14px;
            position: absolute;
            right: 35px;
            top: 2px;
        }

        .glyphicon-paperclip {
            position: absolute;
            right: 20px;
            top: 4px;
        }

        .glyphicon-envelope {
            font-size: 14px;
            position: absolute;
            right: 0;
            top: 2px;
        }

        .glyphicon-pencil {
            font-size: 14px;
            position: absolute;
            right: 0;
            top: 2px;
        }
    }
}
