﻿@import '../_variables.scss';

#section-createvpguarantor {

    .patient-dob {
        margin-top: 15px;
        margin-bottom: 10px;

        .checkbox-styled {
            label {
                font-size: 12px !important;
                white-space: nowrap;
            }
        }
    }

    #frmCreateGuarantor {
        margin-top: 15px;
    }
}
