﻿@import '../_variables.scss';
@import '../../Bootstrap/css/bootstrap/_mixins.scss';
@import '../_mixins.scss';

#section-guarantoraccount {
    margin-bottom: 15px;

    > .account-details {
        border-color: $vp-gray-light;
        border-style: solid;
        border-width: 1px 0 0 1px;
        margin: 9px 0 0 0;

        > .row {
            border-color: $vp-gray-light;
            border-style: solid;
            border-width: 0 0 1px 0;

            > div {
                border-color: $vp-gray-light;
                border-style: solid;
                border-width: 0 1px 0 0;
                line-height: 30px;

                > .account-closed {
                    margin: 0 0 0 0;
                    font-size: 12px;
                    color: $state-danger-text;
                }

                > .account-closed-multiline {
                    line-height: 13px;
                }
            }
        }

        .account-actions {
            margin-top: 3px;
            margin-right: -12px;
            width: 200px;
        }

        .account-email {
            @include text-overflow();
        }
    }
}

#section-guarantordata {
    padding-top: 15px;

    > .nav-tabs {
        > li {
            > a {
                padding: 4px 15px 4px 15px !important;

                > span {
                    display: block;
                    height: 5px;
                    text-align: center;
                }
            }
        }
    }

    .jqGridFilter.container > .alert {
        top: -91px;
    }

    #section-financeplans {

        .jqGridFilter {
            margin-bottom: 0;

            > div {
                > div {
                    &:nth-of-type(1) {
                        width: 146px;

                        .btn-group {
                            padding-top: 3px;
                            vertical-align: top;
                            width: 100%;

                            button.multiselect {
                                width: 100%;
                            }
                        }
                    }

                    &:nth-of-type(2) {
                        width: 143px;
                    }

                    &:nth-of-type(5) {
                        padding-left: 351px;
                        position: relative;
                        width: 409px;

                        > #btnFinancePlansExport {
                            margin-top: 6px;
                        }
                    }

                    .validation-summary-errors {
                        > span {
                            padding-bottom: 0;
                        }

                        > ul {
                            display: none;
                        }
                    }
                }

                &:nth-of-type(2) {
                    div {
                        &:nth-of-type(3) {
                            width: 152px;
                        }

                        &:nth-of-type(4) {
                            padding-right: 17px;
                            width: 152px;
                        }
                    }
                }

                &:nth-of-type(3), &:nth-of-type(4) {
                    div {
                        &:nth-of-type(3) {
                            width: 80px;
                        }

                        &:nth-of-type(4) {
                            width: 224px;

                            .input-group.date {
                                float: left;
                                margin: 3px 8px 0 0;
                                width: 96px;
                            }
                        }
                    }
                }
            }
        }

        tr.ui-jqgrid-labels {
            > th {
                &:nth-of-type(1),
                &:nth-of-type(2),
                &:nth-of-type(4),
                &:nth-of-type(5),
                &:nth-of-type(6),
                &:nth-of-type(7),
                &:nth-of-type(8),
                &:nth-of-type(9),
                &:nth-of-type(10),
                &:nth-of-type(11) {
                    > div {
                        line-height: 18px;

                        > span.s-ico {
                            > .ui-icon-asc {
                                margin-top: -1px;
                            }

                            > .ui-icon-desc {
                                margin-top: 5px;
                            }
                        }
                    }
                }

                &:nth-of-type(1),
                &:nth-of-type(2) {
                    > div {
                        text-align: center;
                    }
                }
            }
        }
    }

    #section-visits {
        .jqGridFilter {
            margin-bottom: 0;

            > .row {
                > div {
                    &:nth-of-type(1) {
                        width: 146px;

                        .btn-group {
                            padding-top: 2px;
                            vertical-align: top;
                            width: 100%;

                            button.multiselect {
                                width: 100%;
                                line-height: 22px;
                            }
                        }
                    }

                    &:nth-of-type(2) {
                        width: 143px;
                    }

                    &:nth-of-type(3) {
                        width: 650px;

                        .input-group.date {
                            float: left;
                            margin: 3px 8px 0 0;
                            width: 96px;
                        }
                    }

                    &:nth-of-type(4) {
                        position: relative;
                        width: 63px;

                        > #btnVisitsExport {
                            margin-top: 6px;
                        }
                    }

                    .validation-summary-errors {
                        > span {
                            padding-bottom: 0;
                        }

                        > ul {
                            display: none;
                        }
                    }
                }
            }
        }

        .jqgrow {
            a.view-transaction-details {
                display: block;
                @include text-overflow();
            }
        }

        tr.ui-jqgrid-labels {
            > th {
                &:nth-of-type(6),
                &:nth-of-type(7),
                &:nth-of-type(8),
                &:nth-of-type(9),
                &:nth-of-type(10) {
                    > div {
                        line-height: 18px;

                        > span.s-ico {
                            > .ui-icon-asc {
                                margin-top: -1px;
                            }

                            > .ui-icon-desc {
                                margin-top: 5px;
                            }
                        }
                    }
                }

                &:nth-of-type(10),
                &:nth-of-type(11) {
                    .ui-jqgrid-sortable {
                        cursor: default !important;
                    }
                }
            }
        }
    }

    #section-transactions {
        .jqGridFilter {
            margin-bottom: 0;

            > .row {
                > div {
                    &:nth-of-type(1) {
                        width: 143px;
                    }

                    &:nth-of-type(2) {
                        width: 796px;

                        .input-group.date {
                            float: left;
                            margin: 3px 8px 0 0;
                            width: 96px;
                        }
                    }

                    &:nth-of-type(3) {
                        position: relative;
                        width: 63px;

                        > #btnTransactionsExport {
                            margin-top: 6px;
                        }
                    }

                    .validation-summary-errors {
                        > span {
                            padding-bottom: 0;
                        }

                        > ul {
                            display: none;
                        }
                    }
                }
            }
        }

        .jqgrow {
            a.view-transaction-details {
                display: block;
                @include text-overflow();
            }
        }
    }

    #section-supporthistory {
        .jqGridFilter {
            > .row {
                > div {
                    &:nth-of-type(1) {
                        width: 146px;
                    }

                    &:nth-of-type(2) {
                        width: 143px;
                    }

                    &:nth-of-type(3) {
                        width: 650px;
                    }

                    &:nth-of-type(4) {
                        width: 63px;
                    }
                }
            }
        }

        .jqgrow .glyphicon-envelope {
            font-size: 14px;
            position: absolute;
            right: 0;
            top: 2px;
        }

        .jqgrow .glyphicon-paperclip {
            position: absolute;
            right: 24px;
            top: 4px;
        }

        .jqgrow .glyphicon-pencil {
            font-size: 14px;
            position: absolute;
            right: 0;
            top: 2px;
        }
    }

    #section-chathistory {
        .jqGridFilter {
            margin-bottom: 0;

            > div {
                > div {
                    &:nth-of-type(1) {
                        width: 146px;

                        .btn-group {
                            padding-top: 3px;
                            vertical-align: top;
                            width: 100%;

                            button.multiselect {
                                width: 100%;
                            }
                        }
                    }

                    &:nth-of-type(2),
                    &:nth-of-type(3),
                    &:nth-of-type(4) {
                        width: 143px;
                    }

                    &:nth-of-type(7) {
                        position: relative;
                        width: 63px;

                        > #btnTransactionsExport {
                            margin-top: 6px;
                        }
                    }

                    .validation-summary-errors {
                        > span {
                            padding-bottom: 0;
                        }

                        > ul {
                            display: none;
                        }
                    }
                }

                &:nth-of-type(2) {
                    div {
                        &:nth-of-type(5) {
                            width: 182px;
                        }

                        &:nth-of-type(6) {
                            width: 140px;
                        }

                        &:nth-of-type(7) {
                            padding-left: 47px;
                            width: 105px;
                        }
                    }
                }

                &:nth-of-type(3), &:nth-of-type(4) {
                    div {
                        &:nth-of-type(5) {
                            width: 80px;
                        }

                        &:nth-of-type(6) {
                            width: 284px;

                            .input-group.date {
                                float: left;
                                margin: 3px 8px 0 0;
                                width: 111px;
                            }
                        }
                    }
                }
            }
        }

        .jqgrow .glyphicon-envelope {
            font-size: 14px;
            position: absolute;
            right: 0;
            top: 2px;
        }

        .jqgrow .glyphicon-paperclip {
            position: absolute;
            right: 24px;
            top: 4px;
        }
    }

    #section-communications {
        .jqGridFilter {
            margin-bottom: 0;

            > div {
                > div {
                    &:nth-of-type(1) {
                        width: 146px;

                        .btn-group {
                            padding-top: 3px;
                            vertical-align: top;
                            width: 100%;

                            button.multiselect {
                                width: 100%;
                            }
                        }
                    }

                    &:nth-of-type(2),
                    &:nth-of-type(3),
                    &:nth-of-type(4) {
                        width: 143px;
                    }

                    &:nth-of-type(7) {
                        position: relative;
                        width: 63px;

                        > #btnTransactionsExport {
                            margin-top: 6px;
                        }
                    }

                    .validation-summary-errors {
                        > span {
                            padding-bottom: 0;
                        }

                        > ul {
                            display: none;
                        }
                    }
                }

                &:nth-of-type(2) {
                    div {
                        &:nth-of-type(5) {
                            width: 182px;
                        }

                        &:nth-of-type(6) {
                            width: 140px;
                        }

                        &:nth-of-type(7) {
                            padding-left: 47px;
                            width: 105px;
                        }
                    }
                }

                &:nth-of-type(3), &:nth-of-type(4) {
                    div {
                        &:nth-of-type(5) {
                            width: 80px;
                        }

                        &:nth-of-type(6) {
                            width: 284px;

                            .input-group.date {
                                float: left;
                                margin: 3px 8px 0 0;
                                width: 111px;
                            }
                        }
                    }
                }
            }
        }

        .jqgrow .glyphicon-envelope {
            font-size: 14px;
            position: absolute;
            right: 0;
            top: 2px;
        }

        .jqgrow .glyphicon-paperclip {
            position: absolute;
            right: 24px;
            top: 4px;
        }
    }

    #section-itemizations {
        .jqGridFilter {
            margin-bottom: 0;

            > .row {
                > div {
                    &:nth-of-type(1),
                    &:nth-of-type(2) {
                        width: 143px;
                    }

                    &:nth-of-type(3) {
                        width: 150px;
                    }

                    &:nth-of-type(4) {
                        width: 214px;

                        .input-group.date {
                            float: left;
                            margin: 3px 8px 0 0;
                            width: 96px;
                        }

                        > div {
                            &:nth-of-type(2) {
                                margin-right: 0 !important;
                            }
                        }
                    }

                    &:nth-of-type(5) {
                        width: 289px;
                    }

                    &:nth-of-type(6) {
                        width: 63px;
                    }

                    .validation-summary-errors {
                        > span {
                            padding-bottom: 0;
                        }

                        > ul {
                            display: none;
                        }
                    }
                }
            }
        }

        .ui-jqgrid-labels th:last-of-type div {
            text-align: center;
        }
    }
}

#modalAlerts {
    .modal-body {
        .alert-message-container {
            padding-bottom: 20px;

            &.action-required {
                > em {
                    color: $state-danger-text-darker;
                    top: 13px;

                    &:after {
                        @include glyphicon('\e101');
                    }
                }

                span {
                    color: $state-danger-text-darker;
                    font-weight: 600;
                }
            }

            &.welcome-alert {
                > em {
                    color: $client-accent;
                    top: 13px;

                    &:after {
                        @include glyphicon('\e123');
                    }
                }

                > span {
                    color: $client-accent;
                    font-weight: 600;
                }
            }

            &.information {
                > em {
                    top: 12px;

                    &:after {
                        @include glyphicon('\e086');
                        @include rotate(-90deg);
                        color: $vp-gray-dark;
                    }
                }
            }
        }
    }
}

#modalVisitTransactions {
    .modal-body {
        max-height: none !important;
    }

    .modal-header {
        button {
            position: relative;
            z-index: 2;
        }

        .modal-title {
            position: relative;
            z-index: 1;

            span {
                position: absolute;
                right: 70px;
                top: 0;
            }

            .export-excel {
                position: absolute;
                right: 35px;
                top: 5px;
            }
        }
    }

    .jqGridFilter {
        width: 898px;

        > .alert {
            right: 79px;
            top: 13px;
        }

        > .row {
            > div {
                &:nth-of-type(1) {
                    width: 140px;
                }

                &:nth-of-type(2) {
                    width: 675px;
                }

                &:nth-of-type(3) {
                    width: 63px;
                }
            }
        }
    }

    .ui-jqgrid-bdiv {
        height: auto !important;
        max-height: calc(100vh - 350px);
        min-height: 46px;
        overflow-y: scroll !important;
    }
}

#modalFinancePlanVisits {
    .modal-body {
        max-height: none !important;
    }

    .modal-header {
        button {
            position: relative;
            z-index: 2;
        }

        .modal-title {
            position: relative;
            z-index: 1;

            span.balance {
                position: absolute;
                right: 70px;
                top: 0;
            }

            strong {
                @include text-overflow();
                display: inline-block;
                max-width: 170px;
                vertical-align: bottom;
            }

            .export-excel {
                position: absolute;
                right: 35px;
                top: 5px;
            }
        }
    }

    .ui-jqgrid-bdiv {
        height: auto !important;
        max-height: calc(100vh - 350px);
        min-height: 46px;
        overflow-y: scroll !important;
    }
}

#modalVisitStateHistory {
    .modal-body {
        min-height: 460px;
        max-height: none !important;
    }

    .modal-header {
        button {
            position: relative;
            z-index: 2;
        }

        .modal-title {
            position: relative;
            z-index: 1;

            .export-excel {
                position: absolute;
                right: 35px;
                top: 5px;
            }
        }
    }

    .jqGridFilter {
        width: 898px;

        > .alert {
            right: 79px;
            top: 13px;
        }

        > div {
            > div {
                &:nth-of-type(1) {
                    width: 140px;

                    .btn-group {
                        padding-top: 3px;
                        vertical-align: top;
                        width: 100%;

                        button.multiselect {
                            width: 100%;
                        }
                    }
                }

                &:nth-of-type(2) {
                    width: 675px;
                }

                &:nth-of-type(3) {
                    width: 63px;
                }
            }
        }
    }

    .ui-jqgrid-bdiv {
        height: auto !important;
        max-height: calc(100vh - 350px);
        min-height: 46px;
        overflow-y: scroll !important;
    }
}

#modalVisitAgingHistory {

    .alert.alert-info {
        margin-bottom: 0;
    }

    form {
        @include clearfix();
        height: 47px;

        label {
            margin-right: 7px;
        }

        .form-control {
            display: inline-block;
            margin-right: 7px;
        }

        input[type=text] {
            width: 479px;
        }

        select {
            width: 122px;
        }

        button {
            height: 24px;
            width: 58px;
        }

        div {
            float: left;

            span.field-validation-error {
                display: block;
            }
        }
    }
}

#modalCommunicationContent {
    #mail-content {
        #Addresses {
            div {
                margin-bottom: 1.5em;
            }
        }

        #BodyContent {
            > span {
                margin-bottom: 1.5em;
                display: block;
                text-align: left !important;
            }
        }
    }
}

#modalCommunicationEvents {
    .modal-body {
        max-height: none !important;
    }

    .modal-header {
        button {
            position: relative;
            z-index: 2;
        }

        .modal-title {
            position: relative;
            z-index: 1;

            span.balance {
                position: absolute;
                right: 70px;
                top: 0;
            }

            strong {
                @include text-overflow();
                display: inline-block;
                max-width: 170px;
                vertical-align: bottom;
            }

            .export-excel {
                position: absolute;
                right: 35px;
                top: 5px;
            }
        }
    }

    .ui-jqgrid-bdiv {
        height: auto !important;
        max-height: calc(100vh - 350px);
        min-height: 46px;
        overflow-y: scroll !important;
    }
}

#modalChatHistoryDetails {
    .excel-export-btn {
        padding-top: 4px;
        padding-right: 5px;
    }

    .download-attachment {
        cursor: pointer !important;
    }

    .chat-history-content {
        display: none; //Start hidden
    }

    .loaded {
        display: block !important;
    }
    //Used for chat messages in history view
    .alert {
        padding: 5px 15px !important;
    }

    hr {
        margin: 5px 0 !important;
    }
}

#modalFinancePlanBucketHistory {

    .alert.alert-info {
        margin-bottom: 0;
    }

    form {
        @include clearfix();
        height: 47px;

        label {
            margin-right: 7px;
        }

        .form-control {
            display: inline-block;
            margin-right: 7px;
        }

        input[type=text] {
            width: 513px;
        }

        select {
            width: 110px;
        }

        button {
            height: 24px;
            width: 58px;
        }

        div {
            float: left;

            span.field-validation-error {
                display: block;
            }
        }
    }
}

#modalFinancePlanLog {
    .modal-body {
        max-height: none !important;
    }

    .jqGridFilter {
        width: 898px;

        > .alert {
            right: 79px;
            top: 13px;
        }

        > .row {
            > div {
                &:nth-of-type(1) {
                    width: 140px;
                }

                &:nth-of-type(2) {
                    width: 675px;
                }

                &:nth-of-type(3) {
                    width: 63px;
                }
            }
        }
    }
}


#modalBalanceTransferStatusHistory {

    .modal-body {
        max-height: none !important;
    }

    .jqGridFilter {
        &:nth-of-type(1) {
            width: 898px;

            > .alert {
                right: 79px;
                top: 13px;
            }

            > div {
                > div.col {
                    height: auto !important;
                    min-height: 28px;
                    margin-bottom: 25px;

                    &:nth-of-type(1) {
                        width: 186px;
                    }

                    &:nth-of-type(2) {
                        width: 100px;
                    }

                    &:nth-of-type(3) {
                        width: 540px;
                        margin-bottom: 0;

                        input[type=text] {
                            width: 539px;
                        }
                    }
                }
            }
        }
    }

    .ui-jqgrid-bdiv {
        height: auto !important;
        max-height: calc(100vh - 350px);
        min-height: 46px;
        overflow-y: scroll !important;
    }
}

#modalFinancePlanCancel {
    .modal-body {
        > table {
            margin: auto;
            position: relative;
            width: 270px;

            tr {
                > td {
                    &:first-of-type {
                        text-align: left;
                        width: 170px;
                    }

                    &:last-of-type {
                        text-align: right;
                        width: 100px;
                    }
                }
            }
        }

        select {
            margin: auto;
            position: relative;
            width: 150px;
        }
    }

    .modal-footer {
        position: relative;

        a {
            left: 28px;
            line-height: 18px;
            margin-top: -9px;
            position: absolute;
            top: 50%;

            &:before {
                content: '\e079';
                font-family: 'Glyphicons Halflings';
                left: -15px;
                margin-top: 1px;
                position: absolute;
            }
        }
    }
}

#modalFinancePlanInterestRateHistory {
    .modal-body {
        max-height: none !important;
    }

    .ui-jqgrid-bdiv {
        height: auto !important;
        max-height: calc(100vh - 350px);
        min-height: 46px;
        overflow-y: scroll !important;
    }
}

#modalPaymentDueDayHistory {
    .modal-body {
        max-height: none !important;
    }


    .ui-jqgrid-bdiv {
        height: auto !important;
        max-height: calc(100vh - 350px);
        min-height: 46px;
        overflow-y: scroll !important;
    }
}

#modalChangePaymentDueDay {
    .modal-body {
        .row {
            padding-top: 5px;
            padding-bottom: 5px;
        }

        select#payment-due-day {
            margin: auto;
            position: relative;
            width: 160px;
        }

        button {
            width: 65px;
        }
    }
}

#modalEditAccountSettings {
    .modal-body {
        button {
            width: 65px;
        }
    }
}

#modalSecurityQuestesion {
    .modal-body {
        #ulSecurityQuestion {
            line-height: 30px;
        }

        #ulSecurityAnswer {
            text-indent: 30px;
        }
    }
}

.cancel-account {
    .select-cancel {
        display: inline-block;
        vertical-align: middle;
        width: 30%;
    }

    .label-cancel {
        display: inline-block;
        vertical-align: middle;
    }

    .text-cancel {
        display: inline-block;
        vertical-align: middle;
        width: 50%;
    }
}
