﻿
#section-searchguarantors {
    width: 1200px;
    margin-left: -103px;

    select {
        &:focus {
            cursor: pointer;
        }

        &:hover {
            cursor: pointer;
        }
    }

    .title {
        font-size: 16px;
        height: 32px;
        line-height: 44px;
    }

    .label-small {
        font-size: 12px;
    }

    .form-label {
        font-size: 12px;
        display: inline-block;
    }

    .form-same-line {
        display: inline;
    }

    .primaryColor {
        color: $client-primary;
    }

    .slant-small {
        font-style: italic;
        font-size: 11px;
    }

    .col-grid {
        display: inline-block;
    }

    .col-grid-filter {
        display: inline-block;
        vertical-align: top;
    }

    .ui-jqgrid tr.jqgrow td {
        padding-left: 10px !important;
        height: 50px !important;
    }
    // remove vertical lines in grid
    .ui-jqgrid tr.ui-row-ltr td {
        border-right-color: transparent;
    }
    // remove vertical lines in header
    th.ui-th-column {
        border-right-color: transparent !important
    }
    // header
    .ui-jqgrid .ui-widget-header {
        background: white;
    }
    //column header
    .ui-jqgrid .ui-jqgrid-labels th.ui-th-column {
        background: white;
    }
    // column header text
    .ui-jqgrid .ui-jqgrid-htable th div {
        font-size: 10px;
        font-weight: bold;
        font-family: 'Roboto',sans-serif;
        height: 30px;
        padding-left: 10px;
    }
    // grid rows text
    .ui-jqgrid .ui-jqgrid-view {
        font-size: 13px;
        font-family: 'Roboto',sans-serif;
    }
    // grid icon texture atlas (from jQuery UI)
    .ui-icon {
        width: 16px;
        height: 16px;
        background-image: url(content/images/ui-icons_222222_256x240.png);
    }
    // location of icon in texture atlas for ascending sort
    .ui-icon-triangle-1-n {
        background-position: 0 0px; //chevron up
    }
    // location of icon in texture atlas for descending sort
    .ui-icon-triangle-1-s {
        background-position: -64px 0px; //chevron down
    }

    .grid-select {
        font-size: 13px !important;
        font-family: 'Roboto',sans-serif;
        height: 36px !important;
        color: $client-primary;
    }

    .bold-link {
        font-weight: bold;
        text-decoration: none;
        cursor: default;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: $link-color;
    }

    .bold-link:hover {
        color: $link-hover-color;
        cursor: pointer;
    }

    .jqGridFilter.container {
        margin: 0 0 13px -15px;
        position: relative;
        width: 100%;
    }

    .jqGridFilter {

        .col60 {
            width: 60%;

            > .form-control {
                width: 60%;
            }
        }

        .col38 {
            width: 38%;

            > .form-control {
                width: 38%;
            }
        }

        .col20 {
            width: 20%;

            > .form-control {
                width: 20%;
            }
        }

        .form-control {
            height: 36px;
            font-size: 16px;
        }

        .inner-row-control {
            height: 36px;
            line-height: 36px;

            .center {
                margin: 0 auto;
                width: 50%;
            }

            button {
                height: 36px;
                margin: 0 auto;
                width: 100%;
                border-radius: 6px;
                font-size: 16px;
            }

            .col {
                .combodate {
                    > select {
                        height: 36px;
                    }
                }
            }
        }

        .searchFilterContainer {
            border: 1px solid $_grid-border-color;
            padding: 10px;

            .inner-row {
                height: 32px;
                line-height: 44px;
            }

            input, select {
                &:focus {
                    box-shadow: 0 0 2px $client-primary !important;
                }
            }
        }

        .combodateDropdowns {
            width: 32.2% !important;
        }
    }


    span.last-statement {
        display: block;
        text-align: left;
        position: relative;

        &.grace-period:after {
            color: #bbbbbb;
            content: '\e022';
            display: inline-block;
            font-family: 'Glyphicons Halflings';
            font-size: 16px;
            position: absolute;
            right: 0;
            top: -4px;
        }

        &.pending-statement:after {
            color: #20b1ee;
            content: '\e023';
            display: inline-block;
            font-family: 'Glyphicons Halflings';
            font-size: 20px;
            position: absolute;
            right: 0;
            top: -6px;
        }

        > span {
            bottom: 0;
            left: 0;
            position: absolute;
            top: 0;
        }
    }
}
