﻿@using System.Linq
@using Ivh.Common.Web.Models.Statement
@model StatementListViewModel

<section id="section-statements">
    <div class="text">
        <p>@Html.CmsRegion(CmsRegionEnum.DocumentCenterStatements)</p>
    </div>
    <div id="statements-list">
        @if (!string.IsNullOrEmpty(Model.NextStatementDate))
        {
            <div class="next-statement">
                <em class="glyphicon glyphicon-info-sign"></em>
                @Html.TextRegion(TextRegionConstants.YourNextStatementWillGenerateOn, "[[StatementDate]]", Model.NextStatementDate)
            </div>
        }

        @if (Model.HasStatements)
        {
            if (Model.VisitBalanceSummaryStatements.Any())
            {
                <div class="statement-list">
                    <div id="ddVisitBalanceSummary">
                        @Html.Partial("~/Views/Statement/_StatementDropdownListPartial.cshtml", new StatementDropdownListViewModel { DropDownNumber = 1, StatementType = Html.TextRegion(TextRegionConstants.BalanceSummaryStatement), Statements = Model.VisitBalanceSummaryStatements.ToList<IStatementListItemViewModel>() })
                    </div>
                </div>
            }
            if (Model.FinancePlanStatements.Any())
            {
                <div class="statement-list">
                    <div id="ddStatement">
                        @Html.Partial("~/Views/Statement/_StatementDropdownListPartial.cshtml", new StatementDropdownListViewModel { DropDownNumber = 2, StatementType = Html.TextRegion(TextRegionConstants.FinancePlanStatement), Statements = Model.FinancePlanStatements.ToList<IStatementListItemViewModel>() })
                    </div>
                </div>
            }
        }
        else
        {
            <div class="alert alert-light">@Html.TextRegion(TextRegionConstants.AccountNotStatemented)</div>
        }
    </div>
</section>