﻿@using Ivh.Application.Core.Common.Dtos
@model IList<FacilityDto>

<div id="contact" class="bordered">
    <h1 class="box-heading">@Html.TextRegion(TextRegionConstants.ContactUsPageHeading)</h1>
    @if (Model != null && Model.Any())
    {
        foreach (FacilityDto facility in Model)
        {
            <div class="facility">
                <div>
                    @facility.FacilityDescription
                </div>
                <div>
                    @facility.FacilityHours
                </div>
                <div>
                    @facility.ContactPhone
                </div>
            </div>
        }
    }
    else
    {
        <div>@Html.TextRegion(TextRegionConstants.CustomerService): @ClientDto.SupportPhone</div>
    }
</div>