﻿@using System.Web.Hosting
@using Ivh.Common.Base.Utilities.Extensions
@using Ivh.Common.Web.Models.Statement
@model Ivh.Common.Web.Models.Statement.FinancePlanStatementViewModel
@{
    Layout = null;
    ThemeStylesheet = "/theme-print.scss";
}

@* WARNING: COUPLING -- changes to this file should be kept in sync between Client and Patient *@

<!DOCTYPE html>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title></title>
    <style type="text/css">@Html.Raw(ThemeStylesheetRaw) </style>
</head>
<body id="print-visitbalancesummary">
    <div class="container">
        <div class="row header">
            <div class="col logo">
                <img src="@ServerUrl/Content/Client/logo.png" />
            </div>
            <div class="col">
                <strong>@Html.TextRegion(TextRegionConstants.FinancePlanStatement)</strong><br />
                <span>@Model.PeriodStartDate - @Model.PeriodEndDate</span>
            </div>
        </div>
        <div id="summary-header" class="grid-row">
            <div class="grid-col-14" id="user-details">
                <strong>@Model.GuarantorVisitPayUserFirstNameLastName</strong>

                @if (Model.GuarantorAddressStreet1.IsNotNullOrEmpty())
                {
                    <br />
                    <span>@Model.GuarantorAddressStreet1</span>
                    <br />
                }
                @if (Model.GuarantorAddressStreet2.IsNotNullOrEmpty())
                {
                    <span>@Model.GuarantorAddressStreet2</span>
                    <br />
                }
                @if (Model.GuarantorCityStateZip.IsNotNullOrEmpty())
                {
                    <span>@Model.GuarantorCityStateZip</span>
                    <br />
                }
            </div>
            <div class="grid-col-10">
                <div class="grid-row">

                    @if (Model.FinancePlanStatementFinancePlans.IsNotNullOrEmpty())
                    {
                        <div class="grid-col-11 border-box-med">
                            <div class="grid-row header-gray text-med-size text-center">
                                <span>@Html.TextRegion(TextRegionConstants.NextPayment)</span>
                            </div>
                            <div class="grid-row text-center">
                                <span>@Model.StatementedSnapshotFinancePlanPaymentDueSum</span>
                            </div>
                        </div>
                        <div class="grid-col-11 border-box-med">

                            <div class="grid-row header-gray text-med-size text-center">
                                <span>@Html.TextRegion(TextRegionConstants.NextPaymentDueDate)</span>
                            </div>
                            <div class="grid-row text-center">
                                <span>@Model.PaymentDueDate</span>
                            </div>
                        </div>
                    }
                    else
                    {
                        <span>
                            <strong>@Html.TextRegion(TextRegionConstants.AccountIsCurrent)</strong>
                        </span>
                        <br />
                    }
                </div>
            </div>
        </div>
        <div id="pastdue-notification">
            <div class="row">
                <div class="col">
                    <div>
                        @if (Model.FinancePlanStatementFinancePlans.Any(x => x.IsPastDue))
                        {
                            <span class="past-due">
                                @Html.TextRegion(TextRegionConstants.YourAccountIs) <strong>@Html.TextRegion(TextRegionConstants.PastDue)</strong>
                            </span>
                        }
                    </div>
                </div>
            </div>
        </div>
        @if (Model.FinancePlanStatementFinancePlans.IsNotNullOrEmpty())
        {
            foreach (FinancePlanStatementFinancePlanViewModel fp in Model.FinancePlanStatementFinancePlans)
            {
                <div class="text-med-size border-box-med">
                    <div class="grid-row header-gray">
                        <div class="grid-col-6">
                            <span class="text-bold">@Html.TextRegion(TextRegionConstants.FinancePlanDetails)</span>
                        </div>
                        <div class="grid-col-6">
                            <span class="text-smaller">@Html.TextRegion(TextRegionConstants.EffectiveDate): @fp.StatementedSnapshotFinancePlanEffectiveDate</span>
                        </div>
                        <div class="grid-col-6">
                            <span class="text-smaller">@Html.TextRegion(TextRegionConstants.OriginalBalance): @fp.StatementedSnapshotFinancePlanOriginalBalance</span>
                        </div>
                        <div class="grid-col-6">
                            <span class="text-smaller">@Html.TextRegion(TextRegionConstants.InterestRate): @fp.StatementedSnapshotFinancePlanInterestRate</span>
                        </div>
                    </div>
                    <div class="grid-row">
                        <div class="grid-col-24 padding-bottom-2"></div>
                    </div>
                    <div class="grid-row">
                        <div class="grid-col-12">
                            <div class="grid-row">
                                <div class="grid-col-2"></div>
                                <div class="grid-col-7 text-left">
                                    <span>@Html.TextRegion(TextRegionConstants.PreviousBalance):</span>
                                </div>
                                <div class="grid-col-10 text-right">
                                    <span>@fp.StatementedSnapshotPriorFinancePlanBalance</span>
                                </div>
                            </div>
                            <div class="grid-row">
                                <div class="grid-col-2"></div>
                                <div class="grid-col-7 text-left">
                                    <span>@Html.TextRegion(TextRegionConstants.InterestCharged):</span>
                                </div>
                                <div class="grid-col-10 text-right">
                                    <span>@fp.StatementedSnapshotFinancePlanInterestCharged</span>
                                </div>
                            </div>
                            <div class="grid-row">
                                <div class="grid-col-2"></div>
                                <div class="grid-col-7 text-left">
                                    <span>@Html.TextRegion(TextRegionConstants.InterestPaid):</span>
                                </div>
                                <div class="grid-col-10 text-right">
                                    <span>@fp.StatementedSnapshotFinancePlanInterestPaid</span>
                                </div>
                            </div>
                            <div class="grid-row">
                                <div class="grid-col-2"></div>
                                <div class="grid-col-7 text-left">
                                    <span>@Html.TextRegion(TextRegionConstants.PrincipalPaid):</span>
                                </div>
                                <div class="grid-col-10 text-right">
                                    <span>@fp.StatementedSnapshotFinancePlanPrincipalPaid</span>
                                </div>
                            </div>
                            <div class="grid-row">
                                <div class="grid-col-2"></div>
                                <div class="grid-col-10 text-left">
                                    <span>@Html.TextRegion(TextRegionConstants.OtherBalanceChanges):</span>
                                </div>
                                <div class="grid-col-7 text-right">
                                    <span>@fp.StatementedSnapshotFinancePlanOtherBalanceCharges</span>
                                </div>
                            </div>
                            <div class="grid-row">
                                <div class="grid-col-2"></div>
                                <div class="grid-col-7 text-left">
                                    <span class="text-bold">@Html.TextRegion(TextRegionConstants.Balance):</span>
                                </div>
                                <div class="grid-col-10 text-right">
                                    <span class="text-bold">@fp.StatementedSnapshotFinancePlanBalance</span>
                                </div>
                            </div>
                        </div>
                        <div class="grid-col-12">
                            <div class="grid-row">
                                <div class="grid-col-11 text-left">
                                    <span class="text-bold">@Html.TextRegion(TextRegionConstants.PaymentDetails)</span>
                                </div>
                            </div>
                            <div class="grid-row">
                                <div class="grid-col-11 text-left">
                                    <span>@Html.TextRegion(TextRegionConstants.MonthlyPayment):</span>
                                </div>
                                <div class="grid-col-11 text-right">
                                    <span>@fp.StatementedSnapshotFinancePlanMonthlyPaymentAmount</span>
                                </div>
                            </div>
                            <div class="grid-row">
                                <div class="grid-col-11 text-left">
                                    <span>@Html.TextRegion(TextRegionConstants.PastAmountDue):</span>
                                </div>
                                <div class="grid-col-11 text-right">
                                    <span>@fp.StatementedSnapshotFinancePlanPastDueAmount</span>
                                </div>
                            </div>
                            <div class="grid-row">
                                <div class="grid-col-11 text-left">
                                    <span class="text-bold">@Html.TextRegion(TextRegionConstants.NextPayment):</span>
                                </div>
                                <div class="grid-col-11 text-right">
                                    <span class="text-bold">@fp.StatementedSnapshotFinancePlanPaymentDue</span>
                                </div>
                            </div>
                            <div class="grid-row">
                                <div class="grid-col-20">
                                    <span class="vpicon-recurring-money" style="height: 50px; width: 50px;"></span><span class="enrolled-recurring">@Html.TextRegion(TextRegionConstants.YouAreEnrolledInAutopay)</span>
                                </div>
                            </div>
                            <div class="grid-row">
                                <div class="grid-col-23">
                                    <span>@Html.TextRegion(TextRegionConstants.FinancePlanIsInStatus) <span class="text-bold">@fp.FinancePlanStatusDisplayName</span>.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--BEGIN FIRST STATEMENT NOTIFICATION SECTION -->
                    @if (fp.IsFirstStatement)
                    {
                        <div class="first-statement-notice">
                            @Html.TextRegion(TextRegionConstants.FirstStatementForFinancePlan)
                        </div>
                        <div id="visit-detail">

                            <div class="row headers">
                                <div class="col">
                                    <span>@Html.TextRegion(TextRegionConstants.VisitDate).ToUpper()</span>
                                </div>
                                <div class="col">
                                    <span>@Html.TextRegion(TextRegionConstants.Description).ToUpper()</span>
                                </div>
                                <div class="col" style="border-right: 0;">
                                    <!--Leaving blank intentionally-->
                                </div>
                                <div class="col">
                                    <span>@Html.TextRegion(TextRegionConstants.Amount).ToUpper()</span>
                                </div>
                            </div>

                            @foreach (FinancePlanStatementVisitViewModel visit in Model.FinancePlanStatementVisits.Where(x => x.FinancePlanId == fp.FinancePlanId))
                            {
                                <div class="row no-break">
                                    <div class="col">
                                        <span>@visit.VisitDisplayDate</span>
                                    </div>
                                    <div class="col">
                                        <div>
                                            @Html.TextRegion(TextRegionConstants.Visit)#:
                                            @if (visit.ShowServiceGroupIndicator)
                                            {
                                                <span class="service-group-indicator text-alert text-bold">@visit.ServiceGroupIndicator</span>
                                            }
                                            @visit.SourceSystemKey
                                            <br />
                                            <strong>@visit.VisitDescription</strong>
                                            <br />
                                            <span>@visit.PatientName</span>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <!--Leaving blank intentionally-->
                                    </div>
                                    <div class="col">
                                        <span>@visit.StatementedSnapshotTotalBalance</span>
                                    </div>
                                </div>
                            }
                        </div>
                        if (Model.ShowServiceGroupDisclaimer)
                        {
                            <div class="service-group-disclaimers">
                                @foreach (string disclaimer in Model.ServiceGroupDisclaimers)
                                {
                                    <div class="text-alert text-bold">@Html.Raw(disclaimer)</div>
                                }
                            </div>
                        }
                    }
                    <!--END FIRST STATEMENT NOTIFICATION SECTION -->
                </div>
                <br />
            }
        }
        else
        {
            <div id="no-active-visits">@Html.TextRegion(TextRegionConstants.NoActiveFinancePlans)</div>
        }
        <br />
        <div id="notifications">
            <div id="notifications-contact" class="bordered">
                <h1 class="box-heading">@Html.TextRegion(TextRegionConstants.Notifications)</h1>
                @if (0m != 0m)
                {
                    <div id="credit-balance">
                        <p>
                            @Html.TextRegion(TextRegionConstants.CreditBalanceOf, new Dictionary<string, string>
                            {
                               { "[[CreditBalanceAmount]]", 0m.FormatCurrency() }
                            })
                        </p>
                        <p>@Html.TextRegion(TextRegionConstants.ContactSupportToResolve)</p>
                    </div>
                    <br />
                }
                @if (Model.Notifications.Count > 0)
                {
                    foreach (string notification in Model.Notifications)
                    {
                        <div>
                            <span>@notification</span>
                        </div>
                        <br />
                    }
                }
                else
                {
                    <div>
                        <span>@Html.TextRegion(TextRegionConstants.NoNotifications)</span>
                    </div>
                    <br />
                }
            </div>
            <div id="manage-bills" class="bordered">
                <div>
                    <p>
                        @Html.TextRegion(TextRegionConstants.ManageYourBillsWith) <strong>@GuarantorUrlDisplay</strong>
                    </p>
                    <div id="pay-icons">
                        <div>
                            <span class="vpicon-pc"></span>
                            <span>@Html.TextRegion(TextRegionConstants.PayByPersonalComputer)</span>
                        </div>
                        <div>
                            <span class="vpicon-mobile"></span>
                            <span>@Html.TextRegion(TextRegionConstants.PayByMobile)</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>&nbsp;</div>
    @Html.Partial("_StatementContact", Model.Facilities)
    <br />
    <div id="support">
        <div id="disclaimers">
            @Html.CmsRegion(CmsRegionEnum.StatementDisclaimerText)
        </div>
    </div>
    <div id="footer">
        @if (!IsFeatureEnabled(VisitPayFeatureEnum.FeatureDebrandedUiIsEnabled))
        {
            <img src="@string.Format("{0}\\Content\\Images\\powered_by_visitpay.png", HostingEnvironment.MapPath("~"))" />
        }
    </div>
</body>
</html>