﻿@using System.Linq
@using System.Web.Hosting
@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.VisitPay.Enums
@using Ivh.Common.Web.Models.Statement
@model StatementViewModel
@{
    Layout = null;
    ThemeStylesheet = "/theme-print.scss";
}

@* WARNING: COUPLING -- changes to this file should be kept in sync between Client and Patient *@

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title></title>
    <style type="text/css">@Html.Raw(ThemeStylesheetRaw)</style>
</head>
<body id="print-statement">
    <div>
        <div class="r1">
            @Model.GuarantorVisitPayUserFirstNameLastName
        </div>
        <div class="r2">
            @Html.TextRegion(TextRegionConstants.ClientMemberSincePeriod) @Model.GuarantorRegistrationYear
        </div>
        <div class="logo">
            <img src="@ServerUrl/Content/Client/logo.png" />
        </div>
    </div>
    <hr />
    <div class="r3">
        <table>
            <colgroup>
                <col />
                <col />
            </colgroup>
            <tbody>
                <tr>
                    <td>@Html.TextRegion(TextRegionConstants.MinimumAmountDueIfAllVisitsFinanced)</td>
                    <td style="text-align: right;">@Model.StatementedSnapshotMinimumAmountDue</td>
                </tr>
                <tr>
                    <td>@Html.TextRegion(TextRegionConstants.NextPaymentDueDate)</td>
                    @if (Model.IsSoftStatement)
                    {
                        <td>@Html.TextRegion(TextRegionConstants.NotApplicableAbbreviated)</td>
                    }
                    else
                    {
                        <td>@Model.PaymentDueDate</td>
                    }

                </tr>
            </tbody>
        </table>
        <table>
            <colgroup>
                <col />
                <col />
                <col />
            </colgroup>
            <tbody>
                <tr>
                    <th rowspan="2">@Html.TextRegion(TextRegionConstants.StatementInformation)</th>
                    <td>@Html.TextRegion(TextRegionConstants.StatementPeriod)</td>
                    <td>@Model.PeriodStartDate - @Model.PeriodEndDate</td>
                </tr>
                <tr>
                    <td>@Html.TextRegion(TextRegionConstants.DaysInBillingCycle)</td>
                    <td>@Model.DaysInBillingCycle</td>
                </tr>
            </tbody>
        </table>
    </div>
    @if (!string.IsNullOrEmpty(Model.ConsolidatedUserMessage))
    {
        <div class="consolidation-alert">
            <p class="title">@Html.Raw(Model.ConsolidatedUserMessageTitle)</p>
            <p>@Html.Raw(Model.ConsolidatedUserMessage)</p>
        </div>
    }
    <div class="section-border">
        <h2>@ClientDto.ClientBrandName @Html.TextRegion(TextRegionConstants.AccountActivityBetween, new Dictionary<string, string> { { "[[Date1]]", Model.PeriodStartDate }, { "[[Date2]]", Model.PeriodEndDate } })</h2>
        <div class="r4">
            <div>
                @if (Model.Alerts.Any())
                {
                    <span class="statement-alerts">@Html.TextRegion(TextRegionConstants.StatementAlerts):</span>
                    foreach (StatementAlertViewModel alert in Model.Alerts)
                    {
                        <div class="@alert.CssClass statement-alert">@alert.AlertMessagePdf</div>
                    }
                }
            </div>
            <table>
                <colgroup>
                    <col />
                    <col />
                </colgroup>
                <tbody>
                    <tr>
                        <td>
                            @Html.TextRegion(TextRegionConstants.PreviousBalance)
                            @if (!string.IsNullOrEmpty(Model.PriorStatementDate))
                            {
                                @Html.Raw(Html.TextRegion(TextRegionConstants.AsOf) + " " + Model.PriorStatementDate)
                            }
                        </td>
                        <td>@Model.StatementedSnapshotPriorTotalBalance</td>
                    </tr>
                    <tr>
                        <td>@Html.TextRegion(TextRegionConstants.StatementNewVisits)</td>
                        <td>@Model.StatementedSnapshotNewVisitBalanceSum</td>
                    </tr>
                    <tr>
                        <td>@Html.TextRegion(TextRegionConstants.StatementNewCharges)</td>
                        <td>@Model.StatementedSnapshotVisitHsTransactionsChargeSum</td>
                    </tr>
                    <tr>
                        <td>@Html.TextRegion(TextRegionConstants.StatementSuspendedReopenedVisits)</td>
                        <td>@Model.StatementedSnapshotSuspendedClosedVisitBalanceSum</td>
                    </tr>
                    @if (Model.HasInsuranceAdjustmentDetail)
                    {
                        <tr>
                            <td>@Html.TextRegion(TextRegionConstants.Other)</td>
                            <td>@Model.StatementedSnapshotVisitHsTransactionsAdjustmentsExcludingInsuranceSum</td>
                        </tr>
                        <tr>
                            <td>@Html.TextRegion(TextRegionConstants.Insurance)</td>
                            <td>@Model.StatementedSnapshotVisitHsTransactionsAdjustmentsInsuranceSum</td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>@Html.TextRegion(TextRegionConstants.StatementHsAdjustmentsAndInsurance)</td>
                            <td>@Model.StatementedSnapshotVisitHsTransactionsAdjustmentSum</td>
                        </tr>
                    }
                    <tr>
                        <td>@Html.TextRegion(TextRegionConstants.Interest)</td>
                        <td>@Model.StatementedSnapshotVpFeesAndInterest</td>
                    </tr>
                    <tr>
                        <td>@ClientDto.ClientShortName @Html.TextRegion(TextRegionConstants.StatementPaymentsDiscounts)</td>
                        <td>@Model.StatementedSnapshotVpPaymentsAndDiscounts</td>
                    </tr>
                    <tr>
                        <td>@Html.TextRegion(TextRegionConstants.StatementPaymentsOther)</td>
                        <td>@Model.StatementedSnapshotVisitHsTransactionsPaymentSum</td>
                    </tr>
                    <tr>
                        <td>@Html.TextRegion(TextRegionConstants.StatementBalanceAsOf) @Model.PeriodEndDate</td>
                        <td>@Model.StatementedSnapshotTotalBalance</td>
                    </tr>
                    <tr>
                        <td class="less">@Html.TextRegion(TextRegionConstants.StatementExistingFinancePlans)</td>
                        <td>-@Model.StatementedSnapshotFinancePlanBalanceSum</td>
                    </tr>
                    <tr>
                        <td>@ClientDto.ActionableBalanceTextShortTitle</td>
                        <td>@Model.StatementedSnapshotVisitBalanceSum</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="section-border">
        <h2>@Html.TextRegion(TextRegionConstants.FinancePlanBalance)</h2>
        <div class="r5">
            <table class="data">
                <colgroup>
                    <col />
                    <col />
                    <col />
                    <col />
                    <col />
                    <col />
                    <col />
                    <col />
                    <col />
                    <col />
                    <col />
                    <col />
                </colgroup>
                <thead>
                    <tr>
                        <td>@Html.TextRegion(TextRegionConstants.EffectiveDate)</td>
                        <td>@Html.TextRegion(TextRegionConstants.InterestRate)</td>
                        <td>@Html.TextRegion(TextRegionConstants.Status)</td>
                        <td>@Html.TextRegion(TextRegionConstants.PreviousBalance)</td>
                        <td>@Html.TextRegion(TextRegionConstants.InterestCharged)</td>
                        <td>@Html.TextRegion(TextRegionConstants.InterestPaid)</td>
                        <td>@Html.TextRegion(TextRegionConstants.PrincipalPaid)</td>
                        <td>@Html.TextRegion(TextRegionConstants.OtherBalanceChanges)</td>
                        <td>@Html.TextRegion(TextRegionConstants.StatementBalance)</td>
                        <td>@Html.TextRegion(TextRegionConstants.PastDueAmount)</td>
                        <td>@Html.TextRegion(TextRegionConstants.MonthlyAmountDue)</td>
                        <td>@Html.TextRegion(TextRegionConstants.NextPaymentDue)</td>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.FinancePlans.Any())
                    {
                        foreach (StatementFinancePlanViewModel financePlan in Model.FinancePlans)
                        {
                            string className = financePlan.IsPastDue ? "pastdue" : "";
                            <tr class="@className">
                                <td>@financePlan.StatementedSnapshotFinancePlanEffectiveDate</td>
                                <td>@financePlan.StatementedSnapshotFinancePlanInterestRate</td>
                                <td>@financePlan.StatementedSnapshotFinancePlanStatus</td>
                                <td>@financePlan.StatementedSnapshotPriorFinancePlanBalance</td>
                                <td>@financePlan.StatementedSnapshotFinancePlanInterestCharged</td>
                                <td>@financePlan.StatementedSnapshotFinancePlanInterestPaid</td>
                                <td>@financePlan.StatementedSnapshotFinancePlanPrincipalPaid</td>
                                <td>@financePlan.StatementedSnapshotFinancePlanAdjustmentsSum</td>
                                <td>@financePlan.StatementedSnapshotFinancePlanBalance</td>
                                <td>@financePlan.StatementedSnapshotFinancePlanPastDueAmount</td>
                                <td>@financePlan.StatementedSnapshotFinancePlanMonthlyPaymentAmount</td>
                                <td>@financePlan.StatementedSnapshotFinancePlanPaymentDue</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="12" style="text-align: center;">@Html.TextRegion(TextRegionConstants.NoActiveFinancePlansForBillingCycle)</td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="10">@Html.TextRegion(TextRegionConstants.TotalInterestDue)</td>
                        <td>@Model.StatementedSnapshotFinancePlanInterestDueSum</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="10">@Html.TextRegion(TextRegionConstants.TotalPrincipalDue)</td>
                        <td>@Model.StatementedSnapshotFinancePlanPrincipalDueSum</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="10">@Html.TextRegion(TextRegionConstants.AmountDueForPeriod)</td>
                        <td></td>
                        <td>@Model.StatementedSnapshotFinancePlanPaymentDueSum</td>
                    </tr>
                    <tr>
                        <td colspan="10">@Html.TextRegion(TextRegionConstants.TotalFinancePlanBalance)</td>
                        <td></td>
                        <td>@Model.StatementedSnapshotFinancePlanBalanceSum</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="section-border">
        <h2>@ClientDto.ActionableBalanceTextLongTitle</h2>
        <div class="r6">
            <table class="data">
                <colgroup>
                    <col />
                    <col />
                    <col />
                    <col />
                    <col />
                    <col />
                </colgroup>
                <thead>
                    <tr>
                        <td>@Html.TextRegion(TextRegionConstants.Visit) #</td>
                        <td>@Html.TextRegion(TextRegionConstants.VisitDate)</td>
                        <td>@Html.TextRegion(TextRegionConstants.Patient)</td>
                        <td>@Html.TextRegion(TextRegionConstants.Description)</td>
                        <td>@Html.TextRegion(TextRegionConstants.Status)</td>
                        <td>@Html.TextRegion(TextRegionConstants.Balance)</td>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.VisitsNotOnFinancePlan.Any())
                    {
                        foreach (StatementVisitViewModel visit in Model.VisitsNotOnFinancePlan)
                        {
                            string className = visit.StatementedSnapshotDisplayStatus == "Past Due" ? "pastdue" : "";
                            <tr class="@className">
                                <td>
                                    @if (visit.ShowServiceGroupIndicator)
                                    {
                                        <span class="service-group-indicator text-alert text-bold">@visit.ServiceGroupIndicator</span>
                                    }
                                    @visit.SourceSystemKeyDisplay
                                </td>
                                <td>@visit.VisitDate</td>
                                <td>@visit.Patient</td>
                                <td>@visit.Description</td>
                                <td>@visit.StatementedSnapshotDisplayStatus</td>
                                <td>@visit.StatementedSnapshotVisitBalance</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="6" style="text-align: center;">@Html.TextRegion(TextRegionConstants.NoClientActionTextForBillingCycle)</td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">
                            @if (Model.IsSoftStatement)
                            {
                                @Html.TextRegion(TextRegionConstants.PayInFullOrOverTimeVp2SoftStatement)
                            }
                            else
                            {
                                @Html.TextRegion(TextRegionConstants.PayInFullOrOverTimeBy, new Dictionary<string, string>
                                {
                                    { "[[PaymentDueDate]]", Model.PaymentDueDate }
                                })
                            }
                        </td>
                        <td>@Html.TextRegion(TextRegionConstants.Total)</td>
                        <td>@Model.StatementedSnapshotVisitBalanceSum</td>
                    </tr>
                </tfoot>
            </table>
            @if (Model.ShowServiceGroupDisclaimer)
            {
                <div class="service-group-disclaimers">
                    @foreach (string disclaimer in Model.ServiceGroupDisclaimers)
                    {
                        <div class="text-alert text-bold">@Html.Raw(disclaimer)</div>
                    }
                </div>
            }
        </div>
    </div>
    <div class="section-border">
        <h2>@Html.TextRegion(TextRegionConstants.OtherAccountInformation)</h2>
        <div class="r7">
            <table>
                <colgroup>
                    <col />
                    <col />
                    <col />
                    <col />
                </colgroup>
                <tbody>
                    <tr>
                        <td>@Html.TextRegion(TextRegionConstants.CreditLimit)</td>
                        <td>@Html.TextRegion(TextRegionConstants.NotApplicableAbbreviated)</td>
                        <td>@Html.TextRegion(TextRegionConstants.AvailableCredit)</td>
                        <td>@Html.TextRegion(TextRegionConstants.NotApplicableAbbreviated)</td>
                    </tr>
                    <tr>
                        <td>@Html.TextRegion(TextRegionConstants.TotalFeesChargedInPeriod) @Model.StatementYear</td>
                        <td>$0.00</td>
                        <td>@Html.TextRegion(TextRegionConstants.TotalInterestChargedInPeriod) @Model.StatementYear</td>
                        <td>@Model.StatementedSnapshotTotalInterestChargedYTD</td>
                    </tr>
                    <tr>
                        @if (!Model.IsSoftStatement)
                        {
                            <td colspan="4"><strong>@Html.TextRegion(TextRegionConstants.LatePaymentWarningHeader):</strong> @Html.TextRegion(TextRegionConstants.LatePaymentWarningDetail)</td>
                        }
                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="section-border">
        <h2>@Html.TextRegion(TextRegionConstants.ForAdditionalInformation)</h2>
        <div class="r8">
            <div>@Html.TextRegion(TextRegionConstants.CallCustomerService)</div>
            <div>@ClientDto.SupportPhone</div>
        </div>
    </div>
    <div class="disclaimers">
        <p>@Html.TextRegion(TextRegionConstants.Vp2StatementDisclaimer)</p>
        <p>@Html.TextRegion(TextRegionConstants.Vp2StatementDisclaimerOptions)</p>
        @Html.CmsRegion(CmsRegionEnum.StatementDisclaimerText)
    </div>
    <div class="footer">
        @if (!IsFeatureEnabled(VisitPayFeatureEnum.FeatureDebrandedUiIsEnabled))
        {
            <img src="@string.Format("{0}\\Content\\Images\\powered_by_visitpay.png", HostingEnvironment.MapPath("~"))" />
        }
    </div>
</body>
</html>