﻿@import '_variables.scss';
@import '_mixins.scss';
@import '../Bootstrap/css/bootstrap/_variables.scss';

section.faqs > ul {
    display: none;
}

ul.faq-accordion {
    list-style: none;
    margin-left: 0;
    margin-right: 0;
    padding: 0;

    li {
        -webkit-box-shadow: none;
        border: 0;
        border-radius: 0;
        box-shadow: none;
        margin: 0;
        padding: 5px 0 5px 0;
        position: relative;
        // ie10/11 doesn't respect list-style: none if the element is display: none initially, this is a 1x1 white image
        list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
    }

    > li {
        text-transform: uppercase;

        > ul {
            list-style: none;
            margin: 0 0 0 38px;
            padding: 0;

            > li {
                text-transform: none;

                > ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;

                    > li {
                        padding: 20px 0 10px 0;
                    }
                }
            }
        }
    }

    a.title {
        background: $dropdown-link-hover-bg;
        border-color: $vp-gray-light;
        border-style: solid;
        border-width: 1px;
        cursor: pointer;
        display: block;
        font-size: 16px;
        font-weight: 600;
        line-height: 25px;
        outline: none !important;
        padding: 5px 5px 5px 38px;
        position: relative;
        text-decoration: none;

        &:before {
            @include glyphicon('\e114');
            position: absolute;
            left: 10px;
            top: 6px;
        }

        &.collapsed {
            font-weight: normal !important;

            &:before {
                @include glyphicon('\e080');
                top: 5px;
            }
        }
    }
}

ul.accordion-alt {
    list-style: none;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    width: 100%;

    li {
        -webkit-box-shadow: none;
        border: 0;
        border-radius: 0;
        border-bottom: 1px dotted $vp-dark-blue !important;
        box-shadow: none;
        margin: 0;
        padding: 10px 0 10px 0;
        position: relative;
        // ie10/11 doesn't respect list-style: none if the element is display: none initially, this is a 1x1 white image
        list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);

        li {
            border-bottom: 0 !important;
        }
    }

    a.link {
        cursor: pointer;
        display: block;
        font-size: 18px;
        font-weight: 600;
        line-height: 25px;
        outline: none !important;
        padding: 5px 5px 5px 5px;
        position: relative;
        text-decoration: none;
        width: 100%;
    }

    a.title {
        cursor: pointer;
        display: block;
        font-size: 18px;
        font-weight: 600;
        line-height: 25px;
        outline: none !important;
        padding: 5px 5px 5px 38px;
        position: relative;
        text-decoration: none;
        width: 100%;

        &:before {
            @include glyphicon('\e259');
            position: absolute;
            left: 0px;
            top: 6px;
        }

        &.collapsed {
            font-weight: normal !important;


            &:before {
                @include glyphicon('\e258');
                top: 5px;
            }
        }
    }

    @media (max-width: $screen-phone) {
        > li > ul,
        > li > ul > li > ul {
            padding-left: 0;
        }

        > li > ul > li > ul > li > ul {
            padding-left: 15px;
        }
    }
}
