﻿@import '_variables.scss';
@import '../Bootstrap/css/bootstrap/_variables.scss';

/*nav overrides*/
.navbar {
    font-family: $font-family-base;
    border: none;
}

// Default navbar
.navbar-default {
    .navbar-brand {
        color: #fff;

        &:hover,
        &:focus {
            color: #fff;
            background-color: $navbar-default-brand-hover-bg;
        }
    }

    .navbar-text {
        color: $navbar-default-color;
    }

    .navbar-nav {
        padding: 30px 0 30px 0;
        margin-left: -10px;

        li {
            border: none;
            padding: 0;
            width: 115px;
            border-bottom: none;
        }

        > li > a {
            color: $navbar-default-link-color;
            padding: 0;
            text-transform: uppercase;
            text-align: left;
            margin: 0 15px 0 0;

            &:hover,
            &:focus {
                color: $navbar-default-link-hover-color;
                background: transparent;
                font-weight: bold;
            }
        }

        > .active {
            border-bottom: none;

            a {
                &,
                &:hover,
                &:focus {
                    background-color: transparent;
                    color: $navbar-default-link-active-color;
                    font-weight: bold;
                    border-bottom: 2px solid #fff;
                }
            }
        }

        > .disabled > a {
            &,
            &:hover,
            &:focus {
                color: $navbar-default-link-disabled-color;
            }
        }
    }

    .navbar-toggle {
        border-color: $navbar-default-toggle-border-color;

        &:hover,
        &:focus {
            background-color: $navbar-default-toggle-hover-bg;
        }

        .icon-bar {
            background-color: $navbar-default-toggle-icon-bar-bg;
        }
    }

    .navbar-collapse,
    .navbar-form {
        border-color: $navbar-default-border;
    }
    // Dropdown menu items
    .navbar-nav {
        // Remove background color from open dropdown
        > .open > a {
            &,
            &:hover,
            &:focus {
                background-color: $navbar-default-link-active-bg;
                color: $navbar-default-link-active-color;
            }
        }

        @media (max-width: $grid-float-breakpoint-max) {
            // Dropdowns get custom display when collapsed
            .open .dropdown-menu {
                > li > a {
                    color: $navbar-default-link-color;

                    &:hover,
                    &:focus {
                        color: $navbar-default-link-hover-color;
                        background-color: $navbar-default-link-hover-bg;
                    }
                }

                > .active > a {
                    &,
                    &:hover,
                    &:focus {
                        color: $navbar-default-link-active-color;
                        background-color: $navbar-default-link-active-bg;
                    }
                }

                > .disabled > a {
                    &,
                    &:hover,
                    &:focus {
                        color: $navbar-default-link-disabled-color;
                        background-color: $navbar-default-link-disabled-bg;
                    }
                }
            }
        }
    }
    // Links in navbars
    //
    // Add a class to ensure links outside the navbar nav are colored correctly.
    .navbar-link {
        color: $navbar-default-link-color;

        &:hover {
            color: $navbar-default-link-hover-color;
        }
    }

    .btn-link {
        color: $navbar-default-link-color;

        &:hover,
        &:focus {
            color: $navbar-default-link-hover-color;
        }

        &[disabled],
        fieldset[disabled] & {
            &:hover,
            &:focus {
                color: $navbar-default-link-disabled-color;
            }
        }
    }

    .navbar-nav > .open > a,
    .navbar-nav > .active > a {
        font-weight: bold;
        @include gradient-vertical($start-color:$vp-dark-blue, $end-color:$vp-dark-blue);
        @include box-shadow(0);
    }
}

.navbar-nav {
    > li > a {
        color: $navbar-inverse-link-color;
        font-size: 18px;
        text-transform: uppercase;

        &:hover,
        &:focus {
            color: $navbar-inverse-link-hover-color;
            background-color: $navbar-inverse-link-hover-bg;
        }
    }

    > .active > a {
        &,
        &:hover,
        &:focus {
            color: $navbar-inverse-link-active-color;
            background-color: $navbar-inverse-link-active-bg;
        }
    }

    > .disabled > a {
        &,
        &:hover,
        &:focus {
            color: $navbar-inverse-link-disabled-color;
            background-color: $navbar-inverse-link-disabled-bg;
        }
    }
}

.navbar-link {
    color: $navbar-default-link-color;

    &:hover {
        color: $navbar-default-link-hover-color;
    }
}
