﻿@import '_variables.scss';
@import '_mixins.scss';
@import '../Bootstrap/css/bootstrap/_variables.scss';
@import '../Bootstrap/css/bootstrap/_mixins.scss';

$chat-border-radius: 4px;

.chat-dialog {
    padding: 0 !important;
    border: 0 !important;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
    z-index: 999999999 !important; //Keep it on top of everything?
    border-radius: $chat-border-radius !important;
}

.chat-dialog-title-bar {
    background: $client-accent !important;
    color: $vp-primary-text !important;
    font-weight: normal !important;
    border: none !important;
    border-radius: $chat-border-radius $chat-border-radius 0 0 !important;
    height: 50px;
}

.chat-dialog-hidden-titlebar {
    display: none;
}

.chat-dialog-content {
    padding: 0 !important;
    overflow: hidden !important;
}

.chat-iframe {
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 0 0 $chat-border-radius $chat-border-radius;
    max-height: 410px;
    display:block;
}

.chat-iframe-hidden {
    visibility: hidden;
    height: 0;
    width: 0;
}

.chat-iframe-overlay {
    margin: 5px;
    height: 400px;
    width: 340px;
    max-height: 410px;

    #need-help-now {
        display: none; //Start hidden
        padding-top: 40px;

        > span {
            margin-bottom: 5px;
            font-style: italic;
        }
    }
}

.chat-panel {
    border: none;
    border-radius: $chat-border-radius;
    height: 100%;
    margin: 0;
    //margin-top: 5px; //TODO: Looks like we need this when the overlay loads first
    min-width:350px;

    .panel-heading {
        height: 40px;
        background-color: $client-accent;
    }
}

.chat-title {
    color: #ffffff;
}

.chat-panel-heading {
    border-radius: $chat-border-radius $chat-border-radius 0 0;
}

.chat-panel-body {
    padding: 0 !important;
    width: 100%;
    height: 100%;
    max-height: 410px;
}

.chat-panel-button {
    padding-top: 6px !important;
    color: #ffffff !important;

    &:hover {
        color: #ffffff !important;
    }

    &,
    &:active,
    &.active {
        &:focus,
        &.focus {
            outline: none;
        }
    }
}

#minimizeChatButton {
    display: none; //Start hidden
    padding-right: 5px !important;
}