﻿@import '_variables.scss';
@import '_mixins.scss';
@import '../Bootstrap/css/bootstrap/_variables.scss';

.details-view {

    .menu-items {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            background: $vp-gray-lightest;
            cursor: pointer;
            display: block;
            height: 46px;
            line-height: 46px;
            margin: 0 0 2px 0;
            padding: 0 13px 0 13px;
            position: relative;
            vertical-align: middle;

            &:after {
                clear: both;
                content: '';
                display: block;
            }

            > span {
                float: right;
                margin-right: 50px;
            }

            &.eob-item {
                background: transparent;
                border: 1px solid $vp-gray-light;
                text-align: center;
                margin-top: 45px;

                > div {
                    line-height: 24px;

                    img {
                        float: left;
                        height: 24px;
                    }
                }
            }

            &:hover {
                background-color: $client-accent;
                border-color: $client-accent;
                color: #fff;
            }

            &:hover > .gray-right-arrow {
                background-image: url('/Content/Images/white-right-arrow.gif') !important;
                background-repeat: no-repeat;
                background-size: 100% 100%;
                height: 15px;
                right: 10px;
                position: absolute;
                top: 19px;
                width: 8px;
            }

            &.active {
                background-color: $client-accent;
                border-color: $client-accent;
                border-right: 0;
                color: #fff;

                > span {
                    font-weight: 600;
                }

                &:before {
                    border-bottom: 23px solid transparent;
                    border-left: 15px solid $client-accent;
                    border-top: 23px solid transparent;
                    content: '';
                    display: block;
                    position: absolute;
                    right: -15px;
                    top: 0;
                    width: 0;
                }

                .gray-right-arrow {
                    display: none;
                }
            }

            .gray-right-arrow {
                background-image: url('/Content/Images/gray-right-arrow.gif');
                background-repeat: no-repeat;
                background-size: 100% 100%;
                height: 15px;
                right: 10px;
                position: absolute;
                top: 17px;
                width: 8px;
                margin-right: 0px;
            }

        }
    }

    .menu-items + .balance {
        font-size: $font-size-large;
        padding: 11px;
        text-align: right;

        strong {
            padding-left: 8px;
        }
    }

    .line-items {

        .export-excel {
            color: $vp-gray-dark;
            float: right;
            font-size: $font-size-smaller;
            text-decoration: none;
            position: relative;
            z-index: 3;

            &:hover {
                color: $link-hover-color;
            }

            @media (max-width: $screen-tablet) {
                display: none;
            }
        }

        .vpicon-question {
            color: $input-border;
            cursor: pointer;
            float: right;
            font-size: 21px;
            margin: -3px 5px 0 0;
            position: relative;
            z-index: 2;

            &:hover {
                color: $link-hover-color;
            }

            @media (max-width: $screen-tablet) {
                font-size: 18px;
                margin-top: 0;
            }
        }

        h4 {
            margin: 0 0 8px 0;
            font-size: 15px;
            font-weight: 300;
            position: relative;
            z-index: 1;
        }
    }
}
