﻿@import '_variables.scss';
@import '../Bootstrap/css/bootstrap/_variables.scss';
@import '../Bootstrap/css/bootstrap/_mixins.scss';

#drawer-mask {
    background: rgba(255,255,255,0.58);
    bottom: $vp-footer-height;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: $brand-height + $drawer-top + 2;
    z-index: 4;
}

#drawer {
    $width: 360px;
    $offset: $vp-outer-width/2 - $width;
    background: #ffffff;
    border-color: $vp-gray-light;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    display: none;
    left: 50%;
    margin-left: $offset;
    position: absolute;
    top: $brand-height + $drawer-top;
    width: $width;
    z-index: 5;

    [data-drawer] {
        display: none;
    }

    .drawer-header {
        @include text-overflow();
        background: $vp-gray-lightest;
        border-bottom: 1px solid $vp-gray-light;
        font-family: $font-family-alt;
        line-height: 40px;
        padding: 0 8px 0 8px;

        &:not(:first-child) {
            border-top: 1px solid $vp-gray-light;
        }
    }

    .drawer-footer {
        background: $vp-gray-lightest;
        border-top: 1px solid $vp-gray-light;
        line-height: 32px;

        a {
            font-size: $font-size-smaller;
            text-transform: uppercase;
        }
    }

    .drawer-content {

        .drawer-item {
            border-color: $vp-gray-light;
            border-style: dotted;
            border-width: 0;
            line-height: 1.2em;
            padding: 7px 15px 7px 15px;
            position: relative;

            &:hover {
                background: $vp-gray-lightest;
            }

            &.read {
                .indicator {
                    background: $vp-gray-light;

                    &:hover, &:active, &:focus {
                        background: $vp-gray-light;
                    }
                }
            }

            .indicator {
                $dim: 10px;
                background: $link-color;
                border-radius: $dim/2;
                height: $dim;
                left: 7px;
                margin-top: $dim/-2;
                position: absolute;
                top: 50%;
                width: $dim;
                z-index: 2;

                &:hover {
                    background: $link-hover-color;
                }
            }
        }

        .drawer-item + .drawer-item {
            border-top-width: 1px;
        }

        .empty-message {
            font-style: italic;
            padding: 15px 0 15px 0;
            text-align: center;
        }

        &.account {
            font-family: $font-family-alt;

            ul {
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    border-color: $vp-gray-light;
                    border-style: dotted;
                    border-width: 0;
                    margin: 0;
                    padding: 0;

                    a {
                        color: $text-color;
                        display: block;
                        height: 40px;
                        line-height: 40px;
                        padding-left: 36px;
                        position: relative;
                        text-decoration: none;

                        em {
                            color: $vp-gray-dark;
                            font-size: 16px;
                            left: 7px;
                            margin-top: -8px;
                            position: absolute;
                            top: 50%;
                        }

                        &:hover {
                            background: $vp-gray-lightest;
                        }
                    }
                }
            }
        }

        &.notifications-drawer-content {

            .drawer-item {
                cursor: pointer;
                padding-left: 30px;

                a {
                    color: $text-color;
                    text-decoration: none;

                    &:hover, &:active, &:focus {
                        color: $text-color;
                        text-decoration: none;
                    }
                }
            }
        }

        &.help-drawer-content {

            .drawer-item {
                padding: 0;

                &:hover {
                    background: #ffffff;
                }

                .question {
                    cursor: pointer;
                    padding: 7px 30px 7px 15px;
                    position: relative;

                    &:hover {
                        background: $vp-gray-lightest;
                    }

                    &:after {
                        color: $vp-gray-medium;
                        content: '\e258';
                        font-family: 'Glyphicons Halflings';
                        font-style: normal;
                        font-size: 16px;
                        line-height: 16px;
                        margin-top: -8px;
                        position: absolute;
                        right: 7px;
                        top: 50%;
                    }

                    &.active {
                        background: #ffffff;

                        &:after {
                            content: '\e259';
                            font-size: 15px;
                        }
                    }
                }

                .answer {
                    display: none;
                    padding: 7px 15px 7px 15px;
                }
            }

            .go-to-help-center {
                border-top: 1px dotted $vp-gray-light;
                padding: 15px 0 15px 0;
            }
        }

        &.support-requests-drawer-content {
            padding-bottom: 15px;

            .drawer-item {
                cursor: pointer;
                line-height: 26px;
                padding-left: 30px;
            }

            .sr-date {
                @include text-overflow();
                min-width: 80px;
                max-width: 80px;
            }

            .sr-desc {
                @include text-overflow();
            }

            .sr-info {
                border-top: 1px dotted $vp-gray-light;
                padding: 15px 15px 0 15px;

                p {
                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }
            }

            > p {
                clear: both;
                margin-top: 0;
                padding-top: 15px;

                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }

    .blockUI {
        &.blockOverlay {
            visibility: hidden;
        }

        &.blockMsg {
            background: $vp-gray-lightest !important;
            border-color: $vp-gray-light !important;
            border-style: solid !important;
            border-width: 0 1px 1px 1px !important;
            height: 41px !important;
            margin: 0 !important;
            padding: 0 !important;
            top: 0 !important;
            width: 100% !important;

            > h1 {
                img {
                    max-height: 24px;
                }

                span {
                    display: none;
                }

                line-height: 38px !important;
                margin: 0 !important;
            }
        }
    }
}
