﻿// glyphicons halflings

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('/fonts/glyphicons-halflings-regular.eot');
    src: url('/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('/fonts/glyphicons-halflings-regular.woff') format('woff'), url('/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

// source sans pro

@font-face {
    font-family: 'SourceSansPro';
    font-weight: 400;
    src: url('/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'SourceSansPro';
    font-style: italic;
    font-weight: 400;
    src: url('/fonts/Source_Sans_Pro/SourceSansPro-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'SourceSansPro';
    font-weight: 600;
    src: url('/fonts/Source_Sans_Pro/SourceSansPro-Semibold.ttf') format('truetype');
}

@font-face {
    font-family: 'SourceSansPro';
    font-style: italic;
    font-weight: 600;
    src: url('/fonts/Source_Sans_Pro/SourceSansPro-SemiboldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'SourceSansPro';
    font-weight: 700;
    src: url('/fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'SourceSansPro';
    font-weight: 900;
    src: url('/fonts/Source_Sans_Pro/SourceSansPro-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'SourceSansPro';
    font-weight: 300;
    src: url('/fonts/Source_Sans_Pro/SourceSansPro-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'SourceSansPro';
    font-style: italic;
    font-weight: 300;
    src: url('/fonts/Source_Sans_Pro/SourceSansPro-LightItalic.ttf') format('truetype');
}

// raleway

@font-face {
    font-family: 'Raleway';
    font-weight: normal;
    src: url('/fonts/Raleway/Raleway-Regular.ttf') format('truetype');
}

// sarala

@font-face {
    font-family: 'Sarala';
    font-weight: 700;
    src: url('/fonts/Sarala/Sarala-Bold.ttf') format('truetype');
}