﻿@import '_variables.scss';
@import '_mixins.scss';
@import '_mixins-common.scss';
@import '_icons.scss';
@import '../Bootstrap/css/bootstrap/_variables.scss';
@import '../Bootstrap/css/bootstrap/_mixins.scss';

$_grid-padding-horizontal: 4px;
$_grid-border-color: $vp-gray-light;
$_grid-header-footer-font-size: 12px;
$_grid-header-footer-bg: $vp-gray-lighter;
$_grid-header-footer-hover-bg: $_grid-header-footer-bg;
$_grid-header-footer-text: #444444;
$_grid-header-footer-text-hover: #444444;
$_grid-row-height: 36px;
$_grid-footer-height: 28px;

.jqGridFilter.container {
    margin: 0;
    padding: 0 0 28px 0;
    position: relative;
    width: 100%;

    > .row {
        $gutter: 5px;
        margin: 0 $gutter*-1 2px $gutter*-1;

        > .col {
            float: left;
            height: 34px;
            line-height: 30px;
            padding: 2px $gutter 2px $gutter;

            label {
                margin-bottom: 0;
            }

            .btn {
                display: inline-block;
                vertical-align: top;
            }
        }

        .btn-group {
            vertical-align: top;
            width: 100%;

            button.multiselect {
                width: 100%;
            }
        }

        .input-group {
            margin: 0;

            &.date {
                float: left;
                margin-right: 8px;
                width: 96px;
            }
        }

        .form-control {
            display: inline;
            vertical-align: top;
        }

        a.glyphicon {
            margin-left: 7px;
        }
    }

    .run-results {
        bottom: 8px;
        font-size: $font-size-small;
        font-style: italic;
        margin: 0 !important;
        position: absolute;
        right: 0;
    }

    .validation-summary-errors {
        bottom: 8px;
        position: absolute;

        > span {
            font-weight: normal;
            padding-bottom: 0;
        }

        > ul {
            display: none;
        }
    }
}

table.static-grid {
    margin: 15px 0 15px 0;
    table-layout: fixed;
    width: 100%;

    > thead, > tbody {
        > tr {
            > td {
                @include text-overflow();
                border: 1px solid $_grid-border-color;
                line-height: $_grid-row-height;
                padding: 0 $_grid-padding-horizontal 0 $_grid-padding-horizontal;
            }
        }
    }

    > tfoot {
        > tr {
            > td {
                line-height: $_grid-footer-height;
                padding: 0 $_grid-padding-horizontal 0 $_grid-padding-horizontal;
            }
        }

        &.with-style {
            border: 1px solid $_grid-border-color;
        }
    }

    > thead, > tfoot.with-style {
        > tr {
            background: $_grid-header-footer-bg;
            border-color: $_grid-border-color;

            > td {
                @include user-select(none);
                border-color: $_grid-border-color;
                color: $_grid-header-footer-text;
                font-size: $_grid-header-footer-font-size;
                font-weight: 600;
                text-transform: uppercase;
            }
        }
    }
}

/* vpgrid */
.vpgrid-container {
    border: 1px solid $vp-gray-light;

    .vpgrid-header {
        background: $vp-gray-lightest;
        border-bottom: 1px solid $vp-gray-light;
        padding: 10px 0 10px 0;

        @media (max-width: $screen-phone) {
            padding-left: 7px;
            padding-right: 7px;
        }

        @media (min-width: $screen-phone + 1) {
            padding-left: 15px;
            padding-right: 15px;
        }

        @media (max-width: $screen-tablet) {
            .links {
                display: none;
            }
        }

        h4 {
            font-size: 15px;
            font-weight: bold;
            line-height: 20px;
            margin: 0;
        }

        .links {
            float: right;
            font-size: 11px;
            list-style: none;
            margin: 3px 0 0 0;
            padding: 0;
            text-transform: uppercase;

            li {
                display: inline-block;

                &:not(:last-of-type) {
                    &:after {
                        content: '|';
                        padding: 0 7px 0 7px;
                    }
                }
            }

            a {
                text-decoration: none;
            }

            .export-excel {
                font-size: 11px;
            }
        }
    }

    &.vpgrid-container-expandable {
        .vpgrid-header {
            cursor: pointer;
            padding-left: 10px;

            h4 {
                padding-left: 22px;
                position: relative;
                z-index: 1;

                &:after {
                    @include glyphicon('\e258');
                    font-weight: normal !important;
                    position: absolute;
                    left: 0;
                    top: 0;
                }
            }

            .links {
                position: relative;
                z-index: 2;
            }
        }

        &.expanded {
            .vpgrid-header {
                h4 {
                    &:after {
                        @include glyphicon('\e259');
                    }
                }
            }
        }
    }
}

.vpgrid {

    &.vpgrid-link {
        > .grid-row {
            cursor: pointer;
            padding-right: 30px;

            &:after {
                @include vpicon();
                @include vpicon-new-window();
                color: $vp-gray-medium;
                font-style: normal;
                font-size: 16px;
                line-height: 16px;
                margin-top: -8px;
                position: absolute;
                right: 7px;
                top: 50%;
            }

            &:hover {
                background: $vp-gray-lightest;
            }
        }
    }

    &.vpgrid-clickable {
        > .grid-row {
            cursor: pointer;

            &.active {
                border-bottom-color: transparent;

                .col-expand {
                    &:after {
                        content: '\e259';
                    }
                }
            }

            &:not(.active) {
                &:hover {
                    background: $vp-gray-lightest;

                    .fancyDate {
                        @include fancyDate(#fff);
                    }
                }
            }

            .col-expand {
                &:after {
                    content: '\e258';
                    font-family: 'Glyphicons Halflings';
                    font-style: normal;
                    font-size: 16px;
                    line-height: 16px;
                    margin-top: -8px;
                    position: absolute;
                    right: 0;
                    top: 50%;
                }
            }
            /* chevron globally to avoid adding classes everywhere */
            padding-right: 30px;

            &:after {
                color: $vp-gray-medium;
                content: '\e258'; // chevron right
                font-family: 'Glyphicons Halflings';
                font-style: normal;
                font-size: 16px;
                line-height: 16px;
                margin-top: -8px;
                position: absolute;
                right: 7px;
                top: 50%;
            }

            &.active {
                &:after {
                    content: '\e259'; // chevron down
                    font-size: 15px;
                }
            }

            &:hover {
                &:after {
                    color: $vp-gray-dark;
                }
            }
            /* end of chevron */
        }

        &.vpgrid-clickable-edit {
            > .grid-row {
                &:after {
                    content: '\270f'; // pencil
                    font-size: 12px;
                }
            }
        }
    }

    &.vpgrid-mask {
        visibility: hidden;

        .grid-row {
            display: none;
        }

        .grid-pager {
            display: none;
        }
    }

    > .grid-row, .grid-row-labels {
        display: flex;
        line-height: 1.2em;
        margin: 0;
        max-width: 100%;
        position: relative;
        width: 100%;

        @media (max-width: $screen-tablet) {
            flex-wrap: wrap;
            padding: 7px;
        }


        @media (min-width: $screen-tablet + 1) {
            flex-wrap: nowrap;
            padding: 15px;
        }

        > div {
            &:nth-of-type(1) {
                padding-left: 0;
            }

            &:last-of-type {
                padding-right: 0;
            }
        }

        > [class^="col"] {
            overflow: hidden;
            padding-left: 7px;
            padding-right: 7px;
            position: relative;
            white-space: nowrap;
        }
    }

    > .grid-row-labels {
        padding-bottom: 7px;
        padding-top: 7px;

        > [class^="col"] {
            @include label-small($font-size-base);
            font-weight: 600;
            margin-bottom: 0;
            text-indent: 0;
        }

        @media (max-width: $screen-xs-max) {
            display: none;
        }
    }

    > .grid-row {
        @include transition(background-color 0.5s);
        @include gridrow-border();
    }

    > .grid-row + .grid-row,
    > .grid-row + .grid-detail:not(.active) + .grid-row {
        border-top-color: transparent;
    }

    > .grid-detail {
        @include innershadow(inset 0 0 45px, $vp-gray-lighter);
        display: none;
        margin-left: 0;
        margin-right: 0;
        padding: 15px 15px 30px 15px;
        position: relative;

        &.active {
            display: block;
        }

        .vpgrid {
            .grid-pager {
                margin-right: 11px;
            }
        }
    }

    > .grid-pager {
        font-size: $font-size-small;
        padding-bottom: 15px;
        padding-top: 15px;
        text-align: center;

        .pager-text {
            padding: 0 4px 0 4px;
        }

        .pager-button {
            em {
                padding: 0 4px 0 4px;
            }

            > em {
                color: $link-color;
                cursor: pointer;

                &:hover {
                    color: $link-hover-color;
                }

                &:focus {
                    color: $link-hover-color;
                }
            }

            > .pager-disabled {
                color: $vp-button-disabled-bg;
            }
        }
    }

    > .alert {
        background: transparent;
        border-color: $vp-gray-light;
        border-style: dotted;
        border-width: 1px 0 1px 0;
        min-height: 45px;
        line-height: 1.2em;
        margin: 0;
        padding: 18px;
    }

    .labeled-number {
        @media (max-width: $screen-tablet) {
            > div {
                font-size: 22px;
            }
        }
    }

    .light {
        opacity: 0.65;
    }
}

/* grid implementations */
.vpgrid.grid-visits, .vpgrid.grid-visits-single-line {
    > .grid-row {
        .icon-visit-type {
            display: inline-block;
            float: left;

            &.visit-type-hb {
                background: url('/Content/Images/hb.png') no-repeat center center;
                background-size: contain;
            }

            &.visit-type-pb {
                background: url('/Content/Images/pb.png') no-repeat center center;
                background-size: contain;
            }
        }

        .icon-visit-eob, .icon-visit-facility {
            display: inline-block;
            float: left;
        }
    }
}

.vpgrid.grid-visits {
    > .grid-row {

        @media (max-width: $screen-tablet) {
            position: relative;
            padding-left: 70px;
            min-height: 78px;
        }

        > div {

            @media (max-width: $screen-tablet) {

                &:nth-of-type(1) {
                    min-width: 63px;
                    max-width: 63px;
                    position: absolute;
                    left: 7px;
                    top: 7px;
                }

                &:nth-of-type(2) {
                    flex-basis: 100%;
                    flex-grow: 1;

                    span {
                        font-size: $font-size-small;
                    }
                }

                &:nth-of-type(3) {
                    flex-shrink: 1;
                    padding-top: 4px;
                }

                &:nth-of-type(4) {
                    flex-grow: 1;
                    padding-top: 4px;
                }

                .icon-service-group {
                    @include vertical-center();
                    display: inline-block;
                    float: left;

                    img {
                        max-height: 22px;
                        margin: 0 7px 0 0;
                        max-width: 88px;
                    }
                }

                .icon-visit-type {
                    height: 22px;
                    margin: 1px 7px 0 0;
                    width: 22px;
                }

                .icon-visit-eob, .icon-visit-facility {
                    max-height: 24px;
                }

                .labeled-number {
                    &.show-status {
                        padding-bottom: 22px;
                    }

                    > span {
                        bottom: 0;
                        position: absolute;
                        right: 0;
                    }

                    > div {
                        line-height: 24px;
                    }
                }
            }

            @media (min-width: $screen-tablet + 1) {
                height: 63px;

                &:nth-of-type(1) {
                    flex-shrink: 1;
                    max-width: 75px;
                    min-width: 75px;
                }

                &:nth-of-type(2) {
                    flex-grow: 1;

                    > div {
                        @include vertical-center();
                    }
                }

                &:nth-of-type(3) {
                    max-width: 160px;
                    min-width: 160px;
                }

                &:nth-of-type(4) {
                    max-width: 150px;
                    min-width: 150px;

                    .labeled-number {
                        @include vertical-center();
                    }
                }

                .icon-service-group {
                    @include vertical-center();
                    display: inline-block;
                    float: left;

                    img {
                        max-height: 30px;
                        margin: 0 7px 0 0;
                        max-width: 120px;
                    }
                }

                .icon-visit-type {
                    @include vertical-center();
                    height: 30px;
                    margin: 0 10px 0 0;
                    width: 30px;
                }

                .icon-visit-eob, .icon-visit-facility {
                    @include vertical-center();
                    max-height: 32px;
                }

                .icon-visit-eob {
                    max-width: 32px;
                }

                .icon-visit-facility {
                    margin-left: 5px;
                    max-width: 68px;
                }
            }

            &:nth-of-type(2) {
                @include text-overflow();

                > div {
                    @include text-overflow();
                }
            }

            .past-due-indicator, .on-hold-indicator {
                &:before {
                    font-size: 15px;
                }
            }
        }
    }
}

.vpgrid.grid-visits-single-line {
    > .grid-row {
        @media (min-width: $screen-sm-min) {
            flex-wrap: nowrap;
        }

        padding-bottom: 15px;
        padding-top: 15px;

        > div {
            @media (max-width: $screen-tablet) {

                &:nth-of-type(1) {
                    min-width: 80px;
                    max-width: 80px;
                }

                &:nth-of-type(2) {
                    flex-grow: 1;
                    padding-right: 0;
                }

                &:nth-of-type(3) {
                    @include text-overflow();
                    font-size: $font-size-smaller;
                    order: 4;
                    flex-grow: 1;
                    padding-left: 0;
                    padding-right: 0;
                    padding-top: 7px;
                }

                &:nth-of-type(4) {
                    max-width: 93px;
                    min-width: 93px;
                    order: 3;
                    text-align: right;
                }
            }

            @media (min-width: $screen-sm-min) {
                &:nth-of-type(1) {
                    max-width: 80px;
                    min-width: 80px;
                }

                &:nth-of-type(2) {
                    max-width: 107px;
                    min-width: 107px;
                    padding-right: 0;
                }

                &:nth-of-type(3) {
                    @include text-overflow();
                    flex-grow: 1;
                }

                &:nth-of-type(4) {
                    max-width: 93px;
                    min-width: 93px;
                    padding-left: 0;
                    text-align: right;
                }
            }

            .icon-service-group {
                display: inline-block;
                float: left;

                img {
                    max-height: 16px;
                    margin: 0 7px 0 0;
                    max-width: 75px;
                }
            }

            .icon-visit-type {
                height: 16px;
                margin: 0 7px 0 0;
                width: 16px;
            }

            .icon-visit-eob {
                max-height: 16px;
            }

            .past-due-indicator, .on-hold-indicator {
                &:before {
                    font-size: 15px;
                    padding-right: 0;
                }
            }
        }
    }
}

.vpgrid.grid-transactions {
    font-size: $font-size-small;

    .grid-row {
        padding: 7px 0 7px 0;

        > div {

            @media (max-width: $screen-tablet) {
                height: 20px;
                line-height: 20px;

                &:nth-of-type(1) {
                    order: 1;
                    width: 75px;
                }

                &:nth-of-type(2) {
                    @include text-overflow();
                    flex-basis: 100%;
                    order: 3;
                    padding-left: 0;
                }

                &:nth-of-type(3) {
                    flex-grow: 1;
                    order: 2;
                    text-align: right;
                }
            }

            @media (min-width: $screen-tablet + 1) {
                height: 34px;
                line-height: 34px;

                &:nth-of-type(1) {
                    max-width: 75px;
                    min-width: 75px;
                }

                &:nth-of-type(2) {
                    @include text-overflow();
                    flex-grow: 1;
                }

                &:nth-of-type(3) {
                    text-align: right;
                    max-width: 70px;
                    min-width: 70px;
                }
            }
        }
    }
}

.vpgrid.grid-eob {
    font-size: $font-size-small;

    .grid-row {
        padding: 0 7px 0 7px;

        > div {
            height: 46px;
            line-height: 46px;

            &:nth-of-type(1) {
                max-width: 22%;
                min-width: 22%;

                > div {
                    line-height: 1.2em;
                }
            }

            &:nth-of-type(2) {
                max-width: 73%;
                min-width: 73%;

                img {
                    max-height: 16px;
                    max-width: 16px;
                }
            }

            &:nth-of-type(3) {
                max-width: 5%;
                min-width: 5%;
            }
        }
    }

    .grid-detail {
        @include box-shadow(none);
        line-height: 2em;
        padding: 0 0 15px 0;

        .eob-detail {
            padding-left: 25%;

            @media (max-width: $screen-tablet) {
                padding-left: 0;
            }

            > .row {
                margin-left: 0;
                margin-right: 0;
            }

            .indent {
                padding-left: 30px;
            }
        }

        .eob-amount {
            padding-right: 7px;
        }

        .panel {
            margin-top: 12px;

            .panel-heading,
            .panel-body {
                line-height: 32px;
                padding-bottom: 0;
                padding-top: 0;
            }

            .panel-heading {
                font-family: $font-family-base;
                font-size: $font-size-base;
                height: auto;
                position: relative;
                line-height: 17px;
                padding: 10px 40px 10px 15px;

                .responsibility-tooltip {
                    cursor: pointer;
                    font-size: $font-size-large;
                    line-height: normal;
                    margin-top: -10px;
                    position: absolute;
                    right: 7px;
                    top: 50%;

                    &:after {
                        @include vpicon();
                        @include vpicon-question();
                    }
                }
            }

            [class^="col"] {
                @include text-overflow();
                border-bottom: 1px dotted $_grid-border-color;
            }
        }
    }
}

.vpgrid.grid-payment-pending, .vpgrid.grid-payment-history {
    > .grid-row {
        padding-bottom: 13px;
        padding-top: 13px;

        > div {
            height: 24px;
            line-height: 24px;

            &:last-of-type {
                max-width: 70px;
                min-width: 70px;
                text-align: right;
            }
        }

        @media (min-width: $screen-tablet + 1) {
            > div {
                &:nth-of-type(1) {
                    max-width: 80px;
                    min-width: 80px;
                }
            }
        }

        @media (max-width: $screen-tablet) {

            .payment-method-col {
                max-width: 40px;
                min-width: 40px;
            }

            .payment-method-display {
                span {
                    display: none;
                }
            }
        }
    }

    @media (max-width: $screen-tablet) {
        .grid-detail {
            font-size: $font-size-small;
            padding-left: 0;
            padding-right: 0;

            .links {
                display: none;
            }

            .payment-method-display {
                img {
                    display: none;
                }
            }
        }
    }
}

.vpgrid.grid-payment-pending {
    > .grid-row {
        @media (min-width: $screen-tablet + 1) {
            > div {
                &:nth-of-type(3) {
                    flex-grow: 1;
                    text-align: right;
                }
            }
        }

        @media (max-width: $screen-tablet) {
            > div {
                height: 16px;
                line-height: 16px;

                &:nth-of-type(1) {
                    flex-grow: 1;
                }

                &:nth-of-type(2) {
                    @include text-overflow();
                    font-size: $font-size-smaller;
                    flex-basis: 100%;
                    flex-grow: 1;
                    height: 23px;
                    order: 4;
                    padding-left: 0;
                    padding-right: 0;
                    padding-top: 7px;
                }

                &:nth-of-type(3) {
                    order: 2;
                }

                &:nth-of-type(4) {
                    order: 3;
                }
            }

            .payment-method-col {
                overflow: visible;

                img {
                    top: 0;
                }
            }
        }
    }
}

.vpgrid.grid-payment-history {
    > .grid-row {
        @media (min-width: $screen-tablet + 1) {
            > div {
                &:nth-of-type(2) {
                    max-width: 130px;
                    min-width: 130px;
                }

                &:nth-of-type(3) {
                    max-width: 225px;
                    min-width: 160px;
                }

                &:nth-of-type(4) {
                    flex-grow: 1;
                    text-align: right;
                }
            }
        }

        @media (max-width: $screen-tablet) {
            flex-wrap: nowrap;

            > div {
                &:nth-of-type(1) {
                    flex-shrink: 1;
                }

                &:nth-of-type(2) {
                    flex-grow: 1;
                }

                &:nth-of-type(3) {
                    display: none;
                }
            }
        }
    }

    .payment-details {
        .links {
            padding: 15px 15px 7px 0;

            a {
                float: right;
                font-size: 11px;
                text-decoration: none;
                text-transform: uppercase;
            }
        }

        .modern-grid {
            margin-bottom: 0;
            margin-left: 15px;
            margin-right: 15px;
            margin-top: 30px;
            width: calc(100% - 30px);

            colgroup {
                col {
                    &:nth-of-type(1) {
                        width: 140px;
                    }

                    &:nth-of-type(2) {
                        width: 100%;
                    }

                    &:nth-of-type(3) {
                        width: 140px;
                    }
                }
            }

            @media (max-width: $screen-tablet) {
                colgroup {
                    col {
                        &:nth-of-type(1) {
                            width: 80px;
                        }

                        &:nth-of-type(2) {
                            width: 100%;
                        }

                        &:nth-of-type(3) {
                            width: 70px;
                        }
                    }
                }
            }
        }
    }
}

.vpgrid.grid-current-finance-plans {

    > .grid-row {
        > div {
            padding-top: 13px;

            @media (max-width: $screen-tablet) {

                &:nth-of-type(1) {
                    order: 1;
                }

                &:nth-of-type(2) {
                    flex-basis: 100%;
                    padding-top: 5px;
                    order: 4;
                }

                &:nth-of-type(3) {
                    flex-shrink: 1;
                    order: 2;
                    text-align: center;
                }

                &:nth-of-type(4) {
                    flex-grow: 1;
                    order: 3;
                    text-align: right;
                }

                .past-due {
                    @include vertical-center();
                    font-size: $font-size-small;
                }

                .auto-pay-date {
                    font-size: $font-size-small;
                    text-align: center;
                }
            }

            @media (min-width: $screen-tablet + 1) {

                &:nth-of-type(1) {
                    max-width: 18%;
                    min-width: 18%;
                }

                &:nth-of-type(2) {
                    max-width: 42%;
                    min-width: 42%;
                }

                &:nth-of-type(3) {
                    max-width: 17%;
                    min-width: 17%;
                }

                &:nth-of-type(4) {
                    max-width: 22%;
                    min-width: 22%;
                }

                .auto-pay-date, .past-due {
                    @include vertical-center();
                }
            }
        }
    }

    .labeled-number {
        margin-top: -13px;

        span {
            font-size: 11px;
            font-weight: 500;
            text-transform: uppercase;
        }
    }

    .fp-balance {
        text-align: left;
    }

    .monthly-amount {

        div {
            display: inline-block;
            position: relative;
            padding-left: 34px;

            .vpicon-recurring-money {
                bottom: 2px;
                position: absolute;
                left: 0;

                @media (max-width: $screen-tablet) {
                    bottom: 5px;
                }
            }

            @media (max-width: $screen-tablet) {
                padding-left: 0;

                .vpicon-recurring-money {
                    display: none;
                }
            }
        }
    }

    .details {
        a {
            text-decoration: none;
        }
    }

    .actions {

        @include clearfix();
        background: #f8f8f8;
        list-style: none;
        margin: -15px -15px 0 -15px;
        padding: 7px 30px 4px 7px;
        text-align: right;

        li {
            display: inline-block;

            &:not(:last-of-type) {
                &:after {
                    content: '|';
                    color: $vp-gray-dark;
                    font-weight: bold;
                    padding: 0 10px 0 10px;
                }
            }
        }

        a {
            text-decoration: none;
        }

        @media (max-width: $screen-tablet) {
            text-align: center;
        }
    }

    .actions + hr {
        margin: 0 -15px 14px -15px;
    }

    hr {
        margin: 7px 0 7px 0;
    }

    @media (max-width: $screen-tablet) {
        .grid-detail {
            font-size: $font-size-small;
            padding-top: 15px;

            .actions {
                padding-right: 0;
            }

            hr {
                background: $vp-gray-light;
                height: 1px;
            }
        }
    }
}

.vpgrid.grid-finance-plan-history {
    > .grid-row {

        > div {
            &:nth-of-type(1) {
                max-width: 80px;
                min-width: 80px;
            }

            &:nth-of-type(5) {
                max-width: 80px;
                min-width: 80px;
                text-align: right;
            }
        }

        @media (min-width: $screen-tablet + 1) {
            > div {
                &:nth-of-type(2) {
                    max-width: 160px;
                    min-width: 130px;
                }

                &:nth-of-type(3) {
                    flex-grow: 1;
                    text-align: right;
                }

                &:nth-of-type(4) {
                    max-width: 120px;
                    min-width: 120px;
                    text-align: right;
                }
            }
        }

        @media (max-width: $screen-tablet) {
            flex-wrap: nowrap;
            height: 52px;

            > div {
                line-height: 36px;

                &:nth-of-type(2) {
                    min-width: unset;
                    max-width: unset;
                    flex-grow: 1;
                }

                &:nth-of-type(5) {
                    min-width: unset;
                    max-width: unset;
                    flex-shrink: 1;
                }

                &:nth-of-type(3), &:nth-of-type(4) {
                    display: none;
                }
            }
        }
    }

    .modern-grid {
        margin-bottom: 0;
        margin-top: 30px;
        width: 100%;

        colgroup {
            col {
                &:nth-of-type(1) {
                    width: 100%;
                }

                &:nth-of-type(2) {
                    width: 140px;
                }

                @media (max-width: $screen-tablet) {
                    &:nth-of-type(2) {
                        width: 70px;
                    }
                }
            }
        }
    }
}

.vpgrid.grid-current-finance-plans, .vpgrid.grid-finance-plan-history {
    @media (max-width: $screen-tablet) {
        .finance-plan-detail {
            font-size: $font-size-small;

            .left-column {
                line-height: 23px;
            }

            .right-column {
                border-top: 1px dotted $vp-gray-light;
                line-height: 23px;
                margin-top: 7px;
                padding-top: 7px;
            }

            .details > .row {
                margin-left: -15px;
                margin-right: -15px;
            }
        }
    }
}

.vpgrid.grid-customer-care {
    > .grid-row, > .grid-row-labels {

        > div {
            &:nth-of-type(1) {
                max-width: 135px;
                min-width: 135px;
            }

            &:nth-of-type(2) {
                max-width: 90px;
                min-width: 90px;
            }

            &:nth-of-type(3) {
                max-width: 135px;
                min-width: 135px;
            }

            &:nth-of-type(4) {
                max-width: 60px;
                min-width: 60px;
            }

            &:nth-of-type(5) {
                max-width: 265px;
                min-width: 265px;
            }
        }

        @media (max-width: $screen-xs-max) {
            > div {
                line-height: 24px;

                &:nth-of-type(1) {
                    max-width: 65%;
                    min-width: 65%;
                }

                &:nth-of-type(2) {
                    max-width: 35%;
                    min-width: 35%;
                    text-align: right;
                }

                &:nth-of-type(3) {
                    max-width: 65%;
                    min-width: 65%;
                    padding-left: 0;
                }

                &:nth-of-type(4) {
                    max-width: 35%;
                    min-width: 35%;
                    text-align: right;
                }

                &:nth-of-type(5) {
                    max-width: 100%;
                    min-width: 100%;
                    padding-left: 0;
                }
            }
        }

        .glyphicon {
            margin-left: 3px;
            top: 3px;

            &.unread-message {
                color: $client-primary;
            }

            &.no-unread-message {
                color: $vp-gray-medium;
            }
        }
    }
}
/* VPNG-16874, firefox bug, border lines randomly disappear on the option list depending on resolution/browser dimension. */
@-moz-document url-prefix() {
    .jqGridFilter.container {
        select.form-control {
            width: calc(100% + 1px);
        }
    }
}

.payment-method-display {
    display: inline-block;
    min-height: 24px;
    line-height: 24px;
    position: relative;

    &.icon-right {
        padding-right: 32px;

        img {
            right: 0;
        }
    }

    &:not(.icon-right) {
        padding-left: 32px;

        img {
            left: 0;
        }
    }

    img {
        max-height: 24px;
        top: 2px;

        &:not(.logo-provider ) {
            position: absolute;
        }

        &.logo-provider {
            padding-right: 10px;
        }
    }


    a {
        padding-left: 7px;
    }
}

.grid-contact-us {
    > .grid-row {
        flex-wrap: wrap;

        > .col {
            &:nth-of-type(1) {
                @include text-overflow();
                flex-grow: 1;
                padding: 0 0 7px 0;
                width: 100%;
            }

            &:nth-of-type(2) {
                @include text-overflow();
                padding: 0 0 7px 0;
                width: 100%;
            }

            &:nth-of-type(3) {
                @include text-overflow();
                padding: 0 0 7px 0;
                width: 100%;
            }
        }
    }

    > .grid-row-labels {
        @media (min-width: $screen-tablet + 1) {
            > .col {
                &:nth-of-type(1) {
                    flex-grow: 1;
                }

                &:nth-of-type(2) {
                    flex-shrink: 1;
                    min-width: 125px;
                    text-align: right;
                }

                &:nth-of-type(3) {
                    flex-shrink: 1;
                    min-width: 125px;
                    text-align: right;
                }
            }
        }
    }

    .grid-contact-us-empty {
        font-style: italic;
        padding: 15px;
        text-align: center;
    }
}