﻿@import '_variables.scss';

.guarantor-filter {
    background: #ffffff;
    margin: 0 0 15px 0;

    th {
        cursor: default;
        float: left;
        font-size: $font-size-base;
        font-weight: normal;
        height: 38px;
        line-height: 38px;
        margin: 0;
        padding: 0 10px 0 0;
        position: relative;
        white-space: nowrap;

        .glyphicon {
            line-height: 26px;
            padding-right: 7px;
        }
    }

    td {
        width: 100%;

        .add-account {
            font-weight: bold;
            color: $link-color
        }
    }
}
