﻿@import '_variables.scss';
@import '../Bootstrap/css/bootstrap/_variables.scss';
@import '../Bootstrap/css/bootstrap/_mixins.scss';

#localization-menu {
    margin-top: 7px;
}

#header {
    @include gradient-vertical(#ffffff, lighten($vp-gray-lighter, 1%), 95%, 100%);
    position: relative;
    z-index: 3;

    > div.navbar-parent {
        background: $vp-dark-blue;
        border-color: $navbar-default-border;
        border-style: solid;
        border-width: 0 0 1px 0;
        position: relative;
        width: auto;

        &.navbar-public {
            &:before {
                width: 100%;
            }
        }

        &:not(.navbar-public) {

            &:before {
                width: calc(50% - (993px/2));
            }

            &.home-selected {
                &:before {
                    // background: $navbar-default-link-active-bg;
                    bottom: -1px;
                }

                li.active {
                    // border-left: 1px solid $navbar-default-link-active-bg !important;
                }
            }
        }

        > div {
            @include clearfix();
            margin: auto;
            width: $vp-outer-width;
            position: relative;
            z-index: 2;

            > nav.navbar {
                border: 0;
                font-family: $font-family-alt;

                > ul.navbar-nav {
                    border-color: $navbar-default-border;
                    border-style: solid;
                    border-width: 1px 1px 0 0;
                    margin-bottom: -1px;
                    font-family: $font-family-base;
                    font-size: 18px;

                    > li {
                        &:not(:first-of-type) {
                            border-left: 1px solid $navbar-default-border;
                        }

                        &:first-of-type {
                            &.active {
                                border-left: 1px solid $navbar-default-border;
                            }
                        }

                        border-bottom: 1px solid $navbar-default-border;
                        text-align: center;

                        > a {
                            height: $navbar-height;
                            line-height: $navbar-height - 2;
                            text-decoration: none;
                            display: inline-block;
                            margin-right: 15px;
                        }

                        &.active {
                        }
                    }
                }

                &.navbar-menu {
                    float: left;
                }
            }

            > nav.navbar-public {
                > ul.navbar-nav {
                    border-right: 0;

                    > li {
                        border-style: solid;
                        border-width: 0 1px 1px 1px !important;
                        border-left-color: transparent;
                        border-right-color: transparent;

                        > a {
                            text-align: left;

                            > em {
                                color: #ffffff;
                                padding-right: 7px;
                            }

                            &:hover {
                                background: transparent !important;
                            }
                        }

                        &.open, &:hover {
                            border-left-color: $navbar-default-border !important;
                            border-right-color: $navbar-default-border !important;
                        }

                        &.open {
                            border-bottom-color: $navbar-default-link-active-bg !important;
                        }

                        > ul.dropdown-menu {
                            border: 1px solid $vp-gray-light;
                            border-top: 0;
                            box-shadow: none;
                            left: -1px;
                            min-width: 240px;
                            padding: 0;
                            top: $navbar-height + 1;

                            > li {
                                a {
                                    line-height: $navbar-height + 4;
                                    padding: 0 0 0 $grid-gutter-width/2;
                                    text-decoration: none;

                                    .glyphicon {
                                        color: $vp-gray-light;
                                        float: left;
                                        font-size: 14px;
                                        margin: 12px 12px 0 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    > div.brand {

        @include clearfix();
        height: $brand-height;
        margin: auto;
        padding: 10px 0 0 0;
        position: relative;
        width: $vp-outer-width;

        > div.logo {
            background-image: $client-logo-path;
            background-position: left center;
            background-repeat: no-repeat;
            background-size: contain;
            bottom: 10px;
            left: 0;
            position: absolute;
            width: $client-logo-width;
            top: 10px;

            a {
                bottom: 0;
                color: transparent;
                left: 0;
                position: absolute;
                right: 0;
                top: 0;
            }
            //Make sure localization menu doesn't cover logo on small screens
            @media (max-width: $screen-xs) {
                width: min($client-logo-width, 240px);
            }
        }

        > div.user-emulate {
            float: right;
            padding: 18px 0 0 0;
        }

        > div.login {
            color: $vp-gray-dark;
            float: right;
            font-size: $font-size-small;
            margin: 8px 0 0 0;

            > form > div {
                float: left;
                margin-right: 7px;
                width: 180px;

                a {
                    float: right;
                }

                div {
                    padding: 0 4px 0 4px;
                }

                input {
                    color: $input-color;
                }
            }
        }
    }

    .navbar-settings {
        list-style: none;
        margin: 0;
        padding: 0;
        position: absolute;
        right: 0;

        li {
            float: left;
            height: 100px;
            margin: 0;
            padding: 0;
            width: 100px;

            a {
                color: #ffffff;
                display: block;
                font-size: $font-size-smaller;
                padding-top: 7px;
                position: relative;
                text-align: center;
                text-decoration: none;
                top: 50%;
                transform: translateY(-50%);

                em[class^="vpicon-"] {
                    display: block;
                    font-size: 24px;
                    margin-bottom: 7px;
                    text-align: center;
                }
            }

            &:hover, &.open {
                font-weight: bold;
            }

            &.open {
                @include gradient-vertical(#ffffff, $vp-gray-lightest, 30%, 70%);

                > a {
                    color: $vp-dark-blue;
                }
            }
        }

        [data-count]:after {
            $dim: 22px;

            background: rgba(255, 0, 0, 0.8);
            color: white;
            content: attr(data-count);
            font-family: $font-family-base;
            font-size: $font-size-smaller;
            font-weight: bold;
            left: 65%;
            position: absolute;
            text-align: center;
            top: 0;
            border-radius: $dim/2;
            height: $dim;
            line-height: $dim;
            width: $dim;
        }
    }
}
