﻿@import '_variables.scss';
@import '_mixins.scss';
@import '../Bootstrap/css/bootstrap/_variables.scss';
@import '../Bootstrap/css/bootstrap/_mixins.scss';

$helpButtonRadius: 50%;

//Buttons that will go inside the helpButtonGroup
.helpButton {
    //Want icon on top of text (stacked vertically)
    > i {
        padding: 10px 0 0 0;
        display: block;
        font-size: 26px;
    }
    //Treat all active/focus/etc events like a bootstrap themed button
    @include button-variant(#ffffff, $client-accent, $client-accent);
    //Default state of button should be client-accent and white text
    color: #ffffff;
    background-color: transparent;
    border-color: transparent;
    border-radius: $helpButtonRadius;
    width: 64px;
    height: 64px;
    line-height: 20px !important;
    padding-top: 0 !important;
    //Remove dotted outline from "tab-focus" mixin css that comes with bootstrap buttons
    &,
    &:active,
    &.active {
        &:focus,
        &.focus {
            outline: none;
        }
    }
}

//Container that will hold any page help type buttons. Floats on the lower right hand side of the window
.helpButtonGroup {
    margin: auto 1px 1px auto;
    background-color: $client-accent;
    border-radius: $helpButtonRadius;
    width: 64px;
    height: 64px;
    cursor: pointer;
    display: block;
    z-index: 222222;
    position: fixed;
    bottom: $vp-footer-height + 4px; //Make sure it doesn't cover up the footer
    right: 20px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
}

.pulse-button {
    color: #ffffff;
    background-color: $client-accent;
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
}

@-webkit-keyframes glowing {
    0% {
        box-shadow: 0 0 3px darken($client-accent, 10%);
    }

    50% {
        box-shadow: 0 0 40px $client-accent;
    }

    100% {
        box-shadow: 0 0 3px darken($client-accent, 10%);
    }
}

@-moz-keyframes glowing {
    0% {
        box-shadow: 0 0 3px darken($client-accent, 10%);
    }

    50% {
        box-shadow: 0 0 40px $client-accent;
    }

    100% {
        box-shadow: 0 0 3px darken($client-accent, 10%);
    }
}

@-o-keyframes glowing {
    0% {
        box-shadow: 0 0 3px darken($client-accent, 10%);
    }

    50% {
        box-shadow: 0 0 40px $client-accent;
    }

    100% {
        box-shadow: 0 0 3px darken($client-accent, 10%);
    }
}

@keyframes glowing {
    0% {
        box-shadow: 0 0 3px darken($client-accent, 10%);
    }

    50% {
        box-shadow: 0 0 40px $client-accent;
    }

    100% {
        box-shadow: 0 0 3px darken($client-accent, 10%);
    }
}
