﻿@font-face {
    font-family: 'vpicon';
    src: url('/fonts/VisitPay-Icon-Font.eot?zfp1ru');
    src: url('/fonts/VisitPay-Icon-Font.eot?zfp1ru#iefix') format('embedded-opentype'), url('/fonts/VisitPay-Icon-Font.woff2?zfp1r') format('woff2'), url('/fonts/VisitPay-Icon-Font.ttf?zfp1r') format('truetype'), url('/fonts/VisitPay-Icon-Font.woff?zfp1r') format('woff'), url('/fonts/VisitPay-Icon-Font.svg?zfp1r#VisitPay-Icon-Font') format('svg');
    font-weight: normal;
    font-style: normal;
}

@mixin vpicon() {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'vpicon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-transform: none;
    speak: none;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="vpicon-"], [class*=" vpicon-"] {
    @include vpicon();
}

@mixin vpicon-toggleOn() {
    content: '\e92d';
}

.vpicon-toggleOn {
    &:before {
        @include vpicon-toggleOn();
    }
}

@mixin vpicon-toggleOff() {
    content: '\e92c';
}

.vpicon-toggleOff {
    &:before {
        @include vpicon-toggleOff();
    }
}

@mixin vpicon-bill() {
    content: '\e92b';
}

.vpicon-bill {
    &:before {
        @include vpicon-bill();
    }
}


@mixin vpicon-cards() {
    content: '\e91a';
}

.vpicon-cards {
    &:before {
        @include vpicon-cards();
    }
}

@mixin vpicon-recurring-money() {
    content: '\e92a';
}

.vpicon-recurring-money {
    &:before {
        @include vpicon-recurring-money();
    }
}

@mixin vpicon-bell-clear() {
    content: '\e900';
}

.vpicon-bell-clear {
    &:before {
        @include vpicon-bell-clear();
    }
}

@mixin vpicon-bell-filled() {
    content: '\e901';
}

.vpicon-bell-filled {
    &:before {
        content: '\e901';
    }
}

@mixin vpicon-calendar() {
    content: '\e902';
}

.vpicon-calendar {
    &:before {
        @include vpicon-calendar();
    }
}

@mixin vpicon-document() {
    content: '\e903';
}

.vpicon-document {
    &:before {
        @include vpicon-document();
    }
}

@mixin vpicon-documents-filled() {
    content: '\e904';
}

.vpicon-documents-filled {
    &:before {
        @include vpicon-documents-filled();
    }
}

@mixin vpicon-documents() {
    content: '\e90d';
}

.vpicon-documents {
    &:before {
        @include vpicon-documents();
    }
}

@mixin vpicon-folder() {
    content: '\e90e';
}

.vpicon-folder {
    @include vpicon-folder();
}

@mixin vpicon-gear-filled() {
    content: '\e911';
}

.vpicon-gear-filled {
    &:before {
        @include vpicon-gear-filled();
    }
}

@mixin vpicon-gear() {
    content: '\e912';
}

.vpicon-gear {
    &:before {
        @include vpicon-gear();
    }
}

@mixin vpicon-message-filled() {
    content: '\e913';
}

.vpicon-message-filled {
    &:before {
        @include vpicon-message-filled();
    }
}

@mixin vpicon-message() {
    content: '\e914';
}

.vpicon-message {
    &:before {
        @include vpicon-message();
    }
}

@mixin vpicon-pdf() {
    content: '\e915';
}

.vpicon-pdf {
    &:before {
        @include vpicon-pdf();
    }
}

@mixin vpicon-profile-filled() {
    content: '\e916';
}

.vpicon-profile-filled {
    &:before {
        @include vpicon-profile-filled();
    }
}

@mixin vpicon-profile() {
    content: '\e917';
}

.vpicon-profile {
    &:before {
        @include vpicon-profile();
    }
}

@mixin vpicon-question-filled() {
    content: '\e918';
}

.vpicon-question-filled {
    &:before {
        @include vpicon-question-filled();
    }
}

@mixin vpicon-question() {
    content: '\e919';
}

.vpicon-question {
    &:before {
        @include vpicon-question();
    }
}

@mixin vpicon-check-filled {
    content: '\e909';
}

.vpicon-check-filled {
    &:before {
        @include vpicon-check-filled();
    }
}

@mixin vpicon-check {
     content: '\e90a';
}

.vpicon-check {
    &:before {
        @include vpicon-check();
    }
}

@mixin vpicon-email {
   content: '\e90b';
}

.vpicon-email {
    &:before {
        @include vpicon-email();
    }
}

@mixin vpicon-eob {
        content: '\e90c';
}

.vpicon-eob {
    &:before {
        @include vpicon-eob();
    }
}

@mixin vpicon-financeplan {
        content: '\e90f';
}

.vpicon-financeplan {
    &:before {
        @include vpicon-financeplan();
    }
}

@mixin vpicon-flag {
        content: '\e910';
}

.vpicon-flag {
    &:before {
        @include vpicon-flag();
    }
}

@mixin vpicon-flag-filled {
    content: '\e922'
}

.vpicon-flag-filled {
    &:before {
        @include vpicon-flag-filled();
    }
}

@mixin vpicon-paperclip {
    content: '\e91b';
}

.vpicon-paperclip {
    &:before {
        @include vpicon-paperclip();
    }
}

@mixin vpicon-recurring {
     content: '\e91c';
}

.vpicon-recurring {
    &:before {
        @include vpicon-recurring();
    }
}

@mixin vpicon-stethoscope {
     content: '\e91d';
}

.vpicon-stethoscope {
    &:before {
        @include vpicon-stethoscope();
    }
}

@mixin vpicon-support-filled {
    content: '\e91e';
}

.vpicon-support-filled {
    &:before {
        @include vpicon-support-filled();
    }
}

@mixin vpicon-support {
   content: '\e91f';
}

.vpicon-support {
    &:before {
        @include vpicon-support();
    }
}

@mixin vpicon-wrench {
   content: '\e920';
}

.vpicon-wrench {
    &:before {
        @include vpicon-wrench();
    }
}

@mixin vpicon-new-window {
    content: '\e907';
}

.vpicon-new-window {
    &:before {
        @include vpicon-new-window();
    }
}

@mixin vpicon-downloads {
    content: '\e908';
}

.vpicon-downloads {
    &:before {
        @include vpicon-downloads();
    }
}

@mixin vpicon-print {
    content: '\e905';
}

.vpicon-print {
    &:before {
        @include vpicon-print();
    }
}

@mixin vpicon-close {
   content: '\e906';
}

.vpicon-close {
    &:before {
        @include vpicon-close();
    }
}

.past-due-indicator {
    &:before {
        @include vpicon();
        @include vpicon-flag-filled();
        font-size: 1.4em;
        vertical-align: sub;
        padding-right: 2px;
    }
}

.on-hold-indicator {
    &:before {
        @include vpicon();
        @include vpicon-flag();
        font-size: 1.4em;
        vertical-align: sub;
        padding-right: 2px;
    }
}