﻿@import '_variables.scss';
@import '_mixins-common.scss';
@import '../Bootstrap/css/bootstrap/_variables.scss';

// depends on .layout-alt
// overrides as necessary
html.layout-offline {
    min-height: 100.1%;
    // hide localization menu
    #localization-menu {
        display: none;
    }

    #content {
        max-width: 600px !important;

        .box {
            font-size: $font-size-base;
        }
    }

    .offline-menu {
        margin: 0 30px 0 30px;
        width: 100%;

        ul {
            display: flex;
            flex: 1;
            justify-content: center;
            margin: 0;
            padding: 0;

            li {
                background: $vp-gray-lighter;
                border-radius: 8px 0 0 0;
                border: 2px solid $vp-gray-light;
                display: inline-block;
                flex-basis: 0;
                flex-grow: 1;
                font-family: $font-family-alt;
                margin: 0;
                white-space: nowrap;

                &.active {
                    background: #ffffff;
                    border-bottom-color: transparent;
                }


                &:last-of-type {
                    border-radius: 0 8px 0 0;
                }

                > a {
                    align-items: center;
                    color: $text-color;
                    display: flex;
                    justify-content: center;
                    font-size: 15px;
                    height: 40px;
                    padding: 0 7px 0 7px;
                    text-align: center;

                    em[class^="vpicon-"], em.glyphicon {
                        color: $vp-gray-dark;
                        margin-right: 10px;

                        &:before {
                            font-size: 20px;
                        }
                    }

                    em.glyphicon {
                        margin-top: -3px;

                        &:before {
                            font-size: 16px;
                        }
                    }
                }

                &:not(.active) {
                    > a {
                        &:hover {
                            background: darken($vp-gray-lighter, 3%);
                            color: $client-payment-icon-bg;
                        }
                    }
                }
            }

            li + li {
                border-radius: 0 8px 0 0;
                border-left-width: 0;
            }

            &:after {
                clear: both;
                content: '';
                display: block;
            }
        }
    }

    .offline-heading {
        background: $vp-gray-lightest;
        border-color: darken($vp-gray-light, 5%);
        border-style: solid;
        border-width: 1px;
        box-shadow: 1px 2px 3px rgba(0,0,0,0.25);
        font-size: 15px;
        font-weight: $headings-font-weight;
        margin: 0 0 15px 0;
        padding: 10px 15px 10px 15px;
    }

    .alerts {
        width: 100%;
    }
}
