﻿@import '_variables.scss';
@import '_mixins-common.scss';
@import '../Bootstrap/css/bootstrap/_variables.scss';

html.layout-alt {

    $layout-min-width: 320px;
    $layout-box-shadow: 0 6px 6px rgba(0, 0, 0, 0.175);

    min-width: $layout-min-width;

    body {
        display: flex;
        flex-direction: column;
        height: 100.1vh;
        min-width: $layout-min-width;

        &.client-bg {
            background: $vp-darker-blue url('/content/client/background-landing.jpg') no-repeat;
            background-attachment: fixed;
            background-position: top center;
            background-size: cover;
        }
    }

    #wrapper {
        flex: 1 0 auto;
        margin-bottom: unset;
        min-height: unset;
        min-width: $layout-min-width;
        padding: 0;
        width: 100%;

        #header {
            background: #ffffff;

            .brand {
                min-width: $layout-min-width;
                max-width: $vp-outer-width;
                width: 100%;
            }

            .logo {
                max-width: calc(100% - 72px);
            }
        }

        #content {
            min-width: $layout-min-width;
            max-width: $vp-outer-width;
            width: 100%;
        }
    }

    #footer {
        background: #ffffff;
        border-top: 0;

        > div {
            min-width: $layout-min-width;
            max-width: $vp-outer-width;
            width: 100%;
        }
    }

    .navbar-nav {
        float: right;
        list-style: none;
        margin: 5px 0 0 0;
        padding: 0;

        .dropdown-toggle {
            background: none;
            float: right;
            font-size: 32px;
            color: $vp-dark-blue;
            position: relative;

            .text {
                display: none;
            }

            &:hover {
                color: $link-hover-color;
            }

            .glyphicon {
                height: 32px;
                width: 32px;
            }
        }

        .open {

            .glyphicon-menu-hamburger {
                &:before {
                    content: 'x';
                    display: block;
                    font-family: $font-family-base;
                    font-size: 28px;
                    height: 32px;
                    text-align: center;
                    width: 32px;
                }
            }
        }

        .dropdown-menu {
            border: none;
            box-shadow: $layout-box-shadow;
            float: none;
            font-size: 16px;
            left: auto;
            min-width: 220px;
            right: 0;

            li {
                padding: 0 20px 0 20px;

                a {
                    background: none;
                    border-bottom: 1px dotted $vp-gray-light;
                    display: block;
                    padding: 12px 0 12px 0;
                    text-decoration: none;

                    &:hover {
                        color: $link-hover-color;
                    }
                }

                &:last-child {
                    a {
                        border-bottom: none;
                    }
                }

                span {
                    display: none;
                }
            }
        }
    }

    #footer {
        flex-shrink: 0;

        .switch-mobile {
            display: none !important;
        }

        > div {
            min-height: $vp-footer-height;
            height: auto;
            line-height: $vp-footer-height;

            @media (max-width: $vp-outer-width) {
                padding-left: 15px;
                padding-right: 15px;
            }

            @media (max-width: $screen-tablet) {
                display: flex;
                flex-wrap: wrap;
                height: $vp-footer-height * 2;

                .links {
                    flex-basis: 100%;
                    order: 1;
                    text-align: center;
                }

                .payment {
                    background-position-x: right;
                    flex-basis: 50%;
                    order: 2;
                }

                .logo {
                    background-position-x: right;
                    flex-basis: 50%;
                    order: 3;
                }

                .visitpay {
                    order: 4;
                    max-width: 124px;
                    min-width: 124px;
                }
            }
        }
    }

    #content {
        display: flex;
        flex-flow: row wrap;
        margin-top: 15px;

        .flex-sidebar {
            display: flex;
            flex: 1;
            flex-direction: column;

            @media (max-width: $screen-tablet) {
                &.hidden-sm {
                    display: none !important;
                }
            }
        }

        .flex-body {
            display: flex;
            flex: 2;
            flex-direction: column;
        }

        h1, h2, h3, h4, h5, h6 {
            color: $vp-dark-blue;
        }

        h1 {
            margin-top: 0;
        }

        @media (max-width: $screen-tablet) {
            .flex-sidebar {
                flex-basis: 100%;
                order: 0;
            }

            .flex-body {
                flex-basis: 100%;
                order: 1;
            }
        }

        .box {
            $box-margin: 10px;
            $box-padding: $box-margin * 2;
            $box-border-radius: 8px;
            $box-box-shadow: 0 6px 6px rgba(0, 0, 0, 0.175);
            border-radius: $box-border-radius;
            box-shadow: $box-box-shadow;
            font-size: 15px;
            margin: $box-margin;
            overflow: hidden;
            display: flex;

            &.content-box {
                background: #fff;
                flex-flow: row wrap;
                padding: $box-padding;
            }

            &.photo-info-box {
                background: #ffffff;
                flex-flow: row wrap;

                .photo-box {
                    flex: 3;
                    min-width: 270px;
                    overflow: hidden;

                    img {
                        margin: -2px;
                        width: 102%;
                    }
                }

                .info-box {
                    flex: 2;
                    min-width: 270px;
                    padding: $box-padding;

                    h2 {
                        font-size: $font-size-large;
                        line-height: 1.2em;
                        margin: 0 0 7px 0;
                    }
                }
            }

            &.login-box {
                background: $client-login-box-bg;
                color: #ffffff;
                padding: $box-padding;
                min-width: 270px;

                .login {
                    width: 100%;

                    a {
                        color: #fff;
                        text-decoration: none;
                        @include transition(color 0.5s);

                        &:hover {
                            color: $client-login-box-bg-lighter;
                        }
                    }

                    label {
                        @include label-small($font-size-base);
                    }

                    .form-control-static {
                        border: 0;
                        color: $text-color;
                        margin-bottom: 10px;
                    }

                    .forgot {
                        font-size: $font-size-small;
                        text-align: center;

                        a {
                            padding: 0 5px 10px 5px;
                        }
                    }

                    .validation-summary-errors {
                        padding: 7px 0 7px 0;
                    }

                    .box-button {
                        @include transition(all 0.5s);
                        background: $client-login-box-bg-darker;
                        border: 2px solid #ffffff;
                        border-radius: $box-border-radius;
                        display: block;
                        font-size: $font-size-large;
                        font-weight: 600;
                        margin: $box-padding auto 0 auto;
                        padding: $box-margin;
                        position: relative;
                        text-align: center;
                        width: 100%;
                        max-width: 320px;

                        &:hover, &:focus, &:active {
                            background: #ffffff;
                            color: $client-login-box-bg;
                        }
                    }

                    .pay-now {
                        font-size: $font-size-base;
                        padding-top: $box-padding;
                        text-align: center;
                    }
                }
            }
        }

        .text-box {
            display: block;
        }
    }

    @media (max-width: $vp-outer-width) {

        #content {
            padding-top: 10px;
        }

        #header {
            .logo {
                margin-left: 15px;
            }
        }
    }
}