﻿@import '_variables.scss';

@mixin disabled($bg, $color) {
    &.disabled,
    &.disabled.active,
    &.disabled:active,
    &.disabled.focus,
    &.disabled:focus,
    &.disabled:hover,
    &[disabled],
    &[disabled].active,
    &[disabled]:active,
    &[disabled].focus,
    &[disabled]:focus,
    &[disabled]:hover,
    &.focus[disabled],
    &.active[disabled] {
        background-color: $bg !important;
        color: $color !important;
    }
}

@mixin glyphicon($content) {
    content: $content;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
}

@mixin link-expandable($font-size, $line-height, $number-font-size) {
    display: block;
    font-family: $font-family-alt;
    font-size: $font-size;
    font-weight: 300;
    line-height: $line-height;
    padding: 0 0 0 24px;
    position: relative;
    text-decoration: none;
    z-index: 1;

    &:hover {
        text-decoration: none;
    }

    &:after {
        @include glyphicon('\e258');
        font-weight: normal !important;
        position: absolute;
        left: 0;
        top: 0;
    }

    &.expanded {
        &:after {
            @include glyphicon('\e259');
        }
    }

    > span {
        font-family: $font-family-base;
        font-size: $number-font-size;
    }
}

@mixin link-expandable-lg() {
    @include link-expandable(18px, 40px, 20px);
}

@mixin link-expandable-md() {
    @include link-expandable(16px, 30px, 17px);
}

@mixin transition($transition...) {
    -moz-transition: $transition;
    -o-transition: $transition;
    -webkit-transition: $transition;
    transition: $transition;
}

@mixin fancyDate($background: #F3F3F3, $color: #555) {
    @include transition(background-color 0.5s);
    background: $background;
    color: $color;
    display: block;
    font-weight: 600;
    padding: 7px 0 7px 0;
    position: relative;
    text-align: center;

    .month {
        text-transform: uppercase;
        font-size: 10px;
        line-height: 1.4em;
        display: block;
    }

    .day {
        font-size: 18px;
        line-height: 1em;
        display: block;
    }

    .year {
        font-size: 12px;
        line-height: 1.4em;
        display: block;
    }
}

@mixin innershadow($type: inset 0 0 15px, $color: #eee) {
    -moz-box-shadow: $type $color;
    -webkit-box-shadow: $type $color;
    box-shadow: $type $color;
}

@mixin arrowDown($color: #ffffff, $size: 15px, $vertical: top, $vdistance: 0, $horizontal: left, $hdistance: 45% ) {
    border-top: $size solid $color;
    border-right: ($size*2) solid transparent;
    border-left: ($size*2) solid transparent;
    content: '';
    display: block;
    height: 0;
    position: absolute;
    top: $vdistance;
    left: $hdistance;
    width: 0;
}

@mixin arrowRight($color: #ffffff) {
    border-left: 15px solid $color;
    border-bottom: 28px solid transparent;
    border-top: 28px solid transparent;
    content: '';
    display: block;
    height: 0;
    position: absolute;
    right: -15px;
    top: 0px;
    width: 0;
}

@mixin vertical-center() {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

@mixin gridrow-border($border-width: 1px 0 1px 0) {
    border-color: $vp-gray-light;
    border-style: dotted;
    border-width: $border-width;
}