﻿@import '_variables.scss';
@import '_mixins.scss';

.nojshidden {
    display: block;
}

.external-page {
    h1.inverse {
        color: $brand-primary;
        font-family: $font-family-alt;
        font-size: 18px;
        font-weight: normal;
        margin: 0 0 15px 0;
    }

    .nojshidden {
        display: block !important;
    }
}

#section-terms {
    text-align: justify;

    h3 {
        font-size: 15px;
        font-weight: 600;
    }
}

#section-contact {
    padding: 0 12px 0 12px;
}

#section-learnMore {
    ul > li:last-child > ul > li {
        h3 {
            display: none;
        }

        > ul {
            list-style-type: none;

            > li {
                font-weight: bold;

                > ul {
                    padding-left: 0;

                    > li {
                        font-weight: normal !important;
                        margin-top: 5px;

                        ul {
                            list-style-type: disc;
                            padding-left: 25px;

                            li {
                                padding-top: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}