﻿@import '_mixins.scss';
@import '_variables.scss';

body {
    font-family: Ebrima, Helvetica, Arial, sans-serif;
    font-size: 13px;
    margin: auto;
    position: relative;
    width: 100%;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.past-due {
    @extend .text-red;
}

.text-red {
    color: $state-danger-text;
}

@import 'Statement/_statement-print.scss';
@import 'Support/_support-request-print.scss';
@import 'Account/_payment-summary-print.scss';
@import 'Legal/_tila.scss';
