﻿@import '_variables.scss';
@import '_mixins.scss';
@import '../Bootstrap/css/bootstrap/_mixins.scss';
@import '../Bootstrap/css/bootstrap/_variables.scss';

.sidebar {

    .balance {
        padding-bottom: 25px;

        h6 {
            font-size: 16px;
            font-weight: bold;
            margin: 0 0 7px 0;
            text-align: center;
        }

        div {
            color: #555555;
            font-size: 48px;
            font-weight: 300;
            line-height: 48px;
            text-align: center;
        }
    }

    .call-to-action-button {
        align-items: center;
        background: $client-button-payment-bg;
        color: #ffffff;
        display: flex;
        font-family: $font-family-alt;
        font-size: 16px;
        font-weight: normal !important;
        margin-bottom: 15px;
        padding-left: 10px;
        padding-right: 10px;
        text-transform: none;

        &:hover, &:active {
            background: $client-button-payment-bg-hover;
        }

        em {
            flex-shrink: 1;
            font-size: 25px;
        }

        span {
            flex-basis: 100%;
            flex-grow: 1;
            height: 48px;
            line-height: 48px;
        }
    }

    .widget-container {

        $indicator-color: #555555;

        border: 1px solid $vp-gray-light;
        margin-bottom: 7px;

        &.expandable-grid {

            > .header {

                &.expanded {

                    &:after {
                        @include glyphicon('\e259');
                    }
                }

                &:after {
                    @include glyphicon('\e258');
                    font-size: 16px;
                    position: absolute;
                    right: 8px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }

        &.widget-link {

            > .header {

                &:after {
                    @include glyphicon('\e164');
                    color: $indicator-color;
                    font-size: 16px;
                    position: absolute;
                    right: 8px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }

        > .header {
            @include user-select(none);
            color: $text-color;
            display: block;
            line-height: 48px;
            padding: 0 32px 0 50px;
            position: relative;
            text-decoration: none;

            &:hover {
                color: $link-hover-color;
                cursor: pointer;

                &:after {
                    color: $link-hover-color;
                }
            }

            span.text {
                @include text-overflow();
                display: block;
            }

            span.icon {
                bottom: 0;
                left: 8px;
                position: absolute;
                top: 0;
                vertical-align: middle;
                width: 32px;

                img {
                    max-height: 32px;
                    max-width: 32px;
                    left: 50%;
                    position: absolute;
                    top: 50%;
                    transform: translateX(-50%) translateY(-50%);
                }

                span.glyphicon, span.circle {
                    color: $vp-gray-dark;
                    display: block;
                    font-size: 26px;
                    height: 32px;
                    line-height: 26px;
                    margin: 10px 15px 0 0;
                    text-align: center;
                    width: 32px;
                    z-index: 1;
                }

                span.circle {
                    border-radius: 16px;
                    border: 2px solid $vp-gray-dark;
                }
            }

            span.count {
                background: $brand-primary;
                border-radius: 13px;
                color: $vp-primary-text;
                font-weight: bold;
                height: 26px;
                left: -4px;
                line-height: 24px;
                position: absolute;
                text-align: center;
                top: -4px;
                width: 26px;
                z-index: 2;

                &.zero {
                    background: $vp-gray-dark;
                }
            }

            > a.header {
                color: $text-color;
                text-decoration: none;
            }
        }

        > div.list {
            display: none;
            font-size: 12px;
            padding: 0 8px 0 8px;

            &.expanded {
                display: block;
            }

            > div {
                clear: both;

                > div {
                    float: left;
                    line-height: 24px;
                }
            }
        }
    }

    .healthequity-widget {
        > div.header {

            > span.icon {
                > img {
                    max-height: 26px;
                    max-width: 26px;
                }
            }

            > div.info {
                padding-top: 7px;
                line-height: 110%;
                height: 60px;
            }

            .healthequity-hsa-balance {
                font-weight: 600;
            }
        }
    }
}

div.sidemenu {

    > h1 {
        margin-bottom: 0;
    }

    > nav.nav-sidebar {

        > ul {
            background: $vp-gray-lighter;
            font-family: $font-family-alt;
            font-size: $font-size-small;
            list-style: none;
            margin: 0;
            padding: 0;

            > li {
                border-color: $vp-gray-light;
                border-style: solid;
                border-width: 0 1px 1px 1px;

                &:hover {
                    background: $vp-gray-dark;

                    > a {
                        color: #fff;

                        > em {
                            color: #ffffff;
                        }
                    }
                }

                &.active {
                    background: #ffffff;
                    border-left-color: #ffffff;

                    > a {
                        color: $text-color;
                        padding-left: 29px;
                        height: 54px;
                        line-height: 54px;

                        > em {
                            color: $vp-gray-dark;
                            left: 0;
                        }
                    }
                }

                > a {
                    color: $text-color;
                    display: block;
                    height: 42px;
                    line-height: 42px;
                    padding-left: 36px;
                    position: relative;
                    text-decoration: none;

                    > em {
                        color: $vp-gray-dark;
                        font-size: 16px;
                        left: 7px;
                        margin-top: -7px;
                        position: absolute;
                        top: 50%;
                    }
                }
            }
        }
    }
}
