﻿@import '../_variables.scss';

#section-legal-agreements {
    padding: 0 15px 0 15px;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        > li {
            line-height: 30px;
            margin: 0;
            padding: 0;
            position: relative;
        }
    }
}

@import '_tila.scss';