﻿.body-print {
    .revision-date {
        position: absolute;
        top: 11in;
        width: 100%;
    }
}

.tila-container {
    page-break-before: always;

    .tila-border {
        border: 1px solid #000;
        margin: 15px 0 15px 0;
        padding: 7px;
        text-align: left;
    }

    .tila-terms {
        border: 2px solid #555;
        border-collapse: collapse;
        font-size: 12px;
        table-layout: fixed;
        width: 100%;

        tr {
            th, td {
                border-color: #555;
                border-style: solid;
                border-width: 0 2px 0 2px;
                padding: 4px 8px 4px 8px;
                vertical-align: top;
                width: 20%;

                &.tila-shaded {
                    background: #eeeeee;
                }
            }

            &.tila-value {
                td {
                    font-size: 14px;
                    text-align: right;
                    text-decoration: underline;
                }
            }
        }
    }

    .tila-itemization {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    p {
        margin: 15px 0 15px 15px;
    }
}
