﻿@model Ivh.Web.QATools.Models.AddHsGuarantorViewModel
@{
    ViewBag.Title = "ETL | Guarantor | Add";
}
<h2>HS Data Mgmt > Add HS Guarantor</h2>

<style type="text/css">
    .form-group {
        margin-bottom: 5px;
    }

    #visitTransactions {
        width: 800px;
    }

    #frmChangeSet .form-group {
        line-height: 34px;
    }

    #frmChangeSet .transactions {
        margin: 0 0 15px 0;
    }

        #frmChangeSet .transactions thead td {
            padding: 0 0 0 3px;
        }

        #frmChangeSet .transactions td {
            padding: 0 4px 4px 0;
        }
</style>
@using (Html.BeginForm("AddHsGuarantor", "Etl", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div style="padding-bottom: 40px; width: 600px;">
        <div>
            <fieldset>
                <legend>Visit Data</legend>
                <div id="visitData">
                    <div class="row form-group">
                        <div class="col-xs-4">
                            @Html.LabelFor(m => m.HsBillingSystemId)
                        </div>
                        <div class="col-xs-6">
                            @Html.DropDownListFor(m => m.HsBillingSystemId, Model.BillingSystems, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-4">
                            @Html.LabelFor(m => m.SourceSystemKey)
                        </div>
                        <div class="col-xs-6">
                            @Html.TextBoxFor(m => m.SourceSystemKey, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-xs-4">
                            @Html.LabelFor(m => m.FirstName)
                        </div>
                        <div class="col-xs-6">
                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-4">
                            @Html.LabelFor(m => m.LastName)
                        </div>
                        <div class="col-xs-6">
                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-4">

                            @Html.LabelFor(m => m.DOB)
                        </div>
                        <div class="col-xs-6">
                            @Html.TextBoxFor(m => m.DOB, "{0:MM/dd/yyyy}", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-4">
                            @Html.LabelFor(m => m.SSN4)
                        </div>
                        <div class="col-xs-6">
                            @Html.TextBoxFor(m => m.SSN4, "{0:0000}", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-4">
                            @Html.LabelFor(m => m.AddressLine1)
                        </div>
                        <div class="col-xs-6">
                            @Html.TextBoxFor(m => m.AddressLine1, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-4">
                            @Html.LabelFor(m => m.AddressLine2)
                        </div>
                        <div class="col-xs-6">
                            @Html.TextBoxFor(m => m.AddressLine2, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-4">
                            @Html.LabelFor(m => m.City)
                        </div>
                        <div class="col-xs-6">
                            @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-4">
                            @Html.LabelFor(m => m.StateProvince)
                        </div>
                        <div class="col-xs-6">
                            @Html.TextBoxFor(m => m.StateProvince, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-4">
                            @Html.LabelFor(m => m.PostalCode)
                        </div>
                        <div class="col-xs-6">
                            @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-4">
                            @Html.LabelFor(m => m.Country)
                        </div>
                        <div class="col-xs-6">
                            @Html.TextBoxFor(m => m.Country, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-4">
                            @Html.LabelFor(m => m.SSN)
                        </div>
                        <div class="col-xs-6">
                            @Html.TextBoxFor(m => m.SSN, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-4">
                            @Html.LabelFor(m => m.VpEligible)
                        </div>
                        <div class="col-xs-6">
                            @Html.CheckBoxFor(m => m.VpEligible)
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <br />
        <br />
        <br />
        <button type="submit" value="_submit" class="btn btn-primary">Add Hs Guarantor</button>
    </div>
}

@section Scripts{
    @Scripts.Render("~/bundles/views/etl/addVisit")
}
