﻿@{
    ViewBag.Title = "ETL | Visit Transactions";
}

<div class="main">
    <div class="container">
        <div class="col-lg-12">
            <h4>Visit Transactions</h4>
        </div>
    </div>
</div>

@section Scripts{
    <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/views/etl")"></script>
}


