﻿@using Ivh.Web.QATools.Models.Etl
@model AddVisitViewModel

<h2>HS Data Mgmt > HS Guarantor Add Visit(s)</h2>
<p class="clearfix">
    <strong>Last Name: @Model.Guarantor.LastName, First Name: @Model.Guarantor.FirstName, HS Guarantor SSK: @Model.Guarantor.SourceSystemKey</strong>
</p>

<style type="text/css">
    .form-group {
        margin-bottom: 5px;
    }

    #visitTransactions {
        width: 800px;
    }

    #frmChangeSet .form-group {
        line-height: 34px;
    }

    #frmChangeSet .transactions {
        margin: 0 0 15px 0;
    }

        #frmChangeSet .transactions thead td {
            padding: 0 0 0 3px;
        }

        #frmChangeSet .transactions td {
            padding: 0 4px 4px 0;
        }
</style>


@using (Html.BeginForm("AddVisit", "Etl", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(m => m.Visit.HsGuarantorId)
    @Html.HiddenFor(m => m.HsGuarantorId)

    <div style="padding-bottom: 40px; width: 600px;">
        <div>
            <fieldset>
                <legend>Visit(s) in Changeset</legend>
                <div id="changeSetVisits">
                    <table class="table">
                        <thead class="thead">
                            <tr class="thead">
                                <td>BillingSystemId</td>
                                <td>SourceSystemKey</td>
                                <td>DisplaySourceSystemKey</td>
                                <td>VisitDescription</td>
                                <td>PatientLastName</td>
                                <td>PatientFirstName</td>
                                <td>HsCurrentBalance</td>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Visits.Count; i++)
                            {
                                <tr>

                                    <td>@Html.DisplayFor(m => Model.Visits[i].BillingSystemId, new { @class = "form-control" })</td>
                                    <td>@Html.DisplayFor(m => Model.Visits[i].SourceSystemKey, new { @class = "form-control" })</td>
                                    <td>@Html.DisplayFor(m => Model.Visits[i].SourceSystemKeyDisplay, new { @class = "form-control" })</td>
                                    <td>@Html.DisplayFor(m => Model.Visits[i].VisitDescription, new { @class = "form-control" })</td>
                                    <td>@Html.DisplayFor(m => Model.Visits[i].PatientLastName, new { @class = "form-control" })</td>
                                    <td>@Html.DisplayFor(m => Model.Visits[i].PatientFirstName, new { @class = "form-control" })</td>
                                    <td>@Html.DisplayFor(m => Model.Visits[i].HsCurrentBalance, new { @class = "form-control" })</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </fieldset>
        </div>
        <div>
            <fieldset>
                <legend>Visit Data</legend>
                <div id="visitData">

                    <div class="row form-group">
                        <div class="col-xs-4">
                            @Html.LabelFor(m => m.Visit.HsGuarantorId)
                        </div>
                        <div class="col-xs-6">
                            @Html.TextBoxFor(m => m.Visit.HsGuarantorId, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-4">
                            @Html.LabelFor(m => m.Visit.BillingSystemId)
                        </div>
                        <div class="col-xs-6">
                            @Html.DropDownListFor(m => m.Visit.BillingSystemId, Model.BillingSystems, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-4">
                            @Html.LabelFor(m => m.Visit.SourceSystemKey)
                        </div>
                        <div class="col-xs-6">
                            @Html.TextBoxFor(m => m.Visit.SourceSystemKey, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-4">
                            @Html.LabelFor(m => m.Visit.SourceSystemKeyDisplay)
                        </div>
                        <div class="col-xs-6">
                            @Html.TextBoxFor(m => m.Visit.SourceSystemKeyDisplay, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-4">
                            @Html.LabelFor(m => m.Visit.ServiceGroupId)
                        </div>
                        <div class="col-xs-6">
                            @Html.DropDownListFor(m => m.Visit.ServiceGroupId, Model.ServiceGroups, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-4">
                            @Html.LabelFor(m => m.Visit.VisitDescription)
                        </div>
                        <div class="col-xs-6">
                            @Html.TextBoxFor(m => m.Visit.VisitDescription, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-4">
                            @Html.LabelFor(m => m.Visit.FacilityId)
                        </div>
                        <div class="col-xs-6">
                            @Html.DropDownListFor(m => m.Visit.FacilityId, Model.Facilities, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-4">
                            @Html.LabelFor(m => m.Visit.PaymentPriority)
                        </div>
                        <div class="col-xs-6">
                            @Html.DropDownListFor(m => m.Visit.PaymentPriority, Model.PaymentPriorities, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-4">

                            @Html.LabelFor(m => m.Visit.AdmitDate)
                        </div>
                        <div class="col-xs-6">
                            @Html.TextBoxFor(m => m.Visit.AdmitDate, "{0:MM/dd/yyyy}", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-4">
                            @Html.LabelFor(m => m.Visit.DischargeDate)
                        </div>
                        <div class="col-xs-6">
                            @Html.TextBoxFor(m => m.Visit.DischargeDate, "{0:MM/dd/yyyy}", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-4">
                            @Html.LabelFor(m => m.Visit.HsCurrentBalance)
                        </div>
                        <div class="col-xs-6">
                            @Html.TextBoxFor(m => m.Visit.HsCurrentBalance, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-4">
                            @Html.LabelFor(m => m.Visit.InsuranceBalance)
                        </div>
                        <div class="col-xs-6">
                            @Html.TextBoxFor(m => m.Visit.InsuranceBalance, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-4">
                            @Html.LabelFor(m => m.Visit.LifeCycleStage)
                        </div>
                        <div class="col-xs-6">
                            @Html.DropDownListFor(m => m.Visit.LifeCycleStage, Model.LifeCycleStages, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-4">
                            @Html.LabelFor(m => m.Visit.RevenueWorkCompany)
                        </div>
                        <div class="col-xs-6">
                            @Html.DropDownListFor(m => m.Visit.RevenueWorkCompany, Model.RevenueWorkCompanies, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-4">
                            @Html.LabelFor(m => m.Visit.PatientType)
                        </div>
                        <div class="col-xs-6">
                            @Html.DropDownListFor(m => m.Visit.PatientType, Model.PatientTypes, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-4">
                            @Html.LabelFor(m => m.Visit.PrimaryInsuranceType)
                        </div>
                        <div class="col-xs-6">
                            @Html.DropDownListFor(m => m.Visit.PrimaryInsuranceType, Model.PrimaryInsuranceTypes, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-4">
                            @Html.LabelFor(m => m.Visit.SelfPayBalance)
                        </div>
                        <div class="col-xs-6">
                            @Html.TextBoxFor(m => m.Visit.SelfPayBalance, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-4">
                            @Html.LabelFor(m => m.Visit.AgingTier)
                        </div>
                        <div class="col-xs-6">
                            @Html.DropDownListFor(m => m.Visit.AgingTier, Model.AgingTiers, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-4">
                            @Html.LabelFor(m => m.Visit.FirstSelfPayDate)
                        </div>
                        <div class="col-xs-6">
                            @Html.TextBoxFor(m => m.Visit.FirstSelfPayDate, "{0:MM/dd/yyyy}", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-4">
                            @Html.LabelFor(m => m.Visit.PatientFirstName)
                        </div>
                        <div class="col-xs-6">
                            @Html.TextBoxFor(m => m.Visit.PatientFirstName, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-4">
                            @Html.LabelFor(m => m.Visit.PatientLastName)
                        </div>
                        <div class="col-xs-6">
                            @Html.TextBoxFor(m => m.Visit.PatientLastName, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-4">
                            @Html.LabelFor(m => m.Visit.PatientDob)
                        </div>
                        <div class="col-xs-6">
                            @Html.TextBoxFor(m => m.Visit.PatientDob, "{0:MM/dd/yyyy}", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-4">
                            @Html.LabelFor(m => m.Visit.BillingApplication)
                        </div>
                        <div class="col-xs-6">
                            @Html.DropDownListFor(m => m.Visit.BillingApplication, Model.BillingApplications, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-3">@Html.VpLabelFor(m => m.Visit.IsPatientMinor)</div>
                        <div class="col-xs-3">@Html.CheckBoxFor(m => m.Visit.IsPatientMinor, new { data_bind = "checked: IsPatientMinor" })</div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-3">@Html.VpLabelFor(m => m.Visit.IsPatientGuarantor)</div>
                        <div class="col-xs-3">@Html.CheckBoxFor(m => m.Visit.IsPatientGuarantor, new { data_bind = "checked: IsPatientGuarantor" })</div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-3">@Html.VpLabelFor(m => m.Visit.OnPrePaymentPlan)</div>
                        <div class="col-xs-3">@Html.CheckBoxFor(m => m.Visit.OnPrePaymentPlan)</div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-3">@Html.VpLabelFor(m => m.Visit.VpEligible)</div>
                        <div class="col-xs-3">@Html.CheckBoxFor(m => m.Visit.VpEligible)</div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-3">@Html.VpLabelFor(m => m.Visit.BillingHold)</div>
                        <div class="col-xs-3">@Html.CheckBoxFor(m => m.Visit.BillingHold)</div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-3">@Html.VpLabelFor(m => m.Visit.Redact)</div>
                        <div class="col-xs-3">@Html.CheckBoxFor(m => m.Visit.Redact)</div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-4">
                            <label for="cbDiscountEligible">Make Discount Eligible</label>
                        </div>
                        <div class="col-xs-6" style="white-space: nowrap;">
                            <input type="checkbox" id="cbDiscountEligible" />
                            &nbsp;
                            <em>this will set the appropriate primary insurance type and insurance plan.</em>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <br />
        <br />
        <br />
        <div>
            <fieldset>
                <legend>Visit Transactions</legend>
                <div id="visitTransactions">
                    <table class="table">
                        <thead class="thead">
                            <tr class="thead">
                                <td>Transaction Date</td>
                                <td>Post Date</td>
                                <td>Transaction Amount</td>
                                <td>Vp Transaction Type</td>
                                <td>Transaction Code</td>
                                <td>Transaction Description</td>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Transactions.Count; i++)
                            {
                                <tr>
                                    <td>@Html.TextBoxFor(m => Model.Transactions[i].TransactionDate, "{0:MM/dd/yyyy}", new { @class = "form-control", data_bind = "initializeValue:TransactionDate, value: TransactionDate" })
                                    <td>@Html.TextBoxFor(m => Model.Transactions[i].PostDate, "{0:MM/dd/yyyy}", new { @class = "form-control", data_bind = "initializeValue:PostDate, value: PostDate" })
                                    <td>@Html.TextBoxFor(m => Model.Transactions[i].TransactionAmount, new { @class = "form-control" })</td>
                                    <td style="width: 150px;">@Html.DropDownListFor(m => Model.Transactions[i].VpTransactionTypeId, Model.TransactionTypes, new { @class = "form-control" })</td>
                                    <td>@Html.DropDownListFor(m => Model.Transactions[i].TransactionCode, Model.TransactionCodes, new { @class = "form-control" })</td>
                                    <td>@Html.TextBoxFor(m => Model.Transactions[i].TransactionDescription, new { @class = "form-control" })</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </fieldset>
        </div>
        <br />
        <br />
        <br />
        <div>
            <fieldset>
                <legend>Visit Insurance Plans</legend>
                <div id="visitInsurancePlans">
                    <table class="table">
                        <thead class="thead">
                            <tr class="thead">
                                <td>Insurance Plan</td>
                                <td>Pay Order</td>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.InsurancePlans.Count; i++)
                            {
                                <tr>
                                    @if (i == 0)
                                    {
                                        <td>@Html.DropDownListFor(m => Model.InsurancePlans[i].InsurancePlanId, Model.InsurancePlanTypes, new { @class = "form-control" })</td>
                                    }
                                    else
                                    {
                                        <td>@Html.DropDownListFor(m => Model.InsurancePlans[i].InsurancePlanId, Model.InsurancePlanTypesWithNothingSelected, new { @class = "form-control" })</td>
                                    }
                                    <td>@Html.TextBoxFor(m => Model.InsurancePlans[i].PayOrder, new { @class = "form-control" })</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </fieldset>
        </div>
        <div class="row form-group" style="padding-bottom: 20px">
            <div class="col-xs-7">
                @Html.LabelFor(m => m.ChangeEventType)
                @Html.DropDownListFor(m => m.ChangeEventType, Model.ChangeEventTypes, new { @class = "form-control" })
            </div>
        </div>
        <div class="row form-group" style="padding-bottom: 20px">
            <div class="col-xs-2">
                <button type="submit" value="_submit" class="btn btn-primary">Add Visit(s)</button>
            </div>
            <div class="col-xs-4">
                @Html.CheckBoxFor(m => m.ProcessChangeSet)
                @Html.LabelFor(m => m.ProcessChangeSet)
            </div>
        </div>
    </div>
}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).on('change', '#cbDiscountEligible', function (e) {

                if ($(this).is(':checked')) {
                    $('#Visit_PrimaryInsuranceType').val('5'); // medicare advantage (pure self pay)
                    $('#InsurancePlans_0__InsurancePlanId').val('535'); // selecthealth
                } else {
                    $('#Visit_PrimaryInsuranceType option:eq(0)').prop('selected', true);
                    $('#InsurancePlans_0__InsurancePlanId option:eq(0)').prop('selected', true);
                }

            });
        })
    </script>
}
