﻿@using Ivh.Web.QATools.Models.Etl
@model CreateChangeSetViewModel

@section styles {
    <style type="text/css">
        .form-group {
            line-height: 34px;
            margin-bottom: 4px;
        }

            .form-group label {
                margin: 0;
            }

        .transactions thead td {
            padding: 0 0 0 3px;
        }

        .events td, .transactions td {
            padding: 0 2px 4px 2px;
        }
    </style>
}

<section id="changeset">
    <h2>HS Data Mgmt > Create Change Set</h2>
    <p>
        <strong>Name:</strong> @Model.GuarantorFirstNameLastName
        <strong>HS Guarantor SSK:</strong> @Model.GuarantorSourceSystemKey
        <strong>Billing System Id:</strong> @Model.VisitBillingSystem,
        <strong>Visit SSK:</strong> @Model.VisitSourceSystemKey
    </p>


    <form class="form-horizontal">
        @Html.HiddenFor(m => m.VisitId)
        <fieldset>
            <legend>HsGuarantor Data</legend>
            <div class="row form-group">
                <div class="col-xs-3">@Html.VpLabelFor(m => m.HsGuarantorId)</div>
                <div class="col-xs-3">@Html.VpTextBoxFor(m => m.HsGuarantorId, new { data_bind = "initial: HsGuarantorId, value: HsGuarantorId" })</div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Visit Data</legend>
            <div class="row form-group">
                <div class="col-xs-3">@Html.VpLabelFor(m => m.VisitDescription)</div>
                <div class="col-xs-3">@Html.VpTextBoxFor(m => m.VisitDescription, new { data_bind = "initial: VisitDescription, value: VisitDescription" })</div>
            </div>
            <div class="row form-group">
                <div class="col-xs-3"><label>Facility</label></div>
                <div class="col-xs-3">@Html.VpDropDownListFor(m => m.FacilityId, Model.Facilities, new { data_bind = "value: FacilityId" })</div>
            </div>
            <div class="row form-group">
                <div class="col-xs-3">@Html.VpLabelFor(m => m.AdmitDate)</div>
                <div class="col-xs-3">@Html.VpTextBoxFor(m => m.AdmitDate, "{0:MM/dd/yyyy}", new { data_datepicker = "datepicker", data_bind = "initial: AdmitDate, value: AdmitDate" })</div>
            </div>
            <div class="row form-group">
                <div class="col-xs-3">@Html.VpLabelFor(m => m.DischargeDate)</div>
                <div class="col-xs-3">@Html.VpTextBoxFor(m => m.DischargeDate, "{0:MM/dd/yyyy}", new { data_datepicker = "datepicker", data_bind = "initial: DischargeDate, value: DischargeDate" })</div>
            </div>
            <div class="row form-group">
                <div class="col-xs-3">@Html.VpLabelFor(m => m.HsCurrentBalance)</div>
                <div class="col-xs-3">@Html.VpTextBoxFor(m => m.HsCurrentBalance, "{0:0.00}", new { data_bind = "initial: HsCurrentBalance, value: HsCurrentBalance, attr: { readonly: AutoCalculateHsCurrentBalance }" })</div>
                <div class="col-xs-6">
                    <label for="cbAutoCalculateHsCurrentBalanace">
                        <input id="cbAutoCalculateHsCurrentBalanace" type="checkbox" data-bind="checked: AutoCalculateHsCurrentBalance" />
                        Auto Calculate
                    </label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-3">@Html.VpLabelFor(m => m.LifeCycleStageId)</div>
                <div class="col-xs-3">@Html.VpDropDownListFor(m => m.LifeCycleStageId, Model.LifeCycleStages, new { data_bind = "value: LifeCycleStageId" })</div>
            </div>
            <div class="row form-group">
                <div class="col-xs-3">@Html.VpLabelFor(m => m.AgingTier)</div>
                <div class="col-xs-3">@Html.VpDropDownListFor(m => m.AgingTier, Model.AgingTiers, new { data_bind = "value: AgingTier" })</div>
            </div>
            <div class="row form-group">
                <div class="col-xs-3">@Html.VpLabelFor(m => m.ServiceGroupId)</div>
                <div class="col-xs-3">@Html.VpDropDownListFor(m => m.ServiceGroupId, Model.ServiceGroups, new { data_bind = "value: ServiceGroupId" })</div>
            </div>
            <div class="row form-group">
                <div class="col-xs-3">@Html.VpLabelFor(m => m.PaymentPriority)</div>
                <div class="col-xs-3">@Html.VpDropDownListFor(m => m.PaymentPriority, Model.PaymentPriorities, new { data_bind = "value: PaymentPriority" })</div>
            </div>
            <div class="row form-group">
                <div class="col-xs-3">@Html.VpLabelFor(m => m.SelfPayBalance)</div>
                <div class="col-xs-3">@Html.VpTextBoxFor(m => m.SelfPayBalance, "{0:0.00}", new { data_bind = "initial: SelfPayBalance, value: SelfPayBalance, attr: { readonly: AutoCalculateSelfPayBalance }" })</div>
                <div class="col-xs-6">
                    <label for="cbAutoCalculateSelfPayBalanace">
                        <input id="cbAutoCalculateSelfPayBalanace" type="checkbox" data-bind="checked: AutoCalculateSelfPayBalance" />
                        Same as Hs Current Balance
                    </label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-3">@Html.VpLabelFor(m => m.FirstSelfPayDate)</div>
                <div class="col-xs-3">@Html.VpTextBoxFor(m => m.FirstSelfPayDate, "{0:MM/dd/yyyy}", new { data_datepicker = "datepicker", data_bind = "initial: FirstSelfPayDate, value: FirstSelfPayDate" })</div>
                <div class="col-xs-6">
                    <label for="CreateScoringChangeEvent">
                        @Html.CheckBoxFor(m => m.CreateScoringChangeEvent, new { data_bind = "checked: CreateScoringChangeEvent" }) Create Scoring Change Event
                    </label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-3">@Html.VpLabelFor(m => m.PatientFirstName)</div>
                <div class="col-xs-3">@Html.VpTextBoxFor(m => m.PatientFirstName, new { data_bind = "initial: PatientFirstName, value: PatientFirstName" })</div>
            </div>
            <div class="row form-group">
                <div class="col-xs-3">@Html.VpLabelFor(m => m.PatientLastName)</div>
                <div class="col-xs-3">@Html.VpTextBoxFor(m => m.PatientLastName, new { data_bind = "initial: PatientLastName, value: PatientLastName" })</div>
            </div>
            <div class="row form-group">
                <div class="col-xs-3">@Html.VpLabelFor(m => m.BillingApplication)</div>
                <div class="col-xs-3">
                    @Html.HiddenFor(m => m.BillingApplication)
                    <label for="rbBillingApplicationHB">
                        <input type="radio" name="BillingApplication" id="rbBillingApplicationHB" value="HB" data-bind="checked: BillingApplication" />
                        HB
                    </label>
                    <label for="rbBillingApplicationHB">
                        <input type="radio" name="BillingApplication" id="rbBillingApplicationPB" value="PB" data-bind="checked: BillingApplication" />
                        PB
                    </label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-3">@Html.VpLabelFor(m => m.InterestZero)</div>
                <div class="col-xs-3">@Html.CheckBoxFor(m => m.InterestZero, new { data_bind = "checked: InterestZero" })</div>
            </div>
            <div class="row form-group">
                <div class="col-xs-3">@Html.VpLabelFor(m => m.InterestRefund)</div>
                <div class="col-xs-3">@Html.CheckBoxFor(m => m.InterestRefund, new { data_bind = "checked: InterestRefund" })</div>
            </div>

            <div class="row form-group">
                <div class="col-xs-3">@Html.VpLabelFor(m => m.IsPatientMinor)</div>
                <div class="col-xs-3">@Html.CheckBoxFor(m => m.IsPatientMinor, new { data_bind = "checked: IsPatientMinor" })</div>
            </div>
            <div class="row form-group">
                <div class="col-xs-3">@Html.VpLabelFor(m => m.IsPatientGuarantor)</div>
                <div class="col-xs-3">@Html.CheckBoxFor(m => m.IsPatientGuarantor, new { data_bind = "checked: IsPatientGuarantor" })</div>
            </div>
            <div class="row form-group">
                <div class="col-xs-3">@Html.VpLabelFor(m => m.VpEligible)</div>
                <div class="col-xs-3">@Html.CheckBoxFor(m => m.VpEligible, new { data_bind = "checked: VpEligible" })</div>
            </div>
            <div class="row form-group">
                <div class="col-xs-3">@Html.VpLabelFor(m => m.BillingHold)</div>
                <div class="col-xs-3">@Html.CheckBoxFor(m => m.BillingHold, new { data_bind = "checked: BillingHold" })</div>
            </div>
            <div class="row form-group">
                <div class="col-xs-3">@Html.VpLabelFor(m => m.Redact)</div>
                <div class="col-xs-3">@Html.CheckBoxFor(m => m.Redact, new { data_bind = "checked: Redact" })</div>
            </div>
        </fieldset>
        <br />
        <fieldset>
            <legend>
                <button class="btn btn-success pull-right" id="btnAddTransaction">Add Another Transaction</button>
                Visit Transactions
            </legend>
            <div class="row">
                <div class="col-xs-12">
                    <table class="transactions">
                        <thead>
                            <tr>
                                <td>Source System Key</td>
                                <td>Transaction Date</td>
                                <td>Post Date</td>
                                <td>Transaction Amount</td>
                                <td>Transaction Type</td>
                                <td>Transaction Code</td>
                                <td>Description</td>
                                <td>Payment Distribution Id</td>
                                <td>Reassessment Exempt</td>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- ko foreach: Transactions-->
                            <tr>
                                <td><input type="text" readonly="readonly" placeholder="{system generated}" class="form-control" data-bind="value: SourceSystemKey, sequentialId: 'SourceSystemKey'" /></td>
                                <td><input type="text" class="form-control" data-datepicker="datepicker" data-bind="dateValue: TransactionDate, sequentialId: 'TransactionDate'" data-val="true" data-val-date="" data-val-required="" /></td>
                                <td><input type="text" class="form-control" data-datepicker="datepicker" data-bind="dateValue: PostDate, sequentialId: 'PostDate'" data-val="true" data-val-date="" data-val-required="" /></td>
                                <td><input type="text" class="form-control" data-bind="decimalValue: TransactionAmount, sequentialId: 'TransactionAmount', event: { change: $root.TransactionAmountChanged }" data-val="true" data-val-number="" data-val-required="" /></td>
                                <td><select class="form-control" data-bind="options: $root.TransactionTypes, optionsText: 'Text', optionsValue: 'Value', value: VpTransactionTypeId, sequentialId: 'VpTransactionTypeId'"></select></td>
                                <td><select class="form-control" data-bind="options: $root.TransactionCodes, optionsText: 'Text', optionsValue: 'Value', value: TransactionCode, sequentialId: 'TransactionCode'"></select></td>
                                <td><input type="text" class="form-control" data-bind="value: TransactionDescription, sequentialId: 'TransactionDescription'" /></td>
                                <td><input type="text" class="form-control" data-bind="value: PaymentAllocationId, sequentialId: 'PaymentAllocationId'" data-val="true" data-val-number="" /></td>
                                <td>

                                    <!-- ko if: VisitTransactionId() > 0-->
                                    <input type="checkbox" disabled="disabled" data-bind="checked: ReassessmentExempt, sequentialId: 'ReassessmentExempt'" />
                                    <!-- /ko -->
                                    <!-- ko ifnot: VisitTransactionId() > 0-->
                                    <input type="checkbox" data-bind="checked: ReassessmentExempt, sequentialId: 'ReassessmentExempt'" />
                                    <!-- /ko -->

                                </td>
                             </tr>
                            <!-- /ko -->
                        </tbody>
                    </table>
                </div>
            </div>
        </fieldset>
        <br />
        <fieldset>
            @{
                bool hasUnclearedPaymentAllocations = Model.UnclearedPaymentAllocations != null && Model.UnclearedPaymentAllocations.Any();
            }
            <legend>
                @if (hasUnclearedPaymentAllocations)
                {
                    <button class="btn btn-success pull-right" id="btnClearPaymentAllocations">Clear Payment Allocations</button>
                }
                Uncleared Payment Allocations
            </legend>
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <td>VpOutboundVisitTransactionId</td>
                                <td>VpPaymentAllocationId</td>
                                <td>TransactionAmount</td>
                                <td>VpPaymentAllocationTypeId</td>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- ko foreach: UnclearedPaymentAllocations -->
                            <tr>
                                <td data-bind="text: VpOutboundVisitTransactionId"></td>
                                <td data-bind="text: VpPaymentAllocationId"></td>
                                <td data-bind="text: TransactionAmount"></td>
                                <td data-bind="text: VpPaymentAllocationTypeId"></td>
                            </tr>
                            <!-- /ko -->
                        </tbody>
                    </table>
                    @if (!hasUnclearedPaymentAllocations)
                    {
                        <div class="alert alert-warning">No uncleared payment allocations found.</div>
                    }
                </div>
            </div>
        </fieldset>
        <br />
        <fieldset>
            <legend>Visit Events</legend>
            <div>
                <table class="events">
                    <tr>
                        <td>@Html.DropDownListFor(m => m.VisitTransactionDataChanged, Model.OptionOrder, new { @class = "form-control" })</td>
                        <td style="width: 240px;">@Html.VpLabelFor(m => m.VisitTransactionDataChanged)</td>
                        <td colspan="2"></td>
                    </tr>
                </table>
            </div>
        </fieldset>
        <p>&nbsp;</p>
        <p>
            <button type="submit" value="_submit" class="btn btn-primary">Submit Change Set</button>
            &nbsp;&nbsp;
            <a href="@Url.Action("HsGuarantorVisits", "Etl", new {id = Model.HsGuarantorId})" title="Back to HS Guarantor Visit List">Back to HS Guarantor Visit List</a>
        </p>
    </form>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/scripts/knockout")
    <script src="~/Scripts/Shared/common.js"></script>
    <script type="text/javascript">

        var changeSetViewModel = function(transactionTemplate) {
            var self = this;

            self.AutoCalculateHsCurrentBalance = ko.observable(true);
            self.AutoCalculateHsCurrentBalance.subscribe(function() {
                if (self.AutoCalculateHsCurrentBalance()) {
                    self.TransactionAmountChanged();
                }
            });
            self.TransactionAmountChanged = function() {

                if (!self.AutoCalculateHsCurrentBalance()) {
                    return;
                }

                var x = 0;
                ko.utils.arrayForEach(self.Transactions(), function(item) {
                    if ((ko.unwrap(item.VpTransactionTypeId) || '').toString() !== '200') {
                        var amount = item.TransactionAmount() || 0;
                        x += parseFloat(amount);
                    }
                });
                self.HsCurrentBalance(x.toFixed(2));
                if (self.AutoCalculateSelfPayBalance()) {
                    self.SelfPayBalance(self.HsCurrentBalance());
                }

            };
            self.AddTransaction = function() {
                if (self.Transactions !== undefined && self.Transactions !== null) {
                    self.Transactions.push(ko.mapping.fromJS(transactionTemplate));
                }
            };
            self.AddTransactionFromVisitPaymentAllocation = function(visitPaymentAllocations) {
                if (visitPaymentAllocations == null || visitPaymentAllocations.length === 0) {
                    return false;
                }
                if (self.Transactions == null) {
                    return false;
                }

                for (var i = 0; i < visitPaymentAllocations.length; i++) {
                    var visitPaymentAllocation = visitPaymentAllocations[i];
                    var transactionType = visitPaymentAllocation.VpPaymentAllocationTypeId === 2 ? 200 : visitPaymentAllocation.VpPaymentAllocationTypeId === 3 ? 300 : 100;
                    var paymentAllocationId = visitPaymentAllocation.VpPaymentAllocationId;
                    var newTransaction = ko.mapping.fromJS(transactionTemplate);
                    
                    newTransaction.TransactionAmount(visitPaymentAllocation.TransactionAmount);
                    newTransaction.VpTransactionTypeId(transactionType);
                    newTransaction.PaymentAllocationId(paymentAllocationId);
                    self.Transactions.push(newTransaction);
                }

                self.TransactionAmountChanged();

                return true;
            };

            self.AutoCalculateSelfPayBalance = ko.observable();
            self.AutoCalculateSelfPayBalance.subscribe(function() {
                if (self.AutoCalculateSelfPayBalance()) {
                    self.SelfPayBalance(self.HsCurrentBalance());
                }
            });

            return self;
        };

        function addBindingEvents($scope) {

            $scope.find('[data-datepicker=datepicker]').each(function() {

                $(this).datepicker({
                    dateFormat: 'mm/dd/yy',
                    defaultDate: new Date(),
                    onSelect: function() {
                        $(this).valid();
                        $(this).trigger('change');
                    }
                });
            });

            $scope.find('form').parseValidation();

        }

        function getDate() {
            var date = new Date();
            var day = date.getDate();
            var monthIndex = date.getMonth();
            var year = date.getFullYear();

            return (monthIndex + 1) + '/' + day + '/' + year;
        }

        $(document).ready(function() {

            //
            var $scope = $('section#changeset');
            var hasClearedPaymentAllocations = false;

            // model from c#
            var model = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
            var transactionTemplate = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(new VisitTransactionViewModel()));
            transactionTemplate.PostDate = getDate();
            transactionTemplate.TransactionDate = getDate();

            // ko viewmodel
            var vm = ko.mapping.fromJS(model, null, new changeSetViewModel(transactionTemplate));
            if (ko.unwrap(vm.Transactions).length === 0) {
                vm.AddTransaction();
            }
            ko.applyBindings(vm, $scope[0]);
            $('#FacilityId').val(model.FacilityId);
            $('#AgingTier').val(model.AgingTier);

            // transaction events
            addBindingEvents($scope);

            // add transaction
            $scope.on('click', '#btnAddTransaction', function(e) {
                e.preventDefault();
                vm.AddTransaction();
                addBindingEvents($scope);
            });

            // clear allocations
            $scope.on('click', '#btnClearPaymentAllocations', function(e) {
                e.preventDefault();
                vm.AddTransactionFromVisitPaymentAllocation(ko.mapping.toJS(vm.UnclearedPaymentAllocations));
                addBindingEvents($scope);
                hasClearedPaymentAllocations = true;
            });

            // submit
            $scope.on('submit', 'form', function(e) {
                e.preventDefault();

                if (!$(this).valid()) {
                    return;
                }
                var postModel = ko.mapping.toJS(vm, { 'ignore': 'TransactionCodes' });
                postModel.VisitTransactionDataChanged = $('#VisitTransactionDataChanged').val();
                postModel.VisitSuspended = $('#VisitSuspended').val();
                postModel.VisitSuspendedNotes = $('#VisitSuspendedNotes').val();
                postModel.VisitSuspendedDate = $('#VisitSuspendedDate').val();
                postModel.VisitUnsuspended = $('#VisitUnsuspended').val();
                postModel.VisitUnsuspendedNotes = $('#VisitUnsuspendedNotes').val();
                postModel.VisitUnsuspendedDate = $('#VisitUnsuspendedDate').val();;
                postModel.VisitRecalled = $('#VisitRecalled').val();
                postModel.VisitUnrecalled = $('#VisitUnrecalled').val();
                if (!hasClearedPaymentAllocations) {
                    postModel.UnclearedPaymentAllocations = [];
                }
                $.post('/etl/createchangeset', { model: postModel }, function(result) {
                    if (result.Success) {
                        window.location.href = result.Message;
                    } else {
                        alert(result.Message);
                    }
                });
            });
        });

        ko.bindingHandlers.initial = {
            init: function(element, valueAccessor) {
                if (element.getAttribute('value')) {
                    valueAccessor()(element.getAttribute('value'));
                } else if (element.tagName === 'SELECT') {
                    valueAccessor()(element.options[element.selectedIndex].value);
                }
            },
            update: function(element, valueAccessor) {
                var value = valueAccessor();
                element.setAttribute('value', ko.utils.unwrapObservable(value));
            }
        };

        ko.bindingHandlers.dateValue = {
            init: function(element, valueAccessor, allBindings) {
                ko.bindingHandlers.value.init(element, valueAccessor, allBindings);
            },
            update: function(element, valueAccessor) {
                var value = ko.utils.unwrapObservable(valueAccessor());
                if (value !== undefined && value !== null && value.length > 0) {

                    var date = new Date(value);
                    var day = date.getDate();
                    var monthIndex = date.getMonth();
                    var year = date.getFullYear();

                    value = (monthIndex + 1) + '/' + day + '/' + year;
                }
                $(element).val(value);
            }
        };

        ko.bindingHandlers.decimalValue = {
            init: function(element, valueAccessor, allBindings) {
                ko.bindingHandlers.value.init(element, valueAccessor, allBindings);
            },
            update: function(element, valueAccessor) {
                var value = ko.utils.unwrapObservable(valueAccessor()) || null;
                if (value != null) {
                    value = parseFloat(value.toString().replace(/,/g, '')).toFixed(2).toString().replace(/(\d)(?=(\d{3})+\b)/g, '$1');
                }

                $(element).val(value);
            }
        };

        ko.bindingHandlers.sequentialId = {
            update: function(element, valueAccessor, allBindingsAccessor, data, context) {
                var prop = valueAccessor();
                $(element).attr('id', 'Transactions_' + context.$index() + '__' + prop);
                $(element).attr('name', 'Transactions[' + context.$index() + '].' + prop);
            }
        };

    </script>
}
