﻿@model Ivh.Web.QATools.Models.Etl.GuarantorViewModel

<h2>HS Data Mgmt > HS Guarantor Visits</h2>
<p class="clearfix" style="line-height: 34px;">
    <a class="btn btn-primary pull-right" href="/Etl/AddVisit/@Model.HsGuarantorId" title="Add Visit">Add Visit(s)</a>
    <span class="pull-right"><a href="@Url.Action("HsGuarantorsView", "Etl")" title="Back to HS Guarantors">Back to HS Guarantor List</a> &nbsp;&nbsp;</span>
    <strong>Last Name: @Model.LastName, First Name: @Model.FirstName, HS Guarantor SSK: @Model.SourceSystemKey</strong>
</p>

@Html.HiddenFor(m => m.HsGuarantorId)
<table id="jqGrid"></table>
<div id="jqGridPager"></div>
<div id="jqGridNoRecords" class="alert alert-danger collapse text-center">
    <strong>There are no visits to display.</strong>
</div>

@section Scripts{
    <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/views/etl/hsGuarantorVisits")"></script>
}