﻿@using System.ServiceModel.Description
@model Ivh.Web.QATools.Models.Etl.GuarantorViewModel
@{
    ViewBag.Title = "ETL | Guarantor | Details";
}

@*
    public int HsGuarantorId { get; set; }
    public int HsBillingSystemId { get; set; }
    public string SourceSystemKey { get; set; }
    public string FirstName { get; set; }
    public string LastName { get; set; }
    public DateTime? DOB { get; set; }
    public int? SSN4 { get; set; }
    public string AddressLine1 { get; set; }
    public string AddressLine2 { get; set; }
    public string City { get; set; }
    public string StateProvince { get; set; }
    public string PostalCode { get; set; }
    public string Country { get; set; }
*@

<div class="main">
    <div class="container">
        <div class="col-lg-12">
            <h4>HSGuarantor Details - <strong id="UserName">@Model.HsGuarantorId - @Model.LastName</strong></h4>
            @Html.Partial("~/Views/Etl/_sideNav.cshtml")

            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-lg-12">

                        <label for="HsBillingSystemId" class="control-label col-lg-2">HsBillingSystemId</label>
                        <div class="col-lg-2">
                            <div id="HsBillingSystemId" class="form-control">@Model.HsBillingSystemId</div>
                        </div>

                        <label for="SourceSystemKey" class="control-label col-lg-2">SourceSystemKey</label>
                        <div class="col-lg-2">
                            <div id="SourceSystemKey" class="form-control">@Model.SourceSystemKey</div>
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-12">

                        <label for="FirstName" class="control-label col-lg-2">FirstName</label>
                        <div class="col-lg-2">
                            <div id="FirstName" class="form-control">@Model.FirstName</div>
                        </div>

                        <label for="LastName" class="control-label col-lg-2">LastName</label>
                        <div class="col-lg-2">
                            <div id="LastName" class="form-control">@Model.LastName</div>
                        </div>

                    </div>
                </div>


                <div class="form-group">
                    <div class="col-lg-12">
                        <label for="FirstName" class="control-label col-lg-2">DOB</label>
                        <div class="col-lg-2">
                            <div id="DOB" class="form-control">@Model.DOB.Value.ToString("MM/dd/yyyy")</div>
                        </div>


                        <label for="SSN4" class="control-label col-lg-2">SSN4</label>
                        <div class="col-lg-2">
                            <div id="SSN4" class="form-control">@Model.SSN4.Value.ToString("0000")</div>
                        </div>
                    </div>
                </div>





                <div class="form-group">
                    <div class="col-lg-12">
                        <label for="AddressLine1" class="control-label col-lg-2">AddressLine1</label>
                        <div class="col-lg-2">
                            <div id="AddressLine1" class="form-control">@Model.AddressLine1</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-12">
                        <label for="AddressLine2" class="control-label col-lg-2">AddressLine2</label>
                        <div class="col-lg-2">
                            <div id="AddressLine2" class="form-control">@Model.AddressLine2</div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-12">
                        <label for="City" class="control-label col-lg-2">City</label>
                        <div class="col-lg-1">
                            <div id="City" class="form-control">@Model.City</div>
                        </div>

                        <label for="StateProvince" class="control-label col-lg-1">State/Prov.</label>
                        <div class="col-lg-2">
                            <div id="StateProvince" class="form-control">@Model.StateProvince</div>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-lg-12">
                        <label for="PostalCode" class="control-label col-lg-2">Postal/Code</label>
                        <div class="col-lg-1">
                            <div id="PostalCode" class="form-control">@Model.PostalCode</div>
                        </div>

                        <label for="StateProvince" class="control-label col-lg-1">Country</label>
                        <div class="col-lg-2">
                            <div id="Country" class="form-control">@Model.Country</div>
                        </div>
                    </div>
                </div>



            </form>

        </div>
    </div>
</div>
<a href="@Url.Action("HsGuarantorsView", "Etl")" title="Back to HS Guarantors">Back to HS Guarantors</a>

@section Scripts{
    <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/views/etl/guarantorDetails")"></script>
}

