﻿@using Ivh.Web.QATools.Models.Etl
@using VisitTransactionViewModel = Ivh.Web.QATools.Models.Etl.VisitTransactionViewModel
@model ViewVisitViewModel

@{
    ViewBag.Title = "View Visit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>HS Data Mgmt > HS Guarantor Visit Details</h2>
<p class="clearfix">
    <strong>First Name: @Model.Guarantor.LastName, Last Name: @Model.Guarantor.FirstName, HS Guarantor SSK: @Model.Guarantor.SourceSystemKey</strong>
</p>

<style type="text/css">

    legend {
        border-bottom: 0;
    }

    .form-group {
        margin-bottom: 5px;
    }

    #frmChangeSet .form-group {
        line-height: 34px;
    }

    #frmChangeSet .transactions {
        margin: 0 0 15px 0;
    }

        #frmChangeSet .transactions thead td {
            padding: 0 0 0 3px;
        }

        #frmChangeSet .transactions td {
            padding: 0 4px 4px 0;
        }
</style>

@Html.HiddenFor(m => m.Visit.HsGuarantorId)

<div style="padding-bottom: 40px;">
    <div>
        <fieldset>
            <legend>Visit Data</legend>
            <div id="visitData">
                <div class="row form-group">
                    <div class="col-xs-6">
                        @Html.LabelFor(m => m.Visit.VisitId, new { @class = "col-xs-6" })
                        @Html.ValueFor(m => m.Visit.VisitId)
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-6">
                        @Html.LabelFor(m => m.Visit.HsGuarantorId, new { @class = "col-xs-6" })
                        @Html.ValueFor(m => m.Visit.HsGuarantorId)
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-6">
                        @Html.LabelFor(m => m.Visit.BillingSystemId, new { @class = "col-xs-6" })
                        @Html.ValueFor(m => m.Visit.BillingSystemId)
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-6">
                        @Html.LabelFor(m => m.Visit.SourceSystemKey, new { @class = "col-xs-6" })
                        @Html.ValueFor(m => m.Visit.SourceSystemKey)
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-6">
                        @Html.LabelFor(m => m.Visit.SourceSystemKeyDisplay, new { @class = "col-xs-6" })
                        @Html.ValueFor(m => m.Visit.SourceSystemKeyDisplay)
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-6">
                            @Html.LabelFor(m => m.Visit.FirstSelfPayDate, new { @class = "col-xs-6" })
                            @Html.ValueFor(m => m.Visit.FirstSelfPayDate, "{0:MM/dd/yyyy}")
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-6">
                        @Html.LabelFor(m => m.Visit.VisitDescription, new { @class = "col-xs-6" })
                        @Html.ValueFor(m => m.Visit.VisitDescription)
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-6">
                            @Html.LabelFor(m => m.Visit.SelfPayBalance, new { @class = "col-xs-6" })
                            @Html.ValueFor(m => m.Visit.SelfPayBalance)
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-6">
                        @Html.LabelFor(m => m.Visit.AdmitDate, new { @class = "col-xs-6" })
                        @Html.ValueFor(m => m.Visit.AdmitDate, "{0:MM/dd/yyyy}")
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-6">
                            @Html.LabelFor(m => m.Visit.PatientFirstName, new { @class = "col-xs-6" })
                            @Html.ValueFor(m => m.Visit.PatientFirstName)
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-6">
                        @Html.LabelFor(m => m.Visit.DischargeDate, new { @class = "col-xs-6" })
                        @Html.ValueFor(m => m.Visit.DischargeDate, "{0:MM/dd/yyyy}")
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-6">
                            @Html.LabelFor(m => m.Visit.PatientFirstName, new { @class = "col-xs-6" })
                            @Html.ValueFor(m => m.Visit.PatientLastName)
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-6">
                        @Html.LabelFor(m => m.Visit.HsCurrentBalance, new { @class = "col-xs-6" })
                        @Html.ValueFor(m => m.Visit.HsCurrentBalance)
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-6">
                            @Html.LabelFor(m => m.Visit.PatientDob, new { @class = "col-xs-6" })
                            @Html.ValueFor(m => m.Visit.PatientDob, "{0:MM/dd/yyyy}")
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-6">
                        @Html.LabelFor(m => m.Visit.InsuranceBalance, new { @class = "col-xs-6" })
                        @Html.ValueFor(m => m.Visit.InsuranceBalance)
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-6">
                            @Html.LabelFor(m => m.Visit.BillingApplication, new { @class = "col-xs-6" })
                            @Html.ValueFor(m => m.Visit.BillingApplication)
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-6">
                        @Html.LabelFor(m => m.Visit.PrimaryInsuranceType, new { @class = "col-xs-6" })
                        @Html.ValueFor(m => m.Visit.PrimaryInsuranceType)
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-6">
                            @Html.LabelFor(m => m.Visit.IsPatientMinor, new { @class = "col-xs-6" })
                            @Html.ValueFor(m => m.Visit.IsPatientMinor)
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-6">
                        @Html.LabelFor(m => m.Visit.LifeCycleStage, new { @class = "col-xs-6" })
                        @Html.ValueFor(m => m.Visit.LifeCycleStage)
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-6">
                            @Html.LabelFor(m => m.Visit.IsPatientGuarantor, new { @class = "col-xs-6" })
                            @Html.ValueFor(m => m.Visit.IsPatientGuarantor)
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-6">
                        @Html.LabelFor(m => m.Visit.AgingTier, new { @class = "col-xs-6" })
                        @Html.ValueFor(m => m.Visit.AgingTier)
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-6">
                        @Html.LabelFor(m => m.Visit.VpEligible, new { @class = "col-xs-6" })
                        @Html.ValueFor(m => m.Visit.VpEligible)
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-6">
                            @Html.LabelFor(m => m.Visit.BillingHold, new { @class = "col-xs-6" })
                            @Html.ValueFor(m => m.Visit.BillingHold)
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-6">
                        @Html.LabelFor(m => m.Visit.Redact, new { @class = "col-xs-6" })
                        @Html.ValueFor(m => m.Visit.Redact)
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-6">
                            @Html.LabelFor(m => m.Visit.PaymentPriority, new { @class = "col-xs-6" })
                            @Html.ValueFor(m => m.Visit.PaymentPriority)
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
    <br />
    <div>
        <fieldset>
            <legend>Facility</legend>
            <div id="facility">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <td>ID</td>
                            <td>Description</td>
                            <td>State Code</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@(Model.Visit.FacilityId)</td>
                            <td>@(Model.Visit.FacilityDescription)</td>
                            <td>@(Model.Visit.FacilityStateCode)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </fieldset>
        <fieldset>
            <legend>Visit Transactions</legend>
            <div id="visitTransactions">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <td>Source System Key</td>
                            <td>Transaction Date</td>
                            <td>Post Date</td>
                            <td>Transaction Amount</td>
                            <td>Transaction Type</td>
                            <td>Description</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (VisitTransactionViewModel visitTransaction in Model.VisitTransactions)
                        {
                            <tr>
                                <td>@Html.ValueFor(m => visitTransaction.SourceSystemKey)</td>
                                <td>@Html.ValueFor(m => visitTransaction.TransactionDate, "{0:MM/dd/yyyy}")</td>
                                <td>@Html.ValueFor(m => visitTransaction.PostDate, "{0:MM/dd/yyyy}")</td>
                                <td>@Html.ValueFor(m => visitTransaction.TransactionAmount, "{0:C}")</td>
                                <td>@Html.ValueFor(m => visitTransaction.VpTransactionType)</td>
                                <td>@Html.ValueFor(m => visitTransaction.TransactionDescription)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </fieldset>
    </div>
    <br />
    <div>
        <fieldset>
            <legend>Visit Insurance Plans</legend>
            <div id="visitInsurancePlans">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <td>Insurance Plan</td>
                            <td>Pay Order</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (VisitInsurancePlanViewModel visitInsurancePlan in Model.VisitInsurancePlans)
                        {
                            <tr>
                                <td>@Html.ValueFor(m => visitInsurancePlan.InsurancePlanName)</td>
                                <td>@Html.ValueFor(m => visitInsurancePlan.PayOrder)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </fieldset>
    </div>
    <br />
    <div id="changeSets">
        <fieldset>
            <legend>
                <a class="btn btn-primary pull-right" href="/Etl/CreateChangeSet/@Model.Visit.VisitId" title="Create Change Set">Create Change Set</a>
                Change Sets
            </legend>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <td>Change Date Time</td>
                        <td>Processing Status</td>
                        <td>Events</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ChangeEventViewModel changeSet in Model.ChangeSets)
                    {
                        <tr>
                            <td>@Html.ValueFor(m => changeSet.ChangeEventDateTime.Date, "{0:MM/dd/yyyy}")</td>
                            <td>@Html.Raw(changeSet.ChangeEventStatus)</td>
                            <td>@Html.Raw(changeSet.ChangeEventType)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </fieldset>
    </div>
    <br />
    <div>
        <fieldset>
            <legend>VP Outbound Visit (Messages)</legend>
            <div id="outboundVisit">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <td>ActionDate</td>
                            <td>InsertDate</td>
                            <td>OutboundVisitMessageType</td>
                            <td>HsVisitID</td>
                            <td>VpVisitID</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (OutboundVisitViewModel outboundVisitViewModel in Model.OutboundVisits)
                        {
                            <tr>
                                <td>@Html.ValueFor(m => outboundVisitViewModel.ActionDate, "{0:MM/dd/yyyy}")</td>
                                <td>@Html.ValueFor(m => outboundVisitViewModel.InsertDate, "{0:MM/dd/yyyy}")</td>
                                <td>@Html.ValueFor(m => outboundVisitViewModel.VpOutboundVisitMessageTypeName)</td>
                                <td>@Html.ValueFor(m => outboundVisitViewModel.Visit.VisitId)</td>
                                <td>@Html.ValueFor(m => outboundVisitViewModel.VpVisitId)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </fieldset>
    </div>
    <br />
    <div>
        <fieldset>
            <legend>VP Outbound Visit Transactions</legend>
            <div id="outboundVisitTransaction">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <td>Processed Date</td>
                            <td>Amount</td>
                            <td>VpPaymentAllocationId</td>
                            <td>Processed</td>
                            <td>Visit Billing System ID</td>
                            <td>Visit Source System Key</td>
                            <td>Balance Transfer Status</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (OutboundVisitTransactionViewModel outboundVisitTransactionViewModel in Model.OutboundVisitTransactions)
                        {
                            <tr>
                                <td>@Html.ValueFor(m => outboundVisitTransactionViewModel.ProcessedDate, "{0:MM/dd/yyyy}")</td>
                                <td>@Html.ValueFor(m => outboundVisitTransactionViewModel.TransactionAmount, "{0:C}")</td>
                                <td>@Html.ValueFor(m => outboundVisitTransactionViewModel.VpPaymentAllocationId)</td>
                                <td>@Html.ValueFor(m => outboundVisitTransactionViewModel.Processed)</td>
                                <td>@Html.ValueFor(m => outboundVisitTransactionViewModel.VisitBillingSystemId)</td>
                                <td>@Html.ValueFor(m => outboundVisitTransactionViewModel.VisitSourceSystemKey)</td>
                                <td>@Html.ValueFor(m => outboundVisitTransactionViewModel.BalanceTransferStatusDisplay)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </fieldset>
    </div>
    <br />
    <div>
        <fieldset>
            <legend>Add 835</legend>
            <div>
                <a href="@Url.Action("Add835", "Eob", new { id = Model.Visit.VisitId})" class="btn btn-primary">Add 835</a>
            </div>
            <br />
            <div>
                <a href="@Url.Action("GetVisitEboDetails", "Eob", new { billingSystemId = Model.Visit.BillingSystemId, visitSourceSystemKey = Model.Visit.SourceSystemKey})" class="btn btn-primary">Hit 835 API</a>
            </div>
        </fieldset>
    </div>
    <br />
    <div>
        <fieldset>
            <legend>Change Transaction Dates</legend>
            <div>
                Change visit transaction dates by <input type="number" name="quantity" value="-7" min="-365" max="365" id="visitTransactionOffset" /> days
                <br />
                <br />
                <input class="btn btn-primary" type="button" value="Change Visit Transaction Dates" id="changeVisitTransactionDates" onclick="offsetVisitTransactionDates();" />
                <br />
                <br />
                <span id="changeVisitTransactionDatesStatus" style="visibility:hidden">Done!</span>
            </div>
        </fieldset>
    </div>
    <br />
    <a href="@Url.Action("HsGuarantorsView", "Etl")" title="Back to HS Guarantors">Back to HS Guarantors</a>
</div>
<script type="text/javascript">
function offsetVisitTransactionDates() {
    var action = $.get("@Url.Action("OffsetVisitTransactionDates", "Visits")?systemSourceKey=@Model.Visit.SourceSystemKey&billingSystemId=@Model.Visit.BillingSystemId&numberOfDays=" + $('#visitTransactionOffset').val());
    $.when(action).done(function(){
        $('#changeVisitTransactionDatesStatus').css('visibility', 'visible');
    });
};
</script>