﻿@using Ivh.Domain.Guarantor.Entities
@model List<Ivh.Domain.Guarantor.Entities.BillingSystem>

@{
    ViewBag.Title = "ETL | Recalls";
}

<form class="form-horizontal" role="form">
    <h4>Recalls</h4>
    <div class="form-group col-md-8">
        <label for="billingSystemType" class="col-md-2">Billing System:&nbsp;</label>
        <select id="billingSystemType" class="col-md-6">
            @*<option class="form-control" selected value="-1">-- Choose Billing System --</option>*@
            @foreach (BillingSystem el in @Model)
            {
                <option value="@el.BillingSystemId">@el.BillingSystemName</option>
            }
        </select>
    </div>
    <div class="form-group col-md-8">
        <label for="visitNumber" class="col-md-2">Visit #:&nbsp;</label>
        <input id="visitNumber" class="col-md-6" placeholder="visit #" />
    </div>
    <div class="form-group col-md-8">
        <label for="reason" class="col-md-2">Reason:&nbsp;</label>
        <textarea rows="2" id="reason" class="col-md-6" placeholder="Recall Reason"></textarea>
    </div>
    <div class="form-group col-md-8 text-center">
        <button id="runRecall" type="button">Run VpEligible</button>
        <button id="runUnRecall" type="button">Run VpIneligible</button>
    </div>
</form>
<script>
    var model = @Html.Raw(Json.Encode(Model));
</script>
@section Scripts{
    <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/views/etl")"></script>
}

