﻿
@{
    ViewBag.Title = "Hospital Data Sync";
}

@section Scripts
{
    <script>
        $(function () {
            function callSyncIncomingHsVisitsAndTransactions() {
                $.ajax({
                    url: '/Jobs/SyncIncomingHsVisitsAndTransactions'
                }).done(function (data) {
                    $("#statusSyncIncomingHsVisitsAndTransactions").html(data);
                }).fail(function (obj, status, err) {
                    $("#statusSyncIncomingHsVisitsAndTransactions").html(err);

                });
            }

            $('#runSyncIncomingHsVisitsAndTransactions').on('click', callSyncIncomingHsVisitsAndTransactions);


            function callSyncHsGurantorMatchAcknowledgement() {
                $.ajax({
                    url: '/Jobs/SyncHsGurantorMatchAcknowledgement'
                }).done(function (data) {
                    $("#statusSyncHsGurantorMatchAcknowledgement").html(data);
                }).fail(function (obj, status, err) {
                    $("#statusSyncHsGurantorMatchAcknowledgement").html(err);
                });
            }

            $('#runSyncHsGurantorMatchAcknowledgement').on('click', callSyncHsGurantorMatchAcknowledgement);


            function callSyncGuestPayData() {
                $.ajax({
                    type: 'POST',
                    url: '/Jobs/SyncGuestPayData'
                }).done(function (data) {
                    $("#statusSyncGuestPayData").html(data);
                }).fail(function (obj, status, err) {
                    $("#statusSyncGuestPayData").html(err);
                });
            }

            $('#runSyncGuestPayData').on('click', callSyncGuestPayData);
        });
    </script>
}

<h1>HS Data Sync</h1>
<h2>HS Guarantor Match Acknowledgement</h2>
<p>This will look in the _ETL db where there are guarantor matches in the VGuarantorHsMatch table that don't have an HsGuarantorEvent of type 2: "VP Guarantor Match Hs Acknowledgement". This job will add that event and send a message to the VisitPay app, effectively changing the status of the _app.VpGuarantor to 2 "Active - HS Acknowledged - Pending Visits" if no visits have been loaded yet.</p>
<button title="Run Guarantor Match Ack Sync" id="runSyncHsGurantorMatchAcknowledgement">Run Guarantor Match Ack Sync</button>
<div id="statusSyncHsGurantorMatchAcknowledgement"></div>

<h2>Incoming HS Visits and Transactions</h2>
<p>This will find all unprocessed visit/transaction change sets in the _ETL database, for matched guarantors, and will move the data into the VP _App DB.</p>
<button title="Run Visit/Trx Data Sync" id="runSyncIncomingHsVisitsAndTransactions">Run Visit/Trx Data Sync</button>
<div id="statusSyncIncomingHsVisitsAndTransactions"></div>

<h2>GuestPay Data Sync</h2>
<p>This will run GuestPay inbound, which syncs HS data between guestpay app and cdi tables.</p>
<button title="Run GuestPay Data Sync" id="runSyncGuestPayData">Run GuestPay Data Sync</button>
<div id="statusSyncGuestPayData"></div>