﻿<h1>Payment Batch Processing</h1>

<div id="grid-unbatched">
    <template v-if="loaded">
        <v-client-table :data="tableData" :columns="columns" :options="options">
            <div slot="afterLimit">
                <button class="btn btn-primary" v-on:click="onSubmitSelected" v-bind:disabled="!hasSelectedValues">Clear Selected</button>
                <button class="btn btn-primary" v-on:click="onSubmitAll">Clear All</button>
            </div>
            <div slot="VpOutboundVisitTransactionId" slot-scope="props">
                <input type="checkbox" v-bind:value="props.row.VpOutboundVisitTransactionId" v-model="selectedValues" />
            </div>
        </v-client-table>
    </template>
    <template v-if="!loaded">
        <div class="alert alert-warning">no uncleared payments found</div>
    </template>
</div>

@section scripts {
    @Scripts.Render("~/bundles/scripts/vuetable")
    <script src="~/Scripts/Jobs/payment-batch-processing.js"></script>
}