﻿@import '../_variables.scss';

#section-payment-queue {
    .btn-icon {
        font-size: 16px;
    }

    hr {
        margin-bottom: 0px;
        margin-top: 10px;
    }

    .payment-queue-summary {
        display: none; //start hidden
        margin-top: 5px;
        margin-bottom: 5px;

        table {
            margin: 0px;
        }
    }

    .payment-exception-text {
        white-space: normal; //wrap exception text
    }

    .selection-action-buttons {
        display: none; //Start hidden
    }

    .selection-action-button {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .input-group.date {
        padding-top: 2px;
    }

    //Click run message
    .jqGridFilter.container {
        > .alert {
            top: 0 !important;
        }
    }

    .jqGridFilter {

        > .row {
            width: 1100px;

            > div {
                width: 140px;
                float: left;
                //Filter buttons
                &:nth-of-type(6) {
                    width: 63px;
                    float: right;
                }

                .validation-summary-errors {
                    > span {
                        padding-bottom: 0;
                    }

                    > ul {
                        display: none;
                    }
                }
            }
        }
    }

    #jqGrid {
        > tbody {
            > tr {
                > td {
                    > p {
                        margin: 0;
                    }
                }
            }
        }
    }
}

#guarantorSearchModal {
    .form-control {
        height: 28px;
    }

    .no-right-padding {
        padding-right: 0px;
    }

    .form-buttons {
        padding-top: 10px;
    }
}