﻿@{
    ViewBag.Title = "";
}

<div class="row">
    <div class="col-md-4">
        <h2>Oauth2</h2>
        <p>
        </p>
        <p><a class="btn btn-default" href="#">&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Other things</h2>
        <p></p>
        <p><a class="btn btn-default" href="#">&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Other things</h2>
        <p></p>
        <p><a class="btn btn-default" href="#">&raquo;</a></p>
    </div>
</div>