﻿@import '../_variables.scss';
@import '../_mixins.scss';

#knowledge-base {
    margin-top: 21px;

    ul.category-menu {
        border-right: 1px solid $vp-gray-light;
        line-height: 30px;
        list-style: none;
        margin: 0;

        > li {
            margin: 0;
            padding: 0 0 0 15px;
            position: relative;

            > ul {
                display: none;
                list-style: none;
                margin: 0 0 0 30px;
                padding: 0;
            }

            &.active {

                > a {
                    color: $text-color;
                    font-weight: 600;
                    text-decoration: none;
                }

                > ul {
                    display: block;
                    padding-bottom: 7px;

                    > li {
                        &.active {
                            > a {
                                color: $text-color;
                                font-weight: 600;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
    }

    .question-answer-container {
        padding-left: 15px;

        > div.question-answer {
            border-bottom: 1px solid $vp-gray-lighter;
            margin-bottom: 15px;
            padding-bottom: 7px;

            div.question {
                font-weight: 600;
                padding-bottom: 7px;
                position: relative;

                a {
                    text-decoration: none;

                    &:after {
                        @include glyphicon('\e258');
                        font-size: $font-size-small;
                        font-weight: normal;
                        position: absolute;
                        left: -18px;
                        top: 1px;
                    }
                }
            }

            div.answer {
                display: none;

                p {
                    &:last-of-type {
                        margin-bottom: 7px;
                    }
                }
            }

            &:last-of-type {
                border-bottom: 0;
            }

            &.expanded {
                div.question {
                    a {
                        &:after {
                            @include glyphicon('\e259');
                        }
                    }
                }

                div.answer {
                    display: block;
                }
            }
        }
    }

    p.text-center {
        margin-top: 40px;
    }
}

#knowledge-base-categories-questions {
    margin-top: 21px;

    > div.row {
        > div {
            > div {
                border: 1px solid $vp-gray-light;
                margin-bottom: 30px;
                position: relative;

                > div.title {
                    background: $vp-gray-lightest;
                    border-bottom: 1px solid $vp-gray-light;
                    color: $text-color;
                    font-family: $font-family-alt;
                    line-height: 40px;
                    position: relative;
                    text-align: center;

                    > em {
                        color: $vp-gray-dark;
                        font-size: 24px;
                        left: 9px;
                        margin-top: -11px;
                        position: absolute;
                        top: 50%;
                    }
                }

                > div.more {
                    border-top: 1px solid $vp-gray-lighter;
                    bottom: 1px;
                    left: 15px;
                    line-height: 30px;
                    position: absolute;
                    right: 15px;
                    text-align: center;
                }

                > ul {
                    list-style: none;
                    margin: 0;
                    min-height: 194px;
                    padding: 8px 15px 38px 9px;

                    > li {
                        padding: 7px 0 7px 0;
                        position: relative;
                    }
                }
            }
        }
    }
}

.feedback-container {
    padding-top: 15px;

    .feedback-question, .thumbs-up-thanks {
        font-weight: 600;
        color: $client-primary;
    }

    .thumbs-up-thanks {
        padding-left: 10px;
    }

    .vote-action.glyphicon {
        font-size: 20px;
        padding-left: 10px;
    }

    .feedback-text {
        margin-top: 10px;
        width: 50%;
    }

    .additional-feedback-buttons {
        margin: 10px 10px 10px 0;
    }
}
