﻿@import '../_variables.scss';


form.searchKnowledgeBase {
    > div {
        > div.row {
            > div.col {
                padding-top: 10px;
            }
        }
    }
}

.typeahead,
.tt-query,
.tt-hint {
    height: 32px;
    line-height: 30px;
    border: 1px solid $vp-gray-light;
    outline: none;
}

.typeahead {
    background-color: #fff;
}

.tt-hint {
    color: #999
}

.twitter-typeahead {
    width: 500px;
    margin-top: 5px;
}

.tt-menu {
    width: 500px;
    background-color: #fff;
    border: 1px solid $vp-gray-light;
}

.tt-suggestion {
    padding: 1px 5px 1px 5px;
    line-height: 24px;
}

.tt-suggestion:hover {
    cursor: pointer;
    background-color: $vp-gray-lighter;
}

.tt-suggestion.tt-cursor {
    background-color: $vp-gray-lighter;
}

.tt-suggestion p {
    margin: 0;
}

#btnSubmitSearch {
    background-color: $vp-gray-lightest;
    min-width: 40px;
    border: 1px solid $vp-gray-light;
    height: 32px;

    > span {
        color: $vp-gray-dark;
    }
}

.tt-tagged-header {
    background: $vp-gray-lightest;
    border-color: $vp-gray-lighter;
    border-style: solid;
    border-width: 1px 0 1px 0;
    font-style: italic;
    font-weight: 600;
    padding: 7px 0 7px 0;
    text-align: center;
}

#scrollable-dropdown-menu .tt-menu {
    max-height: 150px;
    overflow-y: auto;
}

#rtl-support .tt-menu {
    text-align: right;
}
