﻿@using System.Linq
@using System.Web.Hosting
@using Ivh.Application.Core.Common.Dtos
@using Ivh.Common.Base.Utilities.Extensions
@using Ivh.Common.Web.Models.Statement
@model StatementViewModel
@{
    Layout = null;
    ThemeStylesheet = "/theme-print.scss";
}

@* WARNING: COUPLING -- changes to this file should be kept in sync between Client and Patient *@

<!DOCTYPE html>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title></title>
    <style type="text/css">@Html.Raw(ThemeStylesheetRaw)</style>
</head>
<body id="print-visitbalancesummary">
    <div class="container">
        <div class="row header">
            <div class="col logo">
                <img src="@ServerUrl/Content/Client/logo.png" />
            </div>
            <div class="col">
                <strong>@Html.TextRegion(TextRegionConstants.BalanceSummaryStatement)</strong><br />
                <span>@Model.PeriodStartDate - @Model.PeriodEndDate</span>
            </div>
        </div>
        <div id="summary-header" class="row">
            <div class="col" id="user-details">
                <strong>@Model.GuarantorVisitPayUserFirstNameLastName</strong>

                @if (Model.GuarantorAddressStreet1.IsNotNullOrEmpty())
                {
                    <br /><span>@Model.GuarantorAddressStreet1</span><br />
                }
                @if (Model.GuarantorAddressStreet2.IsNotNullOrEmpty())
                {
                    <span>@Model.GuarantorAddressStreet2</span><br />
                }
                @if (Model.GuarantorCityStateZip.IsNotNullOrEmpty())
                {
                    <span>@Model.GuarantorCityStateZip</span><br />
                }
            </div>
            <div class="col" id="balance-summary">
                @if (Model.ActiveVisitsNotOnFinancePlan.IsNotNullOrEmpty())
                {
                    <span><strong>@Html.TextRegion(TextRegionConstants.PleasePay):</strong></span><br />
                }
                else
                {
                    <span><strong>@Html.TextRegion(TextRegionConstants.AccountIsCurrent)</strong></span><br />
                }
                <span>@Model.StatementedSnapshotVisitBalanceSum</span>
            </div>
        </div>
        <div id="pastdue-notification">
            <div class="row">
                <div class="col">
                    <div>
                        @if (Model.ActiveVisitsNotOnFinancePlan.Any(x => x.IsPastDue))
                        {
                            <span class="past-due">
                                @Html.TextRegion(TextRegionConstants.YourAccountIs) <strong>@Html.TextRegion(TextRegionConstants.PastDue)</strong>
                            </span>
                        }
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div id="visit-detail">
            <div class="row headers">
                <div class="col"><span>@Html.TextRegion(TextRegionConstants.VisitDate).ToUpper()</span></div>
                <div class="col"><span>@Html.TextRegion(TextRegionConstants.Description).ToUpper()</span></div>
                <div class="col"><span>@Html.TextRegion(TextRegionConstants.Status).ToUpper()</span></div>
                <div class="col"><span>@Html.TextRegion(TextRegionConstants.Amount).ToUpper()</span></div>
            </div>
            @if (Model.ActiveVisitsNotOnFinancePlan.IsNotNullOrEmpty())
            {
                foreach (StatementVisitViewModel visit in Model.ActiveVisitsNotOnFinancePlan)
                {
                    <div class="row">
                        <div class="col">
                            <span>@visit.VisitDate</span>
                        </div>
                        <div class="col">
                            <div>
                                @Html.TextRegion(TextRegionConstants.Visit)#:
                                @if (visit.ShowServiceGroupIndicator)
                                {
                                    <span class="service-group-indicator text-alert text-bold">@visit.ServiceGroupIndicator</span>
                                }
                                @visit.SourceSystemKeyDisplay

                                @if (!string.IsNullOrEmpty(visit.FacilityDescription))
                                {
                                    <br />
                                    <span>@visit.FacilityDescription</span>
                                }

                                <br />
                                <strong>@visit.Description</strong>
                                <br />
                                <span>@visit.Patient</span>
                            </div>
                        </div>
                        <div class="col">
                            @if (visit.IsPastDue || visit.IsFinalPastDue)
                            {
                                <span class="past-due-indicator"></span>
                                if (visit.IsFinalPastDue)
                                {
                                    <span class="past-due">@Html.TextRegion(TextRegionConstants.FinalPastDue)</span>
                                }
                                else
                                {
                                    <span class="past-due">@Html.TextRegion(TextRegionConstants.PastDue)</span>
                                }
                            }
                        </div>
                        <div class="col">
                            <span>@visit.StatementedSnapshotVisitBalance</span>
                        </div>
                    </div>
                    if (Model.ShowServiceGroupDisclaimer)
                    {
                        <div class="service-group-disclaimers">
                            @foreach (string disclaimer in Model.ServiceGroupDisclaimers)
                            {
                                <div class="text-alert text-bold">@Html.Raw(disclaimer)</div>
                            }
                        </div>
                    }
                }
            }
            else
            {
                <div id="no-active-visits">@Html.TextRegion(TextRegionConstants.NoActiveVisits)</div>
            }
        </div>
        <br />
        <div id="notifications">
            <div id="notifications-contact" class="bordered">
                <h1 class="bar">@Html.TextRegion(TextRegionConstants.Notifications)</h1>
                @{
                    decimal creditDecimal = 0m;
                    decimal.TryParse(Model.StatementedSnapshotVisitCreditBalanceSum, out creditDecimal);
                }
                @if (creditDecimal != 0m)
                {
                    <div id="credit-balance">
                        <p>
                            @Html.TextRegion(TextRegionConstants.CreditBalanceOf, new Dictionary<string, string>
                            {
                                { "[[CreditBalanceAmount]]", Model.StatementedSnapshotVisitCreditBalanceSum }
                            })
                        </p>
                        <p>@Html.TextRegion(TextRegionConstants.ContactSupportToResolve)</p>
                    </div>
                }
                @if (Model.Notifications.Count > 0)
                {
                    foreach (string notification in Model.Notifications)
                    {
                        <div>
                            <span>@notification</span>
                        </div>
                    }
                }
            </div>
            <div id="manage-bills" class="bordered">
                <div>
                    <p>@Html.TextRegion(TextRegionConstants.ManageYourBillsWith) <strong>@GuarantorUrlDisplay</strong></p>
                    <div id="pay-icons">
                        <div>
                            <span class="vpicon-pc"></span>
                            <span>@Html.TextRegion(TextRegionConstants.PayByPersonalComputer)</span>
                        </div>
                        <div>
                            <span class="vpicon-mobile"></span>
                            <span>@Html.TextRegion(TextRegionConstants.PayByMobile)</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>&nbsp;</div>
        @Html.Partial("_StatementContact", Model.Facilities)
    </div>
    <br />
    <div id="support">
        <div id="disclaimers">
            @Html.CmsRegion(CmsRegionEnum.StatementDisclaimerText)
        </div>
    </div>
    <div id="footer">
        @if (!IsFeatureEnabled(VisitPayFeatureEnum.FeatureDebrandedUiIsEnabled))
        {
            <img src="@string.Format("{0}\\Content\\Images\\powered_by_visitpay.png", @HostingEnvironment.MapPath("~"))" />
        }
    </div>
</body>
</html>