﻿@using System.Linq
@using System.Web.Hosting
@using Ivh.Common.Base.Utilities.Extensions
@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.VisitPay.Enums
@using Ivh.Common.Web.Models.Statement
@model VisitBalanceSummaryViewModel
@{
    Layout = null;
    ThemeStylesheet = "/theme-print.scss";
}

@* WARNING: COUPLING -- changes to this file should be kept in sync between Client and Patient *@

<!DOCTYPE html>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title></title>
    <style type="text/css">@Html.Raw(ThemeStylesheetRaw)</style>
</head>
<body id="print-visitbalancesummary">
    <div class="container">
        <div class="row header">
            <div class="col logo">
                <img src="@ServerUrl/Content/Client/logo.png" />
            </div>
            <div class="col">
                <strong>@Html.TextRegion(TextRegionConstants.BalanceSummaryStatement)</strong><br />
                <span>@Model.PeriodBeginDate - @Model.PeriodEndDate</span>
            </div>
        </div>
        <div id="summary-header" class="row">
            <div class="col" id="user-details">
                <strong>@Model.GuarantorFirstNameLastName</strong>

                @if (Model.GuarantorAddressStreet1.IsNotNullOrEmpty())
                {
                    <br /><span>@Model.GuarantorAddressStreet1</span><br />
                }
                @if (Model.GuarantorAddressStreet2.IsNotNullOrEmpty())
                {
                    <span>@Model.GuarantorAddressStreet2</span><br />
                }
                @if (Model.GuarantorCityStateZip.IsNotNullOrEmpty())
                {
                    <span>@Model.GuarantorCityStateZip</span><br />
                }
            </div>
            <div class="col" id="balance-summary">
                @if (Model.Visits.IsNotNullOrEmpty())
                {
                    <span><strong>@Html.TextRegion(TextRegionConstants.PleasePay):</strong></span><br />
                }
                else
                {
                    <span><strong>@Html.TextRegion(TextRegionConstants.AccountIsCurrent)</strong></span><br />
                }
                <span>@Model.TotalVisitBalanceAmount</span>
            </div>
        </div>
        <div id="pastdue-notification">
            <div class="row">
                <div class="col">
                    <div>
                        @if (Model.Visits.Any(x => x.IsPastDue))
                        {
                            <span class="past-due">
                                @Html.TextRegion(TextRegionConstants.YourAccountIs) <strong>@Html.TextRegion(TextRegionConstants.PastDue)</strong>
                            </span>
                        }
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div id="visit-detail">
            <div class="row headers">
                <div class="col"><span>@Html.TextRegion(TextRegionConstants.VisitDate).ToUpper()</span></div>
                <div class="col"><span>@Html.TextRegion(TextRegionConstants.Description).ToUpper()</span></div>
                <div class="col"><span>@Html.TextRegion(TextRegionConstants.Status).ToUpper()</span></div>
                <div class="col"><span>@Html.TextRegion(TextRegionConstants.Amount).ToUpper()</span></div>
            </div>
            @if (Model.Visits.IsNotNullOrEmpty())
            {
                foreach (VisitBalanceViewModel visit in Model.Visits)
                {
                    <div class="row">
                        <div class="col">
                            <span>@visit.DischargeDate</span>
                        </div>
                        <div class="col">
                            <div>
                                <strong>@visit.VisitDescription</strong>
                                <br />
                                <span>@visit.PatientName</span>
                            </div>
                        </div>
                        <div class="col">
                            @if (visit.IsPastDue || visit.IsFinalPastDue)
                            {
                                <span class="past-due-indicator"></span>
                                if (visit.IsFinalPastDue)
                                {
                                    <span class="past-due">@Html.TextRegion(TextRegionConstants.FinalPastDue)</span>
                                }
                                else
                                {
                                    <span class="past-due">@Html.TextRegion(TextRegionConstants.PastDue)</span>
                                }
                            }
                        </div>
                        <div class="col">
                            <span>@visit.DisplayBalance</span>
                        </div>
                    </div>
                }
            }
            else
            {
                <div id="no-active-visits">@Html.TextRegion(TextRegionConstants.NoActiveVisits)</div>
            }
        </div>
        <br />
        <div id="notifications">
            <div id="notifications-contact" class="bordered">
                <h1 class="bar">@Html.TextRegion(TextRegionConstants.Notifications)</h1>
                @if (Model.HasCreditBalance)
                {
                    <div id="credit-balance">
                        <p>
                            @Html.TextRegion(TextRegionConstants.CreditBalanceOf, new Dictionary<string, string>
                            {
                               { "[[CreditBalanceAmount]]", Model.CreditBalanceAmount }
                            })
                        </p>
                        <p>@Html.TextRegion(TextRegionConstants.ContactSupportToResolve)</p>
                    </div>
                }
                <div><strong>@Html.TextRegion(TextRegionConstants.CustomerService):</strong></div>
                <div>@ClientDto.SupportPhone</div>
            </div>
            <div id="manage-bills" class="bordered">
                <div>
                    <p>@Html.TextRegion(TextRegionConstants.ManageYourBillsWith) <strong>@Model.DisplayUrl</strong></p>
                    <div id="pay-icons">
                        <div>
                            <span class="vpicon-pc"></span>
                            <span>@Html.TextRegion(TextRegionConstants.PayByPersonalComputer)</span>
                        </div>
                        <div>
                            <span class="vpicon-mobile"></span>
                            <span>@Html.TextRegion(TextRegionConstants.PayByMobile)</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div id="support">
        <div id="disclaimers">
            @Html.CmsRegion(CmsRegionEnum.StatementDisclaimerText)
        </div>
    </div>
    <div id="footer">
        <img src="@string.Format("{0}\\Content\\Images\\powered_by_visitpay.png", HostingEnvironment.MapPath("~"))" />
    </div>
</body>
</html>