﻿@import '../_variables.scss';

#section-managed, #section-managing {
    .alert {
        margin-bottom: 0;
        margin-top: 0;
    }
}

/* details */

#section-consolidation-details {
    > div {
        line-height: 20px;
        margin-bottom: 15px;

        &:after {
            clear: both;
            content: '';
            display: table;
        }
    }
}

/* match form */

#frmConsolidateMatch {
    .row {
        line-height: 38px;
        margin: 0 0 15px 0;
    }
}

#overlay-request, #overlay-accept {
    #section-request-managed, #section-accept-terms-consolidation {
        .agree {
            margin: 15px auto 15px auto;
            position: relative;
            text-align: center;
            width: 100%;
            input {
            }
            label {
                display: inline;
                font-weight: normal;
            }

            .input-validation-error + label {
                color: $state-danger-text;
            }

            margin-bottom: 15px;
        }
    }
}
