﻿@model  Ivh.Web.Client.Models.PaymentQueue.PaymentQueueGuarantorSearchFilterViewModel

<div id="guarantorSearchModal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">Guarantor Lookup</h4>
            </div>
            <div class="modal-body">
                <form class="jqGridFilter modern-form" id="guarantorSearchJqGridFilter" autocomplete="off">
                    <div class="row">
                        @* LEFT SIDE *@
                        <div class="col-sm-6">
                            <div class="row form-group">
                                <div class="col-xs-6 no-right-padding">
                                    <label class="control-label">First Name</label>
                                    @Html.VpTextBoxFor(m => m.FirstName, new { @class = "form-control", data_bind = "value: FirstName" })
                                </div>
                                <div class="col-xs-6">
                                    <label class="control-label">Last Name</label>
                                    @Html.VpTextBoxFor(m => m.LastName, new { @class = "form-control", data_bind = "value: LastName" })
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-xs-6 no-right-padding">
                                    <label class="control-label">Amount Due</label>
                                    @Html.VpTextBoxFor(m => m.AmountDue, new { @class = "form-control", data_bind = "value: AmountDue" })
                                </div>
                                <div class="col-xs-6">
                                    <label class="control-label">Phone Number</label>
                                    @Html.VpTextBoxFor(m => m.PhoneNumber, new { @class = "form-control", data_bind = "value: PhoneNumber" })
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-xs-12">
                                    <label class="control-label">Account #</label>
                                    @Html.VpTextBoxFor(m => m.HsGuarantorId, new { @class = "form-control", data_bind = "value: HsGuarantorId" })
                                </div>
                            </div>
                        </div>
                        @* RIGHT SIDE *@
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="row form-group">
                                    <div class="col-xs-12">
                                        <label class="control-label">Address Line 1</label>
                                        @Html.VpTextBoxFor(m => m.AddressStreet1, new { @class = "form-control", data_bind = "value: AddressStreet1" })
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-xs-12">
                                        <label class="control-label">Address Line 2</label>
                                        @Html.VpTextBoxFor(m => m.AddressStreet2, new { @class = "form-control", data_bind = "value: AddressStreet2" })
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-xs-4 no-right-padding">
                                        <label class="control-label">City</label>
                                        @Html.VpTextBoxFor(m => m.City, new { @class = "form-control", data_bind = "value: City" })
                                    </div>
                                    <div class="col-xs-4 no-right-padding">
                                        <label class="control-label">State</label>
                                        @Html.VpStatesDropDownListFor(m => m.StateProvince, new { @class = "form-control", data_bind = "value: StateProvince" })
                                    </div>
                                    <div class="col-xs-4">
                                        <label class="control-label">Postal Code</label>
                                        @Html.VpTextBoxFor(m => m.PostalCode, new { @class = "form-control", data_bind = "value: PostalCode" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-right">
                            <div class="form-group form-buttons">
                                <button type="button" id="btnGuarantorSearchResetFilter" class="btn btn-default">Reset</button>
                                <button type="submit" class="btn btn-default">Search</button>
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-info collapse" data-bind="css: { collapse: RunResults() == false }">
                        Click <strong>Search</strong> to update your results
                    </div>
                    <div class="alert alert-danger collapse" style="display: none" id="refineSearchMessage">
                        More than 200 records returned. Please refine your search
                    </div>
                </form>
                <div class="row">
                    <hr/>
                    <div class="col-sm-12">
                        <table id="guarantorSearchJqGrid"></table>
                        <div id="guarantorSearchJqGridPager"></div>
                        <div id="guarantorSearchJqGridNoRecords" class="alert alert-info text-center collapse">
                            <strong>There are no guarantors that match your search.</strong>
                        </div>
                        <div id="guarantorSearchJqGridInitialMessage" class="alert alert-info text-center">
                            <strong>Complete at least one field in the search form to search guarantors.</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>