﻿@model Ivh.Web.Client.Models.PaymentQueue.PaymentQueueFilterViewModel

@section breadcrumbs {
    <ul>
        <li>@base.ClientDto.ClientBrandName</li>
        <li>Payment Queue</li>
    </ul>
}

<style type="text/css">
    /* Override content width on payment queue page to account for wide table */
    #content {
        width: 1100px !important;
    }
</style>

<h1 class="bar">
    Payment Queue
</h1>

<section id="section-payment-queue">
    <form class="jqGridFilter container" id="jqGridFilter" autocomplete="off">
        <div class="alert alert-info collapse" data-bind="css: { collapse: RunResults() == false }">
            Click <strong>Run</strong> to update your results
        </div>
        <div class="row">
            <div class="col">@Html.LabelFor(m => m.DateRangeFrom)</div>
            <div class="col">Custom Date Range</div>
            <div class="col"></div>
            <div class="col">@Html.LabelFor(m => m.PaymentState)</div>
            <div class="col">@Html.LabelFor(m => m.BatchNumber)</div>
            <div class="col">
                <button type="submit" class="btn btn-primary" id="btnGridFilterSubmit">Run</button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                @Html.DropDownListFor(m => m.DateRangeFrom, Model.DateRanges, new { @class = "form-control", data_bind = "value: DateRangeFrom" })
            </div>
            <div class="col">
                <div class="input-group date">
                    @Html.VpTextBoxFor(m => m.StartDate, new { @class = "form-control", data_bind = "value: StartDate" })
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
            <div class="col">
                <div class="input-group date">
                    @Html.VpTextBoxFor(m => m.EndDate, new { @class = "form-control", data_bind = "value: EndDate" })
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
            <div class="col">
                @Html.DropDownListFor(m => m.PaymentState, Model.PaymentStates, new { @class = "form-control", data_bind = "value: PaymentState" })
            </div>
            <div class="col">
                @Html.DropDownListFor(m => m.BatchNumber, Model.BatchNumbers, new { @class = "form-control", data_bind = "value: BatchNumber" })
            </div>
            <div class="col">
                <button type="reset" class="btn btn-primary" id="btnGridFilterReset">Reset</button>
            </div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col">@Html.ValidationSummary("Invalid Date Range", true)</div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col text-right"><input type="image" title="Export To Excel" id="btnPaymentQueueExport" src="~/Content/Images/excel.png" class="export-excel" /></div>
        </div>
    </form>
    <hr />
    <div class="row payment-queue-summary" id="payment-queue-summary">
        <div class="col-sm-4">
            <table class="table table-condensed table-bordered">
                <tr>
                    <td>Posted Payments</td>
                    <td class="text-right" data-bind="text: PostedPaymentsTotal"></td>
                </tr>
                <tr>
                    <td >Unposted Payments</td>
                    <td class="text-right" data-bind="text: UnpostedPaymentsTotal"></td>
                </tr>
                <tr>
                    <td>Non-VisitPay Payments</td>
                    <td class="text-right" data-bind="text: NonVisitPayPaymentsTotal"></td>
                </tr>
                <tr class="info">
                    <td class="text-bold">Total</td>
                    <td class="text-right" data-bind="text: AllPaymentsTotal"></td>
                </tr>
            </table>
        </div>
    </div>
    <hr />
    <div class="row selection-action-buttons">
        <div class="col-sm-6">
            <button type="button" id="select-all-btn" class="btn btn-default selection-action-button">Select All</button>
            <button type="button" id="deselect-all-btn" class="btn btn-default selection-action-button">Deselect All</button>
        </div>
        <div class="col-sm-6 text-right">
            <button type="button" class="btn btn-primary selection-action-button save-selected-btn">Save Selected Rows</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table id="jqGrid"></table>
            <div id="jqGridPager"></div>
            <div id="jqGridNoRecords" class="alert alert-info collapse text-center">
                <strong>There are no payments to display at this time.</strong>
            </div>
        </div>
    </div>
</section>

@section scripts {
    @Scripts.Render("~/Scripts/Libraries/jquery.hotkeys.js")
    @Scripts.Render("~/Scripts/PaymentQueue/payment-queue.js")
    <script type="text/javascript">
        $(document).ready(function() {
            var data = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
            window.VisitPay.PaymentQueue.Initialize(data);
        });
    </script>
}