﻿.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}

.ok {
    color: green;
    font-size: 40px;
}

.warning {
    color: orange;
}

.error {
    color: red;
}

.loader {
    border: 8px solid #f3f3f3;
    border-radius: 70%;
    border-top: 8px solid #3498db;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
