﻿@using Ivh.Common.Web.Models.Shared
@model Ivh.Common.Web.Models.Account.AddressViewModel
@{
    CmsViewModel cmsContent = Html.CmsModel(CmsRegionEnum.OfflineConfirmMailingAddressDescription);
}

<div id="modalMailingAddressConfirm" class="modal modal-vcenter" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-md">
        @using (Html.VpForm("MailingAddressConfirmAsync", "Offline", FormMethod.Post, "frmConfirmMailingAddress", new { @class = "modal-content", autocomplete = "off" }))
        {
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">@Html.Raw(cmsContent.ContentTitle)</h4>
            </div>
            <div class="modal-body">
                @if (!string.IsNullOrWhiteSpace(cmsContent.ContentBody))
                {
                    <div class="description">
                        <p>@Html.Raw(cmsContent.ContentBody)</p>
                    </div>
                    <hr />
                }
                <div class="form-body">
                    <div class="modern-form">
                        <div class="row form-group">
                            <div class="col-xs-12">
                                @Html.VpLabelFor(m => m.AddressStreet1)
                                @Html.VpTextBoxFor(m => m.AddressStreet1, new { data_bind = "value: AddressStreet1" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-12">
                                @Html.VpTextBoxFor(m => m.AddressStreet2, new { data_bind = "value: AddressStreet2" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-12 col-group">
                                <div class="col-xs-4">@Html.VpTextBoxFor(m => m.City, new { data_bind = "value: City" })</div>
                                <div class="col-xs-4">@Html.VpStatesDropDownListFor(m => m.StateProvince, new { @class = "form-control", data_bind = "value: StateProvince" })</div>
                                <div class="col-xs-4">@Html.VpTextBoxFor(m => m.PostalCode, new { data_bind = "value: PostalCode" })</div>
                            </div>
                        </div>
                        <div class="row form-group" data-bind="visible: ShowRemoveEmailPreferences">
                            <div class="col-xs-12 col-group">
                                <div class="col-xs-12">
                                    <div class="checkbox-styled">
                                        <input id="cbRemoveEmailPreferences" type="checkbox" data-bind="checked: RemoveEmailPreferences" />
                                        <label for="cbRemoveEmailPreferences">Remove Email preferences</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                        <!-- ko if: IncludesUspsStandardizedAddress -->
                        <hr />
                        <div class="row form-group">
                            <div class="col-xs-12">
                                <div class="checkbox-styled text-center">
                                    <p>
                                        <input id="cbIsUspsFormatSelected" type="checkbox" data-bind="checked: IsUspsFormatSelected" />
                                        <label for="cbIsUspsFormatSelected">
                                            <strong>
                                                @Html.TextRegion(TextRegionConstants.UseUspsAddressFormat)
                                            </strong>
                                        </label>
                                    </p>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <p style="margin-left: 66px;">
                                    <!-- ko if: UspsAddressStreet1 -->
                                    <span data-bind="text: UspsAddressStreet1"></span><br />
                                    <!-- /ko -->
                                    <!-- ko if: UspsAddressStreet2 -->
                                    <span data-bind="text: UspsAddressStreet2"></span><br />
                                    <!-- /ko -->
                                    <span data-bind="text: UspsCity"></span> <span data-bind="text: UspsStateProvince"></span> <span data-bind="text: UspsPostalCode"></span>
                                </p>
                            </div>
                        </div>
                        <!-- /ko -->

                        <div class="errors" data-bind="visible: Validation.HasErrors">
                            <hr />
                            <div class="validation-summary-errors">
                                <span>The following errors have occurred:</span>
                                <ul>
                                    <!-- ko foreach: Validation.Messages -->
                                    <li data-bind="text: $data"></li>
                                    <!-- /ko -->
                                </ul>
                            </div>
                            <div data-bind="visible: Validation.Failed">
                                <div>
                                    @Html.Raw(Html.CmsRegion(CmsRegionEnum.OfflineConfirmMailingAddressFailed))
                                </div>
                                <br />
                                <div class="checkbox-styled text-center">
                                    <input id="cbValidationSkip" type="checkbox" data-bind="checked: Validation.Skip" />
                                    <label for="cbValidationSkip">Continue With Invalid Address</label>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="modal-footer text-center modern-form">
                @Html.VpButton("btnConfirmMailingAddressSubmit", "Submit", VpButtonTypeEnum.Submit, VpButtonClassEnum.Primary)
                @Html.VpButton("btnConfirmMailingAddressCancel", "Cancel", VpButtonTypeEnum.Button, VpButtonClassEnum.Primary, new { data_dismiss = "modal" })
            </div>
        }
    </div>
</div>
