﻿@model Ivh.Web.Client.Models.Offline.SendOfflineTokenViewModel

@if (IsFeatureEnabled(VisitPayFeatureEnum.OfflineVisitPay))
{
    <div id="modalSendToken" class="modal modal-vcenter" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-md">
            @using (Html.VpForm("SendToken", "Offline", FormMethod.Post, "frmSendToken", new { @class = "modal-content modern-form", autocomplete = "off" }))
            {
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    <h4 class="modal-title">@Html.Raw(Model.Content.ContentTitle)</h4>
                </div>
                <div class="modal-body">
                    @if (!string.IsNullOrWhiteSpace(Model.Content.ContentBody))
                    {
                        <div class="description">
                            <p>@Html.Raw(Model.Content.ContentBody)</p>
                        </div>
                        <hr/>
                    }
                    <div class="form-body">
                        @Html.HiddenFor(m => m.VpGuarantorId)
                        @Html.HiddenFor(m => m.SendFinancePlanNotification)
                        <div class="form-group">
                            @Html.VpLabelFor(m => m.EmailAddress)
                            @Html.VpTextBoxFor(m => m.EmailAddress)
                        </div>
                        @if (Model.ShowRemovePaperCommunicationPreferences)
                        {
                            <div class="form-group">
                                <div class="checkbox-styled">
                                    @Html.CheckBoxFor(m => m.RemovePaperCommunicationPreferences)
                                    @Html.LabelFor(m => m.RemovePaperCommunicationPreferences)
                                </div>
                            </div>
                        }
                        <div class="form-group">
                            <div class="checkbox-styled">
                                @Html.CheckBoxFor(m => m.SendSms)
                                @Html.LabelFor(m => m.SendSms)
                            </div>
                        </div>
                        <div class="form-group" id="divPhoneNumber" style="display: none;">
                            @Html.VpLabelFor(m => m.PhoneNumber, new { @class = "required" })
                            @Html.VpTextBoxFor(m => m.PhoneNumber)
                        </div>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    @{
                        string buttonText = Model.SendFinancePlanNotification ? "Confirm" : "Send";
                    }
                    @Html.VpButton("btnSendOfflineToken", buttonText, VpButtonTypeEnum.Submit)
                    @Html.VpButton("btnSendOfflineTokenCancel", "Cancel", VpButtonTypeEnum.Button, VpButtonClassEnum.Primary, new { data_dismiss = "modal" })
                </div>
            }
        </div>
    </div>
}
        
        
