﻿@using Ivh.Common.Base.Utilities.Extensions
@using Ivh.Common.Web.Models.Shared
@model IList<CmsViewModel>

@if (Model.IsNotNullOrEmpty())
{
    <div class="talk-off-content">
        <a href="javascript:;" class="action"></a>
        <div class="header">
            <h4>Call Script</h4>
        </div>
        <ol class="talking-points">
            @foreach (CmsViewModel cmsModel in Model)
            {
                <li class="talking-point">
                    @if (!string.IsNullOrWhiteSpace(cmsModel.ContentTitle))
                    {
                        <h4>@Html.Raw(cmsModel.ContentTitle)</h4>
                    }
                    <div class="talking-point-content">@Html.Raw(cmsModel.ContentBody)</div>
                </li>
            }
        </ol>
    </div>
}
