﻿@using Ivh.Common.Base.Utilities.Extensions
@using Ivh.Common.Web.Models.Shared
@model Ivh.Common.Web.Models.Payment.ArrangePaymentViewModel
@{
    string applicableBalance = Model.PaymentOptions != null && Model.PaymentOptions.Count > 0 ? Model.PaymentOptions[0].UserApplicableBalanceText : null;
    if (string.IsNullOrWhiteSpace(applicableBalance))
    {
        applicableBalance = 0m.FormatCurrency();
    }

    IList<CmsViewModel> cmsModels = new List<CmsViewModel>
    {
        this.Html.CmsModel(CmsRegionEnum.OfflineTalkingPointsOfferPickType),
        this.Html.CmsModelWithAdditionalValues(CmsRegionEnum.OfflineTalkingPointsOfferSetTerms, new Dictionary<string, string>
        {
            {"[[BalanceDue]]", applicableBalance}
        })
    };
}

@Html.Action("GuarantorContext", "Payment", new { VisitPayUserId = Model.VisitPayUserId })
<section id="arrange-payment" style="visibility: hidden;">
    @Html.Partial("~/Views/Offline/_TalkOff.cshtml", cmsModels)
    <div id="noOptions" class="arrange-payment-module">
        @Html.CmsRegion(CmsRegionEnum.ArrangePaymentNoOptions)
    </div>
    <div id="finance-plan" data-context="financeplan" class="arrange-payment-module">
        @Html.Partial("~/Views/Payment/_ArrangePaymentFinancePlan.cshtml")
    </div>
    <section id="section-paymentmethods" style="display: none;"></section>
</section>
@section modals {
    @Html.Partial("~/Views/Payment/_VisitSelection.cshtml")
}
@section scripts {
    @Scripts.Render(BundleConstants.CommonFinancePlanSetup, BundleConstants.OfflineCreateFinancePlan)
    <script type="text/javascript">
        (function() {
            var data = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
            var fp = new window.VisitPay.OfflineCreateFinancePlan(data);
            $(document).ready(function() {
                fp.init();
            });
        })();
    </script>
}