﻿@using Ivh.Common.Web.Models.Shared
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@model Ivh.Web.Client.Models.Offline.CreateVpGuarantorViewModel

@{
    IList<CmsViewModel> cmsModels = new List<CmsViewModel> {
        this.Html.CmsModel(CmsRegionEnum.OfflineTalkingPointsOfferService),
        this.Html.CmsModel(CmsRegionEnum.OfflineTalkingPointsVerifyPayment),
        this.Html.CmsModel(CmsRegionEnum.OfflineTalkingPointsExplainFpRequirements),
        this.Html.CmsModel(CmsRegionEnum.OfflineTalkingPointsGuarantorInformation),
    };
}

<section id="section-createvpguarantor" style="display: none;">
    @Html.Partial("~/Views/Offline/_TalkOff.cshtml", cmsModels)
    @using (Html.VpForm("FindGuarantor", "Offline", FormMethod.Post, "frmFindGuarantor", new { @class = "modern-form col-xs-4 col-xs-offset-4" }))
    {
        <div class="form-group row">
            <div class="col-xs-12">
                <label for="GuarantorId">@ClientDto.HsGuarantorPatientIdentifier</label>
                <div class="guarantor-id-parts">
                    @{
                        JArray setting = (JArray)JsonConvert.DeserializeObject(ClientDto.RegistrationIdConfiguration);
                        foreach (JToken token in setting)
                        {
                            JToken placeholderJToken = token["placeholder"];
                            string placeholder = placeholderJToken == null ? string.Empty : Html.TextRegion(placeholderJToken.ToString());
                            <div>
                                <input class="form-control"
                                       type="text"
                                       name="GuarantorId"
                                       id="GuarantorId"
                                       placeholder="@placeholder"
                                       data-bind="value: GuarantorId"
                                       data-val-required=" "
                                       data-val="true" />
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-6">
                @Html.LabelFor(m => m.LastName)
                @Html.VpTextBoxFor(m => m.LastName, new { data_bind = "value: LastName" })
            </div>
            <div class="col-xs-6" data-bind="visible: Step.IsNot(1)">
                @Html.LabelFor(m => m.FirstName)
                @Html.VpTextBoxFor(m => m.FirstName, new { data_bind = "value: FirstName" })
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-12">
                @Html.VpButton("btnFindGuarantor", "Search", VpButtonTypeEnum.Submit)
            </div>
        </div>
        <!-- ko if: Error.Any -->
        <div class="alert alert-danger" data-bind="html: Error"></div>
        <!-- /ko -->
    }

    @using (Html.VpForm("CreateVpGuarantor", "Offline", FormMethod.Post, "frmCreateGuarantor", new { @class = "modern-form col-xs-6 col-xs-offset-3", data_bind = "visible: Step.IsNot(1)" }))
    {
        <!-- ko if: Warning.Any -->
        <div class="alert alert-warning" data-bind="html: Warning"></div>
        <!-- /ko -->
        <!-- ko ifnot: Warning.Any -->
        <div class="alert alert-light">Please verify the following information matches the Guarantors statement.</div>
        <!-- /ko -->
        <div class="form-group row">
            <div class="col-xs-12">
                @Html.LabelFor(m => m.AddressStreet1)
                @Html.VpTextBoxFor(m => m.AddressStreet1, new { data_bind = "value: AddressStreet1" })
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-12">
                @Html.VpTextBoxFor(m => m.AddressStreet2, new { data_bind = "value: AddressStreet2" })
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-6">
                @Html.LabelFor(m => m.City)
                @Html.VpTextBoxFor(m => m.City, new { data_bind = "value: City" })
            </div>
            <div class="col-xs-3">
                @Html.LabelFor(m => m.State)
                @Html.VpStatesDropDownListFor(m => m.State, new { data_bind = "value: State", @class = "form-control" })
            </div>
            <div class="col-xs-3">
                @Html.HiddenFor(m => m.RequireZip)
                @Html.LabelFor(m => m.Zip)
                @Html.VpTextBoxFor(m => m.Zip, new { data_bind = "value: Zip" })
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-8">
                @Html.LabelFor(m => m.DateOfBirthMonth)
                <div class="date-of-birth">
                    @Html.VpDropDownListFor(m => m.DateOfBirthMonth, Dates.MonthsAbbreviated(), new { data_bind = "value: DateOfBirthMonth" })
                    @Html.VpTextBoxFor(m => m.DateOfBirthDay, new { data_bind = "value: DateOfBirthDay", type = "tel", maxlength = 2 })
                    @Html.VpTextBoxFor(m => m.DateOfBirthYear, new { data_bind = "value: DateOfBirthYear", type = "tel", maxlength = 4 })
                </div>
            </div>
            @Html.HiddenFor(m => m.RequireSsn)
            @if (Model.ConfigSsn.Visible)
            {
                <div class="col-xs-4">
                    @Html.LabelFor(m => m.Ssn4)
                    @Html.VpTextBoxFor(m => m.Ssn4, new { data_bind = "value: Ssn4", @class = "form-control ssn4", autocomplete = "off", type = "tel" })
                </div>
            }
        </div>
        if (Model.ConfigPatientDateOfBirth.Visible)
        {
            <div class="row">
                <div class="col-xs-8 patient-dob">
                    <div class="checkbox-styled">
                        @Html.CheckBoxFor(m => m.ShowPatientDateOfBirth, new { data_bind = "checked: ShowPatientDateOfBirth", id = "cbUsePatientDateOfBirth" })
                        <label for="cbUsePatientDateOfBirth">The patient's date of birth is different than guarantor.</label>
                    </div>
                </div>
                @Html.HiddenFor(m => m.RequirePatientDateOfBirth)
                @Html.HiddenFor(m => m.RequirePatientDateOfBirthDefault)
                <div class="col-xs-8" id="patient-dob-container" style="display: none;">
                    @Html.LabelFor(m => m.PatientDateOfBirthMonth)
                    <div class="date-of-birth">
                        @Html.VpDropDownListFor(m => m.PatientDateOfBirthMonth, Dates.MonthsAbbreviated())
                        @Html.VpTextBoxFor(m => m.PatientDateOfBirthDay, new { type = "tel", maxlength = 2 })
                        @Html.VpTextBoxFor(m => m.PatientDateOfBirthYear, new { type = "tel", maxlength = 4 })
                    </div>
                </div>
            </div>
        }
        <hr />
        <div class="form-section">
            <div class="form-group row">
                <div class="col-xs-12 text-center">
                    <br />
                    <div class="checkbox-styled">
                        @Html.CheckBoxFor(m => m.GuarantorAcknowledged, new { data_bind = "checked: GuarantorAcknowledged" })
                        @Html.LabelFor(m => m.GuarantorAcknowledged, TextRegionConstants.AcknowledgeGuarantorInformation)
                    </div>
                </div>
            </div>
        </div>
        <div class="form-section">
            @Html.VpValidationSummaryCustomErrors()
        </div>
        <div class="form-section text-center">
            @Html.VpButton("btnCreateOfflineGuarantor", "Create Guarantor", VpButtonTypeEnum.Submit)
        </div>
    }
</section>

@section scripts {
    @Scripts.Render("~/bundles/scripts/knockout", BundleConstants.OfflineCreateVpGuarantor)
}