﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style tyle="text/css">
        
        .header {
            background: #eeeeee;
            border-bottom: 2px solid #cccccc;
            font-size: 15px;
            font-weight: bold;
            line-height: 50px;
            text-align: center;
        }

        .form-control, .btn {
            border-radius: 0;
        }

         #app {
             font-family: Arial;
             font-size: 12px;
             margin: auto;
             padding: 30px 0 0 0;
             position: relative;
             width: 900px;
         }

        .interceptors-component form {
            border-left: 2px solid #cccccc;
            padding: 0 0 15px 30px;
        }
        
        .interceptors-component label {
            display: block;
            font-size: 11px;
            font-weight: normal;
            line-height: 19px;
        }

        .intercept-list-component .row {
            line-height: 34px;
            padding: 8px 0 8px 0;
        } 
        
        .component h4 {
            border-bottom: 2px solid #cccccc;
            margin-bottom: 15px;
            padding-bottom: 8px;
        }
    </style>
</head>
<body>
<div class="header">
    Mock Endpoint Negative Response Tester
</div>
<div id="app">
    <div class="row">
        <div class="col-xs-9">
            <intercept-list-component></intercept-list-component>
        </div>
        <div class="col-xs-3">
            <interceptors-component></interceptors-component>
        </div>
    </div>
</div>

<script type="text/x-template" id="tmplInterceptorsComponent">
    <section class="component interceptors-component">
        <form v-on:submit="onSubmit">
            <h4>Interceptors</h4>
            <label v-for="url in Urls">
                <input type="checkbox" v-model="url.Selected" />
                {{ url.Text }}
            </label>
            <button type="submit" class="btn btn-primary">Set</button>
        </form>
    </section>
</script>

<script type="text/x-template" id="tmplInterceptListComponent">
    <section class="component intercept-list-component">
        <h4>Incoming Requests</h4>
        <div v-for="request in Requests" class="row">
            <div class="col-xs-5">
                {{ request.UrlName }}
            </div>
            <div class="col-xs-5">
                <select v-model="request.RespondWith.StatusCode" v-bind:disabled="request.HasResponded" class="form-control">
                    <optgroup label="Common Status Codes">
                        <option v-for="option in request.RespondWith.StatusCodesCommon" v-bind:value="option.Value">{{ option.Text }}</option>
                    </optgroup>
                    <optgroup label="Other Status Codes">
                        <option v-for="option in request.RespondWith.StatusCodesOther" v-bind:value="option.Value">{{ option.Text }}</option>
                    </optgroup>
                </select>
            </div>
            <div class="col-xs-2 text-right">
                <button type="button" class="btn btn-primary" v-on:click="click(request)" v-show="!request.HasResponded">send it</button>
            </div>
        </div>
    </section>
</script>

<script src="~/Scripts/Libraries/jquery-3.2.1.min.js"></script>
<script src="~/Scripts/Libraries/jquery.signalR-2.2.2.min.js"></script>
<script src="~/Scripts/Libraries/vue.min.js"></script>
<script type="text/javascript" src="~/signalr/hubs"></script>
<script type="text/javascript">
    window.QaTools = {};
    window.QaTools.Config = {
        UrlInterceptorsData: '@this.Url.Action("InterceptorsData", "MockEndpoint")',
        UrlInterceptorsSet: '@this.Url.Action("InterceptorsSet", "MockEndpoint")'
    };
</script>
<script type="text/javascript" src="/Scripts/MockEndpoint/mockendpoints.js"></script>
</body>
</html>
