﻿@using Ivh.Common.VisitPay.Constants
<div class="grid-pager-spacer"></div>
<div class="grid-pager-mobile" style="display: none;" data-bind="visible: HasResults">
    <button type="button" data-bind="click: Next, enable: Next.IsEnabled" disabled="disabled">@Html.TextRegion(TextRegionConstants.Next)</button>
    <button type="button" data-bind="click: Prev, enable: Prev.IsEnabled" disabled="disabled">@Html.TextRegion(TextRegionConstants.Prev)</button>
    <div>
        <span data-bind="text: PageText"></span>
    </div>
</div>
