﻿@using Microsoft.AspNet.Identity
<script type="text/javascript">
    window.VisitPayMobile = window.VisitPayMobile || {};
    window.VisitPayMobile.Models = window.VisitPayMobile.Models || {};
    window.VisitPayMobile.State = (function () {
        var obj = window.VisitPayMobile.State || {};
        obj.IsUserLoggedIn = '@User.Identity.IsAuthenticated' === 'True';
        obj.VpUserId = obj.IsUserLoggedIn ? '@User.Identity.GetUserId()' : '-1';
        return obj;
    })();
    VisitPayMobile.Urls = (function () {
        var obj = VisitPayMobile.Urls || {};
        obj.ResolvePayments = '@Url.Action("ArrangePayment", "Payment", new {PaymentOption = PaymentOptionEnum.Resubmit})';
        return obj;
    })();
    VisitPayMobile.ClientSettings = (function() {
        var obj = VisitPayMobile.ClientSettings || {};
        obj.CreditAgreementName = he.decode('@Html.TextRegion(ClientDto.CreditAgreementName)');
        return obj;
    })();

    window.VisitPay = window.VisitPay || {};
    window.VisitPay.Localization = window.VisitPay.Localization || {};
    $.extend(window.VisitPay.Localization, {
        RemovePaymentMethod: he.decode('@Html.TextRegion(TextRegionConstants.RemovePaymentMethod)'),
        RemovePaymentMethodPrompt: he.decode('@Html.TextRegion(TextRegionConstants.RemovePaymentMethodPrompt)')
    });

</script>

<script type="text/javascript">
    window.VisitPay.ChatSettings = window.VisitPay.ChatSettings || {};
    window.VisitPay.ChatCommon = window.VisitPay.ChatCommon || {};
</script>
@if (IsFeatureEnabled(VisitPayFeatureEnum.FeatureChatIsEnabled))
{
    @Html.Partial("~/Views/Shared/_ChatNamespaces.cshtml")
}