﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.VisitPay.Enums
@using Ivh.Common.VisitPay.Strings
@{
    Layout = null;
    ThemeStylesheet = "/theme-mobile.scss";
    string logoLink = User.IsInRole(VisitPayRoleStrings.System.Patient) ? Url.Action("Index", "Home") : Url.Action("Index", "Landing");
    bool isEmulation = HttpContext.Current.Items.Contains(ClaimTypeEnum.ClientUsername);
    bool chatEnabled = IsFeatureEnabled(VisitPayFeatureEnum.FeatureChatIsEnabled) && !isEmulation && Request.IsAuthenticated;
}
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ClientDto.ClientBrandName</title>
    <link rel="icon" href="/content/client/favicon.png" />
    <link href="@ThemeStylesheet?v=@ThemeStylesheetHash" rel="stylesheet" />
    @RenderSection("css", false)
    @if (chatEnabled)
    {
        @Styles.Render("~/bundles/css/chat")
    }
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <a href="@logoLink" title="@ClientDto.ClientBrandName"></a>
        </div>
        @RenderSection("Nav", false)
        <div class="container-fluid">
            @if (IsSectionDefined("Back") || IsSectionDefined("PageTitle"))
            {
                <div class="row" id="info">
                    @if (IsSectionDefined("Back"))
                    {
                        <span class="back">@RenderSection("Back", false)</span>
                    }
                    @if (IsSectionDefined("PageTitle"))
                    {
                        <h1>@RenderSection("PageTitle", false)</h1>
                    }
                </div>
            }
            <div id="content">
                @RenderBody()
            </div>

            @if (chatEnabled)
            {
                <div class="helpButtonGroup" id="helpButtonGroup">
                    <button id="chatButton" class="btn helpButton">
                        <i class="vpicon-message"></i>
                        @Html.TextRegion(TextRegionConstants.Chat)
                    </button>
                </div>
            }
        </div>
        <div id="footer">
            @if (!IsFeatureEnabled(VisitPayFeatureEnum.FeatureDebrandedUiIsEnabled))
            {
                if (ClientDto.FooterShowPaymentLogo)
                {
                    <div class="payment">
                        <img src="/Content/Images/trust-commerce.png" alt="" />
                    </div>
                }
                else
                {
                    <div class="logo"></div>
                }
                <div class="visitpay"></div>
                <a href="/mobile/Legal/" id="aLegal" title="@Html.TextRegion(TextRegionConstants.LegalAgreementsPageHeading)">@Html.TextRegion(TextRegionConstants.Legal)</a>
                <text>&nbsp; |&nbsp;</text>
            }
            <a href="/Home/SwitchTo?mode=desktop" title="@Html.TextRegion(TextRegionConstants.SwitchToFullSite)" id="aFullSite">@Html.TextRegion(TextRegionConstants.FullSite)</a>
            @if (this.User.Identity.IsAuthenticated)
            {
                @Html.Raw("&nbsp; |&nbsp; ")
                @Html.ActionLink(Html.TextRegion(TextRegionConstants.ContactUsPageHeading), "MySupportRequests", "Support", null, new { id = "aContactUs", title = Html.TextRegion(TextRegionConstants.ContactUsPageHeading), data_piwik_click = "", data_piwik_event_category = "HomePage", data_piwik_event_name = "Clicked Contact Us from Home page" })
            }
        </div>

        @* used for ajax in AddAntiForgeryToken() *@
        <form id="__AjaxAntiForgeryForm" action="#" method="post">@Html.AntiForgeryToken()</form>

        <script type="text/javascript">
            //Must define here since this is used across JS imports below
            window.VisitPayMobile = window.VisitPayMobile || {};
        </script>
        @RenderSection("bottom", false)
        @Scripts.Render("~/bundles/mobile/scripts/base")
        @Html.Partial("~/Views/Shared/_JavascriptNamespaces.cshtml")
        @Html.Partial("~/Areas/Mobile/Views/Shared/_JavascriptNamespaces.cshtml")
        @Scripts.Render("~/bundles/mobile/scripts/vpbase", "~/bundles/mobile/scripts/createsupportrequest")
        @RenderSection("scripts", false)
        @Html.Partial("_IdleTimer")

        @if (chatEnabled)
        {
            @Scripts.Render("~/bundles/mobile/scripts/chat")
        }
    </div>
    @Html.Partial("_Analytics")
</body>
</html>