﻿@using Ivh.Common.VisitPay.Constants
<div class="collapse navbar-collapse" id="navTop">
    <ul class="nav navbar-nav navbar-public">
        <li><a href="@Url.Action("Login", "Account")" title="@Html.TextRegion(TextRegionConstants.SignIn)"><span class="glyphicon glyphicon-lock"></span>@Html.TextRegion(TextRegionConstants.SignIn)</a></li>
        <li><a href="@Url.Action("Index", "Registration")" title="@Html.TextRegion(TextRegionConstants.SignUp)"><span class="glyphicon glyphicon-pencil"></span>@Html.TextRegion(TextRegionConstants.SignUp)</a></li>
        <li><a href="@Url.Action("LearnMore", "Account")" title="@Html.TextRegion(TextRegionConstants.LearnMorePageHeading)"><span class="glyphicon glyphicon-book"></span>@Html.TextRegion(TextRegionConstants.LearnMorePageHeading)</a></li>
        <li><a href="@Url.Action("Index", "Legal")" title="@Html.TextRegion(TextRegionConstants.LegalAgreementsPageHeading)"><span class="glyphicon glyphicon-hourglass"></span>@Html.TextRegion(TextRegionConstants.LegalAgreementsPageHeading)</a></li>
        <li><a href="@Url.Action("ContactUs", "Account")" title="@Html.TextRegion(TextRegionConstants.ContactUsPageHeading)"><span class="glyphicon glyphicon-earphone"></span>@Html.TextRegion(TextRegionConstants.ContactUsPageHeading)</a></li>
    </ul>
</div>
