﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.VisitPay.Strings

<div id="menu">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navTop">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="text">@Html.TextRegion(TextRegionConstants.Menu)</span>
                </button>
            </div>
            @if (User.IsInRole(VisitPayRoleStrings.System.Patient))
            {
                @Html.Partial("_NavPatient")
            }
            else
            {
                @Html.Partial("_NavPublic")
            }
        </div>
    </nav>
    <div class="text-center">
        @if (User.IsInRole(VisitPayRoleStrings.System.Patient))
        {
            <a href="@Url.Action("Index", "Home")" title="@Html.TextRegion(TextRegionConstants.HomePageHeading)">
                <em class="glyphicon glyphicon-home"></em>
                @Html.TextRegion(TextRegionConstants.HomePageHeading)
            </a>
            <a href="@Url.Action("ArrangePayment", "Payment")" title="@Html.TextRegion(TextRegionConstants.MakePaymentPageHeading)">
                <em class="glyphicon glyphicon-usd"></em>
                @Html.TextRegion(TextRegionConstants.MakePaymentPageHeading)
            </a>
            <a href="@Url.Action("MyPayments", "Payment")" title="@Html.TextRegion(TextRegionConstants.PaymentsPageHeading)">
                <em class="glyphicon glyphicon-transfer"></em>
                @Html.TextRegion(TextRegionConstants.PaymentsPageHeading)
            </a>
        }
        else
        {
            <h2>@ClientDto.ClientBrandName</h2>
        }
    </div>
</div>