﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.VisitPay.Enums


<div class="collapse navbar-collapse" id="navTop">
    <div class="text-center">
        @Html.CmsRegion(CmsRegionEnum.HeaderClientMessage)
    </div>
    <ul class="nav navbar-nav">
        @Html.Partial("_NavPatientMobileLocalizationDropdown")

        <li>
            <a href="@Url.Action("Index", "Home")" title="@Html.TextRegion(TextRegionConstants.HomePageHeading)" id="btnNavHome">
                <span class="glyphicon glyphicon-home"></span>@Html.TextRegion(TextRegionConstants.HomePageHeading)
            </a>
        </li>
        <li>
            <a href="@Url.Action("ArrangePayment", "Payment")" title="@Html.TextRegion(TextRegionConstants.MakePaymentPageHeading)" id="btnNavPay">
                <span class="glyphicon glyphicon-usd"></span>@Html.TextRegion(TextRegionConstants.MakePaymentPageHeading)
            </a>
        </li>
        <li>
            <a href="@Url.Action("MyPayments", "Payment")" title="@Html.TextRegion(TextRegionConstants.PaymentsPageHeading)" id="btnNavPayments">
                <span class="glyphicon glyphicon-transfer"></span>@Html.TextRegion(TextRegionConstants.PaymentsPageHeading)
            </a>
        </li>
        @if (IsFeatureEnabled(VisitPayFeatureEnum.PaymentSummary))
        {
            <li>
                <a href="@Url.Action("PaymentSummary", "Account")" title="@Html.TextRegion(TextRegionConstants.PaymentSummaryPageHeading)" id="btnNavPaymentSummary">
                    <span class="glyphicon glyphicon-list-alt"></span>@Html.TextRegion(TextRegionConstants.PaymentSummaryPageHeading)
                </a>
            </li>
        }
        <li>
            <a href="@Url.Action("Documents", "Account")" title="@Html.TextRegion(TextRegionConstants.StatementsPageHeading)" id="btnNavDocuments">
                <span class="vpicon-documents"></span>@Html.TextRegion(TextRegionConstants.StatementsPageHeading)
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Legal")" title="@Html.TextRegion(TextRegionConstants.LegalAgreementsPageHeading)" id="btnNavLegal">
                <span class="glyphicon glyphicon-hourglass"></span>@Html.TextRegion(TextRegionConstants.LegalAgreementsPageHeading)
            </a>
        </li>
        <li>
            <a href="@Url.Action("MySupportRequests", "Support")" title="@Html.TextRegion(TextRegionConstants.CustomerCarePageHeading)" id="btnNavSupport">
                <span class="glyphicon glyphicon-user"></span>@Html.TextRegion(TextRegionConstants.CustomerCarePageHeading)
            </a>
        </li>
        <li>
            <a href="@Url.Action("HelpCenter", "Home")" title="@Html.TextRegion(TextRegionConstants.HelpCenter)" id="btnNavHelp" data-piwik-click data-piwik-event-category="Help Center" data-piwik-event-name="Help center link from navigation menu">
                <span class="vpicon-question"></span>@Html.TextRegion(TextRegionConstants.HelpCenter)
            </a>
        </li>
        <li>
            <a href="@Url.Action("AccountSettings", "Account")" title="@Html.TextRegion(TextRegionConstants.MyAccountPageHeading)" id="btnNavCurrentUser">
                <span class="vpicon-gear"></span><span class="account-name">@CurrentUser.FirstName</span>
            </a>
        </li>
        <li class="logout">
            <a href="@Url.Action("Logoff", "Account")" title="@Html.TextRegion(TextRegionConstants.SignOutPageHeading)" id="btnNavSignout">
                <span class="glyphicon glyphicon-log-out"></span>@Html.TextRegion(TextRegionConstants.SignOutPageHeading)
            </a>
        </li>
    </ul>
</div>
