﻿@using System.Globalization
@using System.Threading
@using Ivh.Application.Settings.Common.Dtos

@{
    //This page is used within menu dropdown on Login page when on mobile
}

@if (ClientDto.LanguageAppSupported.Count() > 1)
{
    CultureInfo threadCulture = Thread.CurrentThread.CurrentUICulture;
    string selectedLocale = ClientDto.LanguageAppSupported.Single(x => x.Name == threadCulture.Name).NativeName;
    List<ClientCultureInfoDto> availableLocales = ClientDto.LanguageAppSupported.Where(x => selectedLocale != x.NativeName).ToList();
    <li id="localization-submenu" class="dropdown-submenu">
        <a id="mobile-localization-menu-open" href="#">
            <span class="glyphicon glyphicon-globe"></span>&nbsp;
            <span id="selected-locale">@selectedLocale</span>
            <span class="pull-right"><i class="caret"></i></span>
        </a>
        <ul class="dropdown-menu">
            @foreach (ClientCultureInfoDto locale in availableLocales)
            {
                <li>
                    <a class="localization-option" href="#" data-locale="@locale.Name" data-locale-display="@locale.NativeName">@locale.NativeName</a>
                </li>
            }
        </ul>
    </li>
}