﻿@import '../_variables.scss';

.offline-communication-preferences {
    border: 2px solid $vp-gray-lighter;
    padding: 30px;
    position: relative;

    .visits-grid {
        width: 100%;

        colgroup {
            col {
                &:nth-of-type(1) {
                    width: 5%;
                }

                &:nth-of-type(2) {
                    width: 20%;
                }

                &:nth-of-type(3) {
                    width: 35%;
                }

                &:nth-of-type(4) {
                    width: 10%;
                }

                &:nth-of-type(5) {
                    width: 20%;
                }

                &:nth-of-type(6) {
                    width: 10%;
                }
            }
        }
    }
}

.talk-off-content {
    background: $brand-primary;
    color: $vp-primary-text;
    position: relative;
    margin-bottom: 15px;
    padding: 7px 20px;

    .talking-points {
        margin-bottom: 0;
        padding-left: 15px;

        > li {
            font-size: $font-size-h4;

            &:not(:first-of-type) {
                .talking-point-content {
                    display: none;
                }
            }
        }
    }

    .talking-point {
        padding-bottom: 5px;

        h4 {
            cursor: pointer;
        }
    }

    .talking-point-content {
        font-size: $font-size-base;
        padding-bottom: 15px;
    }

    .action {
        color: #ffffff;
        height: 16px;
        position: absolute;
        right: 16px;
        top: 16px;
        width: 16px;

        &:after {
            content: '\e259'; // chevron down
            font-family: 'Glyphicons Halflings';
            font-style: normal;
            font-size: 16px;
            line-height: 16px;
            margin-top: -8px;
            position: absolute;
            right: 0;
            top: 50%;
        }
    }

    &.expanded {
        .header {
            display: none;
        }
    }

    &:not(.expanded) {
        .action {
            &:after {
                content: '\e258'; // chevron right
                font-size: 15px;
            }
        }

        .header {
            cursor: pointer;
            display: block;
        }

        .talking-points {
            display: none;
        }
    }
}

#modalSendToken, #modalMailingAddressConfirm {

    .description {
        margin: auto;
        position: relative;
        width: 350px;
    }

    .form-body {
        margin: 15px auto;
        position: relative;
        width: 350px;
    }

    .checkbox-styled {
        label {
            font-size: 11px !important;
        }
    }
}

#modalSendToken {
    #PhoneNumber {
        width: 135px;
    }
}

#modalMailingAddressConfirm {
    
    .errors {
        ul {
            padding-left: 0;
            list-style-position: inside;
        }
    }
}
