﻿@import '_variables.scss';

section.faqs {
    h2, h3 {
        font-size: 18px;
        font-weight: 600;
        margin-top: 0;
        text-align: center;
    }

    ul.faq-accordion {
        li {
            a:not(.title) {
                word-break: break-all;
            }
        }
    }
}

ul.faq-accordion {
    list-style: none;
    margin-left: 0;
    margin-right: 0;
    padding: 0;

    li {
        -webkit-box-shadow: none;
        border: 0;
        border-radius: 0;
        box-shadow: none;
        margin: 0;
        padding: 5px 0 5px 0;
        position: relative;
    }

    > li {
        text-transform: uppercase;

        > ul {
            list-style: none;
            margin: 0 0 0 0;
            padding: 0;

            > li {
                text-transform: none;

                > ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;

                    > li {
                        padding: 20px 0 10px 0;
                    }
                }
            }
        }
    }

    a.title {
        background: $vp-gray-lightest;
        border: 1px solid $vp-gray-light;
        cursor: pointer;
        display: block;
        font-size: 15px;
        font-weight: bold;
        line-height: 21px;
        outline: none !important;
        padding: 5px 5px 5px 38px;
        position: relative;
        text-decoration: none;

        &:before {
            content: '\e114';
            font-family: 'Glyphicons Halflings';
            position: absolute;
            left: 10px;
            top: 6px;
        }

        &.collapsed {
            font-weight: normal !important;

            &:before {
                content: '\e080';
                top: 5px;
            }
        }
    }

    ul.list-styled {
        list-style-type: disc;
        padding-left: 40px;

        > li {
            padding: 5px 0 5px 0;
        }
    }
}
