﻿@import '_variables.scss';
@import '../../../../Content/Bootstrap/css/bootstrap/_mixins.scss';

.btn-75 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    min-width: 75%;
}

.btn-50 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    min-width: 50%;
}

.btn-primary {
    background: $btn-primary-bg;
    //box-shadow: 1px 3px 7px rgba(0, 0, 0, .4);
    border-color: $btn-primary-bg;
    color: $btn-primary-color;
    font-size: 22px;
    font-weight: 700;
    max-width: 320px;
    text-decoration: none;
    //text-shadow: 1px 1px 3px rgba(0, 0, 0, .7);

    &:hover, &.hover, &:focus, &.focus, &:active, &.active {
        color: $btn-primary-color;
        background: $client-button-primary-bg-hover !important;
        border-color: $client-button-primary-bg-hover !important;
    }

    &:disabled {
        background: $vp-button-disabled-bg !important;
        border-color: $vp-gray-dark !important;
    }
}

.btn-default {
    &:not(.btn-vp-toggle):not(.toggle-handle) {
        border: none;
        font-size: 18px;
        font-weight: normal;
        margin-right: 5px;
        padding-right: 36px;
        position: relative;
        text-decoration: none;

        &:after {
            bottom: 0;
            color: $vp-gray-light;
            content: '\e258';
            font-family: 'Glyphicons Halflings';
            font-size: 24px;
            right: 0;
            position: absolute;
            top: 2px;
        }

        &:hover, &.hover, &:focus, &.focus, &:active, &.active {
            background: none;
            box-shadow: none;
            outline: none;
            color: $text-color;

            &:after {
                color: $text-color;
            }
        }
    }

    &.btn-default {
        &.btn-outline {
            background: transparent;
            border: 1px solid $vp-gray-light;
            color: $text-color;
            font-size: $font-size-base;
            padding-right: 12px;

            &:after {
                content: '';
                display: none;
            }

            &:hover {
                background: $client-button-primary-bg-hover;
                border-color: $client-button-primary-bg-hover;
                color: $btn-primary-color;
            }
        }
    }
}

.btn-toggle {
    background: #ffffff;
    box-shadow: none;
    border-color: $vp-gray-light;
    max-width: 320px;
    text-decoration: none;
    text-shadow: none;

    &:hover, &.hover, &:focus, &.focus, &:active, &.active {
        color: #fff;
        background: $btn-primary-bg;
        border-color: $btn-primary-bg;
    }
}

.btn-grid-link {
    @include text-overflow();
    background: none;
    border: 1px solid $vp-gray-light;
    display: block !important;
    font-size: 14px;
    height: 60px;
    padding: 4px 24px 4px 8px;
    position: relative;
    text-align: left;
    text-decoration: none;
    width: 100%;

    &:after {
        bottom: 0;
        color: $vp-gray-light;
        content: '\e258';
        font-family: 'Glyphicons Halflings';
        font-size: 24px;
        line-height: 60px;
        right: 4px;
        position: absolute;
        top: 0;
    }

    &:hover, &.hover, &:focus, &.focus, &:active, &.active {
        background: none;
        box-shadow: none;
        outline: none;
        color: $text-color;

        &:after {
            color: $text-color;
        }
    }

    &:disabled {
        color: $vp-gray-medium;

        &:after {
            color: $vp-gray-lighter;
        }
    }
}

.btn-grid-link + .btn-grid-link {
    border-top: 0;
}

.btn-small {
    font-size: 18px;
    line-height: 20px;
}

.btn-smaller {
    font-size: 15px;
    line-height: 20px;

    &.btn-default {
        &:after {
            top: 6px;
        }
    }
}

.btn-icon {
    background: none;
    border: none;
    color: $btn-primary-bg;
    margin: 0;
    padding: 0;

    &:hover, &.hover, &:focus, &.focus, &:active, &.active {
        box-shadow: none;
        color: $client-link-hover-color;
    }

    &:disabled {
        color: $vp-gray-medium !important;
        cursor: default;
    }
}
