﻿@import '_variables.scss';

$chat-border-radius: 4px;

//Override bottom position on help button group for mobile footer
.helpButtonGroup {
    bottom: $vp-footer-height + 4px;
}

#chatModal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}


.chat-modal-dialog {
    position: fixed;
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
}

.chat-modal-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 0;
}

.chat-modal-header {
    background-color: $client-accent !important;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 50px;
    padding: 10px;
    border: 0;
}

.chat-modal-title {
    line-height: 30px;
}

.chat-dismiss-button {
    opacity: 1 !important;
    padding-top: 5px !important;
}

.chat-modal-body {
    position: absolute;
    top: 50px;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    padding: 0;
}

.chat-iframe {
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 0;
    display: block;
    border-radius: 0 0 $chat-border-radius $chat-border-radius;
}

.chat-iframe-hidden {
    visibility: hidden;
    height: 0;
    width: 0;
}

.chat-iframe-overlay {
    border: 5px solid white;
    width: 100%;
    height: 100%;

    #need-help-now {
        display: none; //Start hidden
        padding-top: 40px;

        > span {
            margin-bottom: 5px;
            font-style: italic;
        }
    }
}