﻿@import '_variables.scss';
@import '../../../../Content/Bootstrap/css/bootstrap/_mixins.scss';

.grid > div, .grid-labels > label {
    border: 1px solid $vp-gray-light;
    clear: both;
    display: block;
    padding: 4px 4px 4px 8px;
    font-size: 13px;
    font-weight: normal;
    line-height: 24px;

    &:not(:last-of-type) {
        border-bottom: 0;
    }

    &.disabled {
        color: $vp-gray-light;
        cursor: not-allowed;

        a {
            color: $vp-gray-lighter !important;

            &:hover, &:active, &:focus {
                color: $vp-gray-lighter !important;
            }
        }

        &:hover, &:active, &:focus {
            color: $vp-gray-light !important;
        }
    }

    &:active {
        color: $text-color;

        a.grid-link {
            color: $text-color;

            &:after {
                color: $text-color;
            }
        }
    }

    > div {
        height: 24px;

        &.height2 {
            height: 48px;
        }

        &.line2 {
            line-height: 48px;
        }

        &.height3 {
            height: 72px;
        }

        &.line3 {
            line-height: 72px;
        }

        > div {
            @include text-overflow();
        }
    }

    a.grid-link {
        color: $vp-gray-light;
        display: block;
        font-size: 24px;
        height: 32px;
        line-height: 24px;
        position: relative;
        width: 28px;

        &:after {
            bottom: 0;
            content: '\e258';
            font-family: 'Glyphicons Halflings';
            right: 0;
            position: absolute;
            top: 0;
        }

        &.height2 {
            height: 48px;
            line-height: 48px;
        }

        &.height3 {
            height: 72px;
            line-height: 72px;
        }

        &.height4 {
            height: 96px;
            line-height: 96px;
        }

        &.height5 {
            height: 120px;
            line-height: 120px;
        }
    }

    &.selected {
        background: $vp-gray-lightest !important;
    }
}

.grid-labels > label {
    margin-bottom: 0 !important;
}

.grid-pager-mobile {
    background: $vp-gray-light;
    bottom: $vp-footer-height;
    font-weight: 600;
    height: 42px;
    left: 0;
    line-height: 42px;
    position: absolute;
    right: 0;

    > button {
        background: $vp-gray-medium;
        border: 0;
        color: #ffffff;
        text-transform: uppercase;

        &:after {
            font-family: 'Glyphicons Halflings';
            font-size: 16px;
            position: absolute;
            top: 1px;
        }

        &:hover, &:active {
            background: $text-color;
        }

        &:first-of-type {
            float: right;
            padding: 0 30px 0 15px;

            &:after {
                content: '\e258';
                right: 10px;
            }
        }

        &:last-of-type {
            float: left;
            padding: 0 15px 0 30px;

            &:after {
                content: '\e257';
                left: 10px;
            }
        }

        &:disabled {
            visibility: hidden;
        }
    }

    > div {
        text-align: center;
    }

    &:after {
        clear: both;
        content: '';
        display: table;
    }
}

.grid-pager-spacer {
    height: 32px;
    position: relative;
}

.table-grid {
    font-size: 13px;
    max-width: 100%;
    table-layout: fixed;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    width: 100%;

    .hidden {
        display: none;
    }

    td {
        @include text-overflow();
        line-height: 28px;
        padding: 4px;
    }

    > thead {
        tr {
            border-bottom: 2px solid $brand-primary;
        }

        td {
            font-weight: bold;
            white-space: nowrap;
        }
    }

    > tbody {
        tr {
            border-bottom: 1px solid $vp-gray-light;

            &:last-of-type {
                border-bottom: 0px solid $vp-gray-light;
            }
        }

        table.eob-amount-table {
            max-width: 55%;
            table-layout: fixed;
            width: 55%;
        }

        tr.no-bottom-border {
            border-bottom: 0px solid $vp-gray-light;
        }

        td.allow-wrap {
            line-height: 18px;
            padding: 4px;
            padding-bottom: 8px;
            word-wrap: normal;
            white-space: normal;
            overflow: auto;
        }

        td.eob-amount {
            float: right;
            line-height: 11px;
        }

        td.eob-amount-description {
            float: left;
            line-height: 11px;
            padding-left: 0px;
        }

        td.vertical-center {
            vertical-align: middle;
            line-height: 22px;

            .btn-default {
                &:after {
                    position: relative;
                }
            }
        }
        //used only to indicate that click event should not trigger "$(document).on('click', '.detail-grid .detail'..." in layout.js
        td.no-expanded {
        }

        td.btn-grid-link {
            border: none;
            font-size: 18px;
            font-weight: normal;
            margin-right: 5px;
            padding-right: 36px;
            position: relative;
            text-decoration: none;

            &:after {
                bottom: 0;
                color: $vp-gray-light;
                content: '\e258';
                font-family: 'Glyphicons Halflings';
                font-size: 24px;
                right: 0;
                position: absolute;
                top: 2px;
            }

            &:hover, &.hover, &:focus, &.focus, &:active, &.active {
                background: none;
                box-shadow: none;
                outline: none;
                color: $text-color;

                &:after {
                    color: $text-color;
                }
            }
        }
    }
}

.detail-grid {

    .detail {
        border: 1px solid $vp-gray-light;
        height: auto;
        margin-bottom: 7px;
        min-height: 40px;
        padding: 0 9px 0 9px;
        position: relative;

        &:after {
            color: $vp-gray-light !important;
            content: '\2b';
            font-family: 'Glyphicons Halflings';
            font-size: 20px;
            line-height: 36px;
            position: absolute;
            right: 7px;
            top: 0;
        }

        &.detail2:after {
            top: 5px;
        }

        > strong {
            display: block;
            line-height: 38px;
        }

        > span {
            display: block;
            font-size: 13px;
            line-height: 24px;
            padding-right: 40px;
        }

        &.expanded {
            &:after {
                content: '\2212';
            }

            > div {
                display: block;
            }
        }

        > div {
            display: none;
            padding-bottom: 9px;

            p {
                line-height: normal;
            }

            .grid {
                > div {
                    border-left: 0;
                    border-right: 0;
                    padding-left: 0;

                    &:last-of-type {
                        border-bottom: 0;
                    }
                }
            }

            .total {
                border-top: 2px solid $text-color;
            }
        }
    }
}

@import '../../../../Content/Css/_grids.scss';
