﻿@import '_variables.scss';
@import '../../../../Content/Bootstrap/css/bootstrap/_mixins.scss';

#header {
    background: #ffffff;
    height: $brand-height;
    position: relative;

    > a {
        background-image: $client-logo-path;
        background-position: left center;
        background-repeat: no-repeat;
        background-size: contain;
        bottom: 5px;
        left: 5px;
        position: absolute;
        top: 5px;
        width: $client-logo-width;
    }
}

#mobile-localization-menu {
    padding-top: 10px !important;
}

#container-nav {
    position: relative;
    z-index: 50;

    #menu {
        background: $navbar-default-bg;
        height: $navbar-height;
        line-height: $navbar-height;
        margin: 0 -15px 0 -15px;

        nav.navbar {
            border: 0;
            float: left;
            margin-bottom: 0;
            min-width: $navbar-height;
            position: relative;
            z-index: 10;

            > div.container-fluid {
                padding: 0;

                > div.navbar-header {
                    height: $navbar-height;
                    position: relative;

                    button.navbar-toggle {
                        border-width: 0;
                        height: $navbar-height;
                        margin: 0;
                        padding: 4px 0 0 0;
                        width: $navbar-height;

                        span.icon-bar {
                            background: #ffffff;
                            border-radius: 0;
                            height: 2px;
                            margin-left: auto;
                            margin-right: auto;
                            position: relative;
                            width: 18px;
                        }

                        span.text {
                            color: #ffffff;
                            display: block;
                            font-size: 11px;
                            font-weight: 600;
                            line-height: 12px;
                            margin: 3px 0 0 0;
                            text-align: center;
                            text-transform: uppercase;
                        }
                    }
                }

                > div.navbar-collapse {
                    background: #ffffff;
                    border-color: $vp-gray-lighter;
                    border-style: solid;
                    border-width: 1px 1px 1px 0;
                    box-shadow: 1px 1px 10px 2px rgba(0,0,0,.25);
                    left: 0;
                    margin: 0;
                    min-width: 260px;
                    padding: 0;
                    position: absolute;
                    top: $navbar-height;
                    white-space: nowrap;

                    > div {
                        line-height: 20px;
                        padding: 15px;

                        &.current-user {
                            @include text-overflow();
                            max-width: 310px;
                        }
                    }

                    > ul.navbar-nav {
                        border-color: $vp-gray-light;
                        border-style: solid;
                        border-width: 2px 0 0 0;
                        margin: 0 15px 0 15px;

                        &.navbar-public {
                            border: 0;
                            padding: 7px 0 7px 0;
                        }

                        > li {
                            &:first-of-type {
                                padding-top: 0;
                            }

                            a {
                                color: $vp-gray-dark;
                                line-height: 34px;
                                padding: 0 0 0 0;
                                text-decoration: none;

                                .glyphicon, [class^="vpicon-"] {
                                    color: $vp-gray-light;
                                    float: left;
                                    font-size: 18px;
                                    margin: 8px 16px 0 0;
                                    text-decoration: none;
                                }

                                [class^="vpicon-"] {
                                    color: $vp-gray-dark;
                                }

                                &:hover, &:active, &:focus {
                                    background: transparent;
                                    color: $dropdown-link-hover-color;
                                }
                            }
                        }
                    }
                }
            }
        }

        > div {
            position: relative;
            z-index: 9;

            h2 {
                color: #ffffff;
                font-size: 18px;
                font-weight: bold;
                left: 0;
                line-height: $navbar-height;
                margin: 0;
                position: absolute;
                right: 0;
                text-align: center;
                top: 0;
            }

            a {
                color: $navbar-default-link-color;
                display: inline-block;
                font-weight: 600;
                line-height: $navbar-height;
                margin: 0 7px 0 7px;
                padding: 0 4px 0 28px;
                position: relative;
                text-decoration: none;
                z-index: 9;

                &:hover, &:active {
                    background: $navbar-default-link-active-bg;
                }

                > em {
                    font-size: 18px;
                    left: 5px;
                    position: absolute;
                    top: 12px;
                }
            }
        }
    }
}

#info.row {
    background: $vp-gray-medium;
    border-color: darken($vp-gray-medium, 9%);
    border-style: solid;
    border-width: 0 0 1px 0;
    position: relative;
    z-index: 9;

    h1 {
        color: #ffffff;
        font-size: 19px;
        font-weight: 700;
        line-height: 34px;
        margin: 0;
        position: relative;
        text-align: center;
        z-index: 1;
    }

    span.back {
        > a {
            bottom: 0;
            color: #ffffff;
            font-size: 22px;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 2;

            > em {
                left: 10px;
                position: absolute;
                top: 7px;
            }

            &:active, &:hover {
                background: rgba(0,0,0,.1);
                color: $vp-gray-lighter;
            }
        }
    }

    button {
        background: $vp-gray-dark;
        bottom: -1px;
        color: #ffffff;
        font-size: 18px;
        padding-left: 15px;
        padding-right: 15px;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 3;

        &:hover, &:active {
            background: darken($vp-gray-dark, 20%);
        }
    }
}
