﻿@import '_variables.scss';

@mixin disabled($bg, $color) {
    &.disabled,
    &.disabled.active,
    &.disabled:active,
    &.disabled.focus,
    &.disabled:focus,
    &.disabled:hover,
    &[disabled],
    &[disabled].active,
    &[disabled]:active,
    &[disabled].focus,
    &[disabled]:focus,
    &[disabled]:hover,
    &.focus[disabled],
    &.active[disabled] {
        background-color: $bg !important;
        color: $color !important;
    }
}

@mixin glyphicon($content) {
    content: $content;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
}

@mixin overlay-title() {
    background: $vp-gray-medium;
    border-color: darken($vp-gray-medium, 9%);
    border-style: solid;
    border-width: 1px 0 1px 0;
    display: block;
    height: 36px;
    position: relative;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    line-height: 34px;
    margin: 0;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    z-index: 1;
}