﻿@import '_variables.scss';
@import '_mixins.scss';

.modal-backdrop {
    background: $modal-backdrop-bg;
    opacity: $modal-backdrop-opacity;
}

.modal {
    > .modal-dialog {
        > .modal-content {
            border-radius: 0;

            > .modal-header {
                background: $brand-primary;
                color: #ffffff;

                .close {
                    color: #ffffff;
                    font-size: 21px;
                    opacity: 0.2;
                    margin: 0;

                    &:hover, &:active, &:focus {
                        opacity: 1;
                    }
                }
            }

            > .modal-body {
            }

            > .modal-footer {
                .btn {
                    font-size: 18px;
                }

                &.text-center {
                    text-align: center !important;

                    .btn + .btn {
                        margin-left: 12px;
                    }
                }
            }
        }
    }
}

.modal-mobile {

    .modal-sm, .modal-md, .modal-lg {
        width: 100% !important;
    }

    .modal-dialog {
        min-height: 100%;
        background: #ffffff;
        margin: 0;


        .modal-content {
            border: 0 !important;
            box-shadow: none !important;

            .modal-header {
                @include overlay-title();
                padding: 0;
                position: relative;

                > h4 {
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 34px;
                }

                .close {
                    bottom: 0;
                    float: none;
                    left: 0;
                    opacity: 1;
                    position: absolute;
                    right: 0;
                    text-shadow: none;
                    top: 0;
                    width: 100%;

                    > span {
                        display: none;
                    }

                    &:after {
                        bottom: 0;
                        color: #ffffff;
                        content: '\e079';
                        font-family: 'Glyphicons Halflings';
                        font-size: 22px;
                        line-height: 22px;
                        left: 15px;
                        position: absolute;
                        top: 5px;
                    }
                }
            }
        }
    }
}
