﻿@import '_variables.scss';
@import '_mixins.scss';

.overlay {
    background: #ffffff;
    min-height: 100%;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
    width: 0;

    &.overlay-menu-visible {
        top: 86px;
        z-index: 49;
    }

    &.slide-in {
        left: auto;
        right: 0;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        width: 100%;
    }

    &.slide-out {
        left: auto;
        right: 0;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        width: 0;
    }

    span.title {
        @include overlay-title();
    }

    a.back {
        @include overlay-title();

        &:after {
            bottom: 0;
            color: #ffffff;
            content: '\e079';
            font-family: 'Glyphicons Halflings';
            font-size: 22px;
            line-height: 22px;
            left: 15px;
            position: absolute;
            top: 5px;
        }

        &:active, &:hover {
            color: $vp-gray-lighter;
        }
    }
    //prevent the title and back arrow from overlapping
    @media (max-width: 330px) {
        a.back {
            &.long-title {
                padding-left: 20px;
            }
        }
    }

    &.modern-overlay {
        top: $brand-height;
        width: 100%;
        padding: 20px;

        .close {
            position: absolute;
            top: 5px;
            right: 10px;
            color: $brand-primary;
            opacity: 1;
            font-size: 28px;
        }

        .modern-overlay-confirm {
            padding-top: 30px;
        }
    }
}
