﻿@import '_variables.scss';
@import '../../../../Content/Bootstrap/css/bootstrap/_mixins.scss';

#table-user-profile {
    table-layout: fixed;

    colgroup {
        col {
            &:nth-of-type(1) {
                width: auto;
            }
            &:nth-of-type(2) {
                width: 80px;
            }
        }
    }

    td {
        border: 0 !important;

        > span {
            display: block;
            @include text-overflow();
        }

        > a {
            white-space: nowrap;

            > em {
                margin-left: 5px;
                margin-top: 2px;
            }
        }
    }

    td:nth-child(1) {
        -ms-word-break: break-all;
        word-break: break-all;
        -ms-word-wrap: break-word;
        word-wrap: break-word;
    }

    tr {
        border: 1px solid $vp-gray-light;
    }

    tr:nth-child(even) {
        td {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}

#section-learnMore {
    ul > li:last-child > ul > li {
        h3 {
            display: none;
        }

        > ul {
            list-style-type: none;

            > li {
                font-weight: bold;

                > ul {
                    padding-left: 0;

                    > li {
                        font-weight: normal !important;
                        margin-top: 5px;

                        ul {
                            list-style-type: disc;
                            padding-left: 25px;

                            li {
                                padding-top: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

#section-terms, #section-credit-agreement {
    text-align: justify;

    h2, h3 {
        font-size: 14px;
        font-weight: bold;
    }

    .btn {
        white-space: normal;
        word-wrap: break-word;
    }
}

.termsContainer {
    border: 1px solid $vp-gray-light;
    height: 350px;
    overflow-y: scroll;
    padding: 10px;
    text-align: justify;
}

@import '../../../../Content/Css/Legal/_tila.scss';
.tila-container {
    overflow-x: scroll;
    table {
        min-width: 480px;
    }
}