﻿@import '_variables.scss';

.client-survey {
    border: 1px solid $vp-gray-light;
    margin-top: 15px;
    padding: 15px 0 15px 0;

    div.button {
        > .btn {
            min-width: 60%;
        }
    }
}
