﻿/* !default required to enable override */

$__placeholder:                         yellow;

/* these come from client settings */

$client-primary:                        $__placeholder !default;
$client-accent:                         $__placeholder !default;
$client-button-primary-bg:              $__placeholder !default;
$client-button-primary-bg-hover:        $__placeholder !default;
$client-button-payment-bg:              $__placeholder !default;
$client-button-payment-bg-hover:        $__placeholder !default;
$client-link-color:                     $__placeholder !default;
$client-link-hover-color:               $__placeholder !default;
$client-logo-path:                      '' !default;
$client-logo-width:                     0px !default;
$client-payment-icon-bg:                $__placeholder !default; // new
$client-payment-icon-bg-darker:         darken($client-payment-icon-bg, 7%);
$client-login-box-bg:                   #092c74 !default; //default same as $vp-dark-blue
$client-login-box-bg-darker:            darken($client-login-box-bg, 7%) !default;
$client-login-box-bg-lighter:           lighten($client-login-box-bg, 60%) !default;

/* not client specific */

$vp-button-disabled-bg:                 #cccccc;
$vp-button-disabled-text:               #ffffff;
$vp-dark-blue:                          #092c74;
$vp-darker-blue:                        darken($vp-dark-blue, 7%);
$vp-footer-height:                      64px;
$vp-gray-dark:                          #767676;
$vp-gray-light:                         #cccccc;
$vp-gray-lighter:                       #eeeeee;
$vp-gray-lightest:                      #f4f4f4;
$vp-gray-medium:                        #bfbfbf;
$vp-light-blue:                         lighten($vp-dark-blue, 60%);
$vp-primary-text:                       #ffffff;
$vp-state-green:                        #548235;

/* bootstrap overrides */

$text-color:                            #333333;
$border-radius-base:                    0;
$brand-height:                          44px; // this is the header height
$brand-primary:                         $client-primary;
$btn-font-weight:                       normal;
$btn-border-radius-base:                0;
$btn-border-radius-large:               0;
$btn-border-radius-small:               0;
$btn-default-color:                     #aaaaaa;
$btn-default-bg:                        rgba(0,0,0,0);
$btn-primary-color:                     #ffffff;
$btn-primary-bg:                        $client-button-primary-bg;
$component-active-bg:                   $client-primary;
$dropdown-bg:                           #ffffff;
$dropdown-border:                       #999999;
$dropdown-fallback-border:              #999999;
$dropdown-link-color:                   $text-color;
$dropdown-link-hover-bg:                $vp-gray-lightest;
$dropdown-link-hover-color:             $text-color;
$font-family-base:                      SourceSansPro, Helvetica, Arial, sans-serif;
$font-family-alt:                       Raleway, $font-family-base;
$font-size-base:                        14px;
$font-size-small:                       13px;
$font-size-smaller:                     12px;
$form-group-margin-bottom:              15px;
$headings-font-weight:                  normal;
$icon-font-path:                        '/Content/Bootstrap/fonts/' !default;
$input-bg-disabled:                     #eeeeee;
$input-border:                          #999999;
$input-border-focus:                    $vp-gray-dark;
$input-border-radius:                   0;
$link-color:                            $client-link-color;
$link-hover-color:                      $client-link-hover-color;
$modal-backdrop-bg:                     #ffffff;
$modal-backdrop-opacity:                .85;
$navbar-border-radius:                  0;
$navbar-default-bg:                     $brand-primary;
$navbar-default-link-color:             $vp-primary-text;
$navbar-default-link-active-bg:         darken($client-primary,5%);
$navbar-default-link-active-color:      $vp-primary-text;
$navbar-default-link-hover-bg:          darken($client-primary,5%);
$navbar-default-link-hover-color:       $vp-primary-text;
$navbar-default-toggle-hover-bg:        darken($client-primary,5%);
$navbar-height:                         42px;
$navbar-margin-bottom:                  0;
$navbar-padding-horizontal:             0;
$navbar-padding-vertical:               0;
$state-danger-text:                     #ff0000;
$state-danger-text-darker:              #b61827;
$state-info-bg:                         $vp-gray-lightest;
$state-info-border:                     $vp-gray-lighter;
$state-info-text:                       $text-color;