﻿@using Ivh.Common.VisitPay.Constants
@model Ivh.Web.Patient.Models.Consolidate.MatchRequestViewModel

@using (Html.BeginForm("ConsolidateMatch", "Consolidate", FormMethod.Post, new { autocomplete = "off", id = "frmConsolidateMatch" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.MatchRequestType)
    <div class="modern-form">
        <div class="row">
            <div class="col-xs-12">
                @Html.VpLabelFor(m => m.FirstName)
                @Html.VpTextBoxFor(m => m.FirstName, new { maxlength = 50 })
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                @Html.VpLabelFor(m => m.LastName)
                @Html.VpTextBoxFor(m => m.LastName, new { maxlength = 50 })
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                @Html.VpLabelFor(m => m.BirthYear)
                @Html.VpTextBoxFor(m => m.BirthYear, new { maxlength = 4 })
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                @Html.VpLabelFor(m => m.EmailAddress)
                @Html.VpTextBoxFor(m => m.EmailAddress)
            </div>
        </div>
    </div>
    <div class="row text-center">
        <button type="submit" title="@Html.TextRegion(TextRegionConstants.AcceptConsolidationTermsAndSendRequest)" class="btn btn-primary">@Html.TextRegion(TextRegionConstants.AcceptConsolidationTermsAndSendRequest)</button>
        <br/><br/>
        <a href="@Url.Action("ManageHousehold")" title="@Html.TextRegion(TextRegionConstants.ReturnToManageHousehold)" class="btn btn-primary">@Html.TextRegion(TextRegionConstants.ReturnToManageHousehold)</a>
    </div>
}