﻿@using Ivh.Common.Web.Models.Consolidate
@model Ivh.Web.Patient.Models.Consolidate.ManageHouseholdViewModel

<section id="section-household-managed">
    @Html.VpPageHeading(Html.TextRegion(TextRegionConstants.MembersWhoManageMyAccount))
    @if (Model.CanRequestToBeManaged)
    {
        <div class="row" style="margin-bottom: 9px;">
            <div class="col-xs-12 text-right">
                <a href="@Url.Action("RequestToBeManaged")" class="btn btn-primary" title="@Html.TextRegion(TextRegionConstants.RequestToBeManaged)">@Html.TextRegion(TextRegionConstants.RequestToBeManaged)</a>
            </div>
        </div>
    }
    @if (Model.ManagingGuarantors.Any())
    {
        <table class="static-grid">
            <colgroup>
                <col style="width: 12%" />
                <col style="width: 7%" />
                <col style="width: 10%" />
                <col style="width: 10%" />
                <col style="width: 11%" />
                <col style="width: 15%" />
                <col style="width: 10%" />
            </colgroup>
            <thead>
            <tr>
                <td>@Html.TextRegion(TextRegionConstants.Name)</td>
                <td>@Html.TextRegion(TextRegionConstants.Status)</td>
                <td style="line-height: 20px;">@Html.TextRegion(TextRegionConstants.ManagingUser)<br />@Html.TextRegion(TextRegionConstants.Accepted)</td>
                <td style="line-height: 20px;">@Html.TextRegion(TextRegionConstants.ManagedUser)<br />@Html.TextRegion(TextRegionConstants.Accepted)</td>
                <td style="line-height: 20px;">@Html.TextRegion(TextRegionConstants.FinancePlan)<br />@Html.TextRegion(TextRegionConstants.TermsAccepted)</td>
                <td style="line-height: 20px;">@Html.TextRegion(TextRegionConstants.CancelledBy)</td>
                <td>@Html.TextRegion(TextRegionConstants.TakeAction)</td>
            </tr>
            </thead>
            <tbody>
                @foreach (ConsolidationGuarantorViewModel guarantor in Model.ManagingGuarantors)
                {
                    string cancelledBy = (@guarantor.CancelledByUserName.Length>0)?string.Format("{0} ({1})", @guarantor.CancelledByUserName, @guarantor.CancelledOn):"";
                    <tr>
                        <td>
                            @Html.Hidden("ConsolidationGuarantorId", guarantor.ConsolidationGuarantorId)
                            @guarantor.ManagingGuarantorName
                        </td>
                        <td>@guarantor.ConsolidationGuarantorStatus</td>
                        <td class="text-center">@guarantor.DateAcceptedByManagingGuarantor</td>
                        <td class="text-center">@guarantor.DateAcceptedByManagedGuarantor</td>
                        <td class="text-center">@guarantor.DateAcceptedFinancePlanTermsByManagingGuarantor</td>
                        <td>@cancelledBy</td>
                        <td class="text-center">
                            @(guarantor.ActionOptions.Any() ? Html.DropDownList("ManagedActionOptions", guarantor.ActionOptions, Html.TextRegion(TextRegionConstants.DropdownSelectPlaceholder), new { @class = "form-control", autocomplete = "off" }) : Html.Raw(Html.TextRegion(TextRegionConstants.NotApplicableAbbreviated)))
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-light">
            @Html.TextRegion(TextRegionConstants.NotManagingAnotherMessage)
        </div>
    }
</section>
