﻿@using Ivh.Common.VisitPay.Constants
@model string

@{
    bool isMobile = Request.RawUrl.ToUpper().StartsWith("/Mobile".ToUpper());
    string manageAccountUrl = Url.Action("ManageHousehold", "Consolidate");

    if (isMobile)
    {
        manageAccountUrl = "/mobile" + manageAccountUrl;
    }
}

@if (!string.IsNullOrEmpty(Model))
{
    <span class="managed-by">@Html.TextRegion(TextRegionConstants.YourAccountIsBeingManagedBy): <a href="@manageAccountUrl">@Model</a></span>
}