﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.VisitPay.Enums
@using Ivh.Common.Web.Models.Consolidate
@model Ivh.Web.Patient.Models.Consolidate.AcceptTermsFpViewModel

<section id="section-accept-terms-consolidation" class="payment-methods-consolidation">
    <p>@Html.Raw(Model.CmsVersionText)</p>
    @if (!Model.InitiatedByManaging)
    {
        @Html.VpPageHeading(Html.TextRegion(TextRegionConstants.ReviewTermsPageHeading))
        <div class="row">
            <div class="col-xs-12">
                <div class="terms">
                    <div>
                        @Html.Raw(Model.ConsolidationAcceptTerms.ContentBody)
                    </div>
                </div>
                <form class="agree">
                    <input data-val="true" data-val-requirechecked="" data-val-required="" id="cbTerms" name="cbTerms" value="true" type="checkbox"/>
                    <label for="cbTerms" class="required">@Html.TextRegion(TextRegionConstants.TermsConsolidationAgree)</label>
                </form>
            </div>
        </div>
    }

    <div class="row">
        <div class="col-xs-12">
            <table class="static-grid">
                <colgroup>
                    <col style="width: 15%;" />
                    <col style="width: 15%;" />
                    <col style="width: 15%;" />
                    <col style="width: 30%;" />
                </colgroup>
                <thead>
                <tr>
                    <td>@Html.TextRegion(TextRegionConstants.OriginalBalance)</td>
                    <td>@Html.TextRegion(TextRegionConstants.CurrentBalance)</td>
                    <td>@Html.TextRegion(TextRegionConstants.NextRecurringPayment)</td>
                    <td class="text-center">@Html.TextRegion(TextRegionConstants.CurrentTerms)</td>
                </tr>
                </thead>
                <tbody>
                    @foreach (ConsolidationGuarantorFinancePlanViewModel financePlan in Model.FinancePlans)
                    {
                        <tr>
                            <td>@financePlan.OriginatedFinancePlanBalance</td>
                            <td>@financePlan.CurrentFinancePlanBalance</td>
                            <td>@financePlan.MonthlyPaymentAmount</td>
                            <td>
                                <div>
                                    <span class="pull-right text-right">@financePlan.CurrentInterestRate</span>
                                    @Html.TextRegion(TextRegionConstants.CurrentInterestRate):
                                </div>
                                <div>
                                    <span class="pull-right text-right">@financePlan.FinalPaymentDate</span>
                                    @Html.TextRegion(TextRegionConstants.ExpectedFinalPayment):
                                </div>
                                <div>
                                    <span class="pull-right text-right">
                                        <a href="#CreditAgreement" data-offerid="@financePlan.FinancePlanOfferId" title="@Html.TextRegion(TextRegionConstants.ClickToReview)">@Html.TextRegion(TextRegionConstants.ClickToReview)</a>.
                                    </span>
                                    @Html.TextRegion(ClientDto.CreditAgreementName):
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <section id="section-paymentprimary" class="payment-primary">
        <div class="row">
            <div class="col-xs-12">
                @if (IsFeatureEnabled(VisitPayFeatureEnum.PaymentsCreditCard))
                {
                    <button type="button" id="btnAddCardAccountPrimary" class="btn btn-primary pull-right" data-bind="display: !PaymentMethods.HasPrimaryPaymentMethod()" style="margin-left: 8px;" title="@Html.TextRegion(TextRegionConstants.AddCardAccount)">+ @Html.TextRegion(TextRegionConstants.AddCardAccount)</button>
                }
                @if (IsFeatureEnabled(VisitPayFeatureEnum.PaymentsAch))
                {
                    <button type="button" id="btnAddBankAccountPrimary" class="btn btn-primary pull-right" data-bind="display: !PaymentMethods.HasPrimaryPaymentMethod()" title="@Html.TextRegion(TextRegionConstants.AddBankAccount)">+ @Html.TextRegion(TextRegionConstants.AddBankAccount)</button>
                }
                <strong>@Html.TextRegion(TextRegionConstants.PaymentMethodPrimary)</strong>
                <div>@Html.TextRegion(TextRegionConstants.PrimaryPaymentChargeDetails)</div>
                <hr />
            </div>
        </div>
        <div class="row" data-bind="display: !PaymentMethods.HasPrimaryPaymentMethod()">
            <div class="col-xs-12">
                @Html.TextRegion(TextRegionConstants.PrimaryPaymentChargeDetails)
            </div>
        </div>
        <div class="row" style="line-height: 32px;" data-bind="if: PaymentMethods.HasPrimaryPaymentMethod, display: PaymentMethods.HasPrimaryPaymentMethod">
            <div class="col-xs-8">
                <img data-bind="attr: { src: PaymentMethods.PrimaryPaymentMethod().DisplayImage }" alt="" />
                <span data-bind="text: PaymentMethods.PrimaryPaymentMethod().LastFour.Display"></span>
            </div>
            <div class="col-xs-4 text-right">
                <button type="button" id="btnChangePrimary" class="btn btn-primary" data-bind="disable: EditPrimary()">@Html.TextRegion(TextRegionConstants.PrimaryPaymentChangePrimary)</button>
            </div>
        </div>
    </section>
    <section id="section-paymentmethods" class="change-primary" data-bind="display: EditPrimary()">
        @Html.Action("PaymentMethodsListPartial", "Payment", new { allowSelection = true })
    </section>
    @using (Html.BeginForm("ConfirmAcceptanceFp", "Consolidate", FormMethod.Post, new { @class = "row text-center", id = "frmConfirmAcceptance" }))
    {
        <input type="hidden" id="ConsolidationGuarantorId" value="@Model.ConsolidationGuarantorId" />
        <input type="hidden" id="RequestType" value="@((int) Model.RequestType)" />
        <br />
        <button type="submit" title="@Html.TextRegion(TextRegionConstants.AgreeToFinancePlanTerms)" class="btn btn-primary" id="btnAccept" data-bind="enable: PaymentMethods.HasPrimaryPaymentMethod" style="line-height: 18px; padding-bottom: 4px; padding-top: 4px;">
            @Html.TextRegion(TextRegionConstants.AgreeToFinancePlanTerms)
        </button>
        <button type="button" title="@Html.TextRegion(TextRegionConstants.ButtonDeclineConsolidation)" class="btn btn-primary" id="btnDecline">@Html.TextRegion(TextRegionConstants.ButtonDeclineConsolidation)</button>
        <a href="@Url.Action("ManageHousehold")" title="@Html.TextRegion(TextRegionConstants.ReturnToManageHousehold)" class="btn btn-primary">@Html.TextRegion(TextRegionConstants.ReturnToManageHousehold)</a>
    }
</section>

@section scripts {
    @Scripts.Render(BundleConstants.CommonPaymentMethods, "~/bundles/scripts/consolidate/accept-terms-fp")
}