﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.VisitPay.Enums
@model Ivh.Web.Patient.Models.Consolidate.AcceptTermsViewModel

<section id="section-accept-terms-consolidation">
    <input type="hidden" id="ConsolidationGuarantorId" value="@Model.ConsolidationGuarantorId"/>
    <input type="hidden" id="RequestType" value="@((int)Model.RequestType)" />
    @if (Model.RequestType == ConsolidationMatchRequestTypeEnum.RequestToBeManaged)
    {
        <br/>
        <div>
            <p>@Html.Raw(Model.TextCms.ContentBody)</p>
        </div>

        <div class="terms">
            @Html.VpPageHeading(Model.TermsCms.ContentTitle)
            <div>@Html.Raw(Model.TermsCms.ContentBody)</div>
        </div>
        <p class="text-center" style="font-size: 12px;">
            @Html.TextRegion(TextRegionConstants.ConsolidationCompleteTerms) <a href="#TermsOfUse" title="@Html.TextRegion(TextRegionConstants.TermsOfUse)">@Html.TextRegion(TextRegionConstants.ClickToReview)</a>
        </p>
        <form class="agree">
            <input data-val="true" data-val-requirechecked="" data-val-required="" id="cbTerms" name="cbTerms" value="true" type="checkbox"/>
            <label for="cbTerms" class="required">@Html.TextRegion(TextRegionConstants.TermsConsolidationAgree)</label>
        </form>

        <div class="terms hipaa">
            @Html.VpPageHeading(Model.HipaaCms.ContentTitle)
            <div>@Html.Raw(Model.HipaaCms.ContentBody)</div>
        </div>
        <form class="agree">
            <input data-val="true" data-val-requirechecked="" data-val-required="" id="cbHipaa" name="cbHipaa" value="true" type="checkbox" />
            <label for="cbHipaa" class="required">@Html.TextRegion(TextRegionConstants.HippaAgree)</label>
        </form>
    }
    else
    {
        @Html.VpPageHeading(Html.TextRegion(TextRegionConstants.AcceptTermsConsolidation))
        @Html.CmsRegion(CmsRegionEnum.ConsolidationManagingAcceptTerms)
    }
    
    @using(Html.BeginForm("ConfirmAcceptance", "Consolidate", FormMethod.Post, new { @class = "row text-center", id = "frmConfirmAcceptance" }))
    {
        <input type="hidden" id="ConsolidationGuarantorId" value="@Model.ConsolidationGuarantorId"/>
        <input type="hidden" id="RequestType" value="@((int) Model.RequestType)"/>
        <br/>
        <button type="submit" title="@Html.TextRegion(TextRegionConstants.ButtonAcceptRequestToConsolidate)" class="btn btn-primary" id="btnAccept">@Html.TextRegion(TextRegionConstants.ButtonAcceptRequestToConsolidate)</button>
        <button type="button" title="@Html.TextRegion(TextRegionConstants.ButtonDeclineConsolidation)" class="btn btn-primary" id="btnDecline">@Html.TextRegion(TextRegionConstants.ButtonDeclineConsolidation)</button>
        <a href="@Url.Action("ManageHousehold")" title="@Html.TextRegion(TextRegionConstants.ReturnToManageHousehold)" class="btn btn-primary">@Html.TextRegion(TextRegionConstants.ReturnToManageHousehold)</a>
    }
</section>

@section scripts {
    @Scripts.Render("~/bundles/scripts/consolidate/accept-terms")
}
