﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.VisitPay.Enums
@model Ivh.Web.Patient.Models.Consolidate.DeconsolidateFpViewModel

<section id="section-deconsolidate" class="payment-methods-consolidation">
    @Html.VpPageHeading(Html.TextRegion(TextRegionConstants.CancelConsolidationPageHeading))
    <div class="row">
        <div class="col-xs-12">
            <p>@Html.CmsRegion(CmsRegionEnum.ConsolidationManagedUserCancelConsolidationFp)</p>
        </div>
    </div>
    <section id="section-paymentprimary" class="payment-primary">
        <div class="row">
            <div class="col-xs-12">
                @if (IsFeatureEnabled(VisitPayFeatureEnum.PaymentsCreditCard))
                {
                    <button type="button" id="btnAddCardAccountPrimary" class="btn btn-primary pull-right" data-bind="display: !PaymentMethods.HasPrimaryPaymentMethod()" style="margin-left: 8px;" title="@Html.TextRegion(TextRegionConstants.AddCardAccount)">+ @Html.TextRegion(TextRegionConstants.AddCardAccount)</button>
                }
                @if (IsFeatureEnabled(VisitPayFeatureEnum.PaymentsAch))
                {
                    <button type="button" id="btnAddBankAccountPrimary" class="btn btn-primary pull-right" data-bind="display: !PaymentMethods.HasPrimaryPaymentMethod()" title="@Html.TextRegion(TextRegionConstants.AddBankAccount)">+ @Html.TextRegion(TextRegionConstants.AddBankAccount)</button>
                }
                <strong>@Html.TextRegion(TextRegionConstants.PaymentMethodPrimary)</strong>
                <div>@Html.TextRegion(TextRegionConstants.PrimaryPaymentChargeDetails)</div>
                <hr/>
            </div>
        </div>
        <div class="row" data-bind="display: !PaymentMethods.HasPrimaryPaymentMethod()">
            <div class="col-xs-12">
                @Html.TextRegion(TextRegionConstants.NoPrimaryPaymentMessage)
            </div>
        </div>
        <div class="row" style="line-height: 32px;" data-bind="if: PaymentMethods.HasPrimaryPaymentMethod, display: PaymentMethods.HasPrimaryPaymentMethod">
            <div class="col-xs-8">
                <img data-bind="attr: { src: PaymentMethods.PrimaryPaymentMethod().DisplayImage }" alt="" />
                <span data-bind="text: PaymentMethods.PrimaryPaymentMethod().LastFour.Display"></span>
            </div>
            <div class="col-xs-4 text-right">
                <button type="button" id="btnChangePrimary" class="btn btn-primary" data-bind="disable: EditPrimary()">@Html.TextRegion(TextRegionConstants.PrimaryPaymentChangePrimary)</button>
            </div>
        </div>
    </section>
    <section id="section-paymentmethods" class="change-primary" data-bind="display: EditPrimary()">
        @Html.Action("PaymentMethodsListPartial", "Payment", new { allowSelection = true })
    </section>
    <div class="row">
        <div class="col-xs-12">
            <hr style="margin-top: 0;"/>
            <br/>
            @Html.Raw(Model.CancelCmsVersionText)
            @using (Html.BeginForm("CancelRequest", "Consolidate", FormMethod.Post, new {@class = "row text-center", id = "frmDeconsolidateFp"}))
            {
                <input type="hidden" id="ConsolidationGuarantorId" value="@Model.ConsolidationGuarantorId"/>
                <input type="hidden" id="RequestType" value="@((int) Model.RequestType)"/>
                <br/>
                <button type="submit" title="@Html.TextRegion(TextRegionConstants.ConfirmCancellation)" class="btn btn-primary" id="btnConfirm">@Html.TextRegion(TextRegionConstants.ConfirmCancellation)</button>
                <a href="@Url.Action("ManageHousehold")" title="@Html.TextRegion(TextRegionConstants.ReturnToManageHousehold)" class="btn btn-primary">@Html.TextRegion(TextRegionConstants.ReturnToManageHousehold)</a>
            }
        </div>
    </div>
</section>

@section scripts {
    @Scripts.Render(BundleConstants.CommonPaymentMethods, "~/bundles/scripts/consolidate/deconsolidate-fp")
}