﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.VisitPay.Enums
@using Ivh.Web.Patient.Models.Consolidate
@model RequestManagingViewModel

<section id="section-request-managing">


    @Html.VpPageHeading(Model.TextCms.ContentTitle)
    <div class="row">
        <div class="col-xs-12">
            @Html.Raw(Model.TextCms.ContentBody)
        </div>
    </div>

    @Html.VpPageHeading(Model.TermsCms.ContentTitle)
    <div class="row">
        <div class="col-xs-12">
            <div class="terms">
                <div>
                    @Html.Raw(Model.TermsCms.ContentBody)
                </div>
            </div>
            <form class="agree checkbox-styled">
                <input data-val="true" data-val-requirechecked="" data-val-required="" id="cbTerms" name="cbTerms" value="true" type="checkbox" />
                <label for="cbTerms" class="required">@Html.TextRegion(TextRegionConstants.TermsConsolidationAgree)</label>
            </form>
            @Html.Partial("_ConsolidateMatchForm", new MatchRequestViewModel { MatchRequestType = ConsolidationMatchRequestTypeEnum.RequestToBeManaging })
        </div>
    </div>
</section>

@section scripts {
    @Scripts.Render("~/bundles/scripts/consolidate/request-match")
}