﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.VisitPay.Enums
@using Ivh.Web.Patient.Models.Consolidate
@model RequestManagedViewModel

<section id="section-request-managed">
    
    @Html.VpPageHeading(Model.TextCms.ContentTitle)

    <div>@Html.Raw(Model.TextCms.ContentBody)</div>

    <div class="terms">
        @Html.VpPageHeading(Model.TermsCms.ContentTitle)
        <div>@Html.Raw(Model.TermsCms.ContentBody)</div>
    </div>
    
    <form class="agree checkbox-styled">
        <input data-val="true" data-val-requirechecked="" data-val-required="" id="cbTerms" name="cbTerms" value="true" type="checkbox"/>
        <label for="cbTerms" class="required">@Html.TextRegion(TextRegionConstants.TermsConsolidationAgree)</label>
    </form>

    <div class="terms hipaa">
        @Html.VpPageHeading(Model.HipaaCms.ContentTitle)
        <div>@Html.Raw(Model.HipaaCms.ContentBody)</div>
    </div>
    <form class="agree checkbox-styled">
        <input data-val="true" data-val-requirechecked="" data-val-required="" id="cbHipaa" name="cbHipaa" value="true" type="checkbox"/>
        <label for="cbHipaa" class="required">@Html.TextRegion(TextRegionConstants.HippaAgree)</label>
    </form>

    <p class="text-center instruction">@Html.TextRegion(TextRegionConstants.RequestToBeManagedInstructions):</p>
    @Html.Partial("_ConsolidateMatchForm", new MatchRequestViewModel {MatchRequestType = ConsolidationMatchRequestTypeEnum.RequestToBeManaged})
</section>

@section scripts {
    @Scripts.Render("~/bundles/scripts/consolidate/request-match")
}