﻿@model bool
@{
    Layout = "~/Views/Shared/_LayoutPatientSideNav.cshtml";
    const string demoHealthEquityName = "Health Equity";
}

@section sidenav {
    @Html.Partial("~/Views/Shared/_NavAccount.cshtml")
}

<section id="section-sso-settings">
    @if (!Model)
    {
        <div class="alert alert-light" data-bind="visible: children.length === 0">@Html.TextRegion(TextRegionConstants.NoSsoSettingsToDisplay)</div>
    }
    else
    {
        <div>
            @Html.VpPageHeading(string.Concat(ClientDto.ClientBrandName, " ", demoHealthEquityName, " ", Html.TextRegion(TextRegionConstants.SingleSignOn)))
            <div class="provider">
                <div class="manage">
                    <div>
                        <p>
                            @Html.CmsRegionWithAdditionalValues(CmsRegionEnum.SsoGuarantorAccepted, new Dictionary<string, string>
                            {
                                {"[[SsoProviderDisplayName]]", demoHealthEquityName}
                            })
                        </p>
                    </div>
                    <table class="static-grid">
                        <colgroup>
                            <col style="width: 40%;"/>
                            <col style="width: 20%;"/>
                            <col style="width: 20%;"/>
                        </colgroup>
                        <thead>
                        <tr>
                            <td>@Html.TextRegion(TextRegionConstants.SsoManagement)</td>
                            <td class="text-center">@Html.TextRegion(TextRegionConstants.Status)</td>
                            <td class="text-center">@Html.TextRegion(TextRegionConstants.Action)</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>@demoHealthEquityName</td>
                            <td class="text-center">@Html.TextRegion(TextRegionConstants.StatusDisplayActive)</td>
                            <td class="text-center"><a href="javascript:;">@Html.TextRegion(TextRegionConstants.Disable)</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br/>
        </div>
    }
</section>
