﻿@using Ivh.Common.Base.Utilities.Extensions
@model Ivh.Web.Patient.Models.Demo.HealhEquityDemoWidgetViewModel

@if (IsFeatureEnabled(VisitPayFeatureEnum.DemoHealthEquityIsEnabled))
{
    <div id="modalHealthEquitySsoDemo" class="modal fade modal-healthequity modal-healthequitysso" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <form class="modal-content" autocomplete="off">
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    <h4 class="modal-title">@Html.TextRegion(TextRegionConstants.HealthEquityManageAccount)</h4>
                </div>
                <div class="modal-body">
                    <p>@Html.TextRegion(TextRegionConstants.HealthEquityAccountLinkedWithClient)</p>
                    <p class="text-center">
                        <a href="http://www.healthequity.com" target="_blank" title="@Html.TextRegion(TextRegionConstants.HealthEquityGoToAccount)">@Html.TextRegion(TextRegionConstants.HealthEquityGoToAccount)</a>
                    </p>
                    <hr/>
                    <div class="balances">
                        <div class="row">
                            <div class="col-xs-4">@Html.TextRegion(TextRegionConstants.HealthEquityCashBalance):</div>
                            <div class="col-xs-2">@Model.CashBalance.FormatCurrency()</div>
                            <div class="col-xs-1"></div>
                            <div class="col-xs-5" id="divHqyBalanceMessage">
                                <div class="balance-current">
                                    <p>@Html.TextRegion(TextRegionConstants.HealthEquityBalanceEstimated) <span class="healthequity-lastcalltoapi-modal">as of @Model.UpdatedDate</span>.</p>
                                    <p>@Html.TextRegion(TextRegionConstants.HealthEquityBalanceRefreshTiming)</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">@Html.TextRegion(TextRegionConstants.HealthEquityInvestmentBalance):</div>
                            <div class="col-xs-2">@Model.InvestmentBalance.FormatCurrency()</div>
                        </div>
                        <div class="row separator">
                            <div class="col-xs-6">
                                <hr/>
                            </div>
                        </div>
                        <div class="row sum">
                            <div class="col-xs-4">@Html.TextRegion(TextRegionConstants.HealthEquityTotalBalance):</div>
                            <div class="col-xs-2">@Model.TotalBalance.FormatCurrency()</div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-xs-4">@Html.TextRegion(TextRegionConstants.HealthEquityYtdContributions):</div>
                            <div class="col-xs-2">@Model.YtdContributions.FormatCurrency()</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">@Html.TextRegion(TextRegionConstants.HealthEquityYtdDistributions):</div>
                            <div class="col-xs-2">@Model.YtdDistributions.FormatCurrency()</div>
                        </div>
                    </div>
                    <hr/>
                    <p class="text-center"><a href="@Url.Action("Settings", "Sso")" title="@Html.TextRegion(TextRegionConstants.SsoViewConnections)">@Html.TextRegion(TextRegionConstants.SsoViewConnections)</a></p>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" title="@Html.TextRegion(TextRegionConstants.Close)">@Html.TextRegion(TextRegionConstants.Close)</button>
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript">
        (function() {
            $(document).ready(function() {
                $('#demo-healthequity-sso-outbound-link').on('click', function() {
                    $('#modalHealthEquitySsoDemo').modal('show');
                });
            });
        })();
    </script>
}
