﻿@using Ivh.Common.Base.Utilities.Extensions
@model Ivh.Web.Patient.Models.Demo.HealhEquityDemoWidgetViewModel

@if (IsFeatureEnabled(VisitPayFeatureEnum.DemoHealthEquityIsEnabled))
{
    <div class="widget-container widget-link healthequity-widget healthequity-widget-with-balance" id="demo-healthequity-sso-outbound-link">
        <div class="header">
            <span class="icon">
                <img src="/Content/Images/healthEquity-icon-75.png" alt=""/>
            </span>
            <div class="info">
                My HealthEquity HSA<br/>
                @Html.TextRegion(TextRegionConstants.Balance): <strong>@Model.CashBalance.FormatCurrency()</strong><br/>
                <span class="text-italic">as of @Model.UpdatedDate</span>
            </div>
        </div>
    </div>
}