﻿@if (IsFeatureEnabled(VisitPayFeatureEnum.DemoMyChartSSOUiIsEnabled))
{
    <div class="widget-container DemoWidget">
        <a class="header" href="@Url.Action("ProviderPortal", "Demo")" target="_blank">
            <span class="icon">
                <img src="/Content/Images/Demo/demo-hs.png" style="max-width: 32px;" />
            </span>
            <span class="text">Provider Portal</span>
            <span class="small-text">@Html.TextRegion(TextRegionConstants.GoToYourGenericAccount, "[[AccountName]]", this.ClientDto.ClientShortName)</span>
        </a>
    </div>
}