﻿@using Ivh.Common.Base.Utilities.Extensions
@using Ivh.Common.VisitPay.Constants
@using Ivh.Web.Patient.Models.Demo
@model Ivh.Web.Patient.Models.Demo.PsEstimatesViewModel

<div class="row grid-row" title="View Visit Details">
    <div class="col">
        <div class="fancyDate">
            <span class="month">@Model.Date.ToString("MMM")</span>
            <span class="day">@Model.Date.ToString("dd")</span>
            <span class="year">@Model.Date.ToString("yyyy")</span>
        </div>
    </div>
    <div class="col">
        <div class="vcenter">
            <strong>@Html.TextRegion(TextRegionConstants.ScheduledVisitFor) @CurrentUser.FullNameDisplay</strong>
            <br />
            @Html.Raw(Model.Description)
        </div>
    </div>
    <div class="col">
        <div class="vcenter">
            @if (Model.HasPayment)
            {
                <span class="downpayment">
                    <em class="vpicon-check-filled"></em><strong>@Html.TextRegion(TextRegionConstants.DownPaymentCleared)</strong>
                </span>
            }
            else
            {
                <strong>10% @Html.TextRegion(TextRegionConstants.DownRequired)</strong>
            }
        </div>
    </div>
    <div class="col">
        <div class="labeled-number vcenter">
            @if (Model.HasPayment)
            {
                <span>@Html.TextRegion(TextRegionConstants.RemainingEstimate)</span>
            }
            else
            {
                <span>@Html.TextRegion(TextRegionConstants.Estimated)</span>
            }
            <div>@Model.Total.FormatCurrency()</div>
        </div>
    </div>
</div>
<div class="row grid-detail">
    <div class="details-view">
        <div class="row ps-header">
            <div class="col-xs-10">@Model.Location</div>
            <div class="col-xs-2 text-right"><em class="vpicon-print"></em></div>
        </div>
        <div class="row">
            <div class="col-xs-5">
                <ul class="menu-items">
                    <li class="active" data-link="charges">
                        <span>@Model.HospitalChargesSum.FormatCurrency()</span>
                        @Html.TextRegion(TextRegionConstants.TotalEstimatedCharges)
                        <span class="gray-right-arrow"></span>
                    </li>
                    <li data-link="insurance">
                        <span>@Model.InsuranceChargesSum.FormatCurrency()</span>
                        @Html.TextRegion(TextRegionConstants.EstimatedInsurance)
                        <span class="gray-right-arrow"></span>
                    </li>
                    <li data-link="payments">
                        <span>@Model.PaymentsSum.FormatCurrency()</span>
                        @Html.TextRegion(TextRegionConstants.YourPayments)
                        <span class="gray-right-arrow"></span>
                    </li>
                </ul>
                <div class="balance">
                    @Html.TextRegion(TextRegionConstants.Total): <strong>@Model.Total.FormatCurrency()</strong>
                </div>
            </div>
            <div class="col-xs-7">
                <div class="line-items">
                    <div data-target="charges">
                        <div class="vpgrid">
                            @foreach (PsEstimateViewModel estimate in Model.HospitalCharges)
                            {
                                <div class="row grid-row">
                                    <div class="col col-xs-6">@Html.Raw(estimate.Description)</div>
                                    <div class="col col-xs-6 text-right">@estimate.Amount.FormatCurrency()</div>
                                </div>
                            }
                        </div>
                        <div class="disclaimer">
                            @Html.TextRegion(TextRegionConstants.InformationEstimateOnly)
                        </div>
                    </div>
                    <div data-target="insurance" style="display: none;">
                        <div class="vpgrid">
                            @foreach (PsEstimateViewModel estimate in Model.InsuranceCharges)
                            {
                                <div class="row grid-row">
                                    <div class="col col-xs-6">@Html.Raw(estimate.Description)</div>
                                    <div class="col col-xs-6 text-right">@estimate.Amount.FormatCurrency()</div>
                                </div>
                            }
                        </div>
                    </div>
                    <div data-target="payments" style="display: none;">
                        <div class="vpgrid">
                            @if (Model.Payments.Count > 0)
                            {
                                foreach (PsEstimateViewModel estimate in Model.Payments)
                                {
                                    <div class="row grid-row">
                                        <div class="col col-xs-6">@Html.Raw(estimate.Description)</div>
                                        <div class="col col-xs-6 text-right">@estimate.Amount.FormatCurrency()</div>
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="row grid-row">
                                    <div class="col-xs-12 text-center"><em>@Html.TextRegion(TextRegionConstants.YouHaventMadeAnyPayments)</em></div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 ps-details">
                <div class="deductible">
                    @Html.Raw(Html.TextRegion(TextRegionConstants.DeductibleMetSentence, new Dictionary<string, string> 
                    {
                        { "[[DeductibleMet]]", "<strong>" + Model.DeductibleMet.FormatCurrency() + "</strong>" },
                        { "[[DeductibleTotal]]", "<strong>" + Model.Deductible.FormatCurrency() + "</strong>" }
                    }))
                    <br /><br />
                </div>
                <div class="payment-button">
                    @{
                        string viewPaymentOptions = Html.TextRegion(TextRegionConstants.ViewPaymentOptions);
                    }
                    <a href="@Url.Action("PSArrangePayment", "Payment")" class="btn btn-primary" title="@viewPaymentOptions">@viewPaymentOptions</a>
                </div>
            </div>
        </div>
    </div>
</div>
