﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Web.Patient.Models.Demo
@model IList<Ivh.Web.Patient.Models.Demo.PsEstimatesViewModel>

<div class="vpgrid-container psestimates-container">
    <div class="vpgrid-header">
        <h4>@Html.TextRegion(TextRegionConstants.EstimatedBills)</h4>
    </div>
    <div class="vpgrid vpgrid-clickable grid-psestimates">
        @foreach (PsEstimatesViewModel estimatedVisit in Model)
        {
            @Html.Partial("~/Views/Demo/_PSEstimatesGridRow.cshtml", estimatedVisit)
        }
    </div>
</div>