﻿@model Ivh.Web.Patient.Models.Demo.InsuranceAccrualsViewModel
@if (this.IsFeatureEnabled(VisitPayFeatureEnum.DemoInsuranceAccrualUiIsEnabled))
{
    <div class="widget-container DemoWidget">
        <a class="header" href="http://selecthealth.org/i/Pages/home.aspx" 
           target="_blank" 
           data-toggle="modal" 
           data-target="#ViewInsuranceAccrualsModal"
           data-iconurl="@Model.InsurerLogoUrl" 
           data-paynow="@Html.TextRegion(TextRegionConstants.PayMyGenericPlanPremium, "[[PlanName]]", Model.InsurerName)"
           data-openaccount="@Html.TextRegion(TextRegionConstants.OpenMyGenericPlanAccount, "[[PlanName]]", Model.InsurerName)"
           data-title="@Html.TextRegion(TextRegionConstants.YourGenericPlanInformation, "[[PlanName]]", Model.InsurerName)">
            <span class="icon">
                <img src="@Model.InsurerLogoUrl" alt="@Model.InsurerName" />
            </span>
            <span class="text">@Html.TextRegion(TextRegionConstants.MyGenericPlan, "[[PlanName]]", Model.InsurerName)</span>
            <span class="small-text">@Html.TextRegion(TextRegionConstants.DeductibleRemaining) <strong>$4,000.00</strong></span>
        </a>
    </div>
}