﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.VisitPay.Enums
@if (this.IsFeatureEnabled(VisitPayFeatureEnum.DemoInsuranceAccrualUiIsEnabled))
{
    string renewMyPlan = Html.TextRegion(TextRegionConstants.RenewMyPlan);
    string shopForNewPlan = Html.TextRegion(TextRegionConstants.ShopForNewPlan);

    <div id="ViewInsuranceAccrualsModal" data-context="payment" class="modal modal-vcenter fade" tabindex="-1" role="dialog" data-backdrop="static">
        <a href="#" data-dismiss="modal" class="close"></a>
        <div class="modal-body">
            <img />
            <h2 id="DemoInsuranceAccrualTitle"></h2>
            <div class="buttons">
                <a href="@Url.Action("PayPremiumArrangePayment", "Payment")" class="btn btn-lg" id="DemoInsuranceAccrualPayNowBtn"></a>
                <button class="btn btn-lg" type="submit" id="DemoInsuranceAccrualOpenAccountBtn"></button>
                <button class="btn btn-lg" type="submit" title="@renewMyPlan">@renewMyPlan</button>
                <button class="btn btn-lg" type="submit" title="@shopForNewPlan">@shopForNewPlan</button>
            </div>
        </div>
    </div>
    <script type="text/javascript">
            (function() {
                $(document).ready(function() {
                    $('#ViewInsuranceAccrualsModal').on('show.bs.modal', function (e) {
                        var target = $(e.relatedTarget);
                        var modal = $(this);

                        var payNowText = target.data('paynow');
                        var payNowButton = modal.find('#DemoInsuranceAccrualPayNowBtn');
                        payNowButton.text(payNowText);
                        payNowButton.attr('title', payNowText);

                        var openAccountText = target.data('openaccount');
                        var openAccountButton = modal.find('#DemoInsuranceAccrualOpenAccountBtn');
                        openAccountButton.text(openAccountText);
                        openAccountButton.attr('title', openAccountText);

                        var titleText = target.data('title');
                        var titleSpan = modal.find('#DemoInsuranceAccrualTitle');
                        titleSpan.text(titleText);

                        var iconUrl = target.data('iconurl');
                        modal.find('img').attr('src', iconUrl);

                        $('.buttons').children().each(function () {
                            fitText($(this));
                        });

                        function fitText(elem) {
                            var $button = $(elem);
                            var len = $button.text().length;
                            var maxSize = 20;
                            var thresholdLen = 25;
                            var size = len < thresholdLen ? maxSize : maxSize - ((len - thresholdLen) / 5);
                            size = size > maxSize ? maxSize : size;

                            $button.css('font-size', size + 'px');
                        }
                    });
                });
            })();
    </script>
}