﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.VisitPay.Enums
@using Ivh.Common.VisitPay.Strings
@using Ivh.Common.Web.Models.Payment
@model ArrangePaymentViewModel
@if (this.IsFeatureEnabled(VisitPayFeatureEnum.DemoInsuranceAccrualUiIsEnabled))
{
    <div id="PS-arrangepayment">
        <section id="arrange-payment" style="visibility: hidden;">
            <div data-context="menu" id="payment-menu">
                <label data-bind="css: { 'selected': !$root.PaymentMenuItems.Selected.Is(4) }" style="flex-basis: 45%;">
                    <span class="label-content">
                        <span class="label-inner">
                            <em class="glyphicon glyphicon-credit-card"></em>
                            <span class="title">@Html.TextRegion(TextRegionConstants.PayMyPremium)</span>
                        </span>
                    </span>
                    <input type="radio" name="PaymentOption" data-bind="checked: $root.SelectedPaymentMenuItemId, value: 7" />
                </label>
                <label data-bind="css: { 'selected': $root.PaymentMenuItems.Selected.Is(4) }" style="flex-basis: 45%;">
                    <span class="label-content">
                        <span class="label-inner">
                            <em class="glyphicon glyphicon-calendar"></em>
                            <span class="title">@Html.TextRegion(TextRegionConstants.SetUpRecurringPaymentForPremium)</span>
                        </span>
                    </span>
                    <input type="radio" name="PaymentOption" data-bind="checked: $root.SelectedPaymentMenuItemId, value: 4" />
                </label>
            </div>
            <div id="noOptions" class="arrange-payment-module">
                @Html.CmsRegion(CmsRegionEnum.ArrangePaymentNoOptions)
            </div>
            <div id="payment-submit-container" class="arrange-payment-module">
                <div class="row">
                    <div id="payment-submit" data-context="payment" class="col-xs-9" style="margin-left: 135px;">
                        <form autocomplete="off">
                            <div class="row">
                                <div class="col-xs-6 col-xs-offset-3">
                                    <div class="modern-form">
                                        <div class="form-group row">
                                            <div class="col-xs-6 payment-amount">
                                                <label for="PaymentAmount">@Html.TextRegion(TextRegionConstants.PaymentAmountTotal)</label>
                                                <div>
                                                    <input id="PaymentAmount" name="PaymentAmount" type="text" class="form-control numeric" placeholder="654.90" data-val="true" data-val-number="" data-val-required="" />
                                                </div>
                                            </div>
                                            <div class="col-xs-6 text-right payment-date">
                                                <label for="PaymentDate">@Html.TextRegion(TextRegionConstants.PaymentDate)</label>
                                                <div>
                                                    <div class="input-group date">
                                                        <input id="PaymentDate" name="PaymentDate" type="text" class="form-control" readonly="readonly" data-val="true" data-val-required="" value="@DateTime.UtcNow.ToString(Format.DateFormat)" />
                                                        <div class="input-group-addon">
                                                            <em class="vpicon-calendar"></em>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row payment-method">
                                            <div class="col-xs-12">
                                                <label>@Html.TextRegion(TextRegionConstants.PaymentMethod)</label>
                                                <div>
                                                    <span data-bind="html: $root.SelectedPaymentMethod.Display"></span>
                                                    @Html.VpButton("btnPaymentPaymentMethodEdit", Html.TextRegion(TextRegionConstants.ButtonEdit), VpButtonTypeEnum.Button, VpButtonClassEnum.AccentOutline, new { data_bind = "click: $root.ChangePaymentMethod" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row continue">
                                            <div class="col-xs-12 text-right">
                                                <hr />
                                                <button class="btn btn-primary" type="button" data-toggle="modal" id="btnPayPremiumContinue" title="@Html.TextRegion(TextRegionConstants.ButtonContinue)">@Html.TextRegion(TextRegionConstants.ButtonContinue)</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div id="finance-plan" data-context="financeplan" class="arrange-payment-module">
                @Html.Partial("~/Views/Payment/_ArrangePaymentFinancePlan.cshtml")
            </div>

            <div data-context="paymentmethods">
                <section id="section-paymentmethods" data-bind="css: { 'change-primary': IsChangePrimary }" style="display: none;">
                    @Html.Action("PaymentMethodsListPartial", "Payment", new { allowSelection = true })
                </section>
            </div>

            <div data-context="receipt" id="receipt" class="arrange-payment-module">
                <!-- ko if: IsVisible -->
                <div class="receipt">
                    <div data-bind="html: ReceiptText"></div>
                    <p class="text-center">
                        <a href="javascript:;" title="@Html.TextRegion(TextRegionConstants.HomePageHeading)" class="btn btn-primary" data-bind="click: GoHome, text: HomeButtonText, attr: { title: HomeButtonText }">@Html.TextRegion(TextRegionConstants.HomePageHeading)</a>
                        <!-- ko if: ShowMakeAnotherPayment -->
                        <a href="javascript:;" title="@Html.TextRegion(TextRegionConstants.MakeAnotherPayment)" class="btn btn-primary" data-bind="click: SetDefaultPaymentOption">@Html.TextRegion(TextRegionConstants.MakeAnotherPayment)</a>
                        <!-- /ko -->
                    </p>
                </div>
                <!-- /ko -->
            </div>
        </section>
    </div>

    @section modals {
        @Html.Partial("~/Views/Payment/_ArrangePaymentModals.cshtml")

        @if (this.IsFeatureEnabled(VisitPayFeatureEnum.DemoInsuranceAccrualUiIsEnabled))
        {
            <div id="PayPremiumConfirmModal" data-context="payment" class="modal modal-vcenter fade" tabindex="-1" role="dialog" data-backdrop="static">
                <div class="modal-dialog modal-md">
                    <div class="modal-content" data-bind="with: ActivePaymentOption">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                            <h4 class="modal-title">@Html.TextRegion(TextRegionConstants.ReviewAndConfirm)</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-xs-6 text-right">@Html.TextRegion(TextRegionConstants.PaymentAmountTotal):</div>
                                <div class="col-xs-6">
                                    <span>$<span id="PayPremiumConfirmModalPaymentAmount"></span></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 text-right">@Html.TextRegion(TextRegionConstants.ScheduledDate):</div>
                                <div class="col-xs-6">
                                    <span id="PayPremiumConfirmModalPaymentDate"></span>
                                </div>
                            </div>
                            <div class="row payment-method">
                                <div class="col-xs-6 text-right">@Html.TextRegion(TextRegionConstants.PaymentMethod):</div>
                                <div class="col-xs-6">
                                    <span data-bind="html: $root.SelectedPaymentMethod.Display"></span>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer text-center">
                            <a href="javascript:;" title="@Html.TextRegion(TextRegionConstants.ButtonMakeChanges)" data-dismiss="modal">@Html.TextRegion(TextRegionConstants.ButtonMakeChanges)</a>
                            <button class="btn btn-primary btn-lg" type="submit" title="@Html.TextRegion(TextRegionConstants.ConfirmPayment)" id="btnPayPremiumModalConfirmPayment">@Html.TextRegion(TextRegionConstants.ConfirmPayment)</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    }

    @section scripts {
        @Html.Partial("~/Views/Payment/_ArrangePaymentLocalizations.cshtml")
        @Scripts.Render(
            BundleConstants.CommonPaymentMethods,
            BundleConstants.CommonFinancePlanSetup,
            "~/bundles/scripts/payment/arrangepayment",
            "~/bundles/scripts/sso/healthEquityWidget")

        <script type="text/javascript">
            (function () {
                var arrangePayment = new window.VisitPay.ArrangePayment.Main(@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model)));
                $(document).ready(function() {
                    $('body').on('click', '#btnPayPremiumContinue', function (e) {

                        var $form = $(this).parents('form').eq(0);
                        $form.parseValidation();
                        if (!$form.valid()) {
                            return;
                        }
                        $('#PayPremiumConfirmModal').find('#PayPremiumConfirmModalPaymentAmount').text(parseFloat($('#PaymentAmount').val()).toFixed(2));
                        $('#PayPremiumConfirmModal').find('#PayPremiumConfirmModalPaymentDate').text($('#PaymentDate').val());
                        $('#PayPremiumConfirmModal').modal('show');
                    });
                    $('body').on('click', '#btnPayPremiumModalConfirmPayment', function(e) {
                        e.preventDefault();
                        $.blockUI();
                        window.location.href = '/';
                    });
                });
            })();
        </script>
    }
}