﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Provider Portal</title>
    <link href="~/Content/Css/Demo/provider.css" rel="stylesheet" />
</head>
<body>
    <div class="header">
        <div class="wrapper header-bg">
            <div class="mychart-logo"></div>
            @if (CurrentUser != null)
            {
                <div class="user-left">@CurrentUser.FirstName</div>
                <a class="user-right" href="javascript:;" onclick="javascript:window.close();">@CurrentUser.FirstName</a>
            }
        </div>
    </div>
    <div class="wrapper main pay-bill">
        <div class="bodyImage"></div>
    </div>
    <div class="body-bg"></div>
    
    <a id="fullpagelink" href="/" target="_blank"> </a>
</body>
</html>