﻿@using Ivh.Common.VisitPay.Constants
@model IList<Ivh.Common.Web.Models.Account.SecurityQuestionViewModel>

<div class="row">
    <div class="col-xs-offset-1 col-xs-6">
        <p>Select @ClientDto.ClientSecurityQuestionsCount security questions and type your answers below. We will only ask these questions if we need additional information to verify your identity.</p>
    </div>
</div>
<div class="form-group row">
    <div class="col-xs-offset-1 col-xs-11">
        @Html.ValidationSummary(Html.TextRegion(TextRegionConstants.ValidationCorrectErrors))
    </div>
</div>
@for (int i = 0; i < Model.Count; i++)
{
    int index = i;
    <div class="row">
        <div class="col-xs-offset-1 col-xs-5">@(i + 1). @Html.VpLabelFor(m => Model[index].SecurityQuestionId):</div>
        <div class="col-xs-5">@Html.VpLabelFor(m => Model[index].Answer):</div>
    </div>
    <div class="form-group row">
        <div class="col-xs-offset-1 col-xs-5">@Html.DropDownListFor(m => Model[index].SecurityQuestionId, Model[index].SecurityQuestions, "--Select--", new { @class = "form-control" })</div>
        <div class="col-xs-5">@Html.VpTextBoxFor(m => Model[index].Answer)</div>
    </div>
}
<div class="form-group row">
    <p class="col-xs-offset-1 col-xs-5 required-instruction">* Required field</p>
</div>
<div class="form-group row">
    <div class="col-xs-offset-1 col-xs-5">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</div>
