﻿@using Ivh.Common.VisitPay.Constants
@model Ivh.Common.Web.Models.Account.PasswordEditViewModel

@section breadcrumbs {
    <ul>
        <li>@ClientDto.ClientBrandName</li>
        <li>Edit Password</li>
    </ul>
}

<h1 class="bar">Edit Password</h1>
<section id="section-editpassword">
    <div class="row">
        <div class="col-xs-offset-3 col-xs-6">
            @using (Html.BeginForm("EditPassword", "Account", FormMethod.Post, new { id = "frmEditPassword" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(Html.TextRegion(TextRegionConstants.ValidationCorrectErrors))
                <p>@Html.ClientPasswordRequirements()</p>
                <div class="row form-group">
                    <div class="col-xs-5">@Html.VpLabelFor(m => m.OldPassword):</div>
                    <div class="col-xs-7">@Html.PasswordFor(m => m.OldPassword, new {@class = "form-control", @autocomplete = "off",  maxlength = 25})</div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-5">@Html.VpLabelFor(m => m.NewPassword):</div>
                    <div class="col-xs-7">@Html.PasswordFor(m => m.NewPassword, new {@class = "form-control", @autocomplete = "off", maxlength = 25})</div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-5">@Html.VpLabelFor(m => m.NewPasswordConfirm):</div>
                    <div class="col-xs-7">@Html.PasswordFor(m => m.NewPasswordConfirm, new {@class = "form-control", @autocomplete = "off",  maxlength = 25})</div>
                </div>
                <div class="form-group row">
                    <p class=" col-xs-12 required-instruction">* Required field</p>
                </div>
                <div class="form-group row">
                    <div class="col-xs-offset-5 col-xs-7">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

@section scripts {
    @Scripts.Render("~/bundles/scripts/account/edit-password")
}
