﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.VisitPay.Enums
@model Ivh.Web.Client.Models.Account.ForgotPasswordViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="bar">Forgot Password</h1>

<section id="section-forgotpassword">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 alert alert-info">
                    <p>Please enter your username.  If it is a valid account, a temporary password will be sent to your notification e-mail address.</p>
                </div>
            </div>
            <div class="row">
                @Html.ValidationSummary(Html.TextRegion(TextRegionConstants.ValidationCorrectErrors))
            </div>
            <div class="row form-group">
                <div class="col-xs-2">@Html.VpLabelFor(m => m.UserName)</div>
                <div class="col-md-3">@Html.VpTextBoxFor(m => m.UserName)</div>
            </div>
            <div class="row form-group">
                <div class="col-xs-offset-2 col-xs-10">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    }
</section>

@section modals {
        <div id="modalSuccess" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                        <h4 class="modal-title">Thank You</h4>
                    </div>
                    <div class="modal-body text-center">
                        <p>@Html.CmsRegion(CmsRegionEnum.ForgotCredentialSuccess)</p>
                    </div>
                    <div class="modal-footer text-center">
                        <a href="@Url.Action("Index", "Account")" title="" role="button" class="btn btn-primary">OK</a>
                    </div>
                </div>
            </div>
        </div>
}
@section scripts {
    @Scripts.Render("~/bundles/scripts/account/forgot-password")
}