﻿@model Ivh.Web.Client.Models.Account.LoginViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="section-login" class="nojshidden">
    <h1>@ClientDto.ClientName Provider Access</h1>
    @using (Html.BeginForm("Index", "Account", FormMethod.Post, new {@class = "form-horizontal", role = "form", autocomplete = "off"}))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.ReturnUrl)
        <div class="form-group row">
            @Html.LabelFor(m => m.Username, new {@class = "col-xs-3 control-label"})
            <div class="col-xs-9">@Html.TextBoxFor(m => m.Username, new { @class = "form-control", autocomplete = "off" })</div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(m => m.Password, new {@class = "col-xs-3 control-label"})
            <div class="col-xs-9">@Html.PasswordFor(m => m.Password, new { @class = "form-control", autocomplete = "off" })</div>
        </div>
        <div class="form-group row">
            <div class="col-xs-offset-3 col-xs-3">
                <button type="submit" class="btn-login"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span>Log In</button>
            </div>
            <div class="col-xs-6 forgot">
                <a href="@Url.Action("ForgotPassword")" title="">Forgot Your Password?</a>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-offset-3 col-xs-9">
                @Html.ValidationSummary(true, "")
            </div>
        </div>
    }
</section>
<div class="login-unauthorized-use-message">
       @Html.CmsRegion(CmsRegionEnum.ClientLoginUnauthorizedUseMessage)
</div>
<noscript>@Html.Partial("~/Views/Shared/_BrowserNoJavascript.cshtml")</noscript>

@section scripts {
    <script type="text/javascript">
        (function() {
            sessionStorage.clear();
            $('.nojshidden').removeClass('nojshidden');
        })();
    </script>
}