﻿@using Ivh.Common.VisitPay.Constants
@model Ivh.Web.Client.Models.Account.ResetPasswordViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var viewTitle = (Model.IsSecureCodeRequired ? "Security Setup" : "Reset Password");  
}

<h1 class="bar">@(viewTitle)</h1>

<section id="section-resetpassword">
    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { id = "frmResetPassword" }))
    {
        if (Model.IsPasswordExpired)
        {
            <div class="alert alert-info text-center">Your password has expired. Please reset your password.</div>
        }

        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.IsPasswordExpired)
        @Html.HiddenFor(m => m.IsSecureCodeRequired)
        @Html.HiddenFor(m => m.IsSecurityQuestionRequired)
        @Html.HiddenFor(m => m.HideUserName)
        if (Model.HideUserName)
        {
            @Html.HiddenFor(m => m.UserName)
        }
        @Html.HiddenFor(m => m.TempPassword)
        @Html.HiddenFor(m => m.SecurityQuestionId)
        @Html.ValidationSummary(Html.TextRegion(TextRegionConstants.ValidationCorrectErrors))

        <div class="container-fluid">

            @if (!Model.HideUserName)
            {
                <div class="row form-group">
                    <div class="col-xs-2">@Html.VpLabelFor(m => m.UserName)</div>
                    <div class="col-xs-3">@Html.VpTextBoxFor(m => m.UserName, new { @class = "form-control" })</div>
                </div>
            }

            @if (Model.IsSecureCodeRequired)
            {
                <div class="row form-group">
                    <div class="col-xs-2">
                        <a href="javascript:;" class="pull-right glyphicon glyphicon-info-sign" data-placement="right" title="The Secure Code is set by the Administrator during account setup and is required to access VisitPay. If you do not have this code, contact your Administrator." tabindex="-1"></a>
                        @Html.VpLabelFor(m => m.SecureCode, new { @class = "required" })
                    </div>
                    <div class="col-xs-3">@Html.PasswordFor(m => m.SecureCode, new { @class = "form-control" })</div>
                </div>
            }
            <div class="row form-group">
                <div class="col-xs-2">@Html.VpLabelFor(m => m.NewPassword)</div>
                <div class="col-xs-3">@Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })</div>
            </div>
            <div class="row form-group">
                <div class="col-xs-2">@Html.VpLabelFor(m => m.ConfirmPassword)</div>
                <div class="col-xs-3">@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })</div>
            </div>
            @if (Model.IsSecurityQuestionRequired)
            {
                <div class="row form-group">
                    <div class="col-xs-12">
                        Please answer one of your security questions to reset your password.
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-2">@Html.VpLabelFor(m => m.SecurityQuestion)</div>
                    <div class="col-xs-10"><span id="securityQuestionText">@Html.Raw(Model.SecurityQuestion)</span></div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-2">@Html.VpLabelFor(m => m.SecurityAnswer, new { @class = "required" })</div>
                    <div class="col-xs-4">@Html.VpTextBoxFor(m => m.SecurityAnswer)</div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-6 text-right">
                        <button type="button" class="btn btn-primary" id="btnChangeQuestion">Switch Question</button>
                    </div>
                </div>
            }
            <div class="row form-group">
                <div class="col-xs-offset-2 col-xs-10">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a href="@Url.Action("Index")" title="Cancel" class="btn btn-primary">Cancel</a>
                </div>
            </div>
        </div>
    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/scripts/account/reset-password")
}

