﻿@model Ivh.Web.Client.Models.Account.SecuritySetupViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="bar">Security Setup</h1>

<section id="section-securitysetup">
    @using (Html.BeginForm("SecuritySetup", "Account", FormMethod.Post, new { id = "frmSecuritySetup", autocomplete = "off" }))
    {
        @Html.Partial("_SecurityQuestions", Model.SecurityQuestions, new ViewDataDictionary { TemplateInfo = new TemplateInfo { HtmlFieldPrefix = "SecurityQuestions" } })
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.UserName)
    }
</section>

@section scripts {
    @Scripts.Render("~/bundles/scripts/account/security-setup")
}