﻿@model IList<Ivh.Common.Web.Models.Account.SecurityQuestionViewModel>

@section breadcrumbs {
    <ul>
        <li>@ClientDto.ClientBrandName</li>
        <li>Edit Security Questions</li>
    </ul>
}

<h1 class="bar">Edit Security Questions</h1>
<section id="section-securityquestions">
    @using (Html.BeginForm("SecurityQuestions", "Account", FormMethod.Post, new {id = "frmSecurityQuestions", autocomplete = "off"}))
    {
        @Html.Partial("_SecurityQuestions", Model)
        @Html.AntiForgeryToken()
    }
</section>

@section scripts {
    @Scripts.Render("~/bundles/scripts/account/security-questions")
}
