﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.VisitPay.Enums
@model Ivh.Common.Web.Models.Support.CreateSupportRequestViewModel

<a href="javascript:;" onclick="javascript:window.history.back();" class="back">@Html.TextRegion(TextRegionConstants.SubmitHelpRequest)</a>
<section id="section-support-request-create" class="container">
    <br/>
    @using (Html.BeginForm("CreateSupportRequest", "Support", new {area = ""}, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.VisitId)

        <a href="/mobile/Home/Faqs#" class="self-serve-text-link" data-piwik-click data-piwik-event-category="Help Center" data-piwik-event-name="Self serve hyperlink on customer care widget">
            <div class="self-serve-text-body">
                <p>@Html.Raw(Model.SelfServiceTextCmsVersionDto.ContentBody)</p>
            </div>
        </a>

        <div class="detail">

            @{
                string className = !Model.VisitId.HasValue && Model.Users.Count > 1 ? "select-visible" : "";
            }

            @if (Model.VisitId.HasValue)
            {

                if (Model.Users.Count > 1)
                {
                    <div class="@className">
                        <span class="pull-left text-light">@Html.TextRegion(TextRegionConstants.SubmittingFor):</span>
                        <div class="text-ellipsis text-right">

                            @Model.Visit.GuarantorName
                            @Html.HiddenFor(m => m.SubmittedForVisitPayUserId, Model.SubmittedForVisitPayUserId)

                        </div>
                    </div>
                    <hr class="light"/> 
                }
                <div>
                    <span class="pull-left text-light">@Html.TextRegion(TextRegionConstants.VisitDate):</span>
                    <div class="text-ellipsis text-right">@Model.Visit.DischargeDate</div>
                </div>
                <div>
                    <span class="pull-left text-light">@Html.TextRegion(TextRegionConstants.Description):</span>
                    <div class="text-ellipsis text-right">@Model.Visit.VisitDescription</div>
                </div>
                <div>
                    <span class="pull-left text-light">@Html.TextRegion(TextRegionConstants.Patient):</span>
                    <div class="text-ellipsis text-right">@Model.Visit.PatientName</div>
                </div>
            }
            else if (Model.Users.Count > 1)
            {
                <div class="@className">
                    <span class="pull-left text-light">@Html.TextRegion(TextRegionConstants.SubmittingFor):</span>
                    <div class="text-ellipsis text-right">

                        @Html.DropDownListFor(m => m.SubmittedForVisitPayUserId, Model.Users, new {@class = "form-control"})

                    </div>
                </div>
            }
        </div>
        <p>@Html.CmsRegion(CmsRegionEnum.CreateSupportRequestInstruction)</p>
        <div style="height: auto;">
            @Html.TextAreaFor(m => m.MessageBody, new {@class = "form-control", placeholder = Html.TextRegion(TextRegionConstants.InformationRequired) })
        </div>
        <br/>
        <p class="text-center">
            <button type="submit" class="btn btn-primary btn-75">@Html.TextRegion(TextRegionConstants.ButtonSubmit)</button>
        </p>
    }

</section>