﻿@using Ivh.Common.VisitPay.Constants
<a href="javascript:;" onclick="javascript: window.history.back();" class="back">
    @Html.TextRegion(TextRegionConstants.Close) <span data-bind="text: SupportRequestDisplayId"></span>
</a>
<section id="section-support-request-close" class="support-request container">
    <br />
    @Html.Partial("_SupportRequestDetails")
    @using (Html.BeginForm("CompleteSupportRequestAction", "Support", new { area = "" }, FormMethod.Post))
    {
        <p>@Html.TextRegion(TextRegionConstants.EnterNoteToCloseRequest):</p>
        <textarea class="form-control" placeholder="@Html.TextRegion(TextRegionConstants.ComposeReply)"></textarea>
        <br />
        <p class="text-center">
            <button type="submit" class="btn btn-primary btn-75">@Html.TextRegion(TextRegionConstants.ButtonSubmit)</button>
        </p>
    }
</section>
