﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.Web.Models.Support
@using Ivh.Web.Patient.Models.Support
@model Ivh.Common.Web.Models.Support.SupportRequestWidgetViewModel

@{
    string className = Model.SupportRequestMessages.Any() ? "" : "zero";
}

<button class="btn btn-grid-link widget widget-expandable widget-support-requests">
    <span class="header">
        <span class="count @className">@Model.SupportRequestMessages.Count</span>
        <span class="icon">
            <span class="glyphicon glyphicon-envelope"></span>
        </span>
        <span class="text">@Html.TextRegion(TextRegionConstants.CustomerCarePageHeading)</span>
    </span>
    <div class="list">
        @if (Model.SupportRequestMessages.Any())
        {
            <div class="row">
                <div class="col-xs-3">
                    <strong>@Html.TextRegion(TextRegionConstants.Date)</strong>
                </div>
                <div class="col-xs-9">
                    <strong>@Html.TextRegion(TextRegionConstants.Request)</strong>
                </div>
            </div>
            foreach (SupportRequestMessageListingViewModel message in Model.SupportRequestMessages)
            {
                <div class="row" onclick="javascript: window.VisitPayMobile.Common.OpenSupportRequest(@message.SupportRequestId);">
                    <div class="col-xs-3">@message.InsertDate</div>
                    <div class="col-xs-9"><a href="javascript:;" data-support-request-id="@message.SupportRequestId">@message.MessageBody</a></div>
                </div>
            }
        }

        <p class="self-serve-text" >
            @Html.Raw(Model.SelfServiceTextCmsVersionDto.ContentBody)
            </p>
            <p class="text-center">
                <a href="javascript:;" data-click="create-support-request" data-piwik-click data-piwik-event-category="CreateCustomerCareRequest" data-piwik-event-name="From customer care widget">@Html.TextRegion(TextRegionConstants.AskAQuestion)</a>
                @Html.ActionLink(Html.TextRegion(TextRegionConstants.ViewAll), "MySupportRequests", "Support")
            </p>
        </div>
</button>