﻿@using Ivh.Common.VisitPay.Constants
<a href="javascript:;" onclick="javascript: window.history.back();" class="back" data-bind="text: SupportRequestDisplayId"></a>
<section id="section-support-request" class="support-request container">
    <br/>
    @Html.Partial("_SupportRequestDetails")
    <div class="communication">
        <div class="actions">
            <select class="form-control pull-right" data-bind="options: Actions(), optionsCaption: '@Html.TextRegion(TextRegionConstants.IWantTo)', optionsText: 'text', optionsValue: 'value'"></select>
            <button class="btn btn-icon" data-bind="click: GuarantorMessages.ToggleSortOrder">
                <strong style="color: #333333;">Communications</strong>
                <em class="glyphicon" data-bind="css: { 'glyphicon-arrow-up': GuarantorMessages.SortOrder.IsAsc, 'glyphicon-arrow-down': GuarantorMessages.SortOrder.IsDesc }"></em>
            </button>
        </div>
        <div class="messages messages-guarantor">
            <ul>
                <!-- ko foreach: GuarantorMessages.Sorted -->
                <li>
                    <div class="title" data-bind="css: { 'sender-guarantor' : SupportRequestMessageType() == 1 }">
                        <button class="btn btn-icon glyphicon glyphicon-paperclip pull-right" data-bind="style: { 'visibility': HasAttachments() ? 'visible' : 'hidden' }"></button>
                        <div data-bind="text: InsertDate" class="pull-right"></div>
                        <div data-bind="text: VisitPayUserName"></div>
                    </div>
                    <div class="body">
                        <span class="more">&hellip;<a href="javascript:;">@Html.TextRegion(TextRegionConstants.More)</a></span>
                        <p>
                            <span data-bind="html: MessageBody"></span>
                            <span class="less pull-right"><a href="javascript:;">@Html.TextRegion(TextRegionConstants.Less)</a></span>
                        </p>
                    </div>
                </li>
                <!-- /ko -->
            </ul>
        </div>
        <br/>
        <p class="text-center">
            <button type="button" class="btn btn-primary btn-75" id="btnSendReply">@Html.TextRegion(TextRegionConstants.SendReply)</button>
        </p>
        <br/>
    </div>
</section>
