﻿@using Ivh.Common.VisitPay.Constants
<div class="detail-grid">
    <div class="detail">
        <strong class="text-right">
            <span data-bind="visible: IsOpen" class="pull-left open" style="display: none;">@Html.TextRegion(TextRegionConstants.Open)</span>
            <span data-bind="visible: IsClosed" class="pull-left closed" style="display: none;">@Html.TextRegion(TextRegionConstants.ClosedOn)</span>
            @Html.TextRegion(TextRegionConstants.RequestDetails)
        </strong>
        <div>
            <div class="grid">
                <div>
                    <span class="pull-left text-light">@Html.TextRegion(TextRegionConstants.Request) #:</span>
                    <div class="text-ellipsis text-right" data-bind="text: SupportRequestDisplayId"></div>
                </div>
                <div>
                    <span class="pull-left text-light">@Html.TextRegion(TextRegionConstants.RequestStatus):</span>
                    <div class="text-ellipsis text-right">
                        <span data-bind="visible: IsOpen()" style="display: none;">
                            @Html.TextRegion(TextRegionConstants.Opened) <span data-bind="text: CreatedDate"></span>
                        </span>
                        <span data-bind="visible: IsClosed()" style="display: none;">
                            @Html.TextRegion(TextRegionConstants.ClosedAsOf) <span data-bind="text: ClosedDate"></span>
                        </span>
                    </div>
                </div>
                <div>
                    <span class="pull-left text-light">@Html.TextRegion(TextRegionConstants.From):</span>
                    <div class="text-ellipsis text-right" data-bind="text: GuarantorFullName"></div>
                </div>
                <div>
                    <span class="pull-left text-light">@Html.TextRegion(TextRegionConstants.SubmittedFor):</span>
                    <div class="text-ellipsis text-right" data-bind="text: SubmittedFor"></div>
                </div>
                <div class="text-right" data-bind="visible: IsPreviousConsolidation">
                    <em class="text-danger">@Html.TextRegion(TextRegionConstants.PreviouslyConsolidatedRelationship)</em>
                </div>
                <!-- ko if: HasVisit -->
                <div>
                    <hr class="light" />
                </div>
                <div>
                    <span class="pull-left text-light">@Html.TextRegion(TextRegionConstants.Visit) #:</span>
                    <div class="text-ellipsis text-right" data-bind="text: VisitSourceSystemKeyDisplay"></div>
                </div>
                <div>
                    <span class="pull-left text-light">@Html.TextRegion(TextRegionConstants.VisitDate):</span>
                    <div class="text-ellipsis text-right" data-bind="text: TreatmentDate"></div>
                </div>
                <div>
                    <span class="pull-left text-light">@Html.TextRegion(TextRegionConstants.Description):</span>
                    <div class="text-ellipsis text-right" data-bind="text: VisitDescription"></div>
                </div>
                <div>
                    <span class="pull-left text-light">@Html.TextRegion(TextRegionConstants.Patient):</span>
                    <div class="text-ellipsis text-right" data-bind="text: PatientFullName"></div>
                </div>
                <!-- /ko -->
            </div>
        </div>
    </div>
</div>
