﻿@using Ivh.Common.VisitPay.Constants
<a href="javascript:;" onclick="javascript: window.history.back();" class="back">View Attachments</a>
<section id="section-support-request-attachments" class="container">
    <br />
    <div class="grid">
        <!-- ko foreach: Attachments -->
        <div class="mobile-link">
            <a href="javascript:;" class="grid-link pull-right"></a>
            <div class="pull-right" data-bind="text: InsertDate"></div>
            <div class="text-ellipsis file">
                <span data-bind="attr: { class: 'pull-left icon-file-type ' + $root.GetFileType(MimeType) }"></span>
                <span data-bind="text: AttachmentFileName"></span>
            </div>
        </div>
        <!-- /ko -->
        <br/>
        <p class="text-center">
            <button type="button" class="btn btn-primary btn-small btn-75" title="@Html.TextRegion(TextRegionConstants.DownloadAll)" id="btnDownloadAll">@Html.TextRegion(TextRegionConstants.DownloadAll)</button>
        </p>
    </div>
</section>
