﻿@using Ivh.Common.VisitPay.Constants
<a href="javascript:;" onclick="javascript: window.history.back();" class="back">
    <span data-bind="text: SupportRequestDisplayId"></span>
    - @Html.TextRegion(TextRegionConstants.Reply)
</a>
<section id="section-support-request-reply" class="support-request container">
    <br/>
    @Html.Partial("_SupportRequestDetails")
    @using (Html.BeginForm("SaveMessage", "Support", new { area = "" }, FormMethod.Post))
    {
        <textarea class="form-control" placeholder="@Html.TextRegion(TextRegionConstants.ComposeReply)"></textarea>
        <br/>
        <p class="text-center">
            <button type="submit" class="btn btn-primary btn-75">@Html.TextRegion(TextRegionConstants.SendReply)</button>
        </p>
    }
</section>
