﻿@using Ivh.Common.VisitPay.Constants
@Html.Action("HealthEquitySsoSetup", "Sso")
@section scripts {
    @Scripts.Render("~/bundles/mobile/scripts/supportrequest", "~/bundles/mobile/scripts/supportrequests", "~/bundles/mobile/scripts/sso/healthEquityWidget")
}

@section Back {
    <a href="@Url.Action("Index", "Home")" title="@Html.TextRegion(TextRegionConstants.HomePageHeading)"><em class="glyphicon glyphicon-chevron-left"></em></a>
}

@section PageTitle {
    @Html.TextRegion(TextRegionConstants.CustomerCarePageHeading)
}

@Html.Partial("_MySupportRequests")