﻿@import '../_variables.scss';
@import '../_mixins.scss';
@import '../../../../../Content/Bootstrap/css/bootstrap/_mixins.scss';

.overlay-healthequity {

    $top: 15px;
    $logo-height: 45px;
    $logo-width: 957/248 * $logo-height;

    background-image: url('/Content/Images/healthEquity-sso-logo.png'); //957x248
    background-color: transparent;
    background-position: center $top;
    background-repeat: no-repeat;
    background-size: $logo-width $logo-height;
    padding-bottom: 30px;
    padding-top: $top + $logo-height + $top;
    padding-left: 15px;
    padding-right: 15px;

    .btn-50 {
        max-width: 50%;
    }

    &#section-hqy-no-sso {

        #aMore {
            position: relative;

            &:after {
                right: -18px;
                position: absolute;
                top: 1px;
            }

            &:not(.expanded) {
                &:after {
                    @include glyphicon('\e258');
                }
            }

            &.expanded {
                &:after {
                    @include glyphicon('\e259');
                }
            }
        }

        .btn-small {
            max-width: 60%;
        }
    }

    &#section-hqy-sso {

        .balances {

            &.loading {
                color: $vp-gray-light;

                .separator {
                    hr {
                        border-color: $vp-gray-lighter !important;
                    }
                }

                .balance-loading {
                    background: url('/Content/Images/loading.gif');
                    background-position: center top;
                    background-repeat: no-repeat;
                    background-size: 30px;
                    color: $text-color;
                    display: block;
                    font-style: italic;
                    height: 66px;
                    padding-top: 45px;
                    text-align: center;
                }
            }

            &:not(.loading) {
                .balance-loading {
                    display: none;
                }
            }

            > div.row {

                #divHqyBalanceMessage {
                    position: relative;

                    .balance-na {
                        font-size: 13px;
                        font-style: italic;
                    }

                    .balance-current {
                        font-size: 13px;
                    }
                }

                &.separator {
                    hr {
                        background: $vp-gray-dark;
                        border-top-width: 2px;
                        margin-bottom: 4px;
                        margin-top: 7px;
                    }
                }

                &.sum {
                    > div {
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

#section-hqy-balance {
    .healthequity-hsa-balance {
        font-weight: bold;
    }
}

#section-home {
    div.widgets {
        .widget.btn-grid-link {
            &.widget-healthequity {
                > span.header {
                    > span.icon {
                        > img {
                            max-height: 36px;
                            max-width: 36px;
                        }
                    }

                    > span.balance {
                        display: block;
                    }
                }
            }

            &.widget-healthequity-with-balance {
                > span.header {
                    line-height: 17px;
                }
            }
        }
    }
}
