﻿@import '../_variables.scss';
@import '../../../../../Content/Bootstrap/css/bootstrap/_mixins.scss';

#section-sso-settings {

    .provider {
        .manage {

            hr {
                margin-top: 0;
            }

            .row.header {
                margin-bottom: 15px;
            }
            .row.sso {
                line-height: 34px;
                > div {
                    white-space: nowrap;
                }
            }
        }
    }

    /*form {
        margin-top: 15px;
        button {
            font-size: 14px;
            @extend .btn-75;
        }
        input[type=checkbox] {
            float: left;
            margin-bottom: 20px;
        }
        label {
            margin-left: -20px;
            padding-left: 24px;
            text-align: left;
        }
        p {
            @include clearfix();
        }
    }*/
}