﻿@import '../_variables.scss';

#section-sso-terms {
    .terms {
        border: 1px solid $vp-gray-light;
        padding: 10px;
    }
    form {
        margin-top: 30px;
        .col-xs-12 + .col-xs-12 {
            margin-top: 15px;
        }
    }
}

#overlay-terms-action {
    > section {
        padding: 15px;
        > form {
            border: 0;
            box-shadow: none;
            > div.ignore {
                input[type=checkbox] {
                    float: left;
                }
                label {
                    margin-left: -20px;
                    padding-left: 24px;
                    text-align: left;
                }
            }
            > div:last-of-type {
                margin-top: 30px;
            }
        }
    }
}