﻿@model Ivh.Web.QATools.Models.DemoVisitPayUserResetViewModel

<div id="reset-user-container">
    <h4>Reset a Demo User</h4>
    <div id="reset-user-message" class="success"></div>
    <div id="form-container">
        @using (Html.BeginForm("ResetDemoVisitPayUser", "Home", FormMethod.Post, new {id = "frmResetDemoUser"}))
        {
            @Html.LabelFor(m => m.DemoVisitPayUserName)
            @Html.DropDownListFor(m => m.DemoVisitPayUserName, new SelectList(Model.UserNames), new {@class = "form-control"})
            @Html.LabelFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password, "", new {@class = "text-danger"})
            @Html.PasswordFor(m => m.Password, new {@class = "form-control"})
            <button class="btn btn-primary" type="submit" id="btnResetDemoUser">Reset User</button>
        }</div>
</div>