﻿@model Ivh.Web.QATools.Models.QaToolsDataDeploymentViewModel

@using (Html.BeginForm("RedeployQaToolsData", "Deployment", FormMethod.Post))
{
    <h4>Reset Demo Data</h4>
    <div>
        This will reset the test user data for the selected client. It may take a few minutes.
    </div>
    <br/>
    @Html.LabelFor(m => m.ClientName)
    <br/>
    @Html.TextBoxFor(m => m.ClientName)
    <br/><br/><br/>
    <button class="btn btn-primary" type="submit" id="bntResetData" disabled>Reset Data</button>
    <br /><br />
    <div>
        <input type="checkbox" id="deployConfirmation" value="agree"> Please check this box to confirm you really want to reset the demo data
    </div>
    <br /><br />
    <h4>Reset Demo Event History Table</h4>
    <div>
        <table id="resetDataHistoryGrid"></table>
        <div id="resetDataHistoryPager"></div>
    </div>
}

@Scripts.Render("~/bundles/scripts/jquery")
@Scripts.Render("~/bundles/scripts/resetdata")
<script>
    $(document).ready(function() {
        $('#deployConfirmation').prop('checked', false);
        $('#deployConfirmation').change(function() {
            if (this.checked) {
                $('#bntResetData').prop('disabled', false);
            } else {
                $('#bntResetData').prop('disabled', true);
            }
        });
        refreshGrid();
    });
</script>
