﻿@model Ivh.Web.QATools.Models.HomeViewModel

<h1 style="margin-top: 0;">Home</h1>

@if (Model.ResetDataModel != null)
{
    <hr />
    @Html.Partial("_ResetData", Model.ResetDataModel)
}
<hr />
@Html.Action("ExportPersonas", "Guarantors")

@*Html.Partial("_ResetDemoVisitPayUser", Model.DemoVisitPayUserReset)*@

@section scripts{
    <script src="~/Views/Home/index.js"></script>
}

@section styles{
    <link href="~/Content/reset-demo-user.css" rel="stylesheet" />
}
