﻿@using Ivh.Application.Email.Common.Dtos
@model  IList<CommunicationDto>

<div class="row text-center">
    <span class="lead"><strong>View Last Emails Sent</strong></span>
</div>

<div class="row text-center" style="margin:50px;">
    @if (Model.Count == 0)
    {
        <span class="lead text-center">No data found.</span>
    }
    else
    {   
        <table class="table table-striped table-hover table-bordered table-responsive">
            <tr>
                <th>Date first sent</th>
                <th>To Address</th>
                <th>Email Subject</th>
                <th>Content</th>
                <th>Email Status</th>
            </tr>
            @foreach (var emailDto in Model)
            {
            <tr>
                <td>@emailDto.CreatedDate.ToString("MM/dd/yyyy")</td>
                <td class="text-left">@emailDto.ToAddress</td>
                <td class="text-left">@emailDto.Subject</td>
                <td><a href="javascript:;" title="Display the contents of the email" data-content="@emailDto.Body" class="show-content-anchor">Show Content</a></td>
                <td>@emailDto.CommunicationStatus</td>
            </tr>
            }
        </table>
    }
</div>

<div id="modal-email-content" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">Email Content</h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script type="text/javascript">
        (function () {
            $('.show-content-anchor').click(function () {
                var content = $(this).attr('data-content').replace(/(^\s+|\s+$)/g, '').replace(/\\r\\n/g, '<br/>').replace(/\\r/g, '<br/>').replace(/\\n/g, '<br/>');
                var modalContainer = $('#modal-email-content');

                modalContainer.find('.modal-body').html(content);
                modalContainer.modal();
            });
        })();
    </script>
    
}