﻿@import '../_variables.scss';
@import '../_mixins-common.scss';
@import '../../Bootstrap/css/bootstrap/_variables.scss';

#section-landing {
    padding-left: 70px;
    padding-right: 70px;

    h1 {
        font-size: 26px;

        > em {
            color: lighten($brand-primary, 10%);
            font-size: 16px;
        }
    }

    ol {
        list-style: none;
        margin: 0;
        padding: 0;

        > li {
            padding-bottom: 10px;
            padding-left: 34px;
            position: relative;

            > em {
                background: #8db241;
                border-radius: 12px;
                color: #ffffff;
                display: block;
                font-style: normal;
                height: 24px;
                left: 0;
                line-height: 21px;
                position: absolute;
                text-align: center;
                top: 1px;
                width: 24px;
            }

            > strong {
                display: block;
                font-weight: 600;
                line-height: 21px;
                margin: 0 0 6px 0;
            }
        }
    }

    .row.title {
        margin-bottom: 15px;

        h3 {
            font-weight: 600;
        }
    }

    .row.content {
        margin-bottom: 30px;

        > div:first-child {
            border-color: $vp-gray-light;
            border-style: solid;
            border-width: 0 1px 0 0;
        }
    }

    .row.button-row {
        margin-top: 20px;

        .btn {
            min-width: 130px;
        }

        .text {
            padding-top: 10px;
        }
    }

    .btn {
        font-size: 16px;
        font-weight: 400;
        padding-bottom: 3px;
        padding-top: 3px;
    }

    #aPayNow {
        margin-top: 15px;
        min-width: 100px;
    }
}