﻿@using Ivh.Common.Base.Utilities.Extensions
@model Ivh.Web.Client.Models.Admin.JournalEventResultsViewModel

<div id="modalAuditEventLogDetails" class="modal modal-vcenter fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">Event Journal</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <!--<div class="col-xs-2"><strong>Event Type:</strong></div>-->
                    <div class="col-xs-10"><strong>@Model.Message</strong></div>
                </div>
                <br />
                <div class="row">
                    <div class="col-xs-2">@Html.VpLabelFor(m => m.EventDate):</div>
                    <div class="col-xs-3">@Model.EventDate</div>

                    <div class="col-xs-2">@Html.VpLabelFor(m => m.Application):</div>
                    <div class="col-xs-5">@Model.Application</div>
                </div>
                <div class="row">
                    <div class="col-xs-2">@Html.VpLabelFor(m => m.EventVisitPayUserId):</div>
                    <div class="col-xs-3">@Model.EventVisitPayUserId</div>

                    <div class="col-xs-2">@Html.VpLabelFor(m => m.DeviceType):</div>
                    <div class="col-xs-5">@Model.DeviceType</div>
                </div>
                <div class="row">
                    <div class="col-xs-2">@Html.VpLabelFor(m => m.UserName):</div>
                    <div class="col-xs-3">
                        @if (Model.VpGuarantorIdUserName > 0)
                        {
                            <a href="/Search/GuarantorAccount/@Model.VpGuarantorIdUserName">@Model.UserName</a>
                        }
                        else
                        {
                            @Model.UserName
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2">@Html.VpLabelFor(m => m.VpGuarantorId):</div>
                    <div class="col-xs-3">
                        @if (Model.VpGuarantorId.IsNotNullOrEmpty())
                        {
                            <a href="/Search/GuarantorAccount/@Model.VpGuarantorId">@Model.VpGuarantorId</a>
                        }
                    </div>

                    <div class="col-xs-2">@Html.VpLabelFor(m => m.IpAddress):</div>
                    <div class="col-xs-5">@Model.IpAddress</div>
                </div>
                <div class="row">
                    <div class="col-xs-2">@Html.VpLabelFor(m => m.VisitPayUserId):</div>
                    <div class="col-xs-3">
                        @if (Model.VpGuarantorIdTargetUserId > 0)
                        {
                            <a href="/Search/GuarantorAccount/@Model.VpGuarantorIdTargetUserId">@Model.VisitPayUserId</a>
                        }
                        else
                        {
                            @Model.VisitPayUserId
                        }
                    </div>

                    <div class="col-xs-2">@Html.VpLabelFor(m => m.UserAgent):</div>
                    <div class="col-xs-5">@Model.UserAgent</div>
                </div>
                <br />
                @if (Model.AdditionalDataDictionary != null)
                {
                    <div id="additionalData">
                        <div><strong>Additional Data:</strong></div>
                        @{
                            foreach (KeyValuePair<string,string> additionalDatum in Model.AdditionalDataDictionary)
                            {
                                <div class="row">
                                    <div class="col-xs-2">
                                        @additionalDatum.Key:
                                    </div>
                                    <div class="col-xs-10 datum-value">
                                        @additionalDatum.Value
                                    </div>
                                </div>
                            }
                        }
                    </div>
                }
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-primary" data-dismiss="modal" title="Close">Close</button>
            </div>
        </div>
    </div>
</div>
