﻿@model Ivh.Web.Client.Models.Admin.JournalEventFilterViewModel

<section id="section-journaleventlog">

    <form class="jqGridFilter container" id="jqGridFilterJournalEvents" autocomplete="off" novalidate="novalidate">
        <div class="alert alert-info collapse" data-bind="css: { collapse: RunResults() == false }">
            Click <strong>Run</strong> to update your results
        </div>
        <div class="row">
            <div class="col">@Html.LabelFor(m => m.JournalEventCategory)</div>
            <div class="col">@Html.LabelFor(m => m.JournalEventType)</div>
            <div class="col">@Html.LabelFor(m => m.BeginDate)</div>
            <div class="col">@Html.LabelFor(m => m.EndDate)</div>
            <div class="col">@Html.LabelFor(m => m.UserNameFilter)</div>
            @if (!Model.HideVpGuarantorFilter)
            {
                <div class="col">@Html.LabelFor(m => m.VpGuarantorId)</div>
            }
            else
            {
                <div class="col"></div>
            }

            <div class="col"></div>
            <div class="col text-right">
                <button type="submit" class="btn btn-primary" id="btnGridFilterJournalEventsSubmit">Run</button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                @Html.DropDownListFor(m => m.JournalEventType, Model.JournalEventCategories, "--Event Trigger--", new { @class = "form-control", data_bind = "value: JournalEventCategory", data_val = "false" })
            </div>
            <div class="col">
                @Html.DropDownListFor(m => m.JournalEventType, Model.JournalEventTypes, "--Event Type--", new { @class = "form-control", data_bind = "value: JournalEventType", data_val = "false" })
            </div>
            <div class="col">
                @Html.VpTextBoxFor(m => m.BeginDate, new { data_bind = "dateTimePicker: BeginDate, dateTimePickerOptions: { format: 'MM/DD/YYYY hh:mm:ss A', keepInvalid: true}", @class = "form-control" })
            </div>
            <div class="col">
                @Html.VpTextBoxFor(m => m.EndDate, new { data_bind = "dateTimePicker: EndDate, dateTimePickerOptions: { format: 'MM/DD/YYYY hh:mm:ss A', keepInvalid: true}", @class = "form-control" })
            </div>

            <div class="col">@Html.VpTextBoxFor(m => m.UserNameFilter, new { data_bind = "value: UserNameFilter", @class = "form-control" })</div>

            @if (!Model.HideVpGuarantorFilter)
            {
                <div class="col">@Html.VpTextBoxFor(m => m.VpGuarantorId, new { data_bind = "value: VpGuarantorId", data_numeric = true, @class = "form-control" })</div>
            }
            else
            {
                <div class="col">@Html.HiddenFor(m => m.VpGuarantorId, new { data_bind = "value: VpGuarantorId", data_numeric = true, @class = "form-control" })</div>
            }
            <div class="col"></div>
            <div class="col text-right">
                <button type="reset" class="btn btn-primary" id="btnGridFilterJournalEventsReset">Reset</button>
            </div>
        </div>
    </form>
    <br />
    <div id="gridJournalEventLogs"></div>

</section>
