﻿@model Ivh.Web.Client.Models.Admin.AuditLogReviewFilterViewModel
<h1 class="bar">View Audit Reviews</h1>

<section id="section-auditlogreview">
    <form class="jqGridFilter container" id="jqGridFilter" autocomplete="off">
        <div class="alert alert-info collapse" data-bind="css: { collapse: RunResults() == false }">
            Click <strong>Run</strong> to update your results
        </div>
        <div class="row">
            <div class="col">@Html.LabelFor(m => m.BeginDate)</div>
            <div class="col">@Html.LabelFor(m => m.EndDate)</div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col text-right">
                <button type="submit" class="btn btn-primary" id="btnGridFilterSubmit">Run</button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="input-group date">
                    @Html.VpTextBoxFor(m => m.BeginDate, new { data_bind = "value: BeginDate" })
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
            <div class="col">
                <div class="input-group date">
                    @Html.VpTextBoxFor(m => m.EndDate, new { data_bind = "value: EndDate" })
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col text-right">
                <button type="reset" class="btn btn-primary" id="btnGridFilterReset">Reset</button>
            </div>
        </div>
    </form>
    <input type="image" title="Export To Excel" id="btnAuditLogsExport" src="~/Content/Images/excel.png" class="export-excel" style="float: right;" />
    <br />
    <div id="gridAuditLogs"></div>
</section>
@section scripts {
    @Scripts.Render("~/bundles/scripts/admin/auditlogreview")
}
