﻿@model Ivh.Web.Client.Models.Admin.JournalEventFilterViewModel
<h1 class="bar">
    Journal Event Logs
    <input type="image" title="Export To Excel" id="btnJournalEventLogExport" src="~/Content/Images/excel.png" class="export-excel" />
</h1>

@Html.Partial("_AuditEventLog", Model)

@section modals {
    <div id="modalJournalEventLogDetailsContainer"></div>
}

@section scripts {
    @Scripts.Render("~/bundles/scripts/admin/auditEventLog")
    <script>
        (function() {
            var journalEventLogFilter = new window.VisitPay.JournalEventLogFilter.Main(@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model)));
        })();
    </script>
}