﻿@using Ivh.Common.VisitPay.Strings
@using NHibernate.Criterion
@model Ivh.Web.Client.Models.Admin.ClientUserSearchFilterViewModel

@section breadcrumbs {
    <ul>
        <li>@base.ClientDto.ClientBrandName</li>
        <li>Client User Management</li>
    </ul>
}

<h1 class="bar">
    Client User Management
    <input type="image" title="Export To Excel" id="btnUserExport" src="~/Content/Images/excel.png" class="export-excel" style="float: right;" />
</h1>
@if (User.IsInRole(VisitPayRoleStrings.Restricted.IvhUserAuditor))
{
    if (Model.LastIvhUserAudit.HasValue)
    {
        <p>Last iVinci Audit Completed on @base.TimeZoneHelper.Client.ToLocalDateTime(Model.LastIvhUserAudit.Value).ToString("d")</p>
    }
    else
    {
        <p>No iVinci Audit has been performed</p>
    }
}
@if (User.IsInRole(VisitPayRoleStrings.Restricted.ClientUserAuditor))
{
    if (Model.LastClientUserAudit.HasValue)
    {
        <p>Last Client Audit Completed on @base.TimeZoneHelper.Client.ToLocalDateTime(Model.LastClientUserAudit.Value).ToString("d")</p>
    }
    else
    {
        <p>No Client Audit has been performed</p>
    }
}
<section id="section-clientusermanagement">
    <br />
    <form class="jqGridFilter container" id="jqGridFilter" autocomplete="off">
        <div class="alert alert-info collapse" data-bind="css: { collapse: RunResults() == false }">
            Click <strong>Run</strong> to update your results
        </div>
        <div class="row">
            <div class="col">@Html.VpTextBoxFor(m => m.LastName, new { data_bind = "value: LastName" })</div>
            <div class="col">@Html.VpTextBoxFor(m => m.FirstName, new { data_bind = "value: FirstName" })</div>
            <div class="col">@Html.VpTextBoxFor(m => m.Username, new { data_bind = "value: UserName" })</div>
            <div class="col">@Html.DropDownListFor(m => m.VisitPayRoleId, Model.VisitPayRoles, "-- Select Role --", new { @class = "form-control", data_bind = "value: VisitPayRoleId" })</div>
            <div class="col text-right">
                @if (User.IsInRole(VisitPayRoleStrings.Restricted.IvhUserAuditor) || User.IsInRole(VisitPayRoleStrings.Restricted.ClientUserAuditor))
                {
                    <a href="@Url.Action("CertifyAudit", "Admin")" class="btn btn-primary" id="btnCertifyAudit">Ceritfy Audit</a>
                }
                <br />
                @if (User.IsInRole(VisitPayRoleStrings.Miscellaneous.IvhAdmin) || User.IsInRole(VisitPayRoleStrings.Miscellaneous.ClientUserManagement))
                {
                    <a href="@Url.Action("ClientUser", "Admin")" class="btn btn-primary">Add User</a>
                }
            </div>
            <div class="col text-right">
                <button type="submit" class="btn btn-primary" id="btnGridFilterSubmit">Run</button>
                <button type="reset" class="btn btn-primary" id="btnGridFilterReset">Reset</button>
            </div>
        </div>
    </form>
    <div id="gridUsers"></div>
</section>

@section modals
{
    <div id="modalCertifyAudit" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-md">
            <form class="modal-content" autocomplete="off">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    <h4 class="modal-title">Confirm Audit Completion</h4>
                </div>
                <div class="modal-body">
                    <p>@ViewBag.ConfirmationLabel</p>
                    <textarea id="txtNotes" rows="4" placeholder="If there are any issues with the audit, add notes here" class="form-control message"></textarea>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-primary" id="btnComplete">Complete</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="btnCancel">Cancel</button>
                </div>
            </form>
        </div>
    </div>
}

@section scripts {
    @Scripts.Render("~/bundles/scripts/admin/clientusermanagement")
}
