﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.VisitPay.Strings
@model Ivh.Web.Client.Models.Admin.ClientUserViewModel

@{
    string resetAccountText = "Reset account clears a user's security settings.";
}

@section css {
}

@section breadcrumbs {
    <ul>
        <li>@base.ClientDto.ClientBrandName</li>
        <li>Client User</li>
    </ul>
}

@if (Model.VisitPayUserId.HasValue)
{
    <h1 class="bar">Edit Client User - @Model.FirstNameLastName</h1>
}
else
{
    <h1 class="bar">Add Client User</h1>
}

<section id="section-clientuser">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.VisitPayUserId)
        @Html.HiddenFor(m => m.IsSecureCodeRequired)
        
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-offset-3 col-xs-9">
                    @Html.ValidationSummary(Html.TextRegion(TextRegionConstants.ValidationCorrectErrors))
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-offset-3 col-xs-2">@Html.VpLabelFor(m => m.UserName)</div>
                <div class="col-xs-3">
                    @if (Model.VisitPayUserId.HasValue)
                    {
                        @Html.HiddenFor(m => m.UserName)
                        @Model.UserName
                    }
                    else
                    {
                        @Html.VpTextBoxFor(m => m.UserName)
                    }
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-offset-3 col-xs-2">@Html.VpLabelFor(m => m.Email)</div>
                <div class="col-xs-3">@Html.VpTextBoxFor(m => m.Email)</div>
            </div>
            <div class="row form-group">
                <div class="col-xs-offset-3 col-xs-2">@Html.VpLabelFor(m => m.FirstName)</div>
                <div class="col-xs-3">@Html.VpTextBoxFor(m => m.FirstName)</div>
            </div>
            <div class="row form-group">
                <div class="col-xs-offset-3 col-xs-2">@Html.VpLabelFor(m => m.LastName)</div>
                <div class="col-xs-3">@Html.VpTextBoxFor(m => m.LastName)</div>
            </div>

            <div class="row form-group">
                <div class="col-xs-offset-3 col-xs-2">@Html.VpLabelFor(m => m.VisitPayRoleStrings)</div>
                <div class="col-xs-3">
                    @if (Model.IsCurrentUser && !Model.VisitPayRoleStrings.Contains(VisitPayRoleStrings.Miscellaneous.IvhAdmin))
                    {
                        @Html.HiddenFor(m => m.VisitPayRoleStrings)
                        foreach (string role in Model.VisitPayRoleStrings)
                        {
                            @role<br />
                        }
                    }
                    else
                    {
                        @Html.CheckBoxListFor(m => m.VisitPayRoleStrings, Model.VisitPayRoles)
                    }
                </div>
            </div>

            @if (Model.VisitPayUserId.HasValue && !Model.IsCurrentUser)
            {
                <div class="row form-group">
                    <div class="col-xs-offset-3 col-xs-2"></div>
                    <div class="col-xs-2">
                        <button type="button" title="Reset Password" class="btn btn-primary" id="btnResetPassword" style="width: 100%">Reset Password</button>
                    </div>
                </div>
            }
            
            <hr/>

            @if (Model.VisitPayUserId.HasValue && !Model.IsCurrentUser)
            {
                <div class="row form-group">
                    <div class="col-xs-offset-3 col-xs-2">Account Reset:</div>
                    <div class="col-xs-3">@Html.CheckBoxFor(m => m.IsAccountReset, new { id = "IsReset" })</div>
                    <div class="col-xs-4" style="padding-left: 0; padding-top: 4px;">
                        <a href="javascript:;" class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="@resetAccountText"></a>
                    </div>
                </div>
            }
            <div class="row form-group" id="rowResetAccount">
                @if (Model.IsSecureCodeRequired)
                {
                    <div class="col-xs-offset-3 col-xs-2">@Html.VpLabelFor(m => m.SecurityValidationValue, new {@class = "required", @id = "SecureCodeLabel"})</div>
                }
                else
                {
                    <div class="col-xs-offset-3 col-xs-2">@Html.VpLabelFor(m => m.SecurityValidationValue, new { @id = "SecureCodeLabel" })</div>
                }
                <div class="col-xs-2">@Html.VpTextBoxFor(m => m.SecurityValidationValue, new {@class = "form-control", @readonly = "readonly"})</div>
                <div class="col-xs-1" style="padding-left: 0;">
                    <button type="button" class="btn btn-primary" id="btnGenerateSecureCode" style="width: 100%;">Generate</button>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-offset-3 col-xs-7" id="secureCodeHelp"></div>
            </div>

            <hr/>

            @if (Model.VisitPayUserId.HasValue)
            {
                <div class="row form-group">
                    <div class="col-xs-offset-3 col-xs-2">Last Login:</div>
                    <div class="col-xs-3">@Model.LastLoginDate</div>
                </div>
                if (!Model.IsCurrentUser)
                {
                    <div class="row form-group">
                        <div class="col-xs-offset-3 col-xs-2">Account Locked:</div>
                        <div class="col-xs-3">
                            @Html.CheckBoxFor(m => m.IsLocked)
                            @if (Model.IsLocked)
                            {
                                <span class="small" style="float: right; line-height: 19px;">&nbsp; locked until @Model.LockoutEndDateUtc</span>
                            }
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-offset-3 col-xs-2">Account Disabled:</div>
                        <div class="col-xs-3">@Html.CheckBoxFor(m => m.IsDisabled)</div>
                    </div>            
                }
            }

            <div class="row form-group">
                <div class="col-xs-12 text-center">
                    <button type="submit" class="btn btn-primary" title="Submit">Submit</button>
                    <a href="@Url.Action("ClientUserManagement")" class="btn btn-primary" title="Cancel">Cancel</a>
                </div>
            </div>
        </div>
    }
</section>

@section scripts {
    <script src="~/Scripts/Admin/clientUser.js"></script>
}
