﻿@using Ivh.Common.VisitPay.Strings
@model Ivh.Web.Client.Models.Admin.PciAuditFilterViewModel
<h1 class="bar">Review PCI Logs</h1>
<p>@ViewBag.PageLabel</p>
@if (User.IsInRole(VisitPayRoleStrings.Restricted.IvhPciAuditor))
{
    if (Model.LastIvhAudit.HasValue)
    {
        <p>Last iVinci Audit Completed on @base.TimeZoneHelper.Client.ToLocalDateTime(Model.LastIvhAudit.Value).ToString("d")</p>
    }
    else
    {
        <p>No iVinci Audit has been performed</p>
    }
}
@if (User.IsInRole(VisitPayRoleStrings.Restricted.ClientPciAuditor))
{
    if (Model.LastClientAudit.HasValue)
    {
        <p>Last Client Audit Completed on @base.TimeZoneHelper.Client.ToLocalDateTime(Model.LastClientAudit.Value).ToString("d")</p>
    }
    else
    {
        <p>No Client Audit has been performed</p>
    }
}

<section id="section-pciaudit">
    <form class="jqGridFilter container" id="jqGridFilter" autocomplete="off">
        <div class="alert alert-info collapse" data-bind="css: { collapse: RunResults() == false }">
            Click <strong>Run</strong> to update your results
        </div>
        <div class="row">
            <div class="col">@Html.LabelFor(m => m.BeginDate)</div>
            <div class="col">@Html.LabelFor(m => m.EndDate)</div>
            <div class="col"></div>
            <div class="col text-right">
                <button type="submit" class="btn btn-primary" id="btnGridFilterSubmit">Run</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary" id="btnConfirmAudit">Confirm Completion of Audit</button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="input-group date">
                    @Html.VpTextBoxFor(m => m.BeginDate, new { data_bind = "value: BeginDate" })
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    @Html.HiddenFor(m => m.BeginTime)
                </div>
            </div>
            <div class="col">
                <div class="input-group date">
                    @Html.VpTextBoxFor(m => m.EndDate, new { data_bind = "value: EndDate" })
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    @Html.HiddenFor(m => m.EndTime)
                </div>
            </div>
            <div class="col">
            </div>
            <div class="col text-right">
                <button type="reset" class="btn btn-primary" id="btnGridFilterReset">Reset</button>
            </div>
            <div class="col">
            </div>
        </div>
    </form>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#user-active" role="tab" data-toggle="tab">PCI User Access Log</a></li>
        <li><a href="#user-change" role="tab" data-toggle="tab">PCI User Change Log</a></li>
        <li><a href="#user-change-detail" role="tab" data-toggle="tab">PCI User Change Details</a></li>
        <li><a href="#role-change" role="tab" data-toggle="tab">PCI Role Change Log</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="user-active">
            <input type="image" title="Export To Excel" id="btnUserActiveExport" src="~/Content/Images/excel.png" class="export-excel" style="float: right;" />
            <br />
            <div id="gridUserAccess"></div>
        </div>
        <div class="tab-pane" id="user-change">
            <input type="image" title="Export To Excel" id="btnUserChangeExport" src="~/Content/Images/excel.png" class="export-excel" style="float: right;" />
            <br />
            <div id="gridUserChange"></div>
        </div>
        <div class="tab-pane" id="user-change-detail">
            <input type="image" title="Export To Excel" id="btnUserChangeDetailExport" src="~/Content/Images/excel.png" class="export-excel" style="float: right;" />
            <br />
            <div id="gridUserChangeDetails"></div>
        </div>
        <div class="tab-pane" id="role-change">
            <input type="image" title="Export To Excel" id="btnRoleChangeExport" src="~/Content/Images/excel.png" class="export-excel" style="float: right;" />
            <br />
            <div id="gridRoleChange"></div>
        </div>
    </div>
</section>

<script>
    var initialData = @Html.Raw(ViewBag.InitialData);
</script>

@section modals
{
    <div id="modalConfirmAudit" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-md">
            <form class="modal-content" autocomplete="off" >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    <h4 class="modal-title">Confirm Audit Completion</h4>
                </div>
                <div class="modal-body">
                    <p>@ViewBag.ConfirmationLabel</p>
                    <textarea id="txtNotes" rows="4" placeholder="If there are any issues with the audit, add notes here" class="form-control message"></textarea>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-primary" id="btnComplete">Complete</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="btnCancel">Cancel</button>
                </div>
            </form>
        </div>
    </div>
}

@section scripts {
    @Scripts.Render("~/bundles/scripts/admin/pciaudit")
}
