﻿@section css {
}

@section breadcrumbs {
    <ul>
        <li>@ClientDto.ClientBrandName</li>
        <li>Resolve System Exceptions</li>
    </ul>
}

<h1 class="bar">Resolve System Exceptions</h1>

<section id="section-resolve">
    @using (Html.BeginForm("ResolveSystemExceptions", "Admin", FormMethod.Post, new {@class = "form-horizontal"}))
    {
        <p><strong>Fix ACH Return after Settlement</strong>
        </p>
        <p><em>Enter details from the system exception.</em>
        </p>
        <div class="col-xs-2">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <input type="text" name="TransactionId" id="TransactionId" placeholder="Transaction ID" class="form-control"/>
            </div>
            <div class="form-group">
                <input type="text" name="VpGuarantorId" id="VpGuarantorId" placeholder="@ClientDto.VpGuarantorPatientIdentifier" class="form-control"/>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary" title="Submit">Submit</button>
            </div>
        </div>
    }
</section>

@section scripts {
    <script src="~/Scripts/Admin/clientUser.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#section-resolve').on('click', 'form button[type=button]', function(e) {
                var $form = $($(this).parents('form')[0]);

                if ($form.find('#TransactionId').val().length > 0 && $form.find('#VpGuarantorId').val().length > 0) {
                    window.VisitPay.Common.ModalGenericConfirmation('Confirm', 'Please confirm this action', 'Confirm', 'Cancel').then(function() {
                        $form.submit();
                    });
                }
            });
        });
    </script>
}
