﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.Web.Models.Shared
@model ContentMenuViewModel

@section breadcrumb {
    @Html.TextRegion(TextRegionConstants.GuestPayLegalAgreements)
}

<section id="section-legal-agreements">
    <h1>@Html.TextRegion(TextRegionConstants.GuestPayLegalAgreements)</h1>
    <ul>
        @foreach (ContentMenuItemViewModel item in Model.ContentMenuItems)
        {
            <li><a href="@item.LinkUrl" title="@item.LinkText">@item.LinkText</a></li>
        }
    </ul>
</section>