﻿@using Ivh.Common.VisitPay.Constants
@model Ivh.Common.Web.Models.Shared.CmsViewModel

@section breadcrumb {
    @Model.ContentTitle
}

<section id="section-terms">
    <h1>@Model.ContentTitle</h1>
    <p class="text-center">@Html.ActionLink(Html.TextRegion(TextRegionConstants.GuestPayPrintOrSaveAsPdf), "TermsOfUsePdf", "Legal", new { @class = "btn btn-sm btn-primary", role = "button", target = "_blank" })</p>
    @Html.Raw(Model.ContentBody)
</section>