﻿@import '../_variables.scss';
@import '../../Bootstrap/css/bootstrap/_mixins.scss';
@import '../../Bootstrap/css/bootstrap/_variables.scss';

#section-matchGuarantor {

    .alert-statement {
        background: #ffffff;
        border-bottom: 1px solid $input-border;
        border-left: 0;
        border-right: 0;
        border-top: 1px solid $input-border;
        font-size: 13px;
        margin-bottom: 0;
        margin-top: 25px;
        min-height: 182px;
        padding: 10px 10px 10px 10px;
        position: relative;
        text-align: left;

        @media (min-width: $screen-sm) {
            border: 1px solid $input-border;
            box-shadow: 1px 1px 5px rgba(0,0,0,0.15);

            &:before {
                border-bottom: 12px solid transparent;
                border-right: 8px solid #ffffff;
                border-top: 12px solid transparent;
                content: '';
                height: 0;
                left: -6px;
                position: absolute;
                top: 3px;
                width: 0;
                z-index: 2;
            }

            &:after {
                border-bottom: 12px solid transparent;
                border-right: 8px solid $input-border;
                border-top: 12px solid transparent;
                content: '';
                height: 0;
                left: -8px;
                position: absolute;
                top: 3px;
                width: 0;
                z-index: 1;
            }
        }

        img {
            margin: 7px auto 0 auto;
            max-height: 135px;
            position: relative;
        }
    }
}

#section-payment {

    > h2 {
        color: $brand-primary;
        font-size: 18px;
        font-weight: bold;
        line-height: 18px;
        margin: 0 0 $grid-gutter-width/2 0;

        @media (max-width: $screen-xs-max) {
            margin-top: $grid-gutter-width/2;
            text-align: center;
        }
    }

    section.area {
        margin-bottom: 8px;
        @include box-shadow(0 1px 2px 0 rgba(0,0,0,.35));

        h2 {
            background: $brand-primary;
            border: 1px solid darken($brand-primary, 7%);
            color: #ffffff;
            font-size: 20px;
            font-weight: 600;
            margin: 0 0 0 0;
            padding: $grid-gutter-width/4 $grid-gutter-width/2 $grid-gutter-width/4 $grid-gutter-width/2;
        }

        h2 ~ div {
            @include box-shadow(0, 1px, 2px, 0, rgba(0,0,0,.35));
            padding: $grid-gutter-width/2;
        }

        div.statement {
            position: relative;

            @media (max-width: $screen-xs-max) {
                padding-bottom: $grid-gutter-width/2;
            }
        }

        div.payment-amount {
            .form-control {
                width: 120px;
            }
        }

        div.payment-type {
            select {
                display: inline-block;
            }

            span.payment-types {
                padding-left: 4px;

                img {
                    max-width: 26px;
                }
            }

            @media (max-width: $screen-xs-max) {
                select {
                    width: 137px;
                }
            }

            @media (min-width: $screen-sm-min) {
                select {
                    width: 167px;
                }
            }
        }

        div.paymenttype-creditcard {
            position: relative;
        }

        div.credit-card {

            > div.input {
                position: relative;
                width: 224px;

                div.icon {
                    background: $vp-gray-lighter;
                    border-color: $input-border;
                    border-style: solid;
                    border-width: 0 0 0 1px;
                    position: absolute;
                    bottom: 1px;
                    height: 32px;
                    padding-left: 1px;
                    padding-top: 1px;
                    right: 1px;
                    text-align: center;
                    width: 42px;
                }
            }
        }

        div.form-actions {
            text-align: center;
        }

        .row.form-group {
            .less-col-padding-xs {
                padding-left: 0 !important;
            }

            @media (min-width: $screen-sm-min) {
                .less-col-padding-sm {
                    padding-left: 0 !important;
                }
            }
        }

        .row.citystatezip {
            > div:not(:first-of-type) {
                @media (max-width: $screen-xs-max) {
                    margin-top: 15px;
                }
            }
        }

        @media (max-width: $screen-xs-max) {
            margin-left: $grid-gutter-width/-2;
            margin-right: $grid-gutter-width/-2;
        }
    }
}

.statement-image {
    position: relative;

    a {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }

    img {
        max-width: 100%;
    }

    @media (max-width: $screen-xs-max) {
        > div {
            display: block;
        }

        > a {
            display: none;
        }

        > span {
            display: none;
        }
    }

    @media (min-width: $screen-sm-min) {

        > a {
            cursor: pointer;
            display: block;
        }

        > span {
            cursor: pointer;
            display: block;
        }
    }
}

.statement-image-text {
    font-weight: bold;
    font-style: italic;
    font-size: 12px;
}

#guestPayPartialPaymentWarning{
    margin-top:-12px;
    padding-left:10px;
    color:red;
    font-style:italic;
    display:none;
}

#modalStatement {
    .modal-body {

        button {
            background: $btn-primary-bg;
            color: $vp-primary-text;
            border-radius: 36px;
            border: 1px solid $client-button-primary-bg;
            height: 36px;
            font-size: 28px;
            line-height: 28px;
            position: absolute;
            right: -15px;
            top: -15px;
            width: 36px;
            z-index: 99;

            &:hover {
                background: $client-button-primary-bg-hover;
                border-color: $client-button-primary-bg-hover;
            }
        }

        .statement-image {
            > div {
                display: block !important;
            }
        }
    }
}

.typeahead {
    background-color: #fff;
}

.tt-hint {
    color: #999
}

.twitter-typeahead {
    width: 100%;
    margin-top: 5px;
}

.tt-menu {
    width: 100%;
    background-color: #fff;
    border: 1px solid $vp-gray-light;
}

.tt-suggestion {
    padding: 1px 5px 1px 5px;
    line-height: 24px;
}

.tt-suggestion:hover {
    cursor: pointer;
    background-color: $vp-gray-lighter;
}

.tt-suggestion.tt-cursor {
    background-color: $vp-gray-lighter;
}

.tt-suggestion p {
    margin: 0;
}