﻿@using Ivh.Common.Base.Utilities.Helpers
@model Ivh.Web.AuthorizationServer.Models.HealthEquityAccountViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @Styles.Render("~/Content/healthEquity")
    <meta name="viewport" content="width=device-width" />
    <title>HealthEquityAccount</title>
</head>
<body>
    <section id="healthEquityAccount">
        <div class="header">
            <img class="hqylogo" src="/Content/Images/HQY_Logo.png" />
            <img class="signOut" src="/Content/Images/HQY_Logo_trimmed.png" />
            <span>@Model.UserName (@RandomSourceSystemKeyGenerator.New("NNNNNN", @Model.UserName.GetHashCode())) <a href="">Sign Out</a></span>
        </div>
        <div class="nav-bar">
            <ul>
                <li>My Account</li>
                <li>Claims & Payments</li>
                <li>Docs & Forms</li>
                <li>Resources</li>
            </ul>

            <ul>
                <li>Contact</li>
                <li><img src="/Content/Images/HQY_Email.png" /></li>
            </ul>
        </div>

        <div class="content">

            <div class="sideBar">
                <div class="container">
                    <h2>Account Balances</h2>
                    <ul>
                        <li>
                            <div>HSA Available Balance</div>
                            <div>@Model.AvailableBalance</div>
                        </li>
                        <li>
                            <div>Investment Account</div>
                            <div>@Model.InvestmentAccountBalance</div>
                        </li>
                        <li>
                            <div>Investment Return</div>
                            <div>@Model.InvestmentReturnPercent</div>
                        </li>
                    </ul>
                </div>
                <div class="container">
                    <h2>Quick Links</h2>
                    <ul>
                        <li>Pay Doctor/Provider</li>
                        <li>Request Reimbursement</li>
                        <li>Make Contribution</li>
                        <li>Transaction History</li>
                        <li>Investments</li>
                    </ul>
                </div>
            </div>
            <div class="SplashPage"><img src="/Content/Images/HQY_Splash.png" /></div>

            <div class="row">
                <div class="container">
                    <h2>Resources</h2>
                    <ul>
                        <li>Disease Research</li>
                        <li>Medical Journal</li>
                        <li>Preventative Health Care</li>
                    </ul>
                </div>
                <div class="container">
                    <h2>To Do</h2>
                    <ul>
                        <li>
                            <div>Unresolved Claims</div>
                            <div>20+</div>
                        </li>
                        <li>
                            <div>Unlinked Receipts/Docs</div>
                            <div>0</div>
                        </li>
                        <li>
                            <div>Unread Messages</div>
                            <div>2</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="footer">
            <div class="nav-bar">
                <ul>
                    <li>Privacy Policy</li>
                    <li>Contact Us</li>
                    <li>Copyright © 2018 HealthEquity</li>
                </ul>
            </div>
        </div>
    </section>
</body>
</html>
