﻿<!-- ko if: FinancePlans.AllowInput -->
<table class="modern-grid financeplan-grid allow-input">
    <colgroup>
        <col />
        <col />
        <col />
        <col />
        <col />
        <col />
    </colgroup>
    <thead>
    <tr>
        <td class="text-center">Effective Date</td>
        <td>Status</td>
        <td class="text-right">Past Due Amount</td>
        <td class="text-right">Balance</td>
        <td class="text-right">Payment Amount</td>
    </tr>
    </thead>
    <tbody>
    <!-- ko foreach: FinancePlans -->
    <tr data-bind="click: $parent.FinancePlans.ClickRow">
        <td class="text-center" data-bind="text: OriginationDate"></td>
        <td data-bind="text: FinancePlanStatusFullDisplayName, css: { 'past-due': IsPastDue() || IsUncollectable(), 'pending': IsPending }"></td>
        <td class="text-right" data-bind="text: PastDueAmount, css: { 'past-due': IsPastDue() || IsUncollectable() }"></td>
        <td class="text-right" data-bind="text: CurrentFinancePlanBalance"></td>
        <td class="text-right">
            <input type="text" class="form-control numeric" placeholder="0.00" data-bind="value: PaymentAmount, valueUpdate: 'afterkeydown', event: { keyup: $parent.FinancePlans.Change }, preventBubble: 'click'" />
        </td>
    </tr>
    <!-- /ko -->
    </tbody>
</table>
<!-- /ko -->
<!-- ko ifnot: FinancePlans.AllowInput -->
<table class="modern-grid financeplan-grid">
    <colgroup>
        <col />
        <col />
        <col />
    </colgroup>
    <thead>
    <tr>
        <td></td>
        <td>Effective Date</td>
        <td class="text-right">Balance</td>
    </tr>
    </thead>
    <tbody>
    <!-- ko foreach: FinancePlans -->
    <tr data-bind="click: $parent.FinancePlans.ClickRow">
        <td>Finance Plan</td>
        <td data-bind="text: OriginationDate"></td>
        <td class="text-right" data-bind="text: CurrentFinancePlanBalance"></td>
    </tr>
    <!-- /ko -->
    </tbody>
</table>
<!-- /ko -->