﻿<table class="modern-grid payments-grid">
    <colgroup>
        <col />
        <col />
        <col />
    </colgroup>
    <thead>
        <tr>
            <td class="text-center">Date Failed</td>
            <td class="text-right">Payment Amount</td>
        </tr>
    </thead>
    <tbody>
        <!-- ko foreach: Payments -->
        <tr data-bind="click: $parent.Payments.ClickRow">
            <td class="text-center" data-bind="text: LastPaymentFailureDate"></td>
            <td class="text-right">
                <input type="text" class="form-control numeric" placeholder="0.00" data-bind="value: PaymentAmount, valueUpdate: 'afterkeydown', event: { keyup: $parent.Payments.Change }, preventBubble: 'click'" />
            </td>
        </tr>
        <!-- /ko -->
    </tbody>
</table>