﻿@model Ivh.Web.Client.Models.FinancePlan.FinancePlanCustomizedReceipt

<div class="alert alert-success text-center">
    @if (Model.IsPatientOffer)
    {
        <p>
            Please advise the guarantor that the finance plan customization has been saved.
        </p>
        <p>
            To make this finance plan effective, the guarantor must login to his or her<br/>@ClientDto.ClientBrandName account and accept the terms of the finance plan before
            <span> @Model.ApplicableDate</span>.
        </p>
    }
    else
    {
        <div class="text-left" style="padding-left: 30px;">
            <p>@ClientDto.ClientBrandName has saved this finance plan.  There is now an alert on the guarantor account.</p>
            <p>Please advise the guarantor to login and accept or decline the finance plan terms before they expire on @Model.ApplicableDate.</p>
            <p>The guarantor will be blocked from customizing a different finance plan until the terms of this one are accepted, declined, or the finance plan terms expire, whichever comes first.</p>
            <p>Should the guarantor decide to decline the terms as you have configured them today, the guarantor will be able to customize a different plan, but the minimum payment and/or duration parameters available to the guarantor may not be as flexible.</p>
        </div>
    }
</div>