﻿@using Ivh.Common.Web.Models.Shared
@model Ivh.Common.Web.Models.Payment.ArrangePaymentViewModel
@{
    bool isSelectVisitsEnabled = Model.IsOfflineGuarantor &&
                                 IsFeatureEnabled(VisitPayFeatureEnum.OfflineVisitPay) &&
                                 IsFeatureEnabled(VisitPayFeatureEnum.FinancePlanVisitSelectionIsEnabled);
}

<!-- ko if: IsVisible -->
<!-- ko foreach: Messages.Errors -->
<div class="alert alert-danger text-center" data-bind="text: $data"></div>
<!-- /ko -->
<div class="flex-row main-row">
    <div class="col-left" data-bind="css: { 'na': !IsMenuVisible() }">
        <div id="finance-plan-menu-secondary" class="menu-secondary" data-bind="visible: Option.ShowOptions">
            <!-- ko foreach: Options -->
            <label data-bind="css: { 'selected': $root.Option.Is(Value) }, attr: { id: 'btnOption' + Value, title: OptionTooltip }">
                <input type="radio" name="option" data-bind="checked: $root.Option, checkedValue: Value" />
                <span class="title" data-bind="html: OptionText"></span>
                <span class="gray-right-arrow"></span>
            </label>
            <!-- /ko -->
        </div>
        <div class="interest-rate-container">
            <table class="interest-rates modern-grid">
                <colgroup>
                    <col />
                    <col />
                </colgroup>
                <thead>
                    <tr>
                        <td colspan="2">@Html.TextRegion(TextRegionConstants.FinanceTermsAvailable)</td>
                    </tr>
                </thead>
                <tbody data-bind="foreach: InterestRates">
                    <tr>
                        <td class="text-right">
                            <span data-bind="text: DisplayText"></span> @Html.TextRegion(TextRegionConstants.Months)
                        </td>
                        <td>
                            at <span data-bind="text: Rate"></span> APR
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- ko if: ShowHsaInterestDisclaimer -->
            <div class="text-smaller text-light hsa-disclaimer">
                <p>@Html.TextRegion(TextRegionConstants.FinanceInterestDisclaimer)</p>
                <p>@Html.CmsRegion(CmsRegionEnum.HsaInterestDisclaimer)</p>
            </div>
            <!-- /ko -->
        </div>
    </div>
    <div class="col-main">
        <!-- ko if: OtherFinancePlanStatesAreAvailable() && FinancePlanOptionStateName() -->
        <div id="selected-state-message" class="alert alert-info text-center text-uppercase">
            <span>@Html.Raw(@Html.TextRegion(TextRegionConstants.FinancePlanMultiStatePayingVisits, "[[StateName]]", "<span style=\"font-weight: bold;\" data-bind=\"text: FinancePlanOptionStateName\"></span>"))</span>
            <a data-bind="click: ChangeStateClicked" class="text-uppercase text-italic">@Html.TextRegion(TextRegionConstants.FinancePlanMultiStateChangeState)</a>
        </div>
        <!-- /ko -->
        <div class="balances">
            <!-- ko if: Option.HasOptions() || Option.CombineFinancePlans() -->
            <div class="balance">
                @if (isSelectVisitsEnabled)
                {
                    <div class="title">
                        @TextRegionConstants.FinanceNewCharges
                        <span style="display: none;" data-tooltip-html>Total number of visits associated with the new charges</span>
                        (<span data-toggle="tooltip-html" data-bind="text: CommitedVisits().length"></span>)
                    </div>
                }
                else
                {
                    <div class="title">@TextRegionConstants.FinanceNewCharges</div>
                }
                <div class="amount" data-bind="currencyText: UserApplicableBalance"></div>
            </div>
            <div class="balance" data-bind="css: { 'lighter': !Option.CombineFinancePlans()}">
                <div class="title">@Html.TextRegion(TextRegionConstants.FinanceCurrentPlans)</div>
                <div class="amount">
                    <span data-bind="currencyText: Option.ActiveFinancePlanBalance"></span>
                    <span style="display: none;" data-tooltip-html>
                        Your current finance plans have a total monthly payment of <span data-bind="currencyText: FinancePlanTotalMonthlyPaymentAmount"></span>
                    </span>
                    <em class="vpicon-question" data-toggle="tooltip-html"></em>
                </div>
            </div>
            <!-- /ko -->
            <div class="balance">
                <div class="title">@Html.TextRegion(TextRegionConstants.FinanceTotal)</div>
                <div class="amount" data-bind="currencyText: AmountToFinance"></div>
            </div>
        </div>
        <div class="terms-calculate modern-form">
            <form id="frmTerms" autocomplete="off" novalidate="novalidate">
                <div class="flex-row">
                    @if (Model.IsOfflineGuarantor)
                    {
                        @* currently no reason to render this unless it's an offline guarantor *@

                        <!-- ko if: FinancePlanTypes.Any() -->
                        <div class="fp-type flex-col-auto">
                            <label>
                                <span>Finance Plan Type</span>
                                <select id="ddFinancePlanType"
                                        class="form-control"
                                        data-bind="options: FinancePlanTypes, optionsText: 'Name', value: FinancePlanType"></select>
                            </label>
                        </div>
                        <!-- /ko -->
                    }
                    @if (IsFeatureEnabled(VisitPayFeatureEnum.FpOfferSetTypesIsEnabledClient) && User.IsInRole(VisitPayRoleStrings.Csr.ExtendedFinancePlanOfferSets))
                    {
                        <!-- ko if: FinancePlanOfferSetTypes.Any() -->
                        <div class="offer-set flex-col-auto">
                            <label>
                                <span>Select an Offer Set</span>
                                <select id="ddFinancePlanOfferSetType"
                                        class="form-control"
                                        data-bind="options: FinancePlanOfferSetTypes, optionsText: 'Text', optionsValue: 'Value', value: FinancePlanOfferSetTypeId"></select>
                            </label>
                        </div>
                        <!-- /ko -->
                    }
                </div>
                <!-- ko if: PaymentDueDay.IsEnabled -->
                <div class="pdd-select bordered-box">
                    <div class="pdd-inactive" data-bind="visible: !PaymentDueDay.IsActive()">
                        We've selected the
                        <strong data-bind="ordinalPaymentDueDayText: PaymentDueDay"></strong>
                        of the month as your payment due date.
                        <a href="javascript:;" title="Click here to change it" data-bind="click: PaymentDueDay.Toggle">Click here to change it</a>.
                    </div>
                    <div class="pdd-active" data-bind="visible: PaymentDueDay.IsActive">
                        @Html.TextRegion(TextRegionConstants.PaymentDueOnThe)
                        @Html.VpPaymentDueDayDropDownList("PaymentDueDay", new { data_bind = "value: PaymentDueDay" })
                        @Html.TextRegion(TextRegionConstants.OfEachMonth).
                    </div>
                    <a id="btnPaymentDueDayChange" href="javascript:;" title="" data-bind="click: PaymentDueDay.Toggle" class="pdd-toggle-icon">
                        <!-- ko if: PaymentDueDay.IsActive -->
                        <em class="glyphicon glyphicon-remove"></em>
                        <!-- /ko -->
                        <!-- ko ifnot: PaymentDueDay.IsActive -->
                        <em class="glyphicon glyphicon-pencil"></em>
                        <!-- /ko -->
                    </a>
                </div>
                <!-- /ko -->
                <div class="selector-heading text-center">
                    @Html.CmsRegion(CmsRegionEnum.FinancePlanCustomizeText)
                </div>
                <div class="selector-row">
                    <div class="selector amount-selector">
                        <div class="selector-inner" data-bind="css: { 'active': OfferCalculationStrategy.IsMonthly, 'inactive': (UserNumberMonthlyPayments.Any() && !UserMonthlyPaymentAmount.Any()) }">
                            <label>
                                <input type="radio" name="strategy" data-bind="checked: OfferCalculationStrategy, checkedValue: 1" />
                                @Html.TextRegion(TextRegionConstants.MonthlyPayment)
                            </label>
                            <div>
                                <input id="MinimumMonthlyPaymentAmount" type="hidden" data-bind="value: MinimumPaymentAmount" />
                                <input id="UserMonthlyPaymentAmount"
                                       name="UserMonthlyPaymentAmount"
                                       class="form-control"
                                       data-bind="value: UserMonthlyPaymentAmount, valueUpdate: ['afterkeydown', 'keyup']"
                                       placeholder="@Html.TextRegion(TextRegionConstants.InstructionMonthlyPayment)"
                                       data-placeholder="@Html.TextRegion(TextRegionConstants.InstructionMonthlyPayment)"
                                       type="text"
                                       tabindex="-1"
                                       required />
                            </div>
                        </div>
                    </div>
                    <div class="selector duration-selector">
                        <div class="selector-inner" data-bind="css: { 'active': OfferCalculationStrategy.IsDuration, 'inactive': (UserMonthlyPaymentAmount.Any() && !UserNumberMonthlyPayments.Any()) }">
                            <label>
                                <input type="radio" name="strategy" data-bind="checked: OfferCalculationStrategy, checkedValue: 2" />
                                @Html.TextRegion(TextRegionConstants.NumberPaymentsLabel)
                            </label>
                            <div>
                                <input id="MaximumMonthlyPayments" type="hidden" data-bind="value: MaximumMonthlyPayments" />
                                <input id="UserNumberMonthlyPayments"
                                       name="UserNumberMonthlyPayments"
                                       class="form-control"
                                       data-bind="value: UserNumberMonthlyPayments, valueUpdate: ['afterkeydown', 'keyup']"
                                       placeholder="@Html.TextRegion(TextRegionConstants.InstructionNumberPayments)"
                                       data-placeholder="@Html.TextRegion(TextRegionConstants.InstructionNumberPayments)"
                                       type="text"
                                       tabindex="-1"
                                       required />
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Terms Alert -->
                <div data-bind="with: Terms">
                    <div class="alert alert-terms alert-arrow"
                         data-bind="css: {'alert-arrow-left': $root.OfferCalculationStrategy.IsMonthly, 'alert-arrow-right': $root.OfferCalculationStrategy.IsDuration, 'error': ErrorMessage.Any }, visible: $root.ShouldShowTermsAlert">
                        <p>
                            @Html.Raw(Html.TextRegion(TextRegionConstants.FinancePlanTermsQualify, new Dictionary<string, string>
                            {
                                {"[[MaximumMonthlyPayments]]", "<span data-bind=\"text: $root.MaximumMonthlyPayments\"></span>"},
                                {"[[MinimumPaymentAmount]]", "<span data-bind=\"currencyText: $root.MinimumPaymentAmount\"></span>"},
                            }))
                        </p>
                        <!-- ko if: ErrorMessage.Any -->
                        <p data-bind="html: ErrorMessage"></p>
                        <!-- /ko -->
                    </div>
                </div>
                <p class="qualify" data-bind="visible: !ShouldShowTermsAlert()">
                    @Html.Raw(Html.TextRegion(TextRegionConstants.FinancePlanTermsQualify, new Dictionary<string, string>
                    {
                        {"[[MaximumMonthlyPayments]]", "<span data-bind=\"text: $root.MaximumMonthlyPayments\"></span>"},
                        {"[[MinimumPaymentAmount]]", "<span data-bind=\"currencyText: $root.MinimumPaymentAmount\"></span>"},
                    }))
                </p>
                <div class="text-center">
                    @Html.VpButton("btnFinancePlanCalculate", Html.TextRegion(TextRegionConstants.ButtonGetTerms), VpButtonTypeEnum.Submit, VpButtonClassEnum.Primary, new { data_bind = "visible: CanValidate" })
                </div>
            </form>
            <div class="terms-container" data-bind="with: Terms">
                <!-- ko if: IsValid -->
                @Html.Partial("~/Views/Payment/_ArrangePaymentFinancePlanTerms.cshtml")
                <!-- /ko -->
            </div>
            <!-- ko if: Terms().IsValid() -->
            <!-- ko if: PaymentMethodsIsEnabled -->
            <div class="primary-select bordered-box">
                @if (Model.IsOfflineGuarantor)
                {
                    <label>@Html.TextRegion(TextRegionConstants.PaymentMethodPrimaryVpcc)</label>
                }
                else
                {
                    <label>@Html.TextRegion(TextRegionConstants.PaymentMethodPrimary)</label>
                }
                <div>
                    @Html.VpButton("btnConfirmFinancePlanEditPaymentMethod", "Change", VpButtonTypeEnum.Button, VpButtonClassEnum.AccentOutline, new { data_bind = "click: $root.PaymentMethods.Toggle", @class = "pull-right" })
                    <!-- ko if: $root.PaymentMethods.PrimaryPaymentMethod.Any -->
                    <span class="payment-method" data-bind="html: $root.PaymentMethods.PrimaryPaymentMethod.Display"></span>
                    <!-- /ko -->
                    <!-- ko ifnot: $root.PaymentMethods.PrimaryPaymentMethod.Any -->
                    <span class="payment-method">No Payment Method on File</span>
                    <!-- /ko -->
                    <div class="primary-disclaimer">
                        <p><strong>All finance plan payments will be applied to this payment method.</strong></p>
                        <p>@Html.CmsRegion(CmsRegionEnum.HsaInterestDisclaimer)</p>
                    </div>
                </div>
            </div>
            <!-- /ko -->
            @if (Model.IsOfflineGuarantor)
            {
                @* currently no reason to render this unless it's an offline guarantor *@

                <!-- ko if: FinancePlanType.RequireAgreement -->
                <div class="agreements bordered-box">
                    <div class="agreements-description">
                        @{
                            CmsViewModel legalCms = Html.CmsModel(CmsRegionEnum.OfflineFinancePlanClientLegalAgreements);
                        }
                        @if (!string.IsNullOrWhiteSpace(legalCms.ContentTitle))
                        {
                            <p class="text-small"><strong>@Html.Raw(legalCms.ContentTitle)</strong></p>
                        }
                        @if (!string.IsNullOrWhiteSpace(legalCms.ContentBody))
                        {
                            <div class="text-small">@Html.Raw(legalCms.ContentBody)</div>
                        }
                    </div>
                    <!-- ko if: FinancePlanType().RequireCreditAgreement -->
                    <div class="agreement">
                        <div class="checkbox-styled">
                            <input id="cbTermsOfUse" type="checkbox" data-bind="checked: TermsCmsVersionId.IsChecked, value: TermsCmsVersionId" />
                            <label for="cbTermsOfUse">
                                The Guarantor has accepted the <a href="#CreditAgreement" data-bind="text: TermsCmsVersionId.TermsAgreementTitle, attr: { 'data-offerid': Terms().FinancePlanOfferId, 'title': TermsCmsVersionId.TermsAgreementTitle }"></a>
                            </label>
                        </div>
                    </div>
                    <!-- /ko -->
                    <!-- ko if: FinancePlanType().RequireEsign -->
                    <div class="agreement">
                        <div class="checkbox-styled">
                            <input id="cbEsign" type="checkbox" data-bind="checked: EsignCmsVersionId.IsChecked, value: EsignCmsVersionId" />
                            <label for="cbEsign">
                                @{
                                    string esignAct = Html.TextRegion(TextRegionConstants.EsignAct);
                                }
                                The Guarantor has accepted the <a href="#EsignAct" title="@esignAct">@esignAct</a>
                            </label>
                        </div>
                    </div>
                    <!-- /ko -->
                </div>
                <!-- /ko -->
            }
            <div class="text-center">
                <br />
                @Html.VpButton("btnConfirmFinancePlan", Html.TextRegion(TextRegionConstants.ButtonConfirmPaymentPlan), VpButtonTypeEnum.Button, VpButtonClassEnum.Primary, new { data_bind = "enable: IsSubmitEnabled" })
            </div>
            <!-- /ko -->
        </div>
    </div>
    @if (isSelectVisitsEnabled)
    {
        <div class="col-right">
            <div class="button">
                @Html.VpButton("btnFinancePlanSelectVisits", "Select Visits", VpButtonTypeEnum.Button, VpButtonClassEnum.Primary, new { data_bind = "click: ShowVisitSelection", tabindex = "-1" })
            </div>
        </div>
    }
</div>
<!-- /ko -->