﻿<div id="modalArrangePaymentSubmit" data-context="payment" class="modal modal-vcenter fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-md">
        <div class="modal-content" data-bind="with: ActivePaymentOption">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">Confirm Payment</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-6 text-right">Total Payment Amount:</div>
                    <div class="col-xs-6">
                        <span data-bind="currencyText: PaymentAmount.Calculated"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 text-right">Scheduled Date:</div>
                    <div class="col-xs-6">
                        <span data-bind="text: PaymentDate"></span>
                    </div>
                </div>
                <div class="row payment-method">
                    <div class="col-xs-6 text-right">Payment Method:</div>
                    <div class="col-xs-6">
                        <span data-bind="html: $root.PaymentMethods.SelectedPaymentMethod.Display"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer text-center">
                <a href="javascript:;" title="Make Changes" data-dismiss="modal">Make Changes</a>
                <button class="btn btn-primary btn-lg" type="submit" title="Confirm Payment">Confirm Payment</button>
            </div>
        </div>
    </div>
</div>
