﻿
<h4 class="text-center text-uppercase" id="state-selection-instructions">@Html.TextRegion(TextRegionConstants.FinancePlanMultiStateInstructions)</h4>

@* One per state, ordered by states with the largest number of visits *@
<!-- ko foreach: SortedStates() -->
<div class="panel panel-default">
    <div class="panel-heading">
        @Html.VpButton(null, Html.TextRegion(TextRegionConstants.PaymentPlanOptions), VpButtonTypeEnum.Button, VpButtonClassEnum.Primary, new { @class = "select-state-btn pull-right", data_bind = "click: StateSelected" })
        <h4 data-bind="text: FinancePlanOptionStateName() + ' @Html.TextRegion(TextRegionConstants.VisitsPageHeading)'"></h4>
    </div>
    <div class="panel-body">
        <table class="table table-condensed table-bordered">
            <thead>
                <tr>
                    <th>Visit #</th>
                    <th>Patient</th>
                    <th>Visit Date</th>
                    <th>Visit Type</th>
                    <th>Status</th>
                    <th>Facility</th>
                    <th>Visit Description</th>
                    <th class="text-right">Total Balance</th>
                </tr>
            </thead>
            <tbody>
                <!-- ko foreach: FinancePlanVisits -->
                <tr>
                    <td data-bind="text: VisitId"></td>
                    <td data-bind="text: PatientName"></td>
                    <td data-bind="text: DischargeDate"></td>
                    <!-- ko if: IsHbVisit -->
                    <td>HB</td>
                    <!-- /ko-->
                    <!-- ko if: IsPbVisit -->
                    <td>PB</td>
                    <!-- /ko-->
                    <td data-bind="text: StatusDisplay"></td>
                    <td data-bind="text: FacilityDescription"></td>
                    <td data-bind="text: VisitDescription"></td>
                    <td class="text-right" data-bind="text: DisplayBalance"></td>
                </tr>
                <!-- /ko -->
            </tbody>
        </table>
    </div>
</div>
<!-- /ko -->

<div class="text-center text-italic" id="state-selection-information">
    @Html.TextRegion(TextRegionConstants.FinancePlanMultiStateInformation)
</div>