﻿@using Ivh.Common.Web.Models.Shared
<div class="terms">
    <p><strong>@Html.TextRegion(TextRegionConstants.Terms)</strong></p>
    <div>
        <strong data-bind="percentText: InterestRate, precision: 2, emptyText: '-'" id="_interestRate"></strong>
        @Html.TextRegion(TextRegionConstants.FinanceInterestRate)
    </div>
    <div title="@Html.TextRegion(TextRegionConstants.TotalInterestDescription)">
        <strong data-bind="currencyText: TotalInterest, emptyText: '-'" id="_interestTotal"></strong>
        @Html.TextRegion(TextRegionConstants.FinanceInterestOwed)
    </div>
    <div>
        <strong data-bind="currencyText: MonthlyPaymentAmount, emptyText: '-'" id="_monthlyPaymentAmount"></strong>
        <span data-bind="text: NumberOfEqualPayments, visible: NumberOfEqualPayments.IsVisible" id="_numberPayments"></span> @Html.TextRegion(TextRegionConstants.FinanceMonthlyPaymentsOf)
    </div>
    <div data-bind="visible: LastPaymentAmountIsDifferentThanMonthlyAmount">
        <strong data-bind="currencyText: MonthlyPaymentAmountLast, emptyText: '-'" id="_monthlyPaymentAmountLast"></strong>
        1 @Html.TextRegion(TextRegionConstants.FinanceFinalPaymentOf)
    </div>
    <!-- ko if: IsValid -->
    <div class="terms-sentence">
        <p>
            @Html.Raw(Html.TextRegion(TextRegionConstants.FinancePlanTermsSentence, new Dictionary<string, string>
            {
                {"[[MonthlyPaymentAmount]]", "<strong data-bind=\"currencyText: MonthlyPaymentAmount\"></strong>" },
                {"[[PaymentDueDay]]", "<strong data-bind=\"text: PaymentDueDayOrdinal\"></strong>" },
                {"[[NextPaymentDueDate]]", "<strong data-bind=\"text: NextPaymentDueDate\"></strong>" }
            }))
            @{
                CmsViewModel tooltip = Html.CmsModel(CmsRegionEnum.FinancePlanPddTooltip);
                if (tooltip != null && !string.IsNullOrWhiteSpace(tooltip.ContentBody))
                {
                    <!-- ko if: $root.PaymentDueDay.IsEnabled -->
                    <span style="display: none;" data-tooltip-html>@Html.Raw(tooltip.ContentBody)</span>
                    <em class="vpicon-question" data-toggle="tooltip-html" data-placement="right"></em>
                    <!-- /ko -->
                }
            }
        </p>
    </div>
    <!-- /ko -->
</div>
