﻿<div id="modalDiscounts" class="modal modal-vcenter fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">Visits with Discounts</h4>
            </div>
            <div class="modal-body" data-context="discounts">
                <!-- ko if: DiscountGuarantorOffer.Any -->
                <p>The following discounts are available if all visit balance(s) are paid in full by the "Discount Valid Until" date.</p>
                <table class="static-grid" data-bind="with: DiscountGuarantorOffer">
                    <thead>
                        <tr>
                            <td>Visit #</td>
                            <td>Visit Type</td>
                            <td class="text-right">Visit Balance</td>
                            <td class="text-right">Discount Percent</td>
                            <td class="text-right" style="padding-right: 8px;">Discount Amount</td>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: VisitOffers">
                        <tr>
                            <td data-bind="text: SourceSystemKeyDisplay"></td>
                            <td data-bind="text: BillingApplicationText"></td>
                            <td data-bind="currencyText: TotalBalance" class="text-right"></td>
                            <td data-bind="percentText: DiscountPercent" class="text-right"></td>
                            <td data-bind="currencyText: DiscountAmount" class="text-right" style="padding-right: 8px;"></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4" class="text-right"><strong>Total discount available:</strong></td>
                            <td class="text-right"><strong data-bind="currencyText: DiscountTotal"></strong></td>
                        </tr>
                    </tfoot>
                </table>
                <!-- /ko -->
                <!-- ko foreach: DiscountManagedOffers -->
                <p><span data-bind="text: FirstNameLastName"></span> has the following discounts available if all visit balance(s) are paid in full.</p>
                <table class="static-grid">
                    <thead>
                        <tr>
                            <td>Visit #</td>
                            <td>Visit Type</td>
                            <td class="text-right">Visit Balance</td>
                            <td class="text-right">Discount Percent</td>
                            <td class="text-right" style="padding-right: 8px;">Discount Amount</td>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: VisitOffers">
                        <tr>
                            <td data-bind="text: SourceSystemKeyDisplay"></td>
                            <td data-bind="text: BillingApplicationText"></td>
                            <td data-bind="currencyText: TotalBalance" class="text-right"></td>
                            <td data-bind="percentText: DiscountPercent" class="text-right"></td>
                            <td data-bind="currencyText: DiscountAmount" class="text-right" style="padding-right: 8px;"></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4" class="text-right"><strong>Total discount available:</strong></td>
                            <td class="text-right"><strong data-bind="currencyText: DiscountTotal"></strong></td>
                        </tr>
                    </tfoot>
                </table>
                <!-- /ko -->
            </div>
        </div>
    </div>
</div>
