﻿@using Ivh.Common.Base.Utilities.Extensions
@using Ivh.Common.Web.Models.Payment
@model PaymentDetailViewModel

<div id="modalPaymentDetail" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">
                    Payment Transaction Details
                    <input type="image" title="Export To Excel" id="btnPaymentDetailExport" src="~/Content/Images/excel.png" class="export-excel" />
                </h4>
            </div>
            <div class="modal-body">

                <div class="details">
                    <div class="row">
                        <div class="col-xs-12">
                            <span class="pull-right">@Model.MadeByGuarantorName</span>
                            Made By:
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <span class="pull-right">@Model.GuarantorName</span>
                            Made For:
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-xs-12">
                            <span class="pull-right">@Model.IdDisplay</span>
                            ID:
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <span class="pull-right">@Model.PaymentProcessorSourceKey</span>
                            Confirmation #:
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <span class="pull-right">@Model.InsertDate</span>
                            Processed Date:
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <span class="pull-right">@Model.PaymentType</span>
                            Type:
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            @if (Model.PaymentMethod != null)
                            {
                                <span class="pull-right">@Model.PaymentMethod.DisplayName</span>
                            }
                            Payment Method:
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <span class="pull-right">@Model.SnapshotTotalPaymentAmount</span>
                            Payment Transaction Amount:
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <span class="pull-right">@Model.NetPaymentAmount</span>
                            Net Payment Amount:
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <span class="pull-right">
                                @if (Model.IsFailedOrCancelled)
                                {
                                    <span class="cancelled">@Model.PaymentStatusMessage</span>
                                }
                                else
                                {
                                    @Model.PaymentStatusMessage
                                }
                            </span>
                            Payment Status:
                        </div>
                    </div>
                </div>

                @if (Model.PaymentAllocations.IsNotNullOrEmpty())
                {
                    <table class="static-grid">
                        <colgroup>
                            <col style="width: 140px;" />
                            <col style="width: 100%;" />
                            <col style="width: 140px;" />
                        </colgroup>
                        <thead>
                        <tr>
                            <td>Type</td>
                            <td>Visit</td>
                            <td class="text-right">Amount</td>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (PaymentAllocationViewModel allocation in Model.PaymentAllocations)
                        {
                            <tr>
                                <td>@allocation.DisplayStatus</td>
                                <td>
                                    @if (allocation.IsVisitRemoved)
                                    {
                                        <div data-toggle="tooltip" data-placement="right" title="Removed Visit#@allocation.MatchedSourceSystemKey">@allocation.SourceSystemKeyDisplay</div>
                                    }
                                    else
                                    {
                                        @allocation.SourceSystemKeyDisplay
                                    }
                                </td>
                                <td class="text-right">@allocation.AllocationAmount</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
</div>
