﻿@using Ivh.Common.Web.Models.Shared
@model Ivh.Web.Client.Models.Payment.PaymentMethodsListViewModel

<section id="section-paymentmethodslist">
    <div class="container account-container">
        @if (Model.IsAchEnabled && Model.IsSetPrimaryEnabled && User.IsInRole(VisitPayRoleStrings.Csr.ManagePaymentMethods))
        {
            CmsViewModel cmsAchWarning = Html.CmsModel(CmsRegionEnum.PaymentMethodAchWarningClient);
            if (cmsAchWarning != null && !string.IsNullOrWhiteSpace(cmsAchWarning.ContentBody))
            {
                <div class="alert alert-warning">@Html.Raw(cmsAchWarning.ContentBody)</div>
            }
        }
        <div class="row account-heading">
            <div class="col-xs-12 text-right">
                @if (User.IsInRole(VisitPayRoleStrings.Csr.ManagePaymentMethods))
                {
                    if (Model.IsAchEnabled)
                    {
                        <button type="button" class="btn btn-primary" id="btnBankAccountAdd" title="Add Bank Account">+ Add Bank Account</button>
                    }
                    if (Model.IsCardEnabled)
                    {
                        <button type="button" class="btn btn-primary" id="btnCardAccountAdd" title="Add Credit/Debit Card">+ Add Credit/Debit Card</button>
                    }
                }
            </div>
        </div>
        <hr />

        <section id="paymentmethod-alerts"></section>
        
        <!-- ko foreach: PaymentMethods.AllAccounts -->
        <div class="row account-item">
            <label class="col-xs-6">
                @if (Model.IsSelectEnabled)
                {
                    <input type="radio" name="paymentmethod-select" data-bind="value: PaymentMethodId" />
                }

                <img data-bind="attr: { src: DisplayImage }" alt="" />
                <span data-bind="text: LastFour.Display"></span>

                <span class="expiration">
                    <!-- ko if: IsCardType -->
                    <span data-bind="text: ExpDateForDisplay.Display"></span>
                    <span class="text-danger" style="display: none;" data-bind="attr: { title: ExpirationMessage }, visible: ExpirationMessage.Any"><em class="glyphicon glyphicon-flag"></em></span>
                    <!-- /ko -->
                </span>
            </label>
            @if (User.IsInRole(VisitPayRoleStrings.Csr.ManagePaymentMethods))
            {
                <div class="col-xs-6 text-right">
                    <div>
                        <!-- ko if: IsCardType -->
                        <a class="hsaType" href="javascript:;" data-bind="attr: { title: DisplayAccountTypeText.WithProvider }">
                            <!-- ko if: DisplayProviderTypeImage.Any -->
                            <img data-bind="attr: { src: DisplayProviderTypeImage }" alt="" />
                            <!-- /ko -->
                            <span data-bind="text: DisplayProviderTypeText"></span>
                            <span data-bind="text: DisplayAccountTypeText"></span>
                        </a>
                        <!-- /ko -->
                        @if (Model.IsSetPrimaryEnabled)
                        {
                            <!-- ko if: IsPrimary -->
                            <span class="is-primary">
                                @Html.TextRegion(TextRegionConstants.Primary)
                            </span>
                            <!-- /ko -->
                            <!-- ko ifnot: IsPrimary -->
                            <!-- ko if: CanSetPrimary -->
                            <label data-bind="attr: { for: PaymentMethodId }">
                                <input name="paymentmethod-setprimary" data-bind="attr: { id: PaymentMethodId }" type="checkbox" />
                                @Html.TextRegion(TextRegionConstants.SetAsPrimary)
                            </label>
                            <!-- /ko -->
                            <!-- /ko -->
                        }
                    </div>
                    <button name="paymentmethod-edit" class="btn-icon" title="Edit Payment Method"><span class="glyphicon glyphicon-pencil"></span></button>
                    <button name="paymentmethod-remove" class="btn-icon" data-bind="attr: { title: RemoveableMessage.Display }, enable: IsRemoveable">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </div>
            }
        </div>
        <!-- /ko -->
    </div>
</section>