﻿<div id="modalPaymentReschedule" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">
                    Cancel Payment
                </h4>
            </div>
            <div class="modal-body text-center">
                <p>This recurring payment will be cancelled.</p>
                <p>
                    Please inform the guarantor that their finance plan will
                    be marked as past due if they don't pay the required
                    monthly amount by their next payment due date.
                </p>
                <p>
                    If they don't pay it, the following month's finance plan
                    payment will include the full past due amount in addition
                    to their regularly scheduled amount.
                </p>
                <p>
                    <strong>Would you like to cancel this payment?</strong>
                </p>
                <button type="button" class="btn btn-primary" id="btnPaymentRescheduleConfirm">Yes</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
