﻿<div class="modal fade modal-vcenter" id="modalPaymentRefund" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">Refund</h4>
            </div>
            <div class="modal-body">
                <table>
                    <tbody>
                        <tr>
                            <td style="padding-right: 15px;">Original payment transaction:</td>
                            <td><strong id="refundOriginalAmount"></strong></td>
                        </tr>
                        <tr>
                            <td>Amount available for refund:</td>
                            <td><strong id="refundNetAmount"></strong></td>
                        </tr>
                    </tbody>
                </table>
                <hr />
                <p>
                    If the original payment transaction has already been partially refunded, any amount refunded today will be distributed <em>pro rata</em> to the visits originally paid;
                    the refunded amount entered below will apply first to principal and then to interest.
                </p>
                <p>
                    Enter the amount to be refunded below.
                </p>
                <p>Refund Amount: &nbsp; <input type="text" value="0.00" id="refundAmount" class="form-control" style="display: inline-block; float: none; width: 68px;" /></p>
                <div class="alert alert-danger" style="margin-bottom: 0;"></div>
            </div>
            <div class="modal-footer text-center">
                <button type="submit" class="btn btn-primary">OK</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>