﻿<img data-bind="attr: { src: CardImage }" alt="" />
<span data-bind="text: 'X-' + LastFour()"></span>
<span data-bind="text: 'exp. ' + ExpirationDisplay()"></span>
<span style="display: inline-block; width: 17px;">
    <span data-bind="visible: !IsExpired() && IsExpiring()" class="text-danger" title="This credit card will expire soon."><em class="glyphicon glyphicon-flag"></em></span>
    <span data-bind="visible: IsExpired" class="text-danger" title="This credit card has expired."><em class="glyphicon glyphicon-flag"></em></span>
</span>
<span data-bind="visible: AccountNickName() != null && AccountNickName().length > 0"><strong>Name:</strong></span>
<span data-bind="text: AccountNickName, visible: AccountNickName() != null && AccountNickName().length > 0"></span>
