﻿@model Ivh.Common.Web.Models.Payment.PaymentMethodAccountProviderViewModel

<div id="modalPaymentMethod" class="modal fade modal-paymentmethod" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md">
        <form class="modal-content" autocomplete="off">
            @Html.AntiForgeryToken()
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">Select Account Type</h4>
            </div>
            <div class="modal-body">
                <section id="section-paymentmethodedit">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row form-group">
                                <div class="col-xs-8">@Html.DropDownListFor(m => m.SelectedAccountTypeId, Model.AccountTypes, "--Account Type--", new { @class = "form-control" })</div>
                                <div class="col-xs-4">@Html.DropDownListFor(m => m.SelectedProviderTypeId, Model.ProviderTypes, "--Provider--", new { @class = "form-control" })</div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="modal-footer text-center">
                <button type="submit" class="btn btn-primary" id="btnAccountProviderSave">Save</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="btnAccountProviderCancel">Cancel</button>
            </div>
        </form>
    </div>
</div>