﻿@model Ivh.Common.Web.Models.Payment.BankAccountViewModel
<div id="modalPaymentMethod" class="modal fade modal-paymentmethod" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md">
        <form class="modal-content" autocomplete="off">
            @Html.AntiForgeryToken()
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">
                    <!-- ko if: PaymentMethodId.IsNew -->
                    @Html.TextRegion(TextRegionConstants.AddBankAccount)
                    <!-- /ko -->
                    <!-- ko ifnot: PaymentMethodId.IsNew -->
                    @Html.TextRegion(TextRegionConstants.EditBankAccount)
                    <!-- /ko -->
                </h4>
            </div>
            <div class="modal-body">
                <p>For security purposes, we do not store payment account information.</p>
                @Html.ValidationSummary(Html.TextRegion(TextRegionConstants.ValidationCorrectErrors))
                @Html.HiddenFor(m => m.PaymentMethodId, new { data_bind = "value: PaymentMethodId" })
                <div class="row form-group">
                    <div class="col-xs-4">@Html.VpLabelFor(m => m.FirstName):</div>
                    <div class="col-xs-8 col-group">
                        <div class="col-xs-6">@Html.VpTextBoxFor(m => m.FirstName, new { data_bind = "value: FirstName" })</div>
                        <div class="col-xs-6">@Html.VpTextBoxFor(m => m.LastName, new { data_bind = "value: LastName" })</div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-4">@Html.VpLabelFor(m => m.BankName):</div>
                    <div class="col-xs-8">@Html.VpTextBoxFor(m => m.BankName, new { data_bind = "value: BankName" })</div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-4">@Html.VpLabelFor(m => m.PaymentMethodTypeId):</div>
                    <div class="col-xs-8">
                        <!-- ko if: PaymentMethodId.IsNew -->
                        @Html.DropDownListFor(m => m.PaymentMethodTypeId, Model.AchTypes, "--Select--", new { @class = "form-control", data_bind = "value: PaymentMethodTypeId" })
                        <!-- /ko -->
                        <!-- ko ifnot: PaymentMethodId.IsNew-->
                        @Html.HiddenFor(m => m.PaymentMethodTypeId)
                        <span data-bind="text: AchTypeString"></span>
                        <!-- /ko -->
                    </div>
                </div>
                <!-- ko if: PaymentMethodId.IsNew -->
                <div class="row form-group">
                    <div class="col-xs-4">
                        @Html.VpLabelFor(m => m.RoutingNumber, new { @class = "required" }):
                        <a class="glyphicon glyphicon-question-sign aRoutingAccountHelp" href="javascript:;" tabindex="-1"></a>
                    </div>
                    <div class="col-xs-8">@Html.VpTextBoxFor(m => m.RoutingNumber, new { data_bind = "value: RoutingNumber" })</div>
                </div>
                <!-- /ko -->
                <div class="row form-group">
                    <div class="col-xs-4">
                        @Html.VpLabelFor(m => m.AccountNumber, new { @class = "required" }):
                        <a class="glyphicon glyphicon-question-sign aRoutingAccountHelp" href="javascript:;" tabindex="-1"></a>
                    </div>
                    <div class="col-xs-8">
                        <!-- ko if: PaymentMethodId.IsNew -->
                        @Html.VpTextBoxFor(m => m.AccountNumber, new { data_bind = "value: AccountNumber" })
                        <!-- /ko -->
                        <!-- ko ifnot: PaymentMethodId.IsNew-->
                        X-<span data-bind="text: LastFour"></span>
                        <!-- /ko -->
                    </div>
                </div>
                <!-- ko if: PaymentMethodId.IsNew -->
                <div class="row form-group">
                    <div class="col-xs-4">@Html.VpLabelFor(m => m.AccountNumberConfirm, new { @class = "required" }):</div>
                    <div class="col-xs-8">@Html.VpTextBoxFor(m => m.AccountNumberConfirm, new { data_bind = "value: AccountNumberConfirm" })</div>
                </div>
                <!-- /ko -->
                <div class="row form-group">
                    <div class="col-xs-4">@Html.VpLabelFor(m => m.AccountNickName):</div>
                    <div class="col-xs-8">@Html.VpTextBoxFor(m => m.AccountNickName, new { data_bind = "value: AccountNickName" })</div>
                </div>
                <!-- ko if: AllowSingleUse -->
                <div class="row form-group">
                    <div class="col-xs-offset-4 col-xs-8">
                        @Html.CheckBoxFor(m => m.IsActive, new { data_bind = "checked: IsActive" })
                        @Html.LabelFor(m => m.IsActive)
                        <a class="glyphicon glyphicon-question-sign checkbox-tip" href="javascript:;" tabindex="-1" data-toggle="tooltip" title="If you do not save this payment method it will only be used for the current payment and will not be saved on your account."></a>
                    </div>
                </div>
                <!-- /ko -->
                <!-- ko if: !IsActive() -->
                <div class="alert alert-info single-use-alert">
                    @Html.CmsLabel("PaymentMethods_SingleUseWarning")
                </div>
                <!-- /ko -->
            </div>
            <div class="modal-footer text-center">
                <button type="submit" class="btn btn-primary" id="btnAccountSave">Save</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="btnAccountCancel">Cancel</button>
            </div>
        </form>
    </div>
</div>



