﻿@using Ivh.Common.Web.Views
@model Ivh.Common.Web.Models.Payment.MyPaymentsViewModel

<h1 class="bar">
    Scheduled Payments
    <input type="image" title="Export To Excel" id="btnPaymentPendingExport" src="~/Content/Images/excel.png" class="export-excel" />
</h1>
<table id="jqGridPending"></table>
<div id="jqGridPagerPending"></div>
<div id="jqGridNoRecordsPending" class="alert alert-info collapse text-center">
    <strong>There are currently no pending payments associated with your account.</strong>
</div>
