﻿﻿@model Ivh.Common.Web.Models.Payment.PaymentCancelViewModel

<div id="modalPaymentCancel" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">Cancel Payment</h4>
            </div>
            <div class="modal-body">
                <p data-bind="html: CmsCancel().ContentBody()"></p>
                <!-- ko if: IsEligibleToCancel -->
                <!-- ko if: IsRecurringPayment -->
                <hr />
                <div class="row form-group">
                    <div class="col-xs-8 col-xs-offset-2">
                        <span class="pull-right" data-bind="text: PaymentDueDate"></span>
                        Payment Due Date:
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-8 col-xs-offset-2">
                        <span class="pull-right" data-bind="text: AmountDuePrior"></span>
                        Amount Due prior to Cancellation:
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-8 col-xs-offset-2">
                        <strong class="pull-right" data-bind="text: AmountDueAfter"></strong>
                        <strong>Amount Due following Cancellation:</strong>
                    </div>
                </div>
                <!-- /ko -->
                <hr />
                <form autocomplete="off">
                    <div class="form-group row">
                        <div class="col-xs-3">@Html.VpLabelFor(m => m.PaymentCancelReasonId):</div>
                        <div class="col-xs-6">
                            @Html.DropDownList("PaymentCancelReasonId", new List<SelectListItem>(), new { @class = "form-control", data_bind = "options: PaymentCancelReasons, optionsText: 'Description', optionsValue: 'PaymentActionReasonId', optionsCaption: 'Select Reason', value: PaymentCancelReasonId" })
                        </div>
                    </div>
                    <!-- ko if: PaymentCancelReasons.IsRequireInput -->
                    <div class="form-group row">
                        <div class="col-xs-12">
                            @Html.TextAreaFor(m => m.PaymentCancelDescription, new { @class = "form-control", data_bind = "value: PaymentCancelDescription" })
                        </div>
                    </div>
                    <!-- /ko -->
                </form>
                <!-- /ko -->
            </div>
            <div class="modal-footer text-center">
                <!-- ko if: IsEligibleToCancel -->
                <button type="submit" class="btn btn-primary">Confirm</button>
                <!-- /ko -->
                <button type="button" class="btn btn-primary" data-dismiss="modal">Exit</button>
            </div>
        </div>
    </div>
</div>
