﻿@model Ivh.Common.Web.Models.Payment.PaymentEditViewModel

<div id="modalPaymentEdit" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">Edit Payment</h4>
            </div>
            <div class="modal-body">
                <!-- ko if: IsAnyOptionEnabled -->
                <!-- ko if: IsPaymentMethodsEnabled -->
                <div class="option">
                    <a href="javascript:;" title="Change Payment Method" data-bind="click: Option.SetOne, css: { 'active': Option.Is(1) }">Change Payment Method</a>
                    <div data-bind="visible: Option.Is(1)">
                        <p class="text" data-bind="html: CmsPaymentEditPaymentMethod.ContentBody"></p>
                        <section id="s1" class="section-paymentmethods"></section>
                    </div>
                </div>
                <!-- /ko -->
                <!-- ko if: IsRescheduleEnabled -->
                <div class="option">
                    <a href="javascript:;" title="Reschedule Payment" data-bind="click: Option.SetTwo, css: { 'active': Option.Is(2) }">Reschedule Payment</a>
                    <div data-bind="visible: Option.Is(2)">
                        <!-- ko if: IsUserPermittedReschedule -->
                        <p class="text" data-bind="html: CmsPaymentEditReschedule.ContentBody"></p>
                        <!-- ko if: IsEligibleToReschedule -->
                        <hr />
                        <form autocomplete="off">
                            <div class="form-group row">
                                <div class="col-xs-3">@Html.VpLabelFor(m => m.ScheduledPaymentDate):</div>
                                <div class="col-xs-9" data-bind="text: ScheduledPaymentDate"></div>
                            </div>
                            <!-- ko if: AllowRescheduleDateChange -->
                            <div class="form-group row">
                                <div class="col-xs-3">@Html.VpLabelFor(m => m.RescheduledPaymentDate):</div>
                                <div class="col-xs-9">
                                    <div class="input-group date">
                                        @Html.VpTextBoxFor(m => m.RescheduledPaymentDate, new { @readonly = "readonly", data_bind = "value: RescheduledPaymentDate" })
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /ko -->
                            <!-- ko ifnot: AllowRescheduleDateChange -->
                            <div class="form-group row">
                                <div class="col-sm-3 col-xs-6">@Html.VpLabelFor(m => m.OverrideRescheduledPaymentDate)</div>
                                <div class="col-sm-9 col-xs-6">
                                    <span data-bind="text: OverrideRescheduledPaymentDate"></span>
                                </div>
                            </div>
                            <!-- /ko -->
                            <div class="form-group row">
                                <div class="col-xs-3">@Html.VpLabelFor(m => m.PaymentRescheduleReasonId):</div>
                                <div class="col-xs-6">
                                    @Html.DropDownList("PaymentRescheduleReasonId", new List<SelectListItem>(), new { @class = "form-control", data_bind = "options: PaymentRescheduleReasons, optionsText: 'Description', optionsValue: 'PaymentActionReasonId', optionsCaption: 'Select Reason', value: PaymentRescheduleReasonId" })
                                </div>
                            </div>
                            <!-- ko if: PaymentRescheduleReasons.IsRequireInput -->
                            <div class="form-group row">
                                <div class="col-xs-12">
                                    @Html.TextAreaFor(m => m.PaymentRescheduleDescription, new { @class = "form-control", data_bind = "value: PaymentRescheduleDescription" })
                                </div>
                            </div>
                            <!-- /ko -->
                        </form>
                        <!-- /ko -->
                        <!-- /ko -->
                        <!-- ko ifnot: IsUserPermittedReschedule -->
                        <p>@Html.CmsRegion(CmsRegionEnum.ClientNotAuthorizedForAction)</p>
                        <!-- /ko -->
                    </div>
                </div>
                <!-- /ko -->
                <!-- ko if: IsCancelEnabled -->
                <div class="option">
                    <a href="javascript:;" title="Cancel Payment" data-bind="click: Option.SetThree, css: { 'active': Option.Is(3) }">Cancel Payment</a>
                    <div data-bind="visible: Option.Is(3)">
                        <!-- ko if: IsUserPermittedCancel -->
                        <div class="text" data-bind="html: CmsPaymentEditCancel.ContentBody"></div>
                        <!-- ko if: IsEligibleToCancel -->
                        <p class="text-center"><a href="javascript:;" title="Yes, I want to cancel this payment" id="btnPaymentCancel">Yes, I want to cancel this payment</a></p>
                        <!-- /ko -->
                        <!-- /ko -->
                        <!-- ko ifnot: IsUserPermittedCancel -->
                        <p>@Html.CmsRegion(CmsRegionEnum.ClientNotAuthorizedForAction)</p>
                        <!-- /ko -->
                    </div>
                </div>
                <!-- /ko -->
                <!-- /ko -->
                <!-- ko ifnot: IsAnyOptionEnabled -->
                <div class="alert alert-light">No actions are available for this payment.</div>
                <!-- /ko -->
            </div>
            <div class="modal-footer text-center">
                <!-- ko if: IsPaymentMethodsEnabled() || IsRescheduleEnabled() -->
                <button type="submit" class="btn btn-primary">Save</button>
                <!-- /ko -->
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>