﻿@using System.Web.Mvc.Html
@using Ivh.Common.Web.HtmlHelpers
@model Ivh.Common.Web.Models.Payment.MyPaymentsViewModel

<h1 class="bar">
    Payment History
    <input type="image" title="Export To Excel" id="btnPaymentHistoryExport" src="~/Content/Images/excel.png" class="export-excel" />
</h1>
<form class="jqGridFilter container" id="jqGridFilterHistory" autocomplete="off">
    <div class="alert alert-info collapse" data-bind="css: { collapse: RunResults() == false }">
        Click <strong>Run</strong> to update your results
    </div>
    <div class="row">
        <div class="col">Status</div>
        <div class="col">Type</div>
        <div class="col">Payment Method</div>
        <div class="col">@Html.VpTextBoxFor(m => m.PaymentHistorySearchFilter.TransactionId, new { data_bind = "value: TransactionId" })</div>
        <div class="col text-right">Transactions in the Last:</div>
        <div class="col">@Html.DropDownListFor(m => m.PaymentHistorySearchFilter.TransactionRange, Model.PaymentHistorySearchFilter.TransactionRanges, new { @class = "form-control", data_bind = "value: TransactionRange" })</div>
        <div class="col">
            <button type="submit" class="btn btn-primary" id="btnGridFilterSubmit">Run</button>
        </div>
    </div>
    <div class="row">
        <div class="col">@Html.DropDownListFor(m => m.PaymentHistorySearchFilter.PaymentStatusId, Model.PaymentHistorySearchFilter.PaymentStatuses, "All", new { @class = "form-control", data_bind = "value: PaymentStatusId" })</div>
        <div class="col">@Html.DropDownListFor(m => m.PaymentHistorySearchFilter.PaymentTypeId, Model.PaymentHistorySearchFilter.PaymentTypes, "All", new { @class = "form-control", data_bind = "value: PaymentTypeId" })</div>
        <div class="col">@Html.DropDownListFor(m => m.PaymentHistorySearchFilter.PaymentMethodId, Model.PaymentHistorySearchFilter.PaymentMethods, "All", new { @class = "form-control", data_bind = "value: PaymentMethodId" })</div>
        <div class="col">@Html.VpTextBoxFor(m => m.PaymentHistorySearchFilter.PaymentId, new { data_bind = "value: PaymentId" })</div>
        <div class="col text-right">Date Range:</div>
        <div class="col">
            <div class="input-group date">
                @Html.VpTextBoxFor(m => m.PaymentHistorySearchFilter.PaymentDateRangeFrom, new { data_bind = "value: PaymentDateRangeFrom" })
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
            <div class="input-group date">
                @Html.VpTextBoxFor(m => m.PaymentHistorySearchFilter.PaymentDateRangeTo, new { data_bind = "value: PaymentDateRangeTo" })
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
        </div>
        <div class="col">
            <button type="button" class="btn btn-primary" id="btnGridFilterResetHistory">Reset</button>
        </div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col">@Html.ValidationSummary("Invalid Date Range", true)</div>
        <div class="col"></div>
    </div>
</form>
<table id="jqGridHistory"></table>
<div id="jqGridPagerHistory"></div>
<div id="jqGridNoRecordsHistory" class="alert alert-info collapse text-center">
    <strong>There are no payments to display at this time.</strong>
</div>