﻿@using Ivh.Common.Web.Models.Shared
@model Ivh.Common.Web.Models.Payment.CardAccountViewModel
@{
    bool isCardReaderIsEnabled = this.IsFeatureEnabled(VisitPayFeatureEnum.FeatureCardReaderIsEnabled) && this.User.IsInRole(VisitPayRoleStrings.Payment.CardReader);
}

<div id="modalPaymentMethod" class="modal fade modal-paymentmethod" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md">
        <form class="modal-content" autocomplete="off">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.CardCodeRequired, new { data_bind = "value: CardCodeRequired" })
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">
                    <!-- ko if: PaymentMethodId.IsNew -->
                    @Html.TextRegion(TextRegionConstants.AddCreditDebitCard)
                    <!-- /ko -->
                    <!-- ko ifnot: PaymentMethodId.IsNew -->
                    @Html.TextRegion(TextRegionConstants.EditCreditDebitCard)
                    <!-- /ko -->
                </h4>
            </div>
            <div class="modal-body">
                <p class="text-center text-small">For security purposes, we do not store payment account information.</p>
                @Html.ValidationSummary(Html.TextRegion(TextRegionConstants.ValidationCorrectErrors))
                @if (isCardReaderIsEnabled)
                {
                    CmsViewModel cmsModel = Html.CmsModel(CmsRegionEnum.CardReaderCommunicating);

                    <div id="device-prompt" class="device-prompt">
                        <p class="text-large text-center">
                            <img src="/Content/Images/loading.gif" />
                            @Html.Raw(cmsModel.ContentTitle)
                        </p>
                        <hr/>
                        @Html.Raw(cmsModel.ContentBody)
                    </div>
                    <div id="device-error" class="device-error">
                        <div class="alert alert-warning">
                            <code id="device-errors">
                            </code>
                        </div>
                        <div class="text-center">
                            <button id="btnDeviceRetry" type="submit" class="btn btn-primary">Retry</button>
                        </div>
                    </div>
                    <br/>
                }
                else
                {
                    <div class="row form-group">
                        <div class="col-xs-8 col-xs-push-4">
                            <img src="/Content/Images/visa.png" alt="Visa"/>
                            <img src="/Content/Images/mastercard.png" alt="MasterCard"/>
                            <img src="/Content/Images/amex.png" alt="American Express"/>
                            <img src="/Content/Images/discover.png" alt="Discover"/>
                        </div>
                    </div>
                }
                <div class="row form-group card-number">
                    <div class="col-xs-4">
                        @Html.VpLabelFor(m => m.BillingId, new { @class = "required" }):
                    </div>
                    <div class="col-xs-5">
                        <div>
                            <img src="/Content/Images/visa.png" alt="VISA" data-bind="visible: PaymentMethodTypeId.IsVisa" />
                            <img src="/Content/Images/mastercard.png" alt="MasterCard" data-bind="visible: PaymentMethodTypeId.IsMastercard" />
                            <img src="/Content/Images/discover.png" alt="Discover" data-bind="visible: PaymentMethodTypeId.IsDiscover" />
                            <img src="/Content/Images/amex.png" alt="American Express" data-bind="visible: PaymentMethodTypeId.IsAmex" />
                        </div>
                        @if (isCardReaderIsEnabled)
                        {
                            @Html.Raw("X-<span data-bind=\"text: LastFour\"></span>")
                        }
                        else
                        {
                            <!-- ko if: PaymentMethodId.IsNew -->
                            @Html.SecurePan()
                            <!-- /ko -->
                            <!-- ko ifnot: PaymentMethodId.IsNew -->
                            @Html.Raw("X-<span data-bind=\"text: LastFour\"></span>")
                            <!-- /ko -->
                        }
                    </div>
                </div>

                @if (!isCardReaderIsEnabled)
                {
                    <div class="row form-group">
                        <div class="col-xs-4">@Html.VpLabelFor(m => m.ExpirationMonth):</div>
                        <div class="col-xs-8 col-group">
                            <div class="col-xs-4">@Html.DropDownListFor(m => m.ExpirationMonth, Model.Months, "--Month--", new { @class = "form-control", data_bind = "value: ExpirationMonth" })</div>
                            <div class="col-xs-3" style="width: 98px;">@Html.DropDownListFor(m => m.ExpirationYear, Model.Years, "--Year--", new { @class = "form-control", data_bind = "value: ExpirationYear" })</div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-4">
                            @Html.VpLabelFor(m => m.CardCode):
                            <a class="glyphicon glyphicon-question-sign" href="javascript:;" id="aCardCodeHelp" tabindex="-1"></a>
                        </div>
                        <div class="col-xs-2">@Html.VpTextBoxFor(m => m.CardCode, new { data_bind = "value: CardCode", maxlength = 4 })</div>
                    </div>
                }

                <div class="row form-group">
                    <div class="col-xs-4">@Html.VpLabelFor(m => m.NameOnCard):</div>
                    <div class="col-xs-8">@Html.VpTextBoxFor(m => m.NameOnCard, new { data_bind = "value: NameOnCard" })</div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-4">@Html.VpLabelFor(m => m.AddressLine1):</div>
                    <div class="col-xs-8">@Html.VpTextBoxFor(m => m.AddressLine1, new { data_bind = "value: AddressLine1" })</div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-offset-4 col-xs-8">@Html.VpTextBoxFor(m => m.AddressLine2, new { data_bind = "value: AddressLine2" })</div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-offset-4 col-xs-8 col-group">
                        <div class="col-xs-4">@Html.VpTextBoxFor(m => m.City, new { data_bind = "value: City" })</div>
                        <div class="col-xs-5">@Html.VpStatesDropDownListFor(m => m.State, new { @class = "form-control", data_bind = "value: State" })</div>
                        <div class="col-xs-3">@Html.VpTextBoxFor(m => m.Zip, new { data_bind = "value: Zip" })</div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-4">@Html.VpLabelFor(m => m.AccountNickName):</div>
                    <div class="col-xs-8">@Html.VpTextBoxFor(m => m.AccountNickName, new { data_bind = "value: AccountNickName" })</div>
                </div>

                <div class="row form-group">
                    <div class="col-xs-4">Mark as HSA/HRA/FSA:</div>
                    <div class="col-xs-8 col-group">
                        <div class="col-xs-8">@Html.DropDownListFor(m => m.AccountTypeId, Model.AccountTypes, new { @class = "form-control", data_bind = "value: AccountTypeId" })</div>
                        <div class="col-xs-4">@Html.DropDownListFor(m => m.ProviderTypeId, Model.ProviderTypes, "--Provider--", new { @class = "form-control", data_bind = "value: ProviderTypeId" })</div>
                    </div>
                </div>
                <!-- ko if: AllowSingleUse -->
                <div class="row form-group">
                    <div class="col-xs-offset-4 col-xs-8">
                        @Html.CheckBoxFor(m => m.IsActive, new { data_bind = "checked: IsActive" })
                        @Html.LabelFor(m => m.IsActive)
                        <a class="glyphicon glyphicon-question-sign checkbox-tip" href="javascript:;" tabindex="-1" data-toggle="tooltip" title="If you do not save this payment method it will only be used for the current payment and will not be saved on your account."></a>
                    </div>
                </div>
                <!-- /ko -->
                <!-- ko if: !IsActive() -->
                <div class="alert alert-info single-use-alert">
                    @* todo: remove label *@
                    @Html.CmsLabel("PaymentMethods_SingleUseWarning")
                </div>
                <!-- /ko -->
            </div>
            
            <div class="device-prompt" id="traceApi-alerts"></div>

            <div class="modal-footer text-center">
                <button type="submit" class="btn btn-primary" id="btnAccountSave">Save</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="btnAccountCancel">Cancel</button>
            </div>
        </form>
    </div>
</div>