﻿@using Ivh.Common.Web.Enums
<div id="modalVisitSelection" class="modal modal-vcenter" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-md" data-context="financeplan">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" data-bind="click: CancelVisitSelection"><span>&times;</span></button>
                <h4 class="modal-title">Finance Plan Visits Selection</h4>
            </div>
            <div class="modal-body">

                <table class="modern-grid visits-grid allow-input">
                    <colgroup>
                        <col />
                        <col />
                        <col />
                        <col />
                        <col />
                        <col />
                    </colgroup>
                    <thead>
                        <tr>
                            <td></td>
                            <td>Visit #</td>
                            <td>Visit Description</td>
                            <td>Visit Date</td>
                            <td>Status</td>
                            <td class="text-right">Balance</td>
                        </tr>
                    </thead>
                    <tbody>
                    <!-- ko foreach: Visits -->
                        <tr data-bind="click: $parent.Visits.ClickRow, attr: {id: SourceSystemKey}">
                            <td class="text-center">
                                <div class="checkbox-styled" data-bind="click: $parent.Visits.Click, preventBubble: 'click'">
                                    <input type="checkbox" data-bind="checked: $parent.SelectedVisits, checkedValue: $data.VisitId,  attr: { id: 'cbPaymentVisit' + $index() }" tabindex="-1" />
                                    <label data-bind="attr: { for: 'cbPaymentVisit' + $index() }">&nbsp;</label>
                                </div>
                            </td>
                            <td data-bind="text: SourceSystemKeyDisplay"></td>
                            <td data-bind="text: VisitDescription"></td>
                            <td data-bind="text: DischargeDate"></td>
                            <td data-bind="text: StatusDisplay , css: { 'past-due': IsPastDue }"></td>
                            <td class="text-right" data-bind="text: DisplayBalance"></td>
                        </tr>
                    <!-- /ko -->
                    </tbody>
                </table>
                <div class="text-center">
                    @Html.VpButton("btnFinancePlanVisits", "Apply", VpButtonTypeEnum.Button, VpButtonClassEnum.Primary, new { data_bind = "click: ApplyVisitSelection, enable: SelectedVisits().length > 0" })
                    @Html.VpButton("btnFinancePlanVisitsCancel", "Cancel", VpButtonTypeEnum.Button, VpButtonClassEnum.Primary, new { data_bind = "click: CancelVisitSelection" })
                </div>
            </div>
        </div>
    </div>
</div>
