﻿@using Ivh.Common.Web.Enums
@using Ivh.Common.Web.Models.Payment
@model ArrangePaymentViewModel

@section breadcrumbs {
    <ul>
        <li>@ClientDto.ClientBrandName</li>
        <li>@Html.TextRegion(TextRegionConstants.MakePayment)</li>
    </ul>
}
@Html.Action("GuarantorContext", "Payment", new { VisitPayUserId = Model.VisitPayUserId })
@Html.Action("GetFilter", "GuarantorFilter", new { currentVisitPayUserId = Model.VisitPayUserId })

<section id="arrange-payment" style="visibility: hidden;">
    <div data-context="menu" id="payment-menu">
        <!-- ko foreach: PaymentMenuItems -->
        <label data-bind="css: { 'selected': $parent.PaymentMenuItems.Selected.Is($data.PaymentMenuItemId), 'disabled': !IsEnabled() }">
            <span class="label-content">
                <span class="label-inner">
                    <em data-bind="attr: { 'class': IconCssClass }"></em>
                    <span data-bind="text: Title" class="title"></span>
                    <!-- ko if: ShowTextNotAvailable -->
                    <span data-bind="text: TextNotAvailable" class="not-available"></span>
                    <!-- /ko -->
                </span>
            </span>
            <input type="radio" name="PaymentOption" data-bind="checked: $parent.SelectedPaymentMenuItemId, value: PaymentMenuItemId, enable: IsEnabled" />
        </label>
        <!-- /ko -->
    </div>

    <div id="noOptions" class="arrange-payment-module">
        @Html.CmsRegion(CmsRegionEnum.ArrangePaymentNoOptions)
    </div>

    <div id="payment-submit-container" class="arrange-payment-module">
        <div class="row">
            <div data-context="menu" id="payment-menu-secondary" class="col-xs-3 menu-secondary">
                <!-- ko foreach: PaymentMenuItems.Selected.Parent().PaymentMenuItems -->
                <label data-bind="css: { 'selected': $root.PaymentMenuItems.Selected.Is($data.PaymentMenuItemId), 'disabled': !IsEnabled }">
                    <input type="radio" name="PaymentOption" data-bind="checked: $root.SelectedPaymentMenuItemId, value: PaymentMenuItemId, enable: IsEnabled" />
                    <!-- ko if: ShowTextNotAvailable -->
                    <span class="line2">
                        <span class="title" data-bind="html: Title"></span>
                        <span data-bind="text: TextNotAvailable" class="not-available"></span>
                    </span>
                    <!-- /ko -->
                    <!-- ko ifnot: ShowTextNotAvailable -->
                    <span class="title" data-bind="html: Title"></span>
                    <!-- /ko -->
                </label>
                <!-- /ko -->
            </div>

            <div data-context="payment" id="payment-submit" class="col-xs-9">
                <!-- ko if: ActivePaymentOption.Any -->
                <!-- ko foreach: Messages.Errors -->
                <div class="alert alert-danger text-center" data-bind="text: $data"></div>
                <!-- /ko -->
                <form data-bind="with: ActivePaymentOption" autocomplete="off">
                    <!-- ko if: HouseholdBalances.Any -->
                    @Html.Partial("_ArrangePaymentHouseholdBalances")
                    <!-- /ko -->
                    <!-- ko if: Payments.Any -->
                    @Html.Partial("_ArrangePaymentResubmits")
                    <!-- /ko -->
                    <!-- ko if: Visits.Any -->
                    @Html.Partial("_ArrangePaymentVisits")
                    <!-- /ko -->
                    <!-- ko if: FinancePlans.Any -->
                    @Html.Partial("_ArrangePaymentFinancePlans")
                    <!-- /ko -->
                    <div class="row">
                        <div class="col-xs-6 col-xs-offset-3">
                            <div class="modern-form">
                                <!-- ko if: ShowPayBucketZero() -->
                                <div class="form-group row pay-bucket-zero">
                                    <div class="col-xs-9">
                                        <span>
                                            @Html.Raw(Html.TextRegion(TextRegionConstants.ApplyToAmountDue, new Dictionary<string, string>
                                            {
                                                { "[[AmountDueTotal]]", "<span data-bind=\"currencyText: AmountDueTotal()\"></span>" }
                                            }))
                                        </span>
                                    </div>
                                    <div class="col-xs-3 text-right checkbox-styled">
                                        <input id="apPayBucketZero" type="checkbox" data-bind="checked: PayBucketZero" tabindex="-1" />
                                        <label for="apPayBucketZero"></label>
                                    </div>
                                </div>
                                <!-- /ko -->
                                <!-- ko if: IsDiscountEligible -->
                                <div class="form-group row">
                                    <div class="col-xs-12">
                                        <label>@Html.TextRegion(TextRegionConstants.PaymentAmountBalance)</label>
                                        <div data-bind="currencyText: UserApplicableBalance.Calculated"></div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xs-12 discount-amount">
                                        <label>@Html.TextRegion(TextRegionConstants.DiscountsAmount)</label>
                                        <div>
                                            <span data-bind="currencyText: DiscountAmount.Calculated"></span>
                                            &nbsp;
                                            <a href="javascript:;" title="@Html.TextRegion(TextRegionConstants.DiscountsView)" data-bind="click: $root.ShowDiscounts">@Html.TextRegion(TextRegionConstants.DiscountsView)</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- /ko -->
                                <div class="form-group row">
                                    <div class="col-xs-6 payment-amount">
                                        <!-- ko if: IsAmountReadonly -->
                                        <label for="PaymentAmount">@Html.TextRegion(TextRegionConstants.PaymentAmountTotal)</label>
                                        <!-- /ko -->
                                        <!-- ko ifnot: IsAmountReadonly -->
                                        <label for="PaymentAmount">@Html.TextRegion(TextRegionConstants.PaymentAmountEnter)</label>
                                        <!-- /ko -->
                                        <div>
                                            <!-- ko if: IsAmountReadonly -->
                                            <span data-bind="currencyText: PaymentAmount.Calculated, defaultEmptyText: '$0.00'"></span>
                                            <!-- /ko -->
                                            <!-- ko ifnot: IsAmountReadonly -->
                                            <input id="PaymentAmount" name="PaymentAmount" type="text" class="form-control numeric" placeholder="0.00" data-bind="textInput: PaymentAmount" data-val="true" data-val-number="" data-val-required="" />
                                            <!-- /ko -->
                                            <!-- ko if: Description().length > 0 -->
                                            <div style="display: none;" data-tooltip-html data-bind="html: Description"></div>
                                            <em class="vpicon-question" data-toggle="tooltip-html"></em>
                                            <!-- /ko -->
                                        </div>
                                    </div>
                                    <div class="col-xs-6 text-right payment-date">
                                        <label for="PaymentDate">@Html.TextRegion(TextRegionConstants.PaymentDate)</label>
                                        <div>
                                            <div class="readonly-date" data-bind="visible: IsDateReadonlyOverride()">
                                                <span data-bind="text: PaymentDate"></span>
                                            </div>
                                            <div class="input-group date" data-bind="visible: !IsDateReadonlyOverride()">
                                                <input id="PaymentDate" name="PaymentDate" type="text" class="form-control" readonly="readonly" data-bind="textInput: PaymentDate" data-val="true" data-val-required="" />
                                                <div class="input-group-addon">
                                                    <em class="vpicon-calendar"></em>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row payment-method">
                                    <div class="col-xs-12">
                                        <label>@Html.TextRegion(TextRegionConstants.PaymentMethod)</label>
                                        <div>
                                            <span data-bind="html: $root.PaymentMethods.SelectedPaymentMethod.Display"></span>
                                            @Html.VpButton("btnPaymentPaymentMethodEdit", Html.TextRegion(TextRegionConstants.ButtonEdit), VpButtonTypeEnum.Button, VpButtonClassEnum.AccentOutline, new { data_bind = "click: $root.PaymentMethods.Toggle" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row continue">
                                    <div class="col-xs-12 text-right">
                                        <hr />
                                        @Html.VpButton("btnContinue1", Html.TextRegion(TextRegionConstants.ButtonContinue), VpButtonTypeEnum.Submit, VpButtonClassEnum.Primary, new { data_bind = "enable: $root.IsValid" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- /ko -->
            </div>
        </div>
    </div>
    
    <div id="finance-plan-state-selection" data-context="financeplanstateselection" class="arrange-payment-module">
        @Html.Partial("_ArrangePaymentFinancePlanStateSelection")
    </div>

    <div id="finance-plan" data-context="financeplan" class="arrange-payment-module">
        <!-- ko if: HasPendingResubmitPayments-->
        <div class="alert alert-light">
            <span>
                @Html.CmsRegion(CmsRegionEnum.CreateFinancePlanResubmitBlock)
            </span>
            <br />
            <span>
                Please click @Html.CmsRegion(CmsRegionEnum.PaymentMenuMakePayment) and choose the @Html.CmsRegion(CmsRegionEnum.PaymentMenuResubmit) option.
            </span>
        </div>
        <!-- /ko -->
        @Html.Partial("_ArrangePaymentFinancePlan")
    </div>

    <section id="section-paymentmethods" style="display: none;">
    </section>

    <div data-context="receipt" id="receipt" class="arrange-payment-module">
        <!-- ko if: IsVisible -->
        <div class="receipt">
            <div data-bind="html: ReceiptText"></div>
            <p class="text-center">
                <a href="javascript:;" title="" class="btn btn-primary" data-bind="click: GoHome, text: HomeButtonText, attr: { title: HomeButtonText }">Home</a>
                <!-- ko if: ShowMakeAnotherPayment -->
                <a href="javascript:;" title="Make Another Payment" class="btn btn-primary" data-bind="click: SetDefaultPaymentOption">Make Another Payment</a>
                <!-- /ko -->
            </p>
        </div>
        <!-- /ko -->
    </div>

</section>

@section modals {
    @Html.Partial("~/Views/Payment/_Discounts.cshtml")
    @Html.Partial("~/Views/Payment/_ArrangePaymentSubmit.cshtml")
    @Html.Partial("~/Views/Payment/_VisitSelection.cshtml")
}

@section scripts {
    @Scripts.Render(BundleConstants.CommonFinancePlanSetup, "~/bundles/scripts/payment/arrangepayment")
    <script type="text/javascript">
        (function() {
            var arrangePayment = new window.VisitPay.ArrangePayment.Main(@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model)));
        })();
    </script>
}
