﻿@model PaymentMethodsListViewModel
@using Ivh.Web.Client.Models.Payment

@section breadcrumbs {
    <ul>
        <li>@ClientDto.ClientBrandName</li>
        <li>@Html.TextRegion(TextRegionConstants.PaymentMethodsPageHeading)</li>
    </ul>
}

@Html.Action("GuarantorContext", "Payment", new { VisitPayUserId = Model.CurrentVisitPayUserId })

<section id="section-paymentmethods" style="visibility: hidden;">
    @Html.Partial("_PaymentMethodsList", Model)
</section>

@section scripts {
    <script type="text/javascript" src="/Scripts/Payment/payment-methods-common.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            var $scope = $('#section-paymentmethods');

            var model = {
                PaymentMethods: {},
                ShouldShowCardDeviceKeyModal: @Model.ShouldShowCardDeviceKeyModal.ToString().ToLower()
            };

            model.PaymentMethods = new window.VisitPay.PaymentMethodsViewModel(@Model.CurrentVisitPayUserId);
            ko.applyBindings(model, $('#section-paymentmethods')[0]);

            window.VisitPay.PaymentMethods(model, $scope).done(function () {
                $scope.css('visibility', 'visible');
            });

        });
    </script>
    @*Scripts.Render(BundleConstants.CommonPaymentMethods, "~/bundles/scripts/payment/paymentmethods")*@
}

