﻿@using Ivh.Common.Web.Models.Shared
@model Ivh.Web.Patient.Models.Offline.CreateAccountViewModel
@{
    CmsViewModel offlineCreateAccount = Html.CmsModel(CmsRegionEnum.OfflineCreateAccount);
}

<section id="offline-create-account" class="create-account">
    <h4 class="text-center">@Html.Raw(offlineCreateAccount.ContentTitle)</h4>
    <div class="text">
        @Html.Raw(offlineCreateAccount.ContentBody)
    </div>
    <br />
    <div class="form modern-form">
        @using (Html.VpForm("CreateAccount", "Offline", FormMethod.Post, "frmCreateAccount", new { @class = "modern-form" }))
        {
            @Html.HiddenFor(m => m.TermsOfUseCmsVersionId)
            <div class="form-group">
                @Html.VpLabelFor(m => m.EmailAddress)
                @Html.VpTextBoxFor(m => m.EmailAddress, new { @class = "form-control", id = "createEmail" })
            </div>
            <div class="form-group">
                @Html.VpLabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", id = "createPassword" })
            </div>
            <div class="form-section hidden-create-account-item">
                <br />
                <div class="form-group">
                    <div class="checkbox-styled">
                        @Html.CheckBoxFor(m => m.TermsOfUseAgreed)
                        @{
                            string termsLabelLink = "<a href=\"#TermsOfUse\">" + @Html.TextRegion(TextRegionConstants.RegistrationReadAndAcceptClientTermsOfUse) + "</a>";
                        }
                        @Html.Raw(@HttpUtility.HtmlDecode(Html.LabelFor(m => m.TermsOfUseAgreed, termsLabelLink).ToString()))
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="checkbox-styled">
                        @Html.CheckBoxFor(m => m.IsGuarantorSelfVerified)
                        @Html.Raw(HttpUtility.HtmlDecode(Html.LabelFor(m => m.IsGuarantorSelfVerified, TextRegionConstants.GuarantorSelfVerification).ToString()))
                    </div>
                </div>
            </div>
            <div class="form-section">
                @Html.ValidationSummary(Html.TextRegion(TextRegionConstants.ValidationAllFieldsRequired))
                @Html.VpValidationSummaryCustomErrors()
            </div>
            <div class="text-center">
                @Html.VpButton("btnCreateAccount", Html.TextRegion(TextRegionConstants.CreateAccount), VpButtonTypeEnum.Submit)
                <p class="text-small create-account-logoff-link">
                    <br />
                    @Html.ActionLink(Html.TextRegion(TextRegionConstants.NoThanks), "Logoff", "Offline")
                </p>
            </div>
        }
    </div>
</section>
