﻿@using Ivh.Web.Patient.Models.Offline

<section id="offline-finance-plan-declined">
    <div class="text-center">
        <h1>@Html.TextRegion(TextRegionConstants.FinancePlanDeclined)</h1>
        <div style="max-width: 450px;">
            @Html.CmsRegion(CmsRegionEnum.OfflineFinancePlanDeclinedResolutionOptions)
        </div>
        <br />
        @Html.VpActionLink("btnExit", Html.TextRegion(TextRegionConstants.ButtonExit), "Logoff", "Offline", VpActionLinkTypeEnum.Button, VpButtonClassEnum.Primary)
    </div>
</section>
