﻿
@model Ivh.Common.Web.Models.Payment.PaymentSummaryListViewModel

@{
    IDictionary<string, string> additionalValues = new Dictionary<string, string>()
    {
        { "[[PaymentDueDate]]", Model.FinancePlanFirstPaymentDueDate.ToShortDateString() }
    };
}

<div class="offline-finance-plan-receipt-container">
    <div class="offline-financeplan-receipt">
        @Html.CmsRegionWithAdditionalValues(CmsRegionEnum.OfflineFinancePlanReceipt, additionalValues)
    </div>
    <hr />
    @{Html.RenderAction("CreateAccountPartial", "Offline");}
</div>