﻿@{
    ViewBag.HtmlClass = "layout-alt layout-offline";
    ViewBag.BodyClass = "client-bg";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section linkhome {
    <a href="/" title=""></a>
}

@section css {
    @RenderSection("css", false)
}

@section scripts {
    @RenderSection("scripts", false)
    <script type="text/javascript">
        @*Override for IsOfflineUser*@
        VisitPay.State = (function() {
            var obj = VisitPay.State || {};
            obj.IsOfflineUser = true;
            return obj;
        })();
    </script>
}

@section user {
}

@section modals {
    @RenderSection("modals", false)
}

@RenderBody()
