﻿@using Ivh.Web.Patient.Models.Offline

<div class="offline-menu">
    <ul>
        @foreach (OfflineMenuItem item in OfflineMenuViewModel.MenuItems)
        {
            <li class="@(OfflineMenuViewModel.IsActive(item) ? "active" : string.Empty)">
                <a href="@Url.Action(item.Action, item.Controller)" title="@item.Text">
                    <em class="@item.Icon"></em>
                    <span>@item.Text</span>
                </a>
            </li>
        }
    </ul>
</div>