﻿@model Ivh.Web.Patient.Models.Offline.OfflineAccountSettingsViewModel
@{
    Layout = "~/Views/Offline/_LayoutOffline.cshtml";
}

@Html.Partial("_OfflineMenu")    
<div class="flex-body" id="offline-account-settings">
    <div class="content-box box">
        <div id="offline-payment-methods">
            <h4 class="offline-heading">Manage Payment Methods</h4>
            <section id="section-paymentmethods">
                <br />
                @Html.Partial("~/Views/Payment/_PaymentMethodsList.cshtml", Model.PaymentMethods)
            </section>
         </div>
    </div>
</div>

@section scripts {
    @Scripts.Render(BundleConstants.OfflineAccountSettings)
    <script type="text/javascript">
        $(document).ready(function() {
            var data = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
            window.VisitPay.OfflinePaymentMethods.init(data);            
        });
    </script>
}