﻿@using Ivh.Common.Base.Utilities.Extensions
@model Ivh.Common.Web.Models.Payment.OfflineFinancePlanConfigurationViewModel
@{
    Layout = "~/Views/Offline/_LayoutOffline.cshtml";

    IDictionary<string, string> cmsValues = new Dictionary<string, string>()
{
        { "[[ExpirationDate]]", Model.Terms.NextPaymentDueDate }
    };
    // todo: new region for non-autopay
    MvcHtmlString offlineFinancePlanDescription = Html.CmsRegionWithAdditionalValues(CmsRegionEnum.OfflineFinancePlanDescription, cmsValues);
}
<div class="flex-body">
    <div class="content-box box" id="offline-finance-plan-container">
        <section id="offline-finance-plan" style="visibility: hidden;">
            <div class="flex-row">
                <div class="col-main">
                    <div class="balances">
                        <div class="balance">
                            <div class="title">@Html.TextRegion(TextRegionConstants.FinanceTotal)</div>
                            <div class="amount">@Model.AmountToFinance.FormatCurrency()</div>
                        </div>
                    </div>
                    <div class="terms-calculate modern-form">
                        @Html.Partial("~/Views/FinancePlan/_FinancePlanTermsCalculate.cshtml", offlineFinancePlanDescription)
                        <!-- ko if: Terms().IsValid() -->
                        <!-- ko if: RequirePaymentMethod -->
                        <div class="primary-select">
                            <label>@Html.TextRegion(TextRegionConstants.PaymentMethodPrimary)</label>
                            <div>
                                @Html.VpButton("btnConfirmFinancePlanEditPaymentMethod", Html.TextRegion(TextRegionConstants.ButtonEdit), VpButtonTypeEnum.Button, VpButtonClassEnum.AccentOutline, new { data_bind = "click: ChangePrimary", @class = "pull-right" })
                                <!-- ko if: PrimaryPaymentMethod.Any -->
                                <span class="payment-method" data-bind="html: PrimaryPaymentMethod.Display"></span>
                                <!-- /ko -->
                                <!-- ko ifnot: PrimaryPaymentMethod.Any -->
                                <span class="payment-method">
                                    @Html.TextRegion(TextRegionConstants.SelectAPaymentMethod)
                                    <span style="display: none;" data-tooltip-html>
                                        @Html.TextRegion(TextRegionConstants.NoPrimaryPaymentMessage)
                                    </span>
                                    <em class="vpicon-question" data-toggle="tooltip-html"></em>
                                </span>
                                <!-- /ko -->
                            </div>
                        </div>
                        <br />
                        <!-- /ko -->
                        <div>
                            @Html.Partial("~/Views/FinancePlan/_FinancePlanTermsAgree.cshtml")
                            <br />
                            <div class="checkbox-styled">
                                <input id="cbEsign" type="checkbox" data-bind="checked: EsignCmsVersionId.IsChecked, value: EsignCmsVersionId" />
                                <label for="cbEsign">
                                    @{
                                        string esignAct = Html.TextRegion(TextRegionConstants.EsignAct);
                                    }
                                    @Html.TextRegion(TextRegionConstants.AgreeToTermsOf) <a href="#EsignAct" title="@esignAct">@esignAct</a>
                                </label>
                            </div>
                        </div>
                        <div class="text-center">
                            <br />
                            @Html.VpButton("btnConfirmFinancePlan", Html.TextRegion(TextRegionConstants.ButtonConfirmPaymentPlan), VpButtonTypeEnum.Button, VpButtonClassEnum.Primary, new { data_bind = "enable: TermsCmsVersionId.IsChecked() && EsignCmsVersionId.IsChecked() && PaymentMethodValid()" })
                            <br /><br />
                            @Html.VpButton("btnDeclineTerms", Html.TextRegion(TextRegionConstants.ButtonDeclineTerms), VpButtonTypeEnum.Button, VpButtonClassEnum.DefaultOutline)
                        </div>
                        <!-- /ko -->
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

@section scripts {
    @Html.Partial("~/Views/Payment/_ArrangePaymentModals.cshtml")
    @Scripts.Render(BundleConstants.OfflineFinancePlan)
    <script type="text/javascript">
        (function() {
            window.VisitPay.Urls = window.VisitPay.Urls || {};
            $.extend(window.VisitPay.Urls, {
                FinancePlanCancelUrl: '@Url.Action("FinancePlanCancel", "FinancePlan")',
                FinancePlanValidateUrl: '@Url.Action("FinancePlanValidate", "FinancePlan")',
                FinancePlanSubmitUrl: '@Url.Action("FinancePlanSubmit", "FinancePlan")',
                OfflineFinancePlanDeclinedUrl: '@Url.Action("FinancePlanDeclined", "Offline")'
            });

            window.VisitPay.Localization = window.VisitPay.Localization || {};
            $.extend(window.VisitPay.Localization, {
                DeclineFinancePlanTerms: he.decode('@Html.TextRegion(TextRegionConstants.ButtonDeclineTerms)'),
                DeclineFinancePlanTermsWarning: he.decode('@Html.CmsRegion(CmsRegionEnum.OfflineFinancePlanDeclineWarning)')
            });
        })();
        $(document).ready(function() {
            var data = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
            window.VisitPay.OfflineFinancePlan.Initialize(data);
        });
    </script>
}