﻿@model Ivh.Web.Patient.Models.Offline.OfflineIndexViewModel
@{
    Layout = "~/Views/Offline/_LayoutOffline.cshtml";
}

@Html.Partial("_OfflineMenu")

<div class="flex-body" id="offline-index">
    <div class="content-box box">
        @Html.Action("Alerts", "Account")
        <div class="welcome-text">
            @Html.CmsRegionWithAdditionalValues(CmsRegionEnum.OfflineWelcome, new Dictionary<string, string>
            {
                { "[[FirstName]]", CurrentUser.FirstName }
            })
        </div>
        <div id="offline-statements">
            <h4 class="offline-heading">@Html.TextRegion(TextRegionConstants.StatementsPageHeading)</h4>
            @Html.Partial("~/Views/Statement/_StatementsPartial.cshtml", Model.Statements)
        </div>
        <div id="offline-make-payment" style="visibility: hidden">
            <h4 class="offline-heading">Make a Payment</h4>
            <div data-context="payment" id="payment-submit">
                @Html.Partial("~/Views/Payment/_ArrangePaymentPayment.cshtml")
            </div>
        </div>
    </div>
    <div class="content-box box">
        @{Html.RenderAction("CreateAccountPartial", "Offline");}
    </div>
</div>

@section modals {
    @Html.Partial("~/Views/Payment/_ArrangePaymentModals.cshtml")
}

@section scripts {
    @Scripts.Render(BundleConstants.OfflineIndex)
    <script type="text/javascript">
        $(document).ready(function() {

            // statements
            window.VisitPay.OfflineCreateAccount.init();

            // payment
            var data = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
            window.VisitPay.OfflineMakePayment.init(data);

        });

    </script>
}