﻿@using Ivh.Common.Web.Models.Shared
@model Ivh.Web.Patient.Models.Offline.TokenLoginViewModel

@{
    Layout = "~/Views/Offline/_LayoutOffline.cshtml";
    CmsViewModel offlineLogin = Html.CmsModel(CmsRegionEnum.OfflineLogin);
}
<section id="section-offline-login">
    <div class="login-box box">
        <div class="login">
            <div class="verify-title text-center">@Html.Raw(offlineLogin.ContentTitle)</div>
            @if (!string.IsNullOrWhiteSpace(offlineLogin.ContentBody))
            {
                <div class="verify-text">@Html.Raw(offlineLogin.ContentBody)</div>
            }
            @using (Html.BeginForm("Login", "Offline", FormMethod.Post, new { @class = "modern-form" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.Token)
                <div class="form-section">
                    <div class="row form-group">
                        <div class="col-xs-12">
                            @Html.LabelFor(m => m.LastName)
                            @Html.VpTextBoxFor(m => m.LastName)
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-12">
                            @Html.LabelFor(m => m.DateOfBirthMonth)
                            <div class="date-of-birth">
                                @Html.VpDropDownListFor(m => m.DateOfBirthMonth, Dates.MonthsAbbreviated())
                                @Html.VpTextBoxFor(m => m.DateOfBirthDay, new { type = "tel" })
                                @Html.VpTextBoxFor(m => m.DateOfBirthYear, new { type = "tel" })
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-xs-12">
                            <div class="checkbox-styled inverse text-center">
                                <input id="cbGuarantorSelfVerification" type="checkbox" data-bind="checked: IsGuarantorSelfVerified" />
                                <label for="cbGuarantorSelfVerification">
                                    @Html.TextRegion(TextRegionConstants.GuarantorSelfVerification)
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    @Html.ValidationSummary(true)
                </div>
                <div class="text-center">
                    @Html.VpButton("btnLogin", Html.TextRegion(TextRegionConstants.ButtonContinue), VpButtonTypeEnum.Submit, htmlAttributes: new { @class = "box-button", data_bind = "enable: CanContinue" })
                </div>
            }
        </div>
    </div>
</section>

@section scripts{
    @Scripts.Render(BundleConstants.OfflineLogin)
    <script type="text/javascript">
        $(document).ready(function() {
            window.VisitPay.OfflineLogin.Initialize();
        });
    </script>
}