﻿@model Ivh.Common.Web.Models.FinancePlan.ReconfigureFinancePlanViewModel
@{
    Layout = "~/Views/Offline/_LayoutOffline.cshtml";
}

<div class="flex-body">
    <div class="content-box box" id="offline-finance-plan-container">
        @Html.Partial("~/Views/FinancePlan/_ReconfigureFinancePlan.cshtml", Model)
    </div>
</div>

@section scripts {
    @Scripts.Render(BundleConstants.CommonFinancePlanSetup, BundleConstants.ReconfigureFinancePlan)
    <script type="text/javascript">
        $(document).ready(function() {
            var data = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
            window.VisitPay.ReconfigureFinancePlan.Initialize(data);
        });
    </script>
}


