﻿
<div id="chat-indicator" class="messages">
    <ul>
        <li data-bind="css: !IsOff() && ThreadCount() > 0 ? 'has-messages' : ''">
            <a href="/Chat">
                <span data-bind="text: ChatIndicatorBadge, css: IsOff() ? 'small-text' : ''"></span>
                <em class="vpicon-message"></em>
            </a>
        </li>
    </ul>
</div>