﻿@model IList<Ivh.Web.Client.Models.Chat.ChatAvailabilityViewModel>
@section breadcrumbs {
    <ul>
        <li>@base.ClientDto.ClientBrandName</li>
        <li>Chat Administration</li>
    </ul>
}
<section id="section-chat-admin">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Chat Status</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="chat-status-section" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th class="text-right kill-switch" style="width: 50%;">
                                            <button type="button"
                                                    id="chatToggleButton"
                                                    class="btn"
                                                    data-bind="click: ToggleChatEnabled, text: ChatEnabled() ? 'Disable Chat' : 'Enable Chat', css: ChatEnabled() ? 'btn-danger' : 'btn-success'"></button>
                                        </th>
                                        <th class="text-left chat-status-label" style="width: 50%;">
                                            Chat Status: <span data-bind="text: ChatStatus()"></span>
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Default Chat Availability</h3>
                </div>
                <div class="panel-body no-padding">
                    <form id="defaultAvailabilitiesForm">
                        @Html.ValidationSummary()
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Day</th>
                                    <th>Chat Start Time</th>
                                    <th>Chat End Time</th>
                                    <th class="text-center">Offline</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: DefaultAvailabilities">
                                <tr>
                                    <td data-bind="text: DayOfWeekDisplay"></td>
                                    <td>
                                        <input class="form-control" type="text" data-bind="disable: Offline(), dateTimePicker: TimeStart, dateTimePickerOptions: { format: 'hh:mm A', keepInvalid: true }" />
                                    </td>
                                    <td>
                                        <input class="form-control" type="text" data-bind="disable: Offline(), dateTimePicker: TimeEnd, dateTimePickerOptions: { format: 'hh:mm A', keepInvalid: true }" />
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" data-bind="checked: Offline, click: OfflineChanged" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
                <div class="panel-footer text-right">
                    <button class="btn btn-success" data-bind="click: SaveDefaults">Save Changes</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title pull-left">Chat Availability Overrides</h3>
                    <div class="button-group pull-right">
                        <button class="btn btn-default" data-bind="click: AddCustomAvailability">Add Override</button>
                    </div>
                </div>
                <div class="panel-body no-padding">
                    <!-- ko if: CustomAvailabilities().length > 0 -->
                    <form id="customAvailabilitiesForm">
                        @Html.ValidationSummary()
                        <table class="table table-striped" style="margin: 0;">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Chat Start Time</th>
                                    <th>Chat End Time</th>
                                    <th class="text-center">Offline</th>
                                    <th class="text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: CustomAvailabilities">
                                <tr>
                                    <td>
                                        <input class="form-control" type="text" data-bind="dateTimePicker: Date, dateTimePickerOptions: { format: 'MM/DD/YYYY', keepInvalid: true}" />
                                    </td>
                                    <td>
                                        <input class="form-control" type="text" data-bind="disable: Offline(), dateTimePicker: TimeStart, dateTimePickerOptions: { format: 'hh:mm A', keepInvalid: true }" />
                                    </td>
                                    <td>
                                        <input class="form-control" type="text" data-bind="disable: Offline(), dateTimePicker: TimeEnd, dateTimePickerOptions: { format: 'hh:mm A', keepInvalid: true }" />
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" data-bind="checked: Offline, click: OfflineChanged" />
                                    </td>
                                    <td class="text-center">
                                        <button class="btn btn-icon" title="Remove" data-bind="click: $root.RemoveCustomAvailability">
                                            <i class="glyphicon glyphicon-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                    <!-- /ko -->
                    <!-- ko if: CustomAvailabilities().length <= 0 -->
                    <div class="alert alert-info text-center">
                        No overrides added. Click the "Add Override" button to add an override.
                    </div>
                    <!-- /ko -->
                </div>
                <!-- ko if: CustomAvailabilities().length > 0 -->
                <div class="panel-footer text-right">
                    <button class="btn btn-success" data-bind="click: SaveCustoms">Save Changes</button>
                </div>
                <!-- /ko -->
            </div>
        </div>
    </div>
    <div class="row">
        
    </div>
</section>

@section scripts {
    @Scripts.Render("~/Scripts/Chat/chat-admin.js")
    <script type="text/javascript">
        $(document).ready(function() {
            var data = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
            window.VisitPay.ChatAdmin.Initialize(data);
        });
    </script>
}