﻿
<section id="section-chat-queue">
    <!-- ko ifnot: ChatIsAvailable -->
    <div class="row">
        <div class="col-sm-12">
            <div class="well text-center">
                Chat is currently offline.
            </div>
        </div>
    </div>
    <!-- /ko -->
    <!-- ko if: ChatIsAvailable -->
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default" id="chat-queue-panel">
                <div class="panel-heading" style="height:45px;">
                    <h3 class="panel-title pull-left" style="padding-top: 4.5px"><i class="vpicon-message-filled"></i>&nbsp;Chat Queue</h3>
                    <div class="button-group pull-right">
                        <button class="btn btn-icon"
                                title="Toggle Availability" 
                                style="font-size: 30px;" 
                                data-bind="css: OperatorIsAvailable() ? 'vpicon-toggleOn' : 'vpicon-toggleOff', click: ToggleOperatorStatus"></button>
                    </div>
                </div>
                <div class="panel-body">
                    <!-- ko if: OperatorIsAvailable() || ChatThreads().length > 0 -->
                    <!-- ko if: SortedChatThreads().length > 0 -->
                    <div class="list-group">
                        <!-- ko foreach: SortedChatThreads -->
                        <a data-bind="click: $parent.ThreadClicked, css: { 'active': $parent.IsActiveThread($data) }" class="list-group-item">
                            <div class="status-container">
                                <span class="status-dot" data-bind="css: { 'offline': isThreadClosed }"></span>
                            </div>
                            <!-- ko if: badgeDisplayText() !== 0 -->
                            <span class="badge" data-bind="text: badgeDisplayText"></span>
                            <!-- /ko -->
                            <h4 data-bind="text: title()" class="list-group-item-heading"></h4>
                            <div data-bind="with: lastMessage">
                                <p data-bind="text: body" class="list-group-item-text text-ellipsis message-preview"></p>
                                <br/>
                                <p data-bind="text: 'Last Message: ' + $root.ChatMessageTime(dateSent), attr: { 'data-message-time': dateSent, 'data-time-prefix': 'Last Message: ' }, messageSentDateTimer: dateSent" class="list-group-item-text text-smaller"></p>
                            </div>
                            <p data-bind="text: 'Thread Started: ' + $root.ChatMessageTime(dateCreated), attr: { 'data-message-time': dateCreated, 'data-time-prefix': 'Thread Started: ' }, messageSentDateTimer: dateCreated" class="list-group-item-text text-smaller"></p>
                        </a>
                        <!-- /ko -->
                    </div>
                    <!-- /ko --> @* END: If threads exist *@
                    <!-- ko ifnot: SortedChatThreads().length > 0 -->
                    <div class="well text-center" style="margin-top: 20px;">
                        There are currently no threads in the queue.
                    </div>
                    <!-- /ko --> @* END: If no threads exist *@
                    <!-- /ko --> @* END: If operator is available *@
                    <!-- ko if: !OperatorIsAvailable() && ChatThreads().length == 0 -->
                    <div class="well text-center" style="margin-top: 20px;">
                        You are currently marked as unavailable. Set your status to available with the switch above in order to view the queue.
                    </div>
                    <!-- /ko -->
                </div>
            </div>
        </div>
        <!-- ko ifnot: HasActiveThread -->
        <div class="col-sm-8">
            <div class="well text-center">
                Click on a chat in the queue to initialize a session.
            </div>
        </div>
        <!-- /ko -->
        <!-- ko if: HasActiveThread -->
        <div class="col-sm-8">
            <div class="panel panel-default" id="chat-iframe-panel">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title pull-left" style="padding-top: 7.5px">Chatting with:&nbsp;<span data-bind="text: ActiveThread().title()"></span></h3>
                    <div class="btn-group pull-right">
                        <button class="btn btn-icon btn-lg btn-danger" style="font-size: 18px; padding-left: 5px;" data-bind="click: EndThread" title="End Thread"><i class="glyphicon glyphicon-remove"></i></button>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="chat-iframe">
                        <iframe id="chatIframe" class="chat-iframe"></iframe>
                    </div>
                </div>
                <div class="panel-footer text-center">
                    <button type="button" class="btn btn-primary" data-bind="click: GoToAccount">Go to Account</button>
                </div>
            </div>
        </div>
        <!-- /ko -->
    </div>
    <!-- /ko -->
</section>
@section scripts {
    @* TODO: Move to bundles *@
    @Scripts.Render("~/Scripts/Chat/chat-queue.js", "~/Scripts/Libraries/jquery.timeago.js")
}
