﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.VisitPay.Enums
@model Ivh.Common.Web.Models.Support.CreateSupportRequestViewModel

<div class="modal fade" id="modalCreateSupportRequest" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title">@Html.TextRegion(TextRegionConstants.SubmitHelpRequest)</h4>
            </div>
            <div class="modal-body">
                <section id="section-createsupportrequest">

                    <div class="self-serve-text-container">
                        <div class="title">
                            <em class="glyphicon glyphicon-question-sign"></em> @Html.TextRegion(TextRegionConstants.FrequentlyAskedQuestions)
                        </div>
                        <div class="self-serve-text-body">
                            @Html.Raw(Model.SelfServiceTextCmsVersionDto.ContentBody)
                        </div>
                    </div>
                    <form id="frmCreateSupportRequest" autocomplete="off">
                        @Html.HiddenFor(m => m.VisitId)
                        <div class="details">
                            @if (Model.VisitId.HasValue)
                            {
                                if (Model.Users.Count > 1)
                                {
                                    <div class="row">
                                        <div class="col-xs-7">
                                            <div class="submitting-for">
                                                @Html.TextRegion(TextRegionConstants.SubmittingFor):
                                                <span>
                                                    @Model.Visit.GuarantorName
                                                    @Html.HiddenFor(m => m.SubmittedForVisitPayUserId, Model.SubmittedForVisitPayUserId)
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                }

                                <div class="row">
                                    <div class="col-xs-7">
                                        <div>
                                            @Html.TextRegion(TextRegionConstants.VisitDate):
                                            <span>@Model.Visit.DischargeDate</span>
                                        </div>
                                        <div class="description">
                                            @Html.TextRegion(TextRegionConstants.Description):
                                            <span title="@Model.Visit.VisitDescription">@Model.Visit.VisitDescription</span>
                                        </div>
                                        <div>
                                            @Html.TextRegion(TextRegionConstants.Patient):
                                            <span>@Model.Visit.PatientName</span>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                            }
                            else if (Model.Users.Count > 1)
                            {
                                <div class="row">
                                    <div class="col-xs-7">
                                        <div class="submitting-for">
                                            @Html.TextRegion(TextRegionConstants.SubmittingFor):
                                            <span>
                                                @Html.DropDownListFor(m => m.SubmittedForVisitPayUserId, Model.Users, new { @class = "form-control" })
                                            </span>

                                        </div>

                                    </div>
                                </div>
                                <hr />
                            }

                        </div>
                        <p>@Html.CmsRegion(CmsRegionEnum.CreateSupportRequestInstruction)</p>
                        <div class="row form-group">
                            <div class="col-xs-12">
                                @Html.TextAreaFor(m => m.MessageBody, new { @class = "form-control", placeholder = Html.TextRegion(TextRegionConstants.InformationRequired) })
                            </div>
                        </div>
                    </form>
                    <form id="frmCreateSupportRequestAttachments" method="POST" enctype="multipart/form-data" autocomplete="off">
                        <div class="row fileupload-buttonbar">
                            <div class="col-xs-12" style="position: relative;">
                                <span class="btn btn-default fileinput-button">
                                    <em class="glyphicon glyphicon-file"></em>
                                    <span>@Html.TextRegion(TextRegionConstants.AttachAFile)</span>
                                    <input type="file" name="files[]" multiple title="@Html.TextRegion(TextRegionConstants.AttachDocumentationToRequest)">
                                </span>
                                <span class="error"></span>
                                <button type="submit" class="btn btn-primary start" style="display: none;"></button>
                            </div>
                        </div>
                        <table>
                            <colgroup>
                                <col />
                                <col />
                                <col />
                                <col />
                            </colgroup>
                            <tbody class="files"></tbody>
                        </table>
                    </form>

                </section>
            </div>
            <div class="modal-footer text-center">
                <button type="button" id="btnCreateSupportRequestSubmit" class="btn btn-primary" title="@Html.TextRegion(TextRegionConstants.ButtonSubmit)">@Html.TextRegion(TextRegionConstants.ButtonSubmit)</button>
                <button type="button" id="btnCreateSupportRequestCancel" class="btn btn-primary" data-dismiss="modal" title="@Html.TextRegion(TextRegionConstants.ButtonCancel)">@Html.TextRegion(TextRegionConstants.ButtonCancel)</button>
            </div>
        </div>
    </div>
</div>
<script id="template-upload" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
    {% if (!file.error) { %}
    <tr class="template-upload">
        <td>
            <span class="icon-file-type {%=getFileType(file.type)%}"></span>
        </td>
        <td>{%=file.name%}</td>
        <td class="text-right">{%=o.formatFileSize(file.size)%}</td>
        <td class="text-right">
            <button class="btn btn-primary start" disabled style="display: none;"></button>
            {% if (!i) { %}
            <button class="btn btn-icon cancel" title="Delete this Attachment">&times;</button>
            {% } %}
        </td>
    </tr>
    {% } %}
    {% } %}
</script>
<script id="template-download" type="text/x-tmpl">
    <!-- need line break -->
</script>