﻿@using Ivh.Application.Core.Common.Dtos
@model Ivh.Common.Web.Models.Support.ContactUsResultsViewModel

<div class="vpgrid-container">
    <div class="vpgrid-header">
        <h4>@Html.TextRegion(TextRegionConstants.ContactUsPageHeading)</h4>
    </div>
    <div class="vpgrid grid-contact-us">
        @if (Model.Facilities.Any())
        {
            foreach (FacilityDto facility in Model.Facilities)
            {
                <div class="row grid-row">
                    <div class="col col1">@facility.FacilityDescription</div>
                    <div class="col col2">@facility.FacilityHours</div>
                    <div class="col col3">@facility.ContactPhone</div>
                </div>
            }
        }
        else
        {
            <div class="grid-contact-us-empty">
                @Html.CmsRegion(CmsRegionEnum.ContactUsNoFacilities)
            </div>
        }
        </div>
</div>
