﻿<section id="section-customer-care">
    <div class="row">
        <div class="col-xs-12 col-sm-5 col-sm-push-7">
            @if (!IsFeatureEnabled(VisitPayFeatureEnum.FeatureFacilityContactUsGridIsEnabled))
            {
                <div class="plain-box contact-us">
                    <div class="plain-box-title">@Html.TextRegion(TextRegionConstants.ContactUsPageHeading)</div>
                    <div class="plain-box-body">
                        <p class="text-large phone-number">
                            <em class="glyphicon glyphicon-earphone"></em>
                            @ClientDto.SupportPhone
                        </p>
                        <p>
                            <strong>@Html.TextRegion(TextRegionConstants.BusinessHours)</strong><br/>
                            @ClientDto.BusinessHours
                        </p>
                    </div>
                </div>
            }
        </div>
        <div class="col-xs-12 col-sm-7 col-sm-pull-5">
            <div class="hidden-xs hidden-sm">@Html.VpPageHeading(Html.TextRegion(TextRegionConstants.CustomerCarePageHeading))</div>
            <p>@Html.CmsRegion(CmsRegionEnum.SupportRequestDescription)</p>
            <div class="text-xs-center text-sm-left text-md-left text-lg-left">
                <button type="button" id="btnCreateSupportRequest" class="btn btn-primary" title="@Html.TextRegion(TextRegionConstants.SubmitRequest)">@Html.TextRegion(TextRegionConstants.SubmitRequest)</button>
            </div>
        </div>
    </div>
    <div class="vpgrid-container">
        <div class="vpgrid-header">
            <h4>@Html.TextRegion(TextRegionConstants.CustomerCareRequests)</h4>
        </div>
        <div class="vpgrid vpgrid-link vpgrid-mask grid-customer-care">
            <div class="row grid-row-labels">
                <div class="col">@Html.TextRegion(TextRegionConstants.Request) #</div>
                <div class="col">@Html.TextRegion(TextRegionConstants.Date)</div>
                <div class="col">@Html.TextRegion(TextRegionConstants.SubmittedFor)</div>
                <div class="col">@Html.TextRegion(TextRegionConstants.Status)</div>
                <div class="col">@Html.TextRegion(TextRegionConstants.YourRequest)</div>
            </div>
            <!-- ko foreach: Data.Results -->
            <div class="row grid-row" title="@Html.TextRegion(TextRegionConstants.ViewCustomerCareRequest)" data-bind="css: { 'light': SupportRequestStatus() === 'Closed' }">
                <div class="col">
                    <span data-bind="text: SupportRequestDisplayId"></span>
                    <!-- ko if: HasMessages && UnreadMessages() > 0 -->
                    <span class="glyphicon glyphicon-envelope unread-message" title="@Html.TextRegion(TextRegionConstants.UnreadMessages)"></span>
                    <!-- /ko -->
                    <!-- ko if: HasMessages && UnreadMessages() === 0 -->
                    <span class="glyphicon glyphicon-envelope no-unread-message" title="@Html.TextRegion(TextRegionConstants.NoUnreadMessages)"></span>
                    <!-- /ko -->
                    <!-- ko if: HasAttachments -->
                    <span class="glyphicon glyphicon-paperclip" title="@Html.TextRegion(TextRegionConstants.NoFilesAttached)"></span>
                    <!-- /ko -->
                </div>
                <div class="col" data-bind="text: InsertDate"></div>
                <div class="col text-ellipsis" data-bind="text: SubmittedFor"></div>
                <div class="col" data-bind="text: SupportRequestStatus"></div>
                <div class="col text-ellipsis" data-bind="text: MessageBody"></div>
            </div>
            <!-- /ko -->
            @Html.Partial("~/Views/Shared/_VpGridPager.cshtml")
            <!-- ko ifnot: HasResults -->
            @Html.GridAlert("", Html.TextRegion(TextRegionConstants.NoCustomerCareRequests), visible: true)
            <!-- /ko -->
        </div>
    </div>
    
    @Html.Action("MyContactUs", new { area = string.Empty })

</section>
