﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.VisitPay.Enums
@model Ivh.Web.Patient.Models.Support.SupportRequestActionViewModel

<div id="modalCloseSupportRequest" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <!-- TODO: Localize -->
                <h4 class="modal-title">
                    @Model.ActionName @Html.TextRegion(TextRegionConstants.Request) @Model.SupportRequestDisplayId
                </h4>
            </div>
            <div class="modal-body">
                <!--TODO:Localize-->
                <form>
                    @Html.HiddenFor(m => m.SupportRequestId)
                    @Html.HiddenFor(m => m.CurrentSupportRequestStatus)
                    @Html.LabelFor(m => m.MessageBody, "Enter a note to " + (Model.CurrentSupportRequestStatus == SupportRequestStatusEnum.Closed ? "re-open" : "close") + " this request:")
                    @Html.TextAreaFor(m => m.MessageBody, new {@class = "form-control", rows = 6})
                </form>
            </div>
            <div class="modal-footer text-center">
                <button type="submit" class="btn btn-primary" id="btnCloseSupportRequestSubmit" title="">@Html.TextRegion(TextRegionConstants.ButtonSubmit)</button>
                <button type="button" class="btn btn-primary" id="btnCloseSupportRequestCancel" data-dismiss="modal" title="@Html.TextRegion(TextRegionConstants.ButtonCancel)">@Html.TextRegion(TextRegionConstants.ButtonCancel)</button>
            </div>
        </div>
    </div>
</div>