﻿@model Ivh.Common.Web.Models.Support.SupportRequestWidgetViewModel
@{
    string askQuestion = Html.TextRegion(TextRegionConstants.AskAQuestion);
    string viewAll = Html.TextRegion(TextRegionConstants.ViewAll);
    string viewRequest = Html.TextRegion(TextRegionConstants.ViewCustomerCareRequest);
}

<div class="drawer-header support-requests-header">
    <span class="text-ellipsis">@Html.TextRegion(TextRegionConstants.CustomerCareRequests)</span>
</div>

<div class="drawer-content support-requests-drawer-content">
    <!-- ko if: HasResults -->
    <!-- ko foreach: Data.Results -->
    <div class="drawer-item flex-auto" title="@viewRequest" data-bind="css: { 'read': !HasMessages() || UnreadMessages() === 0 }, click: $root.OnSupportRequestClick">
        <div class="indicator"></div>
        <div class="sr-date" data-bind="text: InsertDate"></div>
        <div class="sr-desc text-ellipsis text-semi" data-bind="text: MessageBody"></div>
    </div>
    <!-- /ko -->
    <!-- /ko -->
    <!-- ko ifnot: HasResults -->
    <div class="empty-message">
        @Html.TextRegion(TextRegionConstants.NoCustomerCareRequests)
    </div>
    <!-- /ko -->
    <div class="sr-info text-small text-italic">@Html.Raw(Model.SelfServiceTextCmsVersionDto.ContentBody)</div>
</div>

<div class="drawer-footer support-requests-footer flex-auto">
    <div class="text-center">
        <a href="javascript:;" data-click="create-support-request" title="@askQuestion">@askQuestion</a>
    </div>
    <div class="text-center">
        @Html.ActionLink(viewAll, "MySupportRequests", "Support", null, new { title = viewAll })
    </div>
</div>