﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.Web.Models.Support
@model List<SupportRequestMessageAttachmentViewModel>

<div id="modalSupportAttachments" class="modal modal-nested fade" tabindex="-1" role="dialog" data-backdrop="static" style="top: 130px;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">@Html.TextRegion(TextRegionConstants.ClickFileToDownload)</h4>
            </div>
            <div class="modal-body">
                <table>
                    <colgroup>
                        <col />
                        <col />
                        <col />
                    </colgroup>
                    <tbody>
                        @foreach (SupportRequestMessageAttachmentViewModel attachment in Model)
                        {
                            <tr>
                                <td>
                                    <input type="hidden" value="@attachment.MimeType" />
                                    <span class="icon-file-type"></span>
                                </td>
                                <td>
                                    <span>
                                        <input type="hidden" value="@attachment.SupportRequestMessageAttachmentId" />
                                        <a href="javascript:;" title="Download @attachment.AttachmentFileName">@attachment.AttachmentFileName</a>
                                    </span>
                                </td>
                                <td class="text-right">@attachment.InsertDate</td>
                            </tr>
                        }                       
                    </tbody>
                </table>
            </div>
            <div class="modal-footer text-center">
                <button type="submit" class="btn btn-primary" title="@Html.TextRegion(TextRegionConstants.DownloadAll)" id="btnDownloadAttachmentsAll">@Html.TextRegion(TextRegionConstants.DownloadAll)</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" title="@Html.TextRegion(TextRegionConstants.Close)">@Html.TextRegion(TextRegionConstants.Close)</button>
            </div>
        </div>
    </div>
</div>