﻿@using Ivh.Common.VisitPay.Constants
@model Ivh.Common.Web.Models.Support.SupportRequestGenericMessageViewModel

<div class="modal fade" id="modalSupportRequest" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    @Html.TextRegion(TextRegionConstants.Request) <span data-bind="text: SupportRequestDisplayId"></span>
                    <span data-bind="visible: SupportRequestStatusId.IsOpen()">
                        @Html.TextRegion(TextRegionConstants.Opened) <span data-bind="text: CreatedDate"></span>
                    </span>
                    <span data-bind="visible: !SupportRequestStatusId.IsOpen()">
                        @Html.TextRegion(TextRegionConstants.ClosedOn) <span data-bind="text: ClosedDate"></span> by <span data-bind="text: ClosedBy"></span>
                    </span>
                </h4>
            </div>
            <div class="modal-body">
                <div class="top">
                    <div class="details">
                        <div class="row">
                            <div class="col-xs-6">
                                <div>
                                    @Html.TextRegion(TextRegionConstants.RequestStatus):
                                    <span class="support-request-status">
                                        <span data-bind="visible: SupportRequestStatusId.IsOpen, text: SupportRequestStatusName"></span>
                                        <span data-bind="visible: SupportRequestStatusId.IsClosed">
                                            <span data-bind="text: SupportRequestStatusName"></span>: <span data-bind="text: ClosedDate"></span> @Html.TextRegion(TextRegionConstants.By) <span data-bind="text: ClosedBy"></span>
                                        </span>
                                    </span>
                                </div>
                                <div>
                                    @Html.TextRegion(TextRegionConstants.From):
                                    <span data-bind="text: GuarantorFullName"></span>
                                </div>
                                <div>
                                    @Html.TextRegion(TextRegionConstants.To):
                                    <span>@ClientDto.ClientFullName</span>
                                </div>
                                <div>
                                    @Html.TextRegion(TextRegionConstants.SubmittedFor):
                                    <span data-bind="text: SubmittedFor"></span>
                                </div>
                                <div>
                                    <span data-bind="visible: IsPreviousConsolidation" class="text-danger">@Html.TextRegion(TextRegionConstants.NotePreviouslyConsolidatedRelationship)</span>
                                </div>
                            </div>
                            <!-- ko if: HasVisit -->
                            <div class="col-xs-6">
                                <div>
                                    @Html.TextRegion(TextRegionConstants.Visit) #:
                                    <span data-bind="text: VisitSourceSystemKeyDisplay"></span>
                                </div>
                                <div>
                                    @Html.TextRegion(TextRegionConstants.VisitDate):
                                    <span data-bind="text: TreatmentDate"></span>
                                </div>
                                <div>
                                    @Html.TextRegion(TextRegionConstants.Description):
                                    <span data-bind="text: VisitDescription, attr: { title: VisitDescription }"></span>
                                </div>
                                <div>
                                    @Html.TextRegion(TextRegionConstants.Patient):
                                    <span data-bind="text: PatientFullName"></span>
                                </div>
                            </div>
                            <!-- /ko -->
                        </div>
                    </div>
                    <hr/>
                </div>
                <div class="container-fluid communication">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="action pull-right">
                                <select class="form-control pull-right" id="ddSupportRequestAction">
                                    <option value="">@Html.TextRegion(TextRegionConstants.IWantTo)</option>
                                    <option value="2" data-bind="text: SupportRequestStatusId.IsOpen() ? '@Html.TextRegion(TextRegionConstants.MarkRequestComplete)' : '@Html.TextRegion(TextRegionConstants.ReOpenRequest)'"></option>
                                    <option value="1">Print</option>
                                </select>
                                <button type="button" id="btnSupportRequestAttachments" class="btn btn-default" title="@Html.TextRegion(TextRegionConstants.ViewAllFilesAttachedToRequest)" data-bind="disable: Attachments.Count() == 0">
                                    <em class="glyphicon glyphicon-file"></em>
                                    @Html.TextRegion(TextRegionConstants.ViewAttachments)
                                    (<span data-bind="text: Attachments.Count"></span>)
                                </button>
                            </div>
                            <strong>@Html.TextRegion(TextRegionConstants.CommunicationHistory)</strong>
                            <button class="btn btn-icon" data-bind="click: GuarantorMessages.ToggleSortOrder, attr: { title: GuarantorMessages.SortOrder() == 0 ? '@Html.TextRegion(TextRegionConstants.SortNewToOld)' : '@Html.TextRegion(TextRegionConstants.SortOldToNew)' }">
                                <em class="glyphicon" data-bind="css: { 'glyphicon-arrow-up': GuarantorMessages.SortOrder() == 0, 'glyphicon-arrow-down': GuarantorMessages.SortOrder() == 1 }"></em>
                            </button>
                            <div class="messages messages-guarantor">
                                <ul data-bind="foreach: GuarantorMessages.Sorted">
                                    <li>
                                        <div class="title clearfix" data-bind="css: { 'sender-guarantor' : SupportRequestMessageType() == 1 }">
                                            <a class="glyphicon glyphicon-paperclip pull-right" href="javascript:;" title="@Html.TextRegion(TextRegionConstants.DisplayAttachedFiles)" data-bind="style: { 'visibility': HasAttachments() ? 'visible' : 'hidden' }"></a>
                                            <span data-bind="text: InsertDate" class="pull-right"></span>
                                            <span data-bind="text: VisitPayUserName"></span>
                                        </div>
                                        <div class="body">
                                            <span class="more">&hellip;<a href="javascript:;" title="@Html.TextRegion(TextRegionConstants.ExpandThisMessage)">@Html.TextRegion(TextRegionConstants.More)</a></span>
                                            <p>
                                                <span data-bind="html: MessageBody"></span>
                                                <span class="less pull-right"><a href="javascript:;" title="@Html.TextRegion(TextRegionConstants.CollapseThisMessage)">@Html.TextRegion(TextRegionConstants.Less)</a></span>
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="editor">
                    <form id="frmEditorAttachments" method="POST" enctype="multipart/form-data" autocomplete="off" class="pull-right" style="display: none; width: 0;">
                        <div class="fileupload-buttonbar">
                            <div class="text-center" style="position: relative;">
                                <input type="file" name="files[]" multiple title="@Html.TextRegion(TextRegionConstants.AttachDocumentationToRequest)">
                                <button type="submit" class="btn btn-primary start" style="display: none;"></button>
                            </div>
                        </div>
                        <table>
                            <colgroup>
                                <col />
                                <col />
                                <col />
                                <col />
                            </colgroup>
                            <tbody class="files"></tbody>
                        </table>
                    </form>
                    <form id="frmEditor">
                        @Html.TextAreaFor(m => m.MessageBody, new {@class = "form-control inactive", placeholder = Html.TextRegion(TextRegionConstants.ClickToReply) })
                    </form>
                </div>
            </div>
            <div class="modal-footer text-right">
                <div class="primary-buttons text-center">
                    <a id="btnSupportRequestDoAction" href="javascript:;" data-bind="text: SupportRequestStatusId.IsOpen() ? '@Html.TextRegion(TextRegionConstants.MarkRequestComplete)' : '@Html.TextRegion(TextRegionConstants.ReOpenRequest)', attr: { title: SupportRequestStatusId.IsOpen() ? '@Html.TextRegion(TextRegionConstants.CompleteTheRequest)' : '@Html.TextRegion(TextRegionConstants.ReOpenRequest)' }"></a>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" title="@Html.TextRegion(TextRegionConstants.CloseWindowAndReturn)">@Html.TextRegion(TextRegionConstants.CloseWindow)</button>
                </div>
                <div class="editor-buttons">
                    <button type="button" class="btn btn-primary pull-left" id="btnSendReply" title="@Html.TextRegion(TextRegionConstants.SendReply)">@Html.TextRegion(TextRegionConstants.SendReply)</button>
                    <button type="button" class="btn btn-default pull-left" id="btnEditorAttach" title="@Html.TextRegion(TextRegionConstants.AttachFileToThisMessage)">@Html.TextRegion(TextRegionConstants.AttachFiles)</button>
                    <span class="error"></span>
                    <button type="button" class="btn btn-primary" id="btnEditorDiscard" title="@Html.TextRegion(TextRegionConstants.CloseMessageOrNoteWithoutSaving)">@Html.TextRegion(TextRegionConstants.Discard)</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="template-upload" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
    {% if (!file.error) { %}
    <tr class="template-upload">
        <td>
            <span class="icon-file-type {%=getFileType(file.type)%}"></span>
        </td>
        <td><span>{%=file.name%}</span></td>
        <td class="text-right">{%=o.formatFileSize(file.size)%}</td>
        <td class="text-right">
            <button class="btn btn-primary start" disabled style="display: none;"></button>
            {% if (!i) { %}
            <button class="btn btn-icon cancel" title="Delete this Attachment">&times;</button>
            {% } %}
        </td>
    </tr>
    {% } %}
    {% } %}
</script>
<script id="template-download" type="text/x-tmpl">
    <!-- need line break -->
</script>
