﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.Web.Models.Support
@model PrintSupportRequestViewModel
@{
    Layout = "~/Views/Shared/_LayoutPrint.cshtml";
}

@section title {
    @Html.TextRegion(TextRegionConstants.Request) @Model.SupportRequest.SupportRequestDisplayId
}

<section id="print-supportrequest">
    <div class="top">
        <!--TODO: Localize-->
        <div class="user">
            @Model.UserName<br />@ClientDto.ClientName Bill Pay Member Since @Model.RegistrationYear
        </div>
        <div class="logo">
            <img src="@ServerUrl/Content/Client/logo.png" />
        </div>
    </div>
    <h2 style="margin-bottom: 20px;">
        @Html.TextRegion(TextRegionConstants.Request): @Model.SupportRequest.SupportRequestDisplayId
        @if (Model.SupportRequest.SupportRequestStatusId == 1)
        {
            <span>@Html.TextRegion(TextRegionConstants.Opened): @Model.SupportRequest.CreatedDate</span>
        }
        else
        {
            <span>@Html.TextRegion(TextRegionConstants.ClosedOn): @Model.SupportRequest.ClosedDate @Html.TextRegion(TextRegionConstants.By) @Model.SupportRequest.ClosedBy</span>
        }
    </h2>
    <table class="request">
        <colgroup>
            <col />
            <col />
            <col />
            <col />
        </colgroup>
        <tbody>
            <tr>
                <td>@Html.TextRegion(TextRegionConstants.RequestStatus)</td>
                <td>
                    @if (Model.SupportRequest.SupportRequestStatusId == 1)
                    {
                        <span>@Model.SupportRequest.SupportRequestStatusName</span>
                    }
                    else
                    {
                        <span>
                            <span>@Model.SupportRequest.SupportRequestStatusName</span>: <span>@Model.SupportRequest.ClosedDate</span> @Html.TextRegion(TextRegionConstants.By) <span>@Model.SupportRequest.ClosedBy</span>
                        </span>
                    }
                </td>
                @if (Model.SupportRequest.HasVisit)
                {
                    <td>@Html.TextRegion(TextRegionConstants.Visit) #</td>
                    <td>@Model.SupportRequest.VisitSourceSystemKeyDisplay</td>
                }
            </tr>
            <tr>
                <td>From</td>
                <td>@Model.SupportRequest.GuarantorFullName</td>
                @if (Model.SupportRequest.HasVisit)
                {
                    <td>@Html.TextRegion(TextRegionConstants.VisitDate)</td>
                    <td>@Model.SupportRequest.TreatmentDate</td>
                }
            </tr>
            <tr>
                <td>To</td>
                <td>@ClientDto.ClientFullName</td>
                @if (Model.SupportRequest.HasVisit)
                {
                    <td>@Html.TextRegion(TextRegionConstants.Description)</td>
                    <td>@Model.SupportRequest.VisitDescription</td>
                }
            </tr>
            <tr>
                <td>@Html.TextRegion(TextRegionConstants.SubmittedFor)</td>
                <td>@Model.SupportRequest.SubmittedFor</td>
                @if (Model.SupportRequest.HasVisit)
                {
                    <td>@Html.TextRegion(TextRegionConstants.Patient)</td>
                    <td>@Model.SupportRequest.PatientFullName</td>
                }
            </tr>
            @if (Model.SupportRequest.IsPreviousConsolidation)
            {
                <tr>
                    <td colspan="2">
                        <span class="text-danger">@Html.TextRegion(TextRegionConstants.NotePreviouslyConsolidatedRelationship)</span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="communications">
        <h2>@Html.TextRegion(TextRegionConstants.CommunicationHistory)</h2>
        @foreach (SupportRequestMessageViewModel message in Model.SupportRequest.GuarantorMessages)
        {
            <div>
                <div>
                    <strong>@message.InsertDate</strong>
                    <strong>@message.VisitPayUserName</strong>
                </div>
                <div>@Html.Raw(message.MessageBody.Replace(Environment.NewLine, "<br />").Replace("\n", "<br />"))</div>
            </div>
        }
    </div>
    <div class="attachments">
        <h2>@Html.TextRegion(TextRegionConstants.AttachmentList)</h2>
        <table>
            <colgroup>
                <col />
                <col />
            </colgroup>
            <tbody>
                @foreach (SupportRequestMessageAttachmentViewModel attachment in Model.SupportRequest.GuarantorMessages.SelectMany(x => x.Attachments).OrderBy(x => x.InsertDate).ThenBy(x => x.AttachmentFileName))
                {
                    <tr>
                        <td><span>@attachment.AttachmentFileName</span></td>
                        <td>@attachment.InsertDate</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>

@section scripts {
    <script type="text/javascript">
        (function () {
            window.print();
        })();
    </script>
}