﻿@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/css/mockpaymentprocessor")
    @RenderSection("css", required: false)
</head>
<body>
<header>
    <div>
        <div>
            <div class="row">
                <div class="col-xs-6">
                </div>
                <div class="col-xs-6">
                    @RenderSection("header1", required: false)
                </div>
            </div>
        </div>
    </div>
    <div>
        <div>
            <div class="row">
                <div class="col-xs-4">
                    <h1>@ViewBag.Title</h1>
                </div>
                @RenderSection("header2", required: false)
            </div>
        </div>
    </div>
</header>
<main>
    @RenderBody()
</main>
    @RenderSection("scripts", required: false)
</body>
</html>
