﻿@{
    ViewBag.Title = "Ach Mock Processor";
    Layout = "~/Views/MockPaymentProcessor/_Layout.cshtml";
}

@section header1 {

}

@section header2 {
    <div class="col-xs-8 text-right controls">
        Process for <input type="text" class="form-control datepicker" id="txtProcessDate" autocomplete="off" /> <button id="btnProcess" class="btn btn-primary">Process</button>
    </div>
}
<div id="queue">
    <div class="row header">
        <div class="col-xs-1">
            <strong>Action</strong>
        </div>
        <div class="col-xs-2">
            <strong>Account</strong>
        </div>
        <div class="col-xs-1 text-right">
            <strong>Last 4</strong>
        </div>
        <div class="col-xs-1 text-right">
            <strong>Amount</strong>
        </div>
        <div class="col-xs-7 text-right">
            &nbsp;
        </div>
    </div>
    <!-- ko foreach: PaymentsQueued -->
    <div class="row payment" data-bind="css: { success: AchProcessed }">
        <div class="col-xs-1">
            <span data-bind="text: Action"></span>
        </div>
        <div class="col-xs-2">
            <span data-bind="text: VpAccountName"></span>
        </div>
        <div class="col-xs-1 text-right">
            <span data-bind="text: VpLastFour"></span>
        </div>
        <div class="col-xs-1 text-right">
            <span data-bind="text: Amount"></span>
        </div>
        <div class="col-xs-7 text-right ach">
            <input type="text" class="form-control datepicker" autocomplete="off" data-bind="value: AchProcessDate, disable: IsAchActionSet" />
            <select class="form-control" autocomplete="off" data-bind="options: AchFileTypes, optionsText: 'Text', optionsValue: 'Value', value: AchFileType, disable: IsAchActionSet"></select>
            <select class="form-control" autocomplete="off" data-bind="options: AchReturnCodes, optionsText: 'Text', optionsValue: 'Value', optionsCaption: '-', value: AchReturnCode, disable: IsAchActionSet"></select>
            <input type="text" class="form-control" autocomplete="off" data-bind="value: AchReturnAmount, disable: IsAchActionSet" />
            <button type="button" class="btn btn-primary" data-bind="disable: IsAchActionSet">Set</button>
        </div>
    </div>
    <!-- /ko -->
</div>

@section scripts {
    @Scripts.Render("~/bundles/scripts/mockpaymentprocessor")
    <script type="text/javascript" src="~/signalr/hubs"></script>
    <script type="text/javascript" src="~/Scripts/MockPaymentProcessor/mockachprocessor.js"></script>
    <script type="text/javascript">

        $(document).ready(function() {
            var ach = new window.QaTools.MockAchProcessor();
            var model = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
            ach.init(model);
        });

    </script>
}
