﻿@model Ivh.Web.QATools.Models.MockPaymentProcessor.MockPaymentProcessorViewModel
@{
    ViewBag.Title = "Mock Payment Processor";
    Layout = "~/Views/MockPaymentProcessor/_Layout.cshtml";
}

@section header1 {
    <div class="row">
        <div class="col-xs-push-3 col-xs-9">
            <!-- ko if: IsActivated -->
            <button type="button" id="btnOff" class="btn on" title="Turn the Mock Payment Processor off">Mock Payment Processor is active</button>
            <!-- /ko -->
            <!-- ko ifnot: IsActivated -->
            <button type="button" id="btnOn" class="btn off" title="Turn the Mock Payment Processor on">Mock Payment Processor is not active</button>
            <!-- /ko -->
        </div>
    </div>
}
@section header2 {
    <div class="col-xs-8 text-right controls">
        <!-- ko if: IsActivated -->
        Delay: @Html.DropDownList("Delays", Model.Delays, new { data_bind = "value: DelayMs", @class = "form-control" })
        Default: @Html.DropDownList("DefaultSuccessful", Model.DefaultActions, new { data_bind = "value: DefaultSuccessful", @class = "form-control" })
        <button id="btnSet" class="btn btn-primary">Set</button>
        <!-- /ko -->
    </div>
}

<div class="text-right" style="margin: 15px 0 0 0;">
    @Html.ActionLink("Ach Processor", "Ach", "MockPaymentProcessor", new { @class = "btn btn-primary", target = "_blank "})
</div>
<div id="queue">
    <div class="row header">
        <div class="col-xs-2">
            <strong>Action</strong>
        </div>
        <div class="col-xs-2">
            <strong>Account</strong>
        </div>
        <div class="col-xs-2 text-right">
            <strong>Last 4</strong>
        </div>
        <div class="col-xs-1 text-right">
            <strong>Amount</strong>
        </div>
        <div class="col-xs-5 text-right">
            &nbsp;
        </div>
    </div>
    <!-- ko foreach: PaymentsQueued -->
    <div class="row payment" data-bind="css: { fail: IsFail, success: IsSuccess }">
        <div class="col-xs-2 action">
            <!-- ko if: IsPending -->
            <div class="status-icon cssload-clock"></div>
            <!-- /ko -->
            <!-- ko if: IsSuccess -->
            <div class="status-icon success">
                <em class="glyphicon glyphicon-thumbs-up"></em>
            </div>
            <!-- /ko -->
            <!-- ko if: IsFail -->
            <div class="status-icon fail">
                <em class="glyphicon glyphicon-thumbs-down"></em>
            </div>
            <!-- /ko -->
            <span data-bind="text: Action"></span>
        </div>
        <div class="col-xs-2">
            <span data-bind="text: VpAccountName"></span>
        </div>
        <div class="col-xs-2 text-right">
            <img data-bind="attr: { src: VpPaymentMethodType.Icon }"/>
            <span data-bind="text: VpLastFour"></span>
        </div>
        <div class="col-xs-1 text-right">
            <span data-bind="text: Amount"></span>
        </div>
        <div class="col-xs-5 text-right respond">
            <!-- ko if: IsPending -->
            <button class="btn btn-primary pull-right">Respond</button>

            <!-- ko if: Action.IsStoreVerify && AvsCodes.Any -->
            <select data-bind="value: SelectedResponseAvs" class="form-control pull-right avs">
                <option value="">-</option>
                <!-- ko foreach: AvsCodes.Grouped -->
                <optgroup data-bind="attr: { label: label }">
                    <!-- ko foreach: items -->
                    <option data-bind="text: Text, value: Value"></option>
                    <!-- /ko -->
                </optgroup>
                <!-- /ko -->
            </select>
            <!-- /ko -->

            <select data-bind="value: SelectedResponseType" class="form-control pull-right response-type">
                <option value="">-</option>
                <!-- ko foreach: ResponseTypes.Grouped -->
                <optgroup data-bind="attr: { label: label }">
                    <!-- ko foreach: items -->
                    <option data-bind="text: Text, value: Value"></option>
                    <!-- /ko -->
                </optgroup>
                <!-- /ko -->
            </select>
            <!-- /ko -->

            <!-- ko ifnot: IsPending -->
            <span data-bind="text: CompletedResponseTypeText"></span>
            <!-- ko if: Action.IsStoreVerify && CompletedResponseAvs.HasValue -->
            (Avs: <span data-bind="text: CompletedResponseAvs"></span>)
            <!-- /ko -->
            <!-- /ko -->
        </div>
    </div>
    <!-- /ko -->
</div>
<div class="alert alert-warning text-center">
    Payment Methods added through Mock Payment Processor will not process unless Mock Payment Processor is active.
</div>

@section scripts {
    @Scripts.Render("~/bundles/scripts/mockpaymentprocessor")
    <script type="text/javascript" src="~/signalr/hubs"></script>
    <script type="text/javascript" src="~/Scripts/MockPaymentProcessor/mockpaymentprocessor.js"></script>
    <script type="text/javascript">

        $(document).ready(function() {
            var mpp = new window.QaTools.MockPaymentProcessor();
            var model = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
            mpp.init(model);
        });

    </script>
}