﻿@using Ivh.Common.VisitPay.Constants
@model Ivh.Web.Patient.Models.AcknowledgementViewModel
@{
    Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";
}

@section PageTitle {
    @Html.TextRegion(TextRegionConstants.AcceptTermsOfUse)
}

<div id="acknowledgementContainer">
    <p style="text-align:center"><b>@Html.TextRegion(TextRegionConstants.ClientTermsModified)</b></p>

    @using (Html.BeginForm("Acknowledgement", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.TermsOfUseCmsVersionId)
        <div class="termsButton"><button type="submit" class="btn btn-primary" id="btnAcknowledge">@Html.TextRegion(TextRegionConstants.TermsOfUseAgree)</button></div>
        <div class="termsButton">@Html.ActionLink(Html.TextRegion(TextRegionConstants.CancelAndLogout), "MustAccept", "Account")</div>
    }

    @Html.Partial("~/Views/Legal/_Terms.cshtml", Model.TermsOfUseViewModel)
</div>
