﻿@using Ivh.Common.Web.Models.Faq
@model List<KnowledgeBaseCategoryViewModel>

@section Back {
    <a href="javascript:;" onclick="javascript: window.history.back();" title="@Html.TextRegion(TextRegionConstants.FrequentlyAskedQuestions)">
        <em class="glyphicon glyphicon-chevron-left"></em>
    </a>
}

@section PageTitle {
    @Html.TextRegion(TextRegionConstants.FrequentlyAskedQuestions)
}

<section class="faqs">
    <ul>
        @foreach (KnowledgeBaseCategoryViewModel c in Model)
        {
            <li>
                @Html.Raw(Html.CmsModel(c.CmsRegion).ContentTitle)
                <ul>
                    @foreach (KnowledgeBaseSubCategoryViewModel s in c.KnowledgeBaseSubCategoriesOrdered)
                    {
                        foreach (KnowledgeBaseQuestionAnswerViewModel qa in s.QuestionAnswers)
                        {
                            <li>
                                @Html.Raw(qa.QuestionContentBody)
                                <ul>
                                    <li>
                                        @Html.Raw(qa.AnswerContentBody)
                                    </li>
                                </ul>
                            </li>
                        }
                    }
                </ul>
            </li>
        }
    </ul>
</section>
<div class="text-right">
    <a class="btn btn-default" id="supportRequestButton" href="javascript:;">@Html.TextRegion(TextRegionConstants.ContactCustomerCare)</a>
</div>

@Html.Action("HealthEquitySsoSetup", "Sso")
@section scripts {
    @Scripts.Render("~/bundles/mobile/scripts/sso/healthEquityWidget")
    <script type="text/javascript">
        (function (visitPay) {

            $(document).ready(function () {

                $('.faqs').find('a[href*="/KnowledgeBase"]').each(function () {
                    $(this).replaceWith($(this).text());
                });

                visitPay.Common.BsCollapseUl($('#content section.faqs > ul').eq(0), 'faq-accordion');
                $('#supportRequestButton').click(function () {
                    window.VisitPayMobile.Common.OpenCreateSupportRequest();
                });

            });

        })(window.VisitPay || {});

    </script>
}