﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.Web.Models.Shared
@model ContentMenuViewModel

@section PageTitle {
    @Html.TextRegion(TextRegionConstants.HelpCenter)
}

<div class="limit-width" id="help-center">
    <div class="grid">
        @foreach (ContentMenuItemViewModel item in Model.ContentMenuItems)
        {
            <a class="btn btn-grid-link" href="@item.LinkUrl" title="@item.LinkText" target="@item.Target">
                @item.LinkText
            </a>
        }
        <button id="supportRequestButton" class="btn btn-grid-link">
            @Html.TextRegion(TextRegionConstants.ContactCustomerCare)
        </button>
    </div>
</div>
@Html.Action("HealthEquitySsoSetup", "Sso")

@section scripts {
    @Scripts.Render("~/bundles/mobile/scripts/sso/healthEquityWidget")
    <script type="text/javascript">
        (function () {
            $(document).ready(function () {
                $('#supportRequestButton').click(function () {
                    window.VisitPayMobile.Common.OpenCreateSupportRequest();
                });
            });
        })();
    </script>
}
