﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.VisitPay.Enums
@model Ivh.Web.Patient.Models.Home.HomeViewModel

@section PageTitle {
    @Html.TextRegion(TextRegionConstants.HomePageHeading)
}

@Html.Action("GetFilter", "GuarantorFilter", new { area = "", title = "Household Total:", showHouseholdBalance = true })

<section id="section-home">

    @if (IsFeatureEnabled(VisitPayFeatureEnum.Consolidation))
    {
        @Html.Action("ManagedBy", "Consolidate", new { area = "" })
    }

    <div class="row">
        <div class="col-xs-12">
            @Html.Action("Sidebar", "Sidebar")
        </div>
    </div>

    @Html.Partial("~/Views/Home/_VisitsGrid.cshtml", Model)

    @if (Model.FinancePlanSummary.HasFinancePlans)
    {
        @Html.Partial("~/Views/Home/_FinancePlanSummaryPartial.cshtml", Model.FinancePlanSummary)
    }

    <div class="row widgets">
        <div class="col-xs-12">
            <div class="grid">
                @Html.Action("SupportRequestsWidget", "Support")
                @Html.Action("ExternalLinks", "Sidebar")
                @Html.Action("HealthEquityWidgetPartial", "Sso")
            </div>
        </div>
    </div>

</section>

@section bottom {
    <div class="overlay" id="overlay-list">
        @Html.Partial("~/Areas/Mobile/Views/Payment/_PaymentMethodList.cshtml")
    </div>
    @Html.Partial("~/Areas/Mobile/Views/Payment/_PaymentMethodDetail.cshtml")
}

@section scripts {
    @Scripts.Render(
            BundleConstants.CommonVisitDetails,
            "~/bundles/mobile/scripts/supportrequest",
            "~/bundles/mobile/scripts/payment/paymentmethods",
            "~/bundles/mobile/scripts/home",
            "~/bundles/mobile/scripts/sso/healthEquityWidget")
}