﻿@import '../_variables.scss';
@import '../_mixins.scss';
@import '../_mixins-common.scss';

#section-statements {
    margin: 0 0 15px 0;

    #statements-list {
        padding-bottom: 30px;

        .next-statement {
            line-height: 1.2em;

            em.glyphicon {
                color: $vp-gray-dark;
                float: left;
                padding-right: 5px;
            }
        }

        .statement-list {
            line-height: 30px;
            padding-top: 15px;

            &:not(:last-of-type) {
                @include gridrow-border(0 0 1px 0);
                padding-bottom: 15px;
            }

            .grid-row {
                display: flex;

                > .col {
                    padding: 0 15px 0 15px;

                    &:nth-of-type(1) {
                        flex-grow: 1;
                    }
                }
            }

            label {
                float: left;
                display: inline-block;
                font-weight: 600;
                margin-right: 15px;
                text-align: right;
            }

            .btn-download {
                float: left;
                position: relative;
                transform: translateY(-50%);
                top: 50%;
            }

            .dropdown {
                display: inline-block;

                > button {
                    background: none;
                    border: 1px solid $input-border;
                    border-radius: 0;
                    color: $input-color;
                    font-weight: normal;
                    text-align: left;
                    position: relative;
                    width: 250px;

                    > span {
                        &:nth-of-type(1) {
                            float: right;
                            padding-right: 14px;
                        }
                    }

                    > span {
                        &.caret {
                            position: absolute;
                            right: 9px;
                            top: 14px;
                        }
                    }
                }

                > ul {
                    border-color: $vp-gray-dark;
                    border-top: 0;
                    box-shadow: none;
                    line-height: 30px;
                    width: 100%;
                    margin: 0;

                    > li {
                        cursor: pointer;
                        padding: 0 9px 0 9px;

                        > span {
                            &:nth-of-type(1) {
                                float: right;
                            }
                        }

                        &.active, &:hover {
                            background: $dropdown-link-hover-bg;
                        }

                        &.archived-separator {
                            background: #ffffff;
                            border-bottom: 1px solid $vp-gray-dark;
                            cursor: default;
                            margin: 13px 10px 13px 10px;
                            padding: 0;
                            position: relative;

                            > em {
                                background: #ffffff;
                                color: $vp-gray-dark;
                                height: 30px;
                                line-height: 30px;
                                left: 50%;
                                margin-left: -70px;
                                position: absolute;
                                text-align: center;
                                top: -15px;
                                width: 140px;
                            }
                        }
                    }
                }
            }
        }
    }

    div.alert-light {
        margin-bottom: 0;
    }
}

#section-itemizations {
    margin-bottom: 15px;

    .jqGridFilter {
        > .row {
            > div {
                &:nth-of-type(1),
                &:nth-of-type(2) {
                    width: 127px;
                }

                &:nth-of-type(3) {
                    width: 150px;
                }

                &:nth-of-type(4) {
                    width: 224px;
                }

                &:nth-of-type(5) {
                    width: 119px;
                }
            }
        }

        .validation-summary-errors {
            left: 403px;
        }
    }

    #gridItemizations {
        .grid-row {
            height: 75px;

            .col {
                padding-left: 10px;
            }

            .vertical-stacked-group {
                @include text-overflow();
                @include vertical-center();

                label {
                    position: relative;
                    display: block;
                    font-size: 11px;
                    font-weight: 500;
                    text-transform: uppercase;
                }

                span {
                    position: relative;
                    display: block;
                    @include text-overflow();
                }
            }

            .discharge-date {
                max-width: 100px;
                min-width: 100px;
            }

            .encounter {
                max-width: 120px;
                min-width: 120px;
            }

            .patient {
                max-width: 160px;
                min-width: 160px;
            }

            .facility {
                max-width: 220px;
                min-width: 220px;
            }

            .download-link {
                width: 100%;
                @include vertical-center();
                text-align: right;
                vertical-align: middle;
            }
        }
    }
}
