﻿@import '../_variables.scss';

#section-account-settings {
    > ul {
        list-style: none;
        margin: 0 0 0 15px;
        padding: 0;
        > li {
            line-height: 30px;
            margin: 0;
            padding: 0;
            > a {
                > em {
                    color: $vp-gray-dark;
                    float: left;
                    margin-top: 6px;
                    padding-right: 7px;
                }
            }
        }
    }
}