﻿@import '../_variables.scss';

#section-login {
    padding-top: 20px;

    h1 {
        font-size: 26px;
    }

    > div {
        &:nth-of-type(2) {
            > div {
                &:last-of-type {
                    border-color: $vp-gray-light;
                    border-style: solid;
                    border-width: 0 0 0 1px;

                    p {
                        margin: 0 0 20px 0;

                        &:first-of-type {
                            padding-top: 5px;
                        }
                    }
                }
            }
        }
    }
}

#section-login-alt {
    margin: auto;
    max-width: 330px;
    position: relative;
}