﻿@mixin clearfix() {
    &:before,
    &:after {
        content: ' ';
        display: table;
    }

    &:after {
        clear: both;
    }
}
@mixin text-overflow() {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#print-payment-summary {
    font-size: 12px;

    h2 {
        font-size: 13px;
        line-height: 20px;
        margin: 0;
    }

    #exportheader {
        padding-bottom: 20px;

        .row {
            width: 100%;

            > .col {
                float: left;
                &:nth-of-type(1) {
                    width: 15%;
                }
                &:nth-of-type(2) {
                    width: 85%;
                }
            }
        }
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
        table-layout: fixed;
        width: 100%;
        padding-top: 20px;

            tr {
                > td {
                    border: 1px solid;
                }
                > th {
                    border: 2px solid;
                }
            }

            > thead {
                > tr {
                    > td {
                        font-weight: bold;
                        line-height: normal;
                        padding: 0 4px 0 4px !important;
                        text-align: center;
                    }
                }
            }

            > tbody {
                > tr {
                    > td {
                        @include text-overflow();
                        height: 26px;
                        padding: 0 4px 0 4px !important;
                        
                        &:nth-of-type(6){
                            text-align: right;
                        }
                    }
                }
            }

            > tfoot {
                > tr {
                    > td {
                        height: 20px;
                        padding: 4px;
                        border: none;
                        text-align: right;
                    }

                    > th {
                        text-align: right;
                        padding-right: 4px;
                        border: none;
                    }
                }
            }
    }
}
