﻿@import '../_variables.scss';
@import '../../Bootstrap/css/bootstrap/_variables.scss';
@import '../../Bootstrap/css/bootstrap/_mixins.scss';

#section-phonetext {

    .phoneNumberTable {
        th {
            padding: 1px 8px 1px 8px;
        }

        td {
            vertical-align: middle;
        }
    }

    div.text {
        padding-bottom: 15px;
    }

    .disabled {
        pointer-events: none;
        opacity: 0.3;
    }

    .preferences {
        position: relative;
        margin: auto;
        width: 475px;

        > div.preference {
            @include clearfix();
            visibility: hidden;

            > div {
                float: left;
                line-height: 22px;
                margin: 0 0 22px 0;

                &:nth-of-type(1) {
                    position: relative;
                    width: 355px;

                    em.glyphicon {
                        color: #555555;
                        font-size: 16px;
                        left: -24px;
                        position: absolute;
                        top: 4px;
                    }
                }

                &:nth-of-type(2) {
                    text-align: right;
                    width: 120px;
                }
            }
        }
    }
}

#section-activate-text-messaging {
    h1 {
        font-family: $font-family-alt;
        font-size: 34px;
        font-weight: 300;
        line-height: 40px;
        margin: 0 0 9px 0;
        position: relative;

        &.bar {
            background: $vp-dark-blue;
            color: $vp-primary-text;
            padding-left: 6px;
            font-size: 18px;
        }

        &.no-bar {
            font-size: 24px;

            > ul.links {
                color: $vp-gray-dark;

                > li {
                    > a {
                        color: $vp-gray-dark;

                        &:hover {
                            color: $link-hover-color;
                        }
                    }
                }
            }
        }

        > ul.links {
            color: #ffffff;
            font-family: $font-family-base;
            font-size: $font-size-small;
            list-style: none;
            margin: 0;
            padding: 0;
            position: absolute;
            right: 10px;
            top: 0;

            > li {
                float: left;
                margin: 0;
                padding: 0;

                > a {
                    color: #ffffff;
                    font-family: $font-family-base;
                    font-size: $font-size-small;

                    &:hover {
                        color: #eeeeee;
                    }

                    &.back {
                        &:after {
                            @include glyphicon('\e257');
                            float: left;
                            font-size: $font-size-small;
                            margin-right: 3px;
                            margin-top: 1px;
                        }
                    }
                }

                &:not(:last-of-type) {
                    &:after {
                        content: '|';
                        padding: 0 15px 0 15px;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}