﻿@import '../_variables.scss';
@import '../../Bootstrap/css/bootstrap/_variables.scss';

#client-survey {
    margin-top: 30px;
    > div {
        > div {
            border: 1px solid $vp-gray-light;
            padding: 0 0 15px 0;
            > div {
                background: $gray-lighter;
                border-bottom: 1px solid $vp-gray-light;
                padding: 10px 15px 10px 15px;
                > strong {
                    display: block;
                    font-size: $font-size-small;
                    text-align: center;
                }
            }
            p {
                margin: 0;
                padding: 0 15px 0 15px;
                &:first-of-type {
                    padding-bottom: 15px;
                    padding-top: 15px;
                }
            }
        }
    }
}