﻿@import '../_variables.scss';
@import '../_mixins.scss';
@import '../../Bootstrap/css/bootstrap/_mixins.scss';
@import '../../Bootstrap/css/bootstrap/_variables.scss';

.visit-details {

    .visit-details-header {
        line-height: 20px;
        margin-bottom: 10px;
        text-align: left;
        text-transform: uppercase;
    }

    .visit-details-content {
        > .row {
            margin-left: 0;
            margin-right: 0;

            > div {
                &:nth-of-type(1) {
                    padding-left: 0;
                    padding-right: 15px;
                }

                &:nth-of-type(2) {
                    padding-left: 15px;
                    padding-right: 0;
                }
            }
        }

        .eob-line-items {
            .vpicon-question {
                font-size: $font-size-large;
            }
        }
    }

    @media (max-width: $screen-tablet) {

        .visit-details-content {

            .vpicon-question {
                display: none !important;
            }
        }
    }

    @media (max-width: $screen-phone) {

        .visit-details-content {
            overflow-x: hidden;

            > .row {
                width: 200%;

                > div {
                    width: 50%;

                    &:nth-of-type(1) {
                        padding-right: 0;
                    }

                    &:nth-of-type(2) {
                        padding-left: 0;
                    }
                }
            }

            .menu-items {
                li {
                    &:before {
                        display: none;
                    }
                }
            }

            .line-items {
                h4 {
                    padding-left: 20px;
                    position: relative;

                    &:before {
                        @include glyphicon('\e079');
                        color: $vp-gray-light;
                        left: 0;
                        position: absolute;
                        top: 0;
                    }
                }
            }
        }
    }
}
