﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.VisitPay.Enums
@model Ivh.Web.Patient.Models.Survey.SurveyResultViewModel

<div id="surveyModal">
    <div>
        <span class="dismiss-toaster nps-survey" data-alert-id="surveyModal" data-piwik-click data-piwik-event-category="Survey" data-piwik-event-name="@Model.SurveyName dismissed"</span>
    </div>
    <div>
        @using (Html.BeginForm("ProcessSubmittedSurvey", "Survey", FormMethod.Post, new { id = "surveyForm" }))
        {
            <div>
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.SurveyId)
                @Html.HiddenFor(model => model.SurveyName)
                @Html.HiddenFor(model => model.FinancePlanId)
                @Html.HiddenFor(model => model.PaymentId)
                @Html.HiddenFor(model => model.SurveyRatingGroupType)

                
                @Html.EditorFor(x => Model.SurveyQuestions)


                <div class="nps-container">

                    @Html.EditorFor(x => Model.NpsRatingQuestion)

                    <div class="form-group">
                        @Html.TextRegion(TextRegionConstants.AdditionalComments)
                        @Html.TextAreaFor(model => model.SurveyComment, new { @class = "form-control survey-comment-text-area", maxlength = "499" })
                    </div>

                    <div class="text-danger survey-validation">
                        @Html.TextRegion(TextRegionConstants.PleaseCompleteBeforeSubmitting)
                    </div>

                    <div class="text-center">
                        @Html.VpButton("btnNpsSubmit", Html.TextRegion(TextRegionConstants.ButtonSubmit), VpButtonTypeEnum.Submit)
                    </div>

                    <button type="button" class="button-as-link" id="btnIgnore" title="@Html.TextRegion(TextRegionConstants.DoNotShowAgain)">@Html.TextRegion(TextRegionConstants.DoNotShowAgain)</button>
                </div>

                <div class="thank-you">
                    <h4>@Html.TextRegion(TextRegionConstants.ThanksForFeedback)</h4>
                </div>
            </div>
        }
    </div>
</div>

<script type="text/javascript">
    var shouldValidateRatings = @Html.Raw(Json.Encode(Model.SurveyRatingGroupType == SurveyRatingGroupTypeEnum.AgreeDisagreeSurveyFormat));
</script>