﻿@using Ivh.Common.VisitPay.Constants
@model Ivh.Web.Patient.Models.Survey.SurveyResultViewModel
<div id="paper-statement-survey-container" class="vpgrid-container">
    <div class="vpgrid-header">
        <h4>@Model.Title</h4>
    </div>
    <div class="vpgrid">
        @using (Html.BeginForm("ProcessSubmittedSurvey", "Survey", FormMethod.Post, new { id = "surveyForm" }))
        {
            <div>
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.SurveyId)
                @Html.HiddenFor(model => model.SurveyName)
                @Html.HiddenFor(model => model.FinancePlanId)
                @Html.HiddenFor(model => model.PaymentId)
                <div class="text-danger survey-validation">
                    @Html.TextRegion(TextRegionConstants.PleaseCompleteBeforeSubmitting)
                </div>
                <div class="row">
                    <div class="col-lg-9">
                        <div class="question-text">
                            @Model.SurveyQuestions.First().QuestionText
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="radio-container">
                            @Html.HiddenFor(model => model.SurveyQuestions[0].SurveyQuestionId)
                            @Html.HiddenFor(model => model.SurveyQuestions[0].QuestionText)

                            @Html.RadioButtonFor(model => Model.SurveyQuestions[0].SurveyQuestionRating, 1)@Html.TextRegion(TextRegionConstants.Yes)
                            @Html.RadioButtonFor(model => Model.SurveyQuestions[0].SurveyQuestionRating, 0)@Html.TextRegion(TextRegionConstants.No)
                        </div>
                    </div>
                </div>
            </div>
            <br/>

            <div class="paper-statement-survey-submit">
                @Html.VpButton("btnPaperStatementSurveySubmit", Html.TextRegion(TextRegionConstants.ButtonSubmit), VpButtonTypeEnum.Submit)
            </div>
        }
        <div class="thank-you">
            <h4>@Html.TextRegion(TextRegionConstants.ThanksForFeedback)</h4>
        </div>
    </div>
    

</div>