﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.VisitPay.Enums
@model Ivh.Web.Patient.Models.Survey.SurveyResultViewModel

<div id="surveyModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-md">
        @using (Html.BeginForm("ProcessSubmittedSurvey", "Survey", FormMethod.Post, new { id = "surveyForm", @class = "modal-content" }))
        {

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" data-alert-id="surveyModal" data-piwik-click data-piwik-event-category="Survey" data-piwik-event-name="@Model.SurveyName dismissed"><span id="surveyModalDismiss">&times;</span></button>
                <h4 class="modal-title">@Model.Title</h4>
            </div>

            @*<div>
                <span class="dismiss-toaster non-nps-survey" data-alert-id="surveyModal" data-piwik-click data-piwik-event-category="Survey" data-piwik-event-name="@Model.SurveyName dismissed"></span>
            </div>

            <h3 class="survey-title text-center">
                @Model.Title
            </h3>*@

            <div class="survey-form">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.SurveyId)
                @Html.HiddenFor(model => model.SurveyName)
                @Html.HiddenFor(model => model.FinancePlanId)
                @Html.HiddenFor(model => model.PaymentId)
                @if (Model.SurveyRatingGroupType != SurveyRatingGroupTypeEnum.QuestionInputSurveyFormat)
                {
                    @Html.EditorFor(x => Model.SurveyQuestions)

                    if (Model.NpsRatingQuestion != null)
                    {
                        @Html.EditorFor(x => Model.NpsRatingQuestion)
                    }
                    <div class="survey-comments">
                        <div class="form-group">
                            @Html.TextAreaFor(model => model.SurveyComment, new { placeholder = Html.TextRegion(TextRegionConstants.PleaseProvideAnyComments), @class = "form-control survey-comment-text-area", maxlength = "142" })
                        </div>
                    </div>

                }
                else
                {
                    <p>@Model.SurveyQuestions[0].QuestionText</p>

                    <div class="form-group">
                        @Html.TextAreaFor(model => model.SurveyComment, new { placeholder = Html.TextRegion(TextRegionConstants.EnterUpTo500Characters), @class = "form-control survey-question-input-text-area", maxlength = "500" })
                    </div>
                }

                <div class="text-danger survey-validation">
                    @Html.TextRegion(TextRegionConstants.PleaseCompleteBeforeSubmitting)
                </div>
            </div>
            <div class="survey-footer">
                <div class="text-center">
                    @Html.VpButton("btnNpsSubmit", Html.TextRegion(TextRegionConstants.ButtonSubmit), VpButtonTypeEnum.Submit)
                </div>
            </div>
        }
    </div>
</div>
<script type="text/javascript">
    var shouldValidateRatings = @Html.Raw(Json.Encode(Model.ShouldValidate))
</script>