﻿@model Ivh.Common.Web.Models.Legal.CreditAgreementViewModel
@{
    object parameters = new { o = Model.FinancePlanOfferId };
}

<section style="text-align: justify;">
    <p style="text-align: center;">@Html.ActionLink(Html.TextRegion(TextRegionConstants.PrintOrSaveAsPdf), "CreditAgreementPdf", "Legal", parameters, new { @class = "btn btn-primary", role = "button", target = "_blank" })</p>
    @Html.Raw(Model.Text)
</section>
