﻿@model Ivh.Common.Web.Models.Legal.CreditAgreementViewModel
@{
    object parameters = new {o = Model.FinancePlanOfferId};
}

<div id="modalCreditAgreement" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="@Html.TextRegion(TextRegionConstants.Close)"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">@Html.Raw(Model.Title)</h4>
            </div>
            <div class="modal-body">
                <section style="text-align: justify;">
                    <p style="text-align: center;">@Html.ActionLink(Html.TextRegion(TextRegionConstants.PrintOrSaveAsPdf), "CreditAgreementPdf", "Legal", parameters, new { @class = "btn btn-primary", role = "button", target = "_blank" })</p>
                    @Html.Raw(Model.Text)
                </section>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-primary" data-dismiss="modal">@Html.TextRegion(TextRegionConstants.Close)</button>
            </div>
        </div>
    </div>
</div>
