﻿@model Ivh.Common.Web.Models.Shared.TextViewModel

<section id="section-esign">
    @if (IsFeatureEnabled(VisitPayFeatureEnum.FeatureDebrandedUiIsEnabled))
    {
        Html.TextRegion(TextRegionConstants.UsabilityTerms);
    }
    else
    {
        if (!Model.IsExport)
        {
            <p style="text-align: center;">@Html.ActionLink(Html.TextRegion(TextRegionConstants.PrintOrSaveAsPdf), "EsignPdf", "Legal", new { @class = "btn btn-primary", role = "button", target = "_blank" })</p>
        }
        @Html.Raw(Model.Text)
    }
</section>
