﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.VisitPay.Enums
@model Ivh.Common.Web.Models.Shared.TermsOfUseViewModel

<section id="section-terms">
    @if (IsFeatureEnabled(VisitPayFeatureEnum.FeatureDebrandedUiIsEnabled))
    {
        Html.TextRegion(TextRegionConstants.UsabilityTerms);
    }
    else
    {
        if (!Model.IsExport)
        {
            <p style="text-align: center;">@Html.ActionLink(Html.TextRegion(TextRegionConstants.PrintOrSaveAsPdf), "TermsPdf", "Legal", new {@class = "btn btn-primary", role = "button", target = "_blank"})</p>
        }
        <h3>@Html.TextRegion(TextRegionConstants.DateOfLastModification): @Model.UpdatedDate</h3>
        @Html.Raw(Model.Text)
        <h3>@Html.TextRegion(TextRegionConstants.DateOfLastModification): @Model.UpdatedDate</h3>
    }
    </section>
