﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.Web.Models.Shared
@model ContentMenuViewModel
@{
    Layout = "~/Views/Shared/_LayoutAltLogin.cshtml";
}

<div class="flex-body">
    <div class="content-box box">
        <div>
            <h1>@Html.TextRegion(TextRegionConstants.LegalAgreementsPageHeading)</h1>
            @Html.Partial("_Index", Model)
        </div>
    </div>
</div>
