﻿@using Ivh.Common.VisitPay.Constants
@model Ivh.Common.Web.Models.Shared.TextViewModel

@Html.VpPageHeading(Html.TextRegion(TextRegionConstants.PrivacyPolicy))
<section style="text-align: justify;">
    @if (!Model.IsExport)
    {
        <p style="text-align: center;">@Html.ActionLink(Html.TextRegion(TextRegionConstants.PrintOrSaveAsPdf), "PrivacyPdf", "Legal", new { @class = "btn btn-primary", role = "button", target = "_blank" })</p>
    }
    @Html.Raw(Model.Text)
</section>