﻿<nav role="navigation">
    <ul class="nav nav-sidebar">
        <li class="active"><a href="#">TC Tests <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Option 2</a></li>
        <li><a href="#">Option 3</a></li>
    </ul>
</nav>
