﻿@*@model Ivh.Application.Core.Common.Dtos.GuarantorResultsDto*@
@{
    ViewBag.Title = "Payments QA";
}
<h4>Payments QA</h4>
<div class="col-sm-3 col-md-2 sidebar">
    @Html.Partial("_sideNav")
</div>
<div class="col-md-8">
    <div>
        <button role="spinbutton" class="ui-button" id="ConnectionFailure">Test Payment Processor Connection Failure</button>
    </div>
    <br />
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="modal-body">
                    <div id="PartialViewContainer">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
