﻿@using Ivh.Common.Web.Models.Consolidate
@model Ivh.Web.Client.Models.Consolidate.GuarantorConsolidationsViewModel

<section id="section-household-managing">
    <h1 class="bar">Accounts managed by this user</h1>
    @if (Model.ManagedGuarantors.Any())
    {
        <table class="static-grid">
            <colgroup>
                <col style="width: 12%" />
                <col style="width: 11%" />
                <col style="width: 10%" />
                <col style="width: 13%" />
                <col style="width: 13%" />
                <col style="width: 13%" />
                <col style="width: 10%" />
                <col style="width: 18%" />
            </colgroup>
            <thead>
                <tr>
                    <td>Name</td>
                    <td>@string.Format("{0}GID", ClientDto.ClientShortName)</td>
                    <td>Status</td>
                    <td style="line-height: 20px;">Date Consolidated <br />Terms Accepted <br />by Managing User</td>
                    <td style="line-height: 20px;">Date Consolidated <br />Terms Accepted <br />by Managed User</td>
                    <td style="line-height: 20px;">Date Finance Plan <br />Terms Accepted <br />by Managing User</td>
                    <td style="line-height: 20px;">Date of<br />Consolidation<br />Cancellation</td>
                    <td style="line-height: 20px;">Consolidation <br />Canceled by</td>
                </tr>
            </thead>
            <tbody>
                @foreach (ConsolidationGuarantorViewModel guarantor in Model.ManagedGuarantors)
                {
                    <tr>
                        <td><a href="@Url.Action("GuarantorAccount", "Search", new {id = guarantor.ManagedGuarantorId})" title="@guarantor.ManagedGuarantorName">@guarantor.ManagedGuarantorName</a></td>
                        <td>@guarantor.ManagedGuarantorId</td>
                        <td>@guarantor.ConsolidationGuarantorStatus</td>
                        <td class="text-center">@guarantor.DateAcceptedByManagingGuarantor</td>
                        <td class="text-center">@guarantor.DateAcceptedByManagedGuarantor</td>
                        <td class="text-center">@guarantor.DateAcceptedFinancePlanTermsByManagingGuarantor</td>
                        <td class="text-center">@guarantor.CancelledOn</td>
                        <td>@guarantor.CancelledByUserName</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-info text-center">
            <strong>There are no other @ClientDto.ClientBrandName accounts managed by this member.</strong>
        </div>
    }
</section>
