﻿@model Ivh.Common.Web.Models.Shared.CmsViewModel

@section breadcrumb {
    @Model.ContentTitle
}

<section id="section-faqs">
    <h1>@Model.ContentTitle</h1>
    @Html.Raw(Model.ContentBody)
</section>