﻿@using Ivh.Web.QATools.Models.Eob
@model Add835ViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    AdjudicationInformationViewModel adjudicationInformationViewModel = new AdjudicationInformationViewModel();
    ClaimAdjustmentPivotViewModel claimAdjustmentPivotViewModel = new ClaimAdjustmentPivotViewModel();
    ClaimAdjustmentPivotViewModel claimAdjustmentPivotViewModel1 = new ClaimAdjustmentPivotViewModel();
    ClaimPaymentInformationViewModel claimPaymentInformationViewModel = new ClaimPaymentInformationViewModel();
    IndustryCodeIdentificationViewModel industryCodeIdentificationViewModel = new IndustryCodeIdentificationViewModel();
    ServicePaymentInformationViewModel servicePaymentInformationViewModel = new ServicePaymentInformationViewModel();
    TransactionSetHeaderTrailer835ViewModel transactionSetHeaderTrailerViewModel = new TransactionSetHeaderTrailer835ViewModel();
    PayerFilterViewModel payerFilterViewModel = new PayerFilterViewModel();
}

@section styles {
    <style type="text/css">
        #frm label { font-size: 11px;text-transform: uppercase; }
        #frm fieldset { border: 1px solid #cccccc; padding: 15px; }
        strong.outerloop {
            color: blue;
        }
        strong.innerloop {
            font-size: 11px;text-transform: uppercase;
        }
    </style>
}

<section id="add835">
    <h2>HS Data Mgmt > HS Guarantor Visit Details > Add 835</h2>
    <hr/>
    @using (Html.BeginForm("Add835", "Eob", FormMethod.Post, new {id = "frm", style = "display: none;"}))
    {
        <!-- ko foreach: FunctionalGroupHeaderTrailerHeaders -->
        <fieldset>
            <p><strong class="outerloop">Transaction Headers</strong> [<a href="javascript:;" title="" name="btnAddTransactionHeader">&nbsp; + &nbsp;</a>]
            </p>
            <!-- ko foreach: TransactionHeaders -->
            <fieldset>
                <div class="row form-group">
                    <div class="col-xs-3">
                        @Html.VpLabelFor(m => transactionSetHeaderTrailerViewModel.DtmProductionDate)
                        @Html.VpTextBoxFor(m => transactionSetHeaderTrailerViewModel.DtmProductionDate, new {data_bind = "value: DtmProductionDate"})
                    </div>
                    <div class="col-xs-3">
                        @Html.VpLabelFor(m => payerFilterViewModel.UniquePayerValue)
                        @Html.DropDownListFor(m => payerFilterViewModel.UniquePayerValue, Model.PayerFilters, "-", new { @class = "form-control", data_bind = "value: PayerFilterId" })
                    </div>
                </div>
                <p>
                    <strong class="outerloop">Transactions</strong> [<a href="javascript:;" title="" name="btnAddTransaction">&nbsp; + &nbsp;</a>]
                </p>
                <!-- ko foreach: Transactions -->
                <fieldset>
                    <p>
                        <strong class="outerloop">Claim Payment Informations</strong> [<a href="javascript:;" title="" name="btnAddClaimPaymentInformation">&nbsp; + &nbsp;</a>]
                    </p>
                    <!-- ko foreach: ClaimPaymentInformations -->
                    <fieldset>
                        <div class="row form-group">
                            <div class="col-xs-2">
                                @Html.VpLabelFor(m => claimPaymentInformationViewModel.Clp01ClaimSubmittersIdentifier)
                                @Html.VpTextBoxFor(m => claimPaymentInformationViewModel.Clp01ClaimSubmittersIdentifier, new { data_bind = "value: Clp01ClaimSubmittersIdentifier" })
                            </div>
                            <div class="col-xs-2">
                                @Html.VpLabelFor(m => claimPaymentInformationViewModel.Clp07ReferenceIdentifier)
                                @Html.VpTextBoxFor(m => claimPaymentInformationViewModel.Clp07ReferenceIdentifier, new { data_bind = "value: Clp07ReferenceIdentifier" })
                            </div>
                            <div class="col-xs-2">
                                @Html.VpLabelFor(m => claimPaymentInformationViewModel.Nm109IdentificationCode)
                                @Html.VpTextBoxFor(m => claimPaymentInformationViewModel.Nm109IdentificationCode, new { data_bind = "value: Nm109IdentificationCode" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-2">
                                @Html.VpLabelFor(m => claimPaymentInformationViewModel.Clp02ClaimStatusCode)
                                @Html.DropDownListFor(m => claimPaymentInformationViewModel.Clp02ClaimStatusCode, Model.ClaimStatusCodes, "-", new {@class = "form-control", data_bind = "value: Clp02ClaimStatusCode"})
                            </div>
                            <div class="col-xs-2">
                                @Html.VpLabelFor(m => claimPaymentInformationViewModel.Clp03MonetaryAmount)
                                @Html.VpTextBoxFor(m => claimPaymentInformationViewModel.Clp03MonetaryAmount, new {data_bind = "value: Clp03MonetaryAmount"})
                            </div>
                            <div class="col-xs-2">
                                @Html.VpLabelFor(m => claimPaymentInformationViewModel.Clp04MonetaryAmount)
                                @Html.VpTextBoxFor(m => claimPaymentInformationViewModel.Clp04MonetaryAmount, new {data_bind = "value: Clp04MonetaryAmount"})
                            </div>
                            <div class="col-xs-2">
                                @Html.VpLabelFor(m => claimPaymentInformationViewModel.Clp05MonetaryAmount)
                                @Html.VpTextBoxFor(m => claimPaymentInformationViewModel.Clp05MonetaryAmount, new {data_bind = "value: Clp05MonetaryAmount"})
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-2">
                                @Html.VpLabelFor(m => adjudicationInformationViewModel.AdjudicationInformationType)
                                @Html.DropDownListFor(m => adjudicationInformationViewModel.AdjudicationInformationType, Model.AdjudicationInformationTypes, new {@class = "form-control", data_bind = "value: AdjudicationInformation().AdjudicationInformationType"})
                            </div>
                            <div class="col-xs-3">
                                @Html.VpLabelFor(m => adjudicationInformationViewModel.MiaMoaRemarkCode)
                                @Html.DropDownListFor(m => adjudicationInformationViewModel.MiaMoaRemarkCode, Model.EobRemittanceAdviceRemarkCodes, "-", new { @class = "form-control", data_bind = "value: AdjudicationInformation().MiaMoaRemarkCode" })
                            </div>
                        </div>

                        <p>
                            <strong class="innerloop">Claim Level Claim Adjustments</strong> [<a href="javascript:;" title="" name="btnAddClaimAdjustmentPivot">&nbsp; + &nbsp;</a>]
                        </p>
                        <!-- ko if: ClaimAdjustmentPivots.Any -->
                        <div class="row">
                            <div class="col-xs-3">@Html.VpLabelFor(m => claimAdjustmentPivotViewModel.ClaimAdjustmentGroupCode)</div>
                            <div class="col-xs-3">@Html.VpLabelFor(m => claimAdjustmentPivotViewModel.ClaimAdjustmentReasonCode)</div>
                            <div class="col-xs-2">@Html.VpLabelFor(m => claimAdjustmentPivotViewModel.MonetaryAmount)</div>
                        </div>
                        <!-- ko foreach: ClaimAdjustmentPivots -->
                        <div class="row form-group">
                            <div class="col-xs-3">@Html.DropDownListFor(m => claimAdjustmentPivotViewModel.ClaimAdjustmentGroupCode, Model.ClaimAdjustmentGroupCodes, "-", new {@class = "form-control", data_bind = "value: ClaimAdjustmentGroupCode"})</div>
                            <div class="col-xs-3">@Html.DropDownListFor(m => claimAdjustmentPivotViewModel.ClaimAdjustmentReasonCode, Model.ClaimAdjustmentReasonCodes, "-", new {@class = "form-control", data_bind = "value: ClaimAdjustmentReasonCode"})</div>
                            <div class="col-xs-2">@Html.VpTextBoxFor(m => claimAdjustmentPivotViewModel.MonetaryAmount, new {data_bind = "value: MonetaryAmount"})</div>
                        </div>
                        <!-- /ko -->
                        <!-- /ko -->

                        <p>
                            <strong class="outerloop">Service Payment Informations</strong> [<a href="javascript:;" title="" name="btnAddServicePaymentInformation">&nbsp; + &nbsp;</a>]
                        </p>
                        <!-- ko foreach: ServicePaymentInformations -->
                        <fieldset>
                            <p>
                                <strong>Remark Codes</strong> [<a href="javascript:;" title="" name="btnAddLqHealthCareRemark">&nbsp; + &nbsp;</a>]
                            </p>
                            <!-- ko if: LqHealthCareRemarkCodes.Any -->
                            <div class="row">
                                <div class="col-xs-3">@Html.VpLabelFor(m => industryCodeIdentificationViewModel.Lq02IndustryCode)</div>
                            </div>
                            <!-- ko foreach: LqHealthCareRemarkCodes -->
                            <div class="row form-group">
                                <div class="col-xs-3">@Html.DropDownListFor(m => industryCodeIdentificationViewModel.Lq02IndustryCode, Model.EobRemittanceAdviceRemarkCodes, "-", new {@class = "form-control", data_bind = "value: Lq02IndustryCode"})</div>
                            </div>
                            <!-- /ko -->
                            <!-- /ko -->

                            <p>
                                <strong class="innerloop">Service Level Claim Adjustments</strong> [<a href="javascript:;" title="" name="btnAddClaimAdjustmentPivot">&nbsp; + &nbsp;</a>]
                            </p>
                            <!-- ko if: ClaimAdjustmentPivots.Any -->
                            <div class="row">
                                <div class="col-xs-3">@Html.VpLabelFor(m => claimAdjustmentPivotViewModel1.ClaimAdjustmentGroupCode)</div>
                                <div class="col-xs-3">@Html.VpLabelFor(m => claimAdjustmentPivotViewModel1.ClaimAdjustmentReasonCode)</div>
                                <div class="col-xs-2">@Html.VpLabelFor(m => claimAdjustmentPivotViewModel1.MonetaryAmount)</div>
                            </div>
                            <!-- ko foreach: ClaimAdjustmentPivots -->
                            <div class="row form-group">
                                <div class="col-xs-3">@Html.DropDownListFor(m => claimAdjustmentPivotViewModel1.ClaimAdjustmentGroupCode, Model.ClaimAdjustmentGroupCodes, "-", new {@class = "form-control", data_bind = "value: ClaimAdjustmentGroupCode"})</div>
                                <div class="col-xs-3">@Html.DropDownListFor(m => claimAdjustmentPivotViewModel1.ClaimAdjustmentReasonCode, Model.ClaimAdjustmentReasonCodes, "-", new {@class = "form-control", data_bind = "value: ClaimAdjustmentReasonCode"})</div>
                                <div class="col-xs-2">@Html.VpTextBoxFor(m => claimAdjustmentPivotViewModel1.MonetaryAmount, new {data_bind = "value: MonetaryAmount"})</div>
                            </div>
                            <!-- /ko -->
                            <!-- /ko -->
                        </fieldset>
                        <!-- /ko -->
                    </fieldset>
                    <!-- /ko -->
                </fieldset>
                <!-- /ko-->
            </fieldset>
            <!-- /ko -->
        </fieldset>
        <!-- /ko -->
        <br/>
        <p class="text-center">
            <button type="submit" class="btn btn-primary">Save</button>
        </p>
        <br/><br/>
    }
</section>

@section scripts {
    <script src="~/Scripts/Libraries/knockout-3.4.2.debug.js"></script>
    <script src="~/Scripts/Libraries/knockout.mapping-latest.debug.js"></script>
    <script src="~/Scripts/Models/Eob/add-835-vm.js"></script>
    <script src="~/Scripts/Models/Eob/adjudication-information-vm.js"></script>
    <script src="~/Scripts/Models/Eob/claim-adjustment-pivot-vm.js"></script>
    <script src="~/Scripts/Models/Eob/claim-payment-information-vm.js"></script>
    <script src="~/Scripts/Models/Eob/functional-group-header-trailer-vm.js"></script>
    <script src="~/Scripts/Models/Eob/header-number-vm.js"></script>
    <script src="~/Scripts/Models/Eob/industry-code-identification-vm.js"></script>
    <script src="~/Scripts/Models/Eob/service-payment-information-vm.js"></script>
    <script src="~/Scripts/Models/Eob/transaction-set-header-trailer835-vm.js"></script>
    <script type="text/javascript">

        (function(models) {

            function buildServicePaymentInformation() {

                var model = new models.ServicePaymentInformationViewModel();
                model.LqHealthCareRemarkCodes.Add();

                return ko.mapping.toJS(model);

            }

            function buildClaimPaymentInformation() {

                var model = new models.ClaimPaymentInformationViewModel();
                model.AdjudicationInformation(new models.AdjudicationInformationViewModel());
                model.ServicePaymentInformations.AddObj(ko.mapping.toJS(buildServicePaymentInformation()));

                return ko.mapping.toJS(model);

            }

            function buildHeaderNumber() {

                var model = new models.HeaderNumberViewModel();
                model.ClaimPaymentInformations.AddObj(buildClaimPaymentInformation());

                return ko.mapping.toJS(model);

            }

            function buildTransactionSet() {

                var model = new models.TransactionSetHeaderTrailer835ViewModel();
                model.Transactions.AddObj(ko.mapping.toJS(buildHeaderNumber()));

                return ko.mapping.toJS(model);

            }

            function buildFunctionalGroupHeaderTrailer() {

                var model = new models.FunctionalGroupHeaderHeaderTrailerViewModel();
                model.TransactionHeaders.AddObj(ko.mapping.toJS(buildTransactionSet()));

                return ko.mapping.toJS(model);

            }

            function postAdd($form) {

                // ugly hack to fix validation
                var nameIndex = 0;
                $form.find('input,select').removeAttr('id').each(function() {
                    $(this).attr('name', 'control' + nameIndex.toString());
                    nameIndex++;
                });

                $form.parseValidation();
            }

            $(document).ready(function() {

                var ignore = ko.mapping.defaultOptions().ignore;
                ignore.push('Refresh');
                ignore.push('Reset');
                $.extend(ko.mapping.defaultOptions(), { 'ignore': ignore });

                var vm = new window.VisitPay.QATools.Models.Add835ViewModel();
                vm.VisitId(@Model.VisitId);
                vm.FunctionalGroupHeaderTrailerHeaders.AddObj(buildFunctionalGroupHeaderTrailer());
                var $form = $('#frm');
                ko.applyBindings(vm, $form[0]);
                postAdd($form);

                $form.on('click', '[name="btnAddTransactionHeader"]', function(e) {
                    e.preventDefault();
                    ko.dataFor($(this)[0]).TransactionHeaders.AddObj(buildTransactionSet());
                });

                $form.on('click', '[name="btnAddTransaction"]', function(e) {
                    e.preventDefault();
                    ko.dataFor($(this)[0]).Transactions.AddObj(buildHeaderNumber());
                    postAdd($form);
                });

                $form.on('click', '[name="btnAddClaimPaymentInformation"]', function(e) {
                    e.preventDefault();
                    ko.dataFor($(this)[0]).ClaimPaymentInformations.AddObj(buildClaimPaymentInformation());
                    postAdd($form);
                });

                $form.on('click', '[name="btnAddClaimAdjustmentPivot"]', function(e) {
                    e.preventDefault();
                    ko.dataFor($(this)[0]).ClaimAdjustmentPivots.Add();
                    postAdd($form);
                });

                $form.on('click', '[name="btnAddServicePaymentInformation"]', function(e) {
                    e.preventDefault();
                    ko.dataFor($(this)[0]).ServicePaymentInformations.Add(buildServicePaymentInformation());
                    postAdd($form);
                });

                $form.on('click', '[name="btnAddLqHealthCareRemark"]', function(e) {
                    e.preventDefault();
                    ko.dataFor($(this)[0]).LqHealthCareRemarkCodes.Add();
                    postAdd($form);
                });

                $form.on('submit', function(e) {
                    e.preventDefault();
                    $(this).parseValidation();

                    if (!$(this).valid()) {
                        return;
                    }
                    console.log(ko.mapping.toJS(vm));
                    $.post($(this).attr('action'), { model: ko.mapping.toJS(vm) }, function (response) {
                        window.location.href = response.Url;
                    });
                });

                $form.show();

            });

        })(window.VisitPay.QATools.Models);

    </script>
}