﻿@using Ivh.Web.Client.Models.Reports
@model AnalyticReportConfig

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div id="errorWrapper">
        <h2>
            Error
        </h2>
        @Model.ErrorMessage
    </div>

    return;
}

<section id="section-analytic-report-container">
    <div id="reportContainer" class="report-container"></div>
</section>
@section scripts {
    @Scripts.Render("~/bundles/scripts/reports/analyticreport")

    <script type="text/javascript">
        var accessToken = "@Model.Token";
        var embedUrl = "@Html.Raw(Model.EmbedUrl)";
        var embedReportId = "@Model.Id";
        var config = {
            type: 'report',
            tokenType: 1,
            accessToken: accessToken,
            embedUrl: embedUrl,
            id: embedReportId,
            settings: {
                filterPaneEnabled: false,
                navContentPaneEnabled: false,
                background: 1
            }
        };
        var reportContainer = $('#reportContainer')[0];
        powerbi.embed(reportContainer, config);
    </script>
}
