﻿@model Ivh.Web.Client.Models.Reports.GuarantorSummaryFilterViewModel

@section breadcrumbs {
    <ul>
        <li>@base.ClientDto.ClientBrandName</li>
        <li>Guarantor Summary Report</li>
    </ul>
}

<h1 class="bar">
    Guarantor Summary Report
    <input type="image" title="Export To Excel" id="btnExport" src="~/Content/Images/excel.png" class="export-excel"/>
</h1>

<section id="section-guarantorsummaryreport">
    <form class="jqGridFilter container" id="jqGridFilter" autocomplete="off">
        <div class="alert alert-info collapse" data-bind="css: { collapse: RunResults() == false }">
            Click <strong>Run</strong> to update your results
        </div>
        <div class="row">
            <div class="col">@Html.LabelFor(m => m.DateRangeFrom)</div>
            <div class="col">@Html.VpLabelFor(m => m.HsGuarantorSourceSystemKey)</div>
            <div class="col">@Html.VpLabelFor(m => m.VpGuarantorId)</div>
            <div class="col"></div>
            <div class="col text-right">
                <button type="submit" class="btn btn-primary" id="btnGridFilterSubmit">Run</button>
            </div>
        </div>
        <div class="row">
            <div class="col col-date">
                @Html.DropDownListFor(m => m.DateRangeFrom, Model.DateRanges, new { @class = "form-control", data_bind = "value: DateRangeFrom" })
                <span>or</span>
                <div class="input-group date">
                    @Html.VpTextBoxFor(m => m.SpecificDateFrom, new { data_bind = "value: SpecificDateFrom" })
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
                <div class="input-group date">
                    @Html.VpTextBoxFor(m => m.SpecificDateTo, new { data_bind = "value: SpecificDateTo" })
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
            <div class="col">
                @Html.VpTextBoxFor(m => m.HsGuarantorSourceSystemKey, new { data_bind = "value: HsGuarantorSourceSystemKey" })
            </div>
            <div class="col">
                @Html.VpTextBoxFor(m => m.VpGuarantorId, new { data_bind = "value: VpGuarantorId" })
            </div>
            <div class="col">
            </div>
            <div class="col text-right">
                <button type="reset" class="btn btn-primary" id="btnGridFilterReset">Reset</button>
            </div>
        </div>
    </form>
    <table id="jqGrid"></table>
    <div id="jqGridPager"></div>
    <div id="jqGridNoRecords" class="alert alert-info collapse text-center">
        <strong>There is no data matching your search criteria.</strong>
    </div>
</section>

@section scripts {

    @Scripts.Render("~/bundles/scripts/reports/guarantorsummaryreport")

}