﻿@using ReportViewerForMvc

@section breadcrumbs {
    <ul>
        <li>@base.ClientDto.ClientBrandName</li>
        <li>VisitPay Reports</li>
    </ul>
}

<h1 class="bar">
    VisitPay Reports
    @Html.ActionLink("Back to Report List", "SsrsReport", "Reporting")
</h1>

@Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer)  

@section scripts{
    <script type="text/javascript">
        function showReport(parameter) { window.location.href='/Reporting/SsrsReport?reportname=' + parameter; };
    </script>
}
@section css{
    <style type="text/css">
        iframe {
            width: 100% !important;
            border: 0 !important;
        }
    </style>
}