﻿@using Ivh.Common.VisitPay.Enums
@using Ivh.Common.VisitPay.Strings
@model Ivh.Web.Client.Models.Support.CreateSupportRequestViewModel

<div class="modal fade" id="modalCreateSupportRequest" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">Create Support Request</h4>
            </div>
            <div class="modal-body">
                <section id="section-createsupportrequest">
                     @Html.HiddenFor(m => m.VisitId)
                    <form id="frmCreateSupportRequest" autocomplete="off">
                        
                        <div class="row form-group">
                            <div class="col-xs-3">From:</div>
                            <div class="col-xs-9">@Html.DisplayFor(m => m.GuarantorName)</div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-3">To:</div>
                            <div class="col-xs-9">@ClientDto.ClientFullName</div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-3">Submitting For:</div>
                            <div class="col-xs-9">
                                <!-- ko if: Users.MoreThanOne -->
                                @Html.DropDownListFor(m => m.SubmittedForVisitPayUserId, new List<SelectListItem>(), new { data_bind = "options: Users, optionsText: 'Name', optionsValue: 'VisitPayUserId', value: Users.SelectedVisitPayUserId", @class = "form-control" })
                                <!-- /ko -->
                                <!-- ko ifnot: Users.MoreThanOne -->
                                @Html.DisplayFor(m => m.GuarantorName)
                                @Html.HiddenFor(m => m.SubmittedForVisitPayUserId, new { data_bind = "value: Users.SelectedVisitPayUserId" })
                                <!-- /ko -->
                            </div>
                        </div>

                        <hr class="light" />

                        <div class="row form-group">
                            <div class="col-xs-12">@Html.VpLabelFor(m => m.SupportTopicId)</div>
                            <div class="col-xs-12">@Html.DropDownListFor(m => m.SupportTopicId, new List<SelectListItem>(), "--Select One--", new { @class = "form-control", disabled = "disabled", data_bind = "enable: SupportTopicId.IsEnabled, options: SupportTopicId.Data, optionsText: 'SupportTopicName', optionsValue: 'SupportTopicId', optionsCaption: '--Select One--', value: SupportTopicId" })</div>
                        </div>

                        <div class="row form-group">
                            <div class="col-xs-12">@Html.VpLabelFor(m => m.SupportSubTopicId)</div>
                            <div class="col-xs-12">@Html.DropDownListFor(m => m.SupportSubTopicId, new List<SelectListItem>(), "--Select One--", new { @class = "form-control", disabled = "disabled", data_bind = "enable: SupportSubTopicId.IsEnabled, options: SupportSubTopicId.Data, optionsText: 'SupportTopicName', optionsValue: 'SupportTopicId', optionsCaption: '--Select One--', value: SupportSubTopicId" })</div>
                        </div>
                        @if (User.IsInRole(VisitPayRoleStrings.Csr.SupportAdmin))
                        {
                            <div class="row form-group">
                                <div class="col-xs-12">@Html.VpLabelFor(m => m.AssignedVisitPayUserId)</div>
                                <div class="col-xs-4">@Html.DropDownListFor(m => m.AssignedVisitPayUserId, new List<SelectListItem>(), "--Select One--", new {@class = "form-control", data_bind = "options: SupportAdminUsers, optionsText: 'Text', optionsValue: 'Value', optionsCaption: '<Unassigned>', value: AssignedVisitPayUserId"})</div>
                            </div>
                        }

                        <hr class="light" />

                        <p>@Html.CmsRegion(CmsRegionEnum.CreateSupportRequestInstruction)</p>

                        <div class="row form-group">
                            <div class="col-xs-12">
                                @Html.TextAreaFor(m => m.MessageBody, new { @class = "form-control", placeholder = "* Enter your information here..." })
                            </div>
                        </div>
                    </form>
                    <form id="frmCreateSupportRequestAttachments" method="POST" enctype="multipart/form-data" autocomplete="off">
                        <div class="row fileupload-buttonbar">
                            <div class="col-xs-12" style="position: relative;">
                                <span class="btn btn-default fileinput-button">
                                    <em class="glyphicon glyphicon-file"></em>
                                    <span>Attach A File</span>
                                    <input type="file" name="files[]" multiple title="You may attach documentation to support your request">
                                </span>
                                <span class="error"></span>
                                <button type="submit" class="btn btn-primary start" style="display: none;"></button>
                            </div>
                        </div>
                        <table>
                            <colgroup>
                                <col/>
                                <col/>
                                <col/>
                                <col/>
                            </colgroup>
                            <tbody class="files"></tbody>
                        </table>
                    </form>

                </section>
            </div>
            <div class="modal-footer text-center">
                <span>* Required Field</span>
                <button type="button" id="btnCreateSupportRequestSubmit" class="btn btn-primary" title="Create Support Request">Submit</button>
                <button type="button" id="btnCreateSupportRequestCancel" class="btn btn-primary" data-dismiss="modal" title="Cancel Support Request">Cancel</button>
            </div>
        </div>
    </div>
</div>
<script id="template-upload" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
    {% if (!file.error) { %}
    <tr class="template-upload">
        <td>
            <span class="icon-file-type {%=getFileType(file.type)%}"></span>
        </td>
        <td>{%=file.name%}</td>
        <td class="text-right">{%=o.formatFileSize(file.size)%}</td>
        <td class="text-right">
            <button class="btn btn-primary start" disabled style="display: none;"></button>
            {% if (!i) { %}
            <button class="btn btn-icon cancel" title="Delete this Attachment">&times;</button>
            {% } %}
        </td>
    </tr>
    {% } %}
    {% } %}
</script>
<script id="template-download" type="text/x-tmpl">
    <!-- need line break -->
</script>