﻿@using Ivh.Common.VisitPay.Strings
@model Ivh.Common.Web.Models.Support.SupportRequestGenericMessageViewModel

@{
    bool isTemplateAdmin = User.IsInRole(VisitPayRoleStrings.Csr.SupportTemplateAdmin);
}

<div class="modal fade" id="modalSupportRequestReply" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <!-- ko ifnot: CreatingCustomTemplate -->
                <h4 class="modal-title">Select Message Template</h4>
                <!-- /ko -->
                <!-- ko if: CreatingCustomTemplate -->
                <h4 class="modal-title">Create Message Template</h4>
                <!-- /ko -->
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <!-- Left Side -->
                        <div class="col-xs-4">
                            <!-- ko ifnot: CreatingCustomTemplate -->
                            <div class="topics">
                                <ul>
                                    <li data-jstree='{"icon":"glyphicon glyphicon-file"}'><span>Blank Template</span></li>
                                    <!-- ko foreach: Topics -->
                                    <li>
                                        <span data-bind="text: SupportTopicName, attr: { title: SupportTopicName }"></span>
                                        <ul data-bind="foreach: Items">
                                            <li>
                                                <span data-bind="text: SupportTopicName, attr: { title: SupportTopicName }"></span>
                                                <ul data-bind="foreach: Templates">
                                                    <li data-jstree='{"icon":"glyphicon glyphicon-file"}'>
                                                        <span data-bind="text: Title, attr: { title: Title }"></span>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <!-- /ko -->
                                    <!-- ko if: CustomTemplates().length > 0 -->
                                    <li>
                                        <span>Custom Templates</span>
                                        <ul data-bind="foreach: CustomTemplates" class="custom-template-folder">
                                            <li data-bind="attr: { 'data-jstree': $parent.GetIconForCustomTemplate($data) }">
                                                <span class="template-title" data-bind="text: Title, attr: { title: Title, 'data-custom-template-index': $index }"></span>
                                            </li>
                                        </ul>
                                    </li>
                                    <!-- /ko -->
                                </ul>
                            </div>
                            <form id="frmReplyAttachments" method="POST" enctype="multipart/form-data" autocomplete="off">
                                <div class="fileupload-buttonbar">
                                    <div class="text-center" style="position: relative;">
                                        <input type="file" name="files[]" multiple title="You may attach documentation to support your request">
                                        <button type="submit" class="btn btn-primary start" style="display: none;"></button>
                                    </div>
                                </div>
                                <table>
                                    <colgroup>
                                        <col />
                                        <col />
                                        <col />
                                        <col />
                                    </colgroup>
                                    <tbody class="files"></tbody>
                                </table>
                            </form>
                            <!-- /ko -->
                            <!-- ko if: CreatingCustomTemplate -->
                            <div class="templateReplacementTags">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h4 class="text-center">Template Replacement Tags</h4>
                                        <div class="alert alert-info">
                                            The template tags below can be used to replace text in a template with values from the database. You can insert
                                            them into your template by clicking the button next to any one of them.
                                        </div>
                                    </div>
                                </div>

                                <!-- Repeat for each replacement tag -->
                                <div class="row" data-bind="foreach: TemplateReplacementTags">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input type="text" class="form-control replacement-tag" data-bind="textInput: $data" disabled="disabled" style="width: 100%;" />
                                                <span class="input-group-btn">
                                                    <button class="btn" type="button" title="Insert Tag at Cursor" data-bind="click: $parent.InsertTag"><i class="glyphicon glyphicon-paste"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /ko -->
                        </div>
                        <!-- Right Side -->
                        <form id="frmReply" class="col-xs-8">
                            <!-- ko ifnot: CreatingCustomTemplate -->
                            @Html.TextAreaFor(m => m.MessageBody, new { @class = "form-control message", data_bind = "textInput: ReplyMessage" })
                            <!-- /ko -->
                            <!-- ko if: CreatingCustomTemplate -->
                            <div class="form-group">
                                <label class="required">Template Name:</label>
                                @Html.TextBox("CustomTemplateName", null, new { @class = "form-control", data_bind = "textInput: CustomTemplateName" })
                            </div>
                            <div class="form-group">
                                <label class="required">Template Content:</label>
                                @Html.TextAreaFor(m => m.MessageBody, new { @class = "form-control message", data_bind = "textInput: ReplyMessage", style = "max-height: 480px;" })
                            </div>
                            <!-- /ko -->
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer text-right">
                <!-- ko ifnot: CreatingCustomTemplate -->
                <div class="primary-buttons">
                    <button type="button" class="btn btn-default pull-left" id="btnCreateTemplate" title="Create Template">Create Template</button>
                    <!-- ko if: ShowingCustomTemplate && TemplateBeingShown.CanBeManaged(@isTemplateAdmin.ToString().ToLower()) -->
                    <button type="button" class="btn btn-default pull-left" id="btnEditTemplate" title="Edit Template" data-bind="click: EditTemplate">Edit Template</button>
                    <button type="button" class="btn btn-default pull-left" id="btnDeleteTemplate" title="Delete Template">Delete Template</button>
                    <!-- /ko -->
                    <span class="error"></span>
                    <button type="button" class="btn btn-primary" id="btnAddReply" title="Select Template" data-bind="disable: ReplyMessage.IsEmpty() || CreatingCustomTemplate">Select Template</button>
                    <button type="button" class="btn btn-primary" id="btnReplyDiscard" title="Close this message without saving">Cancel</button>
                </div>
                <!-- /ko -->
                <!-- ko if: CreatingCustomTemplate -->
                <div class="primary-buttons">
                    <span class="error"></span>
                    <button type="button" class="btn btn-primary" id="btnSaveTemplate" title="Save Template" data-bind="disable: ReplyMessage.IsEmpty() || CustomTemplateName.IsEmpty()">Save Template</button>
                    @if (isTemplateAdmin)
                    {
                        <button type="button" class="btn btn-primary" id="btnSaveGlobalTemplate" title="Save Template For All Users" data-bind="disable: ReplyMessage.IsEmpty() || CustomTemplateName.IsEmpty()">Save Global Template</button>
                    }
                    <button type="button" class="btn btn-primary" id="btnDiscardTemplate" title="Discard this custom template">Cancel</button>
                </div>
                <!-- /ko -->
            </div>
        </div>
    </div>
</div>
