﻿@model Ivh.Common.Web.Models.Support.SupportRequestGenericMessageViewModel

<div class="modal fade" id="modalSupportRequestReplyToGuarantor" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Send Reply<button type="button" class="close" data-dismiss="modal"><span>×</span></button></h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form id="frmReply" class="col-xs-12" data-bind="visible: true" style="padding: 0">
                        @Html.TextAreaFor(m => m.MessageBody, new { @class = "form-control message readonly", @readonly = true, data_bind = "textInput: ReplyMessage" })
                    </form>
                    <div class="row">
                        <div class="col-xs-12">
                            <form id="frmReplyAttachments" method="POST" enctype="multipart/form-data" autocomplete="off">
                                <div class="fileupload-buttonbar">
                                    <div class="text-center" style="position: relative;">
                                        <input type="file" name="files[]" multiple title="You may attach documentation to support your request">
                                        <button type="submit" class="btn btn-primary start" style="display: none;"></button>
                                    </div>
                                </div>
                                <table>
                                    <colgroup>
                                        <col/>
                                        <col/>
                                        <col/>
                                        <col/>
                                    </colgroup>
                                    <tbody class="files"></tbody>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer text-right">
                <div class="primary-buttons">
                    <button type="button" class="btn btn-default pull-left" id="btnReplyAttach" title="Attach a file to this message">Attach Files</button>
                    <span class="error"></span>
                    <button type="button" class="btn btn-primary" id="btnSendReply" title="Send Reply">Send Reply</button>
                    <button type="button" class="btn btn-primary" id="btnReplyDiscard" title="Discard attachments" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
