﻿@using Ivh.Common.Base.Utilities.Extensions
@using Ivh.Common.VisitPay.Strings
@using Ivh.Common.Web.Models.Support
@model List<SupportRequestMessageAttachmentViewModel>

<div id="modalSupportAttachments" class="modal modal-nested fade" tabindex="-1" role="dialog" data-backdrop="static" style="top: 130px;">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">Click file(s) to download</h4>
            </div>
            <div class="modal-body">
                <table>
                    <colgroup>
                        <col />
                        <col />
                        <col />
                        <col />
                    </colgroup>
                    <tbody>
                        @foreach (SupportRequestMessageAttachmentViewModel attachment in Model)
                        {
                            <tr class="srma-container">
                                <td>
                                    <input type="hidden" value="@attachment.MimeType" />
                                    <span class="icon-file-type"></span>
                                </td>
                                <td>
                                    <span>
                                        @{
                                            bool downloadDisabled = MalwareScanStatusEnum.Detected == attachment.MalwareScanStatus;
                                        }
                                        <input type="hidden" class="srma-id" value="@attachment.SupportRequestMessageAttachmentId" />
                                        @if (!downloadDisabled)
                                        {
                                            <a href="javascript:;" class="srma-download" title="Download @attachment.AttachmentFileName">@attachment.AttachmentFileName</a>
                                        }
                                        else
                                        {
                                            <span class="srma-download">@attachment.AttachmentFileName</span>
                                        }
                                    </span>
                                </td>
                                <td class="malware-scan-status text-bold">
                                    @{
                                        string textClass = "text-warning";
                                        if (MalwareScanStatusEnum.Clean == attachment.MalwareScanStatus)
                                        {
                                            textClass = "text-success";
                                        }
                                        else if (MalwareScanStatusEnum.Detected == attachment.MalwareScanStatus)
                                        {
                                            textClass = "text-danger";
                                        }
                                    }
                                    <span class="@(textClass)">@attachment.MalwareScanStatus.GetDescription()</span>
                                </td>
                                <td class="text-right">@attachment.InsertDate</td>
                                @if (User.IsInRole(VisitPayRoleStrings.Miscellaneous.IvhAdmin))
                                {
                                    <td><button class="btn btn-icon cancel srma-delete" title="Delete this Attachment">&times;</button></td>    
                                }
                            </tr>
                        }                       
                    </tbody>
                </table>
            </div>
            <div class="modal-footer text-right">
                <button type="submit" class="btn btn-primary pull-left" title="Download All" id="btnDownloadAttachmentsAll">Download All</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" title="Close">Close</button>
            </div>
        </div>
    </div>
</div>