﻿@using Ivh.Common.VisitPay.Strings
@model Ivh.Common.Web.Models.Support.SupportRequestGenericMessageViewModel

<div class="panel panel-default" id="supportRequest">
    <div class="panel-body" style="padding-left: 5px; padding-right: 5px;">
        <div class="top">
            <div class="row">
                <div class="col-xs-6">
                    <div class="details">
                        <div class="row">
                            <div class="col-xs-6" data-bind="css: { 'col-xs-6': HasVisit, 'col-xs-8': !HasVisit() }">
                                <div>
                                    Request Status:
                                    <span>
                                        <span data-bind="visible: SupportRequestStatusId.IsOpen, text: SupportRequestStatusName"></span>
                                        <span data-bind="visible: SupportRequestStatusId.IsClosed">
                                            <span data-bind="text: SupportRequestStatusName"></span>: <span data-bind="text: ClosedDate"></span> by <span data-bind="text: ClosedBy, attr: { title: ClosedBy }"></span>
                                        </span>
                                    </span>
                                </div>
                                <div>
                                    From:
                                    <span data-bind="text: GuarantorFullName"></span>
                                </div>
                                <div>
                                    To:
                                    <span>@ClientDto.ClientFullName</span>
                                </div>
                                <!-- ko if: SubmittedForVpGuarantorId.Any -->
                                <div>
                                    Submitted For:
                                    <span data-bind="text: SubmittedFor"></span>
                                </div>
                                <!-- /ko -->
                                <div>
                                    <span data-bind="visible: IsPreviousConsolidation" class="text-danger">NOTE: This is a previously Consolidated Relationship.</span>
                                </div>
                            </div>
                            <!-- ko if: HasVisit -->
                            <div class="col-xs-6">
                                <div>
                                    VP Visit #:
                                    <!-- ko if: IsVisitRemoved -->
                                    <span data-bind="text: VisitSourceSystemKeyDisplay, attr: { title: 'Removed Visit# - ' + VisitMatchedSourceSystemKey() }" data-toggle="tooltip" data-placement="right"></span>
                                    <!-- /ko -->
                                    <!-- ko ifnot: IsVisitRemoved -->
                                    <span>
                                        <a href="javascript:;" id="aOpenVisitDetails" data-bind="text: VisitSourceSystemKeyDisplay"></a>
                                    </span>
                                    <!-- /ko -->
                                </div>
                                <div>
                                    Visit Date:
                                    <span data-bind="text: TreatmentDate"></span>
                                </div>
                                <div>
                                    Description:
                                    <span data-bind="text: VisitDescription, attr: { title: VisitDescription }"></span>
                                </div>
                                <div>
                                    Patient:
                                    <span data-bind="text: PatientFullName"></span>
                                </div>
                            </div>
                            <!-- /ko -->
                        </div>
                    </div>
                </div>
                <form class="col-xs-6 topics" id="frmSubmitTopic">
                    <div class="row">
                        <div class="col-xs-4"><label for="ddSupportTopic" class="required">Assigned to:</label></div>
                        <div class="col-xs-8"><label for="ddSupportTopic">Request topic:</label></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4"><select class="form-control" id="ddAssignedVisitPayUser" data-bind="options: SupportAdminUsers, optionsText: 'Text', optionsValue: 'Value', optionsCaption: '<Unassigned>', value: AssignedVisitPayUserId"></select></div>
                        <div class="col-xs-8"><select id="ddSupportTopic" name="ddSupportTopic" class="form-control" disabled="disabled" data-bind="enable: SupportTopicId.IsEnabled, options: SupportTopicId.Data, optionsText: 'SupportTopicName', optionsValue: 'SupportTopicId', optionsCaption: '--Select One--', value: SupportTopicId"></select></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4"><label for="ddSupportRequestAction">Take Action:</label></div>
                        <div class="col-xs-8"><label for="ddSupportSubTopic">Request subtopic:</label></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <select class="form-control" id="ddSupportRequestAction">
                                <option value="">I want to...</option>
                                <option value="1">Print</option>
                                <option value="2">Go to Account Details</option>
                                @if (User.IsInRole(VisitPayRoleStrings.Csr.SupportAdmin))
                                {
                                    <option value="3" data-bind="text: SupportRequestStatusId.IsOpen() ? 'Mark Request Complete' : 'Re-Open Request'"></option>
                                }
                                @if (User.IsInRole(VisitPayRoleStrings.Miscellaneous.VpSupportTickets))
                                {
                                    <option value="4">Setup Support Ticket</option>
                                }
                                <option value="5" data-bind="text: IsFlaggedForFollowUp.IsEnabled() ? 'Unflag for Follow-Up' : 'Flag for Follow-Up'"></option>
                            </select>
                        </div>
                        <div class="col-xs-8">
                            <select id="ddSupportSubTopic" name="ddSupportSubTopic" class="form-control" disabled="disabled" data-bind="enable: SupportSubTopicId.IsEnabled, options: SupportSubTopicId.Data, optionsText: 'SupportTopicName', optionsValue: 'SupportTopicId', optionsCaption: '--Select One--', value: SupportSubTopicId"></select>
                        </div>
                    </div>
                    <br />
                    <div class="action">
                        <button type="button" id="btnSupportRequestAttachments" class="btn btn-default pull-right" title="Click here to view or download all files attached to this Support Request" data-bind="disable: Attachments.Count() == 0">
                            <em class="glyphicon glyphicon-file"></em>
                            View Attachments
                            (<span data-bind="text: Attachments.Count"></span>)
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <br />
        <div class="grid-container" data-bind="css: { expanded: CommunicationWindow.IsExpanded }">
            <a href="javascript:;" data-bind="click: CommunicationWindow.ToggleExpanded" class="grid-header">Communication with Guarantor<span></span></a>
            <div class="container-fluid communication">
                <div class="row">
                    <div id="messagesDiv" class="col-xs-12">
                        <div class="messages messages-guarantor">
                            <ul data-bind="foreach: GuarantorMessages.Sorted">
                                <li>
                                    <div class="title clearfix" data-bind="css: { 'sender-guarantor' : SupportRequestMessageType() == 1 }">
                                        <a class="glyphicon glyphicon-paperclip pull-right" href="javascript:;" title="Display attached files" data-bind="style: { 'visibility': HasAttachments() ? 'visible' : 'hidden' }"></a>
                                        <span data-bind="text: InsertDate" class="pull-right"></span>
                                        <span data-bind="text: VisitPayUserName"></span>
                                    </div>
                                    <div class="body">
                                        <span class="more">&hellip;<a href="javascript:;" title="Expand this message">More</a></span>
                                        <p>
                                            <span data-bind="html: MessageBody"></span>
                                            <span class="less pull-right"><a href="javascript:;" title="Collapse this message">Less</a></span>
                                        </p>
                                    </div>
                                </li>
                            </ul>
                            <form id="frmReplyToGuarantor">
                                @Html.TextAreaFor(m => m.MessageBody, new { @class = "form-control message message-body-reply-to-guarantor", placeholder = "Start typing a response...", data_bind = "textInput: ReplyMessage", data_autoresize = "Required" })
                            </form>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-xs-11">
                        <button type="button" class="btn btn-primary" title="Select Template" id="btnSelectTemplate">Select Template</button>
                        <button type="button" class="btn btn-primary" title="Reply to Guarantor" id="btnReplyGuarantor" data-bind="disable: ReplyMessage.IsEmpty()">Reply to Guarantor</button>
                    </div>
                    <div id="saveDraftStatus" class="col-xs-1 text-italic text-right">
                        <span></span>
                    </div>
                </div>
            </div>
        </div>

        <br />
        <div class="grid-container" data-bind="css: { expanded: InternalNoteWindow.IsExpanded }">
            <a href="javascript:;" data-bind="click: InternalNoteWindow.ToggleExpanded" class="grid-header">Internal Notes<span></span></a>
            <div class="container-fluid communication">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="messages messages-internal">
                            <ul data-bind="foreach: InternalMessages.Sorted">
                                <li>
                                    <div class="title clearfix">
                                        <a class="glyphicon glyphicon-paperclip pull-right" href="javascript:;" title="Display attached files" data-bind="style: { 'visibility': HasAttachments() ? 'visible' : 'hidden' }"></a>
                                        <span data-bind="text: InsertDate" class="pull-right"></span>
                                        <span data-bind="text: VisitPayUserName"></span>
                                    </div>
                                    <div class="body">
                                        <span class="more">&hellip;<a href="javascript:;" title="Expand this message">More</a></span>
                                        <p>
                                            <span data-bind="html: MessageBody"></span>
                                            <span class="less pull-right"><a href="javascript:;" title="Collapse this message">Less</a></span>
                                        </p>
                                    </div>
                                </li>
                            </ul>
                            <form id="frmEditorInternal">
                                @Html.TextAreaFor(m => m.MessageBody, new { @class = "form-control message message-body-internal", placeholder = "Start typing a note...", data_bind = "textInput: InternalNote", data_autoresize = "Required" })
                            </form>
                            <div class="editor-internal">
                                <form id="frmEditorInternalAttachments" method="POST" enctype="multipart/form-data" autocomplete="off" class="pull-right" style="display: none; width: 0;">
                                    <div class="fileupload-buttonbar">
                                        <div class="text-center" style="position: relative;">
                                            <input type="file" name="files[]" multiple title="You may attach documentation to support your request">
                                            <button type="submit" class="btn btn-primary start" style="display: none;"></button>
                                        </div>
                                    </div>
                                    <table>
                                        <colgroup>
                                            <col />
                                            <col />
                                            <col />
                                            <col />
                                        </colgroup>
                                        <tbody class="files"></tbody>
                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-xs-12">
                        @if (User.IsInRole(VisitPayRoleStrings.Csr.SupportAdmin) || User.IsInRole(VisitPayRoleStrings.Csr.SupportCreate))
                        {
                            <button type="button" class="btn btn-primary" title="Add Internal Note" id="btnSaveInternalNote" data-bind="disable: InternalNote.IsEmpty()">Add Internal Note</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modalSupportRequestReplyContainer"></div>
<script id="template-upload" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
    {% if (!file.error) { %}
    <tr class="template-upload">
        <td>
            <span class="icon-file-type {%=getFileType(file.type)%}"></span>
        </td>
        <td><span>{%=file.name%}</span></td>
        <td class="text-right">{%=o.formatFileSize(file.size)%}</td>
        <td class="text-right">
            <button class="btn btn-primary start" disabled style="display: none;"></button>
            {% if (!i) { %}
            <button class="btn btn-icon cancel" title="Delete this Attachment">&times;</button>
            {% } %}
        </td>
    </tr>
    {% } %}
    {% } %}
</script>
<script id="template-download" type="text/x-tmpl">
    <!-- need line break -->
</script>