﻿@using Ivh.Common.Base.Enums
@using Ivh.Common.VisitPay.Enums
@model Ivh.Web.Client.Models.Support.SupportRequestActionViewModel

<div id="modalCloseSupportRequest" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">
                    @Model.ActionName Support Request @Model.SupportRequestDisplayId
                </h4>
            </div>
            <div class="modal-body">
                <form>
                    @Html.HiddenFor(m => m.SupportRequestId)
                    @Html.HiddenFor(m => m.VisitPayUserId)
                    @Html.HiddenFor(m => m.CurrentSupportRequestStatus)
                    <div class="row">
                        <div class="col-xs-12"><label for="ddSupportTopic">Request topic:</label></div>
                        <div class="col-xs-12"><select id="ddSupportTopic" name="ddSupportTopic" class="form-control" disabled="disabled" data-bind="enable: SupportTopicId.IsEnabled, options: SupportTopicId.Data, optionsText: 'SupportTopicName', optionsValue: 'SupportTopicId', optionsCaption: '--Select One--', value: SupportTopicId"></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12"><label for="ddSupportSubTopic">Request subtopic:</label></div>
                        <div class="col-xs-12"><select id="ddSupportSubTopic" name="ddSupportSubTopic" class="form-control" disabled="disabled" data-bind="enable: SupportSubTopicId.IsEnabled, options: SupportSubTopicId.Data, optionsText: 'SupportTopicName', optionsValue: 'SupportTopicId', optionsCaption: '--Select One--', value: SupportSubTopicId"></select>
                        </div>
                    </div>
                    <br/>
                    @Html.LabelFor(m => m.MessageBody, "Enter a note to " + (Model.CurrentSupportRequestStatus == SupportRequestStatusEnum.Closed ? "re-open" : "close") + " this request:")
                    @Html.TextAreaFor(m => m.MessageBody, new { @class = "form-control", rows = 6 })
                </form>
            </div>
            <div class="modal-footer text-center">
                <button type="submit" class="btn btn-primary" id="btnCloseSupportRequestSubmit" title="Close Support Request">Submit</button>
                <button type="button" class="btn btn-primary" id="btnCloseSupportRequestCancel" data-dismiss="modal" title="Cancel">Cancel</button>
            </div>
        </div>
    </div>
</div>