﻿@using Ivh.Common.Base.Utilities.Extensions
@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.Web.Models.Support
@model PrintSupportRequestViewModel
@{
    Layout = "~/Views/Shared/_LayoutPrint.cshtml";
}

@section title {
    @Html.TextRegion(TextRegionConstants.SupportRequest): @Model.SupportRequest.SupportRequestDisplayId
}

<section id="print-supportrequest">
    <div class="top">
        <div class="user">
            @Model.UserName
        </div>
        <div class="logo">
            <img src="@ServerUrl/Content/Client/logo.png" />
        </div>    
    </div>
    <h2 style="margin-bottom: 20px;">
        @Html.TextRegion(TextRegionConstants.SupportRequest): @Model.SupportRequest.SupportRequestDisplayId
        @if (Model.SupportRequest.SupportRequestStatusId == 1)
        {
            <span>@Html.TextRegion(TextRegionConstants.Opened): @Model.SupportRequest.CreatedDate</span>
        }
        else
        {
            <span>@Html.TextRegion(TextRegionConstants.ClosedOn): @Model.SupportRequest.ClosedDate @Html.TextRegion(TextRegionConstants.By) @Model.SupportRequest.ClosedBy</span>
        }
    </h2>
    <table class="request">
        <colgroup>
            <col />
            <col />
            <col />
            <col />
        </colgroup>
        <tbody>
            <tr>
                <td colspan="4">@Model.SupportRequest.Topic</td>
            </tr>
            <tr>
                <td>@Html.TextRegion(TextRegionConstants.Visit) #</td>
                <td>@Model.SupportRequest.VisitSourceSystemKeyDisplay</td>
                <td>@Html.TextRegion(TextRegionConstants.Patient)</td>
                <td>@Model.SupportRequest.PatientFullName</td>
            </tr>
            <tr>
                <td>@Html.TextRegion(TextRegionConstants.Status)</td>
                <td>
                    @if (Model.SupportRequest.SupportRequestStatusId == 1)
                    {
                        <span>@Model.SupportRequest.SupportRequestStatusName</span>
                    }
                    else
                    {
                        <span>
                            <span>@Model.SupportRequest.SupportRequestStatusName</span>: <span>@Model.SupportRequest.ClosedDate</span> @Html.TextRegion(TextRegionConstants.By) <span>@Model.SupportRequest.ClosedBy</span>
                        </span>
                    }
                </td>
                <td>@Html.TextRegion(TextRegionConstants.ServiceDate)</td>
                <td>@Model.SupportRequest.TreatmentDate</td>
            </tr>
            <tr>
                <td>@Html.TextRegion(TextRegionConstants.Guarantor)</td>
                <td>@Model.SupportRequest.GuarantorFullName</td>
                @if (Model.SupportRequest.TreatmentLocation.IsNotNullOrEmpty())
                {
                    <td>@Html.TextRegion(TextRegionConstants.Location)</td>
                    <td>@Model.SupportRequest.TreatmentLocation</td>
                }
                else
                {
                    <td colspan="2" />
                }
            </tr>
            <tr>
                <td>@Html.TextRegion(TextRegionConstants.SubmittedFor)</td>
                <td colspan="3">
                    @Model.SupportRequest.SubmittedFor
                    @if (Model.SupportRequest.IsPreviousConsolidation)
                    {
                        <span class="text-danger" style="padding-left: 30px;">@Html.TextRegion(TextRegionConstants.NotePreviouslyConsolidatedRelationship)</span>
                    }
                </td>
            </tr>
        </tbody>
    </table>
    <div class="communications">
        <h2>@Html.TextRegion(TextRegionConstants.CommunicationHistory)</h2>
        @foreach (SupportRequestMessageViewModel message in Model.SupportRequest.GuarantorMessages)
        {
            <div>
                <div>
                    <strong>@message.InsertDate</strong>
                    <strong>@message.VisitPayUserName</strong>
                </div>
                <div>@Html.Raw(message.MessageBody.Replace(Environment.NewLine, "<br />").Replace("\n", "<br />"))</div>
            </div>
        }
        <h2>@Html.TextRegion(TextRegionConstants.InternalNotes)</h2>
        @foreach (SupportRequestMessageViewModel message in Model.SupportRequest.InternalMessages)
        {
            <div>
                <div>
                    <strong>@message.InsertDate</strong>
                    <strong>@message.VisitPayUserName</strong>
                </div>
                <div>@Html.Raw(message.MessageBody)</div>
            </div>
        }
    </div>
    <div class="attachments">
        <h2>@Html.TextRegion(TextRegionConstants.AttachmentList)</h2>
        <table>
            <colgroup>
                <col />
                <col />
            </colgroup>
            <tbody>
                @foreach (SupportRequestMessageAttachmentViewModel attachment in Model.SupportRequest.GuarantorMessages.SelectMany(x => x.Attachments).OrderBy(x => x.InsertDate).ThenBy(x => x.AttachmentFileName))
                {
                    <tr>
                        <td><span>@attachment.AttachmentFileName</span></td>
                        <td>@attachment.InsertDate</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>

@section scripts {

    <script type="text/javascript">
        (function() {
            window.print();
        })();
    </script>
}