﻿@using Ivh.Common.VisitPay.Constants
@model Ivh.Common.Web.Models.FinancePlan.FinancePlansSearchFilterViewModel

<div class="overlay" id="overlay-search">
    <a href="javascript:;" onclick="javascript: window.history.back();" class="back">@Html.TextRegion(TextRegionConstants.Search) @Html.TextRegion(TextRegionConstants.FinancePlansPageHeading)</a>
    <section id="section-finance-plans-search" class="container">
        <br/>
        <form data-bind="submit: Submit">
            <div>
                <div class="form-group">
                    <span class="pull-right">[ <a href="javascript:;" title="" class="reset" data-bind="click: Reset">@Html.TextRegion(TextRegionConstants.ButtonReset)</a> ]</span>
                    @Html.LabelFor(m => m.FinancePlanStatusIds)
                    @Html.DropDownListFor(m => m.FinancePlanStatusIds, Model.FinancePlanStatuses, new { @class = "form-control", data_bind = "value: Filter.FinancePlanStatusIds" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.LastXRange)
                    @Html.DropDownListFor(m => m.LastXRange, Model.LastXRanges, new {@class = "form-control", data_bind = "value: Filter.LastXRange"})
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.OriginationDateRangeFrom, "Date Range")
                    <div class="row">
                        <div class="col-xs-6">@Html.VpTextBoxFor(m => m.OriginationDateRangeFrom, new { type = "date", data_bind = "value: Filter.OriginationDateRangeFrom" })</div>
                        <div class="col-xs-6">@Html.VpTextBoxFor(m => m.OriginationDateRangeTo, new { type = "date", data_bind = "value: Filter.OriginationDateRangeTo" })</div>
                    </div>
                </div>
                <div class="form-group text-center">
                    <br />
                    <button type="submit" class="btn btn-primary btn-75">@Html.TextRegion(TextRegionConstants.Search)</button>
                </div>
            </div>
        </form>
    </section>
</div>
