﻿@using Ivh.Web.Client.Models.Sso
@model IList<ClientSsoProviderWithUserSettingsViewModel>

<div id="modalManageSso" class="modal modal-vcenter fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">
                    Manage Single Sign-On
                </h4>
            </div>
            <div class="modal-body">
                @foreach (ClientSsoProviderWithUserSettingsViewModel item in Model)
                {
                    <div>
                        @Html.Partial("_Settings", item)
                    </div>
                }
                <hr/>
                <p class="text-center">Your view/action on this content is logged for audit purposes. </p>
            </div>
        </div>
    </div>
</div>