﻿@model Ivh.Web.Client.Models.Sso.ClientSsoProviderWithUserSettingsViewModel


<h2>
    @ClientDto.ClientBrandName @Model.SsoProviderName Single Sign-On
    @if (!string.IsNullOrEmpty(Model.SourceSystemKey))
    {
        <span>@Model.SourceSystemKeyLabel: @Model.SourceSystemKey</span>
    }
</h2>
<div class="provider">
    @if (Model.IsUserEligible)
    {
        if (Model.IsAccepted)
        {
            <div class="accepted">
                @using (Html.BeginForm("Decline", "Sso", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("ssoProvider", Model.SsoProviderId)
                    @Html.Hidden("visitPayUserId", Model.VisitPayUserId)
                    <div>
                        <p>@Html.Raw(Model.Body.ContentBody)</p>
                    </div>
                    <hr/>
                    <p class="text-center">
                        <button type="button" class="btn btn-primary" id="btnOff">Disable @Model.SsoProviderName Single Sign-On</button>
                    </p>
                    <p class="text-center">
                        <em>Terms Accepted: @Model.ActionDateTime</em>
                    </p>
                }
            </div>
        }
        else
        {
            <div class="declined">
                @using (Html.BeginForm("Ignore", "Sso", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("ssoProvider", Model.SsoProviderId)
                    @Html.Hidden("visitPayUserId", Model.VisitPayUserId)
                    <div>
                        <p>@Html.Raw(Model.Body.ContentBody)</p>
                    </div>
                    if (Model.IsDeclined)
                    {
                        <hr/>
                        if (!Model.EnableFromManageSso)
                        {
                            <p class="text-center">
                                @Html.CheckBoxFor(m => Model.IsIgnored, Model.IsIgnored)
                                @Html.LabelFor(m => Model.IsIgnored, new {style = "font-weight: bold;"})
                            </p>
                        }
                        <p class="text-center">
                            <em>Declined: @Model.ActionDateTime by @Model.ActionVisitPayUser</em>
                        </p>
                    }
                }
            </div>
        }
    }
    else
    {
        <div class="alert alert-info">@Model.SsoProviderName Single Sign-On (SSO) is not available for this guarantor at this time.</div>
    }
    <br>
</div>