﻿@import '../_variables.scss';

@mixin clearfix() {
    &:before,
    &:after {
        content: ' ';
        display: table;
    }

    &:after {
        clear: both;
    }
}
@mixin text-overflow() {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin vpicon($contentUrl, $height: 1em, $width: 1em) {
    background: $contentUrl no-repeat;
    display: inline-block;
    background-size: contain;
    width: $width;
    height: $height;
}

@mixin vpicon-pc($height: 1em, $width: 1em) {
    @include vpicon(url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="44px" height="44px" viewBox="0 0 44 44" version="1.1"> <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="rev-april-6,-2018---no-plug-no-prev" transform="translate(-304.000000, -512.000000)"> <g id="visitpay_icons_desktop_oval" transform="translate(304.000000, 512.000000)"> <circle id="oval" fill="#F2F2F2" cx="22" cy="22" r="22"/> <g xmlns="http://www.w3.org/2000/svg" fill-rule="nonzero" fill="#555555" transform="translate(9.000000, 10.000000)" id="visitpay_icons_desktop"> <path d="M26.7545455,17.9389831 L26.7545455,0.0813559322 L0.245454545,0.0813559322 L0.245454545,17.9389831 L10.2681818,17.9389831 L10.2681818,21.1932203 L4.66363636,21.1932203 L4.66363636,23.5932203 L22.3363636,23.5932203 L22.3363636,21.1932203 L16.7318182,21.1932203 L16.7318182,17.9389831 L26.7545455,17.9389831 Z M21.5181818,22.0067797 L21.5181818,22.779661 L5.48181818,22.779661 L5.48181818,22.0067797 L11.0863636,22.0067797 L11.0863636,18.020339 L15.8727273,18.020339 L15.8727273,22.0067797 L21.5181818,22.0067797 Z M1.06363636,0.894915254 L25.8954545,0.894915254 L25.8954545,17.1254237 L1.06363636,17.1254237 L1.06363636,0.894915254 Z M2.65909091,2.48135593 L2.65909091,15.579661 L24.3,15.579661 L24.3,2.48135593 L2.65909091,2.48135593 Z M20.3318182,12.6508475 L19.1863636,13.5864407 L17.3045455,11.3084746 L15.4227273,12.8135593 L14.4,6.58983051 L20.2909091,8.82711864 L18.4090909,10.3322034 L20.3318182,12.6508475 Z" id="Shape"/> </g> </g> </g> </g></svg>'),$height,$width);
}
@mixin vpicon-arrow-reload($height: 1em, $width: 1em) {
    @include vpicon(url('data:image/svg+xml;utf8,<svg viewBox="0 0 17 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" ><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(1.000000, 2.000000)" fill="#434343"><path d="M15.796,6.908 L14.234,5.21 C14.019,4.998 13.672,4.998 13.458,5.21 L11.894,6.908 C11.679,7.122 11.679,7.467 11.894,7.68 L13.188,7.68 C12.702,9.505 11.27,10.976 9.399,11.47 C7.231,12.042 4.913,11.191 3.632,9.351 L2.541,10.102 C3.807,11.921 5.884,12.966 8.039,12.966 C8.604,12.966 9.176,12.894 9.737,12.745 C12.188,12.099 14.04,10.112 14.55,7.68 L15.795,7.68 C16.01,7.467 16.01,7.122 15.796,6.908 L15.796,6.908 Z" class="si-glyph-fill"></path><path d="M4.475,6.021 C4.69,5.808 4.69,5.462 4.475,5.249 L3.018,5.249 C3.516,3.448 4.936,2.001 6.789,1.511 C8.959,0.938 11.275,1.791 12.555,3.632 L13.647,2.88 C12.049,0.585 9.161,-0.479 6.448,0.235 C4.016,0.878 2.175,2.84 1.648,5.249 L0.196,5.249 C-0.019,5.463 -0.019,5.809 0.196,6.021 L1.834,7.658 C2.048,7.87 2.396,7.87 2.61,7.658 L4.475,6.021 L4.475,6.021 Z" class="si-glyph-fill"></path></g></g></svg>'),$height,$width);
}
@mixin vpicon-money($height: 10em, $width: 10em) {
    @include vpicon(url('data:image/svg+xml;utf8,<svg viewBox="0 0 17 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" ><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><path d="M11.979,10.596 C11.979,8.901 10.621,7.492 8.968,7.215 L8.968,3.828 C9.472,3.984 9.993,4.023 10.203,4.498 C10.393,4.926 10.874,5.109 11.275,4.908 C11.678,4.706 11.848,4.194 11.659,3.765 C11.186,2.699 10.117,2.271 8.983,2.077 L8.983,0 L8,0 L8,2.066 C6.336,2.317 5.005,3.736 5.005,5.449 C5.005,7.159 6.329,8.576 8,8.832 L8,12.242 C7.464,12.094 6.967,12.044 6.748,11.547 C6.56,11.117 6.08,10.934 5.68,11.135 C5.276,11.336 5.104,11.846 5.292,12.276 C5.773,13.366 6.846,13.807 8.016,13.987 L8.016,16 L8.954,16 L8.954,13.979 C10.6,13.707 11.979,12.294 11.979,10.596 L11.979,10.596 Z M6.617,5.449 C6.617,4.675 7.215,4.025 8.03,3.816 L8.03,7.085 C7.215,6.874 6.617,6.225 6.617,5.449 L6.617,5.449 Z M8.961,12.223 L8.961,8.969 C9.776,9.194 10.371,9.834 10.371,10.596 C10.371,11.358 9.776,11.998 8.961,12.223 L8.961,12.223 Z" fill="#434343" class="si-glyph-fill"></path></g></svg>'),$height,$width);
}
@mixin vpicon-recurring-money($height: 1em, $width: 1em) {
    @include vpicon(url('data:image/svg+xml;utf8,<svg width="20px" height="44px"  viewBox="0 0 60 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><path class="st0" d="M32.2,43.6c-1.9,0-3.4-0.5-4.5-1.6c-1.1-1.1-1.6-2.5-1.6-4.4h-2.1c0,2.3,0.7,4.2,2,5.5 c1.3,1.3,3.1,2.1,5.5,2.3v3.4h1.8v-3.4c2.1-0.2,3.8-0.8,5-2c1.2-1.2,1.8-2.8,1.8-4.7c0-1.2-0.2-2.3-0.7-3.2 c-0.5-0.9-1.2-1.6-2.1-2.3c-0.9-0.6-2.5-1.3-4.5-2c-2.1-0.7-3.6-1.5-4.4-2.3C27.4,28.1,27,27,27,25.5c0-1.5,0.5-2.7,1.4-3.5 c0.9-0.9,2.3-1.3,3.9-1.3c1.7,0,3,0.5,4,1.6c1,1.1,1.4,2.6,1.4,4.4h2.1c0-2.4-0.6-4.2-1.7-5.6s-2.8-2.2-4.8-2.3v-3.6h-1.8v3.6 c-2,0.2-3.7,0.9-4.8,2.1c-1.2,1.2-1.8,2.8-1.8,4.7c0,1.8,0.5,3.3,1.6,4.5c1.1,1.2,3,2.2,5.6,3c2.2,0.7,3.7,1.5,4.5,2.4 c0.9,0.8,1.3,1.9,1.3,3.2c0,1.4-0.5,2.6-1.6,3.5C35.3,43.1,33.9,43.6,32.2,43.6z"/> </g> <g> <path class="st0" d="M7.6,33.9C7,26.7,9.6,19.3,15.4,14c9.9-9.2,25.4-8.6,34.6,1.3c0.2,0.2,0.4,0.5,0.7,0.8l2.2-2 c-0.2-0.3-0.4-0.5-0.7-0.8C41.9,2.2,24.4,1.5,13.3,11.8c-6.5,6-9.4,14.5-8.7,22.7l-3.8,0.7L8,43.8l3.4-10.6L7.6,33.9z"/> <path class="st0" d="M50.7,52.2c7.3-6.8,10.1-16.6,8.2-25.7l3.6-1.4L54,18l-1.4,11l3.5-1.4c1.4,8-1.1,16.5-7.4,22.4 c-9.9,9.2-25.4,8.6-34.6-1.3c-0.7-0.7-1.3-1.5-1.9-2.3l-2.2,2.1c0.6,0.8,1.2,1.6,1.9,2.3C22.1,61.8,39.6,62.5,50.7,52.2z"/> </g></svg>'),$height,$width);
}

@mixin vpicon-mobile($height: 1em, $width: 1em) {
    @include vpicon(url('data:image/svg+xml;utf8,<svg width="44px" height="44px" viewBox="0 0 44 44" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="rev-april-6,-2018---no-plug-no-prev" transform="translate(-421.000000, -512.000000)"> <g id="visitpay_icons_mobile_phone_circle" transform="translate(421.000000, 512.000000)"> <circle id="oval" fill="#F2F2F2" cx="22" cy="22" r="22"></circle> <g id="visitpay_icons_mobile_phone" transform="translate(12.000000, 6.000000)" fill="#555555" fill-rule="nonzero"> <path d="M18.3684211,0 L1.63157895,0 C0.842105263,0 0.263157895,0.619354839 0.263157895,1.34193548 L0.263157895,30.6064516 C0.263157895,31.3806452 0.894736842,31.9483871 1.63157895,31.9483871 L18.3157895,31.9483871 C19.1052632,31.9483871 19.6842105,31.3290323 19.6842105,30.6064516 L19.6842105,1.34193548 C19.7368421,0.619354839 19.1052632,0 18.3684211,0 Z M18.6842105,30.6580645 C18.6842105,30.8129032 18.5263158,30.9677419 18.3684211,30.9677419 L1.63157895,30.9677419 C1.47368421,30.9677419 1.31578947,30.8129032 1.31578947,30.6580645 L1.31578947,1.34193548 C1.31578947,1.18709677 1.47368421,1.03225806 1.63157895,1.03225806 L18.3157895,1.03225806 C18.4736842,1.03225806 18.6315789,1.18709677 18.6315789,1.34193548 L18.6315789,30.6580645 L18.6842105,30.6580645 Z" id="Shape"></path> <path d="M2.57894737,23.7419355 L17.4736842,23.7419355 L17.4736842,2.58064516 L2.57894737,2.58064516 L2.57894737,23.7419355 Z M3.63157895,3.61290323 L16.4210526,3.61290323 L16.4210526,22.7096774 L3.63157895,22.7096774 L3.63157895,3.61290323 Z" id="Shape"></path> <path d="M10,24.9290323 C8.63157895,24.9290323 7.52631579,26.0129032 7.52631579,27.3548387 C7.52631579,28.6967742 8.63157895,29.7806452 10,29.7806452 C11.3684211,29.7806452 12.4736842,28.6967742 12.4736842,27.3548387 C12.4736842,26.0129032 11.3684211,24.9290323 10,24.9290323 Z M10,28.7483871 C9.21052632,28.7483871 8.57894737,28.1290323 8.57894737,27.3548387 C8.57894737,26.5806452 9.21052632,25.9612903 10,25.9612903 C10.7894737,25.9612903 11.4210526,26.5806452 11.4210526,27.3548387 C11.4210526,28.1290323 10.7894737,28.7483871 10,28.7483871 Z" id="Shape"></path> </g> </g> </g> </g></svg>'),$height,$width);
}

@mixin vpicon-flag($height: 1em, $width: 1em) {
    @include vpicon(url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="11px" height="13px" viewBox="0 0 11 13" version="1.1"><g fill-rule="evenodd" fill="none" stroke-width="1" stroke="none" id="visitpay_icons_flag_filled"><g id="rev-april-6,-2018---no-plug-no-prev" transform="translate(-390.000000, -414.000000)" fill="#FF0101" fill-rule="nonzero"><g id="visitpay_icons_flag_filled-copy" transform="translate(390.000000, 414.000000)"><path d="M9.34,0.383606557 C8.16,1.87540984 6.88,1.59836066 5.54,1.27868852 C4.2,0.959016393 2.8,0.660655738 1.5,2.10983607 C1.44,2.17377049 2.92,7.35245902 2.92,7.35245902 C4.1,5.86065574 5.38,6.13770492 6.72,6.45737705 C7.58,6.64918033 8.46,6.86229508 9.32,6.5852459 C9.86,6.4147541 10.4,6.07377049 10.92,5.41311475 L11,5.32786885 L9.6,0.0639344262 L9.34,0.383606557 Z" id="Shape"/> <path d="M1.4,1.19344262 C1.3,0.831147541 0.96,0.639344262 0.62,0.745901639 C0.28,0.852459016 0.1,1.2147541 0.2,1.57704918 C0.28,1.85409836 0.5,2.04590164 0.76,2.06721311 L3.68,12.8721311 L4.08,12.7442623 L1.16,1.91803279 C1.38,1.76885246 1.48,1.4704918 1.4,1.19344262 Z" id="Shape"/></g></g></g></svg>'),$height,$width);
}

$statement-border-color:        yellow !default;
$statement-header1-bg:          yellow !default;
$statement-header1-color:       yellow !default;
$statement-header2-bg:          yellow !default;
$statement-header2-color:       yellow !default;

$statement-alert-color:         yellow !default;
$statement-past-due-color:      yellow !default;
$statement-logo-max-height: 0 !default;

$balance-summary-font-size: 18px;
$balance-summary-line-height: 1.5em;
$balance-summary-icon-size: 65px;

#print-visitbalancesummary {
    font-family: SourceSansPro, Helvetica, Arial, sans-serif;
    line-height: $balance-summary-line-height;
    font-size: $balance-summary-font-size;
    color: $text-color;

    .bordered {
        border: 4px solid $vp-gray-lighter
    }

    .past-due-indicator {
        @include vpicon-flag($balance-summary-line-height);
        top: $balance-summary-line-height * 0.33;
        left: 0;
        position: relative;
    }

    .vpicon-pc {
        @include vpicon-pc($balance-summary-icon-size, $balance-summary-icon-size);
    }

    .vpicon-mobile {
        @include vpicon-mobile($balance-summary-icon-size, $balance-summary-icon-size);
    }



    .header {
        height: $statement-logo-max-height + 10px;
        margin-bottom: 10px;

        > div {
            &.logo {
                left: 0;
                position: absolute;
                top: $balance-summary-line-height / 4;

                img {
                    max-height: $statement-logo-max-height;
                }
            }

            &:not(.logo) {
                float: right;
                text-align: right;
            }
        }
        /*
        > .logo {
            max-width: 40%;

            > img {
                vertical-align: bottom;
                height: 75px;
            }
        }
        */
    }

    #summary-header {
        min-height: 110px;

        #user-details {
        }

        padding-bottom: 0;
        margin-bottom: 0;

        .border-box-med {
            float: right;
            margin-left: 10px;
        }

        #balance-summary {
            border: 3px solid $vp-gray-dark;
            float: right;
            padding: 12px;
            width: 33%;
            font-family: "Trebuchet MS", Helvetica, sans-serif;
            text-align: center;

            > span {

                &:nth-of-type(1) {
                    font-size: $balance-summary-font-size - 4;
                }

                &:nth-of-type(2) {
                    font-size: $balance-summary-font-size + 10;
                    line-height: $balance-summary-line-height;
                }
            }
        }
    }

    $balance-summary-footer-padding: 12px;

    .box-heading {
        font-size: $balance-summary-font-size;
        background-color: $vp-gray-lighter;
        margin-top: 0;
        margin-left: -$balance-summary-footer-padding;
        padding: 8px 0 8px 12px;
        line-height: $balance-summary-line-height;
    }

    #notifications {
        min-height: 200px;

        > div {
            display: inline-block;
            min-height: inherit;
            height: inherit;
            vertical-align: middle;
            width: 49%;
            padding-left: $balance-summary-footer-padding;

            &:last-of-type {
                float: right;
            }
        }

        #manage-bills {
            text-align: center;

            > div {
                margin: 20px 0 0 -$balance-summary-footer-padding;
                width: 100%;

                > p {
                    margin-left: -$balance-summary-footer-padding;
                    text-align: center;
                    margin-bottom: 30px;
                }
            }
        }

        #pay-icons {
            text-align: center;
            margin-left: -$balance-summary-footer-padding;

            > div {
                height: 100%;
                display: inline-block;

                &:first-of-type {
                    margin-right: $balance-summary-icon-size / 2 - 5px;
                }

                > span {
                    text-align: center;
                    vertical-align: middle;
                }
            }
        }

        #credit-balance {
            padding-bottom: 20px;

            > p {
                padding: 0;
                margin: 0;
            }
        }
    }

    #contact {
        padding-left: $balance-summary-footer-padding;

        .facility {
            margin-right: $balance-summary-footer-padding;
            padding-bottom: $balance-summary-footer-padding/2;
        }

        .facility + .facility {
            border-top: 2px solid $vp-gray-lighter;
            padding-top: $balance-summary-footer-padding/2;
        }
    }

    #pastdue-notification {
        width: 100%;

        > div {
            text-align: right;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .row {
        > .col {
            vertical-align: top;
            padding-left: 8px;
            display: inline-block;
        }
    }
    //NOTE: visit-detail is shared between Balance Summary and first FP statement
    #visit-detail {
        .row {
            padding-top: 15px;

            &.headers {
                font-size: $balance-summary-font-size - 8;
                background-color: $vp-gray-lighter;
                text-align: center;
                position: relative;
                padding: 0 0px 0px 0;
                margin: 0;

                > .col {
                    padding-left: 0;
                    border-bottom: none;
                    border-right: 2px solid white;
                    min-height: 20px;

                    &:last-of-type {
                        border: none;
                    }
                }
            }

            &:not(.headers) {
                border-bottom: dotted 1px $vp-gray-light;

                > .col {
                    min-height: 40px;
                    margin-top: 20px;
                    margin-bottom: 20px;

                    &:nth-of-type(1) {
                        bottom: $balance-summary-line-height;
                        position: relative;
                    }

                    &:nth-of-type(2) {
                        margin-top: -5px;
                    }

                    &:nth-of-type(3) {
                        margin-top: 9px;
                        position: relative;
                        bottom: $balance-summary-line-height/2;
                        text-align: center;
                    }

                    &:nth-of-type(4) {
                        font-size: $balance-summary-font-size + 4;
                        bottom: $balance-summary-line-height/2;
                        position: relative;
                        font-family: "Trebuchet MS", Helvetica, sans-serif;
                        text-align: right;
                    }
                }
            }

            > .col {

                &:nth-of-type(1) {
                    width: 15%;
                }

                &:nth-of-type(2) {
                    width: 50%;
                }

                &:nth-of-type(3) {
                    width: 18%;
                }

                &:nth-of-type(4) {
                    width: 14%;
                }
            }
        }

        #no-active-visits {
            width: 100%;
            text-align: center;
            margin: 24px 0 24px 0
        }
    }

    #summary {
        width: 100%;

        .row {
            padding-left: 435px;
            margin-bottom: 6px;

            &:nth-of-type(1) {
                background-color: $vp-gray-lighter;
            }

            .lighter {
                color: $vp-gray-dark;
                font-style: italic;
            }

            &:last-of-type {
                > .col {
                    font-size: $balance-summary-font-size + 2;

                    &:last-of-type {
                        font-size: $balance-summary-font-size + 6;
                    }
                }
            }

            > .col {
                padding: 4px 6px 4px 0px;

                &:nth-of-type(1) {
                }

                &:nth-of-type(2) {
                    font-size: $balance-summary-font-size + 4;
                    float: right;
                }
            }
        }

        hr {
            position: relative;
            width: 55%;
            left: 25%;
            border-top-width: 1px;
            border-color: $vp-gray-light;
        }
    }

    #support {
        #disclaimers {
            font-size: 12px !important;
            line-height: 1.25em;
        }
    }

    #footer {
        img {
            float: right;
        }

        bottom: -40px;
        right: 0;
        position: absolute;
    }
}

#print-statement {
    font-size: 12px;

    h2 {
        background: $statement-header1-bg;
        clear: both;
        color: $statement-header1-color;
        font-size: 13px;
        line-height: 20px;
        margin: 0;
        padding: 6px;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;

        &.data {
            table-layout: fixed;
            width: 100%;

            tr {
                > td {
                    border: 1px solid $statement-border-color;
                }
            }

            > thead {
                > tr {
                    background: $statement-header2-bg;

                    > td {
                        color: $statement-header2-color;
                        font-size: 7.5pt;
                        font-weight: bold;
                        line-height: normal;
                        padding: 0 4px 0 4px !important;
                        text-align: center;

                        &:first-of-type {
                            border-left: 0;
                        }

                        &:last-of-type {
                            border-right: 0;
                        }
                    }
                }
            }

            > tbody {
                > tr {
                    &:nth-of-type(even) {
                        background: $statement-border-color;
                    }

                    > td {
                        @include text-overflow();
                        height: 26px;
                        padding: 0 4px 0 4px !important;
                    }
                }
            }

            > tfoot {
                > tr {
                    > td {
                        height: 20px;
                        padding: 0 4px 0 4px !important;
                    }
                }
            }
        }
    }

    > div.section-border {
        border: 1px solid $statement-border-color;
        margin: 10px 0;
        padding: 10px;
        page-break-inside: avoid;
    }

    .r1,
    .r2 {
        font-weight: bold;
        line-height: 20px;
        margin: 10px 0 10px 0;
        text-align: right;
        width: 100%;
    }

    .r3 {
        line-height: 17px;
        margin: 15px 0 0 0;
        width: 100%;

        > table {
            &:nth-of-type(1) {
                float: right;
                margin-right: 1px;
            }

            > tbody {
                > tr {
                    > th {
                        background: $statement-border-color;
                        border: 1px solid $statement-border-color;
                        padding: 0 20px 0 10px !important;
                    }

                    > td {
                        border: 1px solid $statement-border-color;
                        padding: 9px 10px 9px 10px !important;
                    }
                }
            }
        }
    }

    .r4 {
        margin: 15px 0 0 0;
        padding: 0 15px;

        > div {
            float: right;
            line-height: 19px;
            width: 55%;
        }

        > table {
            width: 40%;

            > colgroup {
                > col {
                    &:nth-of-type(1) {
                        width: 67%;
                    }

                    &:nth-of-type(2) {
                        width: 33%;
                    }
                }
            }

            > tbody {
                > tr {
                    > td {
                        padding: 3px !important;

                        &.less {
                            padding-left: 10px !important;
                        }

                        &:nth-of-type(2) {
                            text-align: right;
                        }

                        > span {
                            display: block;
                            float: left;
                            width: 15px;
                        }
                    }

                    &:nth-of-type(8),
                    &:nth-of-type(10) {
                        > td {
                            border-bottom: 1px solid $statement-border-color;
                        }
                    }
                }
            }
        }

        .statement-alerts {
            text-decoration: underline;
            padding-bottom: 8px;
            color: $statement-alert-color !important;
        }

        div.statement-alert {
            padding-bottom: 5px;
        }
    }

    .r5 {
        > table {
            > colgroup {
                > col {
                    &:nth-of-type(1) {
                        width: 9%;
                    }

                    &:nth-of-type(2) {
                        width: 7.5%;
                    }

                    &:nth-of-type(3) {
                        width: 11%;
                    }

                    &:nth-of-type(4) {
                        width: 7.5%;
                    }

                    &:nth-of-type(5) {
                        width: 6%;
                    }

                    &:nth-of-type(6) {
                        width: 9%;
                    }

                    &:nth-of-type(7) {
                        width: 9%;
                    }

                    &:nth-of-type(8) {
                        width: 8%;
                    }

                    &:nth-of-type(9) {
                        width: 8%;
                    }

                    &:nth-of-type(10) {
                        width: 9%;
                    }

                    &:nth-of-type(11) {
                        width: 8%;
                    }

                    &:nth-of-type(12) {
                        width: 8%;
                    }
                }
            }

            > tbody {
                > tr {
                    > td {
                        text-align: right;

                        &:nth-of-type(1),
                        &:nth-of-type(3) {
                            text-align: left;
                        }
                    }

                    &.pastdue {
                        > td {
                            &:nth-of-type(3),
                            &:nth-of-type(10) {
                                color: $statement-alert-color;
                            }
                        }
                    }
                }
            }

            > tfoot {
                > tr {
                    > td {
                        text-align: right;
                    }

                    &:nth-of-type(3),
                    &:nth-of-type(4) {
                        > td {
                            &:nth-of-type(1) {
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
    }

    .r6 {
        > table {
            > colgroup {
                > col {
                    &:nth-of-type(1) {
                        width: 12%;
                    }

                    &:nth-of-type(2) {
                        width: 10%;
                    }

                    &:nth-of-type(3) {
                        width: 20%;
                    }

                    &:nth-of-type(4) {
                        width: 20%;
                    }

                    &:nth-of-type(5) {
                        width: 18%;
                    }

                    &:nth-of-type(6) {
                        width: 10%;
                    }
                }
            }

            > thead {
                > tr {
                    > td {
                        height: 20px;
                    }
                }
            }

            > tbody {
                > tr {
                    > td {
                        &:nth-of-type(2) {
                            text-align: center;
                        }

                        &:last-of-type {
                            text-align: right;

                            span {
                                float: left;
                            }
                        }
                    }

                    &.pastdue {
                        > td {
                            &:nth-of-type(5),
                            &:nth-of-type(6) {
                                color: $statement-past-due-color;
                            }
                        }
                    }
                }
            }

            > tfoot {
                > tr {
                    > td {
                        font-weight: bold;

                        &:nth-of-type(2) {
                            border-right: 0;
                            text-align: right;
                        }

                        &:last-of-type {
                            border-left: 0;
                            text-align: right;

                            span {
                                float: left;
                            }
                        }
                    }
                }
            }
        }
    }

    .r7 {
        table {
            width: 100%;

            > colgroup {
                > col {
                    &:nth-of-type(1) {
                        width: 25%;
                    }

                    &:nth-of-type(2) {
                        width: 15%;
                    }

                    &:nth-of-type(3) {
                        width: 45%;
                    }

                    &:nth-of-type(4) {
                        width: 15%;
                    }
                }
            }

            > tbody {
                > tr {
                    > td {
                        border: 1px solid $statement-border-color;
                        height: 26px;
                        padding: 0 4px 0 4px !important;
                        text-align: right;

                        &:nth-of-type(2),
                        &:nth-of-type(4) {
                            font-weight: bold;
                        }
                    }

                    &:nth-of-type(3) {
                        > td {
                            text-align: left;
                        }
                    }
                }
            }
        }
    }

    .r8 {
        @include clearfix();

        > div {
            border-color: $statement-border-color;
            border-style: solid;
            height: 26px;
            line-height: 26px;
            padding: 0 4px 0 4px;

            &:nth-of-type(1) {
                border-width: 1px 0 1px 1px;
                float: left;
                width: 25%;
            }

            &:nth-of-type(2) {
                border-width: 1px 1px 1px 0;
                float: left;
                padding-left: 4px;
                width: 75%;
            }
        }
    }

    div.logo {
        left: 0;
        position: absolute;
        top: 0;

        img {
            max-height: $statement-logo-max-height;
        }
    }

    div.footer {
        float: right;
        position: relative;
    }

    .consolidation-alert {
        border: 1px solid $statement-border-color;
        padding: 0 10px 5px 10px;
        margin: 10px 0;
        page-break-inside: avoid;

        .title {
            color: $statement-header1-bg !important;
            font-size: 12pt;
        }
    }

    .disclaimers {
        font-size: 8pt !important;
    }
}

.border-box-med {
    border: 4px solid $statement-border-color;
}

.bordered-lt {
    border: 1px solid black;
    padding: 1px;
}

.header-gray {
    font-size: $balance-summary-font-size;
    background-color: $vp-gray-lighter;
    line-height: $balance-summary-line-height + .5;

    div:first-of-type {
        padding-left: 2%;
    }
}
.text-smaller {
    font-size: 0.9em;
}
.text-bold {
    font-weight: 800;
}

.text-med-size {
    font-size: 0.75em;
}

$width: 100%;
$gutter: 0%;

.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    vertical-align: middle;
    text-align: center;
}
.grid-row {
    position: relative;
    width: 100%;
}

.vpicon-recurring-money {
    @include vpicon-recurring-money();
    top: -5px;
    position: relative;
    line-height: 25px;
    vertical-align: middle;
    width:5px;
}
.enrolled-recurring {
    line-height: 25px;
    vertical-align: middle;
    margin-left:-20px;
}
.padding-bottom-1 {
    padding-bottom: 1%;
}
.padding-bottom-2 {
    padding-bottom: 2%;
}
.recurring-payment-agg {
    width: 40px;
    height: 40px;
    float: left;
    .vpicon-money {
        top: 11px;
        left: 11px;
        position: absolute;
    }
    .vpicon-arrow-reload {
        position: absolute;
    }
}

.grid-row [class^="grid-col"] {
    float: left;
    margin: $gutter/2;
    min-height: 0.125rem;
}

.grid-row::after {
    content: "";
    display: block;
    clear: both;
}

.no-break {
    page-break-inside: avoid;
}

.first-statement-notice {
    padding:20px 20px 0px 20px;
}

@mixin col($columns) {
    @for $i from 1 through $columns {
        .grid-col-#{$i} {
            width: ($width / ($columns / $i)) - ($gutter * ($columns - $i) / $columns);
        }
    }
}
@include col(24);

.grid-contact-us {
    box-sizing: border-box;
    font-family: SourceSansPro, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    width: 100%;

    .vpgrid-header {
    }

    .grid-row-labels {
        box-sizing: border-box;
        font-size: 11px;
        font-weight: 600;
        margin-bottom: 0px;
        text-indent: 0px;
        text-transform: uppercase;
        white-space: nowrap;
    }

    .grid-row {
        box-sizing: border-box;
        font-size: 12px;
        white-space: nowrap;
    }

    .col1 {
        width: 200px;
        padding-left: 7px;
        padding-right: 0px;
    }

    .col2 {
        text-align: center;
        width: 450px;
    }

    .col3 {
        text-align: right;
        width: 200px;
        padding-left: 0px;
        padding-right: 7px;
    }

    .border-top {
        border-top: 1px solid rgb(204, 204, 204);
    }
}

.service-group-disclaimers {
    font-size: 12px;
    padding-top: 7px;
    padding-left: 5px;
}

.text-alert {
    color: $statement-alert-color;
}

.text-bold {
    font-weight: 800;
}

.text-center {
    vertical-align: middle;
    text-align: center;
}



