﻿@import '../_variables.scss';
@import '../../Bootstrap/css/bootstrap/_mixins.scss';
@import '../../Bootstrap/css/bootstrap/_variables.scss';

#section-clientadminsupportrequests {
    .jqGridFilter {
        > .row {
            > div {
                &:nth-of-type(1) {
                    width: 132px;
                }

                &:nth-of-type(2) {
                    width: 143px;
                }

                &:nth-of-type(3) {
                    width: 140px;
                }

                &:nth-of-type(4) {
                    width: 143px;
                }

                &:nth-of-type(5) {
                    width: 143px;
                }

                &:nth-of-type(6) {
                    width: 143px;
                }

                &:nth-of-type(7) {
                    margin-top:-1px;
                    width: 96px;
                }
                 &:nth-of-type(8) {
                    margin-top:-1px;
                    width: 63px;
                }
               
            }
        }
    }
}

#section-clientusersupportrequests {

    .contact {
        p {
            margin-top: 20px;
        }

        hr {
            margin-bottom: 5px;
            margin-top: 10px;
        }
    }

    .jqGridFilter {
        position: relative;

        > .alert {
            right: 79px;
            top: 13px;
        }

        > .row {
            > div {
                &:nth-of-type(1) {
                    width: 146px;
                }

                &:nth-of-type(2) {
                    width: 143px;
                }

                &:nth-of-type(3) {
                    width: 650px;
                }

                &:nth-of-type(4) {
                    width: 63px;
                }
            }
        }
    }
}

#section-manageclientsupportrequests {
    .jqGridFilter {
        position: relative;

        > .alert {
            right: 79px;
            top: 13px;
        }

        > .row {
            > div {
                &:nth-of-type(1) {
                    width: 146px;
                }

                &:nth-of-type(2) {
                    width: 143px;
                }

                &:nth-of-type(3) {
                    width: 143px;
                }

                &:nth-of-type(4) {
                    width: 507px;
                }

                &:nth-of-type(5) {
                    width: 63px;
                }
            }
        }
    }
}

#section-clientadminsupportrequests, #section-clientusersupportrequests, #section-manageclientsupportrequests {
    .jqgrow .glyphicon-envelope {
        color: $vp-button-disabled-bg;
        font-size: 15px;

        &.unread {
            color: $client-accent;
        }
    }

    .jqgrow .glyphicon-paperclip {
        font-size: 11px;
        margin-right: 7px;
        margin-top: 2px;
    }
}

#modalClientSupportRequestCreate {

    .modal-body {
        font-size: 12px;

        p {
            margin: 15px 0 15px 0;
        }

        textarea {
            height: 124px;
        }

        #frmClientSupportAttachments {
            .error {
                display: block;
                padding-top: 5px;
            }
        }
    }
}

#modalClientSupportRequest {
    .modal-title {
        span {
            padding-left: 40px;
        }
    }

    .modal-body {
        padding-bottom: 7px;

        table.details {
            border: 1px solid $vp-gray-light;
            border-collapse: collapse;
            width: 100%;

            > colgroup {
                > col:nth-of-type(1) {
                    width: 15%;
                }

                > col:nth-of-type(2) {
                    width: 35%;
                }

                > col:nth-of-type(3) {
                    width: 15%;
                }

                > col:nth-of-type(4) {
                    width: 35%;
                }
            }

            td {
                border: 1px solid $vp-gray-light;
                padding: 2px 4px 2px 4px;
            }
        }

        div.controls {
            margin-top: 7px;

            > div {
                > a {
                    color: $text-color;
                    float: left;
                    margin-top: 4px;
                    text-decoration: none;

                    > em {
                        color: $link-color;
                    }

                    &:hover {
                        > em {
                            color: $link-hover-color;
                        }
                    }
                }
            }

            #ddAction {
                float: right;
                width: 165px;
            }

            &.admin {
                margin-bottom: 25px;
                margin-top: 15px;

                > div {
                    > form {

                        > div {
                            &:not(:first-of-type) {
                                padding-left: 0;
                            }

                            &:not(:last-of-type) {
                                text-align: center;
                            }

                            label {
                                display: block;
                                font-size: 12px;
                                margin-bottom: 0;
                                text-align: left;
                                width: 100%;
                            }

                            a, .text-danger {
                                font-size: 12px;
                            }
                            
                        }
                    }
                }

                form button, #ddAction {
                    margin-top: 17px;
                }
            }
        }

        div.gutter-small {
            > div.col-xs-6 {
                padding-right: 4px;
            }

            > div + div {
                padding-left: 4px;
                padding-right: $grid-gutter-width/2 !important;
            }
        }

        div.messages-container {

            div.messages {
                border: 1px solid $vp-gray-light;
                clear: both;
                font-size: 12px;
                height: 318px;
                margin: 7px 0 7px 0;
                max-height: 318px;
                overflow-y: scroll;

                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;

                    > li {
                        display: block;
                        margin: 0;
                        padding: 4px 6px 6px 6px;

                        .title {
                            color: $brand-primary;
                            font-weight: bold;

                            a {
                                display: block;
                                margin-left: 8px;
                                margin-top: 3px;
                                width: 12px;
                            }

                            &.sender-admin {
                                color: $vp-state-green;
                            }
                        }

                        .body {
                            height: 36px;
                            line-height: 18px;
                            overflow: hidden;
                            position: relative;

                            p {
                                margin: 0;
                                padding: 0;
                                text-align: justify;
                                -ms-word-break: break-word;
                                word-break: break-word;
                                -ms-word-wrap: break-word;
                                word-wrap: break-word;
                            }

                            .less {
                                display: none;
                            }

                            .more {
                                @include gradient-horizontal(rgba(255,255,255,0), #ffffff, 0, 30%);
                                display: none;
                                padding-left: 20px;
                                position: absolute;
                                top: 18px;
                                right: 0;
                            }

                            .more > a {
                                margin-left: 6px;
                            }
                        }

                        &:nth-of-type(even) {
                            background: $vp-gray-lightest;

                            .body {
                                .more {
                                    @include gradient-horizontal(rgba(255,255,255,0), $vp-gray-lightest, 0, 30%);
                                }
                            }
                        }
                    }
                }

                &.admin {
                    .sender-admin {
                        color: $brand-primary !important;
                    }

                    .sender-client {
                        color: $vp-state-green !important;
                    }
                }
            }
        }

        div.send {
            display: table;
            width: 100%;

            > div {
                display: table-row;

                > div {
                    display: table-cell;
                    vertical-align: top;

                    &:nth-of-type(1) {
                        width: 100%;
                    }
                }

                #frmMessage textarea {
                    height: 129px;
                }

                #frmClientSupportAttachments {
                    border: 1px solid $vp-gray-light;
                    display: none;
                    font-size: 12px;
                    height: 140px;
                    margin-left: 7px;
                    max-height: 129px;
                    overflow-x: hidden;
                    overflow-y: scroll;
                    padding: 4px 4px 0 4px;
                    width: 293px;

                    .fileupload-buttonbar {
                        display: none;
                    }
                }
            }

            &.internal {
                > div {
                    #frmMessage textarea, #frmClientSupportAttachments {
                        height: 139px !important;
                        max-height: 139px !important;
                    }
                }
            }
        }
    }

    .modal-footer {
        position: relative;

        > p {
            font-size: 12px;
        }

        > div {
            position: relative;

            a.status {
                left: 0;
                line-height: 25px;
                position: absolute;
                top: 0;
            }

            button[name=btnMessageSave], button#btnMessageAttach {
                float: left;
            }

            .btn-default[data-action="showattachments"] {
                margin-top: -12.5px;
                right: $grid-gutter-width/2;
                position: absolute;
                top: 50%;
            }
        }
    }
}

#modalClientSupportRequestReply {

    $height: 495px;

    .modal-body {

        > .row {
            > div {
                padding-right: 4px;

                .topics {
                    border: 1px solid $vp-gray-light;
                    font-size: 12px;
                    height: $height;
                    max-height: $height;
                    overflow-x: hidden;
                    overflow-y: scroll;

                    ul {
                        > li {
                            > i {
                                width: 14px;
                            }

                            > ul {
                                li {
                                    margin-left: 16px;
                                }

                                > li {
                                    > a {
                                        > span {
                                            @include text-overflow();
                                            display: inline-block;
                                            width: 192px;
                                        }
                                    }
                                }
                            }
                        }

                        a {
                            > .glyphicon-file {
                                color: $link-color;
                            }

                            &:hover {
                                > .glyphicon-file {
                                    color: $link-hover-color;
                                }
                            }
                        }
                    }
                }

                #frmClientSupportAttachments {
                    border: 1px solid $vp-gray-light;
                    display: none;
                    font-size: 12px;
                    height: 119px;
                    margin-top: 8px;
                    overflow-x: hidden;
                    overflow-y: scroll;
                    padding: 4px 4px 0 4px;

                    .fileupload-buttonbar {
                        display: none;
                    }
                }
            }

            > #frmReply {
                padding-left: 4px;

                #txtReply {
                    border: 1px solid $vp-gray-light;
                    height: $height;
                    max-height: $height;
                    overflow-y: scroll;
                    width: 100%;
                }
            }
        }

        #frmClientSupportAttachments {
            .error {
                left: 50%;
                margin-left: 60px;
                position: absolute;
                top: 2px;
            }
        }
    }

    .modal-footer {
        > p {
            font-size: 12px;
        }

        #btnReply, #btnReplyAttach {
            float: left;
        }
    }
}

#modalClientSupportRequestAttachments {

    .modal-body {
        table {
            font-size: 12px;
            width: 100%;

            button.srma-delete {
                color: $state-danger-text;
                font-size: 18px;
                font-weight: bold;
                margin-left: 8px;

                &:hover {
                    color: $state-danger-text-darker;
                }
            }

            > colgroup {
                > col {
                    &:nth-of-type(1) {
                        width: 30px;
                    }

                    &:nth-of-type(2) {
                        width: 100%;
                        max-width: 250px;
                    }

                    &:nth-of-type(3) {
                        width: 150px;
                    }

                    &:nth-of-type(4) {
                        width: 150px;
                    }
                }
            }

            > tbody {
                > tr {
                    > td {
                        &:nth-of-type(1) {
                            white-space: nowrap;
                            min-width: 30px;
                        }

                        &:nth-of-type(2) {
                            > span {
                                @include text-overflow();
                                display: block;
                                max-width: 250px;
                            }
                        }

                        &:nth-of-type(3) {
                            white-space: nowrap;
                            padding-right: 10px;
                        }

                        &:nth-of-type(4) {
                            white-space: nowrap;
                        }
                    }
                }
            }
        }
    }
}

#frmClientSupportAttachments .error, #modalClientSupportRequest .error-upload, #modalClientSupportRequestReply .error-upload {
    color: $state-danger-text;
    font-size: 12px;

    &.error-upload {
        float: left;
        margin-left: 7px;
        margin-top: 3px;
        position: relative;

        .multiline {
            position: absolute;
            left: 0;
            top: -9px;
            white-space: nowrap;
        }
    }
}

#frmClientSupportAttachments {

    .fileupload-buttonbar {
        margin: 5px 0 5px 0;

        > div {
            position: relative;
        }

        button[type=submit] {
            display: none;
        }
    }

    table {
        table-layout: fixed;
        width: 100%;

        > colgroup {
            > col {
                &:nth-of-type(1) {
                    width: 32px;
                }

                &:nth-of-type(3) {
                    width: 56px;
                }

                &:nth-of-type(4) {
                    width: 24px;
                }
            }
        }

        > tbody {
            > tr {
                > td {
                    .btn-icon {
                        color: $state-danger-text;
                        font-size: 25px;
                        font-weight: bold;
                        margin-top: -6px;

                        &:hover {
                            color: $state-danger-text-darker;
                        }
                    }

                    &:nth-of-type(2) {
                        span {
                            @include text-overflow();
                            display: block;
                        }
                    }
                }
            }
        }
    }
}
