﻿<script type="text/javascript">
    var _paq = _paq || [];
    if (VisitPay != undefined && VisitPay.State != undefined && VisitPay.State.IsUserLoggedIn === true) {
        _paq.push(['setCustomVariable', 1, 'VisitPayUserId', VisitPay.State.VpUserId, "visit"]);
    }
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
        var u = "@base.AnalyticsDto.BaseUrl/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '@base.AnalyticsDto.AnalyticsId']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
</script>
<noscript><p><img src="@base.AnalyticsDto.BaseUrl/piwik.php?idsite=@base.AnalyticsDto.AnalyticsId" style="border:0;" alt="" /></p></noscript>