﻿@using Ivh.Common.Web.Extensions
@using Microsoft.AspNet.Identity
@model Ivh.Web.Client.Models.ClientCurrentUserViewModel

@if (Model.MessagesIsVisible)
{
    <div class="messages">
        <ul>
            @{
                string className = Model.UnreadTotal > 0 ? "has-messages" : string.Empty;
            }
            <li class="@className">
                <div>
                    <span>@Model.UnreadTotal</span>
                    <em class="vpicon-email"></em>
                </div>
                <ul class="dropdown-menu">
                    @if (Model.UnreadMessagesFromClient.HasValue)
                    {
                        <li><a href="@Url.Action("ClientAdminSupportRequests", "ClientSupport", new { u = User.CurrentUserId()})" title="(@Model.UnreadMessagesFromClient) @ClientDto.AppSupportRequestNamePrefix Support Tickets - Admin">(@Model.UnreadMessagesFromClient) @ClientDto.AppSupportRequestNamePrefix Support Tickets - Admin</a></li>
                    }
                    @if (Model.UnreadMessagesToClientAll.HasValue)
                    {
                        <li><a href="@Url.Action("ClientSupportRequests", "WorkQueue")" title="(@Model.UnreadMessagesToClientAll) @ClientDto.AppSupportRequestNamePrefix Support Tickets">(@Model.UnreadMessagesToClientAll) @ClientDto.AppSupportRequestNamePrefix Support Tickets</a></li>
                    }
                    @if (Model.UnreadMessagesToClient.HasValue)
                    {
                        <li><a href="@Url.Action("ClientUserSupportRequests", "ClientSupport")" title="(@Model.UnreadMessagesToClient) Your Support Requests">(@Model.UnreadMessagesToClient) My @ClientDto.AppSupportRequestNamePrefix Support Tickets</a></li>
                    }
                    @if (Model.UnreadMessagesGuarantor.HasValue)
                    {
                        <li><a href="@Url.Action("SupportRequests", "WorkQueue")" title="(@Model.UnreadMessagesGuarantor) Guarantor Support Requests">(@Model.UnreadMessagesGuarantor) Guarantor Support Requests</a></li>
                    }
                </ul>
            </li>
        </ul>

    </div>
}