﻿@using Ivh.Common.VisitPay.Enums
@model Ivh.Common.Web.Models.Consolidate.GuarantorFilterViewModel

@if (IsFeatureEnabled(VisitPayFeatureEnum.Consolidation) && Model.Items.Any())
{
    <div class="guarantor-filter">
        <span class="na"><span>Not Applicable for Current Tab</span></span>
        <h3>
            <em class="glyphicon glyphicon-filter pull-left"></em>
            @Model.Title
            <span class="arrow"></span>
        </h3>
        @Html.DropDownList("GuarantorFilterItems", Model.Items, new { autocomplete = "off" })
    </div>
}