﻿@model Ivh.Common.Web.Models.Shared.GuarantorContextViewModel

<section id="section-guarantoraccount">
    @Html.HiddenFor(m => m.VpGuarantorId)
    <div class="account-details container-fluid">
        <div class="row">
            <div class="col-xs-4 pull-left">
                <strong>Guarantor: @Model.UserFullNameDisplay</strong>
            </div>
            <div class="col-xs-2">
                <strong>ID: @Model.VpGuarantorId</strong>
            </div>
            <div class="col-xs-6 pull-right">
                <a class="pull-right" href="@Url.Action("GuarantorAccount", "Search", new {id = Model.VpGuarantorId})" title="Back to Guarantor Account">Back to Guarantor Details</a>
            </div>
        </div>
    </div>
</section>