﻿<div class="modal fade" id="TimeoutWarning" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">You're about to be logged out!</h4>
            </div>
            <div class="modal-body text-center">
                <p>Your session will expire in <span id="timeRemaining"></span> seconds.</p>
                <p>Do you want to continue?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Continue</button>
            </div>
        </div>
    </div>
</div>