﻿@using Ivh.Common.Web.Cookies
@using Microsoft.AspNet.Identity

<script type="text/javascript">
    window.VisitPay = window.VisitPay || {};
    VisitPay.State = (function () {
        var obj = VisitPay.State || {};
        obj.IsUserLoggedIn = '@User.Identity.IsAuthenticated' === 'True';
        obj.VpUserId = obj.IsUserLoggedIn ? '@User.Identity.GetUserId()' : '-1';
        obj.AntiForgeryName = '@CookieNames.Client.AntiForgeryString' ;
        return obj;
    })();
    VisitPay.Urls = (function () {
        var obj = VisitPay.Urls || {};
        obj.LogoffUrl = '@Url.Action("LogOff", "Account")';
        obj.UpdateSession = '@Url.Action("UpdateSession", "Account")';
        obj.ErrorLogging = '@Url.Action("LogError", "Error")';
        obj.WindowOnError = '@Url.Action("WindowOnError", "Error")';
        obj.ResolvePayments = '@Url.Action("ArrangePayment", "Payment", new {PaymentOption = PaymentOptionEnum.Resubmit})';
        obj.VpGuarantorHasStatement = '@Url.Action("VpGuarantorHasStatement", "Offline")';
        return obj;
    })();
    VisitPay.ClientSettings = (function () {
        var obj = VisitPay.ClientSettings || {};
        obj.ActionableBalanceTextShort = '@ClientDto.ActionableBalanceTextShort';
        obj.AppSupportRequestNamePrefix = '@ClientDto.AppSupportRequestNamePrefix';
        obj.ClientBrandName = '@ClientDto.ClientBrandName';
        obj.ClientShortName = '@ClientDto.ClientShortName';
        obj.CreditAgreementName = '@ClientDto.CreditAgreementName';
        obj.HsGuarantorPatientIdentifier = '@ClientDto.HsGuarantorPatientIdentifier';
        obj.GuarantorTempPasswordExpLimitInHours = '@ClientDto.GuarantorTempPasswordExpLimitInHours';
        obj.SessionTimeoutInMinutes = @ClientDto.ClientSessionTimeOutInMinutes;
        obj.SupportPhone = '@ClientDto.SupportPhone';
        obj.VpGuarantorPatientIdentifier = '@ClientDto.VpGuarantorPatientIdentifier';
        obj.GuarantorEnrollmentProviderDelaySeconds = '@ClientDto.GuarantorEnrollmentProviderDelaySeconds';
        return obj;
    })();
    VisitPay.TextConstants = (function () {
        var obj = VisitPay.TextConstants || {};
        return obj;
    })();
    VisitPay.ActiveSupportRequest = (function() {
        var obj = VisitPay.ActiveSupportRequest || {};
        
        obj.ShowActiveSupportRequest = function () {
            var activeDialogModel = VisitPay.Dialog.GetActiveDialogModel('#supportRequestDialog');
            if (activeDialogModel != null) {
                var data = activeDialogModel.Data;
                VisitPay.SupportRequest.Initialize(data.SupportRequestId, data.VisitPayUserId, data.VisitPayGuarantorId, data.AccountClosed);
            }
        };

        return obj;
    })();
</script>
<script type="text/javascript">
    window.VisitPay.ChatSettings = window.VisitPay.ChatSettings || {};
</script>
@if (IsFeatureEnabled(VisitPayFeatureEnum.FeatureChatIsEnabled))
{
    @Html.Partial("_ChatNamespaces")
}
