﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool chatEnabled = IsFeatureEnabled(VisitPayFeatureEnum.FeatureChatIsEnabled) &&  (User.IsInRole(VisitPayRoleStrings.Csr.ChatOperator) || User.IsInRole(VisitPayRoleStrings.Csr.ChatOperatorAdmin));
}

@section css {
    @Styles.Render("~/bundles/css/sidenav")
    @Styles.Render("~/bundles/css/jqgrid")
    @RenderSection("css", false)
}

@section nav {
    @Html.Partial("~/Views/Nav/_NavTop.cshtml")
}

@section sidenav {
    @Html.Action("NavClient", "Nav")
}

<div id="breadcrumbs">
    @RenderSection("breadcrumbs", false)
</div>

@RenderBody()

@section supportRequests {
    <!-- Support Requests - Dialog to be available on any authenticated page -->
    <div id="supportRequestDialog" hidden="hidden"></div>
    <div id="modalSupportRequestActionContainer"></div>
}

@if (chatEnabled)
{
    @section chat {
        @* Chat dialog to be available on any authenticated page for authorized users *@
        <div id="chatDialog" hidden="hidden"></div>
    }
}

@section scripts {
    <!-- Navigation -->
    @Scripts.Render("~/bundles/scripts/sidenav")

    <!-- Scripts used across all pages -->
    @Scripts.Render("~/bundles/scripts/jqueryui")
    @Scripts.Render("~/bundles/scripts/knockout", "~/bundles/scripts/jqgrid")
    @Scripts.Render("~/bundles/scripts/support/supportupload", "~/bundles/scripts/support/supportrequestaction", "~/bundles/scripts/support/supportrequest")

    <!-- Shared Dialog Handler -->
    @Scripts.Render("~/Scripts/Shared/common.dialog.js")

    @if (chatEnabled)
    {
        @Scripts.Render("~/bundles/scripts/chat")
    }
    <!-- Handle Support Requests and Chat -->
    <script type="text/javascript">
        $(document).ready(function () {
            @if (chatEnabled)
            {
                //Show active chat dialog
                <text>VisitPay.ChatDialog.ShowActiveDialog();</text>

                //Setup chat socket
                <text>VisitPay.ChatSocket.Initialize();</text>
            }

            //Show support dialogs, if active
            VisitPay.ActiveSupportRequest.ShowActiveSupportRequest();

            //Handle repositioning dialogs on window size change
            $(window).resize(function () {
                //Update dialog positioning
                VisitPay.Dialog.UpdateActiveDialogPositioning();
            });
        });
    </script>

    <!-- Render other page scripts here so we have KO and support scripts imported where needed -->
    @RenderSection("scripts", false)
}

@section modals {
    @RenderSection("modals", false)
}