﻿@{
    ThemeStylesheet = "/theme.scss";
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ClientDto.ClientBrandName</title>
    <style id="antiClickjack">
        body {
            display: none !important;
        }
    </style>
    <script type="text/javascript">
        if (self === top) {
            var antiClickjack = document.getElementById("antiClickjack");
            antiClickjack.parentNode.removeChild(antiClickjack);
        } else {
            top.location = self.location;
        }
    </script>
    <link href="@ThemeStylesheet?v=@ThemeStylesheetHash" rel="stylesheet" />
    @RenderSection("css", required: false)
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <div>
                @RenderSection("emulate", required: false)
            </div>
            <hr />
            <hr />
        </div>
        <div id="content" style="padding: 0;">
            @RenderBody()
        </div>
    </div>
    <div id="footer">
        <div>
            <div class="visitpay"></div>
            <div class="payment"></div>
            <div class="links nojshidden">
                @if (base.IsBrowserSupported)
                {
                    <ul>
                        <li>@Html.ActionLink("Legal Agreements", "Index", "Legal")</li>
                    </ul>
                }
                @RenderSection("footer", required: false)
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/scripts/jquery", "~/bundles/scripts/bootstrap")
    @Html.Partial("_JavascriptNamespaces")
    @Scripts.Render("~/bundles/scripts/VisitPayBase")
    @RenderSection("scripts", required: false)
    @Html.Partial("_IdleTimer")

    @RenderSection("modals", required: false)
    <div id="modalFooter" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    @* used for ajax in AddAntiForgeryToken() *@
    <form id="__AjaxAntiForgeryForm" action="#" method="post">@Html.AntiForgeryToken()</form>
</body>
</html>
