﻿@{
    ThemeStylesheet = "/theme.scss";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ClientDto.ClientBrandName</title>
    <style id="antiClickjack">
        body {
            display: none !important;
        }
    </style>
    <script type="text/javascript">
        if (self === top) {
            var antiClickjack = document.getElementById("antiClickjack");
            antiClickjack.parentNode.removeChild(antiClickjack);
        } else {
            top.location = self.location;
        }
    </script>
    <link rel="icon" href="/content/client/favicon.png" />
    @Styles.Render("~/bundles/css/base")
    <link href="@ThemeStylesheet?v=@ThemeStylesheetHash" rel="stylesheet" />
    @RenderSection("css", required: false)
</head>
<!-- NOTE: Need an ID on the body for jQuery dialog positioning -->
<body id="body">
    <div id="header">
        <div class="brand">
            <div class="logo">
                <a href="/Home" title=""></a>
            </div>
        </div>
        @RenderSection("nav", required: false)
        @RenderSection("user", required: false)
    </div>
    @RenderSection("sidenav", required: false)
    <div id="wrapper" class="@(User.Identity.IsAuthenticated ? "sidenav-open" : "")">
        <div id="content">
            @RenderBody()
        </div>
    </div>

    <!-- Support Requests -->
    @RenderSection("supportRequests", false)
    
    <!-- Chat -->
    @if (IsFeatureEnabled(VisitPayFeatureEnum.FeatureChatIsEnabled))
    {
        if (User.IsInRole(VisitPayRoleStrings.Csr.ChatOperator) || User.IsInRole(VisitPayRoleStrings.Csr.ChatOperatorAdmin))
        {
            @RenderSection("chat", false)
        }
    }

    @if (base.IsBrowserSupported)
    {
        @Scripts.Render("~/bundles/scripts/jquery", "~/bundles/scripts/bootstrap")
        @Html.Partial("_JavascriptNamespaces")
        @Scripts.Render("~/bundles/scripts/VisitPayBase")

        @RenderSection("scripts", required: false)
        @Html.Partial("_IdleTimer")

        @RenderSection("modals", required: false)
        <div id="modalFooter" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        @* used for ajax in AddAntiForgeryToken() *@
        <form id="__AjaxAntiForgeryForm" action="#" method="post">@Html.AntiForgeryToken()</form>
    }
    @if (base.IsBuildBannerVisible)
    {
        <div class="alert alert-warning" id="build-banner" style="position: fixed; left: 0; top: 0; z-index: 99999999; padding: 7px;">
            <span>Build Version: @base.BuildVersion.ToString()</span>
            @if (base.BuildDateTime.Day != DateTime.Today.Day)
            {
                <span>Build Date: @base.BuildDateTime.ToString(Format.DateTimeFormat) (@((DateTime.UtcNow - base.BuildDateTime).TotalHours.ToString("0")) hour(s) old)</span>
            }
            <span>&nbsp; [ <a href="javascript:;">hide</a> ]</span>
        </div>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#build-banner a').on('click', function () {
                    $.post('/Home/HideBuildBanner');
                    $('#build-banner').hide();
                });
            });
        </script>
    }
    @Html.Partial("_Analytics")
</body>

</html>

