﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-info">
    <p class="text-center"><strong>We're sorry, @base.BrowserNameString is not supported.</strong></p>
    <p class="text-center">Please upgrade or change to a supported browser:</p>
    <p>&nbsp;</p>
    <p class="text-center"><strong>Supported Browsers</strong></p>
    <ul style ="margin: 15px auto auto auto; position: relative; width: 207px; white-space: nowrap;">
        <li>Chrome</li>
        <li>Firefox</li>
        <li>Safari</li>
        <li>Internet Explorer 11 or greater</li>
    </ul>
</div>