﻿@model bool /* isdisabled */
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="section-accountlock">
    @if (Model)
    {
        <div class="alert alert-info text-center">
            <p>
                <strong>Your account has been disabled.</strong>
            </p>
            <p>
                This account has been disabled. Please contact your administrator for assistance.
            </p>
        </div>
    }
    else
    {
        <div class="alert alert-info text-center">
            <p>
                <strong>Your account has been locked.</strong>
            </p>
            <p>
                You have exceeded the maximum number of allowed attempts to login and your account has been temporarily locked.
                Please wait @ClientDto.ClientAutoUnlockTime minutes for the lock to be automatically removed, or contact VisitPay support for assistance.
            </p>
        </div>
    }
    <p class="text-center">
        <a href="/" title="" class="btn btn-primary">Home</a>
    </p>
</section>
