﻿@model Ivh.Common.Web.Models.Itemization.ItemizationSearchFilterViewModel

<div class="alert alert-info collapse" data-bind="css: { collapse: RunResults() == false }">
    Click <strong>Run</strong> to update your results
</div>
<div class="row">
    <div class="col">
        @Html.LabelFor(m => m.PatientName)<a href="javascript:;" class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="right" title="A patient is the person who received health care services"></a>
    </div>
    <div class="col">
        @Html.LabelFor(m => m.FacilityCode)<a href="javascript:;" class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="right" data-html="true" title="A facility is the place where the patient received services"></a>
    </div>
    <div class="col text-right">@Html.LabelFor(m => m.DateRange)</div>
    <div class="col">@Html.DropDownListFor(m => m.DateRange, Model.DateRanges, new {@class = "form-control", data_bind = "value: DateRange"})</div>
    <div class="col"></div>
    <div class="col text-right">
        <button type="submit" class="btn btn-primary" id="btnGridFilterItemizationsSubmit">Run</button>
    </div>
</div>
<div class="row">
    <div class="col">@Html.DropDownListFor(m => m.PatientName, Model.Patients, "All", new {@class = "form-control", data_bind = "value: PatientName"})</div>
    <div class="col">@Html.DropDownListFor(m => m.Facilities, Model.Facilities, "All", new {@class = "form-control", data_bind = "value: FacilityCode"})</div>
    <div class="col text-right">Date Range</div>
    <div class="col">
        <div class="input-group date">
            @Html.VpTextBoxFor(m => m.DateRangeFrom, new {data_bind = "value: DateRangeFrom"})
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
        <div class="input-group date">
            @Html.VpTextBoxFor(m => m.DateRangeTo, new {data_bind = "value: DateRangeTo"})
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
    </div>
    <div class="col"></div>
    <div class="col text-right">
        <button type="button" class="btn btn-primary" id="btnGridFilterItemizationsReset">Reset</button>
    </div>
</div>
<div class="row">
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col">@Html.ValidationSummary("Invalid Date Range", true)</div>
    <div class="col"></div>
</div>
