﻿@using Ivh.Common.Web.Models.Itemization
<section id="section-itemizations">
    <form class="jqGridFilter container" id="jqGridFilterItemizations" autocomplete="off">
        @Html.Partial("~/Views/Itemization/_ItemizationsFilter.cshtml", new ItemizationSearchFilterViewModel())
    </form>
    <table id="jqGridItemizations"></table>
    <div id="jqGridPagerItemizations"></div>
    <div id="jqGridNoRecordsItemizations" class="alert alert-info collapse text-center">
        <strong>There are no itemizations to display at this time.</strong>
    </div>
</section>
