﻿@using Ivh.Common.Web.Enums
@model Ivh.Web.QATools.Models.ExportPersonasViewModel

@using (Html.VpForm("ExportPersonas", "Guarantors", FormMethod.Post))
{
    <h4>Export Personas</h4>
    <div class="row">
        <div class="col-xs-4">
            @Html.VpTextBoxFor(m => m.Search, new { style = "max-width: 10000px;" })
        </div>
        <div class="col-xs-8">
            @Html.VpButton("btnExportPersonas", "Export Personas", VpButtonTypeEnum.Submit, VpButtonClassEnum.Primary)
        </div>
    </div>
}