﻿@{
    int vpGuarantorId = 0;
    string userName = "";
    
    object objUsername = this.Session["Username"];
    if (objUsername != null)
    {
        userName = objUsername.ToString();
    }

    object objVpGuarantorId = this.Session["VpGuarantorId"];
    if (objVpGuarantorId != null)
    {
        vpGuarantorId = Convert.ToInt32(objVpGuarantorId);
    }
}


@if (vpGuarantorId > 0 && !string.IsNullOrEmpty(userName))
{
    <div class="nav-side-menu" id="guarantors" name="sideNav">
        <div class="menu-list">
            <ul id="menu-content" class="menu-content collapse out">
                <li><a href="/Guarantors/GetGuarantor/@vpGuarantorId">VP Guarantor Details</a></li>
                <li><a href="/Guarantors/GuarantorAuditLog/@vpGuarantorId">Audit Log</a></li>
                <li><a href="/Guarantors/GuarantorDateAdjustmentsView?guarantorId=@vpGuarantorId">Dates Adjustment</a></li>
                <li><a href="/Guarantors/PaymentMethods?userName=@userName">Payment Methods</a></li>
                <li><a href="/Guarantors/KeepCurrent?userName=@userName">Keep Current</a></li>
                <li><a href="/Guarantors/ClearGuarantorData?guarantorId=@vpGuarantorId">Clear Guarantor Data</a></li>
                <li><a href="/Guarantors/ResolveMatches?guarantorId=@vpGuarantorId">Resolve Guarantor Matches</a></li>
                <li><a href="/Etl/HsGuarantorsView/@vpGuarantorId">HS Data</a></li>
                <li><a href="/Guarantors/SsoGenerator/@vpGuarantorId">Sso</a></li>
            </ul>
        </div>
    </div>
}
