﻿@model Ivh.Web.QATools.Models.GuarantorViewModel
@{
    ViewBag.Title = "VPP Users | Clear Guarantor Data";
}
<div class="main">
    <div class="container">
        <div class="col-lg-12">
            <h4>VP Guarantor > Clear Guarantor Data</h4>
            @Html.Partial("~/Views/Guarantors/_sideNav.cshtml")
            <div>
                <strong>Username: @Model.UserName</strong>
            </div>
            <div class="col-md-10" style="padding-top: 20px;">
                <button type="submit" id="btnClearGuarantorData" class="btn btn-primary">Clear Guarantor Data</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/views/clearGuarantorData")"></script>
}
