﻿@model Ivh.Web.QATools.Models.GuarantorViewModel
@{
    ViewBag.Title = "VPP Users | Guarantors | Create Guarantor";
}

<div class="main">
    <div class="container">
        <div class="col-lg-12">
            <h4>Create Guarantor</h4>
            @Html.Partial("~/Views/Guarantors/_sideNav.cshtml")

            <div class="col-md-10">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="UserName" class="control-label col-xs-2">UserName</label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control" id="UserName" placeholder="UserName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="FirstName" class="control-label col-xs-2">First Name</label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control" id="FirstName" placeholder="First Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="LastName" class="control-label col-xs-2">Last Name</label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control" id="LastName" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="PaymentDueDate" class="control-label col-xs-2">Payment Due Date</label>
                        <div class="col-xs-10">
                            <input class="form-control" id="PaymentDueDate" placeholder="Payment Due Day">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="RegistrationDate" class="control-label col-xs-2">Registration Date</label>
                        <div class="col-xs-10">
                            <input class="form-control" id="RegistrationDate" placeholder="Registration Date">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="VisitPayUserId" class="control-label col-xs-2">Previous User Id</label>
                        <div class="col-xs-2">
                            <span href="text" class="form-control" id="VisitPayUserId" placeholder=""></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="VpGuarantorId" class="control-label col-xs-2">Previous Guarantor Id</label>
                        <div class="col-xs-2">
                            <span href="text" class="form-control" id="VpGuarantorId" placeholder=""></span>
                        </div>
                    </div>
                </form>

                <div class="form-actions col-md-6 pull-left text-right">
                    <button type="button" id="_Save" class="btn btn-primary" disabled>Save</button>
                    <button type="button" id="_Cancel" class="btn">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/views/createGuarantor")"></script>
}
