﻿@model Ivh.Web.QATools.Models.GuarantorDetailViewModel
@{
    ViewBag.Title = "VPP Users | Guarantor Detail";
}
<div class="main">
    <div class="container">
        <div class="col-lg-12">
            <h4>VP Guarantor > VP Guarantor Details</h4>
            @Html.Partial("~/Views/Guarantors/_sideNav.cshtml")
            <div>
                <strong>Username: @Model.Data.User.UserName</strong>
            </div>
            <ul class="ul-table " style="padding-top: 20px; width: 600px;">

                <li>VP Guarantor ID:<span id="VpGuarantorId">@Model.Data.VpGuarantorId</span></li>

                <li>Guarantor Status:<span id="GuarantorStatus"></span></li>

                <li>
                    Next Statement Date: <span id="NextStatementDate">
                        @if (Model.Data.NextStatementDate.HasValue)
                        {
                            <span id="NextStatementDateText">@Model.Data.NextStatementDate.Value.ToString("yyyy-MM-dd")</span>
                            using (Html.BeginForm("RunStatementProcessing", "Jobs", FormMethod.Post))
                            {
                                <button type="submit">Run</button>
                                <span class="status"></span>
                                @Html.Hidden("date", Model.Data.NextStatementDate.Value.ToString("yyyy-MM-dd"))
                            }
                        }
                    </span>
                </li>
                @if (string.IsNullOrWhiteSpace(Model.NextPaymentDueDate))
                {
                    <li>
                        Payment Due Date: <span id="PaymentDueDay">N/A</span>

                    </li>
                }
                else
                {
                    <li>
                        Payment Due Date: <span id="PaymentDueDay">@DateTimeOffset.Parse(Model.NextPaymentDueDate, System.Globalization.CultureInfo.InvariantCulture).ToString("yyyy-MM-dd")</span>
                        @using (Html.BeginForm("RunPaymentProcessing", "Jobs", FormMethod.Post))
                        {
                            <button type="submit">Run</button>
                            <span class="status"></span>
                            @Html.Hidden("date", Model.NextPaymentDueDate)
                        }
                    </li>
                }

                <li>Is Awaiting Statement : <span id="IsAwaitingStatement">@Model.IsAwaitingStatement</span></li>

                <li>Is in Grace Period: <span id="IsGracePeriod">@Model.IsGracePeriod</span></li>

                <li>Full Name: <span id="FullName">@Model.Data.User.DisplayFirstNameLastName</span></li>

                <li>SSN4: <span id="SSN4">@Model.Data.User.SSN4.ToString().PadLeft(4, '0')</span></li>

                <li>DOB:<span id="DOB">@Model.Data.User.DateOfBirth</span></li>

                <li>Email:<span id="Email">@Model.Data.User.Email</span></li>

                <li>Address:<span id="Address">@Model.Data.User.AddressStreet1<br />@Model.Data.User.AddressStreet2 </span></li>

                <li>City:<span id="City"> @Model.Data.User.City </span></li>

                <li>State:<span id="State"> @Model.Data.User.State </span></li>

                <li>Zip:<span id="Zip"> @Model.Data.User.Zip </span></li>
                <li>HealthEquity Balance <button id="GetHQYBalance">Run</button> Current:<span id="HQYDisplay">??</span></li>
                <li>
                    Clone Guarantor: <input id="AppendValue" value="" placeholder="Append Value">
                    <input id="cpConsolidate" type="checkbox" /> Consolidate
                    <button id="CloneGuarantor">Clone</button>
                </li>
                <li>&nbsp;</li>
                <li>
                    <form action="/Guarantors/ImportLockBoxPayment" method="post" style="display: inline;">
                        @Html.Hidden("vpGuarantorId", Model.Data.VpGuarantorId)
                        Amount: <input type="number" min="0.01" step="0.01" name="lockBoxPaymentAmount" style="width: 80px">
                        &nbsp;
                        Period Start Date: <input type="date" name="financePlanPeriodStartDate" style="width: 140px">
                        <button id="btnImportLockBoxPaymentForGuarantor" type="submit">Lock Box Payment</button>
                        <br/>
                        <span class="status"></span>
                    </form>
                </li>
                <li>&nbsp;</li>
                <li style="padding: 15px;">
                    <form action="/Guarantors/QueuePaymentsForGuarantor" method="post" style="display: inline;">
                        @Html.Hidden("vpGuarantorId", Model.Data.VpGuarantorId)
                        <button id="btnQueuePaymentsForGuarantor" type="submit">Run Payments (This Guarantor Only)</button>
                    </form>
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    <form action="/Guarantors/DateAdjustAndQueueStatementForGuarantor" method="post" style="display: inline;">
                        @Html.Hidden("vpGuarantorId", Model.Data.VpGuarantorId)
                        <button id="btnQueueStatementForGuarantor">Run Statement (This Guarantor Only)</button>
                    </form>
                </li>
            </ul>
            <input type="hidden" id="GuarantorStatusId" value="@Model.VpGuarantorStatusId" />
            <input type="hidden" id="GuarantorHasVisits" value="@Model.HasVisits.ToString()" />
        </div>
    </div>
</div>

@section Scripts{
    <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/views/guarantorDetail")"></script>
    <script type="text/javascript">
        // generic: try to use this going forward.
        // look at "Run Deactivate Inactive Client Users" for an example
        $(document).on('submit', 'form', function(e) {

            e.preventDefault();

            var $form = $(this);
            var action = $form.attr('action');
            var $status = $form.find('.status');

            $.ajax({
                url: action,
                type: 'POST',
                data: $form.serialize()
            }).done(function(data) {
                $status.html(data).show();
                setTimeout(function() {
                    window.location.reload();
                }, 5000);
            }).fail(function(obj, status, err) {
                $status.html(err).show();
            });

        });
    </script>
}


