﻿@model Ivh.Web.QATools.Models.GuarantorDetailViewModel
@{
    ViewBag.Title = "VPP Users | Guarantor Date Adjustments";
}
<div class="main">
    <div class="container">
        <div class="col-lg-12">
            <h4>VP Guarantor > Date Adjustment</h4>
            @Html.Partial("~/Views/Guarantors/_sideNav.cshtml")
            <div>
                <strong>Username: @Model.Data.User.UserName</strong>
            </div>
            <div class="col-md-10" style="padding-top: 20px;">
                <form id="frmGuarantorDateAdjustment" class="form-horizontal">
                    <div class="form-group">
                        <label for="AdjustmentValue" class="control-label col-xs-2">Adjust for</label>
                        <div class="col-xs-10">
                            <input type="radio" id="adjustByDays" name="datePart" value="Day" checked><label for="adjustByDays">Days</label>
                            <input type="radio" id="adjustByMonths" name="datePart" value="Month"><label for="adjustByMonths">Months</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="AdjustmentValue" class="control-label col-xs-2">Adjustment Value</label>
                        <div class="col-xs-10">
                            <input type="number" class="form-control" id="AdjustmentValue" value="" placeholder="Adjustment Value (-/+)">
                        </div>
                    </div>

                    <div class="form-actions col-md-6 pull-left text-right">
                        <button type="submit" id="RunAdjustment" class="btn btn-primary">Run Adjustment</button>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-10">
                            <button type="submit" id="RunPaymentDueDayYesterday" class="btn btn-primary">Set Payment Due Day To Yesterday</button>
                        </div>
                    </div>
                </form>
            </div>
            <input type="hidden" id="GuarantorStatusId" value="@Model.VpGuarantorStatusId" />
            <input type="hidden" id="GuarantorHasVisits" value="@Model.HasVisits.ToString()" />
        </div>
    </div>
</div>

@section Scripts{
    <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/views/guarantorDateAdjustments")"></script>
}


