﻿@{
    ViewBag.Title = "VPP Users | Guarantor Audit Log";
}
<input type="hidden" id="VpGuarantorId" value="@this.Session["VpGuarantorId"]" />
<div class="main">
    <div class="container">
        <div class="col-lg-12">
            <h4>VP Guarantor > Audit Log</h4>
            @Html.Partial("~/Views/Guarantors/_sideNav.cshtml")
            <div>
                <table id="AuditLogGrid"></table>
                <div id="AuditLogPager"></div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/views/guarantorAuditLog")"></script>
}


