﻿@{
    ViewBag.Title = "VPP Users | Get Guarantors";
}

<div class="main">
    <div class="container">
        <div class="col-lg-12">
            <h4>VP Guarantors</h4>
            <form id="frmSearch">
                <input class="input-mini col-lg-4" id="SearchField" rel="" data-original-title="" placeholder="Email/SSN4/UserName" />
                <button type="submit">Search</button>
            </form>
            <br />
            <div>
                <table id="myGrid"></table>
                <div id="myPager"></div>
            </div>


        </div>
    </div>
</div>

@section Scripts{
    <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/views/guarantors")"></script>
}


