﻿@model Ivh.Web.QATools.Models.KeepCurrentViewModel
@{
    ViewBag.Title = "VPP Users | Guarantor | Keep Current";
}
<div class="main">
    <div class="container">
        <div class="col-lg-12">
            <h4>VP Guarantor > Keep Current</h4>
            @Html.Partial("~/Views/Guarantors/_sideNav.cshtml")
            <div>
                <strong>Username: @Session["UserName"]</strong>
            </div>
            @using (Html.BeginForm("KeepCurrent", "Guarantors", FormMethod.Post, new {@class = "form-horizontal"}))
            {
                @Html.HiddenFor(m => m.VpGuarantorId)
                @Html.HiddenFor(m => m.UserName)
                @Html.ValidationSummary()
                <div class="row form-group">
                    @Html.LabelFor(m => m.KeepCurrentAnchor, new {@class = "control-label col-xs-2"})
                    <div class="col-xs-10">@Html.DropDownListFor(m => m.KeepCurrentAnchor, Model.KeepCurrentAnchors, "", new {@class = "form-control"})</div>
                </div>
                <div class="row form-group">
                    @Html.LabelFor(m => m.KeepCurrentOffset, new {@class = "control-label col-xs-2"})
                    <div class="col-xs-10">@Html.TextBoxFor(m => m.KeepCurrentOffset, new {@class = "form-control"})</div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-offset-2 col-xs-10">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
