﻿@model Ivh.Web.QATools.Models.PaymentMethodsViewModel
@{
    ViewBag.Title = "VPP Users | Guarantor | Payment Methods";
}
<div class="main">
    <div class="container">
        <div class="col-lg-12">
            <h4>VP Guarantor > Payment Methods</h4>
            @Html.Partial("~/Views/Guarantors/_sideNav.cshtml")
            <div>
                <strong>Username: @Session["Username"]</strong>
            </div>
            <br /><br />
            @using (Html.BeginForm("PaymentMethodsAddTestAccounts", "Guarantors", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <div class="row">
                    <div class="col-xs-6">
                        @Html.HiddenFor(m => m.UserName)
                        @Html.HiddenFor(m => m.PaymentMethodsCount)
                        <div class="form-group">
                            <div class="col-xs-12">
                                @if (Model.IsAchEnabled)
                                {
                                    <div>@Html.CheckBoxFor(m => m.TestPaymentMethodAchCheckingGood) @Html.LabelFor(m => m.TestPaymentMethodAchCheckingGood)</div>
                                    <div>@Html.CheckBoxFor(m => m.TestPaymentMethodAchSavingsGood) @Html.LabelFor(m => m.TestPaymentMethodAchSavingsGood)</div>
                                }
                                else
                                {
                                    <div><em>ACH is disabled</em></div>
                                }
                                <br/>
                                @if (Model.IsCreditCardEnabled)
                                {
                                    <div>@Html.CheckBoxFor(m => m.TestPaymentMethodVisaGood) @Html.LabelFor(m => m.TestPaymentMethodVisaGood)</div>
                                    <div>@Html.CheckBoxFor(m => m.TestPaymentMethodMastercardGood) @Html.LabelFor(m => m.TestPaymentMethodMastercardGood)</div>
                                    <div>@Html.CheckBoxFor(m => m.TestPaymentMethodAmexGood) @Html.LabelFor(m => m.TestPaymentMethodAmexGood)</div>
                                    <div>@Html.CheckBoxFor(m => m.TestPaymentMethodDiscoverGood) @Html.LabelFor(m => m.TestPaymentMethodDiscoverGood)</div>
                                    <div>@Html.CheckBoxFor(m => m.TestPaymentMethodDecline) @Html.LabelFor(m => m.TestPaymentMethodDecline)</div>
                                    <div>@Html.CheckBoxFor(m => m.TestPaymentMethodCall) @Html.LabelFor(m => m.TestPaymentMethodCall)</div>
                                    <div>@Html.CheckBoxFor(m => m.TestPaymentMethodCardError) @Html.LabelFor(m => m.TestPaymentMethodCardError)</div>
                                    <div>@Html.CheckBoxFor(m => m.TestPaymentMethodVisaGoodExpiredLastMonth) @Html.LabelFor(m => m.TestPaymentMethodVisaGoodExpiredLastMonth)</div>
                                    <div>@Html.CheckBoxFor(m => m.TestPaymentMethodVisaGoodExpiringThisMonth) @Html.LabelFor(m => m.TestPaymentMethodVisaGoodExpiringThisMonth)</div>
                                    <div>@Html.CheckBoxFor(m => m.TestPaymentMethodVisaGoodExpiringNextMonth) @Html.LabelFor(m => m.TestPaymentMethodVisaGoodExpiringNextMonth)</div>
                                }
                                else
                                {
                                    <div><em>CreditCard is disabled</em></div>
                                }
                            </div>
                            <div class="col-xs-12">
                                <button type="submit" class="btn btn-primary">Add Test Accounts</button>
                                <div class="alert alert-info visible-lg-inline">This might take a minute, be patient!</div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="row">
                <hr />
                <div class="col-xs-12">
                    @foreach (var s in Model.PaymentMethods)
                    {
                        <div>@s</div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
