﻿@model Ivh.Web.QATools.Models.GuarantorViewModel
@{
    ViewBag.Title = "VPP Users | Resolve Guarantor Matches";
}
<div class="main">
    <div class="container">
        <div class="col-lg-12">
            <h4>VP Guarantor > Resolve Guarantor Matches</h4>
            @Html.Partial("~/Views/Guarantors/_sideNav.cshtml")
            <div>
                <strong>Username: @Model.UserName</strong>
            </div>
            <div class="col-md-10" style="padding-top: 20px;">
                <button type="submit" id="btnResolveMatches" class="btn btn-primary">Resolve Guarantor Matches</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="@BundleTable.Bundles.ResolveBundleUrl("~/bundles/views/resolveMatches")"></script>
}
