﻿@model Ivh.Web.QATools.Models.SsoGeneratorViewModel
@{
    ViewBag.Title = "Sso Generator";
}
<div class="main">
    <div class="container">
        <div class="col-lg-12">
            <h4>Sso Generator page</h4>
            @Html.Partial("~/Views/Guarantors/_sideNav.cshtml")
            <div>
                <strong>Username: @Model.Guarantor.User.UserName</strong>
            </div>
            <ul class="ul-table " style="padding-top: 20px;">

                <li>VP Guarantor ID:<span id="VpGuarantorId">@Model.Guarantor.VpGuarantorId</span></li>

                <li>DOB:<input type="text" id="dob" value="@Model.Guarantor.User.DateOfBirth"/></li>
                <li>SsoSsk:<input type="text" id="SsoSsk" value="1234"/></li>

                <li><input id="GenerateSsoLink" type="submit" value="Generate Link"/></li>
            </ul>

            <ul id="generatedLinks" class="ul-table " style="padding-top: 20px;"></ul>
        </div>
    </div>
</div>

@section Scripts{
    <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/views/guarantorDetail")"></script>
    <script type="text/javascript">
        $("#GenerateSsoLink").click(function() {
            var myData = { DateOfBirth: $("#dob").val(), SsoSsk: $("#SsoSsk").val(), VpGuarantorId: @Model.Guarantor.VpGuarantorId };

            $.ajax({
                url: '@Url.Action("MyChartSsoGenerate", "Guarantors")',
                type: 'POST',
                data: myData
            }).done(function(data) {
                $("#generatedLinks").append('<li>Generated link will expire on ' + data.UrlExpiration + ' please click: <a target="_blank" href="' + data.SsoUrl + '">here</a></li>');
            }).fail(function(obj, status, err) {
                console.log("error");
                console.log(obj);
                console.log(status);
                console.log(err);
            });

        });
    </script>
}


