﻿/* normal weight */
@font-face {
  font-family: 'SourceSansPro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'),
       url('/Content/Fonts/SourceSansPro/source-sans-pro-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/Content/Fonts/SourceSansPro/source-sans-pro-regular.woff') format('woff'), /* Modern Browsers */
       url('/Content/Fonts/SourceSansPro/source-sans-pro-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/Content/Fonts/SourceSansPro/source-sans-pro-regular.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'SourceSansPro';
  font-style: italic;
  font-weight: 400;
  src: local('Source Sans Pro Italic'), local('SourceSansPro-It'),
       url('/Content/Fonts/SourceSansPro/source-sans-pro-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/Content/Fonts/SourceSansPro/source-sans-pro-italic.woff') format('woff'), /* Modern Browsers */
       url('/Content/Fonts/SourceSansPro/source-sans-pro-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/Content/Fonts/SourceSansPro/source-sans-pro-italic.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}

/* semi bold */
@font-face {
  font-family: 'SourceSansPro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'),
       url('/Content/Fonts/SourceSansPro/source-sans-pro-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('/Content/Fonts/SourceSansPro/source-sans-pro-600.woff') format('woff'), /* Modern Browsers */
       url('/Content/Fonts/SourceSansPro/source-sans-pro-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/Content/Fonts/SourceSansPro/source-sans-pro-600.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'SourceSansPro';
  font-style: italic;
  font-weight: 600;
  src: local('Source Sans Pro Semibold Italic'), local('SourceSansPro-SemiboldIt'),
       url('/Content/Fonts/SourceSansPro/source-sans-pro-600italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/Content/Fonts/SourceSansPro/source-sans-pro-600italic.woff') format('woff'), /* Modern Browsers */
       url('/Content/Fonts/SourceSansPro/source-sans-pro-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/Content/Fonts/SourceSansPro/source-sans-pro-600italic.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}

/* bold */
@font-face {
  font-family: 'SourceSansPro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'),
       url('/Content/Fonts/SourceSansPro/source-sans-pro-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/Content/Fonts/SourceSansPro/source-sans-pro-700.woff') format('woff'), /* Modern Browsers */
       url('/Content/Fonts/SourceSansPro/source-sans-pro-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/Content/Fonts/SourceSansPro/source-sans-pro-700.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'SourceSansPro';
  font-style: italic;
  font-weight: 700;
  src: local('Source Sans Pro Bold Italic'), local('SourceSansPro-BoldIt'),
       url('/Content/Fonts/SourceSansPro/source-sans-pro-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/Content/Fonts/SourceSansPro/source-sans-pro-700italic.woff') format('woff'), /* Modern Browsers */
       url('/Content/Fonts/SourceSansPro/source-sans-pro-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/Content/Fonts/SourceSansPro/source-sans-pro-700italic.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}

/* black */
@font-face {
  font-family: 'SourceSansPro';
  font-style: normal;
  font-weight: 900;
  src: local('Source Sans Pro Black'), local('SourceSansPro-Black'),
       url('/Content/Fonts/SourceSansPro/source-sans-pro-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('/Content/Fonts/SourceSansPro/source-sans-pro-900.woff') format('woff'), /* Modern Browsers */
       url('/Content/Fonts/SourceSansPro/source-sans-pro-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/Content/Fonts/SourceSansPro/source-sans-pro-900.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'SourceSansPro';
  font-style: italic;
  font-weight: 900;
  src: local('Source Sans Pro Black Italic'), local('SourceSansPro-BlackIt'),
       url('/Content/Fonts/SourceSansPro/source-sans-pro-900italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/Content/Fonts/SourceSansPro/source-sans-pro-900italic.woff') format('woff'), /* Modern Browsers */
       url('/Content/Fonts/SourceSansPro/source-sans-pro-900italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/Content/Fonts/SourceSansPro/source-sans-pro-900italic.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}