﻿@import '_variables.scss';
@import '../Bootstrap/css/bootstrap/_variables.scss';

@mixin accordion() {
    > dl {
        > dt {
            background: $vp-gray-lightest;
            border: 1px solid $vp-gray-light;
            cursor: pointer;
            margin: 0 0 7px 0;
            position: relative;
            padding: $grid-gutter-width/4 $grid-gutter-width/2 $grid-gutter-width/4 34px;

            &:before {
                content: '\e080';
                font-family: 'Glyphicons Halflings';
                position: absolute;
                left: 10px;
                top: 7px;
            }

            &.active {
                color: $link-hover-color;

                &:before {
                    content: '\e114';
                    top: 9px;
                }
            }

            &:hover {
                color: $link-hover-color;
            }
        }

        > dd {
            display: none;
            padding-top: $grid-gutter-width/4;
            padding-bottom: $grid-gutter-width/2;

            > * {
                &:last-child {
                    margin-bottom: 0;
                }
            }

            ul {
                margin-top: 7px;
                padding-left: 20px;
            }
        }

        @media (max-width: $screen-xs-max) {
            margin: 0 $grid-gutter-width/-2 0 $grid-gutter-width/-2;

            > dt {
                border-left: 0;
                border-right: 0;
            }

            > dd {
                padding-left: $grid-gutter-width/2;
                padding-right: $grid-gutter-width/2;
            }
        }
    }
}
