﻿@import '_variables.scss';
@import '_mixins.scss';
@import '../Bootstrap/css/bootstrap/_mixins.scss';
@import '../Bootstrap/css/bootstrap/_variables.scss';

#topbar {
    background: $navbar-default-bg;
    height: $navbar-height;
    line-height: $navbar-height;
    @include clearfix();

    @media (max-width: $screen-xs-max) {
        > div {
            padding: 0;
        }
    }

    nav.navbar {
        border: 0;
        margin-bottom: 0;
        width: $navbar-height;
        position: relative;
        z-index: 10;

        > div.container-fluid {
            padding: 0;

            > div.navbar-header {
                height: $navbar-height;
                position: relative;
                text-align: left;
                width: 90px;

                button.navbar-toggle {
                    @include clearfix();
                    border-width: 0;
                    display: block !important;
                    height: $navbar-height;
                    margin: 0;
                    padding: 0;
                    width: 100%;
                    color: $vp-primary-text;
                    font-size: 13px;
                    font-weight: 600;
                    line-height: 13px;
                    text-transform: uppercase;
                    margin: 0 $grid-gutter-width/2 0 0;

                    > i {
                        width: 18px;
                        height: 18px;
                    }
                }
            }

            > div.navbar-collapse {
                background: #ffffff;
                border-color: $vp-gray-lighter;
                border-style: solid;
                border-width: 0 1px 1px 0;
                box-shadow: 0 0 3px rgba(0,0,0,.1);
                margin: 0;
                min-width: 260px;
                padding: 0;
                position: absolute;
                top: $navbar-height;
                white-space: nowrap;

                > div {
                    line-height: 20px;
                    padding: $grid-gutter-width/2;
                }

                > ul.navbar-nav {
                    border: none;
                    margin: 0 12px 0 12px;

                    > li {
                        float: none;

                        &:first-of-type {
                            padding-top: 0;
                        }

                        a {
                            line-height: 34px;
                            padding: 0 0 0 0;
                            text-decoration: none;

                            .glyphicon {
                                color: $vp-gray-light;
                                float: left;
                                font-size: 18px;
                                margin: $grid-gutter-width/4 $grid-gutter-width/2 0 0;
                                text-decoration: none;
                            }

                            &:hover, &:active, &:focus {
                                background: transparent;
                            }
                        }
                    }
                }

                @media (max-width: $screen-xs-max) {
                    left: 0;
                }

                @media (min-width: $screen-sm-min) {
                    left: -2px;
                }
            }
        }
    }
}
