﻿/* variables */
$vp-gray-dark: #767676;
$vp-gray-medium: #bfbfbf;
$vp-gray-light: #dddddd;
$vp-gray-lighter: #eeeeee;
$vp-gray-lightest: #f4f4f4;

/* base css */
body {
    font-family: SourceSansPro, Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 19px;
    width: 100%;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

header {
    border-bottom: 1px solid $vp-gray-light;
    padding: 0 0 15px 0;

    > div {
        > img {
            max-height: 50px;
        }
    }
}

h1 {
    color: #333333;
    font-size: 18px;
}

section#section-receipt {
    h3 {
        color: #333333;
        font-size: 18px;
    }

    .details {
        > div {
            &:not(:first-of-type) {
                border-top: 1px solid $vp-gray-light;
                padding-top: 15px;
            }

            padding-bottom: 15px;
        }

        p {
            margin-top: 0;
        }
    }
}

.hidden-print {
    display: none;
}