﻿/* !default required to enable override */

$__placeholder:                         yellow;

/* these come from client settings */

$client-primary:                        $__placeholder !default;
$client-accent:                         $__placeholder !default;
$client-button-primary-bg:              $__placeholder !default;
$client-button-primary-bg-hover:        $__placeholder !default;
$client-button-payment-bg:              $__placeholder !default;
$client-button-payment-bg-hover:        $__placeholder !default;
$client-link-color:                     $__placeholder !default;
$client-link-hover-color:               $__placeholder !default;
$client-logo-path:                      '' !default;
$client-logo-width:                     0px !default;

/* not client specific */

$vp-gray-dark:                          #767676;
$vp-gray-medium:                        #bfbfbf;
$vp-gray-light:                         #dddddd;
$vp-gray-lighter:                       #eeeeee;
$vp-gray-lightest:                      #f4f4f4;
$vp-primary-text:                       #ffffff;

/* bootstrap overrides */

$grid-float-breakpoint:                 calc(100%);

$text-color:                            #333333;
$border-radius-base:                    0;
$border-radius-large:                   0;
$border-radius-small:                   0;
$brand-primary:                         $client-primary;
$btn-border-radius-base:                0;
$btn-border-radius-large:               0;
$btn-border-radius-small:               0;
$btn-primary-bg:                        $client-button-primary-bg;
$btn-primary-border:                    $client-button-primary-bg;
$btn-primary-color:                     #ffffff;
$font-family-base:                      SourceSansPro, Helvetica, Arial, sans-serif;
$font-size-base:                        14px;
$headings-font-weight:                  bold;
$icon-font-path:                        '/Content/Bootstrap/fonts/';
$input-bg:                              #f9f9f9;
$input-border:                          darken($vp-gray-light, 7%);
$input-border-focus:                    $vp-gray-dark;
$input-border-radius:                   0;
$link-color:                            $client-link-color;
$link-hover-color:                      $client-link-hover-color;
$modal-backdrop-bg:                     #ffffff;
$modal-backdrop-opacity:                .8;
$modal-footer-border-color:             $vp-gray-lightest;
$modal-header-border-color:             $client-primary;
$navbar-border-radius:                  0;
$navbar-height:                         40px;
$navbar-margin-bottom:                  0;
$navbar-padding-horizontal:             0;
$navbar-padding-vertical:               0;
$navbar-default-bg:                     $brand-primary;
$navbar-default-link-active-bg:         darken($client-primary, 5%);
$navbar-default-link-active-color:      $client-link-hover-color;
$navbar-default-link-color:             $vp-gray-dark;
$navbar-default-link-hover-bg:          darken($client-primary, 5%);
$navbar-default-link-hover-color:       $client-link-hover-color;
$navbar-default-toggle-hover-bg:        darken($client-primary, 5%);
$state-danger-text:                     #ff0000;
$state-info-bg:                         $vp-gray-lightest;
$state-info-border:                     $vp-gray-lighter;
$state-info-text:                       $text-color;