﻿@using Ivh.Web.QATools.Models
@using Ivh.Application.Settings.Common.Dtos
@using Ivh.Common.VisitPay.Enums
@model IList<TextRegionInfo>

@{
    ViewBag.Title = "Localization Info";
    ApplicationEnum application = ViewBag.Application;
    bool isVisitPay = (application == ApplicationEnum.VisitPay);

    List<ClientCultureInfoDto> supportedLanguages = ClientDto.LanguageAppSupported;
    if (application == ApplicationEnum.GuestPay)
    {
        supportedLanguages = ClientDto.LanguageGuestPaySupported;
    }
}

<h2>@ViewBag.Title</h2>
<div class="row" style="padding-bottom:15px;">
    <div class="col-sm-12">
        <div class="btn-group" title="Select Application">
            <a href="@Url.Action("Index", "Localization", new { application = ApplicationEnum.VisitPay })" class="btn @(isVisitPay ? "btn-primary active" : "btn-default")">@ApplicationEnum.VisitPay.ToString()</a>
            <a href="@Url.Action("Index", "Localization", new { application = ApplicationEnum.GuestPay })" class="btn @(!isVisitPay ? "btn-primary active" : "btn-default")" ">@ApplicationEnum.GuestPay.ToString()</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">@application.ToString() Text Regions</h3>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width:1px;">Property Name</th>
                        <th style="max-width:450px;">Key</th>
                        @foreach (ClientCultureInfoDto locale in supportedLanguages)
                        {
                            <th class="text-center" title="@locale.Description">@locale.Name</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (TextRegionInfo textRegion in Model)
                    {
                        <tr>
                            <td style="width:1px;">@textRegion.TextRegionPropertyName</td>
                            <td style="word-break:break-word; max-width:450px;">@textRegion.TextRegionKey</td>
                            @foreach (ClientCultureInfoDto locale in supportedLanguages)
                            {
                                string localeTitle = "[" + locale.Name + "] " + locale.Description;
                                TextRegionLocaleSupport matchingLocale = textRegion.LocaleSupport.Where(l => l.LocaleName == locale.Name).SingleOrDefault();
                                if (matchingLocale.IsSupported)
                                {
                                    <td class="text-center" title="@localeTitle"><i class="glyphicon glyphicon-ok text-success"></i></td>
                                }
                                else
                                {
                                    <td class="text-center danger" title="@localeTitle"><i class="glyphicon glyphicon-remove text-danger"></i></td>
                                }
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
