﻿@{
    ViewData["Title"] = "Compare Settings";
}
<h2 class="rise-above smallh2">@ViewData["Title"]</h2>
<h4>@ViewData["Message"]</h4>
<br />
<div id="source1" class="row">
    <div class="col-sm-2">
        <select id="dropdownClient" class="form-control" asp-items="@(new SelectList(ViewBag.Clients,"Key","Value"))"></select>
    </div>
    <div class="col-sm-2">
        <select id="dropdownEnvironment" class="form-control" asp-items="@(new SelectList(ViewBag.Environments,"Key","Value"))"></select>
    </div>
    <div class="col-sm-2">
        <select id="dropdownRelease" class="form-control" asp-items="@(new SelectList(ViewBag.Releases,"Key","Value"))"></select>
    </div>
    <div class="col-sm-6">
    </div>
</div>
<div id="sourceSpacer" class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-2 text-center">
        <span>vs</span>
    </div>
</div>
<div id="source2" class="row">
    <div class="col-sm-2">
        <select id="dropdownClient2" class="form-control" asp-items="@(new SelectList(ViewBag.Clients,"Key","Value"))"></select>
    </div>
    <div class="col-sm-2">
        <select id="dropdownEnvironment2" class="form-control" asp-items="@(new SelectList(ViewBag.Environments,"Key","Value"))"></select>
    </div>
    <div class="col-sm-2">
        <select id="dropdownRelease2" class="form-control" asp-items="@(new SelectList(ViewBag.Releases,"Key","Value"))"></select>
    </div>
    <div class="col-sm-6">
    </div>
</div>
<br />
<div id="actionButton" class="row">
    <div class="col-sm-3">
        <input id="buttonCompare" class="btn btn-primary" type="button" value="Compare Deployment Contexts" />
    </div>
    <div class="checkbox col-sm-6">
        <label style="font-size: 1.5em">
            <input id="checkboxOnlyChanges" type="checkbox">
            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
            Hide matching lines
        </label>
        <label style="font-size: 1.5em">
            <input id="checkboxInline" type="checkbox">
            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
            View inline
        </label>
    </div>
</div>
<br />
<div id="diffContainer" class="row">
    <div id="diffoutput"> </div>
</div>
<div id="sqlContainer" class="row">
    <div id="sqlOutputContainer">
        <textarea id="sqlOutput" class="form-control" rows="10" style="resize:none"></textarea>
    </div>
</div>

@section Scripts {
    <environment include="Development">
        <script src="~/lib/difflib/difflib.js"></script>
        <script src="~/lib/difflib/diffview.js"></script>
        <script src="~/lib/jsdiff/diff.js"></script>
        <script src="~/js/compare.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/difflib/difflib.min.js"></script>
        <script src="~/lib/jsdiff/diff.min.js"></script>
        <script src="~/js/compare.min.js"></script>
    </environment>
}
