﻿@{
    ViewData["Title"] = "Developer";
}
<h2 class="rise-above smallh2">@ViewData["Title"]</h2>
<h4 class="reflection">@ViewData["Message"]</h4>
<br />
<div class="row">
    <div class="col-sm-2">
        <select id="dropdownClient" class="form-control" asp-items="@(new SelectList(ViewBag.Clients,"Key","Value"))"></select>
    </div>
    <div class="col-sm-2">
        <select id="dropdownEnvironment" class="form-control" asp-items="@(new SelectList(ViewBag.Environments,"Key","Value"))"></select>
    </div>
    <div class="col-sm-2">
        <select id="dropdownRelease" class="form-control" asp-items="@(new SelectList(ViewBag.Releases,"Key","Value"))"></select>
    </div>
    <div class="col-sm-3">
        <input id="buttonGenerate" class="btn btn-primary" type="button" value="Create SQL Merge Script" />
    </div>
    <div class="col-sm-3">
    </div>
</div>
<br/>
<textarea id="textAreaSQL" rows="40" cols="200"></textarea>
@section Scripts {
    <environment include="Development">
        <script src="~/js/devscript.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/devscript.min.js"></script>
    </environment>
}