﻿@model Ivh.Web.SettingsManager.Models.EncryptionConfiguration
@{
    ViewData["Title"] = "Encryption Utility";
}
<h2 class="rise-above smallh2">@ViewData["Message"]</h2>
<br />

<div class="row">
    <div class="col-md-8">
        <div class="panel-group" id="accordionDecryptSettings">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle text-primary" data-toggle="collapse" data-parent="#accordionDecryptSettings" href="#collapseDecryptSettings">
                            Session Decryption Settings
                        </a>
                    </h4>
                </div>
                <div id="collapseDecryptSettings" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-2 text-right">
                                <label>Authorization Key</label>
                            </div>
                            <div class="col-md-8">
                                <input id="txtAuthorizationKeyDecrypt" class="form-control" type="text" value="@Model.AuthKey" />
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-2 text-right">
                                <label>Encryption Key</label>
                            </div>
                            <div class="col-md-8">
                                <input id="txtEncryptionKeyDecrypt" class="form-control" type="text" value="@Model.CryptKey" />
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-2 text-right">
                                <label>Salt Length</label>
                            </div>
                            <div class="col-md-2">
                                <input id="numSaltLengthDecrypt" class="form-control" type="number" value="@Model.SaltLength" />
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-2 text-right">
                            </div>
                            <div class="col-md-6 text-right">
                            </div>
                            <div class="col-md-3">
                                <input id="btnSetDecryptionSettings" class="btn btn-primary" type="button" value="Save" />
                                &nbsp;
                                <input id="btnClearDecryptionSettings" class="btn btn-primary" type="button" value="Clear" />
                            </div>
                            <div class="col-md-1">
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="panel-group" id="accordionGenerateKey">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle text-primary" data-toggle="collapse" data-parent="#accordionGenerateKey" href="#collapseOne">
                            Key Generation
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-2 text-right">
                                <label>Generated Key</label>
                            </div>
                            <div class="col-md-8">
                                <input id="txtGeneratedKey" class="form-control" type="text" />
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-2 text-right">
                            </div>
                            <div class="col-md-2">
                                <input id="btnGenerateKey" class="btn btn-primary" type="button" value="Generate Encryption Key" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="panel-group" id="accordionEncryptValue">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle text-primary" data-toggle="collapse" data-parent="#accordionEncryptValue" href="#collapseTwo">
                            Value Encryption
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-2 text-right">
                                <label>Authorization Key</label>
                            </div>
                            <div class="col-md-8">
                                <input id="txtAuthorizationKey" class="form-control" type="text" />
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-2 text-right">
                                <label>Encryption Key</label>
                            </div>
                            <div class="col-md-8">
                                <input id="txtEncryptionKey" class="form-control" type="text" />
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-2 text-right">
                                <label>Salt Length</label>
                            </div>
                            <div class="col-md-2">
                                <input id="numSaltLength" class="form-control" type="number" value="15" />
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-2 text-right">
                                <label>Original Value</label>
                            </div>
                            <div class="col-md-8">
                                <input id="txtOriginalValue" class="form-control" type="text" />
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-2 text-right">
                                <label>Encrypted Value</label>
                            </div>
                            <div class="col-md-10">
                                <textarea class="form-control" rows="3" id="txtEncryptedValue"></textarea>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-2 text-right">
                            </div>
                            <div class="col-md-2">
                                <input id="btnEncryptValue" class="btn btn-primary" type="button" value="Encrypt" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("../_SuccessModal.cshtml")
@Html.Partial("../_ErrorModal.cshtml")

@section Scripts {
    <environment include="Development">
        <script src="~/js/encryptionutility.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/encryptionutility.min.js"></script>
    </environment>
}

