﻿@using Ivh.Web.SettingsManager.Constants
@using Microsoft.AspNetCore.Authorization
@{
    ViewData["Title"] = "View Settings";
}

@inject IAuthorizationService Authorization
@{ AuthorizationResult canApproveSettings = await Authorization.AuthorizeAsync(User, Policy.ApproveSettings);}

<h2 class="rise-above smallh2">@ViewData["Title"]</h2>
<br />
<div class="row">
    <div class="col-sm-2">
        <select id="dropdownClient" class="form-control" asp-items="@(new SelectList(ViewBag.Clients,"Key","Value"))"></select>
    </div>
    <div class="col-sm-2">
        <select id="dropdownEnvironment" class="form-control" asp-items="@(new SelectList(ViewBag.Environments,"Key","Value"))"></select>
    </div>
    <div class="col-sm-2">
        <select id="dropdownRelease" class="form-control" asp-items="@(new SelectList(ViewBag.Releases,"Key","Value"))"></select>
    </div>
    @if (canApproveSettings.Succeeded)
    {
        <div class="col-sm-2">
            <input id="buttonApprove" class="form-control btn btn-primary" type="button" value="" />
            <div id="labelApprove" class="label label-success"></div>
        </div>
        <div class="col-sm-4">
            <input type="hidden" id="hiddenHashCode">
        </div>
    }
    else
    {
        <div class="col-sm-6">
        </div>
    }
</div>

<table id="settingsGrid" class="table table-condensed table-hover table-striped table-bordered wrap-text">
    <thead>
        <tr>
            <th data-column-id="settingId" data-type="numeric" data-identifier="true" data-width="5%">ID</th>
            <th data-column-id="settingType" data-width="7%">Type</th>
            <th data-column-id="name" data-formatter="tooltipname" data-width="25%">Name</th>
            <th data-column-id="value" data-formatter="selectvalue" data-width="27%">Value</th>
            <th data-column-id="dataType" data-width="7%">Data</th>
            <th data-column-id="isEditable" data-width="7%">Edit</th>
            <th data-column-id="isEncrypted" data-width="7%">Encrypt</th>
            <th data-column-id="sinceRelease" data-width="7%">Release</th>
            <th data-column-id="valueSource" data-width="7%">Source</th>
        </tr>
    </thead>
</table>

@Html.Partial("../_SuccessModal.cshtml")
@Html.Partial("../_ErrorModal.cshtml")

@section Scripts {
    <environment include="Development">
        <script src="~/lib/jquery-bootgrid/jquery.bootgrid.js"></script>
        <script src="~/lib/jquery-bootgrid/jquery.bootgrid.fa.js"></script>
        <script src="~/js/find.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery-bootgrid/jquery.bootgrid.min.js" asp-append-version="true"></script>
        <script src="~/js/find.min.js"></script>
    </environment>
}
