﻿@using Ivh.Web.SettingsManager.Constants
@using Ivh.Web.SettingsManager.Helpers
@using Microsoft.AspNetCore.Authorization

@inject IAuthorizationService Authorization
@{ AuthorizationResult canViewSettings = await Authorization.AuthorizeAsync(User, Policy.ViewSettings);}
@{ AuthorizationResult canAddSettings = await Authorization.AuthorizeAsync(User, Policy.AddSettings);}
@{ AuthorizationResult canOverrideSettings = await Authorization.AuthorizeAsync(User, Policy.OverrideSettings);}
@{ AuthorizationResult canDeployLocalSettings = await Authorization.AuthorizeAsync(User, Policy.DeployLocalSettings);}

@{
    ViewData["Title"] = "Home Page";
}


<div class='rise-above'>Settings Manager</div>

<h2>Available Actions</h2>
<p>
    @if (canViewSettings.Succeeded)
    {
        <a href="/home/find">View Settings</a><br/>
        <a href="/home/compare">Compare Settings</a><br />
    }
    @if (canAddSettings.Succeeded)
    {
        <a href="/settings/viewaddsetting">Add A New Setting</a><br />
    }
    @if (canOverrideSettings.Succeeded)
    {
        <a href="/settings/viewaddsettingoverride">Override A Setting</a><br />
    }
    @if (canViewSettings.Succeeded)
    {
        <a href="/home/encryptionutility">Encryption Utility</a><br />
    }
    @if (canDeployLocalSettings.Succeeded)
    {
        <a href="/home/devscript">Developer</a><br/>
    }
</p>




@section Scripts {
    <environment include="Development">
        <script src="~/js/index.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/index.min.js"></script>
    </environment>
}
