﻿@using Ivh.Web.SettingsManager.Helpers
<p/>
<ul>
    @{
        IEnumerable<string> userGroups = ActiveDirectoryGroupHelper.FindGroupsBySid(this.User);
        foreach (string g in userGroups)
        {
            <li>@g</li>
        }
    }
</ul>