﻿@import '../_variables.scss';

#section-legal-agreements {
    ul {
        font-size: 15px;
        list-style: none;
        margin: 0;
        padding: 0;
        > li {
            margin: 15px 0 15px 0;
            padding: 0 0 0 20px;
            position: relative;
            &:before {
                content:'\e080';
                color: $vp-gray-light;
                display: block;
                font-size: 13px;
                font-family: 'Glyphicons Halflings';
                position: absolute;
                left: 0;
                top: 2px;
            }
        }
    }
}