﻿@using Ivh.Common.Base.Enums
@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.VisitPay.Enums
@model Ivh.Common.Web.Models.Shared.CmsViewModel

@section breadcrumb {
    @Model.ContentTitle
}

<section id="section-contact">
    <h1>@Model.ContentTitle</h1>
    <p class="text-red">
        @Html.TextRegion(TextRegionConstants.GuestPayIpAddressBlocked)
    </p>
    @Html.Raw(Model.ContentBody)
    <p>
        @Html.CmsRegion(CmsRegionEnum.BusinessHoursLong)
    </p>
</section>