﻿@model Ivh.Web.Client.Models.CardReader.CardReaderDeviceKeyViewModel

<div id="modalCardReaderDeviceKey" class="modal modal-vcenter fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-md">
        <form class="modal-content" autocomplete="off" action="@Url.Action("SetCardReaderDeviceKey", "CardReader")">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title">Enter Card Reader Info</h4>
            </div>
            @Html.Partial("_CardReaderDeviceKeyForm",Model)
            <div class="modal-footer text-center">
                <button type="submit" class="btn btn-primary">@Html.TextRegion(TextRegionConstants.Ok)</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">@Html.TextRegion(TextRegionConstants.ButtonCancel)</button>
            </div>
        </form>
        
    </div>
</div>