﻿@model Ivh.Web.Client.Models.CardReader.CardReaderDeviceKeyViewModel

@Html.AntiForgeryToken()

<div class="modal-body modal-body-padding">
    <div class="form-group">
        @Html.ValidationSummary(Html.TextRegion(TextRegionConstants.ValidationCorrectErrors))
        @Html.VpLabelFor(m => m.CardReaderDeviceKey)
        @Html.VpTextBoxFor(m => m.CardReaderDeviceKey)
    </div>
    <div class="card-reader-help">
        @Html.CmsRegion(CmsRegionEnum.CardReaderDeviceKeyHelp)
    </div>
    <div class="form-group">
        @Html.VpLabelFor(m => m.CardReaderUserAccount)
        @Html.VpTextBoxFor(m => m.CardReaderUserAccount)
    </div>
    <div class="card-reader-help">
        @Html.CmsRegion(CmsRegionEnum.CardReaderDeviceAccountHelp)
    </div>
</div>