﻿@model Ivh.Web.Client.Models.CardReader.CardReaderDeviceKeyViewModel

@{
    ViewBag.Title = "Manage Card Reader Device";
}


<h1 class="bar">Manage Card Reader Device</h1>

<section>
    <div class="card-reader-form-centered">
        <form autocomplete="off" action="@Url.Action("SetCardReaderDeviceKey", "CardReader")" method="post">
            <div>
                @Html.Partial("_CardReaderDeviceKeyForm", Model)
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary">@Html.TextRegion(TextRegionConstants.ButtonSubmit)</button>
            </div>
        </form>
    </div>
</section>