﻿@using Ivh.Application.Qat.Common.Dtos
@model IList<Ivh.Application.Qat.Common.Dtos.TextToPayPaymentDto>
<div class="row text-center" style="margin:50px;">
    @if (Model.Count == 0)
    {
        <span class="lead text-center">No data found.</span>
    }
    else
    {   
        <table class="table table-striped table-hover table-bordered table-responsive">
            <tr>
                <th>PaymentId</th>
                <th>ActualPaymentAmount</th>
                <th>PaymentAttemptCount</th>
                <th>CurrentPaymentStatusId</th>
            </tr>
            @foreach (TextToPayPaymentDto payment in Model)
            {
                <tr>
                    <td>@payment.PaymentId</td>
                    <td class="text-left">@payment.ActualPaymentAmount</td>
                    <td class="text-left">@payment.PaymentAttemptCount</td>
                    <td class="text-left">@payment.CurrentPaymentStatus</td>
                </tr>
            }
        </table>
    }
</div>