﻿@model Ivh.Web.QATools.Models.MockCommunication.MockCommunicationViewModel
@{
    ViewBag.Title = "Mock Communication Processor";
    Layout = "~/Views/MockCommunication/_Layout.cshtml";
}

@section header1 {
    <div class="row">
        <div class="col-xs-push-3 col-xs-9">
            <!-- ko if: IsActivated -->
            <button type="button" id="btnOff" class="btn on" title="Turn the Mock Payment Processor off">Mock Communication is active</button>
            <!-- /ko -->
            <!-- ko ifnot: IsActivated -->
            <button type="button" id="btnOn" class="btn off" title="Turn the Mock Payment Processor on">Mock Communication is not active</button>
            <!-- /ko -->
            <button type="button" id="btnSend" class="btn" title="Send Test SMS Messages">Send Test SMS Messages</button>
            <input type="text" id="vpGuarantorId" placeholder="Guarantor Id"/>
        </div>
    </div>
}

@section scripts {
    @Scripts.Render("~/bundles/scripts/mockcommunication")
    <script type="text/javascript" src="~/Scripts/MockCommunication/mockcommunication.js"></script>
    <script type="text/javascript">

        $(document).ready(function() {
            var mpp = new window.QaTools.MockCommunication();
            var model = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
            mpp.init(model);
        });

    </script>
}