﻿@model Ivh.Web.QATools.Models.MockCommunication.ReplyToTextMessageViewModel

@using (Html.BeginForm("ProcessReplyToTextMessage", "MockCommunication", FormMethod.Post))
{
    @Html.HiddenFor(m => m.SelectedPhoneNumber)
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3">@Html.DropDownListFor(m => m.SelectedSentToUserId, new SelectList(Model.UsersWithPayByTextCommunication, "SentToUserId", "UserName"), new { @class = "form-control" })</div>
        <div class="col-md-3">
            <div id="text-message">
                @if (Model.SelectedBody != null)
                {
                    @Html.Raw(Model.SelectedBody)
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-5">
            <div class="form replyText">
                <div class="col-md-7"> @Html.TextBoxFor(m => m.ReplyText, new { @class = "form-control" })</div>
                <div class="col-md-1"><button class="btn" type="submit">Reply</button></div>
            </div>
        </div>
    </div>
}

<div id="payment-table">
    @Html.Action("GetPaymentsPartial", "MockCommunication", new { visitPayUserId = Model.SelectedSentToUserId })
</div>
@section Scripts{
    <script src="@BundleTable.Bundles.ResolveBundleUrl("~/bundles/views/MockCommunication")"></script>
    <script type="text/javascript">
            var model = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.UsersWithPayByTextCommunication));
    </script>
}

@Styles.Render("~/bundles/css/mockcommunication")

