﻿
<div id="chatDialog" style="display: none;">
    <div class="panel panel-default chat-panel">
        <div class="panel-heading chat-panel-heading">
            <span id="chatTitle" class="chat-title">@Html.TextRegion(TextRegionConstants.ChatTitle_Loading)</span>
            <div class="btn-group pull-right">
                <button class="btn btn-icon btn-sm chat-panel-button" id="minimizeChatButton" title="@Html.TextRegion(TextRegionConstants.Hide)">
                    <i class="glyphicon glyphicon-chevron-down"></i>
                </button>
                <button class="btn btn-icon btn-sm chat-panel-button" id="endChatButton" title="@Html.TextRegion(TextRegionConstants.ChatButton_EndChat)">
                    <i class="glyphicon glyphicon-remove"></i>
                </button>
            </div>
        </div>
        <div class="panel-body chat-panel-body" id="chat-body">
            <div id="chatIframeOverlay" class="chat-iframe-overlay well">
                <div class="text-center">
                    <span id="chat-status-message">@Html.TextRegion(TextRegionConstants.ChatStatusMessage_Loading)</span>
                    <div id="need-help-now">
                        <span>@Html.TextRegion(TextRegionConstants.ChatPrompt_NeedHelpNow)</span>
                        <br/>
                        <button id="goToHelp" type="button" class="btn btn-primary">@Html.TextRegion(TextRegionConstants.GoToHelpCenter)</button>
                    </div>
                </div>
            </div>
            <iframe id="chatIframe" class="chat-iframe chat-iframe-hidden"></iframe>
        </div>
    </div>
</div>
