﻿<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <!--Content-->
        <div class="modal-content panel-warning">
            <!--Header-->
            <div class="modal-header panel-heading">
                <p class="heading lead" id="errorHeading">Error</p>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>

            <!--Body-->
            <div class="modal-body">
                <div class="text-center">
                    <i class="fa fa-check fa-4x mb-3 animated rotateIn"></i>
                    <p id="errorMessage">
                        There was an error.
                    </p>
                </div>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
