﻿@using System.Configuration
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css/base")
    <title></title>
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>
</body>
</html>
@RenderSection("MyScripts", required: false)
