﻿@using Ivh.Domain.Settings.Interfaces
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QA Tools</title>
    @Styles.Render("~/Content/css/base")
    @RenderSection("styles", required: false)
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            @Html.Partial("_LoginPartial")
            <div class="navbar-header">
                @Html.ActionLink(string.Format("QA Tools - {0}", ((IApplicationSettingsService)DependencyResolver.Current.GetService(typeof(IApplicationSettingsService))).Environment.Value.ToString().ToUpper()), "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-default">
                @Html.Partial("_Nav")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div id="alertMessagePlaceHolder"></div>
        <br/>
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/scripts/jquery")
    @Scripts.Render("~/bundles/scripts/bootstrap")
    @Scripts.Render("~/bundles/scripts/nav")
    @Scripts.Render("~/bundles/scripts/common")
    @Html.Partial("_JavascriptNamespaces")
    @Scripts.Render("~/bundles/scripts/VisitPayBase")
    @Styles.Render("~/bundles/css/jqgrid")
    @Scripts.Render("~/bundles/scripts/jqgrid")
    @Html.Partial("_IdleTimer")
    @RenderSection("scripts", required: false)
</body>
</html>
