﻿<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body">
                <div id="PartialViewContainer">
                </div>
            </div>
            <div class="modal-footer">
                <button id="_Close" type="button" class="btn btn-default hide" data-dismiss="modal">Close</button>
                <button id="_Cancel" type="button" class="btn btn-default hide" data-dismiss="modal">Cancel</button>
                <button id="_Save" type="button" class="btn btn-default hide" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>
@section MyScripts{
    <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/shared/modalControl")"></script>
}
