﻿@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav">

        <li>@Html.ActionLink("HS Data Mgt", "HsGuarantorsView", "Etl")</li>
        <li>@Html.ActionLink("VP Guarantors", "Index", "Guarantors")</li>
        <li>@Html.ActionLink("Last Emails Sent", "ViewLastEmailsSent", "Home")</li>
        <li>@Html.ActionLink("Manage Settings", "Index", "Setting")</li>

        <li>
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Batch Jobs <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="@Url.Action("VpInternalBatchProcesses", "Jobs")" title="Vp Internal Batch Processes">Vp Internal Batch Processes</a></li>
                <li><a href="@Url.Action("PaymentBatchProcessing", "Jobs")" title="Payment Batch Processing">Payment Batch Processing</a></li>
                <li><a href="@Url.Action("HospitalDataSync", "Jobs")" title="Hospital Data Sync">Hospital Data Sync</a></li>
                <li><a href="@Url.Action("Index", "Payments")" title="Hospital Data Sync">Test Payment Processor Connection Failure</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Client Config <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="@Url.Action("InterestRate", "Config")" title="Interest Rate">Interest Rate</a></li>
                <li><a href="@Url.Action("FinancePlanMinPaymentTier", "Config")" title="Finance Plan Min Payment Tier">Finance Plan Min Payment Tier</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Other Tools<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="@Url.Action("SecurePanApi", "SwaggerApi")" target="_blank" title="SecurePan API">SecurePan API</a></li>
                <li><a href="@Url.Action("PaymentApi", "SwaggerApi")" target="_blank" title="Payment API (Papi)">Payment API (PAPI)</a></li>
                <li><a href="@Url.Action("GuestPayApi", "SwaggerApi")" target="_blank" title="GuestPay API">GuestPay API</a></li>
                <li><hr style="margin: 7px 0 7px 0;" /></li>
                <li><a href="@Url.Action("Ach", "ThirdParty")" title="Interest Rate">ACH</a></li>
                <li><a href="@Url.Action("FailPayment", "ThirdParty")" title="Interest Rate">Fail Payment</a></li>
                <li><hr style="margin: 7px 0 7px 0;" /></li>
                <li><a href="@Url.Action("Index", "FileStorage")" title="File Storage">File Storage</a></li>
                <li><a href="@Url.Action("CreatePackage", "FileStorage")" title="Create Package">Create Package</a></li>
                <li><a href="@Url.Action("UploadPackage", "FileStorage")" title="Upload Package">Upload Package</a></li>
                <li><hr style="margin: 7px 0 7px 0;" /></li>
                <!--<li><a href="@Url.Action("Index", "MockPaymentProcessor")" title="Mock Payment Processor" target="_blank">Payment Processor</a></li>-->
                <li><a href="@Url.Action("Index", "MockCommunication")" title="Mock Communication" target="_blank">Mock Communication</a></li>
                <li><hr style="margin: 7px 0 7px 0;" /></li>
                <!--<li>@Html.ActionLink("Elmah", "Index", "Elmah")</li>-->
                <li><hr style="margin: 7px 0 7px 0;" /></li>
                <li><a href="@Url.Action("Manage", "Persona")" title="Manage Personas">Manage Personas</a></li>
                <li><a href="@Url.Action("CreatePersona", "Persona")" title="Create Usability Personas">Usability Personas</a></li>
                <li><hr style="margin: 7px 0 7px 0;" /></li>
                <li><a href="@Url.Action("Index", "Localization")" title="View Localization Info">Localization Info</a></li>
                <li><hr style="margin: 7px 0 7px 0;" /></li>
                <li><a href="@Url.Action("Index", "Trace")" title="Throw Exception on Trace API">Trace Api Handling</a></li>
            </ul>
        </li>

    </ul>
}
