﻿@import '../_variables.scss';
@import '../_mixins.scss';
@import '../../Bootstrap/css/bootstrap/_variables.scss';
@import '../../Bootstrap/css/bootstrap/_mixins.scss';


/////////////////* Homepage updates : /Views/Demo/_PSIndexPartial.cshtml *///////////////////
.psestimates-container {
    margin-top: 30px;

    .grid-psestimates {
        > .grid-row {

            > div {
                height: 63px;

                &:nth-of-type(1) {
                    max-width: 75px;
                    min-width: 75px;
                }

                &:nth-of-type(2) {
                    width: 100%;
                }

                &:nth-of-type(3) {
                    max-width: 24%;
                    min-width: 24%;
                }

                &:nth-of-type(4) {
                    max-width: 20%;
                    min-width: 20%;
                }
            }

            .icon-visit-type, .icon-visit-eob, .icon-visit-facility {
                @include vertical-center();
                float: left;
                margin: 0 0 0 16px;
                height: 32px;

                &.visit-type-hb {
                    width: 32px;
                }
            }

            .downpayment {
                font-size: 13px;

                em {
                    color: #8BC72A;
                    margin-right: 5px;
                }
            }
        }
    }

    .grid-detail {
        .vpgrid {
            font-size: $font-size-small;

            > .grid-row {
                padding: 0 7px 0 7px;

                > div {
                    height: 34px;
                    line-height: 34px;
                }
            }
        }
    }

    .disclaimer {
        font-size: 10px;
        padding: 15px 0 15px 0;
        line-height: 1.2;
    }

    .ps-details {
        font-size: 18px;
        margin: 20px 0 20px 0;
        text-align: center;

        .deductible {
            text-align: center;
            font-size: 18px;
            display: block;
            clear: both;
        }

        .payment-button {
            .btn-primary {
                font-family: $font-family-alt;
                font-size: 19px;
                line-height: 48px;
                font-weight: 400;
                padding: 0px 20px 0px 20px;
            }
        }
    }

    .ps-header {

        > div {
            height: 40px;

            em {
                font-size: 26px;
                text-align: right;
                cursor: pointer;

                &:hover {
                    color: $btn-primary-bg;
                }
            }
        }
    }
}

/////////////////* Arrange Payment Updates:  _PSArrangePayment.cshtml *///////////////////
#estimateModal,
#PayPremiumConfirmModal {
    .modal-body {
        .row {
            > div {
                line-height: 32px;
            }

            &.payment-method {
                span {
                    img {
                        float: left;
                        margin: 2px 7px 0 0;

                        &.logo-provider {
                            margin-top: 6px;
                            max-height: 22px;
                        }
                    }
                }
            }
        }
    }

    .modal-footer {
        position: relative;

        a {
            left: 28px;
            line-height: 18px;
            margin-top: -9px;
            position: absolute;
            top: 50%;

            &:before {
                @include glyphicon('\e257');
                left: -18px;
                margin-top: 1px;
                position: absolute;
            }
        }
    }
}

/////////////////* MyChart Widget in sidebar:  _MyChartSidebarWidgetPartial.cshtml *///////////////////
.MyChartWidget {
    .header {
        padding: 5px 0 0 0 !important;

        img.logo {
            width: 50%;
            margin-left: 10px;
        }
    }
}

/////////////////* SelectHealth widget:  _ViewInsuranceAccrualsWidgetPartial.cshtml  *///////////////////
.DemoWidget {
    padding-top: 15px;
    padding-bottom: 15px;

    .header {
        line-height: 1.2 !important;
        padding-right: 5px !important;

        .text {
            font-weight: 600;
        }

        .small-text {
            line-height: 1.2;
            font-size: 12px;
        }
    }
}

#ViewInsuranceAccrualsModal {
    background: url('Content/Images/Demo/ViewInsuranceAccruals_popup.png') no-repeat center;
    width: 867px;
    height: 556px;
    margin: 0 auto 0;
    margin-top: 10%;

    .close {
        position: absolute;
        top: 0;
        right: 0;
        width: 80px;
        height: 80px;
        z-index: 1000;
    }

    .modal-body {
        h2 {
            text-align: center;
            margin: 0;
        }

        .buttons {
            width: 392px;
            position: absolute;
            top: 210px;
            left: 423px;
        }

        .btn {
            background: #7b7b7b;
            font-weight: 600;
            color: #fff;
            font-size: 21px;
            padding: 10px;
            margin-bottom: 5px;
            width: 100%;
        }
    }

    img {
        margin: 40px 0 0 60px;
        width: 50px;
    }
}

/////////////////* Pay Insurance Premium  *///////////////////
#PayPremiumModal {
    width: 867px;
    height: 556px;
    margin: 0 auto 0;
    margin-top: 10%;
}
