* {
    box-sizing: border-box;
    margin: 0;
    max-width: 100%;
    padding: 0;
}

html {
    font-family: Source Sans Pro, Calibri, Arial, sans-serif;
    font-size: 13pt;
}

body {
    margin: 0;
    line-height: 1.25rem;
    min-width: 1280px;
    width: 100%;
}

.body-bg {
    background: url('/content/images/demo/provider/background.jpg');
    background-size: cover;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
}

.wrapper {
    margin: 0 auto 0 auto;
    width: 1124px;
}

.header {
    background: #fff;
    height: 77px;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 2;
}

.header .header-bg {
    height: 101px;
    background: url('/Content/Images/Demo/provider/provider-header.jpg') no-repeat;
    background-size: contain;
    position: relative;
}

.header .mychart-logo {
    background: url('/content/images/demo/provider/loginlogo.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
    height: 36px;
    margin-top: 24px;
    width: 250px;
}

.main {
    height: 965px;
    background: url('/Content/Images/Demo/provider/provider-body.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    z-index: 2;
}

.main.pay-bill {
    background: url('/Content/Images/Demo/provider/provider-body-bill.jpg') no-repeat;
    background-repeat: no-repeat;
    background-size: contain;
}

.user-left {
    font-size: 12px;
    font-weight: bold;
    margin-left: 272px;
    position: absolute;
    text-align: center;
    top: 52px;
    width: 65px;
}

.user-right {
    display: block;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    right: 37px;
    text-align: left;
    top: 20px;
    width: 65px;
}

#fullpagelink {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
}