﻿@import '../_variables.scss';
@import '../../Bootstrap/css/bootstrap/_variables.scss';
@import '../../Bootstrap/css/bootstrap/_mixins.scss';

#section-phonetext {

    margin: auto;
    position: relative;
    width: 738px;

    div.row.phone-item {
        line-height: 37px;

        > div {
            &:nth-of-type(1) {
                font-weight: bold;
            }

            .text-green {
                font-weight: bold;
            }
        }

        div.no-phone {
            font-style: italic;
        }

        div.phone-number {
            position: relative;
            em {
                color: #555555;
                font-size: 16px;
                position: absolute;
                left: -7px;
                top: 12px;
            }
        }

        div.actions {
            padding-left: 0;
            text-align: right;
            button {
                margin: 0 2px 0 2px;
            }
        }
    }

    hr {
        margin: 20px 0 20px 0;
        &:nth-of-type(1) {
            margin: 7px 0 20px 0;
        }
    }

    .preferences {
        padding: 15px 0 0 0;
        position: relative;
        margin: auto;
        width: 475px;

        &.disabled {
            pointer-events: none; 
            opacity: 0.3;
        }

        > div.preference {
            @include clearfix();
            visibility: hidden;

            > div {
                float: left;
                line-height: 22px;
                margin: 0 0 22px 0;

                &:nth-of-type(1) {
                    position: relative;
                    width: 355px;

                    em.glyphicon {
                        color: #555555;
                        font-size: 16px;
                        left: -24px;
                        position: absolute;
                        top: 4px;
                    }
                }

                &:nth-of-type(2) {
                    text-align: right;
                    width: 120px;
                }
            }
        }
    }
}