﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Web.Patient.Models.KnowledgeBase
@model IList<KnowledgeBaseCategoryQuestionsViewModel>

<div id="knowledge-base-categories-questions">
    <div class="row">
        @foreach (KnowledgeBaseCategoryQuestionsViewModel category in Model.Where(x => x.Questions.Any()))
        {
            <div class="col-xs-4">
                <div>
                    <div class="title">
                        @if (!string.IsNullOrEmpty(category.IconCssClass))
                        {
                            if (category.IconCssClass.StartsWith("glyphicon-", StringComparison.CurrentCultureIgnoreCase))
                            {
                                <em class="glyphicon @category.IconCssClass"></em>
                            }
                        }
                        @category.ContentTitle
                    </div>
                    <ul>
                        @{
                            //For the category, only show the top 2 ranked questions and don't show the close account question.
                            IEnumerable<KnowledgeBaseQuestionViewModel> topRankedQuestionsInCategory = category.Questions
                                                                                                               .Where(q => q.QuestionCmsRegion != CmsRegionEnum.CloseAccountQuestion)
                                                                                                               .OrderByDescending(q => q.Rank)
                                                                                                               .Take(2);
                        }
                        @foreach (KnowledgeBaseQuestionViewModel question in topRankedQuestionsInCategory)
                        {
                            <li>
                                <a href="@Url.Action("Index", "KnowledgeBase", new {categoryId = category.KnowledgeBaseCategoryId, questionId = question.KnowledgeBaseQuestionAnswerId})" title="@Html.Raw(question.QuestionContentBody)">@Html.Raw(question.QuestionContentBody)</a>
                            </li>
                        }
                    </ul>
                    @if (category.Questions.Count > 2)
                    {
                        <div class="more">
                            <a href="@Url.Action("Index", "KnowledgeBase", new { categoryId = category.KnowledgeBaseCategoryId})" title="@Html.TextRegion(TextRegionConstants.SeeMore)">@Html.TextRegion(TextRegionConstants.SeeMore)</a>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>