﻿@using Ivh.Web.Patient.Models.KnowledgeBase
@model IList<KnowledgeBaseQuestionAnswerViewModel>
@{
    string gotoHelpCenter = Html.TextRegion(TextRegionConstants.GoToHelpCenter);
}

<div class="drawer-header">@Html.TextRegion(TextRegionConstants.FrequentlyAskedQuestions)</div>
<div class="drawer-content help-drawer-content">
    @foreach (KnowledgeBaseQuestionAnswerViewModel qa in Model)
    {
        <div class="drawer-item">
            <div class="question text-semi">@Html.CmsRegion(qa.QuestionCmsRegion)</div>
            <div class="answer">@Html.CmsRegion(qa.AnswerCmsRegion)</div>
        </div>
    }
    <div class="flex-auto go-to-help-center">
        <div class="text-center">
            @Html.ActionLink(gotoHelpCenter, "Help", "Home", null, new { @class = "btn btn-primary", title = gotoHelpCenter })
        </div>
    </div>
</div>
