﻿@using Ivh.Web.Patient.Models.KnowledgeBase
@model SearchViewModel
    
<section id="livesearch">
    <form id="searchKnowledgeBase" class="searchKnowledgeBase">
        <div class="container-fluid">
            <div class="row">
                <div class="col col-xs-3 text-right">
                    <span>@Html.TextRegion(TextRegionConstants.HowCanWeHelp)</span>
                </div>
                <div class="col-xs-6">
                    <div id="search" class="input-group search">
                        <span class="input-group-btn">
                            <button type="submit" id="btnSubmitSearch" class="btn btn-primary" data-bind="enable: CanSearch"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                        <input class="form-control typeahead" type="text" placeholder="@Html.TextRegion(TextRegionConstants.SearchTheHelpCenter)" data-bind='value: QueryText, valueUpdate: "afterkeydown"'>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
