﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Web.Patient.Models.KnowledgeBase
@model IList<KnowledgeBaseCategoryQuestionAnswersViewModel>

@{
    string noResultsText = Html.TextRegion(TextRegionConstants.KnowledgeBaseNoResults);
    bool firstQuestion = true;
}
@foreach (KnowledgeBaseCategoryQuestionAnswersViewModel category in Model.Where(x => x.Questions.Any()))
{
    if (firstQuestion)
    {
        firstQuestion = false;
    }
    else
    {
        <br/>
    }

    <div class="question-answer-container">
        <div class="text-semi">
            <p>@category.ContentTitle</p>
        </div>
        
        @foreach (KnowledgeBaseQuestionAnswerViewModel question in category.Questions)
        {
            <div class="question-answer">
                <div class="question">
                    <a href="javascript:;" data-piwik-click data-piwik-event-category="Help Center" data-piwik-event-name="@question.QuestionContentBody">@Html.Raw(question.QuestionContentBody)</a>
                </div>
                <div class="answer">
                    @Html.Raw(question.AnswerContentBody)
                </div>
            </div>
        }
        </div>
}