﻿@using Ivh.Web.Patient.Models.KnowledgeBase
@model KnowledgeBaseViewModel

@{
    Layout = "~/Views/Shared/_LayoutPatient.cshtml";
    string backToHelpCenterText = Html.TextRegion(TextRegionConstants.BackToHelpCenter);
}

@using (Html.BeginVpPageHeading(Html.TextRegion(TextRegionConstants.HelpTopics)))
{
    @Html.VpBarLinks(new List<object>
    {
        Html.ActionLink(backToHelpCenterText, "Help", "Home", null, new {title = backToHelpCenterText}).ToString()
    })
}

@Html.Partial("_LiveSearch", Model.Search)
<hr/>

@{
    string categoryContent = "";
}
<section id="knowledge-base">
    <!-- ko ifnot: DisplaySearchResults -->
    <div class="row">
        <ul class="col-xs-3 category-menu">
            @foreach (KnowledgeBaseCategoryViewModel item in Model.Categories.Where(c => c.KnowledgeBaseSubCategories.Any()))
            {
                bool isActiveCategory = item.KnowledgeBaseCategoryId == Model.ActiveCategoryId.GetValueOrDefault(-1);
                if (isActiveCategory)
                {
                    categoryContent = item.ContentBody;
                }
                string categoryClassName = isActiveCategory ? "active" : "";

                <li class="@categoryClassName">
                    @Html.ActionLink(item.ContentTitle, "Index", new { subCategoryId = 0, categoryId = item.KnowledgeBaseCategoryId })
                    <ul>
                        @foreach (KnowledgeBaseSubCategoryViewModel subCategory in item.KnowledgeBaseSubCategoriesOrdered)
                        {
                            string subcategoryClassName = Model.ActiveSubCategoryId == subCategory.KnowledgeBaseSubCategoryId && !Model.ShowActiveCategoryContent ? "active" : "";
                            <li class="@subcategoryClassName">
                                @Html.ActionLink(subCategory.Name, "Index", new { subCategoryId = subCategory.KnowledgeBaseSubCategoryId, categoryId = 0 })
                            </li>
                        }
                    </ul>
                </li>
            }
        </ul>
        <div class="col-xs-9">
            <div class="question-answer-container">
                @if (Model.ShowActiveCategoryContent)
                {
                    <p>@Html.Raw(categoryContent)</p>
                }
                else
                {
                    foreach (KnowledgeBaseQuestionAnswerViewModel question in Model.QuestionAnswers)
                    {
                        string isExpanded = question.KnowledgeBaseQuestionAnswerId == Model.ActiveQuestionId ? "expanded" : "";
                        <div class="question-answer @isExpanded">
                            <div class="question">
                                <a href="javascript:;" data-piwik-click data-piwik-event-category="Help Center" data-piwik-event-name="@question.QuestionContentBody">@Html.Raw(question.QuestionContentBody)</a>
                            </div>
                            <div class="answer">
                                @Html.Raw(question.AnswerContentBody)

                                <div class="feedback-container" data-question-id="@question.KnowledgeBaseQuestionAnswerId">
                                    <div class="feedback-controls">
                                        <span class="feedback-question">@Html.TextRegion(TextRegionConstants.KnowledgeBaseFeedbackPrompt) </span>
                                        <a href="javascript:;" class="thumbs-up vote-action glyphicon glyphicon-thumbs-up"></a>
                                        <a href="javascript:;" class="thumbs-down vote-action glyphicon glyphicon-thumbs-down"></a>
                                    </div>
                                    <div class="additional-feedback" style="display: none;">
                                        <textarea class="feedback-text" placeholder="@Html.TextRegion(TextRegionConstants.KnowledgeBaseImprovementPrompt)" ></textarea>
                                        <div class="additional-feedback-buttons">
                                            <button class="additional-feedback-submit btn btn-primary">@Html.TextRegion(TextRegionConstants.ButtonSubmit)</button>
                                        </div>
                                    </div>

                                    <div class="feedback-thanks" style="display: none;">@Html.TextRegion(TextRegionConstants.KnowledgeBaseImprovementAcknowledgement)</div>
                                </div>
                            
                            </div>
                        </div>
                    }
                }
            </div>

        </div>
    </div>
    <!-- /ko -->
    <!-- ko if: DisplaySearchResults -->
    <div id="search-results" class="search-results"></div>
    <!-- /ko -->
    <div>
        <p class="text-center">
            @Html.TextRegion(TextRegionConstants.DontSeeAnAnswer) <a href="javascript:;" title="@Html.TextRegion(TextRegionConstants.SubmitCustomerCareRequest)" id="aFaqsContactSupport" data-click="create-support-request">@Html.TextRegion(TextRegionConstants.ClickToSendQuestion)</a>.
        </p>
    </div>
</section>

@Html.Action("HealthEquitySsoSetup", "Sso")

@section scripts {
    <script type="text/javascript">
        (function() {
            window.VisitPay.Localization = window.VisitPay.Localization || {};
            $.extend(window.VisitPay.Localization, {
                NoSearchResults: he.decode('@Html.TextRegion(TextRegionConstants.NoSearchResults)'),
                SearchFor: he.decode('@Html.TextRegion(TextRegionConstants.SearchFor)'),
                SuggestedResults: he.decode('@Html.TextRegion(TextRegionConstants.SuggestedResults)')
            });
        })();
    </script>
    @Scripts.Render("~/bundles/scripts/knowledgebase")
    @Scripts.Render("~/bundles/scripts/sso/healthEquityWidget")
    <script type="text/javascript">
        (function() {
            var knowledgeBase = new window.VisitPay.KnowledgeBase.Main(@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Search.SearchData)));
        })();
    </script>
}