﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Web.Patient.Models
@model Ivh.Web.Patient.Models.Landing.LandingViewModel

@section PageTitle {
    @Html.TextRegion(TextRegionConstants.LoginOrEnroll)
}

<div class="container">
    <section class="limit-width" id="section-landing">
        <div class="row text-center">
            <div class="col-xs-12">
                <h3>@Html.Raw(Model.TitleLeft.ContentTitle)</h3>
                @if (!string.IsNullOrEmpty(Model.TitleLeft.ContentBody))
                {
                    <div class="text-left">@Html.Raw(Model.TitleLeft.ContentBody)</div>
                }
                <p>
                    <strong>@Html.TextRegion(TextRegionConstants.ReceiveAndPaysBillsElectronically)</strong>
                </p>
                <p>
                    <a href="@Url.Action("Index", "Registration")" class="btn btn-primary btn-75">@Html.TextRegion(TextRegionConstants.SignUp)</a>
                </p>
            </div>
        </div>
        <div class="row link-divider text-center">
            <div class="col-xs-12">
                <a href="@ClientDto.AppGuarantorExpressUrlHost" title="@Html.TextRegion(TextRegionConstants.PaymentOneTime)">@Html.TextRegion(TextRegionConstants.PaymentOneTime)</a>
            </div>
        </div>
        <div class="row link-divider"></div>
        <p class="text-center">@Html.TextRegion(TextRegionConstants.AlreadyHaveAnAccountQuestion)</p>
        @Html.Partial("~/Areas/Mobile/Views/Account/_LoginForm.cshtml", new LoginViewModel())
        @Html.Action("ClientSurvey", "Account", new { area = "Mobile" })
    </section>
</div>
