﻿@using Ivh.Application.Core.Common.Dtos.Eob
@model IList<Ivh.Application.Core.Common.Dtos.Eob.EobExternalLinkDto>

<h2>Change Demo Payor</h2>
<br />
@using (Html.BeginForm("UpdateDemoPayer", "Setting", FormMethod.Post, new { 
    id = "demoPayersForm", 
    @class = "row", 
    style = "word-wrap: break-word;",
    autocomplete = "off"}))
{
    <div class="col-xs-2 text-right">
        <label>Select Demo Payor</label>
    </div>
    <div class="col-xs-3">
        <select class="form-control col-xs-12" id="demoPayersSelect" autocomplete="off">
            <option value="">Choose a payor</option>
            @foreach (EobExternalLinkDto externalLink in Model)
            {
                <option value="@externalLink.EobExternalLinkId"
                        data-icon="@externalLink.Icon"
                        data-url="@externalLink.Url">@externalLink.Text</option>
            }
        </select>
    </div>
    <div class="col-xs-1">
        <img id="payorIcon" url=""/>
    </div>
    <div class="col-xs-2">
        <span id="payorText"></span>
    </div>
    <div class="col-xs-2">
        <a id="payorUrl" href=""></a>
    </div>
    <div class="col-xs-2">
        <button class="btn btn-primary" id="btnUpdatePayor" type="submit">Submit Change</button>
    </div>
}
