﻿@model Ivh.Web.QATools.Models.Setting.FacilityUpdateViewModel

@using (Html.BeginForm("UpdateDemoFacility", "Setting", FormMethod.Post, new { autocomplete = "off", enctype = "multipart/form-data" }))
{
    <div class="row">
        @Html.HiddenFor(m => m.FacilityId)
        <div class="col-xs-2">@Model.SourceSystemKey:</div>
        <div class="col-xs-3">@Html.VpTextBoxFor(m => m.FacilityName, new { placeholder = "Name" })</div>
        <div class="col-xs-6">
            @Html.TextBoxFor(x => x.LogoFile, new { type = "file", @class = "form-control", accept = ".jpeg,.jpg,.png" })
            @if (!string.IsNullOrWhiteSpace(Model.LogoFileName))
            {
                <img src="@Model.LogoFileName" style="max-height: 40px;" />
            }
        </div>
        <div class="col-xs-1"><button type="submit" class="btn btn-primary">Update</button></div>
    </div>
}