﻿@using Ivh.Web.QATools.Models.Setting
@model IList<Ivh.Web.QATools.Models.Setting.FacilityUpdateViewModel>

<h2>Update Facilities</h2>
<div class="alert alert-info"><em>it could take up to <strong>5 minutes</strong> for name and logo changes to reflect in the app</em></div>
<br />
@foreach (FacilityUpdateViewModel facility in Model)
{
    @Html.Partial("_UpdateFacility", facility)
    <br />
}