﻿@model Ivh.Web.QATools.Models.Setting.LogoSettingViewModel

<h2>Upload logo</h2>
<br />
<div class="row" style="width: 400px">
    @if ((string)TempData["UploadResult"] == "success")
    {
        <div class="alert alert-success alert-dismissable js-upload-alert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Logo uploaded!</strong>
        </div>
    }
    @if ((string)TempData["UploadResult"] == "fail")
    {
        <div class="alert alert-danger alert-dismissable js-upload-alert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Something went wrong.</strong> Please try reloading another logo.
        </div>
    }

</div>

@using (Html.BeginForm("UpdateLogoSetting", "Setting", FormMethod.Post, new { id = "frmUploadLogo", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div style="margin-bottom: 40px">
        <div class="row">
            <div class="col-md-2 text-right">
                <label>Logo file</label>
            </div>
            <div class="col-md-3 offset-md-3">
                @Html.ValidationMessageFor(x => x.LogoFile)
                @Html.TextBoxFor(x => x.LogoFile, new { type = "file", Text = "foo", @class = "form-control", accept = ".jpeg,.jpg,.png" })
            </div>
            <div class="col-md-3">
                <button type="submit" class="btn btn-primary">Upload</button>
            </div>
        </div>
    </div>
}
