﻿@model Ivh.Web.QATools.Models.Setting.SettingViewModel
@{
    ViewBag.Title = "Settings Management";
}

<h2>Settings Management</h2>
<br />
<div class="row">
    <div class="col-xs-2 text-right">
        <label>Setting</label>
    </div>
    <div class="col-xs-3">
        <select class="form-control col-xs-12" id="settingKeySelect" name="SettingValue">
            <option value="">Choose a setting</option>
            @foreach (KeyValuePair<string, string> editable in Model.EditableManagedSettings)
            {
                <option value="@editable.Value" data-editable="true">@editable.Key</option>
            }
            @foreach (KeyValuePair<string, string> disabled in Model.DisabledManagedSettings)
            {
                <option value="@disabled.Value" data-editable="false">@disabled.Key</option>
            }
        </select>
    </div>
    <div class="col-xs-3">
        <input class="form-control" id="settingValue" />
    </div>
    <div class="col-xs-2">
        <input class="btn btn-primary" id="buttonRestoreSetting" type="button" value="Restore Original Value" />
    </div>
    <div class="col-xs-1">
        <input class="btn btn-primary" id="buttonChangeSetting" type="button" value="Submit Change" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-xs-2 text-right">
    </div>
    <div class="col-xs-2">
        <input class="btn btn-primary" id="buttonRestoreAllSettings" type="button" value="Restore All Settings" />
    </div>
    <div class="col-xs-2">
        <input class="btn btn-primary" id="buttonDemoSettings" type="button" value="Filter Demo Settings" />
    </div>
</div>

<p class="text-right">
    <a href="@Url.Action("ThemeSettings", "Setting")">Go to Theme Settings ></a>
</p>    

<hr />

<div>
    @Html.Partial("_UploadLogo", Model.LogoSettingViewModel)
</div>

<hr />

<div>
    @Html.Action("SelectDemoPayer")
</div>

<hr />

<div>
    @Html.Action("UpdateFacilities")
</div>

@Html.Partial("~/Views/Shared/_SuccessModal.cshtml")
@Html.Partial("~/Views/Shared/_ErrorModal.cshtml")

@section scripts {
    <script type="text/javascript" src="~/Scripts/Setting/setting.js"></script>
}