﻿@using Ivh.Web.QATools.Models.Setting
@model Ivh.Web.QATools.Models.Setting.DemoSettingsViewModel
@{
    ViewBag.Title = "Demo Settings Management";
}
<link href="~/Content/Css/DemoSettings/demo-settings.css" rel="stylesheet" />
<style id="dynamicStyleSheet">

    #paymentButton {
        height: 40px;
    }
    .theme-client-primary {
        background-color: @Model.ColorPalette.PrimaryColor;
      }
    .theme-client-button-payment-bg {
        background-color:@Model.ColorPalette.AccentColor;
        border-color:@Model.ColorPalette.AccentColor;
    }
    .theme-client-button-payment-bg:hover {
        background-color:@Model.ColorPalette.AccentSecondaryColor
    }

    .normal-button {
        height: 30px;
    }
    .theme-client-button-primary-bg {

        background-color:@Model.ColorPalette.PrimarySecondaryColor;
        border-color:@Model.ColorPalette.PrimarySecondaryColor;
    }
    .theme-client-button-primary-bg:hover {
        background-color:@Model.ColorPalette.PrimaryColor;
        border-color:@Model.ColorPalette.PrimaryColor;
    }
    h1.bar {
        color: #ffffff;
        font-family: Raleway,SourceSansPro,Helvetica,Arial,sans-serif;
        font-size: 18px;
        font-weight: 300;
        height: 40px;
        line-height: 40px;
        margin: 0 0 9px 0;
        padding-left: 12px;
        position: relative;
    }
    a {
        text-decoration: underline;
    }
    .theme-client-link-color {
        color:  @Model.ColorPalette.LinkColor;
    }
    .theme-client-link-color:hover {
        color:@Model.ColorPalette.AccentSecondaryColor;
    }
    .theme-client-accent {
        color:@Model.ColorPalette.AccentColor;
    }
    p.theme-client-accent {
        font-size: large;
    }

</style>

<div class="row">
    <div class="col-lg-2">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select Color Palette
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                @foreach (ColorPalette colorPallet in Model.ColorPalettes)
                {
                    <div class="row color-palette-selector" data-color-pallate-name='@colorPallet.PaletteName'>
                        <div style='background-color: @colorPallet.PrimaryColor' data-color-pallate-prop='PrimaryColor' class="col-md-1 color-palette-swatch"></div>
                        <div style='background-color: @colorPallet.PrimarySecondaryColor' data-color-pallate-prop='PrimarySecondaryColor' class="col-md-1 color-palette-swatch"></div>
                        <div style='background-color: @colorPallet.AccentColor' data-color-pallate-prop='AccentColor' class="col-md-1 color-palette-swatch"></div>
                        <div style='background-color: @colorPallet.AccentSecondaryColor' data-color-pallate-prop='AccentSecondaryColor' class="col-md-1 color-palette-swatch"></div>
                        <div style='background-color: @colorPallet.LinkColor' data-color-pallate-prop='LinkColor' class="col-md-1 color-palette-swatch"></div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div style="background-color: @Model.ColorPalette.PrimaryColor" data-color-pallate-prop="PrimaryColor" class="col-md-1 color-palette-swatch"></div>
        <div style="background-color: @Model.ColorPalette.PrimarySecondaryColor" data-color-pallate-prop="PrimarySecondaryColor" class="col-md-1 color-palette-swatch"></div>
        <div style="background-color: @Model.ColorPalette.AccentColor" data-color-pallate-prop="AccentColor" class="col-md-1 color-palette-swatch"></div>
        <div style="background-color: @Model.ColorPalette.AccentSecondaryColor" data-color-pallate-prop="AccentSecondaryColor" class="col-md-1 color-palette-swatch"></div>
        <div style="background-color: @Model.ColorPalette.LinkColor" data-color-pallate-prop="LinkColor" class="col-md-1 color-palette-swatch"></div>
    </div>
</div>

<div class="row palette-preview-container" >

    <div class="col-lg-10" id="palette-preview">
        <h3>Preview</h3>
        <div class="row">
            <div class="col-md-7">
                <h1 class="bar theme-client-primary">Header</h1>
            </div>
            <div class="col-md-4">
                <button id="paymentButton" class="btn btn-primary theme-client-button-payment-bg">Payment Button</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <p class="text-sample">
                    This is what the text would look like on the page.
                </p>
                <p>
                    <a class="theme-client-link-color">This is what a hyperlink would look like</a>
                </p>
                <p class="theme-client-accent">
                    Accent!
                </p>
            </div>
            <div class="col-md-7 button-container">
                <button class="btn btn-primary normal-button theme-client-button-primary-bg">Button</button>
                <button class="btn btn-primary normal-button theme-client-button-primary-bg">Button</button>
            </div>

        </div>
    </div>
</div>
<div class="alert alert-info alert-dismissable js-theme-change-alert" style="display: none;width: 60%">
    <a href="#" class="close" onclick="$('.js-theme-change-alert').hide()" aria-label="close">&times;</a>
    <strong>Update Complete.</strong> 
    <div id="info-message"></div>
</div>
<div class="row formContainer">
    @using (Html.BeginForm("UpdateThemeSettings", "Setting", FormMethod.Post, new { id = "frmUpdateThemeSettings" }))
    {
        @Html.EditorFor(m => m.SettingKeyValues)
        <input type="submit" value="Submit">
    }
</div>

@section scripts {
    <script src="~/Scripts/Libraries/jscolor.min.js"></script>
    <script src="~/Scripts/Setting/theme-settings.js"></script>
    <script>
        var demoSettingColorSwitchApiUrl = '@Url.Action("ThemeSettings", "Setting")';
        var demoSettingUpdateThemeSettings =  '@Url.Action("UpdateThemeSettings", "Setting")';
    </script>
}