﻿<div id="demo-subhead">
    <div class="wrap">
        <div class="report-anchor-menu col-lg-8 col-xs-8">
            <ul>
                <li><a href="#adoption">Adoption and Use</a></li>
                <li><a href="#yeild">Yield and Payments</a></li>
                <li><a href="#portfolio">Portfolio</a></li>
                <li><a href="#satisfaction">User Satisfaction</a></li>
            </ul>
        </div>
        <div class="datechoose col-lg-4 col-xs-4"><a>April-May, 2018</a> <em class="vpicon-calendar"></em></div>
    </div>
</div>
<div id="demo-dashboard">
    <section id="section-demoreports">
        <div class="wrap">
            <div class="adoption report-wrap">
                <a name="adoption" class="anchor-link"></a>
                <img src="~/Content/Images/demo/adoption.jpg" />
            </div>
            <div class="yeild report-wrap">
                <a name="yeild" class="anchor-link"></a>
                <img src="~/Content/Images/demo/yield.jpg" />
            </div>
            <div class="portfolio report-wrap">
                <a name="portfolio" class="anchor-link"></a>
                <img src="~/Content/Images/demo/portfolio.png"/>
            </div>
            <div class="satisfaction report-wrap">
                <a name="satisfaction" class="anchor-link"></a>
                <img src="~/Content/Images/demo/satisfaction.jpg" />
                <br/><br/><br/>
            </div>
        </div>
    </section>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function() {
            $('#header').addClass('demo-sticky');
            $('#content').addClass('demo-fullwidth');
        });

        // Select all links with hashes
        $('a[href*="#"]')
            // Remove links that don't actually link to anything
            .not('[href="#"]')
            .not('[href="#0"]')
            .click(function(event) {
                // On-page links
                if (
                    location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
                        &&
                        location.hostname == this.hostname
                ) {
                    // Figure out element to scroll to
                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                    // Does a scroll target exist?
                    if (target.length) {
                        // Only prevent default if animation is actually gonna happen
                        event.preventDefault();
                        $('.current').removeClass('current');
                        $(this).addClass('current');
                        $('html, body').animate({
                            scrollTop: target.offset().top
                        }, 1000, function() {
                            // Callback after animation
                            // Must change focus!
                            var $target = $(target);
                            $target.focus();
                            if ($target.is(":focus")) { // Checking if the target was focused
                                return false;
                            } else {
                                $target.attr('tabindex', '-1'); // Adding tabindex for elements not focusable
                                $target.focus(); // Set focus again
                            };
                        });
                    }
                }
            });
   </script>
}