﻿@import '../_variables.scss';
@import '../_mixins.scss';
@import '../../../../../Content/Bootstrap/css/bootstrap/_variables.scss';
@import '../../../../../Content/Bootstrap/css/bootstrap/_mixins.scss';
@import '../_mixins.scss';

#section-home {

    .managed-by {
        font-style: italic;
    }

    .balance {
        padding-bottom: 25px;

        h6 {
            font-size: 16px;
            font-weight: bold;
            margin: 0 0 7px 0;
            text-align: center;
        }

        div {
            color: #555555;
            font-size: 48px;
            font-weight: 300;
            line-height: 48px;
            text-align: center;
        }
    }

    .call-to-action-button {
        align-items: center;
        background: $client-button-payment-bg;
        border-color: $client-button-payment-bg;
        box-shadow: none;
        color: #ffffff;
        display: flex;
        font-family: $font-family-alt;
        font-size: 17px;
        font-weight: normal;
        margin: 0 auto 15px auto;
        padding: 0 12px 0 12px;
        text-transform: none;
        text-shadow: none;
        width: 240px;

        &:hover, &:active {
            background: $client-button-payment-bg-hover;
        }

        > em {
            flex-shrink: 1;
            font-size: 26px;
        }

        > span {
            flex-basis: 100%;
            flex-grow: 1;
            height: 48px;
            line-height: 48px;
        }
    }

    .grid-visits {
        display: none;
    }

    .vpgrid-container {
        .vpgrid-header {
            .discount-link {
                float: right;
                text-decoration: underline;
            }

            .total-balance {
                display: none;
            }
        }
    }

    .vpgrid-container + .vpgrid-container {
        margin-top: 20px;
    }

    .widgets {
        margin-top: 20px;

        .widget.btn-grid-link {
            color: $text-color;
            height: auto;
            min-height: 60px;
            overflow: visible;
            padding-right: 15px;
            position: relative;

            &:after {
                display: none;
            }

            > span.header {
                display: block;
                height: 50px;
                line-height: 50px;
                padding-left: 60px;
                padding-right: 32px;
                position: relative;

                > span.count {
                    background: $brand-primary;
                    border-radius: 17px;
                    color: $vp-primary-text;
                    font-size: 18px;
                    font-weight: bold;
                    height: 34px;
                    left: -13px;
                    line-height: 31px;
                    position: absolute;
                    text-align: center;
                    top: -9px;
                    width: 34px;
                    z-index: 2;

                    &.zero {
                        background: $vp-gray-dark;
                    }
                }

                > span.icon {
                    bottom: 0;
                    left: 3px;
                    position: absolute;
                    top: 0;
                    vertical-align: middle;
                    width: 44px;

                    > img, > span.glyphicon, > span.circle {
                        left: 50%;
                        position: absolute;
                        top: 50%;
                        transform: translateX(-50%) translateY(-50%);
                    }

                    > span.circle, > span.glyphicon {
                        color: darken($vp-gray-light, 6.5%);
                        display: block;
                        text-align: center;
                        width: 32px;
                        z-index: 1;
                    }

                    > img {
                        max-height: 44px;
                        max-width: 44px;
                    }

                    > span.circle {
                        border: 2px solid darken($vp-gray-light, 6.5%);
                        border-radius: 22px;
                        font-size: 32px;
                        font-weight: bold;
                        line-height: 40px;
                        width: 44px;
                    }

                    > span.glyphicon {
                        font-size: 34px;
                    }
                }

                > span.text {
                    @include text-overflow();
                    display: block;
                    font-weight: bold;
                }

                &:after {
                    color: $vp-gray-light !important;
                    content: '';
                    font-family: 'Glyphicons Halflings';
                    font-size: 24px;
                    line-height: normal;
                    right: 0;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }

            > div.list {
                display: none;
                font-size: 13px;
                line-height: 32px;
                padding-top: 5px;

                .row {
                    margin-left: -7px;
                    margin-right: -7px;

                    > div {
                        @include text-overflow();
                        line-height: 28px;
                        padding-left: 7px;
                        padding-right: 7px;
                    }
                }
            }

            &.widget-expandable {
                > span.header {
                    &:after {
                        content: '\2b'; // '+';
                    }
                }

                &.expanded {
                    > span.header {
                        &:after {
                            content: '\2212'; // '-'
                        }
                    }
                }
            }

            &.widget-link {
                > span.header {
                    &:after {
                        @include glyphicon('\e164');
                    }
                }
            }

            &.widget-disabled {

                > span.header {
                    line-height: 25px;

                    &:after {
                        display: none;
                    }

                    em {
                        display: block;
                    }

                    .count {
                        background: $vp-gray-dark;
                    }
                }
            }

            &.expanded {
                > div.list {
                    display: block;
                }
            }
        }

        .widget-support-requests {
            p {
                padding-top: 15px;

                a + a {
                    padding-left: 60px;
                }
            }

            p.self-serve-text {
                white-space: normal;
                line-height: normal;
            }
        }

        .widget.btn-grid-link + .widget.btn-grid-link {
            border-top: 1px solid $vp-gray-light;
            margin-top: 15px;
        }
    }
}
