﻿@import '../_variables.scss';
@import '../_mixins.scss';
@import '../../../../../Content/Bootstrap/css/bootstrap/_variables.scss';
@import '../../../../../Content/Bootstrap/css/bootstrap/_mixins.scss';

#overlay-statement-summary {
    .statement-alerts {
        margin-top: 15px;
    }
}

#current-statement-summary {
    line-height: 1.2em;
    margin: auto;
    max-width: $screen-xs;
    position: relative;

    a {
        text-decoration: none;
        font-weight: 600;
    }

    .statement-alerts {
        background: $vp-gray-lightest;
        padding: 10px;
        font-size: 13px;
        line-height: 1.2em;

        ul {
            margin: 0;
            padding: 0;

            li {
                list-style: none;
                margin: 0 0 5px 20px;
                position: relative;

                &:before {
                    left: -20px;
                    position: absolute;
                }

                &.statement-alert-action-required {
                    &:before {
                        color: $state-danger-text-darker;
                        @include glyphicon('\e101');
                    }
                }

                &.statement-alert-information {
                    &:before {
                        @include glyphicon('\e086');
                        color: $vp-gray-dark;
                    }
                }
            }
        }
    }

    .line-items {
        margin: 15px 0 15px 0;

        > div:not(.transactions) {

            @include clearfix();
            border-top: 1px dotted $vp-gray-light;
            padding: 10px 8px 10px 8px;

            > div {
                float: right;
            }
        }

        > div.transactions {
            border-top: 1px dotted $vp-gray-light;
            display: none;
            font-size: $font-size-small;
            padding: 5px 0 5px 30px;

            > div {
                @include clearfix();
                padding: 5px 8px 5px 8px;

                > div {
                    float: right;
                }
            }
        }

        .row {
            padding: 8px;

            .col {
                &:nth-child(even) {
                    text-align: right;
                    float: right;
                }
            }
        }
    }
}
