﻿@{
    string markReadAll = Html.TextRegion(TextRegionConstants.MarkReadAll);
}

<div class="drawer-header">@Html.TextRegion(TextRegionConstants.Notifications)</div>
<div class="drawer-content notifications-drawer-content">
    <!-- ko if: Notifications.Any -->
    <!-- ko foreach: Notifications -->
    <div class="drawer-item" data-bind="css: { 'read': MessageRead }, click: Click">
        <div class="indicator" data-bind="click: MarkAsRead, clickBubble: false"></div>
        <div class="notification">
            <div class="text-semi" data-bind="html: ContentTitle"></div>
            <div data-bind="html: ContentBody"></div>
        </div>
    </div>
    <!-- /ko -->
    <!-- /ko -->
    <!-- ko ifnot: Notifications.Any -->
    <div class="empty-message">
        @Html.TextRegion(TextRegionConstants.NotificationsNone)
    </div>
    <!-- /ko -->
</div>
<!-- ko if: Notifications.Any -->
<div class="drawer-footer flex-auto">
    <div class="text-center">
        <a href="javascript:;" id="btnMarkAllRead" title="@markReadAll" data-bind="click: MarkAllRead">@markReadAll</a>
    </div>
</div>
<!-- /ko -->
