﻿@using Ivh.Common.VisitPay.Enums
@using Ivh.Common.Web.Models.Shared
@model Ivh.Web.Patient.Models.Landing.LandingViewModel
@{
    Layout = "~/Views/Shared/_LayoutAlt.cshtml";
    CmsViewModel cmsLandingContentSso = Model.SsoCmsRegionEnum.HasValue ? Html.CmsModel(Model.SsoCmsRegionEnum.Value) : null;
    CmsViewModel cmsLandingContent1 = Html.CmsModel(CmsRegionEnum.LandingContent1);
    CmsViewModel cmsLandingContent2 = Html.CmsModel(CmsRegionEnum.LandingContent2);
    CmsViewModel cmsLandingContent3 = Html.CmsModel(CmsRegionEnum.LandingContent3);
}

<div class="flex-body">
    @if (cmsLandingContentSso != null && !string.IsNullOrWhiteSpace(cmsLandingContentSso.ContentBody))
    {
        <div class="photo-info-box box">
            <div class="photo-box">
                <img src="/content/client/landing-sso.jpg" alt="@cmsLandingContentSso.ContentTitle" />
            </div>
            <div class="info-box">
                <h2>@cmsLandingContentSso.ContentTitle</h2>
                <p>@Html.Raw(cmsLandingContentSso.ContentBody)</p>
            </div>
        </div>
    }
    @if (cmsLandingContent1 != null && !string.IsNullOrWhiteSpace(cmsLandingContent1.ContentBody))
    {
        <div class="photo-info-box box">
            <div class="photo-box">
                <img src="/content/client/landing-1.jpg" alt="@cmsLandingContent1.ContentTitle" />
            </div>
            <div class="info-box">
                <h2>@cmsLandingContent1.ContentTitle</h2>
                <p>@Html.Raw(cmsLandingContent1.ContentBody)</p>
            </div>
        </div>
    }
    @if (cmsLandingContent2 != null && !string.IsNullOrWhiteSpace(cmsLandingContent2.ContentBody))
    {
        <div class="photo-info-box box">
            <div class="photo-box">
                <img src="/content/client/landing-2.jpg" alt="@cmsLandingContent2.ContentTitle" />
            </div>
            <div class="info-box">
                <h2>@cmsLandingContent2.ContentTitle</h2>
                <p>@Html.Raw(cmsLandingContent2.ContentBody)</p>
            </div>
        </div>
    }
    @if (cmsLandingContent3 != null && !string.IsNullOrWhiteSpace(cmsLandingContent3.ContentBody))
    {
        <div class="photo-info-box box">
            <div class="photo-box">
                <img src="/content/client/landing-3.jpg" alt="@cmsLandingContent3.ContentTitle" />
            </div>
            <div class="info-box">
                <h2>@cmsLandingContent3.ContentTitle</h2>
                <p>@Html.Raw(cmsLandingContent3.ContentBody)</p>
            </div>
        </div>
    }
</div>
<div class="flex-sidebar">
    @Html.Partial("_LoginAltPartial", new Ivh.Web.Patient.Models.LoginViewModel())
</div>
<noscript>@Html.Partial("~/Views/Shared/_BrowserNoJavascript.cshtml")</noscript>