﻿@*
@model Ivh.Web.Patient.Models.Landing.LandingViewModel
@{
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}

<section id="section-landing" class="nojshidden">
    <h1 class="inverse">
        @ClientDto.ClientBrandName
        <br/>
        <em>@Html.CmsLabel("LandingPageTagLine")</em>
    </h1>

    <div class="row title">
        <div class="col-xs-7">
            <div class="row">
                <div class="col-xs-12">
                    <h3>@Html.Raw(Model.TitleLeft.ContentTitle)</h3>
                    @if (!string.IsNullOrEmpty(Model.TitleLeft.ContentBody))
                    {
                        @Html.Raw(Model.TitleLeft.ContentBody)
                    }
                </div>
            </div>
        </div>
        <div class="col-xs-5">
            <div class="row">
                <div class="col-xs-12">
                    <h3>@Html.Raw(Model.TitleRight.ContentTitle)</h3>
                    @if (!string.IsNullOrEmpty(Model.TitleRight.ContentBody))
                    {
                        @Html.Raw(Model.TitleRight.ContentBody)
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row content">
        <div class="col-xs-7">
            @Html.Raw(Model.ContentLeft.ContentBody)
        </div>
        <div class="col-xs-5">
            @Html.Raw(Model.ContentRight.ContentBody)
            <div class="text-right">
                <a href="@ClientDto.AppGuarantorExpressUrlHost" title="@Html.TextRegion(TextRegionConstants.PayNow)" role="button" class="btn btn-primary" id="aPayNow">@Html.TextRegion(TextRegionConstants.PayNow)</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-7">
            <a href="@Url.Action("LearnMore", "Account")" title="@Html.TextRegion(TextRegionConstants.WhyShouldIEnrollInClient)">@Html.TextRegion(TextRegionConstants.WhyShouldIEnrollInClient)</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-7 text-center">
            <div class="row button-row">
                <div class="col-xs-offset-6 col-xs-6 text-right">
                    <a href="@Url.Action("Index", "Registration")" title="@Html.TextRegion(TextRegionConstants.SignUp)" class="btn btn-primary" id="aSignup">@Html.TextRegion(TextRegionConstants.SignUp)</a>
                    <div class="text">@Html.TextRegion(TextRegionConstants.AlreadyHaveAnAccountQuestion) <a href="@Url.Action("Login", "Account")" title="@Html.TextRegion(TextRegionConstants.SignIn)" id="aLogin">@Html.TextRegion(TextRegionConstants.SignIn)</a></div>
                </div>
            </div>
        </div>
    </div>
</section>

<noscript>@Html.Partial("~/Views/Shared/_BrowserNoJavascript.cshtml")</noscript>
*@