﻿
<div id="chatModal" class="modal modal-vcenter fade" role="dialog">
    <div class="modal-dialog chat-modal-dialog">
        <div class="modal-content chat-modal-content">
            <div class="modal-header chat-modal-header">
                <button type="button" class="close chat-dismiss-button" id="chat-dismiss-button">
                    <i class="glyphicon glyphicon-remove"></i>
                </button>
                <h3 class="modal-title chat-modal-title" id="chatTitle">@Html.TextRegion(TextRegionConstants.ChatTitle_Loading)</h3>
            </div>
            <div class="modal-body chat-modal-body">
                <div id="chatIframeOverlay" class="chat-iframe-overlay well">
                    <div class="text-center">
                        <span id="chat-status-message">@Html.TextRegion(TextRegionConstants.ChatStatusMessage_Loading)</span>
                        <div id="need-help-now">
                            <span>@Html.TextRegion(TextRegionConstants.ChatPrompt_NeedHelpNow)</span>
                            <br/>
                            <button id="goToHelp" type="button" class="btn btn-primary">@Html.TextRegion(TextRegionConstants.GoToHelpCenter)</button>
                        </div>
                    </div>
                </div>
                <iframe id="chatIframe" class="chat-iframe chat-iframe-hidden"></iframe>
            </div>
        </div>
    </div>
</div>