﻿@using Ivh.Common.VisitPay.Constants

@{
    Layout = null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Html.TextRegion(TextRegionConstants.GuestPayNotFound)</title>
</head>
<body>
    <div>
        <h2>@Html.TextRegion(TextRegionConstants.GuestPayPageNotFound)</h2>
    </div>
</body>
</html>
