﻿@using Ivh.Common.Web.Models.Shared
@model ContentMenuViewModel

<section id="section-legal-agreements">
    <ul>
        @foreach (ContentMenuItemViewModel item in Model.ContentMenuItems)
        {
            <li><a href="@item.LinkUrl" title="@item.LinkText">@item.LinkText</a></li>
        }
    </ul>
</section>
