﻿@model Ivh.Common.Web.Models.Shared.TextViewModel

<section style="text-align: justify;">
    @if (!Model.IsExport)
    {
        <p style="text-align: center;">@Html.ActionLink("Print Or Save As PDF", "LegalPdf", "Home", new { @class = "btn btn-primary", role = "button", target = "_blank" })</p>
    }
    @Html.Raw(Model.Text)
</section>
