﻿@model Ivh.Common.Web.Models.Shared.TermsOfUseViewModel

<section id="section-terms" style="text-align: justify;">
    @if (!Model.IsExport)
    {
        <p style="text-align: center;">@Html.ActionLink("Print Or Save As PDF", "TermsPdf", "Home", new { @class = "btn btn-primary", role = "button", target = "_blank" })</p>
    }
    <h3>DATE OF LAST MODIFICATION: @Model.UpdatedDate</h3>
    @Html.Raw(Model.Text)
    <h3>DATE OF LAST MODIFICATION: @Model.UpdatedDate</h3>
</section>
