﻿@model Ivh.Common.Web.Models.Shared.ContentMenuViewModel

@section breadcrumbs {
    <ul>
        <li>@ClientDto.ClientBrandName</li>
        <li>Legal Agreements</li>
    </ul>
}

<h1 class="bar">Legal Agreements</h1>
@Html.Partial("_Index", Model)