﻿@using Ivh.Common.VisitPay.Constants
@{
    bool isMobile = Request.RawUrl.ToUpper().StartsWith("/Mobile".ToUpper());
    string redirectUrl = isMobile ? Url.Action("Index", "Home", new {area = "Mobile"}) : Url.Action("Index", "Home");
    
    Layout = isMobile ? "~/Areas/Mobile/Views/Shared/_Layout.cshtml" : "~/Views/Shared/_Layout.cshtml";

    if (isMobile)
    {
        @section pagetitle {
            
        }
    }
    else
    {
        @section linkhome {
            <a href="@redirectUrl" title=""></a>
        }
    }
}

<h1 class="text-center">@Html.TextRegion(TextRegionConstants.PageNotFound)</h1>
<p>&nbsp;</p>
<p class="text-center">@Html.TextRegion(TextRegionConstants.PageNotFoundDescription)</p>
<p class="text-center">
    @Html.Raw(Html.TextRegion(TextRegionConstants.RedirectInSeconds, new Dictionary<string, string> {
        { "[[Seconds]]", "<span id=\"redirect-timer\">5</span>" }
    }))
</p>

@section scripts {
    @Scripts.Render("~/bundles/scripts/error/notfound")
    <script type="text/javascript">
        (function() {
            var notFound = new window.VisitPay.NotFound('@redirectUrl');
        })();
    </script>
}