﻿@model Ivh.Web.QATools.Models.QaToolsDataDeploymentViewModel

<div class="row">
    <h2 class="banner">Deploying @Model.ClientName Demo Data...</h2>    
</div>
<div class="row">
    <p>This might take a minute, depending on the number of processes currently running in Octopus.</p>
</div>
<div id="statusIcon" class="row">
    <div class="loader"></div>
</div>
<br/>
<div class="row">
    <p>If this is taking too long, you can come back later to see the results:</p>
    <a>@Request.Url.AbsoluteUri</a>
</div>
@if (Model != null)
{
    <input id="clientNameId" type="hidden" value="@Model.ClientName" />
}

@Styles.Render("~/bundles/css/resetdata")
@Scripts.Render("~/bundles/scripts/jquery")
@Scripts.Render("~/bundles/scripts/resetdata")
<script>
    checkStatus();        
</script>