﻿@using Ivh.Application.Core.Common.Dtos
@model IList<ExternalLinkDto>

@if (Model.Any())
{
    foreach (ExternalLinkDto link in Model)
    {
        <a class="btn btn-grid-link widget widget-link" href="@link.Url" target="_blank">
            <span class="header">
                <span class="icon">
                    @if (!string.IsNullOrEmpty(link.Icon))
                    {
                        <img src="@link.Icon" alt="@link.Text" />
                    }
                </span>
                <span class="text">@link.Text</span>
            </span>
        </a>
    }
}