﻿@import '../_variables.scss';

#section-statements {
    @extend .limit-width;
    margin-top: 15px;

    #statements-list {
        padding-bottom: 30px;

        .next-statement {
            line-height: 1.2em;
            text-align: center;

            em.glyphicon {
                color: $vp-gray-dark;
                padding-right: 5px;
            }
        }

        .statement-list {
            line-height: 30px;
            padding-top: 15px;

            .grid-row {
                > .col {
                    padding: 0 15px 0 15px;

                    &:nth-of-type(3) {
                        text-align: center;

                        > button {
                            margin-top: 15px;
                        }
                    }
                }
            }

            .dropdown {

                > button {
                    background: #ffffff !important;
                    border: 1px solid $vp-gray-light;
                    border-radius: 0;
                    box-shadow: 0 1px 5px rgba(0,0,0,.2);
                    color: $vp-gray-dark;
                    font-size: 14px;
                    font-weight: normal;
                    margin: -1px 0 0 0;
                    opacity: 1;
                    text-align: left;
                    position: relative;
                    width: 100%;

                    > span {
                        &.caret {
                            position: absolute;
                            right: 9px;
                            top: 11px;
                        }
                    }

                    &:after {
                        content: '';
                    }
                }

                > ul {
                    border-color: $vp-gray-light;
                    border-radius: 0;
                    border-top: 0;
                    font-size: 14px;
                    line-height: 32px;
                    margin-bottom: 30px;
                    margin-top: -4px;
                    width: 100%;

                    > li {
                        cursor: pointer;
                        padding: 0 12px 0 12px;

                        > span {
                            &:nth-of-type(1) {
                                float: right;
                            }
                        }

                        &.active, &:hover {
                            background: $dropdown-link-hover-bg;
                        }

                        &.archived-separator {
                            background: #ffffff;
                            border-bottom: 2px solid $vp-gray-light;
                            cursor: default;
                            margin: 13px 10px 13px 10px;
                            padding: 0;
                            position: relative;

                            > em {
                                background: #ffffff;
                                color: $vp-gray-dark;
                                height: 30px;
                                line-height: 30px;
                                left: 50%;
                                margin-left: -70px;
                                position: absolute;
                                text-align: center;
                                top: -15px;
                                width: 140px;
                            }
                        }
                    }
                }
            }
        }
    }
}

#section-itemizations {
    margin-bottom: 15px;

    #gridItemizations {
        .grid-row {
            .col {
                padding-left: 0;
            }

            .vertical-stacked-group {
                padding-top: 10px;

                label {
                    position: relative;
                    display: block;
                    font-size: 11px;
                    font-weight: 500;
                    text-transform: uppercase;
                }

                span {
                    position: relative;
                    display: block;
                    @include text-overflow();
                }
                //Don't show the download action label on mobile
                .download-action-label {
                    display: none;
                }
            }

            .discharge-date {
                max-width: 120px;
                min-width: 120px;
            }

            .encounter {
                max-width: 200px;
                min-width: 200px;
            }

            .patient {
                max-width: 120px;
                min-width: 120px;
            }

            .facility {
                max-width: 200px;
                min-width: 200px;
            }

            .download-link {
                width: 320px;
                text-align: right;
            }
        }
    }
}
