﻿@import '../_variables.scss';

#section-phone-text {

    .text-green {
        font-weight: 600;
    }

    .preferences {

        &.disabled {
            pointer-events: none;
            opacity: 0.3;
        }

        > div {
            border-top: 1px solid $vp-gray-light;
            height: 60px;
            font-size: 13px;
            font-weight: 600;
            padding-bottom: 10px;
            padding-top: 10px;
            position: relative;

            &:last-of-type {
                border-bottom: 1px solid $vp-gray-light;
            }
            
            > span.click {
                position: absolute;
                bottom: 0;
                top: 0;
                left: 0;
                right: 0;
                z-index: 10;
            }
        }
    }
}

#div-phone-edit {
    .activate {
        > a {
            font-size: 16px;
            padding-right: 25px;
            padding-left: 0;
        }
    }
}

#div-sms-acknowledgement {
    padding-left: 0px !important;
    padding-right: 0px;

    div {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    label[for=ActivateTextAgreed] {
        display: inline !important;
    }
     label[for=ClientTermsOfUseAgreed] {
        display: inline !important;
    }
}
