﻿@using Ivh.Web.QATools.Models
@model Ivh.Web.QATools.Models.FinancePlanMinPaymentTierViewModel

@{
    ViewBag.Title = "Finance Plan Minimum Payment Tiers";
}
<h1>Finance Plan Minimum Payment Tiers</h1>
<hr />
<div class="row">
    <div class="col-md-10">
        @using (Html.BeginForm("CreateFinancePlanMinPaymentTier", "Config", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <div class="form-group">
                @Html.LabelFor(m => m.FinancePlanMinimumPaymentTierId, new { @class = "col-md-2 col-xs-6" })
                <div class="col-xs-4">
                    @Html.TextBoxFor(m => m.FinancePlanMinimumPaymentTierId, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ExisitingRecurringPaymentTotal, new { @class = "col-md-2 col-xs-6" })
                <div class="col-xs-4">
                    @Html.TextBoxFor(m => m.ExisitingRecurringPaymentTotal, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.MinimumPayment, new { @class = "col-md-2 col-xs-6" })
                <div class="col-xs-4">
                    @Html.TextBoxFor(m => m.MinimumPayment, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-primary" value="Submit" />
                </div>
            </div>
        }
    </div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div class="col-xs-8">
        <section>
            <table class="table">
                <thead class="thead">
                    <tr class="thead">
                        <td>@Html.LabelFor(m => m.FinancePlanMinimumPaymentTierId)</td>
                        <td>@Html.LabelFor(m => m.ExisitingRecurringPaymentTotal)</td>
                        <td>@Html.LabelFor(m => m.MinimumPayment)</td>
                        <td></td>
                    </tr>
                </thead>
                @foreach (var financePlanMinPaymentTier in Model.FinancePlanMinPaymentTiers)
                {
                    <tr>
                        <td>@financePlanMinPaymentTier.FinancePlanMinimumPaymentTierId</td>
                        <td>@financePlanMinPaymentTier.ExisitingRecurringPaymentTotal</td>
                        <td>@financePlanMinPaymentTier.MinimumPayment</td>
                        <td>@Html.ActionLink("Delete", "DeleteFinancePlanMinPaymentTier", new { id = financePlanMinPaymentTier.FinancePlanMinimumPaymentTierId })</td>
                    </tr>
                }
            </table>
        </section>
    </div>

</div>
