﻿@using Ivh.Web.QATools.Models
@model Ivh.Web.QATools.Models.InterestRateViewModel

@{
    ViewBag.Title = "Interest Rates";
}
<h1>Interest Rates</h1>
<hr />
<div class="row">
    <div class="col-md-10">
        @using (Html.BeginForm("CreateInterestRate", "Config", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <div class="form-group">
                @Html.LabelFor(m => m.InterestRateId, new { @class = "col-md-2 col-xs-6" })
                <div class="col-xs-4">
                    @Html.TextBoxFor(m => m.InterestRateId, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.DurationRangeStart, new { @class = "col-md-2 col-xs-6" })
                <div class="col-xs-4">
                    @Html.TextBoxFor(m => m.DurationRangeStart, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.DurationRangeEnd, new { @class = "col-md-2 col-xs-6" })
                <div class="col-xs-4">
                    @Html.TextBoxFor(m => m.DurationRangeEnd, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Rate, new { @class = "col-md-2 col-xs-6" })
                <div class="col-xs-4">
                    @Html.TextBoxFor(m => m.Rate, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.DisplayText, new { @class = "col-md-2 col-xs-6" })
                <div class="col-xs-4">
                    @Html.TextBoxFor(m => m.DisplayText, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-primary" value="Submit" />
                </div>
            </div>
        }
    </div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div class="col-xs-8">
        <section>
            <table class="table">
                <thead class="thead">
                    <tr class="thead">
                        <td>@Html.LabelFor(m => m.InterestRateId)</td>
                        <td>@Html.LabelFor(m => m.DurationRangeStart)</td>
                        <td>@Html.LabelFor(m => m.DurationRangeEnd)</td>
                        <td>@Html.LabelFor(m => m.Rate)</td>
                        <td>@Html.LabelFor(m => m.DisplayText)</td>
                        <td></td>
                    </tr>
                </thead>
                @foreach (InterestRateViewModel interestRate in Model.InterestRates)
                {
                    <tr>
                        <td>@interestRate.InterestRateId</td>
                        <td>@interestRate.DurationRangeStart</td>
                        <td>@interestRate.DurationRangeEnd</td>
                        <td>@interestRate.Rate.ToString("P4")</td>
                        <td>@interestRate.DisplayText</td>
                        <td>@Html.ActionLink("Delete", "DeleteInterestRate", new { id = interestRate.InterestRateId })</td>
                    </tr>
                }
            </table>
        </section>
    </div>

</div>
