﻿@using Ivh.Common.VisitPay.Constants
@{
    Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";
}

<div id="section-register">
    <steps-component></steps-component>
    <keep-alive>
        <router-view v-on:records-complete="onRecordsComplete"
                     v-on:account-ready="onAccountReady"
                     v-on:account-complete="onAccountComplete"
                     v-on:terms-complete="onTermsComplete">
        </router-view>
    </keep-alive>
</div>

@section scripts {
    @Html.Partial("_StepsComponent")
    @Html.Partial("_RegisterSettings")
    @Scripts.Render(
        "~/bundles/scripts/vuejs", 
        "~/bundles/mobile/scripts/payment/paymentmethods", 
        "~/bundles/mobile/scripts/registration/register")
}

@section bottom {
    @Html.Partial("~/Areas/Mobile/Views/Payment/_PaymentMethodDetail.cshtml")
    @Html.Partial("_RegisterSampleStatement")
    @Html.Partial("_RegistrationTimer")

    <div id="overlay-register-step0" class="overlay modern-overlay">
        @Html.Partial("_RegisterStep0")
        <div class="modern-overlay-confirm text-center">
            <button type="button" class="btn btn-primary" id="btnStartRegistration" data-piwik-click data-piwik-event-category="Registration" data-piwik-event-name="Start Registration (step 0)">@Html.TextRegion(TextRegionConstants.StartRegistration)</button>
        </div>
    </div>

    <div id="overlay-register-summary" class="overlay modern-overlay" style="display:none">
            <div class="modal-body">
                <div id="overlay-register-summary-content" class="text-left"></div>
            </div>
    </div>

}
