﻿#section-landing {
    h3 {
        font-size: 18px;
        font-weight: bold;
        margin: 0 0 15px 0;
    }
    form {
        button[type=submit] {
            @extend .btn-small;
        }
    }
}