﻿@import '../_variables.scss';
@import'../_mixins.scss';

.modal-healthequity {

    .modal-body {
        $top: 25px;
        $logo-height: 70px;
        $logo-width: 957/248 * $logo-height;

        background-image: url('/Content/Images/healthEquity-sso-logo.png'); //957x248
        background-color: transparent;
        background-position: center $top;
        background-repeat: no-repeat;
        background-size: $logo-width $logo-height;
        padding-top: $top + $logo-height + $top;

        h1 {
            font-size: $font-size-base;
            font-weight: bold;
            margin-top: 0;
        }

        .terms-container {
            border: 1px solid $vp-gray-light;
            height: 350px;
            overflow-y: scroll;
            padding: 10px;
        }
    }

    &.modal-healthequitynosso {

        .modal-body {
            #aMore {
                position: relative;

                &:after {
                    right: -18px;
                    position: absolute;
                }

                &:not(.expanded) {
                    &:after {
                        @include glyphicon('\e258');
                    }
                }

                &.expanded {
                    &:after {
                        @include glyphicon('\e259');
                    }
                }
            }
        }

        .modal-footer {
            position: relative;

            > a {
                &:nth-of-type(1) {
                    left: 28px;
                    line-height: 18px;
                    margin-top: -9px;
                    position: absolute;
                    top: 50%;

                    &:before {
                        @include glyphicon('\e257');
                        left: -18px;
                        margin-top: 1px;
                        position: absolute;
                    }
                }

                &:nth-of-type(2) {
                    line-height: 18px;
                    margin-top: -9px;
                    position: absolute;
                    right: 15px;
                    top: 50%;
                }
            }
        }
    }

    &.modal-healthequitysso {

        .balances {

            &.loading {
                color: $vp-gray-light;

                .separator {
                    hr {
                        border-color: $vp-gray-lighter !important;
                    }
                }

                .balance-loading {
                    background: url('/Content/Images/loading.gif');
                    background-position: center top;
                    background-repeat: no-repeat;
                    background-size: 30px;
                    color: $text-color;
                    display: block;
                    font-style: italic;
                    height: 100px;
                    padding-top: 45px;
                    text-align: center;
                }
            }

            &:not(.loading) {
                .balance-loading {
                    display: none;
                }
            }

            > div.row {
                &:not(.separator) {
                    > div {
                        &:nth-of-type(1) {
                            padding-right: 0;
                        }

                        &:nth-of-type(2) {
                            text-align: right;
                        }
                    }
                }

                #divHqyBalanceMessage {
                    position: relative;

                    > div {
                        left: 15px;
                        position: absolute;
                        right: 15px;
                        top: 0;

                        &.balance-na {
                            font-size: $font-size-small;
                            font-style: italic;
                        }

                        &.balance-current {
                            font-size: $font-size-small;
                        }
                    }
                }

                &.separator {
                    hr {
                        border-color: $vp-gray-dark;
                        border-top-width: 2px;
                        margin-bottom: 4px;
                        margin-top: 7px;
                    }
                }

                &.sum {
                    > div {
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

.modal-healthequitydontshowwidgetsso {
    .terms {
        max-height: 300px;
        overflow: scroll;
    }
}