﻿#section-sso-settings {
    table.static-grid {
        tbody {
            > tr {
                > td {
                    .toggle {
                        margin-top: -3px;
                    }
                }
            }
        }
    }
}
