﻿#wrapper {
  left: 120px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  width: 200px;
  left: 100px;
  background: #000;
  position: fixed;
  height: 100px;
  overflow-y: auto;
  z-index: 1000;
  border-radius: 10px;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 100px;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (max-width:767px) {

    #wrapper {
      padding-left: 0;
    }

    #sidebar-wrapper {
      left: 0;
    }

    #wrapper.active {
      position: relative;
      left: 100px;
    }

    #wrapper.active #sidebar-wrapper {
      left: 250px;
      width: 250px;
      transition: all 0.4s ease 0s;
    }

}