﻿#frmResestDemoUser select {
  margin-bottom: 10px;
}

#btnResetDemoUser {
    margin-top: 15px;
}

#reset-user-container {
    padding: 20px 0 0 0;
}

#reset-user-container h4 {
    padding:0;
}

#reset-user-message {
    font-size: large;
    padding-bottom: 15px;
}
    .success {
        color: green;
    }

.error {
    color: #a94442;
}