﻿@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('/fonts/glyphicons-halflings-regular.eot');
    src: url('/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('/fonts/glyphicons-halflings-regular.woff') format('woff'), url('/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.secure-pan-frame {
    max-width: 280px;
    padding: 0;
    overflow: hidden;
}

    .secure-pan-frame.focus {
        border-color: #66afe9;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
        box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.6);
    }

.marginBottom-0 {
    margin-bottom: 0;
}

.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu > .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        -webkit-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px 6px;
        border-radius: 0 6px 6px 6px;
    }

    .dropdown-submenu > a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #cccccc;
        margin-top: 5px;
        margin-right: -10px;
    }

    .dropdown-submenu:hover > a:after {
        border-left-color: #555;
    }

    .dropdown-submenu.pull-left {
        float: none;
    }

        .dropdown-submenu.pull-left > .dropdown-menu {
            left: -100%;
            margin-left: 10px;
            -webkit-border-radius: 6px 0 6px 6px;
            -moz-border-radius: 6px 0 6px 6px;
            border-radius: 6px 0 6px 6px;
        }

.input-validation-error {
    -webkit-box-shadow: 0 0 2px #a94442 !important;
    border-color: #a94442 !important;
    box-shadow: 0 0 2px #a94442 !important;
    color: #a94442 !important;
}

body > .navbar.navbar-inverse {
    font-size: 12px;
}

    body > .navbar.navbar-inverse .navbar-brand {
        font-size: 16px;
    }

.form-control, .btn {
    border-radius: 0;
}

/* vuetable */
.VueTables__limit button {
    height: auto !important;
    font-family: Verdana;
    font-size: 10px;
    padding: 6px 10px 6px 10px;
    text-transform: uppercase;
}

.VueTables {
    font-family: Verdana;
    font-size: 11px;
}

.VueTables__search input {
    display: block;
    font-family: Verdana;
    font-size: 12px;
    height: auto !important;
    padding: 5px 8px 5px 8px;
    min-width: 0 !important;
    width: 100% !important;
}

.VueTables__limit button + button {
    margin-left: 5px;
}

.VueTables__table {
    margin-bottom: 0;
}

    .VueTables__table > thead > tr > th, .VueTables__table > tbody > tr > td, .VueTables__table > tfoot > tr > td {
        line-height: 1em;
        padding: 6px;
        vertical-align: middle;
    }

        .VueTables__table > thead > tr > th > .VueTables__heading {
            float: left;
            max-width: calc(100% - 15px);
            max-height: 27px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-break: break-all;
        }

    .VueTables__table > tbody > tr > td {
        white-space: nowrap;
    }

    .VueTables__table td label {
        display: block;
        margin: 0;
        padding: 0;
    }

    .VueTables__table td input[type=checkbox] {
        display: block;
        margin: 0;
        padding: 0;
    }

.VuePagination__pagination {
    margin-bottom: 0;
}

.VuePagination__count {
    margin-top: 15px;
}

.rotate {
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
