﻿#create-user-container {
    padding: 20px 0 0 0;
}

#create-user-container select {
    margin-bottom: 10px;
}

#btnCreatePersona {
    margin-top: 15px;
    margin-bottom: 15px;
}

#btnRefreshPassword {
    margin-top: 25px;
}

#create-user-container h4 {
    padding: 0;
}

#persona-user-message {
    font-size: large;
    padding-bottom: 15px;
}
.success {
    color: green;
}

.error {
    color: #a94442;
}
