﻿section#arrange-payment div#arrange-payment-ribbon ul { list-style: none; margin: 0; padding: 0; }

section#arrange-payment div#arrange-payment-ribbon ul > li { float: left; margin: 0; padding: 0; }

/*# sourceMappingURL=arrange-payment.css.map */