﻿@import '../_variables.scss';
@import '../../Bootstrap/css/bootstrap/_variables.scss';

#section-paymentspending {
    .ui-jqgrid-labels {
        th {
            &:last-of-type {
                div {
                    text-align: center;
                }
            }
        }
    }

    .ui-jqgrid-btable {
        > tbody {
            > tr {
                > td {
                    &:last-of-type {
                        a + a {
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
    }

    .ui-jqgrid-sortable {
        cursor: default;
    }
}

#section-paymenthistory {
    margin-top: 42px;

    .jqGridFilter {
        margin-bottom: 0;

        > .alert {
            top: -84px !important;
        }

        > .row {
            > div {
                &:nth-of-type(1),
                &:nth-of-type(2),
                &:nth-of-type(4) {
                    width: 129px;
                }

                &:nth-of-type(3) {
                    width: 173px;
                }

                &:nth-of-type(5) {
                    width: 150px;
                }

                &:nth-of-type(6) {
                    width: 214px;

                    > div {
                        &.input-group.date {
                            float: left;
                            margin: 3px 8px 0 0;
                            width: 96px;
                        }

                        &:nth-of-type(2) {
                            margin-right: 0 !important;
                        }
                    }
                }

                &:nth-of-type(7) {
                    padding-left: 15px;
                    width: 78px;
                }

                .validation-summary-errors {
                    > span {
                        padding-bottom: 0;
                    }

                    > ul {
                        display: none;
                    }
                }
            }
        }
    }

    tr.ui-jqgrid-labels {
        > th {
            &:nth-of-type(7),
            &:nth-of-type(8) {
                > div {
                    line-height: 18px;

                    > span.s-ico {
                        > .ui-icon-asc {
                            margin-top: -1px;
                        }

                        > .ui-icon-desc {
                            margin-top: 5px;
                        }
                    }
                }
            }

            &:nth-of-type(10) {
                padding-right: 7px;

                > div {
                    text-align: center;
                }
            }
        }
    }

    > div.payment-logo {
        margin: $grid-gutter-width 0 $grid-gutter-width/2 0;
        text-align: center;
    }
}

#modalPaymentDetail {
    .modal-body {
        max-height: none !important;
    }

    .modal-header {
        button {
            position: relative;
            z-index: 2;
        }

        .modal-title {
            position: relative;
            z-index: 1;

            .export-excel {
                position: absolute;
                right: 35px;
                top: 5px;
            }
        }
    }

    .details {
        width: 100%;
        margin-bottom: 15px;

        > colgroup {
            > col {
                &:nth-of-type(1) {
                    width: 40%;
                }

                &:nth-of-type(2) {
                    width: 60%;
                }
            }
        }

        td {
            line-height: 22px;
            padding-left: 20px;

            a.glyphicon {
                float: left;
                margin-left: -20px;
                margin-top: 4px;
                margin-right: 7px;
            }
        }
    }

    .ui-jqgrid-bdiv {
        height: auto !important;
        max-height: calc(100vh - 350px);
        min-height: 46px;
        overflow-y: scroll !important;
    }
}

#modalPaymentFinancePlans {
    .ui-jqgrid-bdiv {
        height: auto !important;
        max-height: calc(100vh - 350px);
        min-height: 46px;
        overflow-y: scroll !important;
    }
}

#modalPaymentEdit {
    > .modal-dialog {
        width: 782px !important;
    }

    #section-paymentmethodslist {
        margin-left: -15px;
        margin-right: -15px;

        .col-xs-9 {
            width: 70%
        }

        .col-xs-3 {
            width: 30%;
            padding-left: 0;
        }
    }

    .option {
        margin-bottom: $grid-gutter-width/2;

        > a {
            display: inline-block;
            position: relative;

            &:after {
                font-family: 'Glyphicons Halflings';
                content: '\e080';
                position: absolute;
                right: -20px;
                text-decoration: none;
                top: 1px;
            }

            &.active {
                &:after {
                    content: '\e114';
                }
            }
        }

        > div {
            margin-top: $grid-gutter-width/2;
            padding-bottom: $grid-gutter-width/2;

            form {
                .row {
                    > div {
                        white-space: nowrap;

                        textarea {
                            height: 70px;
                        }
                    }
                }
            }
        }
    }

    .input-group.date {
        width: 90px;

        .form-control[readonly] {
            background: inherit;
            border-color: #667cb1;
            color: inherit;
        }
    }
}
