﻿@import '../_variables.scss';
@import '../../Bootstrap/css/bootstrap/_mixins.scss';

#section-paymentmethodslist {

    hr {
        margin: 7px 0 7px 0;

        &:nth-of-type(2) {
            margin: 30px 0 30px 0;
        }
    }

    .container {
        max-width: 100%;
    }

    .row.account-heading {
        p {
            text-align: left;
        }

        button {
            width: 156px;
        }
    }

    .row.account-item {
        line-height: 32px;
        position: relative;

        > label.col-xs-6 {
            display: block;
            overflow: hidden;
            white-space: nowrap;
            -ms-text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;

            img, span, a {
                padding: 0 4px 0 0;
            }

            input[type=radio] {
                float: left;
                margin-right: 7px;
                margin-top: 11px;
            }

            span.expiration {
                display: inline-block;
                width: 104px;
            }
        }

        > div.col-xs-6 {
            > div {
                float: left;
                width: 290px;

                label {
                    float: right;
                }
            }

            .hsaType {
                float: left;
                width: 185px;
                min-height: 1px;
                text-align: left;
                padding-left: 32px;
                position: relative;

                img {
                    max-height: 22px;
                    position: absolute;
                    left: 0;
                    top: 6px;
                }
            }

            button {
                margin: 0 2px 0 2px;

                &:first-of-type {
                    margin-left: 10px;
                }
            }
        }

        .is-primary {
            color: green;
            padding-left: 24px;
            position: relative;

            &:after {
                border-color: green;
                border-style: solid;
                border-width: 0 0 3px 3px;
                display: block;
                content: '';
                height: 7px;
                left: 7px;
                margin-top: 0;
                opacity: 1;
                position: absolute;
                top: 50%;
                transform: rotate(-45deg);
                transform-origin: bottom left;
                width: 16px;
                z-index: 2;
            }
        }
    }
}

.modal-paymentmethod {
    // keep this above other modals
    z-index: 1062;

    .row.card-number {
        > div:nth-of-type(2) {
            position: relative;

            > div {
                position: absolute;
                right: 15px;
                top: -4px;

                img {
                    display: block;
                    min-height: 34px;
                    max-height: 34px;
                }
            }
        }
    }

    .glyphicon-question-sign {
        font-size: 16px;
        margin-left: 12px;
        text-decoration: none !important;
        top: 3px;
    }

    .checkbox-tip {
        margin-left: 6px;
    }

    .single-use-alert {
        margin-bottom: 0;
    }

    .modal-body {
        min-height: 340px;
        position: relative;

        .device-prompt, .device-error {
            background: #ffffff;
            bottom: 0;
            display: none;
            left: 0;
            padding: 30px;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 100;
        }

        .device-prompt {
            img {
                margin-right: 15px;
            }
        }

        .device-error {

        }
    }
}

.modal-paymentmethod + .modal-backdrop {
    // keep this above other modals
    z-index: 1061;
}