﻿@using Ivh.Common.VisitPay.Constants
@model Ivh.Common.Web.Models.Itemization.ItemizationSearchFilterViewModel

<form autocomplete="off" class="container jqGridFilter" id="frmItemizationsFilter">
    <div class="row">
        <div class="col">
            @Html.LabelFor(m => m.PatientName)<a href="javascript:;" class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="right" title="@Html.TextRegion(TextRegionConstants.PatientDefinition)"></a>
        </div>
        <div class="col">
            @Html.LabelFor(m => m.FacilityCode)<a href="javascript:;" class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="right" data-html="true" title="@Html.TextRegion(TextRegionConstants.FacilityDefinition)"></a>
        </div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col text-right">
            <button type="submit" class="btn btn-primary" id="btnGridFilterSubmit">@Html.TextRegion(TextRegionConstants.ButtonRun)</button>
        </div>
    </div>
    <div class="row">
        <div class="col">@Html.DropDownListFor(m => m.PatientName, Model.Patients, "All", new { @class = "form-control", data_bind = "value: Filter.PatientName" })</div>
        <div class="col">@Html.DropDownListFor(m => m.Facilities, Model.Facilities, "All", new { @class = "form-control", data_bind = "value: Filter.FacilityCode" })</div>
        <div class="col text-right">@Html.LabelFor(m => m.DateRange)</div>
        <div class="col">@Html.DropDownListFor(m => m.DateRange, Model.DateRanges, new { @class = "form-control", data_bind = "value: Filter.DateRange" })</div>
        <div class="col text-right">
            <button type="button" class="btn btn-primary" id="btnGridFilterReset" data-reset="true">@Html.TextRegion(TextRegionConstants.ButtonReset)</button>
        </div>
    </div>
    @Html.ValidationSummary(Html.TextRegion(TextRegionConstants.ValidationInvalidDateRange), true)
</form>