﻿body {
    font-family: Helvetica, Geneva, sans-serif;
    background-color: #e7e7e7;
    color: #212121;
}
li{
    list-style: none;
}

li:hover{
    color: #70108f;
    cursor: pointer;
}

li > div{
    display:inline-grid;
}

.content {
    min-width: 1030px;
    max-width: 1030px;
    width: 100%;
    margin: auto;
}

li > div:nth-of-type(2){
    float: right;
    color: #70108f;
}

ul{
    list-style: none;
}

.header > img:last-of-type{
    float:right;
}

.header > span {
    position: absolute;
    right: 10px;
    top: 55px;
}

.header > span > a {
    text-decoration: none;
}

.nav-bar{
    background-color: #3e3e3e;
    color: #e7e7e7;
    border-top: 5px solid #70108f;
    margin: 0 -10px 0 -10px;
}

.nav-bar ul {

    display: inline-flex;
}

.nav-bar ul li {
    padding: 8px;
}

.nav-bar > ul:nth-of-type(2) {
    float:right;
}
.nav-bar > ul > li > img {
    transform: scale(0.8);
    position: relative;
    top:-20px;
}

.container {
    background-color: #f7f7f7;
    border-radius: 5px;
    padding: 8px;
    margin: 16px 8px 32px 24px;
}

.container > h2{
    margin: 4px;
    color: #70108f;
    font-family: Georgia, serif
}
.container > ul > li {
     padding: 8px;
     border-bottom: 2px solid #e7e7e7;
}
.container > ul > li:last-of-type {
        border-bottom: none;
}

.sideBar {
    width: 350px;
    float: left;
    margin: 8px;
}

.SplashPage{
    height: 332px;
    margin-top:8px;
}

.SplashPage > img{
    border-radius: 5px;
    margin-left:16px;
    position: absolute;
    top: 182px;
}

.row{
    display: inline-block;
    margin-left: -8px;
}

.row > .container:first-of-type {
    float: left;
    width:250px;
}

.row > .container:last-of-type{
    float:right;
    width:250px;
}

#footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

#footer > .nav-bar {
    border-top: none;
}