﻿#demo-subhead {
    color: #fff;
    position: fixed;
    top: 80px;
    left: 0;
    background-color: #025290;
    width: 100%;
    padding: 20px 0 20px 0;
    height: 65px;
    font-size: 18px;
    text-transform: uppercase;
    vertical-align: middle;
    letter-spacing: 1px;

    .wrap {
        width: 1300px;
        margin: 0 auto 0;
    }

    a {
        color: #fff;
    }

    .report-anchor-menu {
        ul {
            font-size: 15px;
            display: block;
            margin: 0 0 0 -10px;
            padding: 0;

            li {
                float: left;
                display: inline-block;
                list-style: none;
                text-align: left;
                margin: 0px 20px 0px 0;

                a {
                    color: #fff;
                    text-decoration: none;
                    padding: 10px 15px 10px 15px;
                    border-radius: 4px;
                    transition: all 1s;
                    moz-transition: all 1s;
                    webkit-transistion: all 1s;

                    &:hover {
                        background: #fff;
                        color: #025290 !important;
                    }
                }

                .current {
                    background: #fff;
                    color: #025290 !important;
                }
            }
        }
    }

    .datechoose {
        text-align: right;
        padding-right: 100px;
        cursor: pointer;

        a {
            border-bottom: 1px dotted #fff;
            text-decoration: none;
            color: #fff;
            transition: border 1s;
            moz-transition: border 1s;
            webkit-transistion: border 1s;

            &:hover {
                border-bottom: 1px dotted #025290;
            }
        }

        em {
            padding-left: 20px;
        }
    }
}

#demo-dashboard {
    font-family: "Roboto", sans-serif;
    top: 80px;
    width: 100%;
    background: #fff;

    .wrap {
        width: 1300px;
        margin: 0 auto 0;
    }

    #section-demoreports {
        .anchor-link {
            display: block;
            clear: both;
            height: 200px;
        }

        .report-wrap {
        }
    }
}


.demo-sticky {
    position: fixed !important;
    width: 100%;

    .brand {
        margin-left: 90px !important;
    }

    .nav {
        font-size: 13px !important;
    }

    .dropdown-menu li {
        font-size: 12px !important;

        a {
            line-height: 45px !important;
        }
    }
}

.demo-fullwidth {
    width: 100% !important;
}

@media (max-width: 1366px) {

    #demo-subhead {
        .datechoose {
            font-size: 92%;
            padding-right: 0;

            em {
                padding-left: 10px;
            }
        }

        .report-anchor-menu {
            ul {
                font-size: 11px;
                display: block;
                margin: 0 0 0 -10px;
                padding: 0;

                li {
                    margin: 0px 8px 0px 0;

                    a {
                        padding: 8px 8px 8px 8px;
                    }
                }
            }
        }

        .wrap {
            max-width: 90%;
        }
    }

    #demo-dashboard {
        .wrap {
            max-width: 90%;
        }

        img {
            max-width: 100%;
        }
    }
}
