﻿@using Ivh.Common.VisitPay.Constants
<section id="section-payment-discounts">
    <a href="javascript:;" onclick="javascript: window.history.back();" class="back">@Html.TextRegion(TextRegionConstants.VisitsWithDiscounts)</a>
    <div class="row">
        <div class="col-xs-12">
            <!-- ko if: DiscountGuarantorOffer.Any -->
            <p>@Html.TextRegion(TextRegionConstants.DiscountsAvailableMessage)</p>
            <div class="grid" data-bind="with: DiscountGuarantorOffer">
                <!-- ko foreach: VisitOffers -->
                <div class="discount-visit-offer">
                    <div>
                        <span class="pull-left text-left" data-bind="text: SourceSystemKeyDisplay"></span>
                        <span class="pull-right">
                            <span class="text-right">@Html.TextRegion(TextRegionConstants.VisitBalance):</span>
                            <span class="text-right" data-bind="currencyText: TotalBalance"></span>
                        </span>
                    </div>
                    <div>
                        <span class="pull-left text-left text-ellipsis" data-bind="text: BillingApplicationText"></span>
                        <span class="pull-right">
                            <span class="text-right">@Html.TextRegion(TextRegionConstants.DiscountPercent):</span>
                            <span class="text-right" data-bind="percentText: DiscountPercent"></span>
                        </span>
                    </div>
                    <div>
                        <span class="pull-left text-left"></span>
                        <span class="pull-right">
                            <span class="text-right">@Html.TextRegion(TextRegionConstants.DiscountsAmount):</span>
                            <span class="text-right" data-bind="currencyText: DiscountAmount"></span>
                        </span>
                    </div>
                </div>
                <!-- /ko -->
            </div>
            <br/>
            <div class="clear text-right text-semi">
                <strong>@Html.TextRegion(TextRegionConstants.TotalDiscountAvailable): <span data-bind="currencyText: DiscountGuarantorOffer.DiscountTotal"></span></strong>
            </div>
            <br/>
            <!-- /ko -->
            <!-- ko foreach: DiscountManagedOffers -->
            <p>
                <span data-bind="text: FirstNameLastName"></span> @Html.TextRegion(TextRegionConstants.NameHasDiscountsAvailable)
            </p>
            <div class="grid">
                <!-- ko foreach: VisitOffers -->
                <div class="discount-visit-offer">
                    <div>
                        <span class="pull-left text-left" data-bind="text: SourceSystemKeyDisplay"></span>
                        <span class="pull-right">
                            <span class="text-right">@Html.TextRegion(TextRegionConstants.VisitBalance):</span>
                            <span class="text-right" data-bind="currencyText: TotalBalance"></span>
                        </span>
                    </div>
                    <div>
                        <span class="pull-left text-left text-ellipsis" data-bind="text: BillingApplicationText"></span>
                        <span class="pull-right">
                            <span class="text-right">@Html.TextRegion(TextRegionConstants.DiscountPercent):</span>
                            <span class="text-right" data-bind="percentText: DiscountPercent"></span>
                        </span>
                    </div>
                    <div>
                        <span class="pull-left text-left"></span>
                        <span class="pull-right">
                            <span class="text-right">@Html.TextRegion(TextRegionConstants.DiscountsAmount):</span>
                            <span class="text-right" data-bind="currencyText: DiscountAmount"></span>
                        </span>
                    </div>
                </div>
                <!-- /ko -->
            </div>
            <br/>
            <div class="clear text-right text-semi">
                <strong>@Html.TextRegion(TextRegionConstants.TotalDiscountAvailable): <span data-bind="currencyText: DiscountTotal"></span></strong>
            </div>
            <!-- /ko -->
        </div>
    </div>
</section>