﻿@using Ivh.Common.VisitPay.Constants
@model Ivh.Common.Web.Models.Payment.BankAccountViewModel

<div>
    <div class="form-group">
        @Html.VpLabelFor(m => m.FirstName, new { @class = "required" })
        <div class="row">
            <div class="col-xs-6">
                @Html.VpTextBoxFor(m => m.FirstName, new { data_bind = "value: FirstName" })
            </div>
            <div class="col-xs-6">
                @Html.VpTextBoxFor(m => m.LastName, new { data_bind = "value: LastName" })
            </div>
        </div>
    </div>
    <div class="form-group">
        @Html.VpLabelFor(m => m.BankName, new { @class = "required" })
        @Html.VpTextBoxFor(m => m.BankName, new { data_bind = "value: BankName" })
    </div>
    <!-- ko if: PaymentMethodParentType.IsAchType -->
    <div class="form-group">
        <label for="AccountType" class="required">@Html.TextRegion(TextRegionConstants.AccountType)</label>
        <!-- ko if: PaymentMethodId.IsNew -->
        <select id="AccountType" data-bind="value: PaymentMethodTypeId" class="form-control">
            <option value="5">@Html.TextRegion(TextRegionConstants.Checking)</option>
            <option value="6">@Html.TextRegion(TextRegionConstants.Savings)</option>
        </select>
        <!-- /ko -->
        <!-- ko ifnot: PaymentMethodId.IsNew -->
        <div style="line-height: 34px;">
            <!-- ko if: PaymentMethodTypeId.IsChecking -->
            @Html.TextRegion(TextRegionConstants.Checking)
            <!-- /ko -->
            <!-- ko if: PaymentMethodTypeId.IsSavings -->
            @Html.TextRegion(TextRegionConstants.Savings)
            <!-- /ko -->
        </div>
        <!-- /ko -->
    </div>
    <!-- /ko -->
    <!-- ko if: PaymentMethodId.IsNew -->
    <div class="form-group">
        @Html.VpLabelFor(m => m.RoutingNumber, new { @class = "required" })
        @Html.VpTextBoxFor(m => m.RoutingNumber, new { data_bind = "value: RoutingNumber", type = "tel" })
    </div>
    <!-- /ko -->
    <div class="form-group">
        @Html.VpLabelFor(m => m.AccountNumber, new { @class = "required" })
        <!-- ko if: PaymentMethodId.IsNew -->
        @Html.VpTextBoxFor(m => m.AccountNumber, new { data_bind = "value: AccountNumber", type = "tel" })
        <!-- /ko -->
        <!-- ko ifnot: PaymentMethodId.IsNew -->
        <div style="line-height: 34px;">
            X-<span data-bind="text: LastFour"></span>
        </div>
        <!-- /ko -->
    </div>
    <!-- ko if: PaymentMethodId.IsNew -->
    <div class="form-group">
        @Html.VpLabelFor(m => m.AccountNumberConfirm, new { @class = "required" })
        @Html.VpTextBoxFor(m => m.AccountNumberConfirm, new { data_bind = "value: AccountNumberConfirm", type = "tel" })
    </div>
    <!-- /ko -->
    <div class="form-group">
        @Html.VpLabelFor(m => m.AccountNickName)
        @Html.VpTextBoxFor(m => m.AccountNickName, new { data_bind = "value: AccountNickName" })
    </div>
    <!-- ko if: AllowSingleUse -->
    <div class="form-group text-center">
        @Html.CheckBox("IsActive", new { data_bind = "checked: IsActive" })
        @Html.VpLabelFor(m => m.IsActive)
    </div>
    <!-- /ko -->
</div>