﻿@model Ivh.Common.Web.Models.Payment.CardAccountViewModel

<div>
    <div class="row form-group card-info">
        <div class="col-xs-7">
            <div class="payment-type-icon">
                <img src="/Content/Images/visa.png" alt="VISA" data-bind="visible: PaymentMethodTypeId.IsVisa" />
                <img src="/Content/Images/mastercard.png" alt="MasterCard" data-bind="visible: PaymentMethodTypeId.IsMastercard" />
                <img src="/Content/Images/discover.png" alt="Discover" data-bind="visible: PaymentMethodTypeId.IsDiscover" />
                <img src="/Content/Images/amex.png" alt="American Express" data-bind="visible: PaymentMethodTypeId.IsAmex" />
            </div>
            @Html.LabelFor(m => m.BillingId, new { @class = "required" })
            <!-- ko if: PaymentMethodId.IsNew -->
            @if (this.IsCurrentUserEmulating())
            {
                <span>Emulated User Not Authorized for this action</span>
            }
            else
            {
                <div class="secure-pan-container"></div>
            }
            <!-- /ko -->
            <!-- ko ifnot: PaymentMethodId.IsNew -->
            <div style="line-height: 34px;">
                X-<span data-bind="text: LastFour"></span>
            </div>
            <!-- /ko -->
        </div>
        <div class="col-xs-5">
            @Html.HiddenFor(m => m.CardCodeRequired, new { data_bind = "value: CardCodeRequired" })
            @Html.LabelFor(m => m.CardCode, Html.TextRegion(TextRegionConstants.SecurityCodeCvv), new { @class = "required" })
            @Html.VpTextBoxFor(m => m.CardCode, new { @class = "form-control", data_bind = "value: CardCode", type = "tel", maxlength = 4 })
        </div>
    </div>
    <div class="form-group">
        @Html.VpLabelFor(m => m.ExpirationMonth, new { @class = "required" })
        <div class="row">
            <div class="col-xs-8">
                @Html.DropDownListFor(m => m.ExpirationMonth, Model.Months, new { @class = "form-control", data_bind = "value: ExpirationMonth" })
            </div>
            <div class="col-xs-4">
                @Html.DropDownListFor(m => m.ExpirationYear, Model.Years, new { @class = "form-control", data_bind = "value: ExpirationYear" })
            </div>
        </div>
    </div>
    <!-- ko if: ExpirationMessage.Any -->
    <div class="alert alert-danger text-center expiration-alert">
        <span data-bind="text: ExpirationMessage"></span>
    </div>
    <!-- /ko -->
    <div class="form-group">
        @Html.LabelFor(m => m.NameOnCard, new { @class = "required" })
        @Html.VpTextBoxFor(m => m.NameOnCard, new { data_bind = "value: NameOnCard" })
    </div>
    <div class="form-group">
        @Html.VpLabelFor(m => m.AddressLine1, new { @class = "required" })
        @Html.VpTextBoxFor(m => m.AddressLine1, new { data_bind = "value: AddressLine1" })
    </div>
    <div class="form-group">
        @Html.VpTextBoxFor(m => m.AddressLine2, new { data_bind = "value: AddressLine2" })
    </div>
    <div class="form-group">
        @Html.VpTextBoxFor(m => m.City, new { data_bind = "value: City" })
    </div>
    <div class="row form-group">
        <div class="col-xs-8">
            @Html.VpStatesDropDownListFor(m => m.State, new { @class = "form-control", data_bind = "value: State" })
        </div>
        <div class="col-xs-4">
            @Html.VpTextBoxFor(m => m.Zip, new { data_bind = "value: Zip", type = "tel" })
        </div>
    </div>
    <div class="form-group">
        @Html.VpLabelFor(m => m.AccountNickName)
        @Html.ValidationMessageFor(m => m.AccountNickName)
        @Html.VpTextBoxFor(m => m.AccountNickName, new { data_bind = "value: AccountNickName" })
    </div>
    <div class="form-group">
        <label>@Html.TextRegion(TextRegionConstants.MarkAsHsaEtAl)</label>
        @Html.DropDownListFor(m => m.AccountTypeId, Model.AccountTypes, new { @class = "form-control", data_bind = "options: AccountTypes, optionsText: 'Text', optionsValue: 'Value', value: AccountTypeId" })
    </div>
    <div class="form-group">
        @Html.DropDownListFor(m => m.ProviderTypeId, Model.ProviderTypes, new { @class = "form-control", data_bind = "options: ProviderTypes, optionsText: 'Text', optionsValue: 'Value', optionsCaption: '--" + Html.TextRegion(TextRegionConstants.Provider) + "--', value: ProviderTypeId" })
    </div>
    <!-- ko if: AllowSingleUse -->
    <div class="form-group text-center">
        @Html.CheckBox("IsActive", new { data_bind = "checked: IsActive" })
        @Html.LabelFor(m => m.IsActive)
    </div>
    <!-- /ko -->
</div>
