﻿@using Ivh.Common.VisitPay.Constants
<!-- ko if: PaymentMethod.PaymentMethodId.Any -->
<span class="payment-method-selected" data-bind="with: PaymentMethod">
    <!-- ko if: DisplayProviderTypeImage.Any -->
        <img class="hsa-image" data-bind="attr: { src: DisplayProviderTypeImage }" alt="" />
    <!-- /ko -->
    <img data-bind="attr: { src: DisplayImage }" alt="" />
    <span data-bind="visible: ExpirationMessage.Any" style="display: none;" class="expiry">
        <span data-bind="attr: { title: ExpirationMessage }" class="text-danger"><em class="glyphicon glyphicon-flag"></em></span>
    </span>
    <span data-bind="text: DisplayName"></span>
</span>
<!-- /ko -->
<!-- ko ifnot: PaymentMethod.PaymentMethodId.Any -->
<span class="no-payment-method">
    <span>@Html.TextRegion(TextRegionConstants.SelectAPaymentMethod)</span>
</span>
<!-- /ko -->
