@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.VisitPay.Enums
@using Ivh.Common.Web.Models.Payment

<div class="overlay" id="overlay-edit">
    <section id="section-payment-method-detail">
        <a href="javascript:;" onclick="javascript: window.history.back();" class="back" data-bind="with: PaymentMethodActive">
            <!-- ko if: PaymentMethodId.IsNew -->
            @Html.TextRegion(TextRegionConstants.AddNewPaymentMethod)
            <!-- /ko -->
            <!-- ko ifnot: PaymentMethodId.IsNew -->
            @Html.TextRegion(TextRegionConstants.EditPaymentMethod)
            <!-- /ko -->
        </a>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <br />
                    <div class="alert alert-danger" data-bind="html: ErrorMessage, visible: ErrorMessage.HasErrorMessage" style="display: none;"></div>
                    <form action="#" method="post" data-bind="with: PaymentMethodActive, submit: Save">
                        @Html.AntiForgeryToken()
                        <input type="hidden" id="PaymentMethodId" data-bind="value: PaymentMethodId" />
                        <!-- ko if: PaymentMethodId.IsNew -->
                        <div class="form-group payment-type">
                            @if (IsFeatureEnabled(VisitPayFeatureEnum.PaymentsAch))
                            {
                                <img src="/Content/Images/bank.png" alt=""/>
                            }
                            @if (IsFeatureEnabled(VisitPayFeatureEnum.PaymentsCreditCard))
                            {
                                <img src="/Content/Images/amex.png" alt=""/>
                                <img src="/Content/Images/discover.png" alt=""/>
                                <img src="/Content/Images/mastercard.png" alt=""/>
                                <img src="/Content/Images/visa.png" alt=""/>
                            }
                            <label class="required" for="PaymentMethodParentType">@Html.TextRegion(TextRegionConstants.PaymentType):</label>
                            <select id="PaymentMethodParentType" class="form-control" data-bind="value: PaymentMethodParentType.SetValue">
                                <option value="0">-</option>
                                @if (IsFeatureEnabled(VisitPayFeatureEnum.PaymentsCreditCard))
                                {
                                <option value="1">@Html.TextRegion(TextRegionConstants.CreditDebitCard)</option>
                                }
                                @if (IsFeatureEnabled(VisitPayFeatureEnum.PaymentsAch))
                                {
                                <option value="2">@Html.TextRegion(TextRegionConstants.BankAccount)</option>
                                }
                            </select>
                        </div>
                        <!-- /ko -->

                        @if (IsFeatureEnabled(VisitPayFeatureEnum.PaymentsCreditCard))
                        {
                            <!-- ko if: PaymentMethodParentType.IsCardType -->
                            <p>@Html.TextRegion(TextRegionConstants.WeDoNotStorePaymentInformation)</p>
                            @Html.Partial("~/Areas/Mobile/Views/Payment/_PaymentMethodCardAccount.cshtml", new CardAccountViewModel())
                            <!-- /ko -->
                        }
                        @if (IsFeatureEnabled(VisitPayFeatureEnum.PaymentsAch))
                        {
                            <!-- ko if: PaymentMethodParentType.IsAchType -->
                            <p>@Html.TextRegion(TextRegionConstants.WeDoNotStorePaymentInformation)</p>
                            @Html.Partial("~/Areas/Mobile/Views/Payment/_PaymentMethodBankAccount.cshtml", new BankAccountViewModel())
                            <!-- /ko -->
                        }
                        <!-- ko if: PaymentMethodParentType.Any -->
                        <div>
                            <!-- ko ifnot: IsActive -->
                            <div class="alert alert-info single-use-alert">
                                @Html.CmsLabel("PaymentMethods_SingleUseWarning")
                            </div>
                            <!-- /ko -->
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-75">@Html.TextRegion(TextRegionConstants.ButtonSave)</button>
                            </div>
                            <!-- ko if: !PaymentMethodId.IsNew() && IsActive() -->
                            <div class="form-group text-center">
                                <br/>
                                <button type="button" class="btn btn-primary btn-50 btn-small" data-bind="enable: IsRemoveable, click: $root.Delete">@Html.TextRegion(TextRegionConstants.Delete)</button>
                            </div>
                            <!-- /ko -->
                        </div>
                        <!-- /ko -->
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>