﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.VisitPay.Enums
<section id="section-payment-method-list">
    <a href="javascript:;" onclick="javascript: window.history.back();" class="back">@Html.TextRegion(TextRegionConstants.SelectAPaymentMethod)</a>
    <div class="row">
        <div class="col-xs-12">
            <p>
                <strong>@Html.TextRegion(TextRegionConstants.PaymentMethodPrimary)</strong>
            </p>
            <p>@Html.TextRegion(TextRegionConstants.FuturePaymentsAppliedToPrimaryPaymentMethod)</p>
            @if (User.Identity.IsAuthenticated)
            {
                <div class="text-smaller">
                    <p>@Html.CmsRegion(CmsRegionEnum.HsaInterestDisclaimer)</p>
                </div>
            }
            <div class="grid">
                <!-- ko foreach: PaymentMethodsPrimary -->
                <button type="button" class="btn btn-grid-link" data-bind="click: $parent.Action">
                    <!-- ko if: DisplayProviderTypeImage.Any -->
                    <img class="hsa-image" data-bind="attr: { src: DisplayProviderTypeImage }" alt="" />
                    <!-- /ko -->
                    <img data-bind="attr: { src: DisplayImage }" />
                    <span style="display: inline-block; width: 17px;">
                        <!-- ko if: ExpirationMessage.Any -->
                        <span class="text-danger">
                            <em class="glyphicon glyphicon-flag"></em>
                        </span>
                        <!-- /ko -->
                    </span>
                    <span data-bind="text: LastFour.Display"></span>
                    <!-- ko if: AccountNickName.Any -->
                    <span data-bind="text: AccountNickName" class="nickname"></span>
                    <!-- /ko -->                    
                </button>
                <!-- /ko -->
            </div>
            <br />
            <p>
                <strong>@Html.TextRegion(TextRegionConstants.OtherPaymentMethods)</strong>
            </p>
            <p>@Html.CmsRegion(CmsRegionEnum.PaymentMethodDescription)</p>
            <div class="grid">
                <!-- ko foreach: PaymentMethodsOther -->
                <button type="button" class="btn btn-grid-link" data-bind="click: $parent.Action">
                    <!-- ko if: DisplayProviderTypeImage.Any -->
                    <img class="hsa-image" data-bind="attr: { src: DisplayProviderTypeImage }" alt="" />
                    <!-- /ko -->
                    <img data-bind="attr: { src: DisplayImage }" />
                    <span style="display: inline-block; width: 17px;">
                        <!-- ko if: ExpirationMessage.Any -->
                        <span class="text-danger">
                            <em class="glyphicon glyphicon-flag"></em>
                        </span>
                        <!-- /ko -->
                    </span>
                    <span data-bind="text: LastFour.Display"></span>
                    <!-- ko if: AccountNickName.Any -->
                    <span data-bind="text: AccountNickName" class="nickname"></span>
                    <!-- /ko -->
                </button>
                <!-- /ko -->
            </div>
            <br/>
            <div class="text-right">
                <button class="btn btn-default" data-bind="click: Add" id="btnAddPaymentMethod">
                    @Html.TextRegion(TextRegionConstants.AddNewPaymentMethod)
                </button>
            </div>
            <br/>
        </div>
    </div>
</section>