﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Web.Patient.Areas.Mobile.Models
@model ArrangePaymentMobileViewModel

@section Back {
    <a href="@Model.ReturnUrl" title=""><em class="glyphicon glyphicon-chevron-left"></em></a>
}

@section PageTitle {
    @Html.Raw(Model.SelectedPaymentMenuItemTitle)
}

@Html.Action("GetFilter", "GuarantorFilter", new { area = "", title = Html.TextRegion(TextRegionConstants.SelectGuarantor) + ":" })

<section id="arrange-payment-finance-plan">
    <div id="finance-plan-state-selection" data-context="financeplanstateselection" class="arrange-payment-module">
        @Html.Partial("~/Views/Payment/_ArrangePaymentFinancePlanStateSelection.cshtml")
    </div>
    
    <div id="finance-plan" data-context="financeplan" class="arrange-payment-module">
        @Html.Partial("~/Views/Payment/_ArrangePaymentFinancePlan.cshtml")
    </div>
</section>

@section bottom {
    <div id="overlay-receipt" class="overlay">
        <span class="title">@Html.TextRegion(TextRegionConstants.Confirmation)</span>
        <br />
        <div id="text"></div>
        <br />
        <p class="text-center">
            <a href="@Model.HomeUrl" title="@Html.TextRegion(TextRegionConstants.HomePageHeading)" class="btn btn-primary btn-75">@Html.TextRegion(TextRegionConstants.HomePageHeading)</a>
        </p>
        <p class="text-center">
            <a href="@Url.Action("Logoff", "Account")" title="Logout" class="btn btn-primary btn-75">@Html.TextRegion(TextRegionConstants.Logout)</a>
        </p>
    </div>
    <div class="overlay" id="overlay-list">
        @Html.Partial("~/Areas/Mobile/Views/Payment/_PaymentMethodList.cshtml")
    </div>
    @Html.Partial("~/Areas/Mobile/Views/Payment/_PaymentMethodDetail.cshtml")
}

@section scripts {
    @Scripts.Render(BundleConstants.CommonFinancePlanSetup, BundleConstants.MobileFinancePlanSetup)
    <script type="text/javascript">
        (function() {
            var arrangeFinancePlan = new window.VisitPayMobile.ArrangeFinancePlan(@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model)));
            $(document).ready(function() {
                arrangeFinancePlan.init();
            });
        })();
    </script>
}
