﻿@using Ivh.Common.Base.Utilities.Extensions
@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.VisitPay.Enums
@using Ivh.Web.Patient.Areas.Mobile.Models
@model ArrangePaymentMobileViewModel

@section Back {
    <a href="@Model.ReturnUrl" title=""><em class="glyphicon glyphicon-chevron-left"></em></a>
}

@section PageTitle {
    @Html.Raw(Model.SelectedPaymentMenuItemTitle)
}

@if (!Model.PaymentOptions.Select(x => x.PaymentOptionId).FirstOrDefault().IsInCategory(PaymentOptionEnumCategory.Household))
{
    @Html.Action("GetFilter", "GuarantorFilter", new { area = "", title = (Html.TextRegion(TextRegionConstants.SelectGuarantor) + ":") })
}

<section id="section-arrange-payment" style="display: none;">
    <!-- ko foreach: Messages.Errors -->
    <div class="alert alert-danger text-center" data-bind="text: $data"></div>
    <!-- /ko -->
    <div data-bind="with: ActivePaymentOption, visible: Step.IsOne">
        <div class="grid grid-labels">
            <!-- ko foreach: HouseholdBalances.WithBalances -->
            <label data-bind="css: { 'selected': $parent.HouseholdBalances.Selected.IsSelected($data) }">
                <input type="checkbox" data-bind="checked: $parent.HouseholdBalances.Selected, click: $parent.HouseholdBalances.Click, checkedValue: $data" style="display: none;" />
                <div>
                    <strong class="pull-left text-left" data-bind="text: VisitPayUserFullName"></strong>
                    <div class="text-right">@ClientDto.ActionableBalanceTextLongTitle</div>
                </div>
                <div>
                    <!-- ko if: IsDiscountEligible -->
                    <span class="pull-left text-left text-green">@Html.TextRegion(TextRegionConstants.DiscountEligible)</span>
                    <!-- /ko -->
                    <div class="text-right" data-bind="text: TotalBalance"></div>
                </div>
            </label>
            <!-- /ko -->
            <!-- ko foreach: HouseholdBalances.WithoutBalances -->
            <label class="disabled">
                <div>
                    <strong class="pull-left text-left" data-bind="text: VisitPayUserFullName"></strong>
                    <div class="text-right">@ClientDto.ActionableBalanceTextLongTitle</div>
                </div>
                <div>
                    <div class="text-right" data-bind="text: TotalBalance"></div>
                </div>
            </label>
            <!-- /ko -->
            <!-- ko foreach: Payments -->
            <label data-bind="css: { 'selected': $parent.Payments.Selected.IsSelected($data) }">
                <input type="checkbox" data-bind="checked: $parent.Payments.Selected, click: $parent.Payments.Click, checkedValue: $data" style="display: none;" />
                <div>
                    <span class="pull-left text-left">@Html.TextRegion(TextRegionConstants.DatePaymentFailed)</span>
                    <div class="text-right" data-bind="text: LastPaymentFailureDate"></div>
                </div>
                <div>
                    @*Jesse wants a text box here - but we're probably just going to redesign this page.*@
                    <span class="pull-left text-left">@Html.TextRegion(TextRegionConstants.PaymentAmountTotal)</span>
                    <div class="text-right" data-bind="currencyText: ScheduledPaymentAmountDecimal"></div>
                </div>
            </label>
            <!-- /ko -->
            <!-- ko foreach: Visits -->
            <label data-bind="css: { 'selected': $parent.Visits.Selected.IsSelected($data) }">
                <input type="checkbox" data-bind="checked: $parent.Visits.Selected, click: $parent.Visits.Click, checkedValue: $data" style="display: none;" />
                <div>
                    <div class="text-ellipsis text-default">
                        <strong data-bind="text: PatientName"></strong> - <strong data-bind="text: DischargeDate"></strong>
                    </div>
                </div>
                <div class="pull-right height2" style="width: 60px;">
                    <div class="pull-right text-light text-right">&nbsp;</div>
                    <div class="clear text-right text-default" data-bind="currencyText: DisplayBalanceDecimal"></div>
                </div>
                <div>
                    <div class="text-ellipsis text-default" data-bind="text: VisitDescription"></div>
                </div>
                <div>
                    <div class="text-ellipsis text-default" data-bind="text: StatusDisplay , css: { 'past-due past-due-indicator': IsPastDue }"></div>
                </div>
            </label>
            <!-- /ko -->
            <!-- ko foreach: FinancePlans -->
            <label data-bind="css: { 'selected': $parent.FinancePlans.Selected.IsSelected($data) }">
                <input type="checkbox" data-bind="checked: $parent.FinancePlans.Selected, click: $parent.FinancePlans.Click, checkedValue: $data" style="display: none;" />
                <div>
                    <strong data-bind="text: OriginationDate"></strong>
                </div>
                <div class="pull-right height2" style="width: 80px;">
                    <div class="pull-right text-light text-right">@Html.TextRegion(TextRegionConstants.CurrentBalance)</div>
                    <div class="clear text-right text-semi" style="font-size: 17px;" data-bind="currencyText: CurrentFinancePlanBalanceDecimal"></div>
                </div>
                <div>
                    <span class="text-light">@Html.TextRegion(TextRegionConstants.InterestRate):</span>
                    <span data-bind="text: InterestRate"></span>
                </div>
                <div class="text-ellipsis">
                    <div>
                        <div data-bind="css: { 'text-red': IsPastDue }">
                            <span data-bind="text: FinancePlanStatusFullDisplayName"></span>
                            <!-- ko if: IsPastDue -->
                            (<span data-bind="text: PastDueAmount"></span>)
                            <!-- /ko -->
                        </div>
                    </div>
                </div>
            </label>
            <!-- /ko -->
        </div>
        <br />
        <div class="text-center"><strong>@Html.TextRegion(TextRegionConstants.SelectedAmount): <span data-bind="currencyText: SelectedAmount, defaultEmptyText: '$0.00'"></span></strong></div>
        <br />
        <button type="submit" class="btn btn-primary btn-75" data-bind="click: $root.Step.Two, enable: $root.ActivePaymentOption.HasSelection">@Html.TextRegion(TextRegionConstants.ButtonContinue)</button>
    </div>

    <form action="@Model.PaymentValidateUrl" method="post" class="details" id="frmArrangePayment" data-bind="visible: Step.IsTwo">
        @Html.AntiForgeryToken()
        <div data-bind="with: ActivePaymentOption">
            <!-- ko if: PaymentOptionId.IsAccountBalance -->
            @Html.Partial("~/Views/Payment/_ArrangePaymentVisits.cshtml")
            @Html.Partial("~/Views/Payment/_ArrangePaymentFinancePlans.cshtml")
            <!-- /ko -->
            <!-- ko if: IsDiscountEligible -->
            <div>
                <span class="pull-left text-light">@Html.TextRegion(TextRegionConstants.PaymentAmountBalance)</span>
                <div class="text-ellipsis text-right">
                    <span data-bind="currencyText: UserApplicableBalance.Calculated"></span>
                </div>
            </div>
            <div>
                <span class="pull-left text-light">@Html.TextRegion(TextRegionConstants.DiscountsAmount)</span>
                <div class="text-ellipsis text-right">
                    <button type="button" class="btn btn-default" id="btnPaymentDiscounts" style="margin-right: 0;" onclick="javascript:window.location.hash = '#overlay-discounts';">
                        <span class="text-default" data-bind="currencyText: DiscountAmount.Calculated"></span>
                    </button>
                </div>
            </div>
            <!-- /ko -->
            <div>
                <!-- ko if: IsAmountReadonly -->
                <span class="pull-left text-light">@Html.TextRegion(TextRegionConstants.PaymentAmountTotal)</span>
                <!-- /ko -->
                <!-- ko ifnot: IsAmountReadonly -->
                <span class="pull-left text-light">@Html.TextRegion(TextRegionConstants.PaymentAmountEnter)</span>
                <!-- /ko -->
                <div class="text-ellipsis text-right">
                    <!-- ko if: IsAmountReadonly -->
                    <span data-bind="currencyText: PaymentAmount.Calculated, defaultEmptyText: '$0.00'"></span>
                    <!-- /ko -->
                    <!-- ko ifnot: IsAmountReadonly -->
                    <input id="PaymentAmount"
                           name="PaymentAmount"
                           type="text"
                           class="form-control numeric"
                           placeholder="0.00"
                           data-bind="textInput: PaymentAmount"
                           data-val="true"
                           data-val-number=""
                           data-val-required="" />
                    <!-- /ko -->
                </div>
            </div>
            <div>
                <span class="pull-left text-light">@Html.TextRegion(TextRegionConstants.PaymentDate)</span>
                <div class="text-ellipsis text-right">
                    <!-- ko if: IsDateReadonly -->
                    <span data-bind="text: PaymentDate.Formatted"></span>
                    <!-- /ko -->
                    <!-- ko ifnot: IsDateReadonly -->
                    <input id="PaymentDate"
                           name="PaymentDate"
                           type="date"
                           class="form-control"
                           data-bind="textInput: PaymentDate, attr: { max: DateBoundary }"
                           data-val="true"
                           data-val-required=""
                           min="@Model.ClientNow.ToString("yyyy-MM-dd")" />
                    <!-- /ko -->
                </div>
            </div>
        </div>
        <div>
            <div>
                <span class="pull-left text-light">@Html.TextRegion(TextRegionConstants.PaymentMethod)</span>
                <div class="text-ellipsis text-right">
                    <button type="button" class="btn btn-default" id="btnPaymentMethods" style="margin-right: 0;">
                        @Html.Partial("~/Areas/Mobile/Views/Payment/_PaymentMethodSelected.cshtml")
                    </button>
                </div>
            </div>
        </div>
        <br />
        <button type="submit" class="btn btn-primary btn-75" data-bind="enable: $root.IsValid" id="btnContinue1">@Html.TextRegion(TextRegionConstants.ButtonContinue)</button>
    </form>
</section>

@section bottom {
    <div id="overlay-submit" class="overlay">
        <a href="javascript:;" onclick="javascript:window.history.back();" class="back">@Html.TextRegion(TextRegionConstants.ConfirmPayment)</a>
        <form action="@Model.PaymentSubmitUrl" method="post" class="details">
            @Html.AntiForgeryToken()
            <div data-bind="with: ActivePaymentOption">
                <div>
                    <span class="pull-left text-light">@Html.TextRegion(TextRegionConstants.PaymentAmountTotal):</span>
                    <div class="text-ellipsis text-right" data-bind="currencyText: PaymentAmount.Calculated"></div>
                </div>
                <div>
                    <span class="pull-left text-light">@Html.TextRegion(TextRegionConstants.ScheduledDate):</span>
                    <div class="text-ellipsis text-right" data-bind="text: PaymentDate.Formatted"></div>
                </div>
            </div>
            <div>
                <span class="pull-left text-light">@Html.TextRegion(TextRegionConstants.PaymentMethod):</span>
                <div class="text-ellipsis text-right">
                    @Html.Partial("~/Areas/Mobile/Views/Payment/_PaymentMethodSelected.cshtml")
                </div>
            </div>
            <br />
            <button class="btn btn-primary btn-75" type="submit" title="Confirm Payment">@Html.TextRegion(TextRegionConstants.ConfirmPayment)</button>
            <br />
            <div class="text-center">
                <a href="javascript:window.history.back();" title="@Html.TextRegion(TextRegionConstants.ButtonMakeChanges)" class="make-changes">@Html.TextRegion(TextRegionConstants.ButtonMakeChanges)</a>
            </div>
        </form>
    </div>
    <div id="overlay-receipt" class="overlay">
        <span class="title">@Html.TextRegion(TextRegionConstants.Confirmation)</span>
        <br />
        <div id="text"></div>
        <br />
        <p class="text-center">
            <a href="@Model.HomeUrl" title="@Html.TextRegion(TextRegionConstants.HomePageHeading)" class="btn btn-primary btn-75">@Model.HomeButtonText</a>
        </p>
        <p class="text-center">
            <a href="@Url.Action("Logoff", "Account")" title="Logout" class="btn btn-primary btn-75">@Html.TextRegion(TextRegionConstants.Logout)</a>
        </p>
    </div>
    <div class="overlay" id="overlay-discounts">
        @Html.Partial("_Discounts")
    </div>
    <div class="overlay" id="overlay-list">
        @Html.Partial("_PaymentMethodList")
    </div>
    @Html.Partial("~/Areas/Mobile/Views/Payment/_PaymentMethodDetail.cshtml")
}

@Html.Action("HealthEquitySsoSetup", "Sso")
@section scripts {
    @Html.Partial("~/Views/Payment/_ArrangePaymentLocalizations.cshtml")
    @Scripts.Render("~/bundles/mobile/scripts/payment/arrangepayment", "~/bundles/mobile/scripts/sso/healthEquityWidget")
    <script type="text/javascript">
        (function() {
            var arrangePayment = new window.VisitPayMobile.ArrangePayment(@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model)));
            $(document).ready(function() {
                arrangePayment.init();
            });
        })();
    </script>
}
