﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.VisitPay.Enums
@using Ivh.Common.Web.Models.Payment
@model ArrangePaymentViewModel

@section PageTitle {
    @Html.TextRegion(TextRegionConstants.SelectAPaymentOption)
}

@Html.Action("GetFilter", "GuarantorFilter", new { area = "", title = Html.TextRegion(TextRegionConstants.SelectGuarantor) + ":" })

<section id="section-payment-menu">
    @if (!Model.PaymentMenu.PaymentMenuItems.Any(x => x.IsEnabled))
    {
        <div class="text-center">
            @Html.CmsRegion(CmsRegionEnum.ArrangePaymentNoOptions)
        </div>
    }
    <div class="grid">
        @foreach (PaymentMenuItemViewModel item in Model.PaymentMenu.PaymentMenuItems)
        {
            @Html.MobilePaymentMenuButton(item)
            if (item.PaymentMenuItems.Any())
            {
                <ul>
                    @foreach (PaymentMenuItemViewModel childItem in item.PaymentMenuItems)
                    {
                        <li>@Html.MobilePaymentMenuButton(childItem)</li>
                    }
                </ul>
            }
        }
        @Html.Action("HealthEquityWidgetPartial", "Sso")
    </div>

</section>

@section scripts {
    @Scripts.Render("~/bundles/mobile/scripts/sso/healthEquityWidget")
    <script type="text/javascript">
        $(document).ready(function () {

            $('.parent-item').on('click', function (e) {
                e.preventDefault();
                if ($(this).hasClass('expanded')) {
                    $(this).removeClass('expanded');
                } else {
                    $(this).addClass('expanded');
                }
            });

        });
    </script>

}
