﻿@section scripts {
    @Scripts.Render(
        "~/bundles/mobile/scripts/payment/paymentmethods", 
        "~/bundles/mobile/scripts/mypayments", 
        BundleConstants.MyPayments, 
        BundleConstants.CommonVisitDetails, 
        BundleConstants.AccountMyVisits)
}

@section Back {
    <a href="@Url.Action("Index", "Home")" title="@Html.TextRegion(TextRegionConstants.HomePageHeading)"><em class="glyphicon glyphicon-chevron-left"></em></a>
}

@section PageTitle {
    @Html.TextRegion(TextRegionConstants.PaymentsPageHeading)
}

@Html.Action("GetFilter", "GuarantorFilter", new { area = "", title = Html.TextRegion(TextRegionConstants.ViewingActivityFor) + ":" })

    <section id="section-activity">

        <section id="section-paymentspending">
            @Html.Partial("~/Views/Payment/_PaymentPending.cshtml")
        </section>

        <section id="section-visits">
            @Html.Partial("~/Views/Account/_Visits.cshtml")
        </section>

        <section id="section-financeplanhistory">
            @Html.Partial("~/Views/FinancePlan/_FinancePlanHistory.cshtml")
        </section>

        <section id="section-paymenthistory">
            @Html.Partial("~/Views/Payment/_PaymentHistory.cshtml")
        </section>


        @if (!ClientDto.FooterShowPaymentLogo)
        {
            <div class="payment-logo">
                <img src="/Content/Images/trust-commerce.png" alt="" />
            </div>
        }

    </section>

@section bottom {
    <div class="overlay" id="overlay-list">
        @Html.Partial("~/Areas/Mobile/Views/Payment/_PaymentMethodList.cshtml")
    </div>
    @Html.Partial("~/Areas/Mobile/Views/Payment/_PaymentMethodDetail.cshtml")
}