﻿@using Ivh.Common.VisitPay.Constants
@model Ivh.Common.Web.Models.Payment.PaymentMethodsViewModel

@section scripts {
    @Scripts.Render("~/bundles/mobile/scripts/payment/paymentmethods", "~/bundles/mobile/scripts/sso/healthEquityWidget")
    <script type="text/javascript">
        (function () {
            var paymentMethods = new window.VisitPayMobile.PaymentMethods(2);
            var json = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
            paymentMethods.Init(json);
        })();
    </script>
}

@section Back {
    <a href="@Url.Action("AccountSettings", "Account")" title="@Html.TextRegion(TextRegionConstants.MyAccountPageHeading)"><em class="glyphicon glyphicon-chevron-left"></em></a>
}

@section PageTitle {
    @Html.TextRegion(TextRegionConstants.PaymentMethodsPageHeading)
}

<section id="section-payment-methods">
    @Html.Partial("_PaymentMethodList")
</section>

@section bottom {
    @Html.Partial("~/Areas/Mobile/Views/Payment/_PaymentMethodDetail.cshtml")
}
@Html.Action("HealthEquitySsoSetup", "Sso")