﻿@import '../_variables.scss';

#section-request-managed {
    form.agree {
        padding-top:7px;
        .input-validation-error + label {
            color: $state-danger-text;
        }
    }

    p.instruction {
        margin-top: 30px;
    }
}

#section-request-managed, #section-request-managing {
    div.terms {
        > h1 {
            margin: 0;
        }

        > div {
            border: 1px solid $vp-gray-light;
            overflow-y: auto;
            max-height: 188px;
            padding: 7px 7px 7px 15px;
        }

        &.hippa {
            max-height: 188px;
        }
    }

    form.agree {
        padding-top: 7px;
        .input-validation-error + label {
            color: $state-danger-text;
        }
    }

    #frmConsolidateMatch {

        > div {
            &:nth-of-type(1) {
                margin: auto;
                padding-top: 7px;
                position: relative;
                width: 35%;

                .row {
                    padding-top: 7px;
                }
            }

            &:nth-of-type(2) {
                padding-top: 15px;
            }
        }
    }
}
