﻿@import '../_variables.scss';

#section-accept-terms-consolidation {

    div.terms {
        margin-top: 15px;
        margin-bottom: 10px;

        > h1 {
            margin: 0;
        }

        > div {
            border: 1px solid $vp-gray-light;
            overflow-y: auto;
            max-height: 188px;
            padding: 7px 7px 7px 15px;
        }

        &.hippa {
            max-height: 188px;
        }
    }

    form.agree {
        padding-top: 7px;

        .input-validation-error + label {
            color: $state-danger-text;
        }
    }

    p.instruction {
        margin-top: 30px;
    }
}
