﻿.payment-methods-consolidation {
    #section-paymentprimary {
        margin: 30px -15px 0 -15px;
        padding: 0 30px 0 30px;

        > div {
            padding-bottom: 10px;

            > div {
                &:first-of-type {
                    padding-left: 0;
                }

                &:last-of-type {
                    padding-right: 0;
                }
            }

            &:nth-of-type(1) {
                padding-top: 10px;
                padding-left: 0;

                hr {
                    margin: 10px 0 0 0;
                }
            }

            &:last-of-type {
                > div {
                    &:first-of-type {
                        padding-left: 15px;
                    }
                }

                img, span {
                    padding: 0 4px 0 0;
                }
            }
        }
    }

    #section-paymentmethods {
        margin: 0 -30px 0 -30px;
        padding: 0 15px 0 15px;
        
        .account-container {
            width: 100% !important;

            input[type=checkbox] {
                display: none;
            }

            input[type=checkbox] + label {
                display: none;
            }
        }

        &.change-primary {
            input[type=checkbox] {
                display: inline;

                & + label {
                    display: inline-block;
                }
            }

            input[type=radio] {
                display: none;
            }
        }
    }
}
