﻿    
@model Ivh.Web.QATools.Controllers.FileStorageViewModel
@using (Html.BeginForm("CreatePackage", "FileStorage", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <h1>Create A Client Package</h1>
    <div>
        Pressing the create button will generate a manifest for the PDF files located in the ~VpStorage\Packaging folder
        and then compress and encrypt the directory contents to simulate the package file that the client sends us.
        <br /><br />
        PDF documents 
        should conform with the naming conventions (four segments separated by underscores). All files placed in this
        folder should be PDF files unless you are deliberately testing what happens if the client sends the wrong kind
        of file (e.g. a "docx" or an "xlsx" file, etc.)
        <br/><br />
        The resulting package file will be deposited into the incoming SFTP Folder, as if you had uploaded it from the
        menu or the client had sent it via SFTP. Steps for testing the processing of the client package file begin here.
    </div>
    <br /><br />
    @Html.LabelFor(m => m.DefectId)
    <br />
    @Html.EnumDropDownListFor(m => m.DefectId)
    <br /><br />

    <button type="submit">Create</button>
}