﻿    
@model Ivh.Web.QATools.Controllers.FileStorageViewModel

@using (Html.BeginForm("Create", "FileStorage", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <h1>File Storage</h1>
    <div>
        @Html.LabelFor(m => m.FileContents)
        @Html.TextBoxFor(x => x.FileContents, new { type = "file" })
        @Html.ValidationMessageFor(x => x.FileContents)
    </div>

    <button type="submit">Upload</button>
}