﻿@model Ivh.Common.Web.Models.Legal.CreditAgreementViewModel
@{
    object parameters = new {area = string.Empty, o = Model.FinancePlanOfferId};
}

<a href="javascript:;" onclick="javascript: window.history.back();" class="back">@Html.TextRegion(Model.Title)</a>
<section id="section-credit-agreement" class="container">
    <br/>
    <p style="text-align: center;">@Html.ActionLink(Html.TextRegion(TextRegionConstants.PrintOrSaveAsPdf), "CreditAgreementPdf", "Legal", parameters, new {@class = "btn btn-primary", role = "button", target = "_blank"})</p>
    <br/>
    @Html.Raw(Model.Text)
</section>