﻿@using Ivh.Common.VisitPay.Constants
@model Ivh.Common.Web.Models.Shared.TextViewModel

<a href="javascript:;" onclick="javascript: window.history.back();" class="back">@Html.TextRegion(TextRegionConstants.RegistrationESignTerms)</a>
<section class="container">
    <br />
    @Html.Partial("~/Views/Legal/_Esign.cshtml", Model)
</section>