﻿@using Ivh.Common.VisitPay.Enums
<a href="javascript:;" onclick="javascript: window.history.back();" class="back">Privacy</a>
<section id="section-privacy" class="container">
    @Html.CmsRegion(CmsRegionEnum.Privacy)
</section>
