﻿@using Ivh.Common.VisitPay.Constants
@model Ivh.Common.Web.Models.Shared.TermsOfUseViewModel

<a href="javascript:;" onclick="javascript: window.history.back();" class="back">@Html.TextRegion(TextRegionConstants.TermsOfUse)</a>
<section class="container">
    <br/>
    @Html.Partial("~/Views/Legal/_Terms.cshtml", Model)
</section>
