﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.Web.Models.Shared
@model ContentMenuViewModel

@section PageTitle {
    @Html.TextRegion(TextRegionConstants.LegalAgreementsPageHeading)
}

<div class="limit-width">
    <div class="grid">
        @foreach (ContentMenuItemViewModel item in Model.ContentMenuItems)
        {
            <button class="btn btn-grid-link" onclick="window.location.href = '@item.LinkUrl';" title="@item.LinkText">
                @item.LinkText
            </button>
        }
    </div>
</div>
@if (User.Identity.IsAuthenticated)
{
    @Html.Action("HealthEquitySsoSetup", "Sso")
}
@section scripts {
    @Scripts.Render("~/bundles/mobile/scripts/sso/healthEquityWidget")
}
