﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.VisitPay.Enums
@model Ivh.Common.Web.Models.Shared.TextViewModel
@section PageTitle {
    @Html.TextRegion(TextRegionConstants.PrivacyPolicy)
}
@section Back {
    <a href="@Url.Action("Index", "Legal")" title="@Html.TextRegion(TextRegionConstants.LegalAgreementsPageHeading)"><em class="glyphicon glyphicon-chevron-left"></em></a>
}
<section style="text-align:justify">
    @Html.CmsRegion(CmsRegionEnum.Privacy)
</section>
