﻿@using Ivh.Common.VisitPay.Constants
@model Ivh.Common.Web.Models.Shared.TermsOfUseViewModel

@section PageTitle {
    @Html.TextRegion(TextRegionConstants.TermsOfUse)
}

@section Back {
    <a href="@Url.Action("Index", "Legal")" title="@Html.TextRegion(TextRegionConstants.LegalAgreementsPageHeading)"><em class="glyphicon glyphicon-chevron-left"></em></a>
}

@Html.Partial("~/Views/Legal/_Terms.cshtml", Model)