﻿@using Ivh.Common.Base.Utilities.Extensions
@using Ivh.Common.VisitPay.Constants
@using Ivh.Web.Patient.Models.Payment
@model AchAuthorizationViewModel

<div id="modalAchAuthorization" class="modal fade modal-mobile" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md">
        @using (Html.VpForm("AchAuthorizationAgree", "Payment", FormMethod.Post, "frmAchAuthorization", new {@class = "modal-content"}))
        {
            @Html.HiddenFor(m => m.AchAuthorizationCmsVersionId)
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">@Model.Agreement.ContentTitle</h4>
            </div>
            <div class="modal-body modal-body-66">
                <section class="ach-authorization">
                    <table class="payment-schedule modern-grid">
                        <thead>
                        <tr>
                            <td>@Html.TextRegion(TextRegionConstants.BankAccountNumber)</td>
                            <td class="text-right">@Html.TextRegion(TextRegionConstants.MonthlyPayment)</td>
                            <td class="text-right">@Html.TextRegion(TextRegionConstants.MonthsRemaining)</td>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (AchAuthorizationFinancePlan financePlan in Model.FinancePlans)
                        {
                            <tr>
                                <td>
                                    @Model.AchLastFour
                                    @if (Model.ShowNames)
                                    {
                                        <span>(@financePlan.DisplayFirstNameLastName)</span>
                                    }
                                </td>
                                <td class="text-right">@financePlan.MonthlyPaymentAmount.FormatCurrency()</td>
                                <td class="text-right">@financePlan.MonthsRemaining</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                    @Html.Raw(Model.Agreement.ContentBody)
                </section>
            </div>
            <div class="modal-footer text-center">
                <div class="checkbox-styled">
                    <input id="cbAchAuthorization" type="checkbox" data-bind="checked: IsAccepted" />
                    <label for="cbAchAuthorization">
                        @Html.TextRegion(TextRegionConstants.CheckboxAgreeToAchTerms)
                    </label>
                </div>
                <br/>
                <button type="submit" class="btn btn-primary" id="btnAchAuthorizationAccept" data-bind="enable: IsAccepted">@Html.TextRegion(TextRegionConstants.ButtonAgree)</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">@Html.TextRegion(TextRegionConstants.ButtonDecline)</button>
            </div>
        }
    </div>
</div>