﻿<!-- ko if: HasPendingResubmitPayments-->
<div class="alert alert-light">
    <span>
        @Html.CmsRegion(CmsRegionEnum.CreateFinancePlanResubmitBlock)
    </span>
    <br />
    <span>
        @Html.Raw(Html.TextRegion(TextRegionConstants.ClickToResubmitPayment, new Dictionary<string, string>
        {
            {"[[PaymentMenuMakePayment]]", "<strong>" + Html.CmsRegion(CmsRegionEnum.PaymentMenuMakePayment) + "</strong>"},
            {"[[PaymentMenuResubmit]]", "<strong>" + Html.CmsRegion(CmsRegionEnum.PaymentMenuResubmit) + "</strong>"}
        }))
    </span>
</div>
<!-- /ko -->
<!-- ko if: IsVisible -->
<!-- ko foreach: Messages.Errors -->
<div class="alert alert-danger text-center" data-bind="text: $data"></div>
<!-- /ko -->
<div class="flex-row">
    <div class="col-left" data-bind="css: { 'na': !IsMenuVisible() }">
        <div id="finance-plan-menu-secondary" class="menu-secondary" data-bind="visible: Option.ShowOptions">
            <!-- ko foreach: Options -->
            <label data-bind="css: { 'selected': $root.Option.Is(Value) }, attr: { id: 'btnOption' + Value, title: OptionTooltip }">
                <input type="radio" name="option" data-bind="checked: $root.Option, checkedValue: Value" />
                <span class="title" data-bind="html: OptionText"></span>
                <span class="gray-right-arrow"></span>
            </label>
            <!-- /ko -->
        </div>
        @Html.Partial("~/Views/FinancePlan/_InterestRates.cshtml")
    </div>
    <div class="col-main">
        <!-- ko if: OtherFinancePlanStatesAreAvailable() && FinancePlanOptionStateName() -->
        <div id="selected-state-message" class="alert alert-info text-center text-uppercase">
            <span>@Html.Raw(@Html.TextRegion(TextRegionConstants.FinancePlanMultiStatePayingVisits, "[[StateName]]", "<span style=\"font-weight: bold;\" data-bind=\"text: FinancePlanOptionStateName\"></span>"))</span>
            <a data-bind="click: ChangeStateClicked" class="text-uppercase text-italic">@Html.TextRegion(TextRegionConstants.FinancePlanMultiStateChangeState)</a>
        </div>
        <!-- /ko -->
        <div class="balances">
            <!-- ko if: Option.HasOptions() || Option.CombineFinancePlans() -->
            <div class="balance">
                <div class="title">@Html.TextRegion(TextRegionConstants.FinanceNewCharges)</div>
                <div class="amount" data-bind="currencyText: UserApplicableBalance"></div>
            </div>
            <div class="balance" data-bind="css: { 'lighter': !Option.CombineFinancePlans()}">
                <div class="title">@Html.TextRegion(TextRegionConstants.FinanceCurrentPlans)</div>
                <div class="amount">
                    <span data-bind="currencyText: Option.ActiveFinancePlanBalance"></span>
                    <span style="display: none;" data-tooltip-html>
                        @Html.TextRegion(TextRegionConstants.BalanceIncludesChargesFromPreviousVisits)
                        <br/><br/>
                        @Html.Raw(Html.TextRegion(TextRegionConstants.FinancePlansTotalMonthlyPaymentOf, new Dictionary<string, string>
                        {
                            {"[[FinancePlanTotalMonthlyPaymentAmount]]", "<span data-bind=\"currencyText: FinancePlanTotalMonthlyPaymentAmount\"></span>"}
                        }))
                    </span>
                    <em class="vpicon-question" data-toggle="tooltip-html"></em>
                </div>
            </div>
            <!-- /ko -->
            <div class="balance">
                <div class="title">@Html.TextRegion(TextRegionConstants.FinanceTotal)</div>
                <div class="amount" data-bind="currencyText: AmountToFinance"></div>
            </div>
        </div>
        <div class="terms-calculate modern-form">
            <!-- ko if: PaymentDueDay.IsEnabled -->
            <div class="pdd-select">
                <div class="pdd-inactive" data-bind="visible: !PaymentDueDay.IsActive()">
                    @Html.Raw(Html.TextRegion(TextRegionConstants.WeHaveSelectedYourPaymentDueDay, "[[PaymentDueDay]]", "<strong data-bind=\"ordinalPaymentDueDayText: PaymentDueDay\"></strong>"))
                    @{
                        string clickHere = Html.TextRegion(TextRegionConstants.ClickHereToChangeIt);
                    }
                    <a href="javascript:;" title="@clickHere" data-bind="click: PaymentDueDay.Toggle">@clickHere</a>.
                </div>
                <div class="pdd-active" data-bind="visible: PaymentDueDay.IsActive">
                    @Html.TextRegion(TextRegionConstants.PaymentDueOnThe)
                    @Html.VpPaymentDueDayDropDownList("PaymentDueDay", new {data_bind = "value: PaymentDueDay"})
                    @Html.TextRegion(TextRegionConstants.OfEachMonth).
                </div>
                <a id="btnPaymentDueDayChange" href="javascript:;" title="" data-bind="click: PaymentDueDay.Toggle" class="pdd-toggle-icon">
                    <!-- ko if: PaymentDueDay.IsActive -->
                    <em class="glyphicon glyphicon-remove"></em>
                    <!-- /ko -->
                    <!-- ko ifnot: PaymentDueDay.IsActive -->
                    <em class="glyphicon glyphicon-pencil"></em>
                    <!-- /ko -->
                </a>
            </div>
            <!-- /ko -->
            <!-- ko ifnot: IsEditable -->
            <div class="client-offer" data-bind="text: Option.TextClientOfferSet"></div>
            <!-- /ko -->
            @Html.Partial("~/Views/FinancePlan/_FinancePlanTermsCalculate.cshtml", MvcHtmlString.Empty)
            <!-- ko if: Terms().IsValid() -->
            <div class="primary-select">
                <label>@Html.TextRegion(TextRegionConstants.PaymentMethodPrimary)</label>
                <div>
                    @Html.VpButton("btnConfirmFinancePlanEditPaymentMethod", Html.TextRegion(TextRegionConstants.ButtonEdit), VpButtonTypeEnum.Button, VpButtonClassEnum.AccentOutline, new {data_bind = "click: ChangePrimary", @class = "pull-right"})
                    <!-- ko if: PrimaryPaymentMethod.Any -->
                    <span class="payment-method" data-bind="html: PrimaryPaymentMethod.Display"></span>
                    <!-- /ko -->
                    <!-- ko ifnot: PrimaryPaymentMethod.Any -->
                    <span class="payment-method">
                        @Html.TextRegion(TextRegionConstants.SelectAPaymentMethod)
                        <span style="display: none;" data-tooltip-html>
                            @Html.TextRegion(TextRegionConstants.NoPrimaryPaymentMessage)
                        </span>
                        <em class="vpicon-question" data-toggle="tooltip-html"></em>
                    </span>
                    <!-- /ko -->
                </div>
            </div>
            <br/>
            <div class="text-center">
                @Html.Partial("~/Views/FinancePlan/_FinancePlanTermsAgree.cshtml")
            </div>
            <div class="text-center">
                <br/>
                @Html.VpButton("btnConfirmFinancePlan", Html.TextRegion(TextRegionConstants.ButtonConfirmPaymentPlan), VpButtonTypeEnum.Button, VpButtonClassEnum.Primary, new {data_bind = "enable: (TermsCmsVersionId.IsChecked() || !Terms().RequireCreditAgreement()) && PrimaryPaymentMethod.Any()"})
                <!-- ko ifnot: IsEditable -->
                <br/><br/>
                @Html.VpButton("btnDeclineTerms", Html.TextRegion(TextRegionConstants.ButtonDeclineTerms), VpButtonTypeEnum.Button, VpButtonClassEnum.DefaultOutline)
                <!-- /ko -->
            </div>
            <!-- /ko -->
        </div>
    </div>
    <div class="col-footer">
        @Html.Partial("~/Views/FinancePlan/_InterestRates.cshtml")
    </div>
</div>
<!-- /ko -->
