﻿
<h4 class="text-center text-uppercase" id="state-selection-instructions">@Html.TextRegion(TextRegionConstants.FinancePlanMultiStateInstructions)</h4>

@* One per state, ordered by states with the largest number of visits *@
<!-- ko foreach: SortedStates() -->
<div class="vpgrid-container" id="gridVisits">
    <div class="vpgrid-header">
        @Html.VpButton(null, Html.TextRegion(TextRegionConstants.PaymentPlanOptions), VpButtonTypeEnum.Button, VpButtonClassEnum.Primary, new { @class = "select-state-btn", data_bind = "click: StateSelected" })
        <h4 data-bind="text: FinancePlanOptionStateName() + ' @Html.TextRegion(TextRegionConstants.VisitsPageHeading)'"></h4>
    </div>
    <div class="vpgrid grid-visits-single-line">
        <!-- ko foreach: FinancePlanVisits -->
        @Html.Partial("~/Views/Account/_VisitsGridRowSingleLine.cshtml")
        <!-- /ko -->
    </div>
</div>
<!-- /ko -->

<div class="text-center text-italic" id="state-selection-information">
    @Html.TextRegion(TextRegionConstants.FinancePlanMultiStateInformation)
</div>