﻿@if (IsFeatureEnabled(VisitPayFeatureEnum.HealthEquityShowBalance) && !IsCurrentUserEmulating())
{
    <section class="paybill-healthequity-balance">
        @{ Html.RenderAction("HealthEquityBalanceWidgetPartial", "Sso"); }
    </section>
}
<section id="arrange-payment" style="visibility: hidden;">
    <div data-context="menu" id="payment-menu">
        <!-- ko foreach: PaymentMenuItems -->
        <label data-bind="css: { 'selected': $parent.PaymentMenuItems.Selected.Is($data.PaymentMenuItemId), 'disabled': !IsEnabled() }">
            <span class="label-content">
                <span class="label-inner">
                    <em data-bind="attr: { 'class': IconCssClass }"></em>
                    <span data-bind="text: Title" class="title"></span>
                    <!-- ko if: ShowTextNotAvailable -->
                    <span data-bind="text: TextNotAvailable" class="not-available"></span>
                    <!-- /ko -->
                </span>
            </span>
            <input type="radio" name="PaymentOption" data-bind="checked: $parent.SelectedPaymentMenuItemId, value: PaymentMenuItemId, enable: IsEnabled" />
        </label>
        <!-- /ko -->
    </div>

    <div id="noOptions" class="arrange-payment-module">
        <p><strong>@Html.CmsRegion(CmsRegionEnum.ArrangePaymentNoOptions)</strong></p>
    </div>

    <div id="payment-submit-container" class="arrange-payment-module">
        <div class="row">
            <div data-context="menu" id="payment-menu-secondary" class="col-xs-3 menu-secondary">
                <!-- ko foreach: PaymentMenuItems.Selected.Parent().PaymentMenuItems -->
                <label data-bind="css: { 'selected': $root.PaymentMenuItems.Selected.Is($data.PaymentMenuItemId), 'disabled': !IsEnabled }">
                    <input type="radio" name="PaymentOption" data-bind="checked: $root.SelectedPaymentMenuItemId, value: PaymentMenuItemId, enable: IsEnabled" />
                    <!-- ko if: ShowTextNotAvailable -->
                    <span class="line2">
                        <span class="title" data-bind="html: Title"></span>
                        <span data-bind="text: TextNotAvailable" class="not-available"></span>
                        <span class="gray-right-arrow"></span>
                    </span>
                    <!-- /ko -->
                    <!-- ko ifnot: ShowTextNotAvailable -->
                    <span class="title" data-bind="html: Title"></span>
                    <span class="gray-right-arrow"></span>
                    <!-- /ko -->
                </label>
                <!-- /ko -->
            </div>

            <div data-context="payment" id="payment-submit" class="col-xs-9">
                @Html.Partial("_ArrangePaymentPayment")
            </div>
        </div>
    </div>
    
    <div id="finance-plan-state-selection" data-context="financeplanstateselection" class="arrange-payment-module">
        @Html.Partial("_ArrangePaymentFinancePlanStateSelection")
    </div>

    <div id="finance-plan" data-context="financeplan" class="arrange-payment-module">
        @Html.Partial("_ArrangePaymentFinancePlan")
    </div>

    <div data-context="receipt" id="receipt" class="arrange-payment-module">
        <!-- ko if: IsVisible -->
        <div class="receipt">
            <div data-bind="html: ReceiptText"></div>
            <p class="text-center">
                <a href="/" title="@Html.TextRegion(TextRegionConstants.HomePageHeading)" class="btn btn-primary">@Html.TextRegion(TextRegionConstants.HomePageHeading)</a>
                <!-- ko if: ShowMakeAnotherPayment -->
                <a href="javascript:;" title="@Html.TextRegion(TextRegionConstants.MakeAnotherPayment)" class="btn btn-primary" data-bind="click: SetDefaultPaymentOption">@Html.TextRegion(TextRegionConstants.MakeAnotherPayment)</a>
                <!-- /ko -->
            </p>
        </div>
        <!-- /ko -->
    </div>

</section>
