﻿@using Ivh.Common.VisitPay.Constants
<!-- ko if: Visits.AllowInput -->
<table class="modern-grid visits-grid allow-input">
    <colgroup>
        <col />
        <col />
        <col />
        <col />
        <col />
        <col />
    </colgroup>
    <thead>
        <tr>
            <td title="@Html.TextRegion(TextRegionConstants.Visit) #">@Html.TextRegion(TextRegionConstants.Visit) #</td>
            <td title="@Html.TextRegion(TextRegionConstants.VisitDate)">@Html.TextRegion(TextRegionConstants.VisitDate)</td>
            <td title="@Html.TextRegion(TextRegionConstants.Status)">@Html.TextRegion(TextRegionConstants.Status)</td>
            <td class="text-right" title="@Html.TextRegion(TextRegionConstants.Balance)">@Html.TextRegion(TextRegionConstants.Balance)</td>
            <td class="text-right" title="@Html.TextRegion(TextRegionConstants.PaymentAmount)">@Html.TextRegion(TextRegionConstants.PaymentAmount)</td>
        </tr>
    </thead>
    <tbody>
        <!-- ko foreach: Visits -->
        <tr data-bind="click: $parent.Visits.ClickRow">
            <td data-bind="text: SourceSystemKeyDisplay"></td>
            <td data-bind="text: DischargeDate"></td>
            <td data-bind="text: StatusDisplay , css: { 'past-due past-due-indicator': IsPastDue }"></td>
            <td class="text-right" data-bind="text: DisplayBalance"></td>
            <td class="text-right"><input type="text" class="form-control numeric" placeholder="0.00" data-bind="value: PaymentAmount, valueUpdate: 'afterkeydown', event: { keyup: $parent.Visits.Change }, preventBubble: 'click'" /></td>
        </tr>
        <!-- /ko -->
    </tbody>
</table>
<!-- /ko -->
<!-- ko ifnot: Visits.AllowInput -->
<table class="modern-grid visits-grid">
    <colgroup>
        <col />
        <col />
        <col />
    </colgroup>
    <thead>
        <tr>
            <td></td>
            <td title="@Html.TextRegion(TextRegionConstants.VisitDate)">@Html.TextRegion(TextRegionConstants.VisitDate)</td>
            <td class="text-right" title="@Html.TextRegion(TextRegionConstants.Balance)">@Html.TextRegion(TextRegionConstants.Balance)</td>
        </tr>
    </thead>
    <tbody>
        <!-- ko foreach: Visits -->
        <tr data-bind="click: $parent.Visits.ClickRow">
            <td data-bind="text: SourceSystemKeyDisplay"></td>
            <td data-bind="text: DischargeDate"></td>
            <td class="text-right" data-bind="text: DisplayBalance"></td>
        </tr>
        <!-- /ko -->
    </tbody>
</table>
<!-- /ko -->