﻿@using Ivh.Common.VisitPay.Constants
<div id="modalArrangePaymentSubmit" data-context="payment" class="modal modal-vcenter fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-md">
        <div class="modal-content" data-bind="with: ActivePaymentOption">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">@Html.TextRegion(TextRegionConstants.ConfirmPayment)</h4>
            </div>
            <div class="modal-body">
                <!-- ko if: $root.ArrangePaymentValidationResponseViewModel().FinancePlanIsAvailable -->
                <div class="row modern-form">
                    <div class="col-xs-12 text-left">
                        <div class="alert alert-info">
                            <span class="small-line-height">
                                <p><strong data-bind="html: $root.ArrangePaymentValidationResponseViewModel().FinancePlanOfferMessage.ContentTitle"></strong></p>
                                <p data-bind="html: $root.ArrangePaymentValidationResponseViewModel().FinancePlanOfferMessage.ContentBody"></p>
                            </span>
                            <div class="text-center">
                                <button class="btn btn-accent btn-outline text-center" data-bind="click: $root.ViewFinancePlanOffer">@Html.TextRegion(TextRegionConstants.SetUpFinancing)</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /ko -->
                <div class="row">
                    <div class="col-xs-6 text-right">@Html.TextRegion(TextRegionConstants.PaymentAmountTotal):</div>
                    <div class="col-xs-6">
                        <span data-bind="currencyText: PaymentAmount.Calculated"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 text-right">@Html.TextRegion(TextRegionConstants.ScheduledDate):</div>
                    <div class="col-xs-6">
                        <span data-bind="text: PaymentDate"></span>
                    </div>
                </div>
                <div class="row payment-method">
                    <div class="col-xs-6 text-right">@Html.TextRegion(TextRegionConstants.PaymentMethod):</div>
                    <div class="col-xs-6">
                        <span data-bind="html: $root.SelectedPaymentMethod.Display" class="payment-method-display"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer text-center">
                <a href="javascript:;" title="@Html.TextRegion(TextRegionConstants.ButtonMakeChanges)" data-dismiss="modal">@Html.TextRegion(TextRegionConstants.ButtonMakeChanges)</a>
                <button class="btn btn-primary btn-lg" type="submit" title="@Html.TextRegion(TextRegionConstants.ConfirmPayment)">@Html.TextRegion(TextRegionConstants.ConfirmPayment)</button>
            </div>
        </div>
    </div>
</div>
