﻿@using Ivh.Common.Web.Models.Payment
@model PaymentSummaryListViewModel

@if (Model.IsScheduledPayments)
{
    foreach (PaymentSummaryViewModel paymentSummary in Model.PaymentSummaries)
    {
        <div class="alert alert-success text-center">
            <p>
                @Html.TextRegion(TextRegionConstants.PaymentReceiptScheduled, new Dictionary<string, string>
                {
                    {"[[PaymentAmount]]", paymentSummary.ScheduledPaymentAmount }
                })
            </p>
            <p>@Html.TextRegion(TextRegionConstants.PaymentNotificationPeriodsMessage)</p>
            <p>@Html.Raw(Html.TextRegion(TextRegionConstants.BillQuestionsSupportCall))</p>
        </div>
    }
    foreach (string errorMessage in Model.ErrorMessages)
    {
        <div class="alert alert-danger text-center">
            <p>@Html.Raw(errorMessage)</p>
            <p>@Html.TextRegion(TextRegionConstants.TryAgainOrCallSupport)</p>
        </div>
    }
}
else if (Model.IsFinancePlanWithoutPayment)
{
    <div class="alert alert-success text-center">
        <p>@Html.TextRegion(TextRegionConstants.ThanksForFinancePlanArrangement)</p>
        <p>
            @Html.TextRegion(TextRegionConstants.PaymentReceiptFinancePlanOriginatedWithoutPayment, new Dictionary<string, string> 
            {
                {"[[PaymentDueDate]]", Model.FinancePlanFirstPaymentDueDate.ToString(Format.DateFormat) }
            })
        </p>
        <p>@Html.Raw(Html.TextRegion(TextRegionConstants.BillQuestionsSupportCall))</p>
    </div>
}
else // prompt payments
{
    foreach (PaymentSummaryViewModel paymentSummary in Model.PaymentSummaries)
    {
        <div class="alert alert-success text-center">
            @if (paymentSummary.IsFinancePlan)
            {
                <p>@Html.TextRegion(TextRegionConstants.ThanksForFinancePlanArrangement)</p>
                <p>
                    @Html.TextRegion(TextRegionConstants.PaymentReceiptFinancePlanWithPayment, new Dictionary<string, string>
                    {
                        {"[[ConfirmationNumbers]]", paymentSummary.TransactionId },
                        {"[[PaymentAmount]]", paymentSummary.ActualPaymentAmount }
                    })
                </p>
            }
            else
            {
                <p>
                    @Html.TextRegion(TextRegionConstants.PaymentReceiptPrompt, new Dictionary<string, string>
                    {
                        {"[[ConfirmationNumbers]]", paymentSummary.TransactionId },
                        {"[[PaymentAmount]]", paymentSummary.ActualPaymentAmount }
                    })
                </p>
            }

            <p>@Html.TextRegion(TextRegionConstants.ConfirmationWillBeSentTo) @Model.Email.</p>

            @if (paymentSummary.IsAchType)
            {
                <p>@Html.TextRegion(TextRegionConstants.AchPaymentProcessingTimeMessage)</p>
                <p>@Html.TextRegion(TextRegionConstants.AchPaymentIssuesNotificationMessage)</p>
            }
            <p>@Html.Raw(Html.TextRegion(TextRegionConstants.BillQuestionsSupportCall))</p>
        </div>
    }
    foreach (string warnPaymentMethod in Model.WarnPaymentMethods)
    {
        <div class="alert alert-warning text-center">
            <p>
                @Html.TextRegion(TextRegionConstants.PaymentReceiptPromptWithWarning, new Dictionary<string, string>
                {
                    {"[[WarnPaymentMethods]]", warnPaymentMethod }
                })
            </p>
            <p>@Html.TextRegion(TextRegionConstants.ReviewPaymentDetailsRecommendataion)</p>
            <p>@Html.TextRegion(TextRegionConstants.PaymentDetailsIfYouNeedMoreInfo)</p>
        </div>
    }
    foreach (string errorMessage in Model.ErrorMessages)
    {
        <div class="alert alert-danger text-center">
            <p>@Html.Raw(errorMessage)</p>
            <p>@Html.TextRegion(TextRegionConstants.PaymentResubmitMessage)</p>
        </div>
    }
}