﻿@using Ivh.Common.VisitPay.Constants
<table class="modern-grid household-grid">
    <colgroup>
        <col />
        <col />
        <col />
    </colgroup>
    <thead>
        <tr>
            <td></td>
            <td>@Html.TextRegion(TextRegionConstants.Guarantor)</td>
            <td class="text-right">@ClientDto.ActionableBalanceTextLongTitle</td>
        </tr>
    </thead>
    <tbody>
        <!-- ko foreach: HouseholdBalances.WithBalances -->
        <tr data-bind="click: $parent.HouseholdBalances.ClickRow">
            <td class="text-center">
                <div class="checkbox-styled" data-bind="click: $parent.HouseholdBalances.Click, preventBubble: 'click'">
                    <input type="checkbox" data-bind="checked: $parent.HouseholdBalances.Selected, checkedValue: $data, attr: { id: 'cbPaymentHousehold' + $index() }" tabindex="-1" />
                    <label data-bind="attr: { for: 'cbPaymentHousehold' + $index() }"></label>
                </div>
            </td>
            <td>
                <!-- ko if: IsDiscountEligible -->
                <a class="pull-right" title="@Html.TextRegion(TextRegionConstants.DiscountEligible)" href="javascript:;" data-bind="click: $root.ShowDiscountsFor, preventBubble: 'click'">@Html.TextRegion(TextRegionConstants.DiscountEligible)</a>
                <!-- /ko -->
                <span data-bind="text: VisitPayUserFullName"></span>
            </td>
            <td data-bind="text: TotalBalance" class="text-right"></td>
        </tr>
        <!-- /ko -->
        <!-- ko foreach: HouseholdBalances.WithoutBalances -->
        <tr>
            <td></td>
            <td data-bind="text: VisitPayUserFullName"></td>
            <td data-bind="text: TotalBalance" class="text-right"></td>
        </tr>
        <!-- /ko -->
    </tbody>
</table>
