﻿@using Ivh.Common.VisitPay.Constants
<!-- ko if: FinancePlans.AllowInput -->
<table class="modern-grid financeplan-grid allow-input">
    <colgroup>
        <col />
        <col />
        <col />
        <col />
        <col />
        <col />
    </colgroup>
    <thead>
        <tr>
            <td class="col-date" title="@Html.TextRegion(TextRegionConstants.EffectiveDate)">@Html.TextRegion(TextRegionConstants.EffectiveDate)</td>
            <td title="@Html.TextRegion(TextRegionConstants.Status)">@Html.TextRegion(TextRegionConstants.Status)</td>
            <td class="col-past-due text-right" title="@Html.TextRegion(TextRegionConstants.PastDueAmount)">@Html.TextRegion(TextRegionConstants.PastDueAmount)</td">
            <td class="text-right" title="@Html.TextRegion(TextRegionConstants.Balance)">@Html.TextRegion(TextRegionConstants.Balance)</td>
            <td class="text-right" title="@Html.TextRegion(TextRegionConstants.PaymentAmount)">@Html.TextRegion(TextRegionConstants.PaymentAmount)</td>
        </tr>
    </thead>
    <tbody>
        <!-- ko foreach: FinancePlans -->
        <tr data-bind="click: $parent.FinancePlans.ClickRow">
            <td class="col-date" data-bind="text: OriginationDate"></td>
            <td data-bind="text: FinancePlanStatusFullDisplayName, css: { 'past-due': IsPastDue() || IsUncollectable(), 'pending': IsPending }"></td>
            <td class="col-past-due text-right" data-bind="text: PastDueAmount, css: { 'past-due': IsPastDue() || IsUncollectable() }"></td>
            <td class="text-right" data-bind="text: CurrentFinancePlanBalance"></td>
            <td class="text-right">
                <input type="text" class="form-control numeric" placeholder="0.00" data-bind="value: PaymentAmount, valueUpdate: 'afterkeydown', event: { keyup: $parent.FinancePlans.Change }, preventBubble: 'click'" />
            </td>
        </tr>
        <!-- /ko -->
    </tbody>
</table>
<!-- /ko -->
<!-- ko ifnot: FinancePlans.AllowInput -->
<table class="modern-grid financeplan-grid">
    <colgroup>
        <col />
        <col />
        <col />
    </colgroup>
    <thead>
        <tr>
            <td></td>
            <td title="@Html.TextRegion(TextRegionConstants.EffectiveDate)">@Html.TextRegion(TextRegionConstants.EffectiveDate)</td>
            <td class="text-right" title="@Html.TextRegion(TextRegionConstants.Balance)">@Html.TextRegion(TextRegionConstants.Balance)</td>
        </tr>
    </thead>
    <tbody>
        <!-- ko foreach: FinancePlans -->
    <tr data-bind="click: $parent.FinancePlans.ClickRow">
        <td>@Html.TextRegion(TextRegionConstants.FinancePlan)</td>
        <td data-bind="text: OriginationDate"></td>
        <td class="text-right" data-bind="text: CurrentFinancePlanBalance"></td>
    </tr>
        <!-- /ko -->
    </tbody>
</table>
<!-- /ko -->