﻿<!-- ko if: ActivePaymentOption.Any -->
<!-- ko foreach: Messages.Errors -->
<div class="alert alert-danger text-center" data-bind="text: $data"></div>
<!-- /ko -->
<form data-bind="with: ActivePaymentOption" autocomplete="off">
    <!-- ko if: HouseholdBalances.Any -->
    @Html.Partial("~/Views/Payment/_ArrangePaymentHouseholdBalances.cshtml")
    <!-- /ko -->
    <!-- ko if: Payments.Any -->
    @Html.Partial("~/Views/Payment/_ArrangePaymentResubmits.cshtml")
    <!-- /ko -->
    <!-- ko if: Visits.Any -->
    @Html.Partial("~/Views/Payment/_ArrangePaymentVisits.cshtml")
    <!-- /ko -->
    <!-- ko if: FinancePlans.Any -->
    @Html.Partial("~/Views/Payment/_ArrangePaymentFinancePlans.cshtml")
    <!-- /ko -->
    <div class="row row-form">
        <div class="col-xs-6 col-xs-offset-3">
            <div class="modern-form">
                <!-- ko if: ShowPayBucketZero() -->
                <div class="form-group row pay-bucket-zero">
                    <div class="col-xs-9">
                        <span>
                            @Html.Raw(Html.TextRegion(TextRegionConstants.ApplyToAmountDue, new Dictionary<string, string>
                            {
                                { "[[AmountDueTotal]]", "<span data-bind=\"currencyText: AmountDueTotal()\"></span>" }
                            }))
                        </span>
                    </div>
                    <div class="col-xs-3 text-right checkbox-styled">
                        <input id="apPayBucketZero" type="checkbox" data-bind="checked: PayBucketZero" tabindex="-1" />
                        <label for="apPayBucketZero"></label>
                    </div>
                </div>
                <!-- /ko -->
                <!-- ko if: IsDiscountEligible -->
                <div class="form-group row">
                    <div class="col-xs-12">
                        <label>@Html.TextRegion(TextRegionConstants.PaymentAmountBalance)</label>
                        <div data-bind="currencyText: UserApplicableBalance.Calculated"></div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-12 discount-amount">
                        <label>@Html.TextRegion(TextRegionConstants.DiscountsAmount)</label>
                        <div>
                            <span data-bind="currencyText: DiscountAmount.Calculated"></span>
                            &nbsp;
                            <a href="javascript:;" title="@Html.TextRegion(TextRegionConstants.DiscountsView)" data-bind="click: $root.ShowDiscounts">@Html.TextRegion(TextRegionConstants.DiscountsView)</a>
                        </div>
                    </div>
                </div>
                <!-- /ko -->
                <div class="form-group row">
                    <div class="col-xs-6 payment-amount">
                        <!-- ko if: IsAmountReadonly -->
                        <label for="PaymentAmount">@Html.TextRegion(TextRegionConstants.PaymentAmountTotal)</label>
                        <!-- /ko -->
                        <!-- ko ifnot: IsAmountReadonly -->
                        <label for="PaymentAmount">@Html.TextRegion(TextRegionConstants.PaymentAmountEnter)</label>
                        <!-- /ko -->
                        <div>
                            <!-- ko if: IsAmountReadonly -->
                            <span data-bind="currencyText: PaymentAmount.Calculated, defaultEmptyText: '$0.00'"></span>
                            <!-- /ko -->
                            <!-- ko ifnot: IsAmountReadonly -->
                            <input id="PaymentAmount" name="PaymentAmount" type="text" class="form-control numeric" placeholder="0.00" data-bind="textInput: PaymentAmount" data-val="true" data-val-number="" data-val-required="" />
                            <!-- /ko -->
                            <!-- ko if: Description().length > 0 -->
                            <div style="display: none;" data-tooltip-html data-bind="html: Description"></div>
                            <em class="vpicon-question" data-toggle="tooltip-html"></em>
                            <!-- /ko -->
                        </div>
                    </div>
                    <div class="col-xs-6 text-right payment-date">
                        <label for="PaymentDate">@Html.TextRegion(TextRegionConstants.PaymentDate)</label>
                        <div>
                            <div class="readonly-date" data-bind="visible: IsDateReadonlyOverride()">
                                <span data-bind="text: PaymentDate"></span>
                            </div>
                            <div class="input-group date" data-bind="visible: !IsDateReadonlyOverride()">
                                <input id="PaymentDate" name="PaymentDate" type="text" class="form-control" readonly="readonly" data-bind="textInput: PaymentDate" data-val="true" data-val-required="" />
                                <div class="input-group-addon">
                                    <em class="vpicon-calendar"></em>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row payment-method">
                    <div class="col-xs-12">
                        <label>@Html.TextRegion(TextRegionConstants.PaymentMethod)</label>
                        <div>
                            <span data-bind="html: $root.SelectedPaymentMethod.Display" class="payment-method-display"></span>
                            @Html.VpButton("btnPaymentPaymentMethodEdit", Html.TextRegion(TextRegionConstants.ButtonEdit), VpButtonTypeEnum.Button, VpButtonClassEnum.AccentOutline, new { data_bind = "click: $root.ChangePaymentMethod" })
                        </div>
                    </div>
                </div>
                <div class="form-group row continue">
                    <div class="col-xs-12 text-right">
                        <hr />
                        @Html.VpButton("btnContinue1", Html.TextRegion(TextRegionConstants.ButtonContinue), VpButtonTypeEnum.Submit, VpButtonClassEnum.Primary, new { data_bind = "enable: $root.IsValid" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- /ko -->