﻿@using Ivh.Common.VisitPay.Constants
<div id="modalDiscounts" class="modal modal-vcenter fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">@Html.TextRegion(TextRegionConstants.VisitsWithDiscounts)</h4>
            </div>
            <div class="modal-body" data-context="discounts">
                <!-- ko if: DiscountGuarantorOffer.Any -->
                <p>@Html.TextRegion(TextRegionConstants.DiscountsAvailableMessage).</p>
                <table class="static-grid" data-bind="with: DiscountGuarantorOffer">
                    <colgroup>
                        <col />
                        <col />
                        <col />
                        <col />
                        <col />
                    </colgroup>
                    <thead>
                        <tr>
                            <td>@Html.TextRegion(TextRegionConstants.Visit) #</td>
                            <td>@Html.TextRegion(TextRegionConstants.VisitType)</td>
                            <td class="text-right">@Html.TextRegion(TextRegionConstants.VisitBalance)</td>
                            <td class="text-right">@Html.TextRegion(TextRegionConstants.DiscountPercent)</td>
                            <td class="text-right">@Html.TextRegion(TextRegionConstants.DiscountsAmount)</td>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: VisitOffers">
                        <tr>
                            <td data-bind="text: SourceSystemKeyDisplay"></td>
                            <td data-bind="text: BillingApplicationText"></td>
                            <td data-bind="currencyText: TotalBalance" class="text-right"></td>
                            <td data-bind="percentText: DiscountPercent" class="text-right"></td>
                            <td data-bind="currencyText: DiscountAmount" class="text-right"></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4" class="text-right"><strong>@Html.TextRegion(TextRegionConstants.TotalDiscountAvailable):</strong></td>
                            <td class="text-right"><strong data-bind="currencyText: DiscountTotal"></strong></td>
                        </tr>
                    </tfoot>
                </table>
                <!-- /ko -->
                <!-- ko foreach: DiscountManagedOffers -->
                <p><span data-bind="text: FirstNameLastName"></span> @Html.TextRegion(TextRegionConstants.NameHasDiscountsAvailable)</p>
                <table class="static-grid">
                    <colgroup>
                        <col />
                        <col />
                        <col />
                        <col />
                        <col />
                    </colgroup>
                    <thead>
                        <tr>
                            <td>@Html.TextRegion(TextRegionConstants.Visit) #</td>
                            <td>@Html.TextRegion(TextRegionConstants.VisitType)</td>
                            <td class="text-right">@Html.TextRegion(TextRegionConstants.VisitBalance)</td>
                            <td class="text-right">@Html.TextRegion(TextRegionConstants.DiscountPercent)</td>
                            <td class="text-right">@Html.TextRegion(TextRegionConstants.DiscountsAmount)</td>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: VisitOffers">
                        <tr>
                            <td data-bind="text: SourceSystemKeyDisplay"></td>
                            <td data-bind="text: BillingApplicationText"></td>
                            <td data-bind="currencyText: TotalBalance" class="text-right"></td>
                            <td data-bind="percentText: DiscountPercent" class="text-right"></td>
                            <td data-bind="currencyText: DiscountAmount" class="text-right"></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4" class="text-right"><strong>@Html.TextRegion(TextRegionConstants.TotalDiscountAvailable):</strong></td>
                            <td class="text-right"><strong data-bind="currencyText: DiscountTotal"></strong></td>
                        </tr>
                    </tfoot>
                </table>
                <!-- /ko -->
            </div>
        </div>
    </div>
</div>
