﻿@model Ivh.Common.Web.Models.Payment.PaymentCancelViewModel

<div id="modalPaymentCancel" class="modal fade modal-mobile" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">@Html.TextRegion(TextRegionConstants.CancelPayment)</h4>
            </div>
            <div class="modal-body">
                <p data-bind="html: CmsCancel().ContentBody()"></p>
                <!-- ko if: IsEligibleToCancel -->
                <!-- ko if: IsRecurringPayment -->
                <hr />
                <div class="row form-group">
                    <div class="col-sm-8 col-sm-offset-2 col-xs-12">
                        <span class="pull-right" data-bind="text: PaymentDueDate"></span>
                        @Html.TextRegion(TextRegionConstants.PaymentDueDate):
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-8 col-sm-offset-2 col-xs-12">
                        <span class="pull-right" data-bind="text: AmountDuePrior"></span>
                        @Html.TextRegion(TextRegionConstants.AmountDuePriorToCancellation):
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-8 col-sm-offset-2 col-xs-12">
                        <strong class="pull-right" data-bind="text: AmountDueAfter"></strong>
                        <strong>@Html.TextRegion(TextRegionConstants.AmountDueFollowingCancellation):</strong>
                    </div>
                </div>
                <!-- /ko -->
                <hr />
                <form autocomplete="off">
                    <div class="form-group row">
                        <div class="col-sm-3 col-xs-5">@Html.VpLabelFor(m => m.PaymentCancelReasonId)</div>
                        <div class="col-sm-6 col-xs-7">
                            @Html.DropDownList("PaymentCancelReasonId", new List<SelectListItem>(), new { @class = "form-control", data_bind = "options: PaymentCancelReasons, optionsText: 'Description', optionsValue: 'PaymentActionReasonId', optionsCaption: '" + Html.TextRegion(TextRegionConstants.SelectReason) + "', value: PaymentCancelReasonId" })
                        </div>
                    </div>
                    <!-- ko if: PaymentCancelReasons.IsRequireInput -->
                    <div class="form-group row">
                        <div class="col-xs-12">
                            @Html.TextAreaFor(m => m.PaymentCancelDescription, new { @class = "form-control", data_bind = "value: PaymentCancelDescription" })
                        </div>
                    </div>
                    <!-- /ko -->
                </form>
                <!-- /ko -->
            </div>
            <div class="modal-footer text-center">
                <!-- ko if: IsEligibleToCancel -->
                <button type="submit" class="btn btn-primary">@Html.TextRegion(TextRegionConstants.ButtonConfirm)</button>
                <!-- /ko -->
                <button type="button" class="btn btn-primary" data-dismiss="modal">@Html.TextRegion(TextRegionConstants.ButtonExit)</button>
            </div>
        </div>
    </div>
</div>
