﻿@model Ivh.Common.Web.Models.Payment.CardAccountViewModel

<div id="modalPaymentMethod" class="modal fade modal-paymentmethod" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md">
        <form class="modal-content" autocomplete="off">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.CardCodeRequired, new { data_bind = "value: CardCodeRequired" })
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">
                    <!-- ko if: PaymentMethodId.IsNew -->
                    @Html.TextRegion(TextRegionConstants.AddCreditDebitCard)
                    <!-- /ko -->
                    <!-- ko ifnot: PaymentMethodId.IsNew -->
                    @Html.TextRegion(TextRegionConstants.EditCreditDebitCard)
                    <!-- /ko -->
                </h4>
            </div>
            <div class="modal-body modern-form">
                <p>@Html.TextRegion(TextRegionConstants.WeDoNotStorePaymentInformation)</p>
                @Html.ValidationSummary(Html.TextRegion(TextRegionConstants.ValidationCorrectErrors), new { @class = "validation-summary-custom-errors" })
                <div class="row form-group">
                    <div class="col-xs-8 col-xs-push-4">
                        <img src="~/Content/Images/visa.png" alt="Visa" />
                        <img src="~/Content/Images/mastercard.png" alt="MasterCard" />
                        <img src="~/Content/Images/amex.png" alt="American Express" />
                        <img src="~/Content/Images/discover.png" alt="Discover" />
                    </div>
                </div>

                <!-- NAME / CARD NUMBER -->
                <div class="row form-group">
                    <div class="col-xs-12 col-sm-6">
                        @Html.VpLabelFor(m => m.NameOnCard)
                        @Html.VpTextBoxFor(m => m.NameOnCard, new { data_bind = "value: NameOnCard" })
                    </div>
                    <div class="col-xs-12 col-sm-6 card-number">
                        @Html.VpLabelFor(m => m.BillingId, new { @class = "required" })
                        <div class="card-icon">
                            <img src="/Content/Images/visa.png" alt="VISA" data-bind="visible: PaymentMethodTypeId.IsVisa" />
                            <img src="/Content/Images/mastercard.png" alt="MasterCard" data-bind="visible: PaymentMethodTypeId.IsMastercard" />
                            <img src="/Content/Images/discover.png" alt="Discover" data-bind="visible: PaymentMethodTypeId.IsDiscover" />
                            <img src="/Content/Images/amex.png" alt="American Express" data-bind="visible: PaymentMethodTypeId.IsAmex" />
                        </div>
                        <!-- ko if: PaymentMethodId.IsNew -->
                        @if (this.IsCurrentUserEmulating())
                        {
                            <span>@Html.TextRegion(TextRegionConstants.EmulatedUserNotAuthorized)</span>
                        }
                        else
                        {
                            @Html.SecurePan()
                        }
                        <!-- /ko -->
                        <!-- ko ifnot: PaymentMethodId.IsNew -->
                        <input class="form-control" disabled="disabled" data-bind="attr: {  value: 'X-' + LastFour() }" />
                        <!-- /ko -->
                    </div>
                </div>

                <!-- EXPIRATION -->
                <div class="row form-group">
                    <div class="col-xs-12 col-sm-8 col-md-8">
                        @Html.VpLabelFor(m => m.ExpirationMonth)
                        <div class="expiration-date">
                            @Html.DropDownListFor(m => m.ExpirationMonth, Model.Months, "--" + @Html.TextRegion(TextRegionConstants.DobMonth) + "--", new { @class = "form-control", data_bind = "value: ExpirationMonth" })
                            @Html.DropDownListFor(m => m.ExpirationYear, Model.Years, "--" + Html.TextRegion(TextRegionConstants.DobYear) + "--", new { @class = "form-control", data_bind = "value: ExpirationYear" })
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        @Html.VpLabelFor(m => m.CardCode):
                        <a class="glyphicon glyphicon-question-sign" href="javascript:;" id="aCardCodeHelp" tabindex="-1"></a>
                        @Html.VpTextBoxFor(m => m.CardCode, new { data_bind = "value: CardCode", maxlength = 4 })
                    </div>
                </div>
                <hr />
                <!-- ADDRESS LINE 1 -->
                <div class="row form-group">
                    <div class="col-xs-12">
                        @Html.VpLabelFor(m => m.AddressLine1)
                        @Html.VpTextBoxFor(m => m.AddressLine1, new { data_bind = "value: AddressLine1" })
                    </div>
                </div>
                <!-- ADDRESS LINE 2 -->
                <div class="row form-group">
                    <div class="col-xs-12">
                        @Html.VpTextBoxFor(m => m.AddressLine2, new { data_bind = "value: AddressLine2" })
                    </div>
                </div>
                <!-- CITY / STATE / ZIP -->
                <div class="row form-group">
                    <div class="col-xs-12 col-group">
                        <div class="col-xs-4">@Html.VpTextBoxFor(m => m.City, new { data_bind = "value: City" })</div>
                        <div class="col-xs-5">@Html.VpStatesDropDownListFor(m => m.State, new { @class = "form-control", data_bind = "value: State" })</div>
                        <div class="col-xs-3">@Html.VpTextBoxFor(m => m.Zip, new { data_bind = "value: Zip" })</div>
                    </div>
                </div>
                <hr />
                <!-- ACCOUNT NICKNAME -->
                <div class="row form-group">
                    <div class="col-xs-12">
                        @Html.VpLabelFor(m => m.AccountNickName)
                        @Html.VpTextBoxFor(m => m.AccountNickName, new { data_bind = "value: AccountNickName" })
                    </div>
                </div>

                <!-- ACCOUNT TYPE -->
                <div class="row form-group">
                    <div class="col-xs-12">
                        @Html.Label(Html.TextRegion(TextRegionConstants.MarkAsHsaEtAl))
                        <div class="expiration-date">
                            @Html.DropDownListFor(m => m.AccountTypeId, Model.AccountTypes, new { @class = "form-control", data_bind = "value: AccountTypeId" })
                            @Html.DropDownListFor(m => m.ProviderTypeId, Model.ProviderTypes, "--" + Html.TextRegion(TextRegionConstants.Provider) + "--", new { @class = "form-control", data_bind = "value: ProviderTypeId" })
                        </div>
                    </div>
                </div>
                <!-- ko if: AllowSingleUse -->
                <div class="row form-group">
                    <div class="col-xs-offset-4 col-xs-8">
                        <div class="checkbox-styled">
                            @Html.CheckBoxFor(m => m.IsActive, new { data_bind = "checked: IsActive" })
                            @Html.LabelFor(m => m.IsActive)
                            <a class="glyphicon glyphicon-question-sign checkbox-tip" href="javascript:;" tabindex="-1" data-toggle="tooltip" title="@Html.TextRegion(TextRegionConstants.NotSavingPaymentMethodWarning)"></a>
                        </div>
                    </div>
                </div>
                <!-- /ko -->
                <!-- ko if: !IsActive() -->
                <div class="alert alert-light single-use-alert">
                    @Html.CmsLabel("PaymentMethods_SingleUseWarning")
                </div>
                <!-- /ko -->
            </div>

            <div class="modal-footer text-center">
                <button type="submit" class="btn btn-primary" id="btnAccountSave" data-bind="enable: PaymentMethodId.SaveEnabled">@Html.TextRegion(TextRegionConstants.ButtonSave)</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="btnAccountCancel">@Html.TextRegion(TextRegionConstants.ButtonCancel)</button>
            </div>
        </form>
    </div>
</div>