﻿@using Ivh.Common.VisitPay.Constants
@model Ivh.Common.Web.Models.Payment.BankAccountViewModel

<div id="modalPaymentMethod" class="modal fade modal-paymentmethod" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md">
        <form class="modal-content" autocomplete="off">
            @Html.AntiForgeryToken()
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">
                    <!-- ko if: PaymentMethodId.IsNew -->
                    @Html.TextRegion(TextRegionConstants.AddBankAccount)
                    <!-- /ko -->
                    <!-- ko ifnot: PaymentMethodId.IsNew -->
                    @Html.TextRegion(TextRegionConstants.EditBankAccount)
                    <!-- /ko -->
                </h4>
            </div>
            <div class="modal-body modern-form">
                <p>@Html.TextRegion(TextRegionConstants.WeDoNotStorePaymentInformation)</p>
                @Html.ValidationSummary(Html.TextRegion(TextRegionConstants.ValidationCorrectErrors), new { @class = "validation-summary-custom-errors" })
                @Html.HiddenFor(m => m.PaymentMethodId, new { data_bind = "value: PaymentMethodId" })

                @* FIRST / LAST NAME *@
                <div class="row form-group">
                    <div class="col-xs-6">
                        @Html.VpLabelFor(m => m.FirstName)
                        @Html.VpTextBoxFor(m => m.FirstName, new { data_bind = "value: FirstName" })
                    </div>
                    <div class="col-xs-6">
                        @Html.VpLabelFor(m => m.LastName)
                        @Html.VpTextBoxFor(m => m.LastName, new { data_bind = "value: LastName" })
                    </div>
                </div>

                @* BANK NAME *@
                <div class="row form-group">
                    <div class="col-xs-12">
                        @Html.VpLabelFor(m => m.BankName)
                        @Html.VpTextBoxFor(m => m.BankName, new { data_bind = "value: BankName" })
                    </div>
                </div>

                <!-- ko if: PaymentMethodId.IsNew -->
                @* ACCOUNT TYPE / ROUTING NUMBER, EDITABLE *@
                <div class="row form-group">
                    <div class="col-sm-12 col-md-6">
                        @Html.VpLabelFor(m => m.PaymentMethodTypeId)
                        @Html.DropDownListFor(m => m.PaymentMethodTypeId, Model.AchTypes, Html.TextRegion(TextRegionConstants.DropdownSelectPlaceholder), new { @class = "form-control", data_bind = "value: PaymentMethodTypeId" })
                    </div>
                    <div class="col-sm-12 col-md-6">
                        @Html.VpLabelFor(m => m.RoutingNumber, new { @class = "required" })
                        <a class="glyphicon glyphicon-question-sign aRoutingAccountHelp" href="javascript:;" tabindex="-1"></a>
                        @Html.VpTextBoxFor(m => m.RoutingNumber, new { data_bind = "value: RoutingNumber" })
                    </div>
                </div>
                @* ACCOUNT NUMBER / CONFIRMATION, EDITABLE *@
                <div class="row form-group">
                    <div class="col-sm-12 col-md-6">
                        @Html.VpLabelFor(m => m.AccountNumber, new { @class = "required" })
                        <a class="glyphicon glyphicon-question-sign aRoutingAccountHelp" href="javascript:;" tabindex="-1"></a>
                        @Html.VpTextBoxFor(m => m.AccountNumber, new { data_bind = "value: AccountNumber" })
                    </div>
                    <div class="col-sm-12 col-md-6">
                        @Html.VpLabelFor(m => m.AccountNumberConfirm, new { @class = "required" })
                        <a class="glyphicon glyphicon-question-sign aRoutingAccountHelp" href="javascript:;" tabindex="-1"></a>
                        @Html.VpTextBoxFor(m => m.AccountNumberConfirm, new { data_bind = "value: AccountNumberConfirm" })
                    </div>
                </div>
                <!-- /ko -->
                <!-- ko ifnot: PaymentMethodId.IsNew -->
                @* ACCOUNT TYPE / ACCOUNT NUMBER, READ-ONLY *@
                <div class="row form-group">
                    <div class="col-xs-6">
                        @Html.VpLabelFor(m => m.PaymentMethodTypeId)
                        @Html.HiddenFor(m => m.PaymentMethodTypeId)
                        <input class="form-control" disabled="disabled" data-bind="value: AchTypeString" />
                    </div>
                    <div class="col-xs-6">
                        @Html.VpLabelFor(m => m.AccountNumber, new { @class = "required" })
                        <input class="form-control" disabled="disabled" data-bind="attr: {  value: 'X-' + LastFour() }" />
                    </div>
                </div>
                <!-- /ko -->

                <div class="row form-group">
                    <div class="col-xs-12">
                        @Html.VpLabelFor(m => m.AccountNickName)
                        @Html.VpTextBoxFor(m => m.AccountNickName, new { data_bind = "value: AccountNickName" })
                    </div>
                </div>
                <!-- ko if: AllowSingleUse -->
                <div class="row form-group">
                    <div class="col-xs-offset-4 col-xs-8">
                        <div class="checkbox-styled">
                            @Html.CheckBoxFor(m => m.IsActive, new { data_bind = "checked: IsActive" })
                            @Html.LabelFor(m => m.IsActive)
                            <a class="glyphicon glyphicon-question-sign checkbox-tip" href="javascript:;" tabindex="-1" data-toggle="tooltip" title="@Html.TextRegion(TextRegionConstants.NotSavingPaymentMethodWarning)"></a>
                        </div>
                    </div>
                </div>
                <!-- /ko -->
                <!-- ko if: !IsActive() -->
                <div class="alert alert-light single-use-alert">
                    @Html.CmsLabel("PaymentMethods_SingleUseWarning")
                </div>
                <!-- /ko -->
            </div>
            <div class="modal-footer text-center">
                <button type="submit" class="btn btn-primary" id="btnAccountSave">@Html.TextRegion(TextRegionConstants.ButtonSave)</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="btnAccountCancel">@Html.TextRegion(TextRegionConstants.ButtonCancel)</button>
            </div>
        </form>
    </div>
</div>