﻿<div class="vpgrid-container vpgrid-container-expandable" id="gridPaymentHistory" data-bind="css: { expanded: IsExpanded }">
    <div class="vpgrid-header" data-bind="click: IsExpanded.Toggle.bind($data, false)">
        <ul class="links" data-bind="visible: IsExpanded.Ready" style="display: none;">
            <li>@Html.ExportButton("btnPaymentHistoryExport", Html.TextRegion(TextRegionConstants.Export), new { data_bind = "visible: Grid.HasResults, click: Grid.Export, clickBubble: false" })</li>
        </ul>
        <h4>@Html.TextRegion(TextRegionConstants.PaymentHistoryPageHeading)</h4>
    </div>
    <div data-bind="visible: IsExpanded.Ready" style="display: none;">
        <div class="vpgrid vpgrid-clickable grid-payment-history" data-bind="with: Grid">
            <!-- ko foreach: Data.Results -->
            <div class="row grid-row" title="View Payment Details" data-bind="css: { 'light': IsCancelled }">
                <div class="col" data-bind="text: InsertDate"></div>
                <div class="col text-ellipsis">
                    <span data-bind="text: PaymentStatusMessage"></span>
                </div>
                <div class="col" data-bind="text: PaymentType"></div>
                <div class="col payment-method-col">
                    <span class="payment-method-display icon-right">
                        <img data-bind="attr: { alt: PaymentMethod.DisplayName, src: PaymentMethod.DisplayImage }" />
                        <span data-bind="text: PaymentMethod.DisplayName"></span>
                    </span>
                </div>
                <div class="col" data-bind="text: NetPaymentAmount"></div>
            </div>
            <div class="row grid-detail"></div>
            <!-- /ko -->
            @Html.Partial("~/Views/Shared/_VpGridPager.cshtml")
            <!-- ko ifnot: HasResults -->
            @Html.GridAlert("", Html.TextRegion(TextRegionConstants.NoPaymentHistory), visible: true)
            <!-- /ko -->
        </div>
    </div>
</div>