﻿@using Ivh.Common.VisitPay.Constants
<img data-bind="attr: { src: CardImage }" alt="" />
<span data-bind="text: 'X-' + LastFour()"></span>
<span data-bind="text: 'exp. ' + ExpirationDisplay()"></span>
<span style="display: inline-block; width: 17px;">
    <span data-bind="visible: !IsExpired() && IsExpiring()" class="text-danger" title="@Html.TextRegion(TextRegionConstants.CreditCardWillExpireSoon)"><em class="glyphicon glyphicon-flag"></em></span>
    <span data-bind="visible: IsExpired" class="text-danger" title="@Html.TextRegion(TextRegionConstants.CreditCardHasExpired)"><em class="glyphicon glyphicon-flag"></em></span>
</span>
<span data-bind="visible: AccountNickName() != null && AccountNickName().length > 0"><strong>@Html.TextRegion(TextRegionConstants.Name):</strong></span>
<span class="nickname" data-bind="text: AccountNickName, visible: AccountNickName() != null && AccountNickName().length > 0"></span>