﻿@using Ivh.Common.Base.Utilities.Extensions
@using Ivh.Common.Web.Models.Payment
@model PaymentDetailViewModel

<section class="payment-details">
    <div class="details">
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <div class="row">
                    <span>@Model.IdDisplay</span>
                    @Html.TextRegion(TextRegionConstants.IdNumber)
                </div>
                <div class="row">
                    <span>@Model.PaymentProcessorSourceKey</span>
                    @Html.TextRegion(TextRegionConstants.Confirmation) #
                </div>
                <div class="row">
                    @if (Model.PaymentMethod != null)
                    {
                        <span class="payment-method-display">
                            <img src="@Model.PaymentMethod.DisplayImage"/>
                            @Model.PaymentMethod.DisplayName
                        </span>
                    }
                    @Html.TextRegion(TextRegionConstants.PaymentMethod)
                </div>
                <div class="row">
                    <span>@Model.PaymentType</span>
                    @Html.TextRegion(TextRegionConstants.Type)
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="row">
                    <span>@Model.InsertDate</span>
                    @Html.TextRegion(TextRegionConstants.ProcessedDate)
                </div>
                <div class="row">
                    <span>
                        @if (Model.IsFailedOrCancelled)
                        {
                            <span class="cancelled">@Model.PaymentStatusMessage</span>
                        }
                        else
                        {
                            @Model.PaymentStatusMessage
                        }
                    </span>
                    @Html.TextRegion(TextRegionConstants.PaymentStatus)
                </div>
                <div class="row">
                    <span>@Model.SnapshotTotalPaymentAmount</span>
                    @Html.TextRegion(TextRegionConstants.PaymentTransactionAmount)
                </div>
                <div class="row">
                    <span><strong>@Model.NetPaymentAmount</strong></span>
                    @Html.TextRegion(TextRegionConstants.NetPaymentAmount)
                </div>
            </div>
        </div>
    </div>
    <div class="links">
        @Html.ExportButton("btnPaymentDetailExport", Html.TextRegion(TextRegionConstants.ExportReceipt))
    </div>
    @if (Model.PaymentAllocations.IsNotNullOrEmpty())
    {
        <table class="modern-grid">
            <colgroup>
                <col />
                <col />
                <col />
            </colgroup>
            <thead>
                <tr>
                    <td>@Html.TextRegion(TextRegionConstants.Type)</td>
                    <td>@Html.TextRegion(TextRegionConstants.Visit)</td>
                    <td class="text-right">@Html.TextRegion(TextRegionConstants.Amount)</td>
                </tr>
            </thead>
            <tbody>
                @foreach (PaymentAllocationViewModel allocation in Model.PaymentAllocations)
                {
                    <tr>
                        <td>@allocation.DisplayStatus</td>
                        <td>
                            @if (allocation.ShowVisitLink)
                            {
                                <a href="javascript:;" title="@allocation.SourceSystemKeyDisplay" data-visitid="@allocation.VisitId" data-userid="@allocation.VisitPayUserId">@allocation.SourceSystemKeyDisplay</a>
                            }
                            else
                            {
                                @allocation.SourceSystemKeyDisplay
                            }
                        </td>
                        <td class="text-right">@allocation.AllocationAmount</td>
                    </tr>
                }
            </tbody>
        </table>
    }


    @Html.GridElements("PaymentDetail", Html.TextRegion(TextRegionConstants.NoDetailsToDisplay))
</section>