﻿<div class="vpgrid-container vpgrid-container-expandable" id="gridPaymentPending" data-bind="css: { expanded: IsExpanded }">
    <div class="vpgrid-header" data-bind="click: IsExpanded.Toggle.bind($data, false)">
        <ul class="links" data-bind="visible: IsExpanded.Ready" style="display: none;">
            <li>@Html.ExportButton("btnPaymentPendingExport", Html.TextRegion(TextRegionConstants.Export), new { data_bind = "visible: Grid.HasResults, click: Grid.Export, clickBubble: false" })</li>
        </ul>

        <h4>@Html.TextRegion(TextRegionConstants.ScheduledPayments)</h4>
    </div>
    <div data-bind="visible: IsExpanded.Ready" style="display: none;">
        <div class="vpgrid vpgrid-clickable vpgrid-clickable-edit grid-payment-pending" data-bind="with: Grid">
            <!-- ko foreach: Data.Results -->
            <div class="row grid-row" title="@Html.TextRegion(TextRegionConstants.EditPayment)">
                <div class="col" data-bind="text: ScheduledPaymentDate"></div>
                <div class="col" data-bind="text: PaymentType"></div>
                <div class="col payment-method-col">
                    <span class="payment-method-display icon-right">
                        <img data-bind="attr: { alt: PaymentMethod.DisplayName, src: PaymentMethod.DisplayImage }" />
                        <span data-bind="text: PaymentMethod.DisplayName"></span>
                    </span>
                </div>
                <div class="col" data-bind="text: ScheduledPaymentAmount"></div>
            </div>
            <!-- /ko -->
            <!-- ko ifnot: HasResults -->
            @Html.GridAlert("", Html.TextRegion(TextRegionConstants.NoPaymentPending), visible: true)
            <!-- /ko -->
        </div>
    </div>
</div>