﻿@model Ivh.Common.Web.Models.Payment.PaymentMethodsViewModel

<div id="modalPaymentMethods" data-context="paymentmethods" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <!-- ko if: IsChangePrimary() && PaymentMethods.AllAccounts.Count() > 0 -->
                <h4 class="modal-title">
                    @Html.TextRegion(TextRegionConstants.PrimaryPaymentChangePrimary)
                </h4>
                <!-- /ko -->
                <!-- ko if: !IsChangePrimary() || PaymentMethods.AllAccounts.Count() == 0 -->
                <h4 class="modal-title">
                    @Html.TextRegion(TextRegionConstants.SelectAPaymentMethod)
                </h4>
                <!-- /ko -->
            </div>
            <div class="modal-body">
                <section id="section-paymentmethods" data-bind="css: { 'change-primary': IsChangePrimary }">
                    @Html.Partial("_PaymentMethodsList", Model)
                </section>
            </div>
        </div>
    </div>
</div>
