﻿@model Ivh.Common.Web.Models.Payment.PaymentEditViewModel

<div id="modalPaymentEdit" class="modal fade modal-mobile" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">@Html.TextRegion(TextRegionConstants.EditPayment)</h4>
            </div>
            <div class="modal-body">
                <p>
                    <a href="javascript:;" title="@Html.TextRegion(TextRegionConstants.SubmitCustomerCareRequest)" id="aPaymentEditContactSupport">@Html.TextRegion(TextRegionConstants.AdditionalAssistance)</a>.
                </p>
                <!-- ko if: IsAnyOptionEnabled -->
                <hr/>
                <!-- ko if: IsPaymentMethodsEnabled -->
                <div class="option">
                    <a href="javascript:;" id="btnPaymentEditPaymentMethods" title="@Html.TextRegion(TextRegionConstants.ChangePaymentMethod)" data-bind="css: { 'active': Option.Is(1) }">@Html.TextRegion(TextRegionConstants.ChangePaymentMethod)</a>
                    <div data-bind="visible: Option.Is(1)">
                        <p class="text" data-bind="html: CmsPaymentEditPaymentMethod.ContentBody"></p>
                        <section id="s1" class="section-paymentmethods"></section>
                    </div>
                </div>
                <!-- /ko -->
                <!-- ko if: IsRescheduleEnabled -->
                <div class="option">
                    <a href="javascript:;" title="@Html.TextRegion(TextRegionConstants.ReschedulePayment)" data-bind="click: Option.SetTwo, css: { 'active': Option.Is(2) }">@Html.TextRegion(TextRegionConstants.ReschedulePayment)</a>
                    <div data-bind="visible: Option.Is(2)">
                        <!-- ko if: IsUserPermittedReschedule -->
                        <p class="text" data-bind="html: CmsPaymentEditReschedule.ContentBody"></p>
                        <!-- ko if: IsEligibleToReschedule -->
                        <hr/>
                        <form autocomplete="off">
                            <div class="form-group row">
                                <div class="col-sm-3 col-xs-6">@Html.VpLabelFor(m => m.ScheduledPaymentDate)</div>
                                <div class="col-sm-9 col-xs-6" data-bind="text: ScheduledPaymentDate"></div>
                            </div>
                            <!-- ko if: AllowRescheduleDateChange -->
                            <div class="form-group row">
                                <div class="col-sm-3 col-xs-6">@Html.VpLabelFor(m => m.RescheduledPaymentDate)</div>
                                <div class="col-sm-9 col-xs-6" data-hide="desktop">
                                    @Html.VpDatePickerFor(m => m.RescheduledPaymentDate, new {@readonly = "readonly", data_bind = "value: RescheduledPaymentDate", data_id = "RescheduledPaymentDate"})
                                </div>
                                <div class="col-sm-9 col-xs-6" data-hide="mobile">
                                    <input id="RescheduledPaymentDate"
                                           name="RescheduledPaymentDate"
                                           type="date"
                                           class="form-control"
                                           data-bind="value: RescheduledPaymentDate, attr: { max: MaxPaymentDate.Formatted }"
                                           data-val="true"
                                           data-val-required=""
                                           data-id="RescheduledPaymentDate"
                                           min="@DateTime.UtcNow.ToString("yyyy-MM-dd")"/>
                                </div>
                            </div>
                            <!-- /ko -->
                            <!-- ko ifnot: AllowRescheduleDateChange -->
                            <div class="form-group row">
                                <div class="col-sm-3 col-xs-6">@Html.VpLabelFor(m => m.OverrideRescheduledPaymentDate)</div>
                                <div class="col-sm-9 col-xs-6">
                                    <span data-bind="text: OverrideRescheduledPaymentDate"></span>
                                </div>
                            </div>
                            <!-- /ko -->
                            <div class="form-group row">
                                <div class="col-sm-3 col-xs-6">@Html.VpLabelFor(m => m.PaymentRescheduleReasonId)</div>
                                <div class="col-sm-6 col-xs-6">
                                    @Html.DropDownList("PaymentRescheduleReasonId", new List<SelectListItem>(), new {@class = "form-control", data_bind = "options: PaymentRescheduleReasons, optionsText: 'Description', optionsValue: 'PaymentActionReasonId', optionsCaption: '" + Html.TextRegion(TextRegionConstants.SelectReason) + "', value: PaymentRescheduleReasonId"})
                                </div>
                            </div>
                            <!-- ko if: PaymentRescheduleReasons.IsRequireInput -->
                            <div class="form-group row">
                                <div class="col-xs-12">
                                    @Html.TextAreaFor(m => m.PaymentRescheduleDescription, new {@class = "form-control", data_bind = "value: PaymentRescheduleDescription"})
                                </div>
                            </div>
                            <!-- /ko -->
                        </form>
                        <!-- /ko -->
                        <!-- /ko -->
                    </div>
                </div>
                <!-- /ko -->
                <!-- ko if: IsCancelEnabled -->
                <div class="option">
                    <a href="javascript:;" title="Cancel Payment" data-bind="click: Option.SetThree, css: { 'active': Option.Is(3) }">@Html.TextRegion(TextRegionConstants.CancelPayment)</a>
                    <div data-bind="visible: Option.Is(3)">
                        <!-- ko if: IsUserPermittedCancel -->
                        <p class="text" data-bind="html: CmsPaymentEditCancel.ContentBody"></p>
                        <!-- ko ifnot: ShowPastDueFinancePlanMessage -->
                        <!-- ko if: IsEligibleToCancel -->
                        <p class="text-center"><a href="javascript:;" title="@Html.TextRegion(TextRegionConstants.CancelPaymentConfirm)" id="btnPaymentCancel">@Html.TextRegion(TextRegionConstants.CancelPaymentConfirm)</a>
                        </p>
                        <!-- /ko -->
                        <!-- /ko -->
                        <!-- /ko -->
                    </div>
                </div>
                <!-- /ko -->
                <!-- /ko -->
                <!-- ko ifnot: IsAnyOptionEnabled -->
                <div class="alert alert-light">@Html.TextRegion(TextRegionConstants.NoActionsAvailableForPayment)</div>
                <!-- /ko -->
            </div>
            <div class="modal-footer text-center">
                <!-- ko if: IsPaymentMethodsEnabled() || IsRescheduleEnabled() -->
                <button type="submit" class="btn btn-primary">@Html.TextRegion(TextRegionConstants.ButtonSave)</button>
                <!-- /ko -->
                <button type="button" class="btn btn-primary" data-dismiss="modal">@Html.TextRegion(TextRegionConstants.ButtonCancel)</button>
            </div>
        </div>
    </div>
</div>