﻿@model Ivh.Common.Web.Models.Payment.PaymentMethodsViewModel

<section id="section-paymentmethodslist">
    <div class="container account-container">
        <div class="row account-heading modern-form">
            <div class="col-xs-12 text-center">
                @if (IsFeatureEnabled(VisitPayFeatureEnum.PaymentsAch))
                {
                    <button type="button" class="btn btn-accent btn-outline" id="btnBankAccountAdd" title="@Html.TextRegion(TextRegionConstants.AddBankAccount)">@Html.TextRegion(TextRegionConstants.AddBankAccount)</button>
                }
                @if (IsFeatureEnabled(VisitPayFeatureEnum.PaymentsCreditCard))
                {
                    <button type="button" class="btn btn-accent btn-outline" id="btnCardAccountAdd" title="@Html.TextRegion(TextRegionConstants.AddCreditDebitCard)">@Html.TextRegion(TextRegionConstants.AddCreditDebitCard)</button>
                }
            </div>
        </div>
        <!-- PAYMENT METHODS LIST -->
        <ul>
            <!-- ko foreach: PaymentMethods.StandardAccounts -->
            <li class="list-group-item" name="@(Model.AllowSelection ? "paymentmethod-select" : "")">
                <div class="row row-flex">
                    <div class="col-xs-1 col-v-centered">
                        @* Payment method type icon *@
                        <img data-bind="attr: { src: DisplayImage }" alt=""/>
                    </div>
                    <div class="col-xs-7 col-sm-5 payment-method-details">
                        @* Payment Method Details *@
                        <!-- ko if: AccountNickName.Any -->
                        <p>
                            <span data-bind="text: AccountNickName"></span>
                        </p>
                        <p>
                            <!-- ko if: IsCardType -->
                            <span data-bind="text: LastFour.Display"></span>&nbsp;
                            (<span data-bind="text: ExpDateForDisplay"></span>)
                            <span class="text-danger expired-flag" style="display: none;" data-bind="attr: { title: ExpirationMessage }, visible: ExpirationMessage.Any"><em class="glyphicon glyphicon-flag"></em></span>
                            <!-- /ko -->
                            <!-- ko ifnot: IsCardType -->
                            <span data-bind="text: DisplayName"></span>
                            <!-- /ko -->
                        </p>
                        <!-- /ko -->
                        <!-- ko ifnot: AccountNickName.Any -->
                        <p>
                            <!-- ko if: IsCardType -->
                            <span data-bind="text: DisplayName"></span>
                            <!-- /ko -->
                            <!-- ko ifno: IsCardType -->
                            <span data-bind="text: BankName"></span>
                            <!-- /ko -->
                        </p>
                        <!-- ko if: IsCardType -->
                        <p>
                            (<span data-bind="text: ExpDateForDisplay"></span>)
                            <span class="text-danger expired-flag" style="display: none;" data-bind="attr: { title: ExpirationMessage }, visible: ExpirationMessage.Any"><em class="glyphicon glyphicon-flag"></em></span>
                        </p>
                        <!-- /ko -->
                        <!-- ko ifnot: IsCardType -->
                        <p>
                            <span data-bind="text: DisplayName"></span>
                        </p>
                        <!-- /ko -->
                        <!-- /ko -->
                        <!-- ko if: $root.IsSetPrimaryEnabled -->
                        <div class="checkbox-styled modern-form">
                            <input name="paymentmethod-setprimary" data-bind="checked: IsPrimary, attr: { id: PaymentMethodId }" type="checkbox" />
                            <label data-bind="attr: { for: PaymentMethodId }">
                                <!-- ko if: IsPrimary -->
                                @Html.TextRegion(TextRegionConstants.Primary)
                                <!-- /ko -->
                                <!-- ko ifnot: IsPrimary -->
                                @Html.TextRegion(TextRegionConstants.SetAsPrimary)
                                <!-- /ko -->
                            </label>
                        </div>
                        <!-- /ko -->
                    </div>
                    @*<div class="col-sm-4 col-v-centered">
                        
                    </div>*@
                    <div class="col-xs-4 col-sm-6 col-v-centered">
                        @* HSA Indicator *@
                        <!-- ko if: IsCardType -->
                        <div class="hsaType">
                            <!-- ko if: DisplayProviderTypeImage.Any -->
                            <img data-bind="attr: { src: DisplayProviderTypeImage }" alt="" />
                            <!-- /ko -->
                            <span data-bind="text: DisplayAccountTypeText.WithProvider"></span>
                        </div>
                        <!-- /ko -->
                        @* Action Buttons *@
                        <div class="action-buttons" style="margin-left: auto;">
                            <button name="paymentmethod-edit" class="btn-icon" title="@Html.TextRegion(TextRegionConstants.EditPaymentMethod)">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button name="paymentmethod-remove" class="btn-icon" data-bind="attr: { title: RemoveableMessage.Display }, enable: IsRemoveable">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </li>
            <!-- /ko -->
        </ul>
    </div>
</section>