﻿@using Ivh.Common.VisitPay.Constants
<img src="~/Content/Images/bank.png" alt="" />
<span data-bind="text: 'X-' + LastFour()"></span>
<span><strong>@Html.TextRegion(TextRegionConstants.Name):</strong></span>
<span data-bind="text: DisplayName"></span>