﻿@using Ivh.Common.VisitPay.Constants
@{
    Layout = "~/Views/Shared/_LayoutPatientSidebar.cshtml";
}

@section guarantorFilter {
    @Html.Action("GetFilter", "GuarantorFilter", new { title = Html.TextRegion(TextRegionConstants.ViewingActivityFor) + ":" })
}

<section id="section-activity">

    <section id="section-paymentspending">
        @Html.Partial("~/Views/Payment/_PaymentPending.cshtml")
    </section>

    <section id="section-visits">
        @Html.Partial("~/Views/Account/_Visits.cshtml")
    </section>

    <section id="section-financeplanhistory">
        @Html.Partial("~/Views/FinancePlan/_FinancePlanHistory.cshtml")
    </section>

    <section id="section-paymenthistory">
        @Html.Partial("~/Views/Payment/_PaymentHistory.cshtml")
    </section>

    @if (!ClientDto.FooterShowPaymentLogo)
    {
        <div class="payment-logo">
            <img src="/Content/Images/trust-commerce.png" alt="" />
        </div>
    }

</section>

@section scripts {
    @Scripts.Render(
        BundleConstants.CommonPaymentMethods, 
        BundleConstants.MyPayments, 
        BundleConstants.CommonVisitDetails, 
        BundleConstants.AccountMyVisits)
}
