﻿@import '../_variables.scss';
@import '../../Bootstrap/css/bootstrap/_mixins.scss';

#modalCreateSupportRequest {

    .modal-body {
        div.self-serve-text-container {
            border: 1px solid $vp-gray-light;
            margin-bottom: 15px;

            > div.title {
                background: $vp-gray-lightest;
                border-bottom: 1px solid $vp-gray-light;
                color: $text-color;
                font-family: $font-family-alt;
                line-height: 40px;
                position: relative;
                text-align: center;

                > em {
                    color: $vp-gray-dark;
                    font-size: 24px;
                    left: 9px;
                    margin-top: -11px;
                    position: absolute;
                    top: 50%;
                }
            }

            > div.self-serve-text-body {
                margin: 3%;
            }
        }

        .details {
            .description {
                > span {
                    max-width: 190px;
                }
            }

            .submitting-for {
                > span {
                    max-width: 170px;
                    text-align: left;

                    > select {
                        max-width: 170px;
                        min-width: 170px;
                    }
                }
            }
        }

        textarea {
            height: 124px;
        }

        #frmCreateSupportRequestAttachments {

            &:after {
                content: '';
                clear: both;
                display: block;
            }

            .fileupload-buttonbar {
                margin: 5px 0 5px -15px;
                float: left;
                width: 162px;
            }

            table {
                float: left;
                margin-top: 7px;
                width: 420px;

                > colgroup {
                    > col {
                        &:nth-of-type(1) {
                            width: 24px;
                        }

                        &:nth-of-type(3) {
                            width: 72px;
                        }

                        &:nth-of-type(4) {
                            width: 48px;
                        }
                    }
                }

                > tbody {
                    > tr {
                        > td {
                            padding: 0 8px 0 8px;
                            vertical-align: middle;

                            .btn-icon {
                                color: $state-danger-text;
                                font-size: 25px;
                                font-weight: bold;
                                margin-top: -1px;

                                &:hover {
                                    color: $state-danger-text-darker;
                                }
                            }

                            &:first-of-type {
                                padding: 0;
                            }

                            &:last-of-type {
                                padding-right: 0;
                            }
                        }
                    }
                }
            }

            .error {
                color: $state-danger-text;
                display: block;
                font-size: $font-size-small;
                padding-top: 7px;
            }
        }
    }

    .modal-footer {
        position: relative;
    }
}
