﻿@import '../_variables.scss';
@import '../../Bootstrap/css/bootstrap/_mixins.scss';

#modalSupportRequest {

    .modal-title {
        > span {
            &:nth-of-type(2), &:nth-of-type(3) {
                padding-left: 40px;
            }
        }
    }

    .modal-body {
        > .top {
            > .details {
                .row > div[class^="col-xs-"] > div > span {
                    max-width: 320px;
                }
            }
        }

        > .communication {
            margin: 0 -15px 0 -15px;

            > .row {
                margin: 0 -7px 0 -7px;

                > div {
                    padding-left: 7px;
                    padding-right: 7px;

                    .btn-icon {
                        font-size: $font-size-small;
                        margin-left: 8px;
                        margin-top: -2px;
                        outline: none !important;
                    }
                }
            }

            .action {
                margin-top: -5px;
                width: 508px;

                select {
                    width: 170px;
                }
            }

            .messages {
                border: 1px solid $vp-gray-light;
                clear: both;
                height: 192px;
                margin: 5px 0 0 0;
                max-height: 192px;
                overflow-y: scroll;

                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;

                    > li {
                        display: block;
                        margin: 0;
                        padding: 4px 6px 6px 6px;

                        .title {
                            color: $brand-primary;
                            font-weight: bold;

                            a {
                                display: block;
                                margin-left: 8px;
                                margin-top: 3px;
                                width: 12px;
                            }

                            &.sender-guarantor {
                                color: $vp-state-green;
                            }
                        }

                        .body {
                            height: 36px;
                            line-height: 18px;
                            overflow: hidden;
                            position: relative;

                            p {
                                margin: 0;
                                padding: 0;
                                text-align: justify;
                                -ms-word-break: break-word;
                                word-break: break-word;
                                -ms-word-wrap: break-word;
                                word-wrap: break-word;
                            }

                            .less {
                                display: none;
                            }

                            .more {
                                @include gradient-horizontal(rgba(255,255,255,0), #ffffff, 0, 30%);
                                display: none;
                                padding-left: 20px;
                                position: absolute;
                                top: 18px;
                                right: 0;
                            }

                            .more > a {
                                margin-left: 6px;
                            }
                        }

                        &:nth-of-type(even) {
                            background: $vp-gray-lightest;

                            .body {
                                .more {
                                    @include gradient-horizontal(rgba(255,255,255,0), $vp-gray-lightest, 0, 30%);
                                }
                            }
                        }
                    }
                }
            }
        }

        > .editor {
            height: 144px;
            overflow: hidden;
            padding-top: 15px;
            width: 868px;

            textarea {
                height: 129px;

                &.inactive {
                    border-color: $vp-gray-light important;
                }
            }

            .fileupload-buttonbar {
                display: none;
            }

            #frmEditorAttachments {
                border: 1px solid $vp-gray-light;
                font-size: $font-size-small;
                height: 129px;
                max-height: 129px;
                overflow-x: hidden;
                overflow-y: scroll;
                padding: 4px 4px 0 4px;

                table {
                    width: 100%;

                    > colgroup {
                        > col {
                            &:nth-of-type(1) {
                                width: 32px;
                            }

                            &:nth-of-type(2) {
                            }

                            &:nth-of-type(3) {
                                width: 56px;
                            }

                            &:nth-of-type(4) {
                                width: 24px;
                            }
                        }
                    }

                    > tbody {
                        > tr {
                            > td {
                                .btn-icon {
                                    color: $state-danger-text;
                                    font-size: 25px;
                                    font-weight: bold;
                                    margin-top: -1px;

                                    &:hover {
                                        color: $state-danger-text-darker;
                                    }
                                }

                                &:nth-of-type(2) {
                                    span {
                                        @include text-overflow();
                                        display: block;
                                        width: 154px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .details {
            > .row {
                .support-request-status {
                    span {
                        float: none;
                    }
                }
            }
        }
    }

    .modal-footer {
        height: 56px;

        > .primary-buttons {
            position: relative;

            > #btnSupportRequestDoAction {
                left: 0;
                position: absolute;
                top: 0;
            }
        }

        > .editor-buttons {
            display: none;

            .error {
                color: $state-danger-text;
                float: left;
                font-size: $font-size-small;
                line-height: 25px;
                padding-left: 8px;
            }
        }
    }
}

#modalSupportAttachments {

    .modal-body {
        table {
            font-size: $font-size-small;
            width: 100%;

            > colgroup {
                > col {
                    &:nth-of-type(1) {
                        width: 32px;
                    }

                    &:nth-of-type(2) {
                        width: 116px;
                    }

                    &:nth-of-type(3) {
                        width: 120px;
                    }
                }
            }

            > tbody {
                > tr {
                    > td {
                        &:nth-of-type(2) {
                            > span {
                                @include text-overflow();
                                display: block;
                                width: 116px;
                            }
                        }
                    }
                }
            }
        }
    }
}
