﻿#section-customer-care {
    .vpgrid-container {
        margin-top: 30px;
    }

    .contact-us {
        .phone-number {
            .glyphicon {
                float: left;
                margin-right: 7px;
                margin-top: 1px;
            }
            &:after {
                clear: both;
                content: '';
                display: block;
            }
        }
    }
}
