﻿@model Ivh.Web.QATools.Models.SsoHsGeneratorViewModel
@{
    ViewBag.Title = "Sso Generator";
}

<div class="form-horizontal">
    <div class="panel-primary col-lg-12">
        <div class="panel-heading">Sso For HSG</div>
        <div class="panel-body">
            <h4>Sso Generator</h4>


            <ul class="ul-table " style="padding-top: 20px;">

                <li>
                    Hs Guarantor ID:<span id="HsGuarantorId">@Model.HsGuarantorId</span>
                </li>

                <li>DOB:<input type="text" id="dob" value="@Model.DateOfBirth"/></li>
                <li>SsoSsk:<input type="text" id="SsoSsk" value="1234"/></li>

                <li><input id="GenerateSsoLink" type="submit" value="Generate Link"/></li>
            </ul>
            <input type="hidden" id="SsoHsGuarantorId" value="@Model.HsGuarantorId" />
            <input type="hidden" id="SsoHsPostUrl" value="@Url.Action("MyChartSsoGenerateHsGuarantor", "Etl")" />

            <ul id="generatedLinks" class="ul-table " style="padding-top: 20px;"></ul>
        </div>
    </div>
</div>