﻿<div class="modal fade" id="AddHsGuarantorRegMatchModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><strong>Add HS Guarantor Registration Match</strong></h4>
                <div id="modalAlertMessage" class="alert" style="display: none;">
                </div>
            </div>
            <div>
                <br/>
                <div class="form-group">
                    <label for="billingSystemType" class="control-label col-lg-2">Billing System:&nbsp;</label>
                    <select id="billingSystemType" class="form-control"></select>
                </div>
            </div>
            <div>
                <div class="form-group">
                    <label for="matchString" class="control-label col-lg-2">Match String:&nbsp;</label>
                    <input id="matchString" class="form-control">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="CloseAddHsGuarantorRegMatch">Close</button>
                <button type="button" class="btn btn-primary" id="SaveAddHsGuarantorRegMatch" disabled>Save</button>
            </div>
        </div>
    </div>
</div>
