﻿<div class="modal fade" id="ConfirmAddMatchAckEventModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Add Match Acknowledgement Event</h4>
                <div id="modalAlertMessage_ConfirmAddMatchAckEvent" class="alert" style="display: none;"></div>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to add an acknowledgement event to this HsGuarantor?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="ConfirmAddMatchAckEvent">Confirm</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" id="CancelAddMatchAckEvent">Cancel</button>
            </div>
        </div>
    </div>
</div>