﻿@using Ivh.Web.QATools.Models
@model Ivh.Web.QATools.Models.HsGuarantorViewModel
@{
    ViewBag.Title = "ETL | Guarantor | Details";
}
<div class="main">
    <div class="container">
        <div class="col-lg-12">
            <h4>HS Data Mgmt > HS Guarantor Details</h4>
            <div><strong id="UserName">HSGuarantorId: @Model.HsGuarantorId - Last Name: @Model.LastName</strong></div>

            <div class="form-horizontal">
                <div class="panel-primary col-lg-12">
                    <div class="panel-heading">HS Guarantor Base Table</div>
                    @using (Html.BeginForm("HsGuarantorDetailsUpdate", "Etl", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        @Html.HiddenFor(m => m.HsGuarantorId)
                        @Html.HiddenFor(m => m.HsBillingSystemId)
                        @Html.HiddenFor(m => m.SourceSystemKey)
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="HsBillingSystemId" class="control-label col-lg-2">HsBillingSystemId</label>
                                <div class="col-lg-2">
                                    <div id="HsBillingSystemId" class="form-control">@Model.HsBillingSystemId</div>
                                </div>

                                <label for="SourceSystemKey" class="control-label col-lg-2">SourceSystemKey</label>
                                <div class="col-lg-2">
                                    <div id="SourceSystemKey" class="form-control">@Model.SourceSystemKey</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="FirstName" class="control-label col-lg-2">FirstName</label>
                                <div class="col-lg-2">
                                    @Html.EditorFor(m => m.FirstName, new { @class = "form-control" })
                                </div>

                                <label for="LastName" class="control-label col-lg-2">LastName</label>
                                <div class="col-lg-2">
                                    @Html.EditorFor(m => m.LastName, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="FirstName" class="control-label col-lg-2">DOB</label>
                                <div class="col-lg-2">
                                    @Html.EditorFor(m => m.DOB, new { @class = "form-control" })
                                </div>


                                <label for="SSN4" class="control-label col-lg-2">SSN4</label>
                                <div class="col-lg-2">
                                    @Html.EditorFor(m => m.SSN4, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-2"></label>
                                <div class="col-lg-2">
                                </div>

                                <label for="SSN" class="control-label col-lg-2">SSN</label>
                                <div class="col-lg-2">
                                    @Html.EditorFor(m => m.SSN, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="AddressLine1" class="control-label col-lg-2">AddressLine1</label>
                                <div class="col-lg-2">
                                    @Html.EditorFor(m => m.AddressLine1, new { @class = "form-control" })
                                </div>
                                <label for="AddressLine2" class="control-label col-lg-2">AddressLine2</label>
                                <div class="col-lg-2">
                                    @Html.EditorFor(m => m.AddressLine2, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="City" class="control-label col-lg-2">City</label>
                                <div class="col-lg-2">
                                    @Html.EditorFor(m => m.City, new { @class = "form-control" })
                                </div>

                                <label for="StateProvince" class="control-label col-lg-2">State/Prov.</label>
                                <div class="col-lg-2">
                                    @Html.EditorFor(m => m.StateProvince)
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="PostalCode" class="control-label col-lg-2">Postal/Code</label>
                                <div class="col-lg-2">
                                    @Html.EditorFor(m => m.PostalCode)
                                </div>

                                <label for="Country" class="control-label col-lg-2">Country</label>
                                <div class="col-lg-2">
                                    @Html.EditorFor(m => m.Country, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="HsGuarantorTypeCode" class="control-label col-lg-2">HsGuarantor Type</label>
                                <div class="col-lg-2">
                                    @Html.EditorFor(m => m.HsGuarantorTypeCode)
                                </div>

                                <label for="Email" class="control-label col-lg-2">Email</label>
                                <div class="col-lg-2">
                                    @Html.EditorFor(m => m.Email, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="VpEligible" class="control-label col-lg-2">Vp Eligible</label>
                                <div class="col-lg-2">
                                    @Html.EditorFor(m => m.VpEligible)
                                </div>

                                <label for="GenderId" class="control-label col-lg-2">GenderId (Male=1, Female=2, Unknown=3, Unmapped=4)</label>
                                <div class="col-lg-2">
                                    @Html.EditorFor(m => m.GenderId, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <button type="button" id="btnHsGuarantorDetailsUpdate" class="btn btn-default">Update Hs Guarantor Details</button>

                        </div>
                        @*<div class="col-lg-12">
                            <button type="button" id="btnHsGuarantorUnmatch" class="btn btn-default">Unmatch Guarantor</button>
                        </div>*@
                        <button type="submit" id="submitButton" class="" style="visibility: hidden">a</button>
                    }
                    &nbsp;
                </div>
            </div>

            <div class="form-horizontal">
                <div class="panel-primary col-lg-12">
                    <div class="panel-heading">HS Guarantor Matches</div>
                    <div class="panel-body">
                        <table id="VpGuarantorHsMatchesGrid"></table>
                        <div id="VpGuarantorHsMatchesPager"></div>
                    </div>
                </div>
            </div>

            <div class="form-horizontal">
                <div class="panel-primary col-lg-12">
                    <div class="panel-heading">HS Guarantor Events</div>
                    <div class="panel-body">
                        <table id="HsGuarantorEventsGrid"></table>
                        <div id="HsGuarantorEventsPager"></div>
                    </div>
                </div>
            </div>
            <div class="form-horizontal">
                <div class="panel-primary col-lg-12">
                    <div class="panel-body">
                        <button type="button" id="btnRecallAllVisits" class="btn btn-default">Recall All Visits</button>
                    </div>
                </div>
            </div>
            @Html.Partial("~/Views/Etl/Guarantors/_ssoGeneration.cshtml", new SsoHsGeneratorViewModel() { HsGuarantorId = Model.HsGuarantorId, DateOfBirth = Model.DOB })
        </div>

        @Html.Partial("~/Views/Etl/Guarantors/AddHsGuarantorRegMatchModal.cshtml")
        @Html.Partial("~/Views/Etl/Guarantors/ConfirmAddMatchAckEvent.cshtml")
        @section Scripts{
            <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/views/etl/guarantorDetails")"></script>
        }

