﻿@model Ivh.Web.QATools.Models.Etl.HsGuarantorFilterViewModel

@{
    ViewBag.Title = "ETL | Guarantors";
}
<style>
    .title {
    font-size: 14pt;
    font-weight: bold;
}
</style>
<div class="main">
    <div class="container">
        <div class="col-lg-9">
            <form class="form-horizontal" id="frmFilter">

                <div class="form-group">
                    <span class="title">HS Data Mgmt > HS Guarantor List</span>
                    <!--<div class="col-md-3 pull-right">
                        <button type="button" id="Add-HS-Guarantor" class="form-control btn btn-primary">Add HS Guarantor</button>
                    </div>
                    <div class="col-md-3 pull-right">
                        <button type="button" id="Run-Match-Process" class="form-control btn btn-primary">Run Match Process</button>
                    </div>-->
                </div>

                <div class="form-group">
                    <div class="panel-primary">
                        <div class="panel-heading">Filter</div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-md-5">
                                    <label for="VPGID" class="control-label col-md-4 text-nowrap">VPGID</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" id="VPGID" placeholder="VPGID" value="@Model.VPGID">
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <label for="HS-Source-Key" class="control-label col-md-4 text-nowrap">HS Source Key</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" id="HS-Source-Key" placeholder="HS Source Key">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-5">
                                    <label for="Last-Name" class="control-label col-md-4 text-nowrap">Last Name</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" id="Last-Name" placeholder="Last Name">
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <label for="VP-Registered" class="control-label col-md-3 text-nowrap">Registered</label>
                                    <div class="col-md-3">
                                        <input type="checkbox" class="form-control" id="VP-Registered" checked="checked">
                                    </div>
                                    <label for="VP-Registered" class="control-label col-md-3 text-nowrap">Unregistered</label>
                                    <div class="col-md-3">
                                        <input type="checkbox" class="form-control" id="VP-Unregistered">
                                    </div>
                                </div>
                                
                            </div>

                            <div class="form-group">
                                <div class="col-md-3 pull-left">
                                    @Html.ActionLink("Add New", "AddHsGuarantor", null, new {@class = "pull-left form-control btn btn-primary"})
                                </div>
                                <div class="col-md-3 pull-right">
                                    <button type="submit" id="Search" class="pull-right form-control btn btn-primary">Search</button>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <table id="myGrid"></table>
                                    <div id="myPager"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/views/etl/guarantors")"></script>
}


