﻿@model Ivh.Domain.SettingsManager.Common.Models.SettingInput
@{
    ViewData["Title"] = "Add A New Setting";
}
<h2 class="rise-above smallh2">@ViewData["Title"]</h2>
<h4>@ViewData["Message"]</h4>
<br />
<form asp-action="AddSetting" asp-controller="Settings">
    <div class="row">
        <div class="col-md-2 text-right">
            <label asp-for="Name">Name</label>
        </div>
        <div class="col-md-4">
            <input class="form-control" asp-for="Name" />
            <span asp-validation-for="Name" class="alert-danger"></span>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2 text-right">
            <label asp-for="Description">Description</label>
        </div>
        <div class="col-md-8">
            <input class="form-control" asp-for="Description" />
            <span asp-validation-for="Description" class="alert-danger"></span>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2 text-right">
            <label asp-for="StartReleaseMajor">Begins At Release</label>
        </div>
        <div class="col-md-1">
            <input class="form-control" type="number" asp-for="StartReleaseMajor" value="@ViewBag.LatestRelease[0]" />
            <span asp-validation-for="StartReleaseMajor" class="alert-danger"></span>
        </div>
        <div class="col-md-1">
            <input class="form-control" type="number" asp-for="StartReleaseMinor" value="@ViewBag.LatestRelease[1]" />
            <span asp-validation-for="StartReleaseMinor" class="alert-danger"></span>
        </div>
        <div class="col-md-1">
            <input class="form-control" type="number" asp-for="StartReleasePatch" value="@ViewBag.LatestRelease[2]" />
            <span asp-validation-for="StartReleasePatch" class="alert-danger"></span>
        </div>
        <div class="col-md-1">
            <input class="form-control" type="number" asp-for="StartReleaseBuild" value="@ViewBag.LatestRelease[3]" />
            <span asp-validation-for="StartReleaseBuild" class="alert-danger"></span>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2 text-right">
            <label asp-for="SettingTypeId">Setting Type</label>
        </div>
        <div class="col-md-2">
            <select class="form-control" asp-for="SettingTypeId" asp-items="@(new SelectList(ViewBag.SettingTypes,"Key","Value"))"></select>
            <span asp-validation-for="SettingTypeId" class="alert-danger"></span>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2 text-right">
            <label asp-for="DataType">Data Type</label>
        </div>
        <div class="col-md-2">
            <select class="form-control" asp-for="DataType" asp-items="@(new SelectList(ViewBag.DataTypes,"Key","Value"))"></select>
            <span asp-validation-for="DataType" class="alert-danger"></span>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2 text-right">
            <label asp-for="Value">Value</label>
        </div>
        <div class="col-md-4">
            <input class="form-control" asp-for="Value" />
            <span asp-validation-for="Value" class="alert-danger"></span>
        </div>
        <div class="checkbox col-md-4">
            <label style="font-size: 1.5em" asp-for="IsEditable">
                <input type="checkbox" asp-for="IsEditable">
                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                Can Edit
            </label>
            <label style="font-size: 1.5em" asp-for="IsEncrypted">
                <input type="checkbox" asp-for="IsEncrypted">
                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                Encrypted
            </label>
        </div>

        <div class="checkbox col-md-2">
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2 text-right">
        </div>
        <div class="col-md-2">
            <input class="btn btn-primary" type="submit" value="Save New Setting" />
        </div>
    </div>

</form>

@Html.Partial("../_SuccessModal.cshtml")
@Html.Partial("../_ErrorModal.cshtml")

@section Scripts {
    @if (ViewBag.SuccessMessage != null)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                $('#successHeading').text('Add Setting');
                $('#successMessage').text('@Html.Raw(ViewBag.SuccessMessage)');
                $('#successModal').modal('show');
            });
        </script>
    }
    @if (ViewBag.ErrorMessage != null)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                $('#errorHeading').text('ERROR: Add Setting');
                $('#errorMessage').text('@Html.Raw(ViewBag.ErrorMessage)');
                $('#errorModal').modal('show');
            });
        </script>
    }
}