﻿@model Ivh.Domain.SettingsManager.Common.Models.SettingOverrideInput
@{
    ViewData["Title"] = "Override A Setting";
}
<h2 class="rise-above smallh2">@ViewData["Title"]</h2>
<h4>@ViewData["Message"]</h4>
<br />
<form asp-action="AddSettingOverride" asp-controller="Settings">
    <div class="row">
        <div class="col-md-2 text-right">
            <label asp-for="SettingId">Setting</label>
        </div>
        <div class="col-md-5">
            <select class="form-control" asp-for="SettingId" asp-items="@(new SelectList(ViewBag.SettingNames,"Key","Value"))"></select>
            <span asp-validation-for="SettingId" class="alert-danger"></span>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2 text-right">
            <label asp-for="ClientId">Client</label>
        </div>
        <div class="col-md-2">
            <select class="form-control" asp-for="ClientId" asp-items="@(new SelectList(ViewBag.Clients,"Key","Value"))"></select>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2 text-right">
            <label asp-for="EnvironmentId">Environment</label>
        </div>
        <div class="col-md-2">
            <select class="form-control" asp-for="EnvironmentId" asp-items="@(new SelectList(ViewBag.Environments,"Key","Value"))"></select>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2 text-right">
            <label asp-for="StartReleaseMajor">Begins At Release</label>
        </div>
        <div class="col-md-1">
            <input class="form-control" type="number" asp-for="StartReleaseMajor" value="@ViewBag.LatestRelease[0]" />
            <span asp-validation-for="StartReleaseMajor" class="alert-danger"></span>
        </div>
        <div class="col-md-1">
            <input class="form-control" type="number" asp-for="StartReleaseMinor" value="@ViewBag.LatestRelease[1]" />
            <span asp-validation-for="StartReleaseMinor" class="alert-danger"></span>
        </div>
        <div class="col-md-1">
            <input class="form-control" type="number" asp-for="StartReleasePatch" value="@ViewBag.LatestRelease[2]" />
            <span asp-validation-for="StartReleasePatch" class="alert-danger"></span>
        </div>
        <div class="col-md-1">
            <input class="form-control" type="number" asp-for="StartReleaseBuild" value="@ViewBag.LatestRelease[3]" />
            <span asp-validation-for="StartReleaseBuild" class="alert-danger"></span>
        </div>
        <div class="col-md-2">
        </div>
        <div class="checkbox col-md-4">
            <label style="font-size: 1.5em" asp-for="IsDeprecated">
                <input type="checkbox" asp-for="IsDeprecated">
                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                Deprecated
            </label>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2 text-right">
            <label asp-for="Value">Value</label>
        </div>
        <div class="col-md-6">
            <input class="form-control" asp-for="Value" />
        </div>
        <div class="checkbox col-md-4">
            <label style="font-size: 1.5em" asp-for="IsEncrypted">
                <input type="checkbox" asp-for="IsEncrypted">
                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                Encrypted
            </label>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2 text-right">
        </div>
        <div class="col-md-2">
            <input class="btn btn-primary" type="submit" value="Save Setting Value" />
        </div>
    </div>

</form>

@Html.Partial("../_SuccessModal.cshtml")
@Html.Partial("../_ErrorModal.cshtml")

@section Scripts {
    @if (ViewBag.SuccessMessage != null)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                $('#successHeading').text('Add Setting Override');
                $('#successMessage').text('@Html.Raw(ViewBag.SuccessMessage)');
                $('#successModal').modal('show');
            });
        </script>
    }
    @if (ViewBag.ErrorMessage != null)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                $('#errorHeading').text('ERROR: Add Setting Override');
                $('#errorMessage').text('@Html.Raw(ViewBag.ErrorMessage)');
                $('#errorModal').modal('show');
            });
        </script>
    }
}