﻿@import '../_variables.scss';
@import '../_mixins.scss';
@import '../_mixins-common.scss';
@import '../../Bootstrap/css/bootstrap/_variables.scss';
@import '../../Bootstrap/css/bootstrap/_mixins.scss';

section#arrange-payment {

    $payment-background: $vp-gray-lightest;
    $payment-border-color: $vp-gray-lighter;
    $payment-border-width: 2px;

    position: relative;

    #payment-menu {
        display: flex;
        list-style: none;
        margin: 0 auto 0 auto;
        padding: 0 95px 0 0;
        position: relative;
        width: 100%;
        z-index: 2;

        label {
            @include user-select(none);
            background: $payment-background;
            border: $payment-border-width solid $payment-border-color;
            cursor: pointer;
            display: block;
            flex-basis: 33.3%;
            height: 54px;
            margin: 0;
            padding: 0;
            text-align: center;
            position: relative;

            .label-content {
                display: inline-block;

                > .label-inner {
                    display: table-cell;
                    height: 50px;
                    padding-left: 34px;
                    position: relative;
                    text-align: center;
                    vertical-align: middle;

                    .title {
                        font-family: $font-family-alt;
                        font-size: 15px;
                        line-height: 17px;
                    }

                    .not-available {
                        display: block;
                        font-size: $font-size-smaller;
                        line-height: 17px;
                        text-align: left;
                        text-transform: uppercase;
                    }
                }

                .glyphicon, [class^="vpicon-"], [class*=" vpicon-"] {
                    color: $vp-gray-dark;
                    display: inline-block;
                    font-size: 26px;
                    left: 0;
                    line-height: 26px;
                    position: absolute;
                    top: 12px;
                }
            }

            input[type=radio] {
                display: none;
            }

            &:hover {
                color: $client-payment-icon-bg;

                .glyphicon, [class^="vpicon-"], [class*=" vpicon-"] {
                    color: $client-payment-icon-bg;
                }
            }

            &.selected {
                background: #ffffff;
                border-bottom-color: #ffffff;
                color: $client-payment-icon-bg;

                .glyphicon, [class^="vpicon-"], [class*=" vpicon-"] {
                    color: $client-payment-icon-bg;
                }
            }

            &.disabled {
                color: $vp-gray-dark;
                cursor: not-allowed;

                .glyphicon, [class^="vpicon-"], [class*=" vpicon-"] {
                    color: $vp-gray-dark;
                }
            }
        }

        label + label {
            border-left-width: 0;
        }
    }

    .arrange-payment-module {
        border: $payment-border-width solid $payment-border-color;
        margin: $payment-border-width/-1 auto 0 auto;
        position: relative;
        z-index: 1;
    }

    #noOptions {
        padding: 32px 15px 30px 15px;
        text-align: center;

        p {
            margin: 0;
        }
    }

    #payment-submit-container {
        padding: 30px 15px 24px 15px;

        #payment-submit {

            .alert {
                margin-top: 0;
            }

            .modern-grid {
                width: 85%;

                thead {
                    td {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }

                &.financeplan-grid {
                    &.allow-input {
                        col {
                            &:nth-of-type(1) {
                                width: 100px;
                            }

                            &:nth-of-type(2) {
                                width: 100%;
                            }

                            &:nth-of-type(3) {
                                width: 120px;
                            }

                            &:nth-of-type(4) {
                                width: 70px;
                            }

                            &:nth-of-type(5) {
                                width: 110px;
                            }
                        }

                        td {
                            cursor: default;
                        }
                    }

                    &:not(.allow-input) {
                        width: 55%;

                        col {
                            &:nth-of-type(1) {
                                width: 100%;
                            }

                            &:nth-of-type(2) {
                                width: 120px;
                            }

                            &:nth-of-type(3) {
                                width: 70px;
                            }
                        }

                        td {
                            cursor: default;
                        }
                    }
                }

                &.household-grid {
                    col {
                        &:nth-of-type(1) {
                            width: 30px;
                        }

                        &:nth-of-type(2) {
                            width: 100%;
                        }

                        &:nth-of-type(3) {
                            width: 180px;
                        }
                    }
                }

                &.payments-grid {
                    col {
                        &:nth-of-type(1) {
                            width: 80px;
                        }

                        &:nth-of-type(2) {
                            width: 100%;
                        }

                        &:nth-of-type(3) {
                            width: 110px;
                        }
                    }

                    td {
                        cursor: default;
                    }
                }

                &.visits-grid {
                    &.allow-input {
                        col {
                            &:nth-of-type(1) {
                                width: 100%;
                            }

                            &:nth-of-type(2) {
                                width: 100px;
                            }

                            &:nth-of-type(3) {
                                width: 180px;
                            }

                            &:nth-of-type(4) {
                                width: 70px;
                            }

                            &:nth-of-type(5) {
                                width: 110px;
                            }
                        }

                        td {
                            cursor: default;
                        }
                    }

                    &:not(.allow-input) {
                        width: 55%;

                        col {
                            &:nth-of-type(1) {
                                width: 100%;
                            }

                            &:nth-of-type(2) {
                                width: 120px;
                            }

                            &:nth-of-type(3) {
                                width: 70px;
                            }
                        }

                        td {
                            cursor: default;
                        }
                    }
                }
            }

            .discount-amount {
                a {
                    font-size: $font-size-smaller;
                }
            }

            .pay-bucket-zero {
                div.text-right {
                    padding-right: 41px;
                }
            }

            .payment-amount {

                div {
                    height: 38px;

                    span {
                        display: inline-block;
                        font-size: 28px;
                        line-height: 38px;
                        font-weight: lighter;
                    }

                    .vpicon-question {
                        display: inline-block;
                        line-height: 38px;
                        margin-left: 8px;
                    }

                    .form-control {
                        float: left;
                        display: inline-block;

                        &.numeric {
                            width: 87px;
                        }
                    }

                    &:after {
                        clear: both;
                        content: '';
                    }
                }
            }

            .payment-date {

                label {
                    text-align: right;
                    padding-right: 27px;
                }

                div.readonly-date {
                    padding-right: 27px;
                }

                .input-group.date {
                    float: right;

                    .form-control[readonly] {
                        background: $input-bg;
                        border-color: $input-border;
                        color: $input-color;
                    }
                }
            }

            .payment-method {
                position: relative;

                .btn-outline {
                    font-size: $font-size-smaller;
                    position: absolute;
                    right: 42px;
                    top: 17px;
                    height: 32px !important;
                    line-height: 28px !important;
                }
            }

            .continue {
                padding-right: 27px;

                hr {
                    border-top: $payment-border-width solid $payment-border-color;
                    margin: 10px 0 15px 0;
                }
            }
        }
    }

    #finance-plan {
        @include finance-plan();

        #selected-state-message {
            width: 50%;
            margin: 0 auto 20px;
            padding: 5px;
        }
    }

    #finance-plan-state-selection {
        #state-selection-instructions {
            font-weight: normal;
            padding-top: 10px;
            padding-bottom: 8px;
        }
        
        #state-selection-information {
            width: 75%;
            margin: 0 auto 15px;
        }

        .vpgrid-container {
            width: 85%;
            margin: 0 auto 15px;
        }

        .vpgrid-header {
            position: relative;
        }
        //Center select state button in header
        .select-state-btn {
            position: absolute;
            top: 50%;
            margin-top: -15px;
            right: 5px;
        }
    }

    #receipt {
        border-width: $payment-border-width 0 0 0;

        .receipt {

            .alert {
                padding-left: 86px;
                position: relative;

                &:before {
                    color: #ffffff;
                    font-size: 56px;
                    position: absolute;
                    line-height: 56px;
                    top: 50%;
                }

                &.alert-danger {
                    &:before {
                        @include glyphicon('\e101');
                        left: 20px;
                        margin-top: -28px;
                    }
                }

                &.alert-success {
                    &:before {
                        @include glyphicon('\e013');
                        left: 15px;
                        margin-top: -30px;
                    }
                }

                &.alert-warning {
                    &:before {
                        @include glyphicon('\e072');
                        @include rotate(-90deg);
                        color: #ffffff;
                        font-size: 72px;
                        left: 7px;
                        margin-top: -30px;
                    }
                }
            }
        }
    }

    #section-paymentmethods {
        background: lighten($payment-background, 2.5%);
        border-color: $payment-border-color;
        border-style: solid;
        border-width: 0 $payment-border-width $payment-border-width $payment-border-width;
        margin: auto;
        padding-bottom: 15px;
        padding-top: 15px;
        position: relative;

        .container {
            padding-left: 0;
            padding-right: 0;
        }

        &.change-primary {

            input[type=checkbox] {
                display: inline;

                & + label {
                    display: inline-block;
                }
            }
        }
    }

    .menu-secondary {
        padding-top: 15px;

        label {
            @include user-select(none);
            background: $payment-background;
            border: $payment-border-width solid $payment-border-color;
            cursor: pointer;
            display: block;
            height: 56px;
            line-height: 52px;
            margin: 0;
            padding: 0 10px 0 10px;
            position: relative;

            .gray-right-arrow {
                background-image: url('/Content/Images/gray-right-arrow.gif');
                background-repeat: no-repeat;
                background-size: 100% 100%;
                height: 15px;
                right: 10px;
                position: absolute;
                top: 19px;
                width: 8px;
            }

            &.selected {
                .gray-right-arrow {
                    display: none;
                }
            }

            &:not(:last-of-type) {
                border-bottom-color: transparent;
            }

            input[type=radio] {
                display: none;
            }

            .balance {
                float: right;
            }

            .line2 {
                display: block;
                padding-top: 4px;

                > span {
                    display: block;
                    line-height: 22px;

                    &.not-available {
                        font-size: $font-size-smaller;
                        text-transform: uppercase;
                    }
                }
            }

            &.disabled {
                color: $vp-gray-dark;
                cursor: not-allowed;
            }

            &:not(.disabled) {
                &:hover {
                    background: $vp-gray-lighter;
                    color: $brand-primary;
                }

                &:hover > .gray-right-arrow {
                    background-image: url('/Content/Images/blue-right-arrow.gif');
                    background-repeat: no-repeat;
                    background-size: 100% 100%;
                    height: 15px;
                    right: 10px;
                    position: absolute;
                    top: 19px;
                    width: 8px;
                }

                &.selected {
                    background: $brand-primary;
                    border-color: $brand-primary;
                    color: #ffffff;
                    padding-right: 0;

                    &:after {
                        border-bottom: 28px solid transparent;
                        border-left: 15px solid $brand-primary;
                        border-top: 28px solid transparent;
                        content: '';
                        display: block;
                        height: 0;
                        position: absolute;
                        right: -17px;
                        top: -2px;
                        width: 0;
                    }
                }
            }
        }
    }

    .vpicon-calendar, .vpicon-question {
        color: $input-border;
        cursor: pointer;
        font-size: 21px;

        &:hover {
            color: $link-hover-color;
        }
    }
}

.paybill-healthequity-balance {
    display: none;
    font-size: $font-size-small;
    line-height: 40px;
    text-align: right;
    position: relative;
    white-space: nowrap;

    .healthequitybalance-widget {
        float: right;
        position: relative;

        .logo-healthequity {
            background-image: url('/Content/Images/healthEquity-icon-75.png');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            height: 22px;
            left: -29px;
            position: absolute;
            top: 8px;
            width: 22px;
        }

        br {
            display: none;
        }

        .healthequity-hsa-cash-balance {
            font-weight: 600;
        }
    }

    &:after {
        clear: both;
        content: '';
        display: block;
    }
}

#modalArrangePaymentSubmit {
    .modal-body {
        .row {
            > div {
                line-height: 32px;
            }
        }
    }

    .modal-footer {
        position: relative;

        a {
            left: 28px;
            line-height: 18px;
            margin-top: -9px;
            position: absolute;
            top: 50%;

            &:before {
                @include glyphicon('\e257');
                left: -18px;
                margin-top: 1px;
                position: absolute;
            }
        }
    }
}
