﻿#modalDiscounts {
    table.static-grid {
        > colgroup {
            > col {
                &:nth-of-type(1) {
                    width: 14%;
                }
                &:nth-of-type(2) {
                    width: 14%;
                }
                &:nth-of-type(3) {
                    width: 17%;
                }
                &:nth-of-type(4) {
                    width: 11%;
                }
                &:nth-of-type(5) {
                    width: 14%;
                }
                &:nth-of-type(6) {
                    width: 16%;
                }
                &:nth-of-type(7) {
                    width: 14%;
                }
            }
        }
    }
}