﻿#section-paymentsummary {
    .small-padding-bottom {
        padding-bottom: 10px;
    }

    .text-bold {
        font-weight: bold;
    }

    .export-excel {
        position: absolute;
        right: 35px;
        bottom: 8px;
    }
    .export-pdf{
        position: absolute;
        right: 10px;
        bottom: 8px;
    }
    

    hr {
        margin-top: 10px;
        margin-bottom: 5px;
    }

    > p {
        margin-top: 20px;
    }

    .jqGridFilter {
        > .row {
            > div {
                &:nth-of-type(1) {
                    width: 157px;
                }

                &:nth-of-type(2) {
                    width: 277px;
                }

                &:nth-of-type(3) {
                    width: 313px;
                }
            }
        }

        .validation-summary-errors {
            left: 158px;
        }
    }

    .jqgrow .glyphicon-envelope {
        font-size: 14px;
        position: absolute;
        right: 0;
        top: 2px;
    }

    .jqgrow .glyphicon-paperclip {
        position: absolute;
        right: 24px;
        top: 4px;
    }
}
