﻿@import '../../Bootstrap/css/bootstrap/_variables.scss';

#section-paymentmethods {
    #section-paymentmethodslist {
        margin: auto;
        position: relative;
        max-width: 737px;

        .account-container {
            padding: 0;

            > div.row {
            }
        }
    }

    @media (max-width: $screen-tablet) {
        width: 100%;

        #section-paymentmethodslist {
            max-width: unset;
            width: 100%;

            > .container {
                width: 100%;
            }
        }
    }
}

.ach-authorization {
    .payment-schedule {
        margin-bottom: 20px;
        width: 100%;

        tbody {
            tr {
                td {
                    cursor: auto;
                }
            }
        }
    }
}
