﻿@import '../_variables.scss';
@import '../../Bootstrap/css/bootstrap/_mixins.scss';
@import '../../Bootstrap/css/bootstrap/_variables.scss';

.section-paymentmethods {

    &.hide-primary {
        .col-xs-3 {
            label {
                display: none;
            }
        }
    }
}

#section-paymentmethodslist {

    ul {
        padding: 0;
    }

    li.active {
        background: $vp-gray-lightest;
        border-color: $vp-gray-light;
        color: black;
    }

    li:hover {
        background: $vp-gray-lightest;
        color: black;
    }

    .action-buttons {
        font-size: $font-size-base;

        button {
            padding: 0 2px 0 2px;

            &:first-of-type {
                padding-left: 10px;
            }
        }
    }

    .checkbox-styled {
        padding-top: 5px;
    }

    .hsaType {
        float: left;
        width: 185px;
        min-height: 1px;
        text-align: left;
        padding-left: 32px;
        position: relative;

        img {
            max-height: 22px;
            position: absolute;
            left: 0;
            top: -1px;
        }
    }

    .payment-method-details {
        p {
            margin-bottom: 0;
            font-size: 14px;

            &:first-of-type {
                font-weight: bold;
            }
        }

        .expired-flag {
            padding-left: 5px;
        }
    }

    hr {
        margin: 7px 0 7px 0;

        &:nth-of-type(2) {
            margin: 30px 0 30px 0;
        }
    }

    .container {
        max-width: 100%;
    }

    .row.account-heading {
        button {
            min-width: 164px;
        }

        margin-bottom: 15px;
    }
    //For small screens on payment method list modal
    @media (max-width: $screen-xs) {
        .account-heading {
            text-align: center;

            button {
                margin-bottom: 5px;
            }
        }

        .payment-method-details {
            margin-left: 15px;
        }
    }

    @media (max-width: $screen-sm) {
        .hsaType {
            display: none;
        }
    }
}

.modal-paymentmethod {

    .card-number {
        position: relative;

        .card-icon {
            position: absolute;
            right: 18px;
            top: 23px;

            img {
                display: block;
                min-height: 36px;
                max-height: 36px;
            }
        }
    }

    .glyphicon-question-sign {
        font-size: 16px;
        margin-left: 12px;
        text-decoration: none !important;
        top: 3px;
    }

    .checkbox-tip {
        margin-left: 6px;
    }

    .single-use-alert {
        margin-bottom: 0;
    }

    .secure-pan-frame {
        overflow: hidden !important;
        height: 38px;
        padding: 6px 8px 4px 8px;
    }
}