﻿@import '../_variables.scss';
@import '../_mixins.scss';
@import '../../Bootstrap/css/bootstrap/_mixins.scss';
@import '../../Bootstrap/css/bootstrap/_variables.scss';

#surveyModal {
    .survey-title {
        color: $vp-gray-dark;
    }

    .survey-footer {
        text-align: center;
        padding: 15px 0 25px 0;

        .text-center {
            padding: 0px 0 15px 0;
        }
    }

    .modal-content {
        border-color: $client-accent;
        border-style: solid;
        border-width: 1px 1px 1px 1px;
    }

    .form-group {
        @include clearfix();
        position: relative;
        margin: auto;
        width: 78%;
    }

    .survey-comment-text-area {
        height: 75px;
    }

    .survey-comments {
        padding-top: 25px;
    }

    .survey-question-input-text-area {
        height: 150px;
    }

    .survey-form {
        padding-top: 25px;
    }

    .rating-container {
        @include clearfix();
        text-align: center;
        width: 200px;
        position: relative;
        margin: auto;
    }

    .survey-rating-desc,
    .survey-rating-desc-hover {
        position: absolute;
        font-weight: 600;
        right: 0px;
        top: 0px;
        line-height: 43px;
        width: 110px;
    }

    .survey-validation {
        display: none;
        font-style: italic;
        text-align: center;
    }

    .rate {
        width: 200px;
        font-family: 'Glyphicons Halflings';
        float: left;
        height: 46px;
        padding: 0 10px;
    }

    .rate:not(:checked) > input {
        position: absolute;
        top: -9999px;
    }

    .rate:not(:checked) > label {
        margin: 0 3px 0 3px;
        float: right;
        width: 1em;
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
        font-size: 30px;
        color: #ccc;
    }

    .rate:not(:checked) > label:before {
        @include glyphicon('\e006');
    }

    .rate > input:checked ~ label {
        color: $client-accent;
    }

    .rate:not(:checked) > label:hover,
    .rate:not(:checked) > label:hover ~ label,
    .rate > input:checked + label:hover,
    .rate > input:checked + label:hover ~ label,
    .rate > input:checked ~ label:hover,
    .rate > input:checked ~ label:hover ~ label,
    .rate > label:hover ~ input:checked ~ label {
        color: $client-accent;
    }

    .question-text {
        font-weight: 600;
        white-space: normal;
        text-align: center;
        padding-top: 10px;
    }

    .nps-container, .customer-effort-container {
        text-align: center;
        padding-bottom: 15px;

        .form-group {
            width: 100%;
        }

        .five-point-box-rating-width {
            width: 390px;
        }

        .seven-point-box-rating-width {
            width: 474px;
        }

        .number-box-rating-container {
            padding-top: 12px;
            padding-bottom: 12px;
            margin: auto;
            position: relative;

            .btn {
                background: none;
                border: 1px solid $client-accent;
                color: $client-accent;
                float: none;
                min-width: 35px;
                margin: 0 1px 0 1px;
            }

            .btn:hover {
                background: $client-accent;
                border: 1px solid $client-accent;
                color: white;
            }

            .nps-selected {
                background: $client-accent;
                border: 1px solid $client-accent;
                color: white;
            }

            input[type="radio"] {
                display: none;
            }
        }

        .rating-description-on-left {
            @include clearfix();
            clear: both;
            font-size: $font-size-smaller;
            padding: 5px 4px 0px 2px;
            font-style: italic;
            float: left;
            text-align: right;
            width: 95px;
        }

        .rating-description-on-right {
            @include clearfix();
            font-size: $font-size-smaller;
            padding: 5px 2px 0px 4px;
            font-style: italic;
            float: right;
            text-align: left;
            width: 95px;
        }

        .nps-rating-descriptions {
            @include clearfix();
            clear: both;

            > div {
                font-size: $font-size-smaller;
                padding: 5px 2px 0px 2px;
                font-style: italic;
            }

            .nps-rating-description-not-likely {
                float: left;
            }

            .nps-rating-description-likely {
                float: right;
            }
        }

        textarea {
            width: 442px;
            margin: 15px auto auto auto;
            position: relative;
            overflow: hidden;
        }

        > div {
            &:last-of-type {
                padding: 15px 0 15px 0;
            }
        }
    }

    .button-as-link {
        background: none !important;
        border: none;
        padding: 0 !important;
        font-size: $font-size-small;
        color: $link-color;
        text-decoration: underline;
        cursor: pointer;
    }

    .dismiss-toaster {
        position: absolute;
        right: 5px;
        top: 5px;
        z-index: 9999;

        &:after {
            @include glyphicon('\e014');
            color: $vp-gray-dark;
            padding-left: 20px;
        }

        &:hover {
            cursor: pointer;

            &:after {
                color: $link-hover-color;
            }
        }
    }
}

#nps-survey-container {
    position: relative;
}

#nps-survey {
    $expanded-width: 550px;
    $minimized-width: 497px;

    background: #ffffff;
    bottom: -112px;
    border-color: $client-accent;
    border-style: solid;
    border-width: 1px 1px 0px 1px;
    display: none;
    position: absolute;
    width: $minimized-width;
    z-index: 999999;

    @media(min-width:$vp-outer-width) {
        left: 50%;
        margin-left: $vp-outer-width/2 - $minimized-width;

        &.expanded {
            margin-left: $vp-outer-width/2 - $expanded-width;
        }
    }

    @media(max-width:$vp-outer-width - 1 ) {
        right: 15px;
    }

    .survey-rating-desc, .survey-rating-desc-hover {
        display: none;
    }

    &.expanded {
        width: $expanded-width;

        .nps-container {
            display: block;
        }
    }

    #surveyForm {
        padding: 30px 15px 7px 15px;
        position: relative;
    }

    .nps-container {
        display: none;
    }

    .thank-you {
        background-color: #ffffff;
        bottom: 0;
        display: none;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 10;

        h4 {
            font-size: $font-size-large;
            font-weight: normal;
            line-height: 40px;
            margin: 0;
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            text-align: center;
            margin-top: -20px;
        }
    }
}

#paper-statement-survey-container {
    margin-top: 30px;

    .vpgrid {
        padding: 20px 15px 15px 20px;

        .question-text {
            
            float: left;
        }

        .radio-container {
            float: left;

            input[type="radio"] {
                margin-left: 20px;
                margin-right: 5px;
            }
        }

        .paper-statement-survey-submit {
            text-align: right;
        }

        .survey-validation {
            display: none;
            font-style: italic;
            text-align: left;
        }

        .thank-you {
            position: relative;
            display: none;
            padding-top:20px;
            padding-bottom:20px;
            h4 {
                font-size: $font-size-large;
                font-weight: normal;
                line-height: 40px;
                margin: 0;
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                text-align: center;
                margin-top: -20px;
            }
        }
    }
}