﻿@model dynamic

@{
    ViewBag.Title = "Baseline";
}
<section id="loginForm">
    @using (Html.BeginForm("Baseline", "Baseline", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Baseline" />
            </div>
        </div>
    }
</section>
