﻿@model Ivh.Web.Client.Models.Unmatch.SelectHsGuarantorsViewModel

<div id="modalSelectHsGuarantors" class="modal modal-vcenter fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-md">
        <form class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">
                    Unmatch @ClientDto.HsGuarantorPatientText from @ClientDto.VpGuarantorPatientText
                </h4>
            </div>
            <div class="modal-body">
                <table class="static-grid">
                    <colgroup>
                        <col style="width: 12%;"/>
                        <col/>
                    </colgroup>
                    <thead>
                    <tr>
                        <td class="text-center">Unmatch</td>
                        <td>@ClientDto.HsGuarantorPatientIdentifier</td>
                    </tr>
                    </thead>
                    @foreach (string hsGuarantorSourceSystemKey in Model.HsGuarantorSourceSystemKeys)
                    {
                        string id = string.Concat("HsGuarantorSourceSystemKeys", Model.HsGuarantorSourceSystemKeys.IndexOf(hsGuarantorSourceSystemKey));
                        <tbody>
                        <tr>
                            <td class="text-center">
                                <input type="checkbox" value="@hsGuarantorSourceSystemKey" name="HsGuarantorSourceSystemKeys" id="@id"/>
                            </td>
                            <td>
                                <label for="@id">@hsGuarantorSourceSystemKey</label>
                            </td>
                        </tr>
                        </tbody>
                    }
                    <tfoot>
                    <tr>
                        <td colspan="2" class="text-right">View 1 - @Model.HsGuarantorSourceSystemKeys.Count of @Model.HsGuarantorSourceSystemKeys.Count</td>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <div class="modal-footer text-center">
                <button type="submit" class="btn btn-primary" title="Unmatch" disabled="disabled">Unmatch</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" title="Exit">Exit</button>
            </div>
        </form>
    </div>
</div>
