﻿@using Ivh.Common.Base.Enums
@using Ivh.Common.VisitPay.Enums
@model Ivh.Web.Client.Models.Unmatch.UnmatchGuarantorsViewModel

@{
    string title;
    string text;
    CmsRegionEnum cmsRegion;

    if (Model.ActionType == UnmatchActionTypeEnum.GuarantorUnmatch)
    {
        title = "Confirm Unmatch";
        text = string.Format("Please confirm that you would like to unmatch the following guarantors from this {0} account by checking the box(es):", ClientDto.ClientBrandName);
        cmsRegion = Model.Source == UnmatchSourceEnum.GuarantorAccountDetails ? CmsRegionEnum.ConfirmGuarantorUnmatch : CmsRegionEnum.ConfirmGuarantorSoftUnmatch;
    }
    else
    {
        title = "Confirm Match";
        text = string.Format("Please confirm the following guarantor is correctly matched to this {0} account by the checking the box:", ClientDto.ClientBrandName);
        cmsRegion = CmsRegionEnum.ConfirmGuarantorMatch;
    }
}

<div id="modalUnmatchGuarantors" class="modal modal-vcenter fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-md">
        @using (Html.BeginForm("ConfirmUnmatchGuarantors", "Unmatch", FormMethod.Post, new { @class = "modal-content" }))
        {
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">@title</h4>
            </div>
            <div class="modal-body">
                <!-- ko if: HsGuarantorMatchDiscrepancyDetails.Any -->
                <table>
                    <thead>
                        <tr>
                            <th>Field</th>
                            <th>New Value</th>
                            <th>Current Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- ko foreach: HsGuarantorMatchDiscrepancyDetails -->
                        <tr data-bind="css: { discrepancy: IsDiscrepancy }">
                            <td data-bind="text: HsGuarantorMatchDiscrepancyMatchFieldName"></td>
                            <td><span><strong data-bind="text: HsGuarantorMatchDiscrepancyMatchFieldNewValue"></strong></span></td>
                            <td data-bind="text: HsGuarantorMatchDiscrepancyMatchFieldCurrentValue"></td>
                        </tr>
                        <!-- /ko -->
                    </tbody>
                </table>
                <!-- /ko -->

                <div class="row">
                    <strong class="col-xs-4">@ClientDto.VpGuarantorPatientText:</strong>
                    <strong class="col-xs-8">@Model.VpGuarantorFirstNameLastName</strong>
                </div>
                <br />
                <div>@text</div>
                <br />
                <div class="row">
                    <div class="col-xs-4">
                        <!-- ko foreach: HsGuarantorSourceSystemKeys.AllValues -->
                        <div>
                            <label>
                                <input type="checkbox" name="HsGuarantorSourceSystemKeys" data-bind="click: $parent.HsGuarantorSourceSystemKeys.Select, checked: $parent.HsGuarantorSourceSystemKeys, value: $data" />
                                <span data-bind="text: $data"></span>
                            </label>
                        </div>
                        <!-- /ko -->
                    </div>
                    <div class="col-xs-6">
                        @Html.HiddenFor(m => m.HsGuarantorSourceSystemKeysValidationString, new { data_bind = "value: HsGuarantorSourceSystemKeysValidationString" })
                        @Html.ValidationMessageFor(m => m.HsGuarantorSourceSystemKeysValidationString)
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-xs-12">
                        @Html.TextAreaFor(m => m.Notes, new { data_bind = "value: Notes", @class = "form-control", placeholder = "Notes are required to process this request.", rows = 4 })
                    </div>
                </div>
                <br />
                <p>@Html.CmsRegion(cmsRegion)</p>
            </div>
            <div class="modal-footer text-center">
                <button type="submit" class="btn btn-primary" title="Submit">Submit</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" title="Exit">Exit</button>
            </div>
        }
    </div>
</div>
