﻿@using Ivh.Common.Base.Enums
@using Ivh.Common.VisitPay.Enums
@using Ivh.Common.VisitPay.Strings
@model Ivh.Web.Client.Models.Unmatch.UnmatchVisitViewModel

<div id="modalUnmatchVisit" class="modal modal-vcenter fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-md">
        @using (Html.BeginForm("ConfirmUnmatchVisit", "Unmatch", FormMethod.Post, new { @class = "modal-content" }))
        {
            @Html.HiddenFor(m => m.VisitId)
            @Html.HiddenFor(m => m.VpGuarantorId)
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">Confirm Unmatch</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <strong class="col-xs-4">@ClientDto.ClientShortName Guarantor:</strong>
                    <strong class="col-xs-8">@Model.GuarantorName</strong>
                </div>
                <div class="row">
                    <div class="col-xs-4">Visit #:</div>
                    <div class="col-xs-8">@Model.SourceSystemKeyDisplay</div>
                </div>
                <div class="row">
                    <div class="col-xs-4">Status:</div>
                    <div class="col-xs-8">@Model.VisitStateFullDisplayName</div>
                </div>
                <div class="row">
                    <div class="col-xs-4">Patient:</div>
                    <div class="col-xs-8">@Model.PatientFirstNameLastName</div>
                </div>
                <div class="row">
                    <div class="col-xs-4">Visit Date:</div>
                    <div class="col-xs-8">@Model.DischargeDate.ToString(Format.DateFormat)</div>
                </div>
                <div class="row">
                    <div class="col-xs-4">Current Balance:</div>
                    <div class="col-xs-8">@Model.CurrentBalance.ToString("C")</div>
                </div>
                <hr />
                <div>Confirm the visit # that you would like to unmatch:</div>
                <br />
                <div class="row">
                    <div class="col-xs-6">
                        @Html.HiddenFor(m => m.SourceSystemKeyDisplay)
                        @Html.VpTextBoxFor(m => m.SourceSystemKeyValidationString)
                    </div>
                </div>
                <br />
                @if (IsFeatureEnabled(VisitPayFeatureEnum.FeatureVisitUnmatchingMethodSelection))
                {
                    <div>Choose the unmatching method:</div>
                    <br />
                    <div class="row">
                        <div class="col-xs-6">
                            <select class="form-control" data-val="true" data-val-required="Unmatching method is required." id="MatchStatus" name="MatchStatus" aria-required="true" onchange="UpdateMatchRegion()">
                                <option value="">-</option>
                                @foreach (KeyValuePair<KeyValuePair<string, string>, HsGuarantorMatchStatusEnum> matchStatus in Model.AvailableMatchStatuses)
                                {
                                    <option value="@matchStatus.Value" title="@matchStatus.Key.Value">@matchStatus.Key.Key</option>
                                }
                            </select>
                        </div>
                    </div>
                    <br />
                }
                else
                {
                    @Html.HiddenFor(m => m.MatchStatus)
                }
                <div class="row">
                    <div class="col-xs-12">
                        @Html.TextAreaFor(m => m.Notes, new { @class = "form-control", placeholder = "Notes are required to process this request.", rows = 4 })
                    </div>
                </div>
                <br />
                <div class="text" id="ConfirmPermanentUnmatch" style="display: none;">
                    <p>@Html.CmsRegion(CmsRegionEnum.ConfirmVisitUnmatch)</p>
                </div>
                <div class="text" id="ConfirmTemporaryUnmatch" style="display: none;">
                    <p>@Html.CmsRegion(CmsRegionEnum.ConfirmVisitTemporaryUnmatch)</p>
                </div>
            </div>
            <div class="modal-footer text-center">
                <button type="submit" class="btn btn-primary" title="Submit">Submit</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" title="Exit">Exit</button>
            </div>
        }
    </div>
</div>