﻿@using Ivh.Application.Core.Common.Dtos
@using Ivh.Common.VisitPay.Constants
@model Ivh.Application.Content.Common.Dtos.CmsVersionDto

@if (ClientDto.ClientIsSurveyOn)
{
    <div class="row client-survey">
        <div class="col-xs-12">
            <p class="text-center"><strong>@Html.Raw(Model.ContentTitle)</strong></p>
            <p class="text-center">@Html.Raw(Model.ContentBody)</p>
            <div class="button text-center">
                <a href="@ClientDto.ClientSurveyURL" target="_blank" class="btn btn-small btn-primary">@Html.TextRegion(TextRegionConstants.TakeSurvey)</a>
            </div>
        </div>
    </div>
}
