﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.VisitPay.Enums
@model Ivh.Common.VisitPay.Enums.CmsRegionEnum

<div id="div-processComplete" style="display:none;" data-bind="visible: Visibility.showProcessComplete">
    @if (IsFeatureEnabled(VisitPayFeatureEnum.GuarantorSecurityQuestionsIsEnabled))
    {
        <p class="text-center">@Html.TextRegion(TextRegionConstants.YourAnswerIsCorrect)</p>
    }
    <p class="text-center">@Html.CmsRegion(Model)</p>
    <div class="row text-center">
        <button class="btn btn-primary btnReturn">@Html.TextRegion(TextRegionConstants.Return)</button>
    </div>
</div>
<div id="div-tryAgain" style="display:none;" data-bind="visible: Visibility.showTryAgain">
    <p class="text-center">@Html.TextRegion(TextRegionConstants.PleaseTryAgainLater)</p>
    <div class="row text-center">
        <button class="btn btn-primary btnReturn">@Html.TextRegion(TextRegionConstants.Return)</button>
    </div>
</div>
