﻿@using Ivh.Common.VisitPay.Constants
@model Ivh.Web.Patient.Models.LoginViewModel

<div class="row">
    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.ReturnUrl)
        <div class="col-xs-10 col-xs-offset-1">
            @Html.ValidationSummary(true)
            <div class="limit-width">
                <div class="form-group">
                    <span class="pull-right">@Html.ActionLink("Forgot Username", "RequestUsername", "Account")</span>
                    @Html.VpLabelFor(m => m.Username)
                    @Html.VpTextBoxFor(m => m.Username, new { autocomplete = "off" })
                </div>
                <div class="form-group">
                    <span class="pull-right">@Html.ActionLink("Forgot Password", "RequestPassword", "Account")</span>
                    @Html.VpLabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", autocomplete = "off" })
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-75" id="btnLogin">@Html.TextRegion(TextRegionConstants.SignIn)</button>
                </div>
            </div>
        </div>
    }
</div>
