﻿@using Ivh.Common.VisitPay.Constants
@model Ivh.Web.Patient.Areas.Mobile.Models.ProfileEditNameViewModel

<form id="form-name" class="form-horizontal limit-width" role="form" autocomplete="off">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <div class="validation-summary-valid" data-mob-valmsg-summary="true"><ul></ul></div>
    </div>
    <div class="form-group">
        @Html.ValidationMessageFor(m => m.FirstName)
        @Html.VpLabelFor(m => m.FirstName)
        @Html.VpTextBoxFor(m => m.FirstName)
    </div>
    <div class="form-group">
        @Html.ValidationMessageFor(m => m.MiddleName)
        @Html.VpLabelFor(m => m.MiddleName)
        @Html.VpTextBoxFor(m => m.MiddleName)
    </div>
    <div class="form-group">
        @Html.ValidationMessageFor(m => m.LastName)
        @Html.VpLabelFor(m => m.LastName)
        @Html.VpTextBoxFor(m => m.LastName)
    </div>
    <div class="form-group text-center">
        <button type="submit" class="btn btn-primary">@Html.TextRegion(TextRegionConstants.ButtonSave)</button>
    </div>

</form>