﻿@using Ivh.Common.VisitPay.Constants
@model Ivh.Common.Web.Models.Account.ProfileEditUserNameViewModel

<form id="form-username" class="form-horizontal limit-width" role="form" autocomplete="off">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <div class="validation-summary-valid" data-mob-valmsg-summary="true"><ul></ul></div>
    </div>
    <div class="form-group">
        @Html.ValidationMessageFor(m => m.UserName)
        @Html.VpLabelFor(m => m.UserName)
        @Html.VpTextBoxFor(m => m.UserName)
        @Html.HiddenFor(m => m.UserNameOriginal)
    </div>
    <div class="form-group">
        @Html.ValidationMessageFor(m => m.UserNameConfirm)
        @Html.VpLabelFor(m => m.UserNameConfirm)
        @Html.VpTextBoxFor(m => m.UserNameConfirm)
    </div>
    <div class="form-group text-center">
        <button type="submit" class="btn btn-primary">@Html.TextRegion(TextRegionConstants.ButtonSave)</button>
    </div>
</form>
