﻿ @using Ivh.Common.VisitPay.Constants @model Ivh.Web.Patient.Areas.Mobile.Models.ProfileEditEmailViewModel

<form id="form-Email" class="form-horizontal limit-width" role="form" autocomplete="off">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <div class="validation-summary-valid" data-mob-valmsg-summary="true"><ul></ul></div>
    </div>
    <div class="form-group">
        @Html.ValidationMessageFor(m => m.Email)
        @Html.VpLabelFor(m => m.Email)
        @Html.VpTextBoxFor(m => m.Email)
        @Html.HiddenFor(m => m.EmailOriginal)
    </div>
    <div class="form-group">
        @Html.ValidationMessageFor(m => m.EmailConfirm)
        @Html.VpLabelFor(m => m.EmailConfirm)
        @Html.VpTextBoxFor(m => m.EmailConfirm)
    </div>
    <div class="form-group text-center">
        <button type="submit" class="btn btn-primary">@Html.TextRegion(TextRegionConstants.ButtonSave)</button>
    </div>
</form>