﻿@using Ivh.Common.VisitPay.Constants
@model Ivh.Web.Patient.Areas.Mobile.Models.ProfileEditAddressViewModel

<form id="form-physical-address" class="form-horizontal limit-width" role="form" autocomplete="off">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <div class="validation-summary-valid" data-mob-valmsg-summary="true"><ul></ul></div>
    </div>
    <div style="margin-bottom:5px;" class="form-group">
        @Html.ValidationMessageFor(m => m.AddressStreet1)
        @Html.VpLabelFor(m => m.AddressStreet1)
        @Html.VpTextBoxFor(m => m.AddressStreet1)
    </div>
    <div class="form-group">
        @Html.VpTextBoxFor(m => m.AddressStreet2)
    </div>
    <div class="form-group">
        @Html.ValidationMessageFor(m => m.City)
        @Html.VpLabelFor(m => m.City)
        @Html.VpTextBoxFor(m => m.City)
    </div>
    <div class="form-group">
        @Html.ValidationMessageFor(m => m.State)
        @Html.VpLabelFor(m => m.State)
        @Html.VpStatesDropDownListFor(m => m.State, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.ValidationMessageFor(m => m.Zip)
        @Html.VpLabelFor(m => m.Zip)
        @Html.VpTextBoxFor(m => m.Zip, new { type = "tel" })
    </div>
    <div class="form-group text-center">
        <button type="submit" class="btn btn-primary">@Html.TextRegion(TextRegionConstants.ButtonSave)</button>
    </div>
</form>