﻿@model Ivh.Web.Patient.Models.ProfileDisplayViewModel

<table id="table-user-profile" class="table table-striped table-bordered table-condensed">
    <colgroup>
        <col />
        <col />
    </colgroup>
    <tr>
        <td colspan="2"><b>@Html.TextRegion(TextRegionConstants.Name)</b></td>
    </tr>
    <tr>
        <td>
            <span>@Model.Name</span>
        </td>
        <td>
            <a href="javascript:;" data-edit-section="1" class="pull-right">
                <em class="glyphicon glyphicon-menu-right pull-right"></em>
                @Html.TextRegion(TextRegionConstants.ButtonChange)
            </a>
        </td>
    </tr>
    <tr>
        <td colspan="2"><b>@Html.TextRegion(TextRegionConstants.Username)</b></td>
    </tr>
    <tr>
        <td>
            <span>@Model.UserName</span>
        </td>
        <td>
            <a href="javascript:;" data-edit-section="2" class="pull-right">
                <em class="glyphicon glyphicon-menu-right pull-right"></em>
                @Html.TextRegion(TextRegionConstants.ButtonChange)
            </a>
        </td>
    </tr>
    <tr>
        <td colspan="2"><b>@Html.TextRegion(TextRegionConstants.NotificationEmail)</b></td>
    </tr>
    <tr>
        <td>
            <span>@Model.Email</span>
        </td>
        <td>
            <a href="javascript:;" data-edit-section="3" class="pull-right">
                <em class="glyphicon glyphicon-menu-right pull-right"></em>
                @Html.TextRegion(TextRegionConstants.ButtonChange)
            </a>
        </td>
    </tr>
    <tr>
        <td colspan="2"><b>@Html.TextRegion(TextRegionConstants.Address)</b></td>
    </tr>
    <tr>
        <td>
            <span>@Model.AddressStreet1</span>
            @if (!string.IsNullOrEmpty(Model.AddressStreet2))
            {
                <span>@Model.AddressStreet2</span>
            }
            <span>@Model.City, @Model.State @Model.Zip</span>
        </td>
        <td>
            <a href="javascript:;" data-edit-section="4" class="pull-right">
                <em class="glyphicon glyphicon-menu-right pull-right"></em>
                @Html.TextRegion(TextRegionConstants.ButtonChange)
            </a>
        </td>
    </tr>
</table>