﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.VisitPay.Enums
@section PageTitle {
    @Html.TextRegion(TextRegionConstants.MyAccountPageHeading)
}

<div class="limit-width">
    <div class="grid">
        <button class="btn btn-grid-link" onclick="window.location.href = '@Url.Action("UserProfile", "Account")';" id="aNavSettingsProfile" title="@Html.TextRegion(TextRegionConstants.PersonalInformationPageHeading)">@Html.TextRegion(TextRegionConstants.PersonalInformationPageHeading)</button>
        <button class="btn btn-grid-link" onclick="window.location.href = '@Url.Action("EditPassword", "Account")';" id="aNavSettingsPassword" title="@Html.TextRegion(TextRegionConstants.Password)">@Html.TextRegion(TextRegionConstants.Password)</button>
        @if (IsFeatureEnabled(VisitPayFeatureEnum.GuarantorSecurityQuestionsIsEnabled))
        {
            <button class="btn btn-grid-link" onclick="window.location.href = '@Url.Action("UserSecurityQuestionsEdit", "Account")';" id="aNavSettingsSecurityQuestions" title="@Html.TextRegion(TextRegionConstants.SecurityQuestions)">@Html.TextRegion(TextRegionConstants.SecurityQuestions)</button>
        }
        @{ string phoneTextTitle = IsFeatureEnabled(VisitPayFeatureEnum.Sms) ? Html.TextRegion(TextRegionConstants.PhoneTextSettingsPageHeading) : Html.TextRegion(TextRegionConstants.PhoneSettingsPageHeading); }
        <button class="btn btn-grid-link" onclick="window.location.href = '@Url.Action("PhoneTextSettings", "Account")';" id="aNavSettingsPhoneText" title="@phoneTextTitle">@phoneTextTitle</button>
        @if (IsFeatureEnabled(VisitPayFeatureEnum.MyChartSso, VisitPayFeatureEnum.HealthEquityShowOutboundSso))
        {
            <button class="btn btn-grid-link" onclick="window.location.href = '@Url.Action("Settings", "Sso")';" id="aNavSettingsSsoSettings" title="@Html.TextRegion(TextRegionConstants.SsoSettingsPageHeading)">@Html.TextRegion(TextRegionConstants.SsoSettingsPageHeading)</button>
        }
        <button class="btn btn-grid-link" onclick="window.location.href = '@Url.Action("PaymentMethods", "Payment")';" id="aNavSettingsPaymentMethods" title="@Html.TextRegion(TextRegionConstants.PaymentMethodsPageHeading)">@Html.TextRegion(TextRegionConstants.PaymentMethodsPageHeading)</button>
        @if (IsFeatureEnabled(VisitPayFeatureEnum.Consolidation))
        {
            <button class="btn btn-grid-link" onclick="window.location.href = '@Url.Action("ManageHousehold", "Consolidate")';" id="aNavSettingsHousehold" title="@Html.TextRegion(TextRegionConstants.ManageHouseholdPageHeading)">@Html.TextRegion(TextRegionConstants.ManageHouseholdPageHeading)</button>
        }
    </div>
</div>

@Html.Action("HealthEquitySsoSetup", "Sso")
@section scripts {
    @Scripts.Render("~/bundles/mobile/scripts/sso/healthEquityWidget")
}
