﻿@using Ivh.Common.Web.Models.Shared
@model bool 

@{
    CmsViewModel cmsModel = Html.CmsModel(CmsRegionEnum.ContactUs);
}

@section PageTitle {
    @Html.Raw(cmsModel.ContentTitle)
}

<div>
    @if (Model)
    {
        <p class="text-red">
            @Html.TextRegion(TextRegionConstants.IpAddressBlocked)
        </p>
    }
    @Html.Raw(cmsModel.ContentBody)
</div>