﻿@model Ivh.Common.Web.Models.Statement.StatementListViewModel

@section Back {
    <a href="@Url.Action("Index", "Home")" title="@Html.TextRegion(TextRegionConstants.HomePageHeading)"><em class="glyphicon glyphicon-chevron-left"></em></a>
    <button type="button" onclick="javascript:window.location.href = '#overlay-search';" class="btn btn-icon" data-bind="visible: IsItemizations" style="display: none;"><em class="glyphicon glyphicon-filter"></em></button>
}

@section PageTitle {
    @Html.TextRegion(TextRegionConstants.StatementsPageHeading)
}

@Html.Action("GetFilter", "GuarantorFilter", new { area = "", title = Html.TextRegion(TextRegionConstants.ViewingStatementsFor) + ":" })

<section id="section-documents" style="display: none;">
    @Html.Partial("~/Views/Statement/_StatementsPartial.cshtml", Model)
</section>

@if (IsFeatureEnabled(VisitPayFeatureEnum.Itemization))
{
    <section id="section-itemizations">
        @Html.Partial("_ItemizationsGrid")
    </section>
}

@section scripts {
    @Scripts.Render("~/bundles/mobile/scripts/documents", "~/bundles/mobile/scripts/sso/healthEquityWidget")
}

@Html.Action("HealthEquitySsoSetup", "Sso")