﻿@using Ivh.Common.VisitPay.Constants
@model Ivh.Common.Web.Models.Account.PasswordEditViewModel
@section Back {
    <a href="@Url.Action("AccountSettings", "Account")" title="@Html.TextRegion(TextRegionConstants.MyAccountPageHeading)"><em class="glyphicon glyphicon-chevron-left"></em></a>
}
@section PageTitle {
    @Html.TextRegion(TextRegionConstants.EditPassword)
}
<section id="section-reset-password" class="limit-width">
    <div id="div-edit-password" data-bind="visible: !isSavedSuccess()">
        <div class="row">
            <div class="col-xs-12">
                <p class="text-center">@Html.GuarantorPasswordRequirements()</p>
            </div>
        </div>
        @using (Html.BeginForm("EditPassword", "Account", FormMethod.Post, new { role = "form", id = "frmEditPassword" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <div class="validation-summary-valid" data-mob-valmsg-summary="true"><ul></ul></div>
            </div>
            <div class="form-group">
                @Html.ValidationMessageFor(m => m.OldPassword)
                @Html.VpLabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @autocomplete = "off", maxlength = ClientDto.GuarantorPasswordMaxLength })
            </div>
            <div class="form-group">
                @Html.ValidationMessageFor(m => m.NewPassword)
                @Html.VpLabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @autocomplete = "off", maxlength = ClientDto.GuarantorPasswordMaxLength })
            </div>
            <div class="form-group">
                @Html.ValidationMessageFor(m => m.NewPasswordConfirm)
                @Html.VpLabelFor(m => m.NewPasswordConfirm)
                @Html.PasswordFor(m => m.NewPasswordConfirm, new { @class = "form-control", @autocomplete = "off", maxlength = ClientDto.GuarantorPasswordMaxLength })
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary">@Html.TextRegion(TextRegionConstants.ButtonSubmit)</button>
            </div>
        }
    </div>
    <div id="div-saved-success" data-bind="visible: isSavedSuccess" style="display:none">
        <div class="row">
            <div class="col-xs-12">
                <p class="text-center">@Html.TextRegion(TextRegionConstants.YourPasswordHasBeenChanged)/p>
</div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-primary center-block" id="btnReturn">@Html.TextRegion(TextRegionConstants.Return)</button>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/mobile/scripts/account/editPassword")
}