﻿@using Ivh.Common.VisitPay.Constants
@model Ivh.Common.Web.Models.Shared.CmsViewModel

@section PageTitle {
    @Html.Raw(Model.ContentTitle)
}

<section class="faqs">
    @Html.Raw(Model.ContentBody)
    <p class="text-center">
        <br/>
        <a href="@Url.Action("Index", "Registration")" title="@Html.TextRegion(TextRegionConstants.SignUp)" class="btn btn-primary">@Html.TextRegion(TextRegionConstants.SignUp)</a>
    </p>
</section>

@section scripts {
    <script type="text/javascript">
    (function (visitPay) {

        $(document).ready(function () {

            visitPay.Common.BsCollapseUl($('#content section.faqs > ul').eq(0), 'faq-accordion', true);

        });

    })(window.VisitPay || {});

    </script>
}
