﻿@using Ivh.Common.VisitPay.Constants
@model Ivh.Web.Patient.Models.LoginViewModel

@section PageTitle {
    <h1>@Html.TextRegion(TextRegionConstants.SignIn)</h1>
}

<div class="container">
    <section class="limit-width">
        @Html.Partial("_LoginForm", Model)
        @if (Model.IsSso)
        {
            <div class="row link-divider text-center">
                <div class="col-xs-12">
                    <a href="@ClientDto.AppGuarantorExpressUrlHost" title="@Html.TextRegion(TextRegionConstants.PaymentOneTime)">@Html.TextRegion(TextRegionConstants.PaymentOneTime)</a>
                </div>
            </div>
            <div class="row link-divider text-center"></div>
        }
        @Html.Action("ClientSurvey")
    </section>
</div>