﻿@using Ivh.Common.VisitPay.Constants
@{
    Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";
}

@section PageTitle {
    @Html.TextRegion(TextRegionConstants.LoggedOut)
}

<p style="text-align:justify">
    @Html.TextRegion(TextRegionConstants.DeclinedTermsOfUseMessage)
</p>
<div style="text-align:center">
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Login", "Account")'">@Html.TextRegion(TextRegionConstants.SignInAgain)</button>
</div>