﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.VisitPay.Enums
@model Ivh.Common.Web.Models.Account.PaymentSummarySearchFilterViewModel

@section PageTitle {
    @Html.TextRegion(TextRegionConstants.PaymentSummaryPageHeading)
}

@Html.Action("HealthEquitySsoSetup", "Sso")
@section scripts {
    @Scripts.Render("~/bundles/mobile/scripts/paymentsummary", "~/bundles/mobile/scripts/sso/healthEquityWidget")
    <script type="text/javascript">
        (function () {
            window.VisitPayMobile.PaymentSummary();
        })();
    </script>
}

@section Back {
    <a href="@Url.Action("Index", "Home")" title="@Html.TextRegion(TextRegionConstants.HomePageHeading)"><em class="glyphicon glyphicon-chevron-left"></em></a>
    <button type="button" onclick="javascript:window.location.href = '#overlay-search';" class="btn btn-icon"><em class="glyphicon glyphicon-filter"></em></button>
}

@Html.Action("GetFilter", "GuarantorFilter", new { area = "", title = Html.TextRegion(TextRegionConstants.PaymentSummaryPageHeading) })

<section id="section-payment-summary">
    <div class="text">
        <p>@Html.CmsRegion(CmsRegionEnum.PaymentSummaryDescriptionText)</p>
    </div>
    <div class="grid">
        <!-- ko foreach: Data.Results -->
        <div class="mobile-link">
            <div>
                <div class="text-ellipsis">
                    <strong data-bind="text: PatientName"></strong> - <strong data-bind="text: VisitDescription"></strong>
                </div>
            </div>
            <a href="javascript:;" class="grid-link pull-right height1"></a>
            <div class="pull-right height2" style="width: 80px;">
                <div class="pull-right text-light text-right">@Html.TextRegion(TextRegionConstants.PaymentAmount)</div>
                <div class="clear text-right text-semi" style="font-size: 17px;" data-bind="text: TotalTransactionAmount"></div>
            </div>
            <div>
                <div data-bind="text: VisitDate"></div>
            </div>
            <div>
                <div data-bind="text: VisitSourceSystemKeyDisplay"></div>
            </div>
        </div>
        <!-- /ko -->
    </div>
    <div class="alert alert-info" style="display: none;" data-bind="visible: !HasResults()">
        @Html.TextRegion(TextRegionConstants.NoPaymentSummary)
    </div>
    <br/>
    <div class="text-right" style="display: none;" data-bind="visible: HasResults">
        <strong>@Html.TextRegion(TextRegionConstants.SummaryBalanceTotal): <span data-bind="text: Data.SummaryBalanceTotal"></span></strong>
    </div>
    <br/>
    @Html.Partial("_GridPager")
</section>

@section bottom {
    <div class="overlay" id="overlay-search">
        <a href="javascript:;" onclick="javascript: window.history.back();" class="back">&nbsp; Search @Html.TextRegion(TextRegionConstants.PaymentSummaryPageHeading)</a>
        <section id="section-payment-summary-search" class="container">
            <br />
            <form data-bind="submit: Submit">
                <div>
                    <div class="form-group">
                        <span class="pull-right">[ <a href="javascript:;" title="" class="reset" data-bind="click: Reset">@Html.TextRegion(TextRegionConstants.ButtonReset)</a> ]</span>
                        @Html.LabelFor(m => m.PaymentPeriod)
                        @Html.DropDownListFor(m => m.PaymentPeriod, Model.PaymentPeriods, new { @class = "form-control", data_bind = "value: Filter.PaymentPeriod" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.PostDateBegin, "Date Range")
                        <div class="row">
                            <div class="col-xs-6">@Html.VpTextBoxFor(m => m.PostDateBegin, new { type = "date", data_bind = "value: Filter.PostDateBegin" })</div>
                            <div class="col-xs-6">@Html.VpTextBoxFor(m => m.PostDateEnd, new { type = "date", data_bind = "value: Filter.PostDateEnd" })</div>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <br />
                        <button type="submit" class="btn btn-primary btn-75">@Html.TextRegion(TextRegionConstants.Search)</button>
                    </div>
                </div>
            </form>
        </section>
    </div>
    <div class="overlay" id="overlay-payment-summary-details">
        <!--TODO: Localize-->
        <a href="javascript:;" onclick="javascript:window.history.back();" class="back">@Html.TextRegion(TextRegionConstants.PaymentSummaryPageHeading) @Html.TextRegion(TextRegionConstants.Details)</a>
        <section id="section-payment-summary-details" class="container details">
            <div>
                <span class="pull-left text-light">@Html.TextRegion(TextRegionConstants.Patient):</span>
                <div class="text-ellipsis text-right" data-bind="text: PatientName"></div>
            </div>
            <div>
                <span class="pull-left text-light">@Html.TextRegion(TextRegionConstants.VisitDescription):</span>
                <div class="text-ellipsis text-right" data-bind="text: VisitDescription"></div>
            </div>
            <div>
                <span class="pull-left text-light">@Html.TextRegion(TextRegionConstants.VisitDate):</span>
                <div class="text-ellipsis text-right" data-bind="text: VisitDate"></div>
            </div>
            <div>
                <span class="pull-left text-light">@Html.TextRegion(TextRegionConstants.VisitId):</span>
                <div class="text-ellipsis text-right" data-bind="text: VisitSourceSystemKeyDisplay"></div>
            </div>
            <div>
                <span class="pull-left text-light">@Html.TextRegion(TextRegionConstants.PaymentAmount):</span>
                <div class="text-ellipsis text-right" data-bind="text: TotalTransactionAmount"></div>
            </div>
            <br/>
            <div class="detail-grid">
                <div class="detail expanded">
                    <strong>@Html.TextRegion(TextRegionConstants.PaymentDetails)</strong>
                    <div>
                        <table class="table-grid">
                            <colgroup>
                                <col style="width: 140px;"/>
                                <col style="width: 100%"/>
                            </colgroup>
                            <thead>
                            <tr>
                                <td>@Html.TextRegion(TextRegionConstants.PaymentDate)</td>
                                <td class="text-right">@Html.TextRegion(TextRegionConstants.Amount)</td>
                            </tr>
                            </thead>
                            <tbody>
                            <!-- ko foreach: Payments -->
                            <tr>
                                <td data-bind="text: PostDate"></td>
                                <td class="text-right" data-bind="text: TransactionAmount"></td>
                            </tr>
                            <!-- /ko -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
}
