﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.VisitPay.Enums
@model Ivh.Common.Web.Models.Guarantor.PhoneTextInformationViewModel

@section Back {
    <a href="@Url.Action("AccountSettings", "Account")" title="@Html.TextRegion(TextRegionConstants.MyAccountPageHeading)"><em class="glyphicon glyphicon-chevron-left"></em></a>
}

@section PageTitle {
    @{
        string pageTitle = IsFeatureEnabled(VisitPayFeatureEnum.Sms) ? Html.TextRegion(TextRegionConstants.PhoneTextSettingsPageHeading) : Html.TextRegion(TextRegionConstants.PhoneSettingsPageHeading);
    }
    @pageTitle
}

<section id="section-phone-text" class="limit-width">
    
    <div class="row">
        <div class="col-xs-12">
            
            <div class="text">
                @if (Model.SmsModuleEnabled)
                {
                    <p>@Html.CmsRegion(CmsRegionEnum.SmsActivateMessage)</p>
                }
                else
                {
                    <p>@Html.CmsRegion(CmsRegionEnum.PhoneTextDescriptionSmsDisabled)</p>
                }
            </div>

            <div class="grid">
                
                <div class="mobile-link">
                    @{
                        string primaryArrowClass = !Model.SmsModuleEnabled || !Model.HasPrimaryPhone ? "height2" : "height3";
                    }
                    <a href="/Mobile/Account/PhoneEdit?phoneType=@SmsPhoneTypeEnum.Primary" class="grid-link pull-right @primaryArrowClass"></a>
                    <div><strong>@Html.TextRegion(TextRegionConstants.PrimaryPhone)</strong></div>
                    @if (Model.HasPrimaryPhone)
                    {
                        <div>@Model.PhoneNumber (@Model.PhoneNumberType)</div>
                        if (Model.SmsModuleEnabled)
                        {
                             <div>
                                 @if (!Model.SmsEnabledFor.HasValue)
                                 {
                                     <a href="javascript:;" data-activate-phone-type="@SmsPhoneTypeEnum.Primary">@Html.TextRegion(TextRegionConstants.TurnOnTextMessagingFor) @Model.PhoneNumber</a>
                                 }
                                 else
                                 {
                                     if (Model.SmsEnabledFor.Value == SmsPhoneTypeEnum.Primary)
                                     {
                                         @:@Html.TextRegion(TextRegionConstants.TextMessaging): <span class="text-green">@Html.TextRegion(TextRegionConstants.Enabled)</span>
                                     }
                                     else
                                     {
                                         <a href="javascript:;" data-activate-phone-type="@SmsPhoneTypeEnum.Primary">@Html.TextRegion(TextRegionConstants.SwitchTextMessagingTo) @Model.PhoneNumber</a>
                                     }
                                 }
                             </div>
                        }
                    }
                    else
                    {
                        <div><em>@Html.TextRegion(TextRegionConstants.NoPhone)</em></div>
                    }
                </div>
                
                <div class="mobile-link">
                    @{
                        string secondaryArrowClass = !Model.SmsModuleEnabled || !Model.HasSecondaryPhone ? "height2" : "height3";
                    }
                    <a href="/Mobile/Account/PhoneEdit?phoneType=@SmsPhoneTypeEnum.Secondary" class="grid-link pull-right @secondaryArrowClass"></a>
                    <div><strong>@Html.TextRegion(TextRegionConstants.SecondaryPhone)</strong></div>
                    @if (Model.HasSecondaryPhone)
                    {
                        <div>@Model.PhoneNumberSecondary (@Model.PhoneNumberSecondaryType)</div>
                        if (Model.SmsModuleEnabled)
                        {
                            if (!Model.SmsEnabledFor.HasValue)
                            {
                                <a href="javascript:;" data-activate-phone-type="@SmsPhoneTypeEnum.Secondary">@Html.TextRegion(TextRegionConstants.TurnOnTextMessagingFor) @Model.PhoneNumberSecondary</a>
                            }
                            else
                            {
                                if (Model.SmsEnabledFor.Value == SmsPhoneTypeEnum.Secondary)
                                {
                                    @:@Html.TextRegion(TextRegionConstants.TextMessaging): <span class="text-green">@Html.TextRegion(TextRegionConstants.Enabled)</span>
                                }
                                else
                                {
                                    <a href="javascript:;" data-activate-phone-type="@SmsPhoneTypeEnum.Secondary">@Html.TextRegion(TextRegionConstants.SwitchTextMessagingTo) @Model.PhoneNumberSecondary</a>
                                }
                            }
                        }
                    }
                    else
                    {
                        <div><em>@Html.TextRegion(TextRegionConstants.NoPhone)</em></div>
                    }
                </div>

            </div>

        </div>
    </div>
 
    @if (Model.SmsModuleEnabled)
    {
        <br/>
        if (Model.SmsEnabledFor.HasValue)
        {
            <button type="button" class="btn btn-primary btn-small btn-75" id="btnDisableSms">@Html.TextRegion(TextRegionConstants.TurnOffTextMessaging)</button>
            <br/>
            <div class="text">
                <p>@Html.CmsRegion(CmsRegionEnum.SmsActiveMessage)</p>
            </div>
        }

        string preferencesClassName = Model.SmsEnabledFor.HasValue ? "" : "disabled";

        <div class="preferences @preferencesClassName">
            @for (int i = 0; i < Model.Preferences.Count; i++)
            {
                <div class="row preference">
                    <span class="click"></span>
                    <div class="col-xs-8">
                        @Model.Preferences[i].Description
                    </div>
                    <div class="col-xs-4 text-right">
                        @Html.CheckBoxFor(m => m.Preferences[i].Enabled, new {data_id = Model.Preferences[i].CommunicationGroupId})
                    </div>
                </div>
            }
        </div>
    }

</section>

@section scripts {
    @Scripts.Render("~/bundles/mobile/scripts/account/phonetext")
}