﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.VisitPay.Enums
@model Ivh.Web.Patient.Models.Account.ActivateTextMessagingViewModel

@section Back {
    <a href="javascript:;" onclick="javascript:window.history.back();" title="@Html.TextRegion(TextRegionConstants.PhoneTextSettingsPageHeading)"><em class="glyphicon glyphicon-chevron-left"></em></a>
}

@section PageTitle {
    @Html.TextRegion(TextRegionConstants.TextMessagingAgreement)
}

<div class="container" id="div-sms-acknowledgement">
    <form id="form-sms-acknowledgement" class="form-horizontal limit-width" role="form" autocomplete="off">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.ActivateTextCmsVersionId)
        @Html.HiddenFor(m => m.PhoneNumber)
        @Html.HiddenFor(m => m.SmsPhoneType)
        <p><strong>VisitPay @Html.TextRegion(TextRegionConstants.TextMessagingAgreement)</strong></p>
        <div class="acceptance-container">
            <p>@Html.CmsRegion(CmsRegionEnum.SmsAcknowledgement, Model.PhoneNumber)</p>
        </div>
        <br />
        <p>
            @Html.CheckBoxFor(m => m.ActivateTextAgreed)
            @Html.CmsLabelFor("ActivateTextAgreed", "SmsAcceptTerms")
        </p>
        <br />
        @Html.ValidationSummary(Html.TextRegion(TextRegionConstants.ValidationCorrectErrors), new { @class = "text-center" })
        <p class="text-center">
            <button type="submit" class="btn btn-primary btn-75">@Html.TextRegion(TextRegionConstants.ButtonContinue)</button>
        </p>
    </form>
</div>

@section scripts {
    @Scripts.Render("~/bundles/mobile/scripts/account/smsacknowledgement")
}
