﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.VisitPay.Enums
@model Ivh.Web.Patient.Models.Account.ActivateTextMessagingViewModel

@section Back {
    <a href="@Url.Action("SmsAcknowledgement", "Account", new { phoneType = Model.SmsPhoneType})" title="@Html.TextRegion(TextRegionConstants.TextMessagingAgreement)"><em class="glyphicon glyphicon-chevron-left"></em></a>
}

@section PageTitle {
    @Html.TextRegion(TextRegionConstants.TextMessagingValidation)
}

<div class="container" id="div-sms-validate-token">
    <form id="form-sms-validate-token" class="form-horizontal limit-width" role="form" autocomplete="off">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.ActivateTextCmsVersionId)
        @Html.HiddenFor(m => m.PhoneNumber)
        @Html.HiddenFor(m => m.SmsPhoneType)
        @Html.HiddenFor(m => m.SmsRetryCount)
        <p>@Html.CmsRegion(CmsRegionEnum.SmsValidationCodeSent, Model.PhoneNumber)</p>
        <div class="form-group">
            <div class="validation-summary-valid" data-mob-valmsg-summary="true"><ul></ul></div>
        </div>
        <div class="form-group">
            @Html.ValidationMessageFor(m => m.ValidationCode)
            <div class="col-xs-offset-3 col-xs-6">
                @Html.VpTextBoxFor(m => m.ValidationCode)
            </div>
        </div>
        <br />
        <p class="form-group text-center">
            <button type="submit" class="btn btn-primary btn-75">@Html.TextRegion(TextRegionConstants.ButtonValidate)</button>
        </p>
    </form>
</div>

@section scripts {
    @Scripts.Render("~/bundles/mobile/scripts/account/smsvalidatetoken")
}
