﻿@using Ivh.Common.VisitPay.Constants
@model List<Ivh.Common.Web.Models.Account.SecurityQuestionViewModel>

@section Back {
    <a href="@Url.Action("AccountSettings", "Account")" title="@Html.TextRegion(TextRegionConstants.MyAccountPageHeading)"><em class="glyphicon glyphicon-chevron-left"></em></a>
}

@section PageTitle {
    @Html.TextRegion(TextRegionConstants.EditSecurityQuestions)
}

<div id="div-securiy-questions" class="container">
    <form class="form-horizontal limit-width" if="frmEditSecurityQuestions" method="post" role="form" autocomplete="off">
        @Html.AntiForgeryToken()

        <div class="form-group">
            <div class="validation-summary-valid" data-mob-valmsg-summary="true"><ul></ul></div>
        </div>
        @{
            for (var i = 0; i < Model.Count(); i++)
            {
                var index = i;
                <div class="form-group" style="margin-bottom:0;">
                   @Html.ValidationMessageFor(m => Model[index].SecurityQuestionId)
                   @Html.VpLabelFor(m => Model[index].SecurityQuestionId)
                   @Html.DropDownListFor(m => Model[index].SecurityQuestionId, Model[index].SecurityQuestions, "--Select--", new { @class = "form-control" })
                    <div style="padding:10px;">
                        <span id="@("questionText_" + i)"></span>
                    </div>
                </div>
                <div class="form-group">
                    @Html.ValidationMessageFor(m => Model[index].Answer)
                    @Html.VpLabelFor(m => Model[index].Answer)
                    @Html.VpTextBoxFor(m => Model[index].Answer)
                </div>
            }
        }

        <div class="form-group text-center">
            <button type="submit" class="btn btn-primary">@Html.TextRegion(TextRegionConstants.ButtonSave)</button>
        </div>
    </form>
</div>

@section scripts {
    @Scripts.Render("~/bundles/mobile/scripts/account/SecurityQuestionsEdit")
}
