﻿@using Ivh.Common.Base.Enums
@using Ivh.Common.Base.Utilities.Extensions
@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.VisitPay.Enums

@model Ivh.Web.Patient.Areas.Mobile.Models.ProfileEditMobileViewModel

@section Back {
    <a href="@Url.Action("UserProfile", "Account")" title="@Html.TextRegion(TextRegionConstants.PersonalInformationPageHeading)"><em class="glyphicon glyphicon-chevron-left"></em></a>
}

@section PageTitle {
    @ViewBag.PageTitle
}

<div class="container" id="div-profile-edit">

    @if (ViewBag.PageTitle == UserProfileEditSectionsEnum.Name.GetDescription())
    {
        @Html.Partial("~/Areas/Mobile/Views/Account/_ProfileEditName.cshtml", Model.ProfileEditName)
    }
    else if (ViewBag.PageTitle == UserProfileEditSectionsEnum.Username.GetDescription())
    {
        @Html.Partial("~/Areas/Mobile/Views/Account/_ProfileEditUsername.cshtml", Model.ProfileEditUserName)
    }
    else if (ViewBag.PageTitle == UserProfileEditSectionsEnum.Email.GetDescription())
    {
        @Html.Partial("~/Areas/Mobile/Views/Account/_ProfileEditEmail.cshtml", Model.ProfileEditEmail)
    }
    else if (ViewBag.PageTitle == UserProfileEditSectionsEnum.Address.GetDescription())
    {
        @Html.Partial("~/Areas/Mobile/Views/Account/_ProfileEditAddress.cshtml", Model.ProfileEditAddress)
    }
</div>

@section scripts {
    @Scripts.Render("~/bundles/mobile/scripts/account/userprofileedit")
}
