﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.VisitPay.Enums
@model Ivh.Common.Web.Models.Guarantor.EditPhoneViewModel

@section Back {
    <a href="@Url.Action("PhoneTextSettings", "Account")"><em class="glyphicon glyphicon-chevron-left"></em></a>
}

@section PageTitle {
    @Html.TextRegion(TextRegionConstants.EditPhoneNumber)
}

<div id="div-phone-edit">
    @if (Model.IsSmsEnabled)
    {
        <p>@Html.TextRegion(TextRegionConstants.EditPhoneTextMessageDisabling)</p>
    }
        <form id="form-phone-number" class="limit-width" role="form" autocomplete="off">
            @Html.HiddenFor(m => m.IsSmsEnabled)
            @Html.HiddenFor(m => m.VisitPayUserId)
            @Html.HiddenFor(m => m.SmsPhoneType)
            @Html.AntiForgeryToken()
            <div class="form-group">
                @Html.VpLabelFor(m => m.PhoneNumber)
                @Html.VpTextBoxFor(m => m.PhoneNumber, new { type = "tel" })
            </div>
            <div class="form-group">
                @Html.VpLabelFor(m => m.PhoneNumberType)
                @Html.VpPhoneNumberTypesDropDownListFor(m => m.PhoneNumberType, new { @class = "form-control" })
            </div>

            @if (!string.IsNullOrEmpty(Model.PhoneNumber))
            {
                if (Model.IsSmsActivateEnabled)
                {
                    string formatString = Html.TextRegion(TextRegionConstants.TurnOnTextMessagingFor) + " {0}";
                    <div class="form-group activate text-right">
                        <a class="btn btn-default" href="/Mobile/Account/SmsAcknowledgement?phoneType=@Model.SmsPhoneType">@string.Format(formatString, Model.PhoneNumber)</a>
                    </div>
                }
                else if (Model.IsSmsSwitchToEnabled)
                {
                    string formatString = Html.TextRegion(TextRegionConstants.SwitchTextMessagingTo) + " {0}";
                    <div class="form-group activate text-right">
                        <a class="btn btn-default" href="/Mobile/Account/SmsAcknowledgement?phoneType=@Model.SmsPhoneType">@string.Format(formatString, Model.PhoneNumber)</a>
                    </div>
                }
            }

            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary btn-75">@Html.TextRegion(TextRegionConstants.ButtonSave)</button>
            </div>

            @if (Model.SmsPhoneType == SmsPhoneTypeEnum.Secondary)
            {
                <div class="form-group text-center">
                    <br />
                    <button id="delete" type="button" class="btn btn-primary btn-50 btn-small">@Html.TextRegion(TextRegionConstants.Delete)</button>
                </div>
            }
        </form>
</div>

@section scripts {
    @Scripts.Render("~/bundles/mobile/scripts/account/phonetextedit")
}
