﻿@using Ivh.Common.VisitPay.Constants
@section Back {
    <a href="@Url.Action("AccountSettings", "Account")" title="@Html.TextRegion(TextRegionConstants.MyAccountPageHeading)"><em class="glyphicon glyphicon-chevron-left"></em></a>
}

@section PageTitle {
    @Html.TextRegion(TextRegionConstants.PersonalInformationPageHeading)
}

<div class="limit-width">
    @Html.Action("UserPersonalInformation")
</div>

@section scripts {
    @Scripts.Render("~/bundles/mobile/scripts/account/userprofile")
}