﻿@using Ivh.Application.Core.Common.Dtos
@using Ivh.Common.VisitPay.Constants
@model Ivh.Application.Content.Common.Dtos.CmsVersionDto

<div class="row" id="client-survey">
    <div class="col-xs-offset-3 col-xs-4">
        <div>
            <div><strong>@Html.Raw(Model.ContentTitle)</strong>
            </div>
            <p>
                @Html.Raw(Model.ContentBody)
            </p>
            <p class="text-center">
                <a href="@ClientDto.ClientSurveyURL" target="_blank" class="btn btn-default" role="button">@Html.TextRegion(TextRegionConstants.TakeSurvey)</a>
            </p>
        </div>
    </div>
</div>