﻿
<div class="vpgrid-container" id="gridItemizations">
    <div class="vpgrid-header">
        <h4>@Html.TextRegion(TextRegionConstants.ItemizedStatements)</h4>
    </div>
    <div>
        <div class="vpgrid" data-bind="with: Grid">
            <!-- ko if: HasResults -->
            <!-- ko foreach: Data.Results -->
            <div class="row grid-row">
                <div class="col vertical-stacked-group discharge-date">
                    <label>@Html.TextRegion(TextRegionConstants.Date)</label>
                    <span data-bind="text: DischargeDate"></span>
                </div>
                <div class="col vertical-stacked-group encounter">
                    <label>@Html.TextRegion(TextRegionConstants.Encounter)&nbsp;#</label>
                    <span data-bind="text: VisitSourceSystemKeyDisplay"></span>
                </div>
                <div class="col vertical-stacked-group patient">
                    <label>@Html.TextRegion(TextRegionConstants.Patient)</label>
                    <span data-bind="text: PatientName"></span>
                </div>
                <div class="col vertical-stacked-group facility">
                    <label>@Html.TextRegion(TextRegionConstants.Facility)</label>
                    <span data-bind="text: FacilityCode"></span>
                </div>
                <div class="col download-link vertical-stacked-group">
                    <label class="download-action-label">@Html.TextRegion(TextRegionConstants.Action)</label>
                    <a class="links download-anchor" href="javascript:;" data-bind="attr: { 'data-visit-file-stored-id': VisitFileStoredId }">Download</a>
                </div>
            </div>
            <!-- /ko -->
            @Html.Partial("~/Views/Shared/_VpGridPager.cshtml")
            <!-- /ko -->
            <!-- ko ifnot: HasResults -->
            @Html.GridAlert("", Html.TextRegion(TextRegionConstants.NoItemizationsToDisplay), visible: true)
            <!-- /ko -->
        </div>
    </div>
</div>