﻿@using Ivh.Common.VisitPay.Constants
@model Ivh.Web.Patient.Models.Account.PasswordExpiredViewModel

<section id="section-passwordexpired">
    <div class="alert alert-light text-center">@Html.TextRegion(TextRegionConstants.InstructionPasswordExpired)</div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
            @using (Html.VpForm("PasswordExpired", "Account", FormMethod.Post, "frmPasswordExpired", new { @class = "modern-form" }))
            {
                @Html.HiddenFor(m => m.Username)
                if (string.IsNullOrWhiteSpace(Model.Password))
                {
                    <div class="form-section">
                        <div class="row form-group">
                            <div class="col-xs-12">
                                @Html.VpSwitchPassword()
                                @Html.LabelFor(m => m.Password)
                                @Html.PasswordFor(m => m.Password, new {@class = "form-control"})
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    @Html.HiddenFor(m => m.Password)
                }
                <div class="form-section">
                    <div class="row form-group">
                        <div class="col-xs-12">
                            @Html.VpSwitchPassword()
                            @Html.LabelFor(m => m.NewPassword)
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", maxlength = ClientDto.GuarantorPasswordMaxLength })
                        </div>
                    </div>
                    <div class="field-tip password-tip">@Html.GuarantorPasswordRequirements()</div>
                </div>
                <div class="form-section">
                    @Html.ValidationSummary(Html.TextRegion(TextRegionConstants.ValidationAllFieldsRequired))
                    @Html.VpValidationSummaryCustomErrors()
                </div>
                <div class="form-section text-center">
                    @Html.VpButton("btnUpdatePassword", Html.TextRegion(TextRegionConstants.UpdatePassword), VpButtonTypeEnum.Submit)
                </div>
            }
        </div>
    </div>
</section>
