﻿@model Ivh.Common.Web.Models.Account.PaymentSummarySearchFilterViewModel
@{
    const string piwikCategory = "PaymentSummary";
}

<section id="section-paymentsummary">
    @using (Html.BeginVpPageHeading(Html.TextRegion(TextRegionConstants.PaymentSummaryPageHeading)))
    {
        @Html.ExportIconPdf("btnPaymentSummaryExportPdf", piwikCategory)
        @Html.ExportIconExcel("btnPaymentSummaryExport", piwikCategory)
    }
    <div class="text">
        <p>@Html.CmsRegion(CmsRegionEnum.PaymentSummaryDescriptionText)</p>
    </div>
    <hr />

    <!-- Filter Form -->
    <form autocomplete="off" class="container jqGridFilter" id="frmPaymentSummaryFilter">
        <div class="row">
            <div class="col">@Html.VpLabelFor(m => m.PaymentPeriod)</div>
            <div class="col"></div>
            <div class="col text-right">
                <button type="submit" class="btn btn-primary">@Html.TextRegion(TextRegionConstants.ButtonRun)</button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                @Html.DropDownListFor(m => m.PaymentPeriod, Model.PaymentPeriods, new { @class = "form-control", data_bind = "initial: Filter.PaymentPeriod, value: Filter.PaymentPeriod" })
            </div>
            <div class="col">
                @Html.VpDatePickerFor(m => m.PostDateBegin, new { data_bind = "value: Filter.PostDateBegin" })
                @Html.VpDatePickerFor(m => m.PostDateEnd, new { data_bind = "value: Filter.PostDateEnd" })
            </div>
            <div class="col text-right">
                <button type="button" class="btn btn-primary" data-reset="true">@Html.TextRegion(TextRegionConstants.ButtonReset)</button>
            </div>
        </div>
        @Html.ValidationSummary(Html.TextRegion(TextRegionConstants.ValidationInvalidDateRange), true)
    </form>

    <!-- Results Grid -->
    <div class="vpgrid-container " id="gridPaymentSummary">
        <div class="vpgrid-header">
            <h4>@Html.TextRegion(TextRegionConstants.PaymentSummaryPageHeading)</h4>
        </div>
        <div>
            <div class="vpgrid vpgrid-clickable grid-visits-single-line" data-bind="with: Grid">
                <!-- ko if: HasResults -->
                <!-- ko foreach: Data.Results-->
                <div class="row grid-row" title="@Html.TextRegion(TextRegionConstants.TooltipViewVisitDetails)">
                    <div class="col" data-bind="text: VisitDate"></div>
                    <div class="col">
                        <span data-bind="text: PatientName"></span>
                    </div>
                    <div class="col">
                        <span data-bind="text: VisitDescription"></span>
                    </div>
                    <div class="col">
                        <span data-bind="text: TotalTransactionAmount"></span>
                    </div>
                </div>
                <div class="row grid-detail">
                    <div class="row">
                        <div class="col-sm-12">
                            @Html.TextRegion(TextRegionConstants.Visit)&nbsp;#<span class="text-bold" data-bind="text: VisitSourceSystemKeyDisplay"></span>
                        </div>
                    </div>
                    <hr/>
                    <!-- ko foreach: Payments -->
                    <div class="row small-padding-bottom">
                        <div class="col-sm-4">
                            @Html.TextRegion(TextRegionConstants.PostedDate)
                        </div>
                        <div class="col-sm-8 text-right">
                            <span data-bind="text: PostDate"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            @Html.TextRegion(TextRegionConstants.TransactionAmount)
                        </div>
                        <div class="col-sm-8 text-right">
                            <span data-bind="text: TransactionAmount"></span>
                        </div>
                    </div>
                    <hr />
                    <!-- /ko -->
                    <div class="row">
                        <div class="col-sm-4" class="text-bold">
                            @Html.TextRegion(TextRegionConstants.Total)
                        </div>
                        <div class="col-sm-8 text-right">
                            <span style="font-weight:bold;" data-bind="text: TotalTransactionAmount"></span>
                        </div>
                    </div>
                </div>
                <!-- /ko -->
                @Html.Partial("~/Views/Shared/_VpGridPager.cshtml")
                <!-- /ko -->
                <!-- ko ifnot: HasResults -->
                @Html.GridAlert("", Html.TextRegion(TextRegionConstants.NoPaymentSummary), visible: true)
                <!-- /ko -->
            </div>
        </div>
    </div>
</section>