﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Web.Patient.Models.Account
@model Ivh.Web.Patient.Models.Account.PaymentSummaryPdfViewModel

<section id="print-payment-summary">
    <img src ="@ServerUrl/Content/Client/logo_for_excel_export.png" />

    <h2>@Html.TextRegion(TextRegionConstants.Transactions)</h2>
    
    <div id="exportheader">
        <div class="row">
            <div class="col">@Html.LabelFor(m => m.DateRange):</div>
            <div class="col">@Model.DateRange</div>
        </div>

        <div class="row">
            <div class="col">@Html.LabelFor(m => m.FileDate):</div>
            <div class="col">@Model.FileDate</div>
        </div>

        <div class="row">
            <div class="col">@Html.LabelFor(m => m.ExportedBy):</div>
            <div class="col">@Model.ExportedBy</div>
        </div>
        <div class="row">
            <div class="col">&nbsp;</div>
            <div class="col">&nbsp;</div>
        </div>
    </div>

    <table>
        <thead>
            <tr>
                <th>@Html.TextRegion(TextRegionConstants.VisitId)</th>
                <th>@Html.TextRegion(TextRegionConstants.VisitDate)</th>
                <th>@Html.TextRegion(TextRegionConstants.Patient)</th>
                <th>@Html.TextRegion(TextRegionConstants.VisitDescription)</th>
                <th>@Html.TextRegion(TextRegionConstants.PaymentDate)</th>
                <th>@Html.TextRegion(TextRegionConstants.PaymentAmount)</th>
            </tr>
        </thead>

        <tbody>
        @foreach (PaymentSummaryGroupedTransactionPdfViewModel summary in Model.PaymentSummaries)
        {
            <tr>
                <td>@summary.VisitSourceSystemKeyDisplay </td>
                <td>@summary.VisitDate</td>
                <td>@summary.PatientName</td>
                <td>@summary.VisitDescription</td>
                <td>@summary.PostDate</td>
                <td>@summary.TransactionAmount</td>
            </tr>
        }
        </tbody>
        <tfoot>
        <tr>
            <th id="totaltransaction" colspan="5">@Html.TextRegion(TextRegionConstants.SummaryBalanceTotal):</th>
            <td>@Model.TotalTransactionAmount</td>
        </tr>
        </tfoot>
    </table>
</section>