﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.VisitPay.Enums
@model Ivh.Common.Web.Models.Guarantor.PhoneTextInformationViewModel

@Html.HiddenFor(m => m.CmsVersionId)
@Html.HiddenFor(m => m.SmsEnabledFor)
@Html.HiddenFor(m => m.VisitPayUserId)

@{ 
    bool primaryTextEnabled = (Model.SmsEnabledFor.HasValue && Model.SmsEnabledFor.Value == SmsPhoneTypeEnum.Primary);
    bool secondaryTextEnabled = (Model.SmsEnabledFor.HasValue && Model.SmsEnabledFor.Value == SmsPhoneTypeEnum.Secondary);
}

<div class="text">
    @if (Model.SmsModuleEnabled)
    {
        <p>@Html.CmsRegion(CmsRegionEnum.SmsActivateMessage)</p>
    }
    else
    {
        <p>@Html.CmsRegion(CmsRegionEnum.PhoneTextDescriptionSmsDisabled)</p>
    }
</div>

<div class="panel panel-default">
    <div class="panel-heading">@Html.TextRegion(TextRegionConstants.PhoneNumbers)</div>
    <table class="table phoneNumberTable">
        <thead>
            <tr>
                <th>@Html.TextRegion(TextRegionConstants.Priority)</th>
                <th>@Html.TextRegion(TextRegionConstants.PhoneNumber)</th>
                <th>@Html.TextRegion(TextRegionConstants.Type)</th>
                @if (Model.SmsModuleEnabled)
                {
                    <th class="text-center">@Html.TextRegion(TextRegionConstants.TextMessaging)</th>
                }
                <th class="text-right">@Html.TextRegion(TextRegionConstants.Actions)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.TextRegion(TextRegionConstants.Primary)</td>
                @if (Model.HasPrimaryPhone)
                {
                    <td>@Model.PhoneNumber</td>
                    <td><i class="glyphicon @Model.PrimaryTypeIcon"></i>&nbsp;@Model.PhoneNumberType</td>
                    if (Model.SmsModuleEnabled)
                    {
                        string primaryActivationModalTitle = Html.TextRegion(TextRegionConstants.TurnOnTextMessagingFor) + " " + Model.PhoneNumber; ;
                        if (Model.SmsEnabledFor.HasValue && Model.SmsEnabledFor.Value != SmsPhoneTypeEnum.Primary)
                        {
                            primaryActivationModalTitle = Html.TextRegion(TextRegionConstants.SwitchTextMessagingTo) + " " + Model.PhoneNumber;
                        }
                        <td class="text-toggle text-center">
                            @Html.CheckBoxFor(m => primaryTextEnabled, new { data_primary = "true", data_activation_modal_title = primaryActivationModalTitle, style = "display:none;" })
                        </td>
                    }
                }
                else
                {
                    <td style="font-style:italic;">@Html.TextRegion(TextRegionConstants.NoPhone)</td>
                    <td></td> <!-- Phone Type -->
                    if (Model.SmsModuleEnabled)
                    {
                        <td></td> <!-- Text Enabled -->
                    }
                }
                <td class="text-right">
                    <button type="button" class="btn-icon" id="btnEditPrimary" data-primary="true" title="@Html.TextRegion(TextRegionConstants.EditPrimaryPhoneNumber)"><em class="glyphicon glyphicon-pencil"></em></button>
                    <button type="button" class="btn-icon" title="@Html.TextRegion(TextRegionConstants.PrimaryPhoneDeleteMessage)" disabled="disabled"><em class="glyphicon glyphicon-trash"></em></button>
                </td>
            </tr>
            <tr>
                <td>@Html.TextRegion(TextRegionConstants.Secondary)</td>
                @if (Model.HasSecondaryPhone)
                {
                    <td>@Model.PhoneNumberSecondary</td>
                    <td><i class="glyphicon @Model.SecondaryTypeIcon"></i>&nbsp;@Model.PhoneNumberSecondaryType</td>
                    if (Model.SmsModuleEnabled)
                    {
                        string secondaryActivationModalTitle = Html.TextRegion(TextRegionConstants.TurnOnTextMessagingFor) + " " + Model.PhoneNumberSecondary; ;
                        if (Model.SmsEnabledFor.HasValue && Model.SmsEnabledFor.Value != SmsPhoneTypeEnum.Secondary)
                        {
                            secondaryActivationModalTitle = Html.TextRegion(TextRegionConstants.SwitchTextMessagingTo) + " " + Model.PhoneNumberSecondary;
                        }

                        <td class="text-toggle text-center">
                            @Html.CheckBoxFor(m => secondaryTextEnabled, new { data_primary = "false", data_activation_modal_title = secondaryActivationModalTitle, style = "display:none;" })
                        </td>   
                    }
                }
                else
                {
                    <td style="font-style:italic;">@Html.TextRegion(TextRegionConstants.NoPhone)</td>
                    <td></td> <!-- Phone Type -->
                    if (Model.SmsModuleEnabled)
                    {
                        <td></td> <!-- Text Enabled -->
                    }
                }
                <td class="text-right">
                    <button type="button" class="btn-icon" id="btnEditSecondary" data-primary="false" title="@Html.TextRegion(TextRegionConstants.EditSecondaryPhoneNumber)"><em class="glyphicon glyphicon-pencil"></em></button>
                    <button type="button" class="btn-icon" id="btnDeleteSecondary" title="@Html.TextRegion(TextRegionConstants.DeleteSecondaryPhoneNumber)" data-smsenabledfor="@secondaryTextEnabled" @(Model.HasSecondaryPhone ? "" : "disabled")><em class="glyphicon glyphicon-trash"></em></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- TEXT SETTINGS -->
@if (Model.SmsModuleEnabled)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                @Html.TextRegion(TextRegionConstants.TextMessaging) <i>@(Model.SmsEnabledFor.HasValue ? "" : "(" + Html.TextRegion(TextRegionConstants.Disabled) + ")")</i>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                @{
                    string disabledClass = Model.SmsEnabledFor.HasValue ? "" : "disabled";
                }

                <div class="col-xs-12">
                    <div class="text @disabledClass">
                        <p>@Html.CmsRegion(CmsRegionEnum.SmsActiveMessage)</p>
                    </div>
                </div>
                <div class="preferences @disabledClass">
                    @for (int i = 0; i < Model.Preferences.Count; i++)
                    {
                        <div class="preference">
                            <div>
                                <em class="glyphicon @Model.Preferences[i].IconType"></em>
                                @Model.Preferences[i].Description
                            </div>
                            <div>
                                @Html.CheckBoxFor(m => m.Preferences[i].Enabled, new { data_id = Model.Preferences[i].CommunicationGroupId })
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}
