﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.VisitPay.Enums
<section id="section-requestusernameconfirmation">
    <p>@Html.CmsRegion(CmsRegionEnum.ForgotCredentialSuccess)</p>
    <div class="text-center">
        @Html.VpActionLink("btnOk", Html.TextRegion(TextRegionConstants.Ok), "Login", "Account", VpActionLinkTypeEnum.Button, VpButtonClassEnum.Primary)
    </div>
</section>
