﻿@using Ivh.Common.VisitPay.Constants
@model Ivh.Web.Patient.Models.Account.RequestUsernameViewModel

<section id="section-requestusername">
    <div class="alert alert-light text-center">@Html.TextRegion(TextRegionConstants.InstructionRequestUsername)</div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
            @using (Html.VpForm("RequestUsername", "Account", FormMethod.Post, "frmRequestUsername", new { @class = "modern-form" }))
            {
            <div class="form-section">
                @Html.HiddenFor(m => m.RequireFirstName)
                @if (Model.FirstNameVisible)
                {
                    <div class="row form-group">
                        <div class="col-xs-12">
                            @Html.LabelFor(m => m.FirstName)
                            @Html.VpTextBoxFor(m => m.FirstName)
                        </div>
                    </div>
                }
                
                <div class="row form-group">
                    <div class="col-xs-12">
                        @Html.LabelFor(m => m.LastName)
                        @Html.VpTextBoxFor(m => m.LastName)
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-xs-12">
                        @Html.LabelFor(m => m.DateOfBirthMonth)
                        <div class="date-of-birth">
                            @Html.VpDropDownListFor(m => m.DateOfBirthMonth, Dates.MonthsAbbreviated())
                            @Html.VpTextBoxFor(m => m.DateOfBirthDay, new { type = "tel" })
                            @Html.VpTextBoxFor(m => m.DateOfBirthYear, new { type = "tel" })
                        </div>
                    </div>
                </div>
                @Html.HiddenFor(m => m.RequireSsn)
                @if (Model.SsnVisible)
                {
                    <div class="row form-group">
                        <div class="col-xs-12">
                            @Html.LabelFor(m => m.Ssn4)
                            @Html.VpSsnBoxFor(m => m.Ssn4)
                        </div>
                    </div>
                }
                @Html.HiddenFor(m => m.RequireEmailAddress)
                @if (Model.RequireEmailAddress)
                {
                    <div class="row form-group">
                        <div class="col-xs-12">
                            @Html.LabelFor(m => m.EmailAddress)
                            @Html.VpTextBoxFor(m => m.EmailAddress)
                        </div>
                    </div>
                }

            </div>
                <div class="form-section">
                    @Html.ValidationSummary(Html.TextRegion(TextRegionConstants.ValidationAllFieldsRequired))
                    @Html.VpValidationSummaryCustomErrors()
                </div>
                <div class="form-section text-center">
                    @Html.VpButton("btnRequestUsername", Html.TextRegion(TextRegionConstants.RequestUsername), VpButtonTypeEnum.Submit)
                </div>
            }
        </div>
    </div>
</section>
