﻿@using Ivh.Common.VisitPay.Constants
<div class="alert alert-light text-center">
    <p>
        <strong>@Html.TextRegion(TextRegionConstants.PasswordResetLinkExpired)</strong>
    </p>
    <p>
        <a href="@Url.Action("RequestPassword", "Account")" title="@Html.TextRegion(TextRegionConstants.ClickToRequestPasswordAgain)">@Html.TextRegion(TextRegionConstants.ClickToRequestPasswordAgain)</a>
    </p>
</div>
<p class="text-center">
    @Html.VpActionLink("btnResetPasswordTokenHome", Html.TextRegion(TextRegionConstants.ButtonHome), "Index", "Home", VpActionLinkTypeEnum.Button, VpButtonClassEnum.Primary)
</p>