﻿@using Ivh.Common.VisitPay.Constants
@model Ivh.Web.Patient.Models.Account.ResetPasswordViewModel

<section id="section-resetpassword">
    @if (!string.IsNullOrWhiteSpace(Model.TempPassword))
    {
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
                @using (Html.VpForm("ResetPassword", "Account", FormMethod.Post, "frmResetPassword", new { @class = "modern-form" }))
                {
                    @Html.HiddenFor(m => m.TempPassword)
                    <div class="form-section">
                        @if (!string.IsNullOrWhiteSpace(Model.Username))
                        {
                            @Html.HiddenFor(m => m.Username)
                        }
                        else
                        {
                            <div class="row form-group">
                                <div class="col-xs-12">
                                    @Html.LabelFor(m => m.Username)
                                    @Html.VpTextBoxFor(m => m.Username)
                                </div>
                            </div>
                        }
                        <div class="row form-group">
                            <div class="col-xs-12">
                                @Html.VpSwitchPassword()
                                @Html.LabelFor(m => m.Password)
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", maxlength = ClientDto.GuarantorPasswordMaxLength })
                            </div>
                        </div>
                        <div class="field-tip password-tip">@Html.GuarantorPasswordRequirements()</div>
                    </div>
                    @Html.HiddenFor(m => m.RequireSsn)
                    if (Model.RequireSsn)
                    {
                        <div class="form-section">
                            <div class="row form-group">
                                <div class="col-xs-12">
                                    @Html.LabelFor(m => m.Ssn4)
                                    @Html.VpSsnBoxFor(m => m.Ssn4)
                                </div>
                            </div>
                        </div>
                    }

                    <div class="form-section">
                        @Html.ValidationSummary(Html.TextRegion(TextRegionConstants.ValidationAllFieldsRequired))
                        @Html.VpValidationSummaryCustomErrors()
                    </div>
                    <div class="form-section text-center">
                        @Html.VpButton("btnUpdatePassword", Html.TextRegion(TextRegionConstants.UpdatePassword), VpButtonTypeEnum.Submit)
                    </div>
                }
            </div>
        </div>
    }
    else
    {
        @Html.Partial("_ResetPasswordTokenExpired")
    }
</section>
