﻿@using Ivh.Common.VisitPay.Constants
@model List<Ivh.Common.Web.Models.Account.SecurityQuestionViewModel>

<section id="section-profileedit" class="modern-form">
    <div class="row">
        <div class="col-xs-offset-1 col-xs-10">
            @Html.ValidationSummary(Html.TextRegion(TextRegionConstants.ValidationCorrectErrors))
            <p>Select @Model.Count() security questions and type your answers below. We will only ask these questions if we need additional information to verify your identity.</p>
            @{
                for (var i = 0; i < Model.Count(); i++)
                {
                    var index = i;
                    <div class="row form-group">
                        <div class="col-xs-12">
                            @Html.VpLabelFor(m => Model[index].SecurityQuestionId)
                            @Html.DropDownListFor(m => Model[index].SecurityQuestionId, Model[index].SecurityQuestions, Html.TextRegion(TextRegionConstants.DropdownSelectPlaceholder), new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-12">
                            @Html.VpLabelFor(m => Model[index].Answer)
                            @Html.VpTextBoxFor(m => Model[index].Answer)
                        </div>
                    </div>
                }
            }
            <p class="required-instruction text-center">@Html.TextRegion(TextRegionConstants.RequiredFieldInstruction)</p>
        </div>
    </div>
</section>
