﻿@model Ivh.Web.Patient.Models.ProfileDisplayViewModel

<div class="container">
    <div class="row form-group">
        <div class="col-xs-4 small-right-margin">
            <div class="row user-profile-header-light">@Html.TextRegion(TextRegionConstants.PersonalInformationPageHeading)</div>
            <p>
                <div class="row text-ellipsis">@Model.Name</div>
                <div class="row text-ellipsis">
                    @Model.AddressStreet1<br/>
                    @if (!string.IsNullOrEmpty(Model.AddressStreet2))
                    {
                        @Model.AddressStreet2<br/>
                    }
                    @Model.City, @Model.State @Model.Zip
                </div>
            </p>
            <p>
                <div class="row text-ellipsis">@Html.EncodeFull(Model.Email)</div>
            </p>
            <div class="row">
                <a id="btnEditPersonalInformation" href="javascript:;" title="@Html.TextRegion(TextRegionConstants.EditPersonalInformation)">@Html.TextRegion(TextRegionConstants.EditPersonalInformation)</a>
            </div>
        </div>

        <div class="col-xs-6">
            <div class="row user-profile-header-light">@Html.TextRegion(TextRegionConstants.LoginAndSecurity)</div>
            <p>
                <div class="row">
                    @Html.TextRegion(TextRegionConstants.Username): @Html.EncodeFull(Model.UserName) <a id="btnEditUserName" href="javascript:;" title="@Html.TextRegion(TextRegionConstants.EditUsername)">(@Html.TextRegion(TextRegionConstants.ButtonEdit).ToLower())</a>
                </div>
                <div class="row">
                    @Html.TextRegion(TextRegionConstants.Password) <a id="btnEditPassword" href="javascript:;" title="@Html.TextRegion(TextRegionConstants.EditPassword)">(@Html.TextRegion(TextRegionConstants.ButtonEdit).ToLower())</a>
                </div>
                @if (IsFeatureEnabled(VisitPayFeatureEnum.GuarantorSecurityQuestionsIsEnabled))
                {
                    <div class="row">
                        @Html.TextRegion(TextRegionConstants.SecurityQuestions) <a id="btnEditSecurityQuestions" href="javascript:;" title="@Html.TextRegion(TextRegionConstants.EditSecurityQuestions)">(@Html.TextRegion(TextRegionConstants.ButtonEdit).ToLower())</a>
                    </div>
                }
            </p>
        </div>
    </div>

</div>