﻿@using Ivh.Common.VisitPay.Constants
@model Ivh.Common.Web.Models.Account.ProfileEditUserNameViewModel

<section id="section-profileedit" class="modern-form">
    @Html.ValidationSummary(Html.TextRegion(TextRegionConstants.ValidationCorrectErrors))

    <div class="row form-group">
        <div class="col-xs-12">
            @Html.VpLabelFor(m => m.UserName)
            @Html.HiddenFor(m => m.UserNameOriginal)
            @Html.VpTextBoxFor(m => m.UserName)
        </div>
    </div>
    <div class="row form-group">
        <div class="col-xs-12">
            @Html.VpLabelFor(m => m.UserNameConfirm)
            @Html.VpTextBoxFor(m => m.UserNameConfirm)
        </div>
    </div>
    <p class="required-instruction text-center">@Html.TextRegion(TextRegionConstants.RequiredFieldInstruction)</p>
</section>