﻿@using Ivh.Common.VisitPay.Constants
@model Ivh.Common.Web.Models.Account.ProfileEditViewModel

<section id="section-profileedit" class="modern-form">
    @Html.ValidationSummary(Html.TextRegion(TextRegionConstants.ValidationCorrectErrors))
    @Html.HiddenFor(m => m.IsOfflineUser)
    @Html.HiddenFor(m => m.UserName)
    <div class="row form-group">
        <div class="col-xs-4">
            @Html.VpLabelFor(m => m.FirstName)
            @Html.VpTextBoxFor(m => m.FirstName)
        </div>
        <div class="col-xs-4">
            @Html.VpLabelFor(m => m.MiddleName)
            @Html.VpTextBoxFor(m => m.MiddleName)
        </div>
        <div class="col-xs-4">
            @Html.VpLabelFor(m => m.LastName)
            @Html.VpTextBoxFor(m => m.LastName)
        </div>
    </div>
    <div class="row form-group">
        <div class="col-xs-6">
            @Html.VpLabelFor(m => m.Email, !Model.IsOfflineUser)
            @Html.HiddenFor(m => m.EmailOriginal)
            @Html.VpTextBoxFor(m => m.Email)
        </div>
        <div class="col-xs-6">
            @Html.VpLabelFor(m => m.EmailConfirm)
            @Html.VpTextBoxFor(m => m.EmailConfirm)
        </div>
    </div>
    <div class="row form-group">
        <div class="col-xs-12">
            @Html.VpLabelFor(m => m.AddressStreet1)
            @Html.VpTextBoxFor(m => m.AddressStreet1)
        </div>
    </div>
    <div class="row form-group">
        <div class="col-xs-12">
            @Html.VpTextBoxFor(m => m.AddressStreet2)
        </div>
    </div>
    <div class="row form-group">
        <div class="col-xs-12 col-group">
            <div class="col-xs-4">@Html.VpTextBoxFor(m => m.City)</div>
            <div class="col-xs-4">@Html.VpStatesDropDownListFor(m => m.State, new {@class = "form-control"})</div>
            <div class="col-xs-4">@Html.VpTextBoxFor(m => m.Zip)</div>
        </div>
    </div>
    <p class="required-instruction text-center">@Html.TextRegion(TextRegionConstants.RequiredFieldInstruction)</p>
</section>
