﻿@using Ivh.Common.VisitPay.Constants
@model Ivh.Common.Web.Models.Account.PasswordEditViewModel

<section id="section-profileedit" class="modern-form">
    @Html.ValidationSummary(Html.TextRegion(TextRegionConstants.ValidationCorrectErrors))
    <p>@Html.GuarantorPasswordRequirements()</p>
    <div class="row form-group">
        <div class="col-xs-12">
            @Html.VpLabelFor(m => m.OldPassword)
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @autocomplete = "off", @readonly = "readonly", @onfocus = "this.removeAttribute('readonly');", maxlength = ClientDto.GuarantorPasswordMaxLength })
        </div>
    </div>
    <div class="row form-group">
        <div class="col-xs-12">
            @Html.VpLabelFor(m => m.NewPassword)
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @autocomplete = "off", @readonly = "readonly", @onfocus = "this.removeAttribute('readonly');", maxlength = ClientDto.GuarantorPasswordMaxLength })
        </div>
    </div>
    <div class="row form-group">
        <div class="col-xs-12">
            @Html.VpLabelFor(m => m.NewPasswordConfirm)
            @Html.PasswordFor(m => m.NewPasswordConfirm, new { @class = "form-control", @autocomplete = "off", @readonly = "readonly", @onfocus = "this.removeAttribute('readonly');", maxlength = ClientDto.GuarantorPasswordMaxLength })
        </div>
    </div>
    <p class="required-instruction text-center">@Html.TextRegion(TextRegionConstants.RequiredFieldInstruction)</p> 
</section>