﻿@using Ivh.Common.VisitPay.Constants
@model Ivh.Web.Patient.Models.Account.VisitDetailsViewModel

<div id="modalVisitDetails" class="modal fade modal-mobile" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">@Html.TextRegion(TextRegionConstants.VisitDetails)</h4>
            </div>
            <div class="modal-body">
                @Html.Partial("_VisitDetailsContent", Model)
            </div>
        </div>
    </div>
</div>
