﻿@using Ivh.Web.Patient.Models.Account
@model VisitEobDetailViewListModel

@if (Model != null && Model.VisitEobDetailViewModels.Any())
{
    <div class="vpgrid vpgrid-clickable grid-eob">
        @foreach (VisitEobDetailViewModel eob in Model.VisitEobDetailViewModels)
        {
            foreach (VisitEobDetailViewModel.RemittanceViewModel remit in eob.Remittances)
            {
                <div class="row grid-row" title="@Html.TextRegion(TextRegionConstants.TooltipViewClaimSummary)">
                    <div class="col">
                        <div class="vcenter">
                            <em>@Html.TextRegion(TextRegionConstants.ClaimDate)</em><br/>
                            <strong data-id="ve-date">@remit.ClaimPaymentDate</strong>
                        </div>
                    </div>
                    <div class="col">
                        <img src="@eob.PayerIcon" alt="@eob.PayerName" /> @eob.PayerName
                    </div>
                    <div class="col col-expand">
                    </div>
                </div>
                <div class="row grid-detail">
                    <div class="eob-detail">
                        <div class="row no-gutters">
                            <div class="col-xs-6">@Html.TextRegion(TextRegionConstants.Claim) #: <strong data-id="ve-claim">@remit.ClaimNumber</strong></div>
                            <div class="col-xs-6 text-right eob-amount">@Html.TextRegion(TextRegionConstants.PlanId): <strong data-id="ve-plan">@eob.PlanNumber</strong></div>
                        </div>
                        <div class="row no-gutters">
                            <div class="col-xs-3" style="padding-right: 0;">@Html.TextRegion(TextRegionConstants.Insurer)</div>
                            <div class="col-xs-9 text-right eob-amount"><a href="@eob.PayerLinkUrl" target="_blank" title="@Html.TextRegion(TextRegionConstants.GoTo) @eob.PayerName">@eob.PayerName</a></div>
                        </div>
                        <div class="row no-gutters">
                            <div class="col-xs-7">@Html.TextRegion(TextRegionConstants.BilledToInsurer)</div>
                            <div class="col-xs-5 text-right eob-amount" data-id="ve-billed">@remit.RemittanceSummary.TotalClaimChargeAmount</div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <strong>@Html.TextRegion(TextRegionConstants.HereIsWhatYourPlanCovered)</strong>
                            </div>
                            <div class="panel-body">
                                <div class="row no-gutters">
                                    <div class="col-xs-8">@Html.TextRegion(TextRegionConstants.InNetworkDiscount)</div>
                                    <div class="col-xs-4 text-right" data-id="ve-adjustment">@remit.RemittanceSummary.AdjustmentAmount</div>
                                </div>
                                <div class="row no-gutters">
                                    <div class="col-xs-8">@Html.TextRegion(TextRegionConstants.PaidToProvider)</div>
                                    <div class="col-xs-4 text-right" data-id="ve-payment">@remit.RemittanceSummary.ClaimPaymentAmount</div>
                                </div>
                                <div class="row no-gutters">
                                    <div class="col-xs-8">@Html.TextRegion(TextRegionConstants.OtherInsurance)</div>
                                    <div class="col-xs-4 text-right" data-id="ve-insurance">@remit.RemittanceSummary.OtherInsurancePaidAmount</div>
                                </div>
                                <div class="row no-gutters">
                                    <div class="col-xs-8 no-border"><strong>@Html.TextRegion(TextRegionConstants.TotalCovered)</strong></div>
                                    <div class="col-xs-4 no-border text-right"><strong data-id="ve-covered">@remit.RemittanceSummary.TotalCoveredAmount</strong></div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <em class="responsibility-tooltip" data-toggle="tooltip" data-placement="top" title="@Html.TextRegion(TextRegionConstants.EobResponsibility)"></em>
                                <strong>@Html.TextRegion(TextRegionConstants.YourResponsibilityAtTimeOfClaim)</strong>
                            </div>
                            <div class="panel-body">
                                <div class="row no-gutters">
                                    <div class="col-xs-8">@Html.TextRegion(TextRegionConstants.Deductible)</div>
                                    <div class="col-xs-4 text-right">@remit.RemittanceSummary.DeductibleAmount</div>
                                </div>
                                <div class="row no-gutters">
                                    <div class="col-xs-8">@Html.TextRegion(TextRegionConstants.Coinsurance)</div>
                                    <div class="col-xs-4 text-right">@remit.RemittanceSummary.CoinsuranceAmount</div>
                                </div>
                                <div class="row no-gutters">
                                    <div class="col-xs-8">@Html.TextRegion(TextRegionConstants.Copayment)</div>
                                    <div class="col-xs-4 text-right">@remit.RemittanceSummary.CopaymentAmount</div>
                                </div>
                                <div class="row no-gutters">
                                    <div class="col-xs-8">@Html.TextRegion(TextRegionConstants.NotCovered)</div>
                                    <div class="col-xs-4 text-right">@remit.RemittanceSummary.NotCoveredAmount</div>
                                </div>
                                <div class="row no-gutters">
                                    <div class="col-xs-8 no-border"><strong>@Html.TextRegion(TextRegionConstants.TotalResponsibility)</strong></div>
                                    <div class="col-xs-4 no-border text-right"><strong>@remit.RemittanceSummary.TotalResponsibility</strong></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
}