﻿@using Ivh.Common.Base.Utilities.Extensions
@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.VisitPay.Enums
@model Ivh.Web.Patient.Models.Account.VisitDetailsViewModel

<div class="visit-details details-view" data-intro="You can put these page help intros anywhere, so you can have context specific help show up" data-position="left">
    <div class="visit-details-header">
        @Html.TextRegion(TextRegionConstants.Visit) #<strong data-id="vd-ssk">@Model.SourceSystemKeyDisplay</strong>
    </div>
    <div class="visit-details-content">
        <div class="row">
            <div class="col-xs-5">
                <ul class="menu-items">
                    <li data-bind="click: $root.Charges.Show, css: { 'active': Charges.IsVisible }" data-id="btnCharges">
                        <span data-id="vd-charges">@Model.SummaryCharges.FormatCurrency()</span>
                        @Html.TextRegion(TextRegionConstants.Charges)
                        <span class="gray-right-arrow"></span>
                    </li>
                    @if (Model.SummaryInterest != 0m)
                    {
                        <li data-bind="click: $root.FeesInterest.Show, css: { 'active': FeesInterest.IsVisible }" data-id="btnFeesInterest">
                            <span data-id="vd-feesinterest">@Model.SummaryInterest.FormatCurrency()</span>
                            @Html.TextRegion(TextRegionConstants.Interest)
                            <span class="gray-right-arrow"></span>
                        </li>
                    }
                    <li data-bind="click: $root.Insurance.Show, css: { 'active': Insurance.IsVisible }" data-id="btnInsurance">
                        <span data-id="vd-insurance">@Model.SummaryInsurance.FormatCurrency()</span>
                        @Html.TextRegion(TextRegionConstants.Insurance)
                        <span class="gray-right-arrow"></span>
                    </li>
                    @if (Model.SummaryOther != 0m)
                    {
                        <li data-bind="click: $root.Adjustments.Show, css: { 'active': Adjustments.IsVisible }" data-id="btnAdjustments">
                            <span data-id="vd-hsadjustments">@Model.SummaryOther.FormatCurrency()</span>
                            @Html.TextRegion(TextRegionConstants.Other)
                            <span class="gray-right-arrow"></span>
                        </li>
                    }
                    <li data-bind="click: $root.Payments.Show, css: { 'active': Payments.IsVisible }" data-id="btnPayments">
                        <span data-id="vd-payments">@Model.SummaryAllPayments.FormatCurrency()</span>
                        @Html.TextRegion(TextRegionConstants.YourPayments)
                        <span class="gray-right-arrow"></span>
                    </li>
                </ul>
                @if (Model.HasEob)
                {
                    <ul class="menu-items">
                        <li class="eob-item" data-bind="css: { 'active': Eob.IsVisible }" id="btnVisitDetailsEob">
                            <div class="vcenter">
                                <img src="@Model.EobLogoUrl" alt="" />
                                <strong>@Html.TextRegion(TextRegionConstants.DetailsFromInsurer)</strong>
                            </div>
                        </li>
                    </ul>
                }
            </div>
            <div class="col-xs-7">
                <div class="line-items" data-bind="style: { display: $root.Transactions.IsVisible() ? 'block' : 'none' }" style="display: none;">
                    @Html.ExportButton("btnExportTransactions", htmlAttributes: new { data_bind = "click: Transactions.Grid.Export" })
                    <!-- ko if: $root.Charges.IsVisible -->
                    <h4>@Html.TextRegion(TextRegionConstants.ChargesForMedicalServices)</h4>
                    <!-- /ko -->
                    <!-- ko if: $root.FeesInterest.IsVisible -->
                    <h4>@Html.TextRegion(TextRegionConstants.Interest)</h4>
                    <!-- /ko -->
                    <!-- ko if: $root.Insurance.IsVisible -->
                    <h4>@Html.TextRegion(TextRegionConstants.Insurance)</h4>
                    <!-- /ko -->
                    <!-- ko if: $root.Adjustments.IsVisible -->
                    <h4>@Html.TextRegion(TextRegionConstants.Other)</h4>
                    <!-- /ko -->
                    <!-- ko if: $root.Payments.IsVisible -->
                    <h4>@Html.TextRegion(TextRegionConstants.Payments)</h4>
                    <!-- /ko -->
                    <div class="vpgrid grid-transactions" data-bind="with: Transactions.Grid">
                        <!-- ko foreach: Data.Results -->
                        <div class="row grid-row">
                            <div class="col" data-bind="text: DisplayDate" data-id="vt-date"></div>
                            <div class="col" data-bind="text: TransactionDescription, attr: { title: TransactionDescription }" data-id="vt-desc"></div>
                            <div class="col" data-bind="text: TransactionAmount" data-id="vt-amount"></div>
                        </div>
                        <!-- /ko -->
                        @Html.Partial("~/Views/Shared/_VpGridPager.cshtml")
                        <!-- ko ifnot: HasResults -->
                        @Html.GridAlert("", Html.TextRegion(TextRegionConstants.NoTransactionsToDisplay), visible: true)
                        <!-- /ko -->
                    </div>
                </div>
                <div class="line-items eob-line-items" data-bind="style: { display: Eob.IsVisible() ? 'block' : 'none' }" style="display: none;">
                    <span style="display: none;" data-tooltip-html>
                        @Html.CmsRegion(CmsRegionEnum.WhatIsEob)
                    </span>
                    <em class="vpicon-question" data-toggle="tooltip-html"></em>
                    <h4>@Html.TextRegion(TextRegionConstants.ExplanationOfBenefits)</h4>
                    <div class="eobs" data-load="true"></div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <p class="text-center">
        <em>@Html.TextRegion(TextRegionConstants.QuestionsAboutVisitPrompt)</em>
    </p>
    <p class="text-center">
        @Html.VpButton("aVisitTransactionsContactSupport", Html.TextRegion(TextRegionConstants.SubmitCustomerCareRequest), VpButtonTypeEnum.Button, VpButtonClassEnum.DefaultOutline)
    </p>
</div>