﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.VisitPay.Enums
@using Ivh.Common.Web.Models.Shared
@{
    CmsViewModel emptyVisitsViewModel = Html.CmsModel(CmsRegionEnum.VisitsGridEmptyVisitsText);
}

<div class="vpgrid-container vpgrid-container-expandable" id="gridVisits" data-bind="css: { expanded: IsExpanded }">
    <div class="vpgrid-header" data-bind="click: IsExpanded.Toggle.bind($data, false)">
        <ul class="links" data-bind="visible: IsExpanded.Ready" style="display: none;">
            <li>@Html.ExportButton("btnExportVisits", Html.TextRegion(TextRegionConstants.Export), new { data_bind = "visible: Grid.HasResults, click: Grid.Export, clickBubble: false" })</li>
        </ul>
        <h4>@Html.TextRegion(TextRegionConstants.VisitsPageHeading)</h4>
    </div>
    <div data-bind="visible: IsExpanded.Ready" style="display: none;">
        <div class="vpgrid vpgrid-clickable grid-visits-single-line" data-bind="with: Grid">
            <!-- ko foreach: Data.Results-->
            @Html.Partial("~/Views/Account/_VisitsGridRowSingleLine.cshtml")
            <!-- /ko -->
            @Html.Partial("~/Views/Shared/_VpGridPager.cshtml")
            <!-- ko ifnot: HasResults -->
            @Html.GridAlert("", emptyVisitsViewModel.ContentBody, visible: true)
            <!-- /ko -->
        </div>
    </div>
</div>
<div data-bind="visible: IsExpanded.Ready">
    <p id="drug-disclosure">
        @Html.CmsRegion(CmsRegionEnum.DrugDisclosure)
    </p>
</div>