﻿<div class="row grid-row" title="@Html.TextRegion(TextRegionConstants.TooltipViewVisitDetails)">
    <div class="col">
        <div class="fancyDate">
            <span class="month" data-bind="text: DischargeDateMonth"></span>
            <span class="day" data-bind="text: DischargeDateDay"></span>
            <span class="year" data-bind="text: DischargeDateYear"></span>
        </div>
    </div>
    <div class="col">
        <div>
            <strong data-bind="text: VisitDescription, attr: { title: VisitDescription }"></strong>
	        <br/>
	        <!-- ko if: HasFacilityInfo -->
	        <span data-bind="text: FacilityDescription, attr: {title: FacilityDescription}" ></span>
	        <br/>
	        <!-- /ko -->
            <span data-bind="text: PatientName"></span>
        </div>
    </div>
    <div class="col">
        <!-- ko if: ShowServiceGroup -->
        <span class="icon-service-group" data-bind="attr: { title: ServiceGroupDescription }">
            <img data-bind="attr: { src: ServiceGroupLogoUrl, alt: ServiceGroupDescription }" />
        </span>
        <!-- /ko -->
        <!-- ko ifnot: ShowServiceGroup -->
            <!-- ko if: IsHbVisit -->
            <span class="icon-visit-type visit-type-hb" title="@Html.TextRegion(TextRegionConstants.BillingApplicationHBDisplay)"></span>
            <!-- /ko -->
            <!-- ko if: IsPbVisit -->
            <span class="icon-visit-type visit-type-pb" title="@Html.TextRegion(TextRegionConstants.BillingApplicationPBDisplay)"></span>
            <!-- /ko -->
            <!-- ko if: HasVisitEobDetails -->
            <img class="icon-visit-eob" data-bind="attr: { src: EobLogoUrl }" alt="@Html.TextRegion(TextRegionConstants.TooltipViewExplanationOfBenefits)" title="@Html.TextRegion(TextRegionConstants.TooltipViewExplanationOfBenefits)" />
            <!-- /ko -->
            <!-- ko if: HasFacilityImage -->
            <img class="icon-visit-facility" data-bind="attr: { src: FacilityLogoFilename, alt: FacilityDescription, title: FacilityDescription }" />
            <!-- /ko -->
        <!-- /ko -->
    </div>
    <div class="col">
        <div class="labeled-number" data-bind="css: { 'show-status': ShowStatus }">
            <span data-bind="css: { 'past-due past-due-indicator': IsPastDue, 'on-hold-indicator': BillingHold }, visible: ShowStatus, text: StatusDisplay"></span>
            <div data-bind="css: { 'on-hold': BillingHold }, text: DisplayBalance"></div>
        </div>
    </div>
</div>
<div class="row grid-detail"></div>
