﻿<div class="row grid-row" title="@Html.TextRegion(TextRegionConstants.TooltipViewVisitDetails)" data-bind="css: { 'light': !IsActive() }, attr: { 'data-billinghold': BillingHold, 'data-isactive': IsActive, 'data-ispastdue': IsPastDue, 'data-isfinanced': IsFinanced, 'data-ismaxage': IsMaxAge }">
    <div class="col" data-bind="text: DischargeDate"></div>
    <div class="col">
        <span data-bind="css: { 'past-due': IsPastDue }, text: StatusDisplay"></span>
        <span data-bind="css: { 'past-due past-due-indicator': IsPastDue, 'on-hold-indicator': BillingHold }"></span>
    </div>
    <div class="col">
        <!-- ko if: ShowServiceGroup -->
        <span class="icon-service-group" data-bind="attr: { title: ServiceGroupDescription }">
            <img data-bind="attr: { src: ServiceGroupLogoUrl, alt: ServiceGroupDescription }" />
        </span>
        <!-- /ko -->
        <!-- ko ifnot: ShowServiceGroup -->
            <!-- ko if: IsHbVisit -->
            <span class="icon-visit-type visit-type-hb" title="@Html.TextRegion(TextRegionConstants.BillingApplicationHBDisplay)"></span>
            <!-- /ko -->
            <!-- ko if: IsPbVisit -->
            <span class="icon-visit-type visit-type-pb" title="@Html.TextRegion(TextRegionConstants.BillingApplicationPBDisplay)"></span>
            <!-- /ko -->
        <!-- /ko -->
        <span data-bind="text: PatientName"></span> -
        <!-- ko if: HasFacilityInfo -->
        <span data-bind="text: FacilityDescription"></span> -
        <!-- /ko -->
        <span data-bind="text: VisitDescription, attr: { title: VisitDescription }"></span>
    </div>
    <div class="col">
        <!-- ko if: HasVisitEobDetails -->
        <img class="icon-visit-eob" data-bind="attr: { src: EobLogoUrl }" alt="@Html.TextRegion(TextRegionConstants.TooltipViewExplanationOfBenefits)" title="@Html.TextRegion(TextRegionConstants.TooltipViewExplanationOfBenefits)" />
        <!-- /ko -->
        <span data-bind="text: DisplayBalance"></span>
    </div>
</div>
<div class="row grid-detail"></div>
