﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.VisitPay.Enums
@model Ivh.Web.Patient.Models.Account.ActivateTextMessagingViewModel
@Html.HiddenFor(m => m.ActivateTextCmsVersionId)
@Html.HiddenFor(m => m.PhoneNumber)
@Html.HiddenFor(m => m.SmsPhoneType)

<div id="modalActivateText" class="modal modal-vcenter fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@Html.TextRegion(TextRegionConstants.ButtonCancel)"><span>&times;</span></button>
                <h4 class="modal-title"><!--Populated by JS--></h4>
            </div>
            <div class="modal-body">
                <section id="section-activate-text-messaging">
                    <div class="panel-group" id="activateTextAccordion" role="tablist">
                        <div class="panel panel-primary panel-no-border">
                            @using (Html.BeginVpPageHeading(Html.TextRegion(TextRegionConstants.TextMessagingAgreement)))
                            {
                                IList<object> links = new List<object>
                                {
                                    "<a href=\"javascript:;\" data-bind=\"visible: State.IsStepVisible(1), click: State.GoStep.bind($data, 1)\">" + @Html.TextRegion(TextRegionConstants.ButtonEdit) + "</a>"
                                };

                                @Html.VpBarLinks(links)
                            }

                            <div id="collapseOne" class="panel-body panel-collapse collapse in" role="tabpanel">
                                @using (Html.BeginForm("SendValidationMessage", "Account", FormMethod.Post, new { autocomplete = "off" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="acceptance-container">
                                        <p>@Html.CmsRegion(CmsRegionEnum.SmsAcknowledgement, Model.PhoneNumber)</p>
                                    </div>
                                    <br />
                                    <p>
                                        @Html.CheckBoxFor(m => m.ActivateTextAgreed, new { data_bind = "checked: ActivateTextAgreed" })
                                        @Html.CmsLabelFor("ActivateTextAgreed", "SmsAcceptTerms")
                                    </p>
                                    @Html.ValidationSummary(Html.TextRegion(TextRegionConstants.ValidationCorrectErrors), new { @class = "text-center" })
                                    <p class="text-center">
                                        <button type="submit" class="btn btn-primary btn-wider" id="btnContinue1" data-bind="enable: ActivateTextAgreed()">@Html.TextRegion(TextRegionConstants.ButtonAgree)</button>
                                    </p>
                                }
                            </div>
                        </div>
                        <div class="panel panel-primary panel-no-border" data-bind="css: { disabled: State.IsStepDisabled(2) }">
                            <div class="panel-heading">
                                <a href="javascript:;" data-bind="visible: State.IsStepVisible(2), click: State.GoStep.bind($data, 2)">@Html.TextRegion(TextRegionConstants.ButtonEdit)</a>
                                @Html.TextRegion(TextRegionConstants.TextMessagingValidation)
                            </div>
                            <div id="collapseTwo" class="panel-body panel-collapse collapse" role="tabpanel">
                                @using (Html.BeginForm("EnableSms", "Account", FormMethod.Post, new { autocomplete = "off" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <p>@Html.CmsRegion(CmsRegionEnum.SmsValidationCodeSent, Model.PhoneNumber)</p>
                                    <div class="row form-group">
                                        <div class="col-xs-offset-5 col-xs-2">
                                            <p class="text-center">
                                                @Html.VpTextBoxFor(m => m.ValidationCode, new { data_bind = "value: ValidationCode, valueUpdate: 'keyup' ,enable: SmsRetryCount() < 5" })
                                            </p>
                                        </div>
                                    </div>
                                    <p class="text-center">
                                        <button type="submit" class="btn btn-primary btn-wider" id="btnContinue2" data-bind="visible: SmsRetryCount() < 5, enable: ValidationCode">@Html.TextRegion(TextRegionConstants.ButtonValidate)</button>
                                        @Html.ActionLink(Html.TextRegion(TextRegionConstants.ButtonCancel), "PhoneTextSettings", null, new { @class = "btn btn-primary", data_bind = "visible: SmsRetryCount() > 4" })
                                    </p>
                                    <div class="row form-group">
                                        <div class="col-xs-offset-4 col-xs-4">
                                            <p class="text-center">
                                                @Html.ValidationSummary(Html.TextRegion(TextRegionConstants.ValidationCorrectErrors))
                                            </p>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>