﻿@{
    Layout = "~/Views/Shared/_LayoutAltLogin.cshtml";
    CmsViewModel cmsModel = Html.CmsModel(CmsRegionEnum.ContactUs);
}
@using Ivh.Common.Web.Models.Shared
@model bool
<div class="flex-body">
    <div class="content-box box">
        <div>
            @if (!string.IsNullOrWhiteSpace(cmsModel.ContentTitle))
            {
                <h1>@Html.Raw(cmsModel.ContentTitle)</h1>
            }
            @if (Model)
            {
                <p class="text-red">
                    @Html.TextRegion(TextRegionConstants.IpAddressBlocked)
                </p>
            }
            @Html.Raw(cmsModel.ContentBody)
        </div>
    </div>
</div>