﻿@{
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
    CmsViewModel cmsModel = Html.CmsModel(CmsRegionEnum.ContactUs);
}

@using Ivh.Common.Web.Models.Shared
@model bool

@Html.VpPageHeading(cmsModel.ContentTitle)
<section id="section-contact">
    @if (Model)
    {
        <p class="text-red">
            @Html.TextRegion(TextRegionConstants.IpAddressBlocked)
        </p>
    }
    @Html.Raw(cmsModel.ContentBody)
</section>