﻿@using Ivh.Common.VisitPay.Constants
@model Ivh.Common.Web.Models.Shared.TextViewModel

@{
    Layout = "~/Views/Shared/_LayoutAltLogin.cshtml";
}

<div class="flex-body">
    <div class="content-box box">
        <div>
            <h1>@Html.TextRegion(TextRegionConstants.LearnMorePageHeading)</h1>
            <div class="accordion-container">
                @Html.Raw(Model.Text)
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        (function (visitPay) {
            $(document).ready(function () {
                visitPay.Common.BsCollapseUl($('.flex-body .accordion-container').eq(0).children('ul').eq(0), 'accordion-alt', true);
            });
        })(window.VisitPay || {});
    </script>
}
