﻿@model Ivh.Common.Web.Models.Shared.TextViewModel

@{
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}

@Html.VpPageHeading("Learn More")
<section class="faqs" id="section-learnMore">
    @Html.Raw(Model.Text)
    <p class="text-center">
        <br/>
        <a href="@Url.Action("Index", "Registration")" title="Sign Up" class="btn btn-primary">Sign Up</a>
    </p>
</section>

@section scripts {
    <script type="text/javascript">
    (function (visitPay) {

        $(document).ready(function () {

            visitPay.Common.BsCollapseUl($('#content section.faqs > ul').eq(0), 'faq-accordion', true);

        });

    })(window.VisitPay || {});

    </script>
}
