﻿@*using Ivh.Web.Patient.Models
@model LoginViewModel
@{
    Layout = "~/Views/Shared/_LayoutPublicNoLogin.cshtml";
}

<section id="section-login" class="nojshidden">
    <div class="row">
        <div class="col-xs-offset-3 col-xs-9">
            <h1 class="inverse">Log in to @ClientDto.ClientBrandName</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-offset-3 col-xs-4">
            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", autocomplete = "off" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.ReturnUrl)
                <div class="row form-group">
                    @Html.LabelFor(m => m.Username, new { @class = "col-xs-12 text-light" })
                    <div class="col-xs-7">@Html.TextBoxFor(m => m.Username, new { @class = "form-control-static", autocomplete = "off" })</div>
                    <div class="col-xs-5">@Html.ValidationMessageFor(m => m.Username)</div>
                </div>
                <div class="row form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-xs-12 text-light" })
                    <div class="col-xs-7">@Html.PasswordFor(m => m.Password, new { @class = "form-control-static", autocomplete = "off" })</div>
                    <div class="col-xs-5">@Html.ValidationMessageFor(m => m.Password)</div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-12">
                        <button type="submit" id="btnLogin" class="btn btn-primary"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span>Log In</button>
                    </div>
                </div>
                @Html.ValidationSummary(true)
            }
        </div>
        <div class="col-xs-5 text-light">
            @if (Model.IsSso && !string.IsNullOrWhiteSpace(Model.SsoOneTimePaymentMessage))
            {
                @Html.Raw(Model.SsoOneTimePaymentMessage)
            }
            <p>
                Don't have an account?<br />
                <a id="aSignup" href="@Url.Action("Index", "Registration")" title="">Sign Up Now! It’s Free!</a>
            </p>
            <p>
                Forgot your username?<br />
                <a href="@Url.Action("RequestUsername", "Account")" title="">Request It Here</a>
            </p>
            <p>
                Forgot your password?<br />
                <a href="@Url.Action("RequestPassword", "Account")" title="">Reset It Here</a>
            </p>
        </div>
    </div>
</section>

@if (ClientDto.ClientIsSurveyOn)
{
    @Html.Action("Survey", "Account")
}

<noscript>@Html.Partial("~/Views/Shared/_BrowserNoJavascript.cshtml")</noscript>*@