﻿@using Ivh.Common.VisitPay.Constants
@{
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}

<p>
    @Html.TextRegion(TextRegionConstants.DeclinedTermsOfUseMessage)
</p>
<button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Login", "Account")'">Login again</button>
