﻿@{
    Layout = "~/Views/Shared/_LayoutPatientSideNav.cshtml";
}

@section sidenav {
    @Html.Partial("~/Views/Shared/_NavAccount.cshtml")
}

<section id="section-userprofile">
    @Html.VpPageHeading(Html.TextRegion(TextRegionConstants.PersonalInformationPageHeading))
    <section id="section-userpersonalinformation">
        @Html.Action("UserProfilePersonalInformation")
    </section>
</section>

@section modals {
    <div id="modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-md" id="profile-modal-dialog">
            <form class="modal-content" autocomplete="off">
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer text-center">
                    <button type="submit" class="btn btn-primary">@Html.TextRegion(TextRegionConstants.ButtonSave)</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">@Html.TextRegion(TextRegionConstants.ButtonCancel)</button>
                </div>
            </form>
        </div>
    </div>
    <div id="modalResult" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    <h4 class="modal-title">@Html.TextRegion(TextRegionConstants.SuccessExclamation)</h4>
                </div>
                <div class="modal-body text-center">
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">@Html.TextRegion(TextRegionConstants.Ok)</button>
                </div>
            </div>
        </div>
    </div>
}

@section scripts {
    <script type="text/javascript">
        (function() {
            window.VisitPay.Localization = window.VisitPay.Localization || {};
            $.extend(window.VisitPay.Localization, {
                EditPersonalInformation: he.decode('@Html.TextRegion(TextRegionConstants.EditPersonalInformation)'),
                EditPassword: he.decode('@Html.TextRegion(TextRegionConstants.EditPassword)'),
                EditSecurityQuestions: he.decode('@Html.TextRegion(TextRegionConstants.EditSecurityQuestions)'),
                EditUsername: he.decode('@Html.TextRegion(TextRegionConstants.EditUsername)')
            });
        })();
    </script>

    @Scripts.Render("~/bundles/scripts/account/userprofile")
}