﻿@using Ivh.Common.Base.Utilities.Extensions
@using Ivh.Common.Web.Models.FinancePlan
@model FinancePlanSummaryViewModel

<div class="vpgrid-container">
    <div class="vpgrid-header">
        <h4>@Html.TextRegion(TextRegionConstants.CurrentFinancePlans)</h4>
    </div>
    <div class="vpgrid grid-current-finance-plans vpgrid-clickable">
        <div class="row grid-row">
            <div class="col">
                <div class="labeled-number fp-balance">
                    <span>@Html.TextRegion(TextRegionConstants.TotalBalance)</span>
                    <div>@Model.FinancePlansBalance.FormatCurrency()</div>
                </div>
            </div>
            
            <div class="col">
                <div class="auto-pay-date">
                    @if (Model.HasAmountDue)
                    {
                        @Html.TextRegion(TextRegionConstants.PaymentAutoPayOn) <strong>@Model.PaymentDueDate</strong>
                    }
                    else
                    {
                        @Html.TextRegion(TextRegionConstants.PaymentNotDueOn) <strong>@Model.PaymentDueDate</strong>
                    }
                </div>
            </div>
            <div class="col">
                @if (!string.IsNullOrWhiteSpace(Model.StatusDisplay))
                {
                    <div class="past-due past-due-indicator">@Model.StatusDisplay</div>
                }
            </div>
            <div class="col">
                <div class="labeled-number monthly-amount">
                    <span>@Html.TextRegion(TextRegionConstants.NextPayment)</span>
                    <div>
                        @Model.AmountDueSum.FormatCurrency()
                        <em class="vpicon-recurring-money"></em>
                    </div>
                </div>
            </div>
        </div>
        <div class="row grid-detail">
            @if (Model.CanUserTakeAction)
            {
                <ul class="actions">
                    @if (Model.PaymentMethod != null)
                    {
                        <li>
                            <span class="payment-method-display">
                                <img src="@Model.PaymentMethod.DisplayImage" alt="@Model.PaymentMethod.DisplayName" />
                                <span>@Model.PaymentMethod.DisplayName</span>
                            </span>
                        </li>
                    }
                    <li>
                        <a href="javascript:;" title="@Html.TextRegion(TextRegionConstants.EditPayment)" id="btnEditPayment">@Html.TextRegion(TextRegionConstants.EditPayment)</a>
                    </li>
                </ul>
            }
            @foreach (FinancePlanDetailsViewModel financePlanDetailsViewModel in Model.FinancePlanDetailsViewModels)
            {
                <hr/>
                @Html.Partial("~/Views/FinancePlan/_FinancePlanDetail.cshtml", financePlanDetailsViewModel)
            }
        </div>
    </div>
</div>