﻿@using Ivh.Common.Base.Utilities.Extensions
@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.VisitPay.Enums
@using Ivh.Common.Web.Models.Shared
@model Ivh.Web.Patient.Models.Home.HomeViewModel

@{
    CmsViewModel emptyVisitsViewModel = Html.CmsModel(CmsRegionEnum.VisitsGridEmptyVisitsText);
}

<div class="vpgrid-container" data-intro="You can add a 'data-intro' attribute to any element for it to show page help" data-position="top">
    <div class="vpgrid-header">
        <span class="total-balance"><strong>@Html.TextRegion(TextRegionConstants.Total):</strong> @Model.TotalBalance.FormatCurrency()</span>
        @if (Model.IsDiscountEligible)
        {
            <a class="discount-link" href="javascript:;" id="aDiscountEligible">
                @Html.TextRegion(TextRegionConstants.DiscountEligible)
            </a>
        }
        <h4>@Html.TextRegion(TextRegionConstants.UnpaidVisits)</h4>
    </div>
    <div class="vpgrid vpgrid-clickable grid-visits">
        <!-- ko foreach: Data.Results-->
        @Html.Partial("~/Views/Account/_VisitsGridRow.cshtml")
        <!-- /ko -->
        @Html.Partial("~/Views/Shared/_VpGridPager.cshtml")
        <!-- ko ifnot: HasResults -->
        @Html.GridAlert("", emptyVisitsViewModel.ContentBody, visible: true)
        <!-- /ko -->
    </div>
</div>
