﻿@using Ivh.Common.VisitPay.Constants
@model Ivh.Web.Patient.Models.AcknowledgementViewModel

@{
    Layout = "~/Views/Shared/_LayoutPublicNoLogin.cshtml";
}

@section css {
    <style type="text/css">
    .navbar {
        visibility: hidden;
    }   
    </style>
}

<section id="section-terms">
    <p class="text-center" id="terms-note">
        <strong>@Html.TextRegion(TextRegionConstants.ClientTermsModified)</strong>
    </p>
    <div class="text-center">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
	        @Html.HiddenFor(m => m.ReturnUrl)
            @Html.HiddenFor(m => m.TermsOfUseCmsVersionId)
            <button type="submit" class="btn btn-primary acknowledge" id="btnAcknowledge">@Html.TextRegion(TextRegionConstants.TermsOfUseAgree)</button>
        }
    </div>
    <hr />
    @Html.Partial("~/Views/Legal/_Terms.cshtml", Model.TermsOfUseViewModel)
    <hr />
    <div class="text-center">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.TermsOfUseCmsVersionId)
            <button type="submit" class="btn btn-primary acknowledge" id="btnAcknowledge">@Html.TextRegion(TextRegionConstants.TermsOfUseAgree)</button>
        }
    </div>
    <br />
    <div class="text-center">
        @Html.ActionLink(Html.TextRegion(TextRegionConstants.CancelAndLogout), "MustAccept", "Account")
    </div>
    <p>&nbsp;</p>
</section>
