﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.Web.Models.Shared
@model Ivh.Web.Patient.Models.Home.HelpViewModel

@{
    Layout = "~/Views/Shared/_LayoutPatient.cshtml";
}

@Html.VpPageHeading(Html.TextRegion(TextRegionConstants.HelpCenter))
<section id="section-help-topics">
    @Html.Partial("~/Views/KnowledgeBase/_CategoriesWithQuestions.cshtml", Model.KnowledgeBaseCategoriesViewModel)
    <p class="text-center">
        @Html.VpButton("aVisitTransactionsContactSupport", Html.TextRegion(TextRegionConstants.SubmitCustomerCareRequest), VpButtonTypeEnum.Button, VpButtonClassEnum.DefaultOutline, new {data_click="create-support-request"})
    </p>
    <ul class="text-center">
        @foreach (ContentMenuItemViewModel item in Model.ContentMenu.ContentMenuItems)
        {
            <li><a href="@item.LinkUrl" target="@item.Target" title="@item.LinkText" data-piwik-click data-piwik-event-category="Help Center" data-piwik-event-name="@item.LinkText">@item.LinkText</a></li>
        }
    </ul>
</section>

@Html.Action("HealthEquitySsoSetup", "Sso")

@section scripts {
    @Scripts.Render("~/bundles/scripts/helpcenter")
    @Scripts.Render("~/bundles/scripts/sso/healthEquityWidget")
}
