﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.VisitPay.Enums
@model Ivh.Web.Patient.Models.Home.HomeViewModel

@{
    Layout = "~/Views/Shared/_LayoutPatientSidebar.cshtml";
}

@section guarantorFilter {
    @Html.Action("GetFilter", "GuarantorFilter", new { title = Html.TextRegion(TextRegionConstants.HouseholdTotal) + ":", showHouseholdBalance = true })
    @if (IsFeatureEnabled(VisitPayFeatureEnum.Consolidation))
    {
        @Html.Action("ManagedBy", "Consolidate")
    }
}

<section id="section-home">

    @Html.Partial("~/Views/Home/_VisitsGrid.cshtml", Model)

    @if (Model.FinancePlanSummary.HasFinancePlans)
    {
        @Html.Partial("~/Views/Home/_FinancePlanSummaryPartial.cshtml", Model.FinancePlanSummary)
    }

    @if (IsFeatureEnabled(VisitPayFeatureEnum.DemoPreServiceUiIsEnabled))
    {
        @Html.Action("PsIndexPartial", "Demo")
    }
</section>

@section scripts {
    @Scripts.Render(
        BundleConstants.CommonVisitDetails,
        BundleConstants.CommonPaymentMethods,
        "~/bundles/scripts/home/index")

    @if (IsFeatureEnabled(VisitPayFeatureEnum.DemoPreServiceUiIsEnabled))
    {
        <script type="text/javascript">
            $(document).ready(function () {
                $('.grid-psestimates .menu-items li').click(function () {
                    var target = $(this).attr('data-link');
                    var $container = $(this).parents('.grid-detail').eq(0);
                    var $menu = $container.find('.menu-items');
                    $menu.find('.active').removeClass('active');
                    $(this).addClass('active');
                    $container.find('[data-target]').hide();
                    var $target = $container.find('[data-target="' + target + '"]');
                    $target.show();
                });
            });
        </script>
    }
}