﻿@model Ivh.Web.Client.Models.WorkQueue.GuarantorAttributeChangesViewModel

@section breadcrumbs {
    <ul>
        <li>@base.ClientDto.ClientBrandName</li>
        <li>Manage Guarantor Attribute Changes</li>
    </ul>
}

<h1 class="bar">
    Manage Guarantor Attribute Changes
    <input type="image" title="Export To Excel" id="btnExport" src="~/Content/Images/excel.png" class="export-excel" />
</h1>

<section id="section-guarantorattributechanges">
    <form class="jqGridFilter container" id="jqGridFilter" autocomplete="off">
        <div class="alert alert-info collapse" data-bind="css: { collapse: RunResults() == false }">
            Click <strong>Run</strong> to update your results
        </div>
        <div class="row">
            <div class="col">@Html.LabelFor(m => m.Filter.HsGuarantorMatchDiscrepancyStatus)</div>
            <div class="col">@Html.LabelFor(m => m.Filter.DateRangeFrom)</div>
            <div class="col">@Html.VpLabelFor(m => m.Filter.HsGuarantorSourceSystemKey)</div>
            <div class="col">@Html.VpLabelFor(m => m.Filter.VpGuarantorId)</div>
            <div class="col"></div>
            <div class="col text-right">
                <button type="submit" class="btn btn-primary" id="btnGridFilterSubmit">Run</button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                @Html.DropDownListFor(m => m.Filter.HsGuarantorMatchDiscrepancyStatus, Model.Filter.HsGuarantorMatchDiscrepancyStatuses, new { @class = "form-control", data_bind = "value: HsGuarantorMatchDiscrepancyStatus" })
            </div>
            <div class="col">
                @Html.DropDownListFor(m => m.Filter.DateRangeFrom, Model.Filter.DateRanges, new { @class = "form-control", data_bind = "value: DateRangeFrom" })
            </div>
            <div class="col">
                @Html.VpTextBoxFor(m => m.Filter.HsGuarantorSourceSystemKey, new { data_bind = "value: HsGuarantorSourceSystemKey" })
            </div>
            <div class="col">
                @Html.VpTextBoxFor(m => m.Filter.VpGuarantorId, new { data_bind = "value: VpGuarantorId" })
            </div>
            <div class="col">
            </div>
            <div class="col text-right">
                <button type="reset" class="btn btn-primary" id="btnGridFilterReset">Reset</button>
            </div>
        </div>
    </form>
    <table id="jqGrid"></table>
    <div id="jqGridPager"></div>
    <div id="jqGridNoRecords" class="alert alert-info collapse text-center">
        <strong>There are no guarantor attribute changes to display at this time.</strong>
    </div>
</section>

@section scripts {

    @Scripts.Render("~/bundles/scripts/workqueue/guarantorattributechanges")

    <script type="text/javascript">
        (function() {
            var json = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.MatchFields));
            window.VisitPay.ManageGuarantorAttributeChanges.Init(json);
        })();
    </script>

}