﻿@model Ivh.Web.Client.Models.WorkQueue.SupportRequestSearchFilterViewModel

@section breadcrumbs {
    <ul>
        <li>@base.ClientDto.ClientBrandName</li>
        <li>Manage Guarantor Support Requests</li>
    </ul>
}

<h1 class="bar">
    Manage Guarantor Support Requests
    <input type="image" title="Export To Excel" id="btnExport" src="~/Content/Images/excel.png" class="export-excel" />
</h1>
<section id="section-supportrequests">
    <form class="jqGridFilter container" id="jqGridFilterSupportRequests" autocomplete="off">
        <div class="alert alert-info collapse" data-bind="css: { collapse: RunResults() == false }">
            Click <strong>Run</strong> to update your results
        </div>
        <div class="row">
            <div class="col">Status</div>
            <div class="col">@Html.LabelFor(m => m.AssignedToVisitPayUserId)</div>
            <div class="col">Date Range</div>
            <div class="col">Facility</div>
            <div class="col">Case ID</div>
            <div class="col">Filter By</div>
            <div class="col text-right">
                <button type="submit" class="btn btn-primary" id="btnGridFilterSupportRequestsSubmit">Run</button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                @Html.DropDownListFor(m => m.SupportRequestStatus, Model.SupportRequestStatuses, new {@class = "form-control", data_bind = "value: SupportRequestStatus"})
            </div>
            <div class="col">
                @Html.DropDownListFor(m => m.AssignedToVisitPayUserId, Model.SupportAdminUsers, "All", new {@class = "form-control", data_bind = "value: AssignedToVisitPayUserId"})
            </div>
            <div class="col">
                @Html.DropDownListFor(m => m.DateRangeFrom, Model.DateRanges, new {@class = "form-control", data_bind = "value: DateRangeFrom"})
            </div>
            <div class="col">
                @Html.DropDownListFor(m => m.Facilities, Model.Facilities, new {@class = "form-control", data_bind = "value: FacilitySourceSystemKey" })
            </div>
            <div class="col">
                @Html.VpTextBoxFor(m => m.SupportRequestDisplayId, new {data_bind = "value: SupportRequestDisplayId"})
            </div>
            <div class="col">
                @Html.CheckBoxFor(m => m.ReadMessages, new { data_bind = "checked: ReadMessages" }) 
                @Html.LabelFor(m => m.ReadMessages)
                @Html.CheckBoxFor(m => m.UnreadMessages, new { data_bind = "checked: UnreadMessages" })
                @Html.LabelFor(m => m.UnreadMessages)
            </div>
            <div class="col text-right">
                <button type="reset" class="btn btn-primary" id="btnGridFilterSupportRequestsReset">Reset</button>
            </div>
        </div>
    </form>
    <table id="jqGridSupportRequests"></table>
    <div id="jqGridSupportRequestsPager"></div>
    <div id="jqGridSupportRequestsNoRecords" class="alert alert-info collapse text-center">
        <strong>There are no guarantor support requests to display at this time.</strong>
    </div>
</section>

@section scripts {

    @Scripts.Render("~/bundles/scripts/workqueue/supportrequests")

}