﻿@using Ivh.Application.GuestPay.Common.Dtos
@using Ivh.Common.Base.Enums
@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.VisitPay.Enums
@model Ivh.Web.GuestPay.Models.Payment.GuarantorMatchRequestViewModel
@{
    IDictionary<string, string> balanceValues = new Dictionary<string, string>
    {
        {"[[StatementBalance]]", "<span data-bind=\"currencyText: Guarantor.Balance\"></span>"},
    };

    IDictionary<string, string> noBalanceValues = new Dictionary<string, string>
    {
        {"[[GuestPayContactUrl]]", Url.Action("ContactUs", "Content")}
    };
}

<section id="section-matchGuarantor" class="area">
    <h2>@Html.CmsRegion(CmsRegionEnum.GuestPayStep1Heading)</h2>
    <div>
        <div class="alert alert-danger hidden">
            <div></div>
        </div>
        <!-- ko if: Guarantor.IsMatch -->
        <div class="text-center">
            <p><strong>@Html.TextRegion(TextRegionConstants.GuestPayYourAccountHasBeenLocated)</strong></p>
            <!-- ko if: Guarantor.DisplayCurrentBalance -->
            <div>
                <!-- ko if: Guarantor.HasCurrentBalance -->
                <div>
                    <h3>@Html.CmsRegionWithAdditionalValues(CmsRegionEnum.GuestPayStatementBalance, balanceValues)</h3>
                </div>
                <!-- /ko -->
                <!-- ko ifnot: Guarantor.HasCurrentBalance -->
                <div>
                    <p><strong>@Html.CmsRegionWithAdditionalValues(CmsRegionEnum.GuestPayStatementNoBalance, noBalanceValues)</strong></p>
                </div>
                <!-- /ko -->
            </div>
            <!-- /ko -->
            <p><a href="@Url.Action("Index", new {close = true})" title="@Html.TextRegion(TextRegionConstants.GuestPayCancelSession)">@Html.TextRegion(TextRegionConstants.GuestPayCancelSession)</a>.</p>
        </div>
        <!-- /ko -->
        <!-- ko ifnot: Guarantor.IsMatch -->
        <p>@Html.CmsRegion(CmsRegionEnum.GuestPayStep1TextTop)</p>
        @using (Html.BeginForm("GuarantorMatch", "Payment", FormMethod.Post, new { autocomplete = "off" }))
        {
            <div class="row">
                <div class="col-xs-12 col-sm-6 pull-right statement">
                    <!-- ko ifnot: StatementImage.IsSelected -->
                    <div class="alert alert-info alert-statement">
                        <div>
                            <p class="text-center"><strong>@Html.CmsRegion(CmsRegionEnum.GuestPayStatementSelect)</strong></p>
                        </div>
                        <div><img src="/Content/Client/statement-locate.png" alt="" class="img-responsive" /></div>
                    </div>
                    <!-- /ko -->
                    <!-- ko if: StatementImage.IsSelected -->
                    <div class="statement-image" title="@Html.TextRegion(TextRegionConstants.ClickImageToEnlarge)">
                        <a data-toggle="modal" data-target="#modalStatement"></a>
                        <div>
                            <img alt="" id="imgStatement" data-bind="attr: { src: StatementImage }"/>
                        </div>
                        <span class="statement-image-text pull-right">@Html.TextRegion(TextRegionConstants.ClickImageToEnlarge)</span>
                    </div>
                    <!-- /ko -->
                </div>
                <div class="col-xs-12 col-sm-6">
                    @foreach (AuthenticationMatchFieldDto guarantorAuthenticationField in Model.GuarantorAuthenticationFields)
                    {
                        switch (guarantorAuthenticationField.Type)
                        {
                            case AuthenticationMatchFieldTypeEnum.InputText:
                                <div class="form-group">
                                    <label class="required" for="@guarantorAuthenticationField.Key">@Html.CmsRegionWithDefaultValue(guarantorAuthenticationField.LabelCmsRegion, guarantorAuthenticationField.Label)</label>
                                    <input class="form-control" data-val="true" data-val-required id="@guarantorAuthenticationField.Key" name="@guarantorAuthenticationField.Key" value="" type="text" />
                                </div>
                                break;
                            case AuthenticationMatchFieldTypeEnum.StatementReferenceImageSelector:
                            case AuthenticationMatchFieldTypeEnum.Statement:
                                @Html.Partial("_StatementSelector", guarantorAuthenticationField)
                                break;
                            case AuthenticationMatchFieldTypeEnum.StatementIdentifierLookup:
                                @Html.Partial("_StatementIdentifierLookup", guarantorAuthenticationField)
                                break;
                            default:
                                break;
                        }
                    }
                </div>
                <div class="col-xs-12">
                    <div class="form-group-horizontal text-center">
                        @Html.CheckBoxFor(m => m.TermsAccepted)
                        <label for="TermsAccepted" class="required">@Html.CmsRegion(CmsRegionEnum.GuestPayAgreeTerms)</label>
                        @Html.ValidationMessageFor(m => m.TermsAccepted)
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-lg btn-primary">@Html.TextRegion(TextRegionConstants.GuestPayButtonContinue)</button>
            </div>
        }
        <!-- /ko -->
    </div>
</section>
@Html.AntiForgeryToken()