﻿@using Ivh.Common.Base.Enums
@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.VisitPay.Enums
@using Ivh.Common.Web.Utilities
@model Ivh.Web.GuestPay.Models.Payment.PaymentSubmitViewModel
@{
    List<SelectListItem> bankAccountTypes = new List<SelectListItem>
    {
    new SelectListItem {Text = LocalizationHelper.GetLocalizedString(TextRegionConstants.Checking), Value = ((int) PaymentMethodTypeEnum.AchChecking).ToString()},
    new SelectListItem {Text = LocalizationHelper.GetLocalizedString(TextRegionConstants.Savings), Value = ((int) PaymentMethodTypeEnum.AchSavings).ToString()}
    };
}

<section id="section-submitPayment">
    <section class="area">
        <form id="frmPaymentInfo" autocomplete="off">
            @Html.AntiForgeryToken()
            <h2>@Html.CmsRegion(CmsRegionEnum.GuestPayStep2Heading)</h2>
            <div class="hidden" data-bind="show: fn.IsStep2">
                <div class="alert alert-danger hidden"></div>
                <p>@Html.CmsRegion(CmsRegionEnum.GuestPayStep2TextTop)</p>
                <div class="form-group payment-amount">
                    @Html.VpLabelFor(m => m.PaymentAmount)                   
                    <div style="display:flex;">   
                        @Html.VpTextBoxFor(m => m.PaymentAmount, new { @class = "form-control numeric", data_bind = "value: PaymentAmount" })
                        <span id="guestPayPartialPaymentWarning">
                            @Html.CmsRegion(CmsRegionEnum.GuestPayPartialPaymentWarning)
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    @Html.VpLabelFor(m => m.PaymentMethodParentType)
                    <div class="payment-type">
                        @Html.DropDownListFor(m => m.PaymentMethodParentType, Model.PaymentMethodParentTypes, "-", new { @class = "form-control", data_bind = "value: PaymentMethodParentType, valueUpdate: ['blur','keyup']" })
                        <span class="payment-types">
                            @if (IsFeatureEnabled(VisitPayFeatureEnum.PaymentsCreditCard))
                            {
                                <img src="/Content/Images/visa.png" alt="VISA" />
                                <img src="/Content/Images/mastercard.png" alt="MasterCard" />
                                <img src="/Content/Images/discover.png" alt="Discover" />
                                <img src="/Content/Images/amex.png" alt="American Express" />
                            }
                            @if (IsFeatureEnabled(VisitPayFeatureEnum.PaymentsAch))
                            {
                                <img src="/Content/Images/bank.png" alt="@Html.TextRegion(TextRegionConstants.BankAccount)" />
                            }
                        </span>
                    </div>
                </div>
                <!-- ko if: PaymentMethodParentType.IsCreditCard -->
                <div class="paymenttype-creditcard">
                    <div class="form-group">
                        @Html.VpLabelFor(m => m.CardAccount.CardAccountHolderName)
                        @Html.VpTextBoxFor(m => m.CardAccount.CardAccountHolderName, new { data_bind = "value: CardAccount.CardAccountHolderName", maxlength = 50 })
                    </div>
                    <div class="form-group credit-card">
                        @Html.VpLabelFor(m => m.CardAccount.PaymentMethodType)
                        @Html.HiddenFor(m => m.CardAccount.PaymentMethodType, new { data_bind = "value: CardAccount.PaymentMethodType" })
                        <div class="input">
                            <div class="secure-pan-container"></div>
                            <div class="icon" data-bind="visible: CardAccount.PaymentMethodType.IsValid">
                                <img src="/Content/Images/visa.png" alt="VISA" data-bind="visible: CardAccount.PaymentMethodType.IsVisa" />
                                <img src="/Content/Images/mastercard.png" alt="MasterCard" data-bind="visible: CardAccount.PaymentMethodType.IsMastercard" />
                                <img src="/Content/Images/discover.png" alt="Discover" data-bind="visible: CardAccount.PaymentMethodType.IsDiscover" />
                                <img src="/Content/Images/amex.png" alt="American Express" data-bind="visible: CardAccount.PaymentMethodType.IsAmex" />
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-12">@Html.VpLabelFor(m => m.CardAccount.ExpirationDateM)</div>
                        <div class="col-xs-7 col-sm-4">@Html.DropDownListFor(m => m.CardAccount.ExpirationDateM, Model.Months, new { @class = "form-control", data_bind = "value: CardAccount.ExpirationDateM", style = "width: 100%;" })</div>
                        <div class="col-xs-5 col-sm-2 less-col-padding-xs">@Html.DropDownListFor(m => m.CardAccount.ExpirationDateY, Model.Years, new { @class = "form-control", data_bind = "value: CardAccount.ExpirationDateY", style = "width: 100%;" })</div>
                    </div>
                    <div class="form-group">
                        @Html.VpLabelFor(m => m.CardAccount.CardSecurityCode)
                        @Html.VpTextBoxFor(m => m.CardAccount.CardSecurityCode, new { data_bind = "value: CardAccount.CardSecurityCode", style = "width: 56px;", type = "tel", maxlength = "4" })
                    </div>
                    <div class="form-group">
                        @Html.VpLabelFor(m => m.CardAccount.AddressStreet1)
                    </div>
                    @if (ClientDto.GuestPayAllowInternationalPayments)
                    {
                        <div class="form-group">
                            <select data-bind="options: CardAccount.Countries,  optionsText: 'Text', optionsValue: 'Value', value: CardAccount.IsCountryUsa" class="form-control" style="width: 250px;"></select>
                        </div>
                    }
                    <div class="form-group">
                        @Html.VpTextBoxFor(m => m.CardAccount.AddressStreet1, new { data_bind = "value: CardAccount.AddressStreet1" })
                        @Html.Hidden("IsCountryUsa", Model.CardAccount.IsCountryUsa, new { data_bind = "value: CardAccount.IsCountryUsa " })
                    </div>
                    <div class="form-group">
                        @Html.VpTextBoxFor(m => m.CardAccount.AddressStreet2, new { data_bind = "value: CardAccount.AddressStreet2" })
                    </div>
                    <div class="row form-group citystatezip">
                        <div class="col-xs-12 col-sm-5">
                            @Html.VpTextBoxFor(m => m.CardAccount.City, new { data_bind = "value: CardAccount.City" })
                        </div>
                        <div class="col-xs-7 col-sm-5 less-col-padding-sm" data-bind="visible: CardAccount.IsCountryUsa">
                            @Html.VpStatesDropDownListFor(m => m.CardAccount.State, new { @class = "form-control", data_bind = "value: CardAccount.State" })
                        </div>
                        <div class="col-xs-7 col-sm-5 less-col-padding-sm" data-bind="visible: !CardAccount.IsCountryUsa()">
                            @Html.VpTextBoxFor(m => m.CardAccount.StateProvinceRegion, new { data_bind = "value: CardAccount.StateProvinceRegion" })
                        </div>
                        <div class="col-xs-5 col-sm-2 less-col-padding-xs" data-bind="visible: CardAccount.IsCountryUsa">
                            @Html.VpTextBoxFor(m => m.CardAccount.Zip, new { data_bind = "value: CardAccount.Zip", type = "tel" })
                        </div>
                        <div class="col-xs-5 col-sm-2 less-col-padding-xs" data-bind="visible: !CardAccount.IsCountryUsa()">
                            @Html.VpTextBoxFor(m => m.CardAccount.PostalCode, new { data_bind = "value: CardAccount.PostalCode" })
                        </div>
                    </div>
                </div>
                <!-- /ko -->
                <!-- ko if: PaymentMethodParentType.IsAch -->
                <div>
                    <div class="form-group">
                        @Html.VpLabelFor(m => m.BankAccount.FirstName)
                        @Html.VpTextBoxFor(m => m.BankAccount.FirstName, new { data_bind = "value: BankAccount.FirstName" })
                    </div>
                    <div class="form-group">
                        @Html.VpLabelFor(m => m.BankAccount.LastName)
                        @Html.VpTextBoxFor(m => m.BankAccount.LastName, new { data_bind = "value: BankAccount.LastName" })
                    </div>
                    <div class="form-group">
                        @Html.VpLabelFor(m => m.BankAccount.BankName)
                        @Html.VpTextBoxFor(m => m.BankAccount.BankName, new { data_bind = "value: BankAccount.BankName" })
                    </div>
                    <div class="form-group">
                        @Html.VpLabelFor(m => m.BankAccount.PaymentMethodType)
                        @Html.DropDownListFor(m => m.BankAccount.PaymentMethodType, bankAccountTypes, new { @class = "form-control", data_bind = "value: BankAccount.PaymentMethodType" })
                        @Html.Hidden("IsCountryUsa", true, new { data_bind = "value: BankAccount.IsCountryUsa" })
                    </div>
                    <div class="form-group">
                        @Html.VpLabelFor(m => m.BankAccount.RoutingNumber)
                        @Html.VpTextBoxFor(m => m.BankAccount.RoutingNumber, new { data_bind = "value: BankAccount.RoutingNumber", type = "tel" })
                    </div>
                    <div class="form-group">
                        @Html.VpLabelFor(m => m.BankAccount.AccountNumber)
                        @Html.VpTextBoxFor(m => m.BankAccount.AccountNumber, new { data_bind = "value: BankAccount.AccountNumber", type = "tel" })
                    </div>
                    <div class="form-group">
                        @Html.VpLabelFor(m => m.BankAccount.ConfirmAccountNumber)
                        @Html.VpTextBoxFor(m => m.BankAccount.ConfirmAccountNumber, new { data_bind = "value: BankAccount.ConfirmAccountNumber", type = "tel" })
                    </div>
                </div>
                <!-- /ko -->
                <!-- ko if: PaymentMethodParentType.HasPaymentType -->
                <div>
                    <p>@Html.CmsRegion(CmsRegionEnum.GuestPayStep2TextEmail)</p>
                    <div class="form-group">
                        @Html.VpLabelFor(m => m.EmailAddress)
                        @Html.VpTextBoxFor(m => m.EmailAddress, new { data_bind = "value: EmailAddress" })
                    </div>
                    <div class="form-group">
                        @Html.VpLabelFor(m => m.EmailAddressConfirm)
                        @Html.VpTextBoxFor(m => m.EmailAddressConfirm, new { data_bind = "value: EmailAddressConfirm", autocomplete = "off" })
                    </div>
                    <div class="form-actions">
                        <button id="btnPaymentContinue" type="submit" class="btn btn-lg btn-primary">@Html.TextRegion(TextRegionConstants.GuestPayButtonContinue)</button>
                    </div>
                </div>
                <!-- /ko -->
            </div>
            <div class="hidden text-center" data-bind="show: fn.IsStep3">
                @Html.TextRegion(TextRegionConstants.GuestPayPaymentInformationEntered) <a href="javascript:;" title="@Html.TextRegion(TextRegionConstants.ClickToEdit)" data-bind="click: fn.SetEntry">@Html.TextRegion(TextRegionConstants.ClickToEdit)</a>.
            </div>
        </form>
    </section>
    <section class="area">
        @using (Html.BeginForm("SubmitPayment", "Payment", FormMethod.Post, new { id = "frmSubmitPayment", autocomplete = "off" }))
        {
            @Html.AntiForgeryToken()
            <h2>@Html.CmsRegion(CmsRegionEnum.GuestPayStep3Heading)</h2>
            <div class="hidden text-center" data-bind="show: fn.IsStep3">
                @{
                    IDictionary<string, string> replacementValues = new Dictionary<string, string>
                        {
                            {"[[Payment_PaymentAmount]]", "<span data-bind=\"currencyText: PaymentAmount\"></span>" },
                            {"[[Payment_PaymentMethodType]]", "<span data-bind=\"text: PaymentMethodParentType.DisplayText\"></span>" },
                            {"[[Payment_LastFour]]", "<span data-bind=\"text: PaymentMethodParentType.LastFour\"></span>" },
                        };
                }

                @Html.CmsRegionWithAdditionalValues(CmsRegionEnum.GuestPayStep3Text, replacementValues)

                <div class="form-actions">
                    <button type="submit" class="btn btn-lg btn-primary">@Html.TextRegion(TextRegionConstants.GuestPaySubmitPayment)</button>
                </div>
            </div>
        }
    </section>
</section>
