﻿@using Ivh.Common.Base.Enums
@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.VisitPay.Enums
@model Ivh.Web.GuestPay.Models.Payment.ReceiptViewModel

<div class="row success">
    <div class="col-md-7 col-sm-7 col-xs-12">
        <h3>@Html.TextRegion(TextRegionConstants.GuestPayThankYouForYourPayment)</h3>
        <p>@Html.TextRegion(TextRegionConstants.GuestPayEmailReceiptSent)</p>
    </div>
    <div class="col-md-5 col-sm-5 col-xs-12 hidden-print">
        <strong><a href="@Url.Action("ReceiptPrint", "Payment", new { token = Model.Token })" target="_blank" id="aPrint">@Html.TextRegion(TextRegionConstants.GuestPayPrintCopyOfReceipt)</a></strong>
    </div>
</div>
<h1>@Html.TextRegion(TextRegionConstants.GuestPayPaymentSummaryPageHeading)</h1>
<div class="container-fluid details">
    <div class="row">
        <div class="col-xs-12">
            <strong>@Model.Date</strong> <span style="font-size: 12px;">@Model.Time</span><br/>
            <strong>@Model.GuarantorFirstNameLastName</strong><br/>
            @Model.EmailAddress
        </div>
    </div>
    <div class="row payment">
        <div class="col-xs-12 col-sm-7">
            <div><strong>@Html.TextRegion(TextRegionConstants.GuestPayAmount): @Model.PaymentAmount</strong></div>
            <div>@Html.TextRegion(TextRegionConstants.GuestPayType): @Html.TextRegion(TextRegionConstants.GuestPayOneTimePayment)</div>
            <div>@Html.TextRegion(TextRegionConstants.GuestPayPaymentMethod): @Model.PaymentMethodType @Html.TextRegion(TextRegionConstants.EndingIn) @Model.LastFour</div>
            <div>@Html.TextRegion(TextRegionConstants.GuestPayTransactionId): @Model.TransactionId</div>
        </div>
        <div class="col-xs-12 col-sm-5 text-center hidden-print">
            <a class="btn btn-lg btn-primary" href="@Url.Action("Index", "Payment")" title="@Html.TextRegion(TextRegionConstants.GuestPayMakeAnotherPayment)">@Html.TextRegion(TextRegionConstants.GuestPayMakeAnotherPayment)</a>
        </div>
    </div>
    @{
        MvcHtmlString content;
        string enrollToday = Html.TextRegion(TextRegionConstants.EnrollToday);
        MvcHtmlString caption = new MvcHtmlString(enrollToday);
        MvcHtmlString title = new MvcHtmlString(enrollToday);
        IDictionary<string, string> replacementValue = new Dictionary<string, string>
        {
            {"[[ClientBrandName]]", ClientDto.GuestPayClientBrandName },
        };

        if(ClientDto.IsVisitPayEnabled)
        {
            content = Html.CmsRegion(CmsRegionEnum.GuestPayReceiptTextBottomAlternative);
            caption = Html.CmsRegion(CmsRegionEnum.GuestPayCreateAccountCaption);
            title = Html.CmsRegionWithAdditionalValues(CmsRegionEnum.GuestPayCreateAccountTitle, replacementValue);
        }
        else
        {
            content = Html.CmsRegion(CmsRegionEnum.GuestPayReceiptTextBottom);
        }
        
        if (!string.IsNullOrEmpty(content.ToString()))
        {
            <div class="row billpay hidden-print">
                <div class="col-xs-12 col-sm-7">
                    @content
                </div>
                <div class="col-xs-12 col-sm-5 text-center hidden-print">
                    <a class="btn btn-lg btn-primary" target="_blank" href="@string.Format(ClientDto.AppGuarantorRegistrationUrl, "")" title="@title" data-piwik-click data-piwik-event-category="Guest Pay" data-piwik-event-name="@caption button on receipt page">@caption</a>
                </div>
            </div>
        }
    }
</div>
<p class="text-center hidden-print">
    <a href="@Model.TimeoutUrl" title="@Html.TextRegion(TextRegionConstants.GuestPayEndSession)">@Html.TextRegion(TextRegionConstants.GuestPayEndSession)</a>
</p>
<p class="text-center hidden-print">
    <a href="@Model.TimeoutUrl" title="@Html.TextRegion(TextRegionConstants.GuestPayReturnHome)">@Html.TextRegion(TextRegionConstants.GuestPayReturnHome)</a>
</p>