﻿@using Ivh.Application.GuestPay.Common.Dtos
@using Ivh.Common.Base.Utilities.Extensions
@model AuthenticationMatchFieldDto
@if (Model.Options.IsNotNullOrEmpty())
{
    if (Model.Options.Count == 1 && Model.Options[0].Options != null && Model.Options[0].Options.Count == 1)
    {
        <input type="hidden" id="@Model.Key" name="@Model.Key" value="@Model.Options[0].Key" data-element="statement" data-statement="@Model.Options[0].Options[0].Key" />
    }
    else if (Model.Options.Count > 1)
    {
        bool inputRequired = Model.Type != AuthenticationMatchFieldTypeEnum.StatementReferenceImageSelector;
        <div class="form-group">
            <label @if (inputRequired)
                   {
                       @: class="required"
                   } 
                for="@Model.Key">@Html.CmsRegionWithDefaultValue(Model.LabelCmsRegion, Model.Label)</label>
            <select class="form-control" 
                    @if (inputRequired)
                    {
                        @: data-val="true" data-val-required
                    } 
                    id="@Model.Key" 
                    name="@Model.Key" 
                    data-element="statement">
                <option value="">-</option>
                @foreach (AuthenticationMatchFieldDto option in Model.Options)
                {
                    <option value="@option.Key" data-statement="@option.Options[0].Key">@option.Label</option>
                }
            </select>
        </div>

    }
}
