﻿@using Ivh.Common.Base.Utilities.Extensions
@model Ivh.Application.GuestPay.Common.Dtos.AuthenticationMatchFieldDto

@if (Model.Options.IsNotNullOrEmpty())
{
    <!-- ko stopParentBinding: true -->
    <div id="statement-lookup" class="form-group">
        <label class="required" for="@Model.Key">@Html.CmsRegionWithDefaultValue(Model.LabelCmsRegion, Model.Label)</label>
        <input class="form-control typeahead" type="text" placeholder="" data-val-required data-val="true" data-bind="value: QueryText, valueUpdate: 'afterkeydown'"/>
        <input class="" id="@Model.Key" name="@Model.Key" type="hidden"/>
    </div>
    <!-- /ko -->
}
