﻿<div class="modal fade" id="modalStatement" tabindex="-1" data-backdrop="static">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-body text-center">
                <button type="button" class="btn btn-icon" data-dismiss="modal">&times;</button>
                <div class="statement-image">
                    <img alt="" data-bind="attr: { src: StatementImage }" />
                </div>
            </div>
        </div>
    </div>
</div>