﻿@using Ivh.Application.GuestPay.Common.Dtos
@using Ivh.Web.GuestPay.Models.Payment
@model PaymentViewModel

<section id="section-payment" class="mask">

    <h2>@Html.CmsRegion(CmsRegionEnum.WelcomeToGuestPay)</h2>

    <div id="alert-session" class="hidden alert alert-info text-center">
        @Html.CmsRegion(CmsRegionEnum.GuestPaySessionExpired)
    </div>

    @Html.Partial("~/Views/Payment/_GuarantorMatch.cshtml", Model.GuarantorMatchRequestViewModel)

    @Html.Partial("~/Views/Payment/_PaymentSubmit.cshtml", Model.PaymentSubmitViewModel)

</section>

@using (Html.VpForm(id: "__AjaxAntiForgeryForm"))
{
}

@section scripts {
    @Scripts.Render("~/bundles/scripts/payment")
    @Scripts.Render("~/bundles/scripts/statementlookup")
    <script type="text/javascript">
    (function() {
        @{
            AuthenticationMatchFieldDto field = Model.GuarantorMatchRequestViewModel
                .GuarantorAuthenticationFields
                .FirstOrDefault(x => x.Type == AuthenticationMatchFieldTypeEnum.StatementIdentifierLookup);

            IList<AuthenticationMatchFieldDto> searchData = field != null ? field.Options : null;
        }
        var data = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(searchData));

        var search = new window.VisitPay.StatementLookup.Main(data);
        var searchInput = $('#statement-lookup');

        search.init(searchInput);
    })();
    </script>
}

@section modals {
    @Html.Partial("~/Views/Payment/_StatementModal.cshtml")
    @Html.Partial("~/Views/Shared/_IdleTimer.cshtml")
}