﻿@model Ivh.Common.Web.Models.Shared.CmsViewModel

@section breadcrumb {
    @Model.ContentTitle
}

<section id="section-locked">
    <h1>@Model.ContentTitle</h1>
    <div class="alert alert-info">
        @Html.Raw(Model.ContentBody)
    </div>
</section>