﻿@model Ivh.Web.Client.Models.Search.GuarantorAccountViewModel

<section id="section-transactions">
    <form class="jqGridFilter container" id="jqGridFilterTransactions" autocomplete="off">
        @Html.Partial("_GuarantorTransactionsFilter", Model.GuarantorTransactionsSearchFilter)
    </form>
    <table id="jqGridTransactions"></table>
    <div id="jqGridPagerTransactions"></div>
    <div id="jqGridNoRecordsInitialTransactions" class="alert alert-info collapse text-center">
        <strong>There are no transactions in the last 60 days. You can search for other transactions with the filters above.</strong>
    </div>
    <div id="jqGridNoRecordsTransactions" class="alert alert-info collapse text-center">
        <strong>There are no transactions to display at this time.</strong>
    </div>
    <div id="tooltip-transactionVisitStates" style="display: none;">
        Active – A visit that has a balance and to which a payment can be applied<br />
        On-Hold – A visit that has been suspended by the hospital or iVinci system and is suspended from statements. Payments cannot be applied to it.<br />
        Closed – A visit that has been closed by the hospital or iVinci system. Payments cannot be applied to it.
    </div>
</section>