﻿@using Ivh.Common.VisitPay.Constants
@model Ivh.Web.Client.Models.Search.GuarantorResendEmailViewModel
<div id="modalGuarantorResendEmail" class="modal modal-nested modal-vcenter fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog" style="width:450px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">Confirm Resend</h4>
            </div>
            <form role="form" id="frmResend" method="post" autocomplete="off">
                <div class="modal-body text-center">
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.EmailId)
                    @Html.HiddenFor(m => m.VisitPayUserId)

                    <p class="text-center">
                        <b>Confirm you would like to resend this message</b>
                    </p>
                    <div class="row">
                        <div class="col-xs-12 text-left">
                            @Html.ValidationSummary(Html.TextRegion(TextRegionConstants.ValidationCorrectErrors), new { @class = "col-xs-offset-2 col-xs-10" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2 text-left">Subj:</div>
                        <div class="col-xs-10 text-left">@Model.Subject</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2 text-left">
                            @if (Model.IsSms)
                            {
                                @Html.VpLabelFor(m => m.ToPhone)
                            }
                            else
                            {
                                @Html.VpLabelFor(m => m.ToEmail)
                            }:
                        </div>
                        <div class="col-xs-10 text-left">
                            @if (Model.IsSms)
                            {
                                @Html.VpTextBoxFor(m => m.ToPhone, (object)new { @readonly = "true", width = "250px;" })
                            }
                            else
                            {
                                @Html.VpTextBoxFor(m => m.ToEmail, (object)new { width = "250px;" });
                            }
                        </div>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="submit" id="btnConfirm" class="btn btn-primary" title="Confirm">Confirm</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" title="Cancel">Cancel</button>
                </div>
            </form>

        </div>
    </div>
</div>
