﻿@model IList<Ivh.Web.Client.Models.Search.GuarantorCancellationReasonViewModel>

<div class="cancel-account">
    <p>
        You have selected to cancel this Guarantor's account.
        <br />
        <br />
        Upon submission of this request, the Guarantor will no longer have access to this account including the account history (e.g., payments, statements, etc.).
    </p>
    <br />
    <select class="form-control select-cancel" id="vpgCancelReason" onchange="validateGuarantorCancellation();">
        <option value="0">--Reason--</option>'
        @for (int i = 0; i < Model.Count; i++)
        {
            var reason = Model[i];
            <option value="@reason.VpGuarantorCancellationReasonId">@reason.DisplayName</option>
        }
    </select>
    <label class="label-cancel" for="vpgCancelNote">&nbsp;&nbsp;Notes:&nbsp;</label>
    <input id="vpgCancelNote" name="vpgCancelNote" class="form-control text-cancel" type="text" oninput="validateGuarantorCancellation();">
</div>
