﻿@model  Ivh.Web.Client.Models.Search.GuarantorVisitStateHistorySearchFilterViewModel

<div id="modalVisitStateHistory" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">
                    Status Change History for <span id="spVisitStateHistorySourceSystemKey"></span>
                </h4>
            </div>
            <div class="modal-body">
                <form id="jqGridFilterVisitStateHistory" class="jqGridFilter container" autocomplete="off">
                    <div class="alert alert-info collapse" data-bind="css: { collapse: RunResults() == false }">
                        Click <strong>Run</strong> to update your results
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Visit Status</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">@Html.DropDownList("VisitStateHistoryVisitStateIds", Model.VisitStates, new {multiple = "multiple", style = "position: absolute;"})</div>
                        <div class="col"></div>
                        <div class="col text-right">
                            <button type="button" class="btn btn-primary" id="btnGridFilterVisitStateHistoryReset">Reset</button>
                        </div>
                    </div>
                </form>
                <table id="jqGridVisitStateHistory"></table>
                <div id="jqGridVisitStateHistoryPager"></div>
                <div id="jqGridVisitStateHistoryNoRecords" class="alert alert-info collapse text-center">
                    <strong>There is no visit status history to display at this time.</strong>
                </div>
            </div>
        </div>
    </div>
</div>
