﻿@model Ivh.Common.Web.Models.FinancePlan.FinancePlanDetailsViewModel

<div id="modalFinancePlanVisits" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">
                    Details for finance plan
                    <span data-bind="text: IsPending() ? 'originating' : 'originated'"></span>
                    on <span data-bind="text: OriginationDate"></span>
                    <span class="balance">Pay Off Balance: <span data-bind="text: CurrentFinancePlanBalance"></span></span>
                    <input type="image" title="Export To Excel" id="btnFinancePlanVisitsExport" src="~/Content/Images/excel.png" class="export-excel" />
                </h4>
            </div>
            <div class="modal-body">
                <div class="details">
                    <div class="row">
                        <div class="col-xs-6">
                            <span>@Model.OriginationDate</span>
                            Effective Date:
                        </div>
                        <div class="col-xs-6">
                            <span>@Model.OriginatedFinancePlanBalance</span>
                            Original Balance:
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <span>@Model.CurrentInterestRate</span>
                            Interest Rate:
                        </div>
                        <div class="col-xs-6">
                            <span>@Model.InterestAssessed</span>
                            Interest Charged:
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <span>@Model.MonthsRemaining months remaining</span>
                            Projected Final Payment:
                        </div>
                        <div class="col-xs-6">
                            <span>@Model.InterestPaidToDate</span>
                            Interest Paid:
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <span>
                                @if (Model.IsPastDue)
                                {
                                    <span class="past-due">@Model.StatusDisplay</span>
                                }
                                else if (Model.IsPending)
                                {
                                    <span class="pending">@Model.StatusDisplay</span>
                                }
                                else
                                {
                                    @Model.StatusDisplay
                                }
                            </span>
                            Status:
                        </div>
                        <div class="col-xs-6">
                            <span>@Model.PrincipalPaidToDate</span>
                            Principal Paid:
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <span>@Model.PaymentAmount</span>
                            Monthly Amount Due:
                        </div>
                        <div class="col-xs-6 balance">
                            <div>
                                <span><strong>@Model.CurrentFinancePlanBalance</strong></span>
                                <strong>Finance Plan Balance:</strong>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="primary-line" />
                <p class="small">* Displaying visits that are active or fully paid. Visits that are suspended or closed for reasons other than paid in full are not displayed.</p>
                <table id="jqGridFinancePlanVisits"></table>
                <div id="jqGridFinancePlanVisitsPager"></div>
                <div id="jqGridFinancePlanVisitsNoRecords" class="alert alert-info collapse text-center">
                    <strong>There are no visits associated with this finance plan.</strong>
                </div>
                @if (!Model.IsPending && Model.IsRetailInstallmentContract)
                {
                    <p class="text-center">
                        <br />
                        <strong><a href="#CreditAgreement" data-offerid="@Model.FinancePlanOfferId" title="View @ClientDto.CreditAgreementName">View @ClientDto.CreditAgreementName</a></strong>
                    </p>
                }
            </div>
        </div>
    </div>
</div>