﻿@using Ivh.Web.Client.Models.Search
@model IList<SecurityQuestionAnswerViewModel>

<div id="modalSecurityQuestesion" class="modal modal-vcenter fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">
                    Security Questions
                </h4>
            </div>
            <div class="modal-body">
                @{
                    int questionNo = 0;
                    
                    foreach (SecurityQuestionAnswerViewModel securityQuestionAnswer in Model)
                    {
                        questionNo++;
                        <ul id="ulSecurityQuestion" class="list-unstyled">
                            <li>
                                Question @questionNo: @securityQuestionAnswer.SecurityQuestion.Question
                                <ul id="ulSecurityAnswer" class="list-unstyled">
                                    <li>Answer @questionNo: @securityQuestionAnswer.Answer</li>
                                </ul>
                            </li>

                        </ul>
                    }
                }
                <div class="text-center">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" title="Close">Close</button>
                    <div class="text-center">
                        <br />
                        Your view/action on this content is logged for audit purposes.
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
