﻿@using Ivh.Common.VisitPay.Enums
@using Ivh.Common.Web.Constants
@using Ivh.Common.Web.Models.Shared
@model Ivh.Web.Client.Models.Search.GuarantorAccountViewModel

@{
    CmsViewModel emptyVisitsViewModel = Html.CmsModel(CmsRegionEnum.VisitsGridEmptyVisitsText);
}

<section id="section-visits">
    <form class="jqGridFilter container" id="jqGridFilterVisits" autocomplete="off">
        @Html.Partial("_GuarantorVisitsFilter", Model.GuarantorVisitsSearchFilter)
    </form>
    <table id="jqGridVisits"></table>
    <div id="jqGridPagerVisits"></div>
    <div id="jqGridNoRecordsVisits" class="alert alert-info collapse text-center">
        <strong>@emptyVisitsViewModel.ContentBody</strong>
    </div>
    <div id="tooltip-visitStates" style="display: none;">
        Active – A visit that has a balance and to which a payment can be applied<br />
        On-Hold – A visit that has been suspended by the hospital or iVinci system and is suspended from statements. Payments cannot be applied to it.<br />
        Closed – A visit that has been closed by the hospital or iVinci system. Payments cannot be applied to it.
    </div>
</section>