﻿@using Ivh.Common.VisitPay.Strings
@model Ivh.Web.Client.Models.Search.GuarantorVisitBalanceTransferStatusUpdateViewModel

<div id="modalBalanceTransferStatusHistory" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title" data-bind="text: TitleText">Balance Transfer Status History for Visit</h4>
            </div>
            <div class="modal-body">
                @if (User.IsInRole(VisitPayRoleStrings.Miscellaneous.IvhAdmin))
                {
                    <form id="jqGridBalanceTransferStatusUpdate" class="jqGridFilter container" autocomplete="off">
                        <div class="row">
                            <div class="col">
                                <button type="submit" class="btn btn-primary" id="btnBalanceTransferStatusUpdateSubmit" data-bind="text: ButtonText">button</button>
                            </div>
                            <div class="col">
                                @Html.LabelFor(m => m.Notes)
                            </div>
                            <div class="col">
                                @Html.VpTextBoxFor(m => m.Notes, new {data_bind = "value: Notes"})
                                @Html.ValidationMessageFor(m => m.Notes)
                            </div>
                        </div>
                        <div id="gridBalanceTransferStatusHistory">
                        </div>
                    </form>
                }
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-primary" data-dismiss="modal" title="Close">Close</button>
            </div>
        </div>
    </div>
</div>
