﻿@model Ivh.Web.Client.Models.Search.GuarantorAccountViewModel
<section id="section-payments">

    <section id="section-paymentspending">
        @Html.Partial("~/Views/Payment/_PaymentPending.cshtml", Model.GuarantorPaymentsViewModel)
    </section>

    <section id="section-paymenthistory">
        @Html.Partial("~/Views/Payment/_PaymentHistory.cshtml", Model.GuarantorPaymentsViewModel)
        @if (!ClientDto.FooterShowPaymentLogo)
        {
            <div class="payment-logo">
                <img src="/Content/Images/trust-commerce.png" alt="" />
            </div>
        }
    </section>
</section>
