﻿<div id="modalCommunicationContent" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">
                    E-mail Content
                </h4>
            </div>
            <div class="modal-body">
                <div id="mail-content" data-bind="html: Content"></div>
            </div>
        </div>
    </div>
</div>