﻿@using Ivh.Common.VisitPay.Strings
@model Ivh.Web.Client.Models.Search.GuarantorAccountViewModel

<section id="section-supporthistory">
    <form class="jqGridFilter container" id="jqGridFilterSupportRequests" autocomplete="off">
        <div class="alert alert-info collapse" data-bind="css: { collapse: RunResults() == false }">
            Click <strong>Run</strong> to update your results
        </div>
        <div class="row">
            <div class="col">Status</div>
            <div class="col">Date Range</div>
            <div class="col"></div>
            <div class="col text-right">
                <button type="submit" class="btn btn-primary" id="btnGridFilterSupportRequestsSubmit">Run</button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                @Html.DropDownListFor(m => m.GuarantorSupportHistoryFilter.SupportRequestStatus, Model.GuarantorSupportHistoryFilter.SupportRequestStatuses, new { @class = "form-control", data_bind = "value: SupportRequestStatus" })
            </div>
            <div class="col">
                @Html.DropDownListFor(m => m.GuarantorSupportHistoryFilter.DateRangeFrom, Model.GuarantorSupportHistoryFilter.DateRanges, new { @class = "form-control", data_bind = "value: DateRangeFrom" })
            </div>
            <div class="col text-right">
                @if (!Model.AccountClosedDate.HasValue && (User.IsInRole(VisitPayRoleStrings.Csr.SupportAdmin) || User.IsInRole(VisitPayRoleStrings.Csr.SupportCreate)))
                {
                    <button type="button" class="btn btn-primary" id="btnCreateSupportRequest">Open New Case</button>
                }
            </div>
            <div class="col text-right">
                <button type="reset" class="btn btn-primary" id="btnGridFilterSupportRequestsReset">Reset</button>
            </div>
        </div>
    </form>
    <table id="jqGridSupportRequests"></table>
    <div id="jqGridSupportRequestsPager"></div>
    <div id="jqGridSupportRequestsNoRecords" class="alert alert-info collapse text-center">
        <strong>There are no support requests to display at this time.</strong>
    </div>
</section>