﻿@model Ivh.Web.Client.Models.FinancePlan.FinancePlanLogFilterViewModel
<div id="modalFinancePlanLog" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">Finance Plan History</h4>
            </div>
            <div class="modal-body">
                <form class="jqGridFilter container" id="jqGridFilterFinancePlanLog" autocomplete="off">
                    <div class="row">
                        <div class="col"><strong>Source System Key</strong></div>
                        <div class="col"></div>
                        <div class="col text-right">
                            <button type="submit" class="btn btn-primary" id="btnGridFilterFinancePlanLogSubmit">Run</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            @Html.DropDownListFor(m => m.SourceSystemKeys, Model.SourceSystemKeySelectList, new {id= "sourceSystemKeySelect", @class = "form -control hidden", multiple = "multiple" })
                        </div>
                        <div class="col"></div>
                        <div class="col text-right">
                            <button type="reset" class="btn btn-primary" id="btnGridFilterFinanceLogReset">Reset</button>
                        </div>
                    </div>
                </form>
                <div id="jqGridFinancePlanLog"></div>
            </div>
        </div>
    </div>
</div>
