﻿@model Ivh.Web.Client.Models.Search.GuarantorVisitTransactionsViewModel

<div id="modalVisitTransactions" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">
                    Transactions for Visit #@Model.SourceSystemKeyDisplay
                    <span>Visit Balance: @Model.VisitBalanceDisplayText</span>
                    <input type="image" title="Export To Excel" id="btnVisitTransactionsExport" src="~/Content/Images/excel.png" class="export-excel" />
                </h4>
            </div>
            <div class="modal-body">
                <p><strong>@Model.VisitDescription</strong></p>
                <form class="jqGridFilter container" id="jqGridVisitTransactionsFilter" autocomplete="off">
                    @Html.HiddenFor(m => m.SearchFilter.VisitId)
                    <div class="alert alert-info collapse" data-bind="css: { collapse: RunResults() == false }">
                        Click <strong>Run</strong> to update your results
                    </div>
                    <div class="row">
                        <div class="col">
                            @Html.LabelFor(m => m.SearchFilter.TransactionType)
                        </div>
                        <div class="col"></div>
                        <div class="col text-right">
                            <button type="submit" class="btn btn-primary" id="btnGridVisitFilterSubmit">Run</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            @Html.DropDownListFor(m => m.SearchFilter.TransactionType, Model.SearchFilter.TransactionTypes, "All", new {@class = "form-control", data_bind = "value: TransactionType"})
                        </div>
                        <div class="col"></div>
                        <div class="col text-right">
                            <button type="reset" class="btn btn-primary" id="btnGridVisitTransactionsFilterReset">Reset</button>
                        </div>
                    </div>
                </form>
                <table id="jqGridVisitTransactions"></table>
                <div id="jqGridVisitTransactionsPager"></div>
                <div id="jqGridVisitTransactionsNoRecords" class="alert alert-info collapse text-center">
                    <strong>There are no transactions to display at this time.</strong>
                </div>
            </div>
        </div>
    </div>
</div>

