﻿<div id="modalVisitBalances" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">Visit Balance Summary</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div class="row">
                        <div class="col-xs-4 text-left">Current Balance:</div>
                        <div class="col-xs-3 text-right"><span data-bind="text: CurrentBalance"></span></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 text-left">Uncleared Payments:</div>
                        <div class="col-xs-3 text-right"><span data-bind="text: UnclearedPaymentsSum"></span></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 text-left">Interest Due:</div>
                        <div class="col-xs-3 text-right"><span data-bind="text: InterestDue"></span></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 text-left">Total balance:</div>
                        <div class="col-xs-3 text-right text-bold"><span data-bind="text: UnclearedBalance"></span></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-primary" data-dismiss="modal" title="Exit" id="btnVisitBalancesExit">Close</button>
            </div>
        </div>
    </div>
</div>
