﻿@model Ivh.Web.Client.Models.Search.GuarantorAccountViewModel

<section id="section-financeplans">
    <h1 class="bar">Finance Plans</h1>
    <form class="jqGridFilter container" id="jqGridFilterFinancePlans" autocomplete="off">
        <div class="alert alert-info collapse" data-bind="css: { collapse: RunResults() == false }">
            Click <strong>Run</strong> to update your results
        </div>
        <div class="row">
            <div class="col">
                Status
                <a href="javascript:;" class="glyphicon glyphicon-info-sign" id="aFinancePlanStatus"></a>
            </div>
            <div class="col"></div>
            <div class="col">Finance Plans in the last</div>
            <div class="col">@Html.DropDownListFor(m => m.GuarantorFinancePlansSearchFilter.LastXRange, Model.GuarantorFinancePlansSearchFilter.LastXRanges, new { @class = "form-control", data_bind = "value: LastXRange" })</div>
            <div class="col text-right">
                <button type="submit" class="btn btn-primary" id="btnGridFilterFinancePlansSubmit">Run</button>
            </div>
        </div>
        <div class="row">
            <div class="col" id="divFilterTransactionVisitState">@Html.DropDownList("FinancePlanStatusIds", Model.GuarantorFinancePlansSearchFilter.FinancePlanStatuses, new { @class = "form-control hidden", multiple = "multiple" })</div>
            <div class="col"></div>
            <div class="col">Date Range</div>
            <div class="col">
                <div class="input-group date">
                    @Html.VpTextBoxFor(m => m.GuarantorFinancePlansSearchFilter.OriginationDateRangeFrom, new { data_bind = "value: OriginationDateRangeFrom" })
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
                <div class="input-group date">
                    @Html.VpTextBoxFor(m => m.GuarantorFinancePlansSearchFilter.OriginationDateRangeTo, new { data_bind = "value: OriginationDateRangeTo" })
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
            <div class="col text-right">
                <button type="button" class="btn btn-primary" id="btnGridFilterFinancePlansReset">Reset</button>
            </div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col">@Html.ValidationSummary("Invalid Date Range", true)</div>
            <div class="col text-right">
                <input type="image" title="Export To Excel" id="btnFinancePlansExport" src="~/Content/Images/excel.png" />
            </div>
        </div>
    </form>
    <table id="jqGridFinancePlans"></table>
    <div id="jqGridPagerFinancePlans"></div>
    <div id="jqGridNoRecordsInitialFinancePlans" class="alert alert-info collapse text-center">
        <strong>There are no active or pending finance plans. You can search for any closed or on hold finance plans with the filters above.</strong>
    </div>
    <div id="jqGridNoRecordsFinancePlans" class="alert alert-info collapse text-center">
        <strong>There are no finance plans to display at this time.</strong>
    </div>
    <div id="tooltip-financePlanStatuses" style="display: none;">
        Pending Origination – A finance plan will originate on your payment due date. If it is pending acceptance of terms, you must accept terms for it to originate.<br />
        Active – Any finance plan that has originated and for which payments will be due.<br />
        Closed – A finance plan that's no longer active.
    </div>
</section>
