﻿@using Ivh.Common.Base.Utilities.Extensions
@using Ivh.Common.VisitPay.Enums
@using Ivh.Common.VisitPay.Strings
@model  Ivh.Web.Client.Models.Search.GuarantorVisitAgingUpdateViewModel

<div id="modalVisitAgingHistory" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">Aging History for Visit #<span data-bind="text: SourceSystemKeyDisplay"></span></h4>
            </div>
            <div class="modal-body">
                @if (IsFeatureEnabled(VisitPayFeatureEnum.FeatureVisitPayAgingIsEnabled) && User.IsInRole(VisitPayRoleStrings.Csr.ResetVisitAging))
                {
                    <!-- ko if: AvailableAgingTiers.Any() -->
                    <form autocomplete="off">
                        <div>
                            @Html.LabelFor(m => m.NewAgingTier)
                            @Html.DropDownList("NewAgingTier", Model.AvailableAgingTiers, new { @class = "form-control", data_bind = "options: AvailableAgingTiers, optionsText: 'Text', optionsValue: 'Value', value: NewAgingTier" })
                            @Html.LabelFor(m => m.ChangeDescription)
                        </div>
                        <div>
                            @Html.VpTextBoxFor(m => m.ChangeDescription, new { data_bind = "value: ChangeDescription " })
                            @Html.ValidationMessageFor(m => m.ChangeDescription)
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary" data-bind="disable: IsAccountClosed">Add</button>
                        </div>
                    </form>
                    <!-- /ko -->
                }
                <table id="jqGridVisitAgingHistory"></table>
                <div id="jqGridVisitAgingHistoryPager"></div>
                <div id="jqGridVisitAgingHistoryNoRecords" class="alert alert-info collapse text-center">
                    <strong>There is no visit aging history to display at this time.</strong>
                </div>
            </div>
            <div class="modal-footer text-center">
                <button type="button" id="btnVisitAgingHistoryCancel" class="btn btn-primary" data-dismiss="modal" title="Close">Close</button>
            </div>
        </div>
    </div>
</div>
