﻿@model Ivh.Web.Client.Models.Search.GuarantorTransactionsSearchFilterViewModel

<div class="alert alert-info collapse" data-bind="css: { collapse: RunResults() == false }">
    Click <strong>Run</strong> to update your results
</div>
<div class="row">
    <div class="col">Transaction Type</div>
    <div class="col">Date Range</div>
    <div class="col">
        <button type="submit" class="btn btn-primary" id="btnGridFilterTransactionsSubmit">Run</button>
    </div>
</div>
<div class="row">
    <div class="col">@Html.DropDownListFor(m => m.TransactionType, Model.TransactionTypes, "All", new { @class = "form-control", data_bind = "value: TransactionType" })</div>
    <div class="col">
        <div class="input-group date">
            @Html.VpTextBoxFor(m => m.TransactionDateRangeFrom, new { data_bind = "value: TransactionDateRangeFrom" })
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
        <div class="input-group date">
            @Html.VpTextBoxFor(m => m.TransactionDateRangeTo, new { data_bind = "value: TransactionDateRangeTo" })
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
    </div>
    <div class="col text-right"><button type="button" class="btn btn-primary" id="btnGridFilterTransactionsReset">Reset</button></div>
</div>
<div class="row">
    <div class="col"></div>
    <div class="col">@Html.ValidationSummary("Invalid Date Range", true)</div>
    <div class="col text-right"><input type="image" title="Export To Excel" id="btnTransactionsExport" src="~/Content/Images/excel.png" /></div>
</div>