﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.Web.Constants
@using Ivh.Common.Web.Models.Statement
@model StatementListViewModel

<div id="statements-list" class="clearfix">
        @if (Model.HasStatements)
        {
            if (Model.VisitBalanceSummaryStatements.Any())
            {
                <div class="statement-list">
                    <div id="ddVisitBalanceSummary">
                        @Html.Partial("_StatementDropdownListPartial", new StatementDropdownListViewModel {StatementType = Html.TextRegion(TextRegionConstants.BalanceSummaryStatement), Statements = Model.VisitBalanceSummaryStatements.ToList<IStatementListItemViewModel>()})
                    </div>
                </div>
            }
            if (Model.FinancePlanStatements.Any())
            {
                <div class="statement-list">
                    <div id="ddStatement">
                        @Html.Partial("_StatementDropdownListPartial", new StatementDropdownListViewModel {StatementType = Html.TextRegion(TextRegionConstants.FinancePlanStatement), Statements = Model.FinancePlanStatements.ToList<IStatementListItemViewModel>()})
                    </div>
                </div>
            }
        }
        else
        {
            <button class="btn btn-default" type="button" title="No statement yet" disabled="disabled">No statement yet</button>
        }
</div>
