﻿<div id="modalCommunicationEvents" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">
                    Activity detail history
                    <input type="image" title="Export To Excel" id="btnCommunicationEventsExport" src="~/Content/Images/excel.png" class="export-excel" />
                </h4>
            </div>
            <div class="modal-body">
                <table id="jqGridCommunicationEvents"></table>
                <div id="jqGridCommunicationEventsPager"></div>
                <div id="jqGridCommunicationEventsNoRecords" class="alert alert-info collapse text-center">
                    <strong>There are no communication events to display at this time.</strong>
                </div>
            </div>
        </div>
    </div>
</div>