﻿@using Ivh.Common.VisitPay.Constants
@model Ivh.Web.Client.Models.Account.ProfileEditClientViewModel

<div id="modalEditAccountSettings" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-md">
        <form id="frmEditAccountSettings" class="modal-content" autocomplete="off" novalidate="novalidate">
            @Html.HiddenFor(m => m.IsOfflineUser)
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">
                    View/Edit Account Settings
                </h4>
            </div>
            <div class="modal-body">
                <section id="section-editaccountsettings">
                    @Html.ValidationSummary(Html.TextRegion(TextRegionConstants.ValidationCorrectErrors))
                    <div class="form-group row">
                        <div class="col-xs-4">@Html.VpLabelFor(m => m.FirstName):</div>
                        <div class="col-xs-8 col-group">
                            <div class="col-xs-4">@Html.VpTextBoxFor(m => m.FirstName)</div>
                            <div class="col-xs-4">@Html.VpTextBoxFor(m => m.MiddleName)</div>
                            <div class="col-xs-4">@Html.VpTextBoxFor(m => m.LastName)</div>
                        </div>
                    </div>

                    @Html.HiddenFor(m => m.UserNameOriginal)
                    @if (Model.IsOfflineUser)
                    {
                    @Html.HiddenFor(m => m.UserName)
                    }
                    else
                    {
                    <div class="form-group row">
                        <div class="col-xs-4">@Html.VpLabelFor(m => m.UserName):</div>
                        <div class="col-xs-8">
                            @Html.VpTextBoxFor(m => m.UserName)
                        </div>
                    </div>
                    }

                    @if (Model.IsOfflineUser)
                    {
                    @Html.HiddenFor(m => m.UserName)
                    }
                    else
                    {
                    <div class="form-group row">
                        <div class="col-xs-4">@Html.VpLabelFor(m => m.UserNameConfirm):</div>
                        <div class="col-xs-8">@Html.VpTextBoxFor(m => m.UserNameConfirm)</div>
                    </div>
                    }

                    @Html.HiddenFor(m => m.EmailOriginal)


                    <div class="form-group row">
                        <div class="col-xs-4">@Html.VpLabelFor(m => m.Email, !Model.IsOfflineUser):</div>
                        <div class="col-xs-8">
                            @Html.VpTextBoxFor(m => m.Email)
                        </div>
                    </div>


                    <div class="form-group row">

                        <div class="col-xs-4">@Html.VpLabelFor(m => m.EmailConfirm):</div>
                        <div class="col-xs-8">@Html.VpTextBoxFor(m => m.EmailConfirm)</div>
                    </div>


                    <div class="form-group row">
                        <div class="col-xs-4">@Html.VpLabelFor(m => m.AddressStreet1):</div>
                        <div class="col-xs-8">@Html.VpTextBoxFor(m => m.AddressStreet1)</div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-4"></div>
                        <div class="col-xs-8">@Html.VpTextBoxFor(m => m.AddressStreet2)</div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-4"></div>
                        <div class="col-xs-8 col-group">
                            <div class="col-xs-4">@Html.VpTextBoxFor(m => m.City)</div>
                            <div class="col-xs-4">@Html.VpStatesDropDownListFor(m => m.State, new { @class = "form-control" })</div>
                            <div class="col-xs-4">@Html.VpTextBoxFor(m => m.Zip)</div>
                        </div>
                    </div>

                    @if (Model.CanEditMailingAddress)
                    {
                        @Html.HiddenFor(x => x.CanEditMailingAddress)
                        <div class="form-group row">
                            <div class="col-xs-4">@Html.VpLabelFor(m => m.MailingAddressStreet1):</div>
                            <div class="col-xs-8">@Html.VpTextBoxFor(m => m.MailingAddressStreet1)</div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-4"></div>
                            <div class="col-xs-8">@Html.VpTextBoxFor(m => m.MailingAddressStreet2)</div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-4"></div>
                            <div class="col-xs-8 col-group">
                                <div class="col-xs-4">@Html.VpTextBoxFor(m => m.MailingCity)</div>
                                <div class="col-xs-4">@Html.VpStatesDropDownListFor(m => m.MailingState, new { @class = "form-control" })</div>
                                <div class="col-xs-4">@Html.VpTextBoxFor(m => m.MailingZip)</div>
                            </div>
                        </div>
                    }
                    <p class="required-instruction">* Required field</p>
                </section>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-primary" id="btnEditAccountSettingsSubmit">Submit</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Exit</button>
                <div class="text-center">
                    <br/>
                    Your view/action on this content is logged for audit purposes.
                </div>
            </div>
        </form>
    </div>
</div>