﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.VisitPay.Enums
@using Ivh.Common.Web.Models.Alerts
@model IList<Ivh.Common.Web.Models.Alerts.AlertViewModel>

<div id="modalAlerts" class="modal fade keep-open" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title">Guarantor Alerts</h4>
            </div>
            <div class="modal-body">
                @foreach (AlertViewModel alert in Model)
                {
                <div class="@alert.CssClass alert-message-container">
                    <em></em>
                    @{
                        string prefixText;
                        switch (alert.AlertType)
                        {
                            case AlertTypeEnum.ActionRequired:
                                prefixText = string.Format("{0}:", Html.TextRegion(TextRegionConstants.ActionRequired));
                                break;
                            case AlertTypeEnum.Welcome:
                                prefixText = string.Format("{0}!", Html.TextRegion(TextRegionConstants.Welcome));
                                break;
                            default:
                                prefixText = "";
                                break;
                        }
                    }
                    @if (!string.IsNullOrEmpty(prefixText))
                    {
                        <span>@prefixText</span>
                    }
                    @Html.Raw(alert.ContentBody)
                </div>
                }
            </div>
        </div>
    </div>
</div>