﻿<div id="modalFinancePlanInterestRateHistory" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">Finance Plan Change History</h4>
            </div>
            <div class="modal-body">
                <table id="jqGridFinancePlanInterestRateHistory"></table>
                <div id="jqGridFinancePlanInterestRateHistoryPager"></div>
                <div id="jqGridFinancePlanInterestRateHistoryNoRecords" class="alert alert-info collapse text-center">
                    <strong>There is no interest rate history to display at this time.</strong>
                </div>
            </div>
        </div>
    </div>
</div>
