﻿@using Ivh.Common.Base.Enums
@using Ivh.Common.VisitPay.Enums
<div id="modalChangePaymentDueDay" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">
                    Change Payment Day
                </h4>
            </div>
            <div class="modal-body">
                <p>
                    Current statement payment due day: <strong><span id="payment-due-date" data-bind="text: PaymentDueDate"></span></strong>
                    <hr/>
                </p>
                @Html.CmsRegion(CmsRegionEnum.ClientChangePaymentDueDay)
                <form id="frmChangePaymentDueDay">
                    <div class="row due-date">
                        <div class="text-center">
                            <select name="PaymentDueDay" id="payment-due-day" class="form-control" data-val-required="Payment Due Day is required."
                                    data-val="true" data-bind="value: PaymentDueDay" data-value-number="The field Payment Due Day must be a number.">
                                <option value="">--Payment Due Day--</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="31">Last Day of Month</option>
                            </select>
                        </div>
                    </div>
                    <div class="row due-date-validation">
                        <div class="col-xs-12 text-center">@Html.ValidationSummary()</div>
                    </div>
                </form>
                <div class="text-center">
                    <button type="button" class="btn btn-primary" id="btnChangePaymentDueDateSubmit">Submit</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Exit</button>
                </div>
            </div>
        </div>
    </div>
</div>