﻿@model Ivh.Web.Client.Models.Search.GuarantorVisitsSearchFilterViewModel

<div class="alert alert-info collapse" data-bind="css: { collapse: RunResults() == false }">
    Click <strong>Run</strong> to update your results
</div>
<div class="row">
    <div class="col">
        Status
    </div>
    <div class="col">
        Visit Type
    </div>
    <div class="col">
        Date Range
    </div>
    <div class="col text-right">
        <button type="submit" class="btn btn-primary" id="btnGridFilterVisitsSubmit">Run</button>
    </div>
</div>
<div class="row">
    <div class="col" id="divFilterVisitState">@Html.DropDownList("VisitStateIds", Model.VisitStates, new { @class = "form-control hidden", multiple = "multiple" })</div>
    <div class="col">@Html.DropDownListFor(m => m.BillingApplication, Model.BillingApplications, "All", new { @class = "form-control", data_bind = "value: BillingApplication" })</div>
    <div class="col">
        <div class="input-group date">
            @Html.VpTextBoxFor(m => m.VisitDateRangeFrom, new { data_bind = "value: VisitDateRangeFrom" })
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
        <div class="input-group date">
            @Html.VpTextBoxFor(m => m.VisitDateRangeTo, new { data_bind = "value: VisitDateRangeTo" })
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
    </div>
    <div class="col text-right"><button type="button" class="btn btn-primary" id="btnGridFilterVisitsReset">Reset</button></div>
</div>
<div class="row">
    <div class="col"></div>
    <div class="col"></div>
    <div class="col">@Html.ValidationSummary("Invalid Date Range", true)</div>
    <div class="col text-right"><input type="image" title="Export To Excel" id="btnVisitsExport" src="~/Content/Images/excel.png" class="export-excel" /></div>
</div>
