﻿@model Ivh.Web.Client.Models.Search.GuarantorAccountViewModel

<section id="section-communications">
    <form class="jqGridFilter container" id="jqGridFilterCommunications" autocomplete="off">
        <div class="alert alert-info collapse" data-bind="css: { collapse: RunResults() == false }">
            Click <strong>Run</strong> to update your results
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col">Communications in the Past</div>
            <div class="col">
                @Html.DropDownListFor(m => m.GuarantorCommunicationsFilter.DateRangeFrom, Model.GuarantorCommunicationsFilter.DateRanges, new { @class = "form-control", data_bind = "value: DateRangeFrom" })
            </div>
            <div class="col text-right">
                <button type="submit" class="btn btn-primary" id="btnGridFilterCommunicationsSubmit">Run</button>
            </div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col">Date Range</div>
            <div class="col">
                <div class="input-group date">
                    @Html.VpTextBoxFor(m => m.GuarantorCommunicationsFilter.CommunicationDateRangeFrom, new { data_bind = "value: CommunicationDateRangeFrom" })
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
                <div class="input-group date">
                    @Html.VpTextBoxFor(m => m.GuarantorCommunicationsFilter.CommunicationDateRangeTo, new { data_bind = "value: CommunicationDateRangeTo" })
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
            <div class="col text-right">
                <button type="reset" class="btn btn-primary" id="btnGridFilterCommunicationsReset">Reset</button>
            </div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col">@Html.ValidationSummary("Invalid Date Range", true)</div>
            <div class="col text-right"><input type="image" title="Export To Excel" id="btnCommunicationsExport" src="~/Content/Images/excel.png" /></div>
        </div>
    </form>
    <table id="jqGridCommunications"></table>
    <div id="jqGridCommunicationsPager"></div>
    <div id="jqGridCommunicationsNoRecords" class="alert alert-info collapse text-center">
        <strong>There are no communications to display in the timeframe specified. You can search for other communications with the filters above.</strong>
    </div>
</section>