﻿@using Ivh.Common.Web.Models.Statement
@model StatementDropdownListViewModel

@{
    //WARNING: COUPLING -- changes to this file should be kept in sync between Client and Patient
}

<div class="row grid-row">
    <div class="col">
        <label for="btnDownloadStatement">@Html.Raw(Model.StatementType):</label>
    </div>
    <div class="col">
        <div class="dropdown">
            @{
                string statementDate = Model.NotArchivedStatements.Any() ? Model.NotArchivedStatements.First().StatementDate : "";
                string snapTotal = Model.NotArchivedStatements.Any() ? Model.NotArchivedStatements.First().DisplayStatementBalance : "";
            }
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" title="Download Previous Statements" id="btnDownloadStatement">
                <span data-bind="text: StatementedSnapshotTotalBalance()||'@snapTotal'" class="balance"></span>
                <span data-bind="text: StatementDate()||'@statementDate'"></span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                @{
                    foreach (IStatementListItemViewModel statement in Model.NotArchivedStatements)
                    {
                        <li>
                            @Html.Hidden("statementId", statement.StatementId ?? statement.FinancePlanStatementId)
                            @Html.Hidden("statementBalance", statement.DisplayStatementBalance)
                            @Html.Hidden("statementDate", statement.StatementDate)

                            <span>@statement.DisplayStatementBalance</span>
                            <span>@statement.StatementDate</span>
                        </li>
                    }
                    if (Model.ArchivedStatements.Any())
                    {
                        <li class="archived-separator"><em>Archived Statements</em></li>
                        foreach (IStatementListItemViewModel statement in Model.ArchivedStatements)
                        {
                            <li>
                                @Html.Hidden("statementId", statement.StatementId)
                                @Html.Hidden("statementBalance", statement.DisplayStatementBalance)
                                @Html.Hidden("statementDate", statement.StatementDate)
                                <span>@statement.DisplayStatementBalance</span>
                                <span>@statement.StatementDate</span>
                            </li>
                        }
                    }
                }
            </ul>
        </div>
    </div>
    <div class="col">
        <button id="" class="btn btn-primary btn-download" type="button" title="Download Previous Statements">
            Download
            @Html.Hidden("statementId", Model.NotArchivedStatements.Any() ? Model.NotArchivedStatements.First().StatementId ?? Model.NotArchivedStatements.First().FinancePlanStatementId : 0)
        </button>
    </div>

</div>