﻿@model Ivh.Web.Client.Models.Search.EmulateUserViewModel
@{
    Layout = "~/Views/Shared/_LayoutEmulate.cshtml";
}
@section emulate
{
    <div class="emulate-header">
        <div class="emulate">
            <div>Emulating <strong>@Model.EmulateUserName</strong></div>
            <button id="btnStopEmulate" class="btn btn-primary stop-emulate">Stop Emulating</button>
        </div>
    </div>
}

    <iframe id="ifr" src="" style="position: absolute; left: -7px; top: 6px; width: 1023px;"></iframe>

@section scripts
{
    <script type="text/javascript">

        $(document).ready(function() {
            var action = function() {
                $('#ifr').css('height', $('#wrapper').outerHeight() - 93 - 48);
            };
            action();
            $(window).on('resize', action);
            $('#ifr').attr('src', '@Model.Url');

            $(document).on('click', '#btnStopEmulate', function(e) {
                e.preventDefault();
                window.location.href = '@Url.Action("GuarantorAccount", new {id = Model.EmulateGuarantorId})';
            });
        });

    </script>
}
