﻿@using Ivh.Application.Settings.Common.Dtos
@using Ivh.Common.Base.Utilities.Extensions
@using Ivh.Web.Client.Models.Admin
@using Ivh.Web.Client.Models.Search
@model GuarantorAccountViewModel

@{
    bool chatEnabled = IsFeatureEnabled(VisitPayFeatureEnum.FeatureChatIsEnabled) && (User.IsInRole(VisitPayRoleStrings.Csr.ChatOperator) || User.IsInRole(VisitPayRoleStrings.Csr.ChatOperatorAdmin));
    bool accountActive = !Model.IsClosedOrCancelled;
    bool hasHsGuarantorMatches = Model.HsGuarantorIdsCount > 0;
    bool unmatchOptionAvailable = accountActive && hasHsGuarantorMatches;
}

@section breadcrumbs {
    <ul>
        <li>@ClientDto.ClientBrandName</li>
        <li>Account Details</li>
    </ul>
}

<section id="section-guarantoraccount">
    @Html.HiddenFor(m => m.UserVisitPayUserId)
    @Html.HiddenFor(m => m.UserVisitPayUserGuid)
    @Html.HiddenFor(m => m.VpGuarantorId)
    @Html.HiddenFor(m => m.AccountClosedDate)
    @Html.HiddenFor(m => m.PaymentDueDateDisplay)
    @Html.HiddenFor(m => m.GracePeriod)
    @Html.HiddenFor(m => m.PaymentDueDayChanges)
    @Html.HiddenFor(m => m.VpGuarantorTypeId)
    <div class="account-details container-fluid">
        <div class="row">
            <div class="col-xs-4">
                <strong>Guarantor: @Model.UserFullNameDisplay  </strong>
                @if (Model.IsLocked || Model.LockoutReasonEnum != null)
                {
                    <em title="@Model.LockoutMessage" class="glyphicon glyphicon-lock"></em>
                }
            </div>
            <div class="col-xs-4">
                <strong>@ClientDto.ActionableBalanceTextLongTitle: @Model.TotalBalance.FormatCurrency()</strong>
            </div>
            <div class="col-xs-4">
                <select class="form-control pull-right account-actions">
                    <option value="none">-- Select Action --</option>
                    @if (Model.IsOfflineUser)
                    {
                        if (User.IsInRole(VisitPayRoleStrings.Csr.CallCenter))
                        {
                            if (!Model.IsClosedOrCancelled)
                            {
                                <option value='offlinefp'>Create Finance Plan</option>
                                <option value='payment'>@Html.TextRegion(TextRegionConstants.MakePayment)</option>
                                <option value='resendtemporaryloginlink'>Resend Login Link</option>
                                <option value='paymentMethods'>Manage Payment Methods</option>
                                <option value='accountsettings'>View/Edit Account Settings</option>
                                <option value='cancelaccount'>Cancel Account</option>
                                if (unmatchOptionAvailable)
                                {
                                    @Html.VpRoleHtml("<option value='unmatch'>Unmatch Guarantor</option>", User, VisitPayRoleStrings.Miscellaneous.Unmatch)
                                }

                            }
                            else if (!Model.AccountReactivationDate.HasValue)
                            {
                                <option value='reactivateaccount'>Reactivate Account</option>
                            }
                        }
                    }
                    else
                    {
                        if (!Model.IsClosedOrCancelled)
                        {
                            @Html.VpRoleHtml("<option value='payment'>" + Html.TextRegion(TextRegionConstants.MakePayment) + "</option>", User, VisitPayRoleStrings.Csr.ArrangePayment)
                            @Html.VpRoleHtml("<option value='emulate'>Emulate User (view only)</option>", User, VisitPayRoleStrings.Csr.CSR, VisitPayRoleStrings.Csr.UserAdmin, VisitPayRoleStrings.Csr.SupportAdmin, VisitPayRoleStrings.Csr.SupportView)

                            @Html.VpRoleHtml("<option value='cancelaccount'>Cancel Account</option>", User, VisitPayRoleStrings.Csr.UserAdmin)

                            if (unmatchOptionAvailable)
                            {
                                @Html.VpRoleHtml("<option value='unmatch'>Unmatch Guarantor</option>", User, VisitPayRoleStrings.Miscellaneous.Unmatch)
                            }

                            if (Model.GuarantorConsolidationStatus != GuarantorConsolidationStatusEnum.Managed)
                            {
                                @Html.VpRoleHtml("<option value='duedate'>Change Payment Due Day</option>", User, VisitPayRoleStrings.Csr.ChangePaymentDueDay)
                            }

                            if (IsFeatureEnabled(VisitPayFeatureEnum.GuarantorSecurityQuestionsIsEnabled))
                            {
                                @Html.VpRoleHtml("<option value='viewsecurityquestions'>View Security Questions</option>", User, VisitPayRoleStrings.Csr.CSR, VisitPayRoleStrings.Csr.UserAdmin, VisitPayRoleStrings.Csr.SupportView, VisitPayRoleStrings.Csr.SupportAdmin, VisitPayRoleStrings.Payment.PaymentRefund, VisitPayRoleStrings.Payment.PaymentVoid)
                            }

                            @Html.VpRoleHtml("<option value='requestPassword'>Reset Password</option>", User, VisitPayRoleStrings.Csr.CSR, VisitPayRoleStrings.Csr.UserAdmin, VisitPayRoleStrings.Csr.SupportAdmin, VisitPayRoleStrings.Csr.SupportView)

                            @Html.VpRoleHtml("<option value='accountsettings'>View/Edit Account Settings</option>", User, VisitPayRoleStrings.Csr.CSR, VisitPayRoleStrings.Csr.UserAdmin, VisitPayRoleStrings.Csr.SupportView, VisitPayRoleStrings.Csr.SupportAdmin)

                            if (IsFeatureEnabled(VisitPayFeatureEnum.MyChartSso, VisitPayFeatureEnum.HealthEquityShowOutboundSso))
                            {
                                @Html.VpRoleHtml("<option value='managesso'>Manage Single Sign-On</option>", User, VisitPayRoleStrings.Csr.CSR, VisitPayRoleStrings.Csr.UserAdmin, VisitPayRoleStrings.Csr.SupportView, VisitPayRoleStrings.Csr.SupportAdmin)
                            }

                            @Html.VpRoleHtml("<option value='phoneTextSettings'>" + (IsFeatureEnabled(VisitPayFeatureEnum.Sms) ? "Phone and Text Settings" : "Phone Settings") + "</option>", User, VisitPayRoleStrings.Csr.CSR, VisitPayRoleStrings.Csr.UserAdmin, VisitPayRoleStrings.Csr.SupportAdmin, VisitPayRoleStrings.Csr.SupportView)

                            if (Model.IsDisabled)
                            {
                                @Html.VpRoleHtml("<option value='enableAccount'>Enable Account</option>", User, VisitPayRoleStrings.Miscellaneous.IvhAdmin)
                            }
                            else
                            {
                                @Html.VpRoleHtml("<option value='disableAccount'>Disable Account</option>", User, VisitPayRoleStrings.Miscellaneous.IvhAdmin)
                            }
                        }

                        if (Model.IsClosedOrCancelled && !Model.AccountReactivationDate.HasValue)
                        {
                            @Html.VpRoleHtml("<option value='reactivateaccount'>Reactivate Account</option>", User, VisitPayRoleStrings.Csr.UserAdmin)
                        }
                    }
                </select>
                <strong>Account Actions:</strong>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <div class="pull-right">
                    @if (IsFeatureEnabled(VisitPayFeatureEnum.MyChartSso))
                    {
                        string managedSsos = "";
                        foreach (KeyValuePair<string, string> managedSso in Model.ManagedSso)
                        {
                            managedSsos = managedSsos + managedSso.Key + ": " + managedSso.Value + "<br />";
                        }

                        <a href="javascript:;" data-html="true" data-toggle="tooltip" data-placement="top" title="@managedSsos">View SSO</a>
                    }
                    @{
                        string hsGuarantorIds = string.IsNullOrEmpty(Model.HsGuarantorIds) ? string.Format("No {0}s found", ClientDto.HsGuarantorPatientIdentifier) : Model.HsGuarantorIds;
                    }
                    <a href="javascript:;" data-toggle="tooltip" data-placement="top" title="@hsGuarantorIds">View @ClientDto.HsGuarantorPatientIdentifier</a>
                </div>
                @ClientDto.VpGuarantorPatientIdentifier: @Model.VpGuarantorId
            </div>
            <div class="col-xs-4">Username: @Model.UserNameDisplay</div>
            <div class="col-xs-4">
                Consolidation Status:
                @if (Model.IsConsolidated)
                {
                    <a href="javascript:;" id="aConsolidationStatus" title="View Consolidation History">@Model.GuarantorConsolidationStatusDisplay</a>
                }
                else
                {
                    @Model.GuarantorConsolidationStatusDisplay
                }
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" title="@Model.UserAddress">Street: @Model.UserAddress</div>
            <div class="col-xs-4 account-email">Notif. Email: <span title="@Model.UserEmail">@Model.UserEmail</span></div>
            <div class="col-xs-4">
                Prim Payment Method:
                @if (Model.PaymentMethods.Count > 1)
                {
                    <a href="javascript:;" id="aPaymentMethod">@Model.PrimaryPaymentMethodDisplay</a>
                }
                else
                {
                    @Model.PrimaryPaymentMethodDisplay
                }
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">City: @Model.UserCity</div>
            @if (Model.LastPaymentDate.HasValue && Model.LastPaymentAmount.HasValue)
            {
                <div class="col-xs-4">Last Payment Amount: @Model.LastPaymentAmount.Value.ToString("C") (@Model.LastPaymentDate.Value.ToString("MM/dd/yyyy"))</div>
            }
            else
            {
                <div class="col-xs-4">Last Payment Amount: N/A</div>
            }

            @if (Model.HasPendingPayments)
            {
                <div class="col-xs-4">
                    Pending Payments: Yes
                </div>
            }
            else
            {
                <div class="col-xs-4">
                    Pending Payments: No
                </div>
            }
        </div>
        <div class="row">
            <div class="col-xs-4">
                <div class="pull-right">Zip: @Model.UserZip</div>
                State: @Model.UserState
            </div>
            <div class="col-xs-4">
                Payment Due Date:
                @if (Model.PaymentDueDate.HasValue && Model.PaymentDueDayChanges > 0)
                {
                    <a href="javascript:;" id="paymentDueDayChanges" class="pull-right" data-toggle="tooltip" data-placement="right" title="View payment due day modification history">@Model.PaymentDueDayChanges Date Changes</a>
                }
                @Model.PaymentDueDateDisplay

            </div>
            <div class="col-xs-4">Last Login: @Model.LastLoginDateDisplay</div>
        </div>
        <div class="row">
            <div class="col-xs-4">Primary Phone: @Model.UserPhoneNumber</div>
            <div class="col-xs-4">Last Statement Date: @Model.LastStatementDateDisplay</div>
            <div class="col-xs-4">Registration Date: @Model.RegistrationDateDisplay</div>
        </div>
        <div class="row">
            <div class="col-xs-4">Secondary Phone: @Model.UserPhoneNumberSecondaryDisplay</div>
            <div class="col-xs-4">Next Statement Date: @Model.NextStatementDateDisplay</div>
            <div class="col-xs-4">
                @if (Model.ShowAccountClosedText)
                {
                    if (Model.AccountClosedText.Contains("<br/>"))
                    {
                        <p class="account-closed account-closed-multiline">
                            @Html.Raw(Model.AccountClosedText)
                        </p>
                    }
                    else
                    {
                        <p class="account-closed">
                            @Html.Raw(Model.AccountClosedText)
                        </p>
                    }

                }
                else
                {
                    <span class="action-required">&nbsp;</span>
                }
            </div>
        </div>
        <div class="row">
            @{
                ClientCultureInfoDto userLocale = ClientDto.LanguageAppSupported.FirstOrDefault(x => x.Name == Model.Locale);
                if (userLocale == null)
                {
                    //Get default locale
                    userLocale = ClientDto.LanguageAppSupported.FirstOrDefault(x => x.Name == ClientDto.LanguageAppDefaultName);
                }
                string userLocaleDisplay = userLocale.Description;
            }
            <div class="col-xs-4">User Display Language: @userLocaleDisplay </div>
            <div class="col-xs-4">Communication Preference: @Model.GetCommunicationPreferences</div>
            <div class="col-xs-4">Payment Preference: @Model.GetAutoPayPreference</div>
        </div>
    </div>
</section>

@Html.Action("GetFilter", "GuarantorFilter", new { currentVisitPayUserId = Model.UserVisitPayUserId })

<section id="section-guarantordata">
    <ul class="nav nav-tabs">
        @Html.VpRoleHtml("<li id=\"liTabVisits\"><a href=\"#tabVisits\" title=\"Visits\">Visits<span class=\"invisible\"></span></a></li>", User, Model.RolesVisits)
        @Html.VpRoleHtml("<li id=\"liTabPayments\"><a href=\"#tabPayments\" title=\"Payments\">Payments<span class=\"invisible\"></span></a></li>", User, Model.RolesPayments)
        @Html.VpRoleHtml("<li id=\"liTabFinancePlans\"><a href=\"#tabFinancePlans\" title=\"Finance Plans\">Finance Plans<span class=\"invisible\"></span></a></li>", User, Model.RolesVisits)
        @*Html.VpRoleHtml("<li id=\"liTabTransactions\"><a href=\"#tabTransactions\" title=\"Transactions\">Transactions<span class=\"invisible\"></span></a></li>", User, Model.RolesVisits)*@
        @Html.VpRoleHtml("<li id=\"liTabSupportHistory\"><a href=\"#tabSupportHistory\" title=\"Support history\">Support History<span class=\"invisible\"></span></a></li>", User, Model.RolesVisits)
        @if (chatEnabled)
        {
            <li id="liTabChatHistory"><a href="#tabChatHistory" title="Chat History">Chat History<span class="invisible"></span></a></li>
        }
        @Html.VpRoleHtml("<li id=\"liTabStatements\"><a href=\"#tabStatements\" title=\"Statements\">Statements<span class=\"invisible\"></span></a></li>", User, Model.RolesPayments)
        @if (IsFeatureEnabled(VisitPayFeatureEnum.Itemization))
        {
            @Html.VpRoleHtml("<li id=\"liTabItemizations\"><a href=\"#tabItemizations\" title=\"Itemizations\">Itemizations<span class=\"invisible\"></span></a></li>", User, Model.RolesItemizations)
        }
        @Html.VpRoleHtml("<li id=\"liTabCommunications\"><a href=\"#tabCommunications\" title=\"Communications\">Communications<span class=\"invisible\"></span></a></li>", User, Model.RolesVisits)
        @if (IsFeatureEnabled(VisitPayFeatureEnum.Consolidation))
        {
            <li id="liTabConsolidation"><a href="#tabConsolidation" title="Consolidation">Consolidation<span class="invisible"></span></a></li>
        }
        @Html.VpRoleHtml("<li id=\"liTabAccountHistory\"><a href=\"#tabAccountHistory\" title=\"Account History\">Account History<span class=\"invisible\"></span></a></li>", User, new string[] { VisitPayRoleStrings.Restricted.AuditEventLogViewer })
    </ul>
    <div class="tab-content">
        <div class="tab-pane" id="tabVisits">
            @Html.Partial("_GuarantorVisits", Model)
        </div>
        <div class="tab-pane" id="tabPayments">
            @Html.Partial("_GuarantorPayments", Model)
        </div>
        <div class="tab-pane" id="tabFinancePlans">
            @Html.Partial("_GuarantorFinancePlans", Model)
        </div>
        <div class="tab-pane" id="tabTransactions">
            @Html.Partial("_GuarantorTransactions", Model)
        </div>
        <div class="tab-pane" id="tabSupportHistory">
            @Html.Partial("_GuarantorSupportHistory", Model)
        </div>
        @if (chatEnabled)
        {
            <div class="tab-pane" id="tabChatHistory">
                @Html.Partial("_GuarantorChatHistory", Model)
            </div>
        }
        <div class="tab-pane" id="tabStatements">
            <section id="section-statements">
                @Html.Partial("_GuarantorStatements", Model.Statements)
            </section>
        </div>
        @if (IsFeatureEnabled(VisitPayFeatureEnum.Itemization))
        {
            <div class="tab-pane" id="tabItemizations">
                @Html.Partial("~/Views/Itemization/_Itemizations.cshtml")
            </div>
        }
        <div class="tab-pane" id="tabCommunications">
            @Html.Partial("_GuarantorCommunications", Model)
        </div>
        @if (IsFeatureEnabled(VisitPayFeatureEnum.Consolidation))
        {
            <div class="tab-pane" id="tabConsolidation">
                <div></div>
            </div>
        }
        @if (this.User.IsInRole(VisitPayRoleStrings.Restricted.AuditEventLogViewer))
        {
            <div class="tab-pane" id="tabAccountHistory">
                @Html.Partial("~/Views/Admin/_AuditEventLog.cshtml", new JournalEventFilterViewModel()
                {
                    JournalEventTypes = Enum.GetValues(typeof(JournalEventTypeEnum)).Cast<JournalEventTypeEnum>().Select(s => new SelectListItem { Value = ((int)s).ToString(), Text = String.Format("{0}: {1}", (int)s, s) }).ToList(),
                    JournalEventCategories = Enum.GetValues(typeof(JournalEventCategoryEnum)).Cast<JournalEventCategoryEnum>().Select(s => new SelectListItem { Value = ((int)s).ToString(), Text = String.Format("{0}: {1}", (int)s, s) }).ToList(),
                    VpGuarantorId = Model.VpGuarantorId,
                    HideVpGuarantorFilter = true
                })
            </div>
        }

    </div>
</section>
<div id="tooltip-paymentMethods" style="display: none;">
    @foreach (GuarantorAccountPaymentMethodViewModel paymentMethod in Model.PaymentMethods.Where(x => !x.IsPrimary))
    {
        <div>@paymentMethod.DisplayText</div>
    }
</div>

@section modals {
    <div id="modalVisitTransactionsContainer"></div>
    <div id="modalVisitStateHistoryContainer"></div>
    <div id="modalFinancePlanVisitsContainer"></div>
    <div id="modalFinancePlanInterestRateHistoryContainer"></div>
    <div id="modalFinancePlanLogContainer"></div>
    <div id="modalCreateSupportRequestContainer"></div>
    <div id="modalChatHistoryDetailsContainer"></div>
    <div id="modalCommunicationEventsContainer"></div>
    <div id="modalCommunicationContentContainer"></div>
    <div id="modalChangePaymentDueDayContainer"></div>
    <div id="modalEditAccountSettingsContainer"></div>
    <div id="modalPaymentDueDayHistoryContainer"></div>
    <div id="modalPaymentDetailContainer"></div>
    <div id="modalJournalEventLogDetailsContainer"></div>

    <div id="modalPaymentRescheduleContainer">@Html.Partial("~/Views/Payment/_PaymentReschedule.cshtml")</div>

    <div id="modalAlertsContainer"></div>
    <div id="modalViewSecurityQuestionsContainer"></div>
    <div id="modalEmailResendContainer"></div>
    @Html.Partial("~/Views/Payment/_PaymentRefund.cshtml")
}

@section scripts {
    @Scripts.Render(
    "~/bundles/scripts/support/createsupportrequest",
    "~/bundles/scripts/payment/mypayments",
    "~/bundles/scripts/search/guarantoraccount")

    @if (IsFeatureEnabled(VisitPayFeatureEnum.OfflineVisitPay))
    {
        @Scripts.Render(BundleConstants.OfflineGuarantorAccount)
    }

    @if (this.User.IsInRole(VisitPayRoleStrings.Restricted.AuditEventLogViewer))
    {
        @Scripts.Render("~/bundles/scripts/admin/auditeventlog")
        <script>
            (function() {
                var journalEventLogFilter = new window.VisitPay.JournalEventLogFilter.Main(
                    @Html.Raw(
                        Newtonsoft.Json.JsonConvert.SerializeObject(
                            new JournalEventFilterViewModel()
                            {
                                VpGuarantorId = Model.VpGuarantorId,
                                HideVpGuarantorFilter = true
                            }
                            )
                        )
                );
            })();
        </script>
    }
}