﻿@model Ivh.Web.Client.Models.Search.SearchGuarantorsSearchFilterViewModel

@*@section breadcrumbs {
        <ul>
            <li>@base.ClientDto.ClientBrandName</li>
            <li>Search Guarantors</li>
        </ul>
    }

    <h1 class="bar">
        Search Guarantors
        <input type="image" title="Export To Excel" id="btnGuarantorsExport" src="~/Content/Images/excel.png" class="export-excel" />
    </h1>*@
<section id="section-searchguarantors">
    <form class="jqGridFilter container" id="jqGridFilter" autocomplete="off">
        <div class="alert alert-info collapse" data-bind="css: { collapse: RunResults() == false }">
            Click <strong>Run</strong> to update your results
        </div>
        <div class="alert alert-info collapse" style="display: none" id="refineSearchMessage">
            More than 200 returned. Please refine your search
        </div>
        <div class="row">
            <div class="col-grid-filter col-xs-3">
                <div class="searchFilterContainer">
                    <div class="inner-row text-center primaryColor title"><strong>Who are you helping today?</strong></div>
                    <div class="inner-row">
                        <div class="col col60 form-label"><strong>@ClientDto.HsGuarantorPatientIdentifier</strong></div>
                        <div class="col form-label"><strong>Last 4 SSN</strong></div>
                    </div>
                    <div class="inner-row-control">
                        <div class="col col60 form-same-line">@Html.VpTextBoxFor(m => m.HsGuarantorId, new { data_bind = "value: HsGuarantorId" })</div>
                        <div class="col col38 form-same-line">@Html.VpTextBoxFor(m => m.Ssn4, new { data_bind = "value: Ssn4", data_numeric = true, maxlength = 4 })</div>
                    </div>
                    <div class="inner-row">
                        <div class="col form-label"><strong>Last Name</strong></div>
                    </div>
                    <div class="inner-row-control">
                        <div class="col">@Html.VpTextBoxFor(m => m.LastName, new { data_bind = "value: LastName" })</div>
                    </div>
                    <div class="inner-row">
                        <div class="col form-label"><strong>First Name</strong></div>
                    </div>
                    <div class="inner-row-control">
                        <div class="col">@Html.VpTextBoxFor(m => m.FirstName, new { data_bind = "value: FirstName" })</div>
                    </div>
                    <div class="inner-row">
                        <div class="col form-label"><strong>@ClientDto.VpGuarantorPatientIdentifier</strong></div>
                    </div>
                    <div class="inner-row-control">
                        <div class="col">@Html.VpTextBoxFor(m => m.VpGuarantorId, new { data_bind = "value: VpGuarantorId", data_numeric = true })</div>
                    </div>
                    <div class="inner-row">
                        <div class="col form-label"><strong>Username or Email Address</strong></div>
                    </div>
                    <div class="inner-row-control">
                        <div class="col">@Html.VpTextBoxFor(m => m.UserNameOrEmailAddress, new { data_bind = "value: UserNameOrEmailAddress" })</div>
                    </div>
                    <div class="inner-row">
                        <div class="col form-label"><strong>Date Of Birth</strong></div>
                    </div>
                    <div class="inner-row-control">
                        <div class="col">@Html.VpTextBoxFor(m => m.DateOfBirth, new { data_bind = "value: DateOfBirth", data_format = "YYYY-MM-DD", data_template = "MMM DD YYYY" })</div>
                    </div>
                    <br />
                    <div class="inner-row-control">
                        <div class="center">
                            <button type="submit" class="btn btn-primary" id="btnGridFilterSubmit" title="Search">Search</button>
                        </div>
                    </div>
                    <div class="inner-row-control">
                        <div id="btnGridFilterReset" class="text-center">
                            <a class="col form-label form-same-line bold-link">Reset Form</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-grid col-xs-9">
                <table id="jqGrid"></table>
                <div id="jqGridPager"></div>
                <div id="jqGridNoRecords" class="alert alert-info text-center collapse">
                    <strong>There are no guarantors that match your search.</strong>
                </div>
                <div id="jqGridInitialMessage" class="alert alert-info text-center">
                    <strong>Complete at least one field in the search form to search guarantors.</strong>
                </div>
            </div>
        </div>
    </form>
</section>

@section scripts {
    @Scripts.Render("~/bundles/scripts/search/searchguarantors")

    <script type="text/javascript">
        (function () {
            var model = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));

            model = $.extend(model, {
                urls: {
                    search: '@Url.Action("SearchGuarantors", "Search")'
                }
            });

            var searchVpGuarantors = new window.VisitPay.SearchGuarantors.SearchVpGuarantors(model);
        })();
    </script>
}
