﻿@model MvcHtmlString
@*
    used in files:
    /Views/Payment/_ArrangePayment.cshtml
    /Views/FinancePlan/ReconfigureFinancePlan.cshtml
*@

<!-- ko ifnot: IsEditable -->
@if (!MvcHtmlString.IsNullOrEmpty(Model))
{
    <div class="client-offer">@Model</div>
}
<!-- /ko -->
<!-- ko if: IsEditable -->
    <form id="frmTerms" autocomplete="off" novalidate="novalidate">
        <div class="selector-heading text-center">
            @Html.CmsRegion(CmsRegionEnum.FinancePlanCustomizeText)
        </div>
        <div class="selector-row">
            <div class="selector amount-selector">
                <div class="selector-inner" data-bind="css: { 'active': OfferCalculationStrategy.IsMonthly, 'inactive': (UserNumberMonthlyPayments.Any() && !UserMonthlyPaymentAmount.Any()) }">
                    <label>
                        <input type="radio" name="strategy" data-bind="checked: OfferCalculationStrategy, checkedValue: 1" />
                        @Html.TextRegion(TextRegionConstants.MonthlyPayment)
                    </label>
                    <div>
                        <input id="MinimumMonthlyPaymentAmount" type="hidden" data-bind="value: MinimumPaymentAmount" />
                        <input id="UserMonthlyPaymentAmount"
                               name="UserMonthlyPaymentAmount"
                               class="form-control"
                               data-bind="value: UserMonthlyPaymentAmount, valueUpdate: ['afterkeydown', 'keyup']"
                               placeholder="@Html.TextRegion(TextRegionConstants.InstructionMonthlyPayment)"
                               data-placeholder="@Html.TextRegion(TextRegionConstants.InstructionMonthlyPayment)"
                               type="text"
                               tabindex="-1"
                               required />
                    </div>
                </div>
            </div>
            <div class="selector duration-selector">
                <div class="selector-inner" data-bind="css: { 'active': OfferCalculationStrategy.IsDuration, 'inactive': (UserMonthlyPaymentAmount.Any() && !UserNumberMonthlyPayments.Any()) }">
                    <label>
                        <input type="radio" name="strategy" data-bind="checked: OfferCalculationStrategy, checkedValue: 2" />
                        @Html.TextRegion(TextRegionConstants.NumberPaymentsLabel)
                    </label>
                    <div>
                        <input id="MaximumMonthlyPayments" type="hidden" data-bind="value: MaximumMonthlyPayments" />
                        <input id="UserNumberMonthlyPayments"
                               name="UserNumberMonthlyPayments"
                               class="form-control"
                               data-bind="value: UserNumberMonthlyPayments, valueUpdate: ['afterkeydown', 'keyup']"
                               placeholder="@Html.TextRegion(TextRegionConstants.InstructionNumberPayments)"
                               data-placeholder="@Html.TextRegion(TextRegionConstants.InstructionNumberPayments)"
                               type="text"
                               tabindex="-1"
                               required />
                    </div>
                </div>
            </div>
        </div>
        <!-- Terms Alert -->
        <div data-bind="with: Terms">
            <div class="alert alert-terms alert-arrow" 
                 data-bind="css: {'alert-arrow-left': $root.OfferCalculationStrategy.IsMonthly, 'alert-arrow-right': $root.OfferCalculationStrategy.IsDuration, 'error': ErrorMessage.Any }, visible: $root.ShouldShowTermsAlert">
                <p>
                    @Html.Raw(Html.TextRegion(TextRegionConstants.FinancePlanTermsQualify, new Dictionary<string, string>
                    {
                        {"[[MaximumMonthlyPayments]]", "<span data-bind=\"text: $root.MaximumMonthlyPayments\"></span>"},
                        {"[[MinimumPaymentAmount]]", "<span data-bind=\"currencyText: $root.MinimumPaymentAmount\"></span>"},
                    }))
                </p>
                <!-- ko if: ErrorMessage.Any -->
                <p data-bind="html: ErrorMessage"></p>
                <!-- /ko -->
            </div>
        </div>
        <div class="text-center">
            @Html.VpButton("btnFinancePlanCalculate", Html.TextRegion(TextRegionConstants.ButtonGetTerms), VpButtonTypeEnum.Submit, VpButtonClassEnum.Primary, new { data_bind = "visible: CanValidate" })
        </div>
    </form>
<!-- /ko -->
<div class="terms-container" data-bind="with: Terms">
    <!-- ko if: IsValid -->
    @Html.Partial("~/Views/Payment/_ArrangePaymentFinancePlanTerms.cshtml")
    <!-- /ko -->
</div>
