﻿@using Ivh.Common.Base.Utilities.Extensions
@using Ivh.Common.Web.Models.Account
@model Ivh.Common.Web.Models.FinancePlan.FinancePlanDetailsViewModel

@{
    string pastDueClass = Model.IsPastDue ? "past-due" : "";
    string detailsId = "fpWidgetDetails" + Model.FinancePlanId;
}

<section class="finance-plan-detail">
    <div class="details" data-id="@detailsId">
        <div class="row">
            <div class="col-xs-12 col-sm-6 left-column">
                <div class="row">
                    <span data-id="fpWidgetOriginatedFinancePlanBalance">@Model.OriginatedFinancePlanBalance</span>
                    @Html.TextRegion(TextRegionConstants.OriginalBalance)
                </div>
                <div class="row">
                    <span data-id="fpWidgetInterestAssessed">@Model.InterestAssessed</span>
                    @Html.TextRegion(TextRegionConstants.InterestCharged)
                </div>
                <div class="row">
                    <span data-id="fpWidgetInterestPaidToDate">@Model.InterestPaidToDate</span>
                    @Html.TextRegion(TextRegionConstants.InterestPaid)
                </div>
                <div class="row">
                    <span data-id="fpWidgetPrincipalPaidToDate">@Model.PrincipalPaidToDate</span>
                    @Html.TextRegion(TextRegionConstants.PrincipalPaid)
                </div>
                <div class="row">
                    <span data-id="fpWidgetAdjustments">@Model.AdjustmentsSinceOrigination</span>
                    @Html.TextRegion(TextRegionConstants.Adjustments)
                </div>
                <div class="row">
                    <span data-id="fpWidgetCurrentFinancePlanBalance"><strong>@Model.CurrentFinancePlanBalance</strong></span>
                    @Html.TextRegion(TextRegionConstants.FinancePlanBalance)
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 right-column">
                <div class="row">
                    <span data-id="fpWidgetOriginationDate">@Model.OriginationDate</span>
                    @Html.TextRegion(TextRegionConstants.EffectiveDate)
                </div>
                <div class="row">
                    <span data-id="fpWidgetCurrentInterestRate">@Model.CurrentInterestRate</span>
                    @Html.TextRegion(TextRegionConstants.CurrentInterestRate)
                </div>
                <div class="row" data-id="fpWidgetProjectedFinalPaymentText">
                    @if (!Model.IsPending && Model.IsRetailInstallmentContract && !IsFeatureEnabled(VisitPayFeatureEnum.FeatureDebrandedUiIsEnabled))
                    {
                        <a href="#CreditAgreement" data-offerid="@Model.FinancePlanOfferId" title="View @Html.TextRegion(ClientDto.CreditAgreementName)" class="pull-right">@Html.TextRegion(ClientDto.CreditAgreementName)</a>
                    }
                    @if (!Model.IsCanceled)
                    {
                        <strong>@Model.MonthsRemaining @Html.TextRegion(TextRegionConstants.MonthsRemaining)</strong>
                    }
                </div>
                @if (!Model.IsCanceled)
                {
                    <div class="row">
                        <span data-id="fpWidgetPaymentAmount">@Model.PaymentAmount</span>
                        @Html.TextRegion(TextRegionConstants.MonthlyPayment)
                    </div>
                    <div class="row @pastDueClass">
                        <span data-id="fpWidgetPastDueAmount">@Model.PastDueAmount</span>
                        @Html.TextRegion(TextRegionConstants.PastDueAmount)
                    </div>
                    <div class="row">
                        <span data-id="fpWidgetAmountDue"><strong>@Model.AmountDue</strong></span>
                        @Html.TextRegion(TextRegionConstants.NextPayment)
                    </div>
                }
            </div>
        </div>
    </div>
    @if (Model.Visits.IsNotNullOrEmpty())
    {
        <table class="modern-grid">
            <colgroup>
                <col />
                <col />
                <col />
            </colgroup>
            <thead>
            <tr>
                <td>@Html.TextRegion(TextRegionConstants.Visit)</td>
                <td class="text-right">@Html.TextRegion(TextRegionConstants.Balance)</td>
            </tr>
            </thead>
            <tbody>
            @foreach (VisitsSearchResultViewModel visit in Model.Visits)
            {
                <tr>
                    <td>
                        <a href="javascript:;" title="@visit.SourceSystemKeyDisplay" data-visitid="@visit.VisitId">@visit.SourceSystemKeyDisplay</a>
                    </td>
                    <td class="text-right">@visit.DisplayBalance</td>
                </tr>
            }
            </tbody>
        </table>
    }
</section>