﻿@using Ivh.Common.VisitPay.Constants
<div class="vpgrid-container vpgrid-container-expandable" id="gridFinancePlans" data-bind="css: { expanded: IsExpanded }">
    <div class="vpgrid-header" data-bind="click: IsExpanded.Toggle.bind($data, false)">
        <ul class="links" data-bind="visible: IsExpanded.Ready" style="display: none;">
            <li>@Html.ExportButton("btnFinancePlanHistoryExport", Html.TextRegion(TextRegionConstants.Export), new { data_bind = "visible: Grid.HasResults, click: Grid.Export, clickBubble: false" })</li>
        </ul>
        <h4>@Html.TextRegion(TextRegionConstants.FinancePlansPageHeading)</h4>
    </div>
    <div data-bind="visible: IsExpanded.Ready" style="display: none;">
        <div class="vpgrid vpgrid-clickable grid-finance-plan-history" data-bind="with: Grid">
            <!-- ko foreach: Data.Results -->
            <div class="row grid-row" title="@Html.TextRegion(TextRegionConstants.ViewFinancePlanDetails)" data-bind="css: { 'light': IsCanceled }">
                <div class="col" data-bind="text: OriginationDate"></div>
                <div class="col">
                    <span class="past-due past-due-indicator" data-bind="text: FinancePlanStatusFullDisplayName, css: { 'past-due past-due-indicator': IsPastDue() || IsUncollectable() }"></span>
                </div>
                <div class="col">
                    <span data-bind="text: InterestRate"></span> @Html.TextRegion(TextRegionConstants.APR)
                </div>
                <div class="col">
                    <!-- ko ifnot: IsCanceled -->
                    <span data-bind="text: PaymentAmount"></span>/@Html.TextRegion(TextRegionConstants.DobMonth).ToLower()
                    <!-- /ko -->
                </div>
                <div class="col">
                    <!-- ko if: IsCanceled -->
                    &nbsp;
                    <!-- /ko -->
                    <!-- ko ifnot: IsCanceled -->
                    <span data-bind="text: CurrentFinancePlanBalance"></span>
                    <!-- /ko -->
                </div>
            </div>
            <div class="row grid-detail"></div>
            <!-- /ko -->
            <!-- ko ifnot: HasResults -->
            @Html.GridAlert("", Html.TextRegion(TextRegionConstants.NoFinancePlans), visible: true)
            <!-- /ko -->
        </div>
    </div>
</div>
