﻿<div class="checkbox-styled">
    <input id="cbTermsOfUse" type="checkbox" data-bind="checked: TermsCmsVersionId.IsChecked, value: TermsCmsVersionId" />
    <label for="cbTermsOfUse">
        @if (IsFeatureEnabled(VisitPayFeatureEnum.FeatureDebrandedUiIsEnabled))
        {
            @Html.TextRegion(TextRegionConstants.AgreeToTerms)
        }
        else
        {
            <!-- ko if: TermsCmsVersionId.IsRetailInstallmentContract -->
            @Html.TextRegion(TextRegionConstants.AgreeToTermsOf)
            <!-- /ko-->
            <!-- ko ifnot: TermsCmsVersionId.IsRetailInstallmentContract -->
            @Html.TextRegion(TextRegionConstants.IHaveReadAndAcceptThe)
            <!-- /ko -->
            <a href="#CreditAgreement" title="@Html.TextRegion(ClientDto.CreditAgreementName)" data-bind="text: TermsCmsVersionId.TermsAgreementTitle, attr: { 'data-offerid': Terms().FinancePlanOfferId, 'title': TermsCmsVersionId.TermsAgreementTitle }"></a>
        }
    </label>
</div>
