﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.VisitPay.Enums
@*
    used in files:
    ~/Views/FinancePlan/ReconfigureFinancePlan.cshtml
    ~/Views/Payment/_ArrangePaymentFinancePlan.cshtml
*@

<div class="interest-rate-container">
    <!-- ko if: IsEditable -->
    <table class="interest-rates modern-grid">
        <colgroup>
            <col />
            <col />
        </colgroup>
        <thead>
            <tr>
                <td colspan="2">@Html.TextRegion(TextRegionConstants.FinanceTermsAvailable)</td>
            </tr>
        </thead>
        <tbody data-bind="foreach: InterestRates">
            <tr>
                <td class="text-right">
                    <span data-bind="text: DisplayText"></span> @Html.TextRegion(TextRegionConstants.Months)
                </td>
                <td>at <span data-bind="text: Rate"></span> APR</td>
            </tr>
        </tbody>
    </table>
    <!-- /ko -->
    <!-- ko if: ShowHsaInterestDisclaimer -->
    <div class="text-smaller text-light hsa-disclaimer">
        <p>@Html.TextRegion(TextRegionConstants.FinanceInterestDisclaimer)</p>
        <p>@Html.CmsRegion(CmsRegionEnum.HsaInterestDisclaimer)</p>
    </div>
    <!-- /ko -->
</div>
