﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.VisitPay.Enums
@model Ivh.Common.Web.Models.FinancePlan.ReconfigureFinancePlanViewModel

<section id="reconfigure-finance-plan" style="visibility: hidden;">
    @if (Model.HasErrorMessage)
    {
        <div class="alert alert-danger text-center">@Html.Raw(Model.ErrorMessage)</div>
    }
    else
    {
        <div class="alert alert-danger text-center" data-bind="visible: IsError">@Html.TextRegion(TextRegionConstants.ErrorHasOccurred)</div>
        <div class="flex-row">
            <div class="col-left" data-bind="css: { 'na': !IsEditable() }">
                @Html.Partial("~/Views/FinancePlan/_InterestRates.cshtml")
            </div>
            <div class="col-main">
                <div class="balances">
                    <div class="balance">
                        <div class="title">@Html.TextRegion(TextRegionConstants.FinanceNewCharges)</div>
                        <div class="amount">@Model.CurrentFinancePlanNewCharges</div>
                    </div>
                    <div class="balance">
                        <div class="title">@Html.TextRegion(TextRegionConstants.CurrentBalance)</div>
                        <div class="amount">@Model.CurrentFinancePlanBalance</div>
                    </div>
                    <div class="balance">
                        <div class="title">@Html.TextRegion(TextRegionConstants.FinanceTotal)</div>
                        <div class="amount">@Model.NewFinancePlanBalance</div>
                    </div>
                </div>
                <div class="terms-calculate modern-form">
                    @Html.Partial("~/Views/FinancePlan/_FinancePlanTermsCalculate.cshtml", Html.CmsRegion(CmsRegionEnum.ClientReconfiguredFinancePlan))
                    <div class="text-center">
                        <!-- ko if: Terms().IsValid -->
                        @Html.Partial("~/Views/FinancePlan/_FinancePlanTermsAgree.cshtml")
                        <!-- /ko -->
                    </div>
                    <br />
                    <div class="text-center">
                        <!-- ko if: IsEditable -->
                        @Html.VpButton("btnReconfigureSubmit", Html.TextRegion(TextRegionConstants.ButtonReconfigureSubmit), VpButtonTypeEnum.Submit, VpButtonClassEnum.Primary, new { data_bind = "enable: IsValid" })
                        <!-- /ko -->
                        <!-- ko ifnot: IsEditable -->
                        @Html.VpButton("btnReconfigureSubmit", Html.TextRegion(TextRegionConstants.ButtonReconfigureAccept), VpButtonTypeEnum.Submit, VpButtonClassEnum.Primary, new { data_bind = "enable: IsValid" })
                        <br /><br />
                        @Html.VpButton("btnReconfigureCancel", Html.TextRegion(TextRegionConstants.ButtonReconfigureDecline), VpButtonTypeEnum.Button, VpButtonClassEnum.DefaultOutline)
                        <!-- /ko -->
                    </div>
                </div>
            </div>
            <div class="col-footer">
                @Html.Partial("~/Views/FinancePlan/_InterestRates.cshtml")
            </div>
        </div>
    }
</section>
