﻿@model Ivh.Web.Patient.Models.Survey.SurveyResultAnswerViewModel


<div class="question-text">
    @Html.Raw(Model.QuestionText)
</div>

<div class="form-group">
    @Html.HiddenFor(model => model.SurveyQuestionId)
    @Html.HiddenFor(model => model.QuestionText, new { Value = @Html.Raw(Server.HtmlDecode(Model.QuestionText)) })

    @if (Model.SurveyRatingGroupId == (int)SurveyRatingGroupTypeEnum.NetPromoterScoreFormat)
    {
        <div class="nps-container">
            <div class="number-box-rating-container">
                @foreach (int i in Model.SurveyRatingScores)
                {
                    string radioId = string.Format("question_id_{0}{1}", Model.SurveyQuestionId, i);
                    <label class="btn">
                        @i
                        @Html.RadioButtonFor(model => Model.SurveyQuestionRating, i, new { autocomplete = "off" })
                    </label>
                }
                <div class="nps-rating-descriptions">
                    <div class="nps-rating-description-not-likely">@Html.TextRegion(TextRegionConstants.SurveyNotLikely)</div>
                    <div class="nps-rating-description-likely">@Html.TextRegion(TextRegionConstants.SurveyVeryLikely)</div>
                </div>
            </div>

            <div class="text-danger survey-validation">
                @Html.TextRegion(TextRegionConstants.PleaseCompleteBeforeSubmitting)
            </div>
        </div>
    }

    @{ string boxRatingWidth = (Model.SurveyRatingGroupId == (int) SurveyRatingGroupTypeEnum.TimeOnTaskFormat
                                || Model.SurveyRatingGroupId == (int) SurveyRatingGroupTypeEnum.CustomerEffortScoreFormat) ?
           "seven-point-box-rating-width" :
           "five-point-box-rating-width";}
  
      @if (Model.SurveyRatingGroupId == (int)SurveyRatingGroupTypeEnum.TimeOnTaskFormat
           || Model.SurveyRatingGroupId == (int)SurveyRatingGroupTypeEnum.CustomerEffortScoreFormat
          || Model.SurveyRatingGroupId == (int)SurveyRatingGroupTypeEnum.AgreeDisagreeSurveyFormat)
    {

        <div class="customer-effort-container">
            <div class="number-box-rating-container @boxRatingWidth">

                <div class="rating-description-on-left">@Model.SurveyRatingGroupViewModel.SurveyRatings.Select(x => x.SurveyRatingDescription).First()</div>

                @foreach (int i in Model.SurveyRatingScores)
                {
                    string radioId = string.Format("question_id_{0}{1}", Model.SurveyQuestionId, i);
                    <label class="btn">
                        @i
                        @Html.RadioButtonFor(model => Model.SurveyQuestionRating, i, new { autocomplete = "off" })
                    </label>
                }

                <div class="rating-description-on-right">@Model.SurveyRatingGroupViewModel.SurveyRatings.Select(x => x.SurveyRatingDescription).Last()</div>
            </div>
        </div>
    }

</div>