﻿@using Ivh.Web.SettingsManager.Constants
@using Microsoft.AspNetCore.Authorization

@inject IAuthorizationService Authorization
@{ AuthorizationResult canViewSettings = await Authorization.AuthorizeAsync(User, Policy.ViewSettings);}
@{ AuthorizationResult canAddSettings = await Authorization.AuthorizeAsync(User, Policy.AddSettings);}
@{ AuthorizationResult canOverrideSettings = await Authorization.AuthorizeAsync(User, Policy.OverrideSettings);}
@{ AuthorizationResult canDeployLocalSettings = await Authorization.AuthorizeAsync(User, Policy.DeployLocalSettings);}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Settings Manager</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/jquery-bootgrid/css/jquery.bootgrid.css" />
        <link rel="stylesheet" href="~/lib/difflib/css/diffview.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/lib/jquery-bootgrid/css/jquery.bootgrid.min.css" />
        <link rel="stylesheet" href="~/lib/difflib/css/diffview.min.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Settings Manager</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    @if (canViewSettings.Succeeded)
                    {
                        <li><a asp-area="" asp-controller="Home" asp-action="Find">View</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Compare">Compare</a></li>
                    }
                    @if (canAddSettings.Succeeded)
                    {
                        <li><a asp-area="" asp-controller="Settings" asp-action="ViewAddSetting">Add A New Setting</a></li>
                    }
                    @if (canOverrideSettings.Succeeded)
                    {
                        <li><a asp-area="" asp-controller="Settings" asp-action="ViewAddSettingOverride">Override A Setting</a></li>
                    }
                    @if ( canViewSettings.Succeeded )
                    {
                        <li><a asp-area="" asp-controller="Home" asp-action="EncryptionUtility">Encryption Utility</a></li>
                    }

                    @if (canDeployLocalSettings.Succeeded)
                    {
                        <li><a asp-area="" asp-controller="Home" asp-action="DevScript">Developer</a></li>
                    }

                </ul>
                <p class="nav navbar-text navbar-right">Logged in as: @User.Identity.Name</p>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 VisitPay</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
