﻿@using Ivh.Common.VisitPay.Constants
@model Ivh.Common.Web.Models.Itemization.ItemizationSearchFilterViewModel

<div class="overlay" id="overlay-search">
    <a href="javascript:;" onclick="javascript: window.history.back();" class="back">&nbsp; @Html.TextRegion(TextRegionConstants.SearchItemizedStatements)</a>
    <section id="section-itemizations-search" class="container">
        <br />
        <form data-bind="submit: Submit">
            <div>
                <div class="form-group">
                    <span class="pull-right">[ <a href="javascript:;" title="" class="reset" data-bind="click: Reset">@Html.TextRegion(TextRegionConstants.ButtonReset)</a> ]</span>
                    @Html.LabelFor(m => m.PatientName)
                    @Html.DropDownListFor(m => m.PatientName, Model.Patients, Html.TextRegion(TextRegionConstants.All), new { @class = "form-control", data_bind = "options: Filter.Patients, optionsText: 'Text', optionsValue: 'Value', optionsCaption: '" + Html.TextRegion(TextRegionConstants.All) + "', value: Filter.PatientName" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.FacilityCode)
                    @Html.DropDownListFor(m => m.FacilityCode, Model.Facilities, Html.TextRegion(TextRegionConstants.All), new { @class = "form-control", data_bind = "options: Filter.Facilities, optionsText: 'Text', optionsValue: 'Value', optionsCaption: '" + Html.TextRegion(TextRegionConstants.All) + "', value: Filter.FacilityCode" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.DateRange)
                    @Html.DropDownListFor(m => m.DateRange, Model.DateRanges, Html.TextRegion(TextRegionConstants.All), new { @class = "form-control", data_bind = "value: Filter.DateRange" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.DateRangeFrom, "Date Range")
                    <div class="row">
                        <div class="col-xs-6">@Html.VpTextBoxFor(m => m.DateRangeFrom, new { type = "date", data_bind = "value: Filter.DateRangeFrom" })</div>
                        <div class="col-xs-6">@Html.VpTextBoxFor(m => m.DateRangeTo, new { type = "date", data_bind = "value: Filter.DateRangeTo" })</div>
                    </div>
                </div>
                <div class="form-group text-center">
                    <br />
                    <button type="submit" class="btn btn-primary btn-75">@Html.TextRegion(TextRegionConstants.Search)</button>
                </div>
            </div>
        </form>
    </section>
</div>
