﻿@import '../_variables.scss';
@import '../_mixins.scss';

#section-statements {
    margin: 0 0 15px 0;
    max-width: 768px;

    #statements-list {
        padding-top: 15px;
        padding-bottom: 30px;

        .statement-list {
            width: 100%;
            margin-left: 8px;
            line-height: 30px;
            text-align: center;
            padding-top: 15px;

            &:not(:last-of-type) {
                @include gridrow-border(0 0 1px 0);
                padding-bottom: 15px;
            }

            .grid-row {
                display: flex;
                width: 100%;
                margin-left: 0px;

                > .col {
                    flex-grow: 1;

                    &:nth-of-type(1) {
                        width: 18%;
                    }
                }
            }

            label {
                float: left;
                display: inline-block;
                font-weight: 600;
                margin-right: 15px;
                text-align: right;
            }

            .btn-download {
                float: left;
                position: relative;
                transform: translateY(-50%);
                top: 50%;
                font-size: 14px;
                line-height: 30px;
            }

            .dropdown {
                display: inline-block;

                > button {
                    background: none;
                    border: 1px solid $input-border;
                    border-radius: 0;
                    color: $input-color;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 30px;
                    text-align: left;
                    position: relative;
                    width: 250px;

                    > span {
                        &:nth-of-type(1) {
                            float: right;
                            padding-right: 14px;
                        }
                    }

                    > span {
                        &.caret {
                            position: absolute;
                            right: 9px;
                            top: 14px;
                        }
                    }
                }

                > ul {
                    border-color: $vp-gray-dark;
                    border-top: 0;
                    box-shadow: none;
                    line-height: 30px;
                    width: 100%;
                    margin: 0;

                    > li {
                        cursor: pointer;
                        padding: 0 9px 0 9px;

                        > span {
                            &:nth-of-type(1) {
                                float: right;
                            }
                        }

                        &.active, &:hover {
                            background: $dropdown-link-hover-bg;
                        }

                        &.archived-separator {
                            background: #ffffff;
                            border-bottom: 1px solid $vp-gray-dark;
                            cursor: default;
                            margin: 13px 10px 13px 10px;
                            padding: 0;
                            position: relative;

                            > em {
                                background: #ffffff;
                                color: $vp-gray-dark;
                                height: 30px;
                                line-height: 30px;
                                left: 50%;
                                margin-left: -70px;
                                position: absolute;
                                text-align: center;
                                top: -15px;
                                width: 140px;
                            }
                        }
                    }
                }
            }
        }
    }

    div.alert-light {
        margin-bottom: 0;
    }
}
