﻿@import '../_variables.scss';
@import '../_mixins.scss';
@import '../../Bootstrap/css/bootstrap/_variables.scss';
@import '../../Bootstrap/css/bootstrap/_mixins.scss';

.managed-by {
    display: block;
    font-style: italic;
    margin-bottom: $grid-gutter-width/2;
}

#section-home {

    .grid-visits {
        display: none;
    }

    .vpgrid-container {
        .vpgrid-header {
            .discount-link {
                float: right;
                margin-right: 15px;
                text-decoration: underline;
            }
            .total-balance {
                float: right;
            }
        }
    }

    .vpgrid-container + .vpgrid-container {
        margin-top: 30px;
    }
}
