﻿@using Ivh.Common.Web.Models.Faq
@model List<KnowledgeBaseCategoryViewModel>

<section class="faqs" style="text-align: justify;">
    <ul>
        @foreach (KnowledgeBaseCategoryViewModel c in Model)
        {
            <li>
                @Html.Raw(c.Name)
                <ul>
                    @foreach (KnowledgeBaseSubCategoryViewModel s in c.KnowledgeBaseSubCategoriesOrdered)
                    {
                        foreach (KnowledgeBaseQuestionAnswerViewModel qa in s.QuestionAnswers)
                        {
                            <li>
                                @Html.Raw(qa.QuestionContentBody)
                                <ul>
                                    <li>
                                        @Html.Raw(qa.AnswerContentBody)
                                    </li>
                                </ul>
                            </li>
                        }
                    }
                </ul>
            </li>
        }
    </ul>
</section>
