﻿@using Ivh.Web.Client.Models.Home
@model HomeViewModel
<section id="home">
    <hr/>
    <div class="row">
        <div class="col col-xs-offset-2 col-xs-8 text-center">
            @Html.Raw(Model.TextTop)
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col col-xs-12">
            <p class="text-center"><a href="javascript:;" id="aRoleToggle">Show roles assigned to me</a></p>
            <div style="display: none;" id="divRoles">
                <hr/>
                <p>@Html.Raw(Model.TextRoles)</p>
                <table class="static-grid">
                    <colgroup>
                        <col style="width: 20%"/>
                        <col style="width: 80%"/>
                    </colgroup>
                    <thead>
                    <tr>
                        <td>Role</td>
                        <td>Description</td>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (UserRolesViewModel role in Model.UserRoles)
                    {
                        <tr>
                            <td>@role.Name</td>
                            <td>@role.VisitPayRoleDescription</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

@section scripts {

    <script type="text/javascript">

        $(document).ready(function() {
            if (@Model.ShowCardReaderDeviceKeyModal.ToString().ToLower()) {
                var vistitPayCommon = window.VisitPay.Common;
                vistitPayCommon.ShowCardReaderModal();
            }


            $('#aRoleToggle').on('click', function(e) {
                e.preventDefault();
                $(this).blur();
                $('#divRoles').toggle();
            });


        });

    </script>

}