﻿@model Ivh.Web.QATools.Models.Setting.SettingKeyValueViewModel
<div class="js-setting-key-val-input">
    @Html.HiddenFor(m => m.SettingKey)
    <div class="row">
        <div class="col-md-3">@Model.SettingKey</div>
        <div class="col-md-1">
            @Html.TextBoxFor(m => m.SettingValue, new { @class = "jscolor", data_css_name = @Model.CssFriendlyName })
        </div>
    </div>
</div>



