﻿#gateway-failure-report {
    .jqGridFilter {
        margin-bottom: 0;
        > .row {
            > div {
                &:nth-of-type(1) {
                    width: 146px;

                    .btn-group {
                        padding-top: 3px;
                        vertical-align: top;
                        width: 100%;

                        button.multiselect {
                            width: 100%;
                        }
                    }
                }

                &:nth-of-type(2),
                &:nth-of-type(3),
                &:nth-of-type(4) {
                    width: 143px;
                }

                &:nth-of-type(5) {
                    width: 144px;
                }

                &:nth-of-type(6) {
                    width: 220px;

                    .input-group.date {
                        float: left;
                        margin: 3px 8px 0 0;
                        width: 96px;
                    }
                }

                &:nth-of-type(7) {
                    width: 63px;
                }
            }
        }
    }
}