﻿#section-visitunmatchreport {
    .jqGridFilter {
        > .row {
            > div {
                &:nth-of-type(1) {
                    width: 380px;
                }

                &:nth-of-type(2) {
                    width: 140px;
                }

                &:nth-of-type(3) {
                    width: 140px;
                }

                &:nth-of-type(4) {
                    width: 140px;
                }

                &:nth-of-type(5) {
                    width: 140px;
                }

                &:nth-of-type(6) {
                    width: 63px;
                }

                &.col-date {
                    > div, > select, > span { 
                        float: left; 
                        margin-top: 2px;
                    }
                    > select { 
                        width: 130px;
                    }
                    > div { 
                        margin-left: 8px;
                        width: 96px; 
                        input {
                            width: 76px;
                        }
                    }
                    > span {
                        padding: 0 0 0 8px;
                    }
                    &:after {
                        clear: both;
                        content: '';
                        display: table;
                    }
                }
            }
        }
    }

    .ui-jqgrid {
        tr.ui-jqgrid-labels {
            > th {
                &.ui-th-column-header { 
                    text-align: center !important; 
                }
            }
        }
    }
}
