﻿@import '_variables.scss';

ul.faq-accordion {
    list-style: none;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    li {
        -webkit-box-shadow: none;
        border: 0;
        border-radius: 0;
        box-shadow: none;
        margin: 0;
        padding: 5px 0 5px 0;
        position: relative;
        // ie10/11 doesn't respect list-style: none if the element is display: none initially, this is a 1x1 white image
        list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
    }
    > li {
        text-transform: uppercase;
        > ul {
            list-style: none;
            margin: 0 0 0 38px;
            padding: 0;
            > li {
                text-transform: none;
                > ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    > li {
                        padding: 20px 0 10px 0;
                    }
                }
            }
        }
    }
    a.title { 
        background: $dropdown-link-hover-bg; 
        border-color: $vp-gray-light;
        border-style: solid;
        border-width: 1px;
        cursor: pointer; 
        display: block; 
        font-size: 18px; 
        font-weight: bold; 
        line-height: 25px;
        outline: none !important; 
        padding: 5px 5px 5px 38px; 
        position: relative;
        text-decoration: none; 
        &:before {
            content: '\e114';
            font-family: 'Glyphicons Halflings';
            position: absolute;
            left: 10px; 
            top: 6px;
            
        }
        &.collapsed {
            font-weight: normal !important;
            &:before {
                content: '\e080';
                top: 5px;
            }
        }
    }
}