﻿@import '_variables.scss';
@import '../Bootstrap/css/bootstrap/_variables.scss';
@import '../Bootstrap/css/bootstrap/_mixins.scss';

#header {
    $default-header-background: #fff;
    $breakpoint-variable: 650px;

    display: flex;
    flex-direction: row;
    height: $navbar-height;
    background: $default-header-background;
    border-bottom: 1px solid darken($default-header-background, 8%);
    position: fixed;
    top: 0;
    z-index: 4;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33) !important;
    width: 100%;

    #sidenav-toggle {
        order: 0;
        font-size: 10px;
        background-color: $vp-primary-text;
        color: $vp-dark-blue;
        padding-right: 5px;
        width: $navbar-height;
        display: inline;
        text-align: center;
        text-transform: uppercase;

        i {
            font-size: 28px;
            display: block;
        }

        &:hover, &.active {
            background-color: $vp-dark-blue;
            color: $vp-primary-text;
        }
    }

    > div.brand {
        @include clearfix();
        height: $navbar-height;
        order: 1;
        padding-left: 10px;
        width: $client-logo-width;
        flex: 100 1 auto;

        > div.logo {
            background-image: $client-logo-path;
            background-position: left center;
            background-repeat: no-repeat;
            background-size: contain;
            bottom: 10px;
            //left: 0;
            position: absolute;
            width: $client-logo-width;
            top: 10px;

            a {
                bottom: 0;
                color: transparent;
                left: 0;
                position: absolute;
                right: 0;
                top: 0;
            }
        }

        > div.user {
            float: right;
            padding: $grid-gutter-width/2 0 0 0;
        }
    }

    > nav.navbar {
        order: 2;
        align-self: flex-end;
        border: 0;
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        margin-right: 80px; //For new menu
        > ul.navbar-nav {
            float: none;
            margin: auto;
            position: relative;

            > li {
                float: left !important;
                text-transform: uppercase;
                text-align: center;

                &.no-border {
                    &::before {
                        border-left: none;
                    }
                }

                > a {
                    height: $navbar-height;
                    line-height: $navbar-height - 2;
                    padding-left: 30px;
                    padding-right: 30px;
                    text-decoration: none;

                    .glyphicon {
                        color: $navbar-default-link-color;
                        padding-right: 4px;
                        top: 2px;
                    }
                }

                ul.dropdown-menu {
                    text-transform: none;
                    border: none;
                    min-width: 240px;
                    padding: 0;
                    margin: 0;
                    background-color: $navbar-default-link-hover-bg;

                    > li {
                        font-size: 16px;
                        border-top: 1px solid lighten($navbar-default-link-hover-bg, 8%);


                        @media (max-width: $breakpoint-variable) {
                            font-size: 14px;
                            min-width: 210px;
                        }

                        a {
                            line-height: $navbar-height + 4;
                            padding: 0 $grid-gutter-width/2 0 $grid-gutter-width/2;
                            text-decoration: none;
                            color: $navbar-default-link-active-color;

                            .glyphicon {
                                color: $vp-gray-light;
                                float: left;
                                font-size: 18px;
                                margin: $grid-gutter-width/4 $grid-gutter-width/2 0 0;
                            }

                            &:hover {
                                background-color: $navbar-default-link-hover-color;
                                color: $navbar-default-link-hover-bg;
                            }
                        }
                    }

                    > li:first-child {
                        border: none;
                    }
                }

                > div.messages {
                    position: relative;
                    z-index: 99;

                    &:hover {
                        background-color: $navbar-default-link-active-bg;

                        > ul {
                            color: $navbar-default-link-active-color;

                            > li {
                                &.has-messages {
                                    > div {
                                        background-color: $navbar-default-link-active-bg;

                                        > span {
                                            background: $navbar-default-link-active-color;
                                            color: $navbar-default-link-active-bg
                                        }
                                    }
                                }
                            }
                        }
                    }

                    > ul {
                        list-style: none;
                        margin: 0;
                        padding: 0;

                        > li {
                            > a {
                                color: $text-color;
                                text-decoration: none;

                                &:hover {
                                    color: $navbar-default-link-active-color;
                                }
                            }

                            > div, a {
                                @include user-select(none);
                                cursor: pointer;
                                display: block;
                                line-height: 37px;
                                margin: 0;
                                padding: 0 28px 0 28px;
                                position: relative;

                                > span {
                                    background: $vp-gray-dark;
                                    border-radius: 13px;
                                    color: $vp-primary-text;
                                    font-weight: bold;
                                    height: 26px;
                                    left: 14px;
                                    line-height: 26px;
                                    position: absolute;
                                    text-align: center;
                                    top: 12px;
                                    width: 26px;

                                    &.small-text {
                                        font-size: 10px !important;
                                    }
                                }

                                > em {
                                    font-size: 50px;
                                    line-height: $navbar-height;
                                }
                            }

                            &.has-messages {
                                > div, a {
                                    &:before {
                                        color: $client-accent;
                                    }

                                    > span {
                                        background: $brand-primary;
                                    }
                                }
                            }

                            &.open {
                                > div {
                                    background-color: $navbar-default-link-active-bg;
                                    color: $navbar-default-link-active-color;

                                    > span {
                                        background: $navbar-default-link-active-color;
                                        color: $navbar-default-link-active-bg
                                    }
                                }

                                > ul {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }

            > li::before {
                content: "";
                position: absolute;
                left: 0;
                bottom: 25%;
                height: 50%;
                border-left: 1px solid $vp-gray-light;
            }

            > li:first-child::before {
                border-left: none;
            }
        }

        @media (max-width: $breakpoint-variable) {
            font-size: 12px;

            > ul.navbar-nav {
                > li {
                    > a {
                        padding-left: 12px;
                        padding-right: 12px;
                    }
                }
            }
        }
    }

    .emulate-header {
        @include clearfix();
        height: $navbar-height;
        position: relative;
        margin: auto;
        padding-top: 7px;
        padding-left: 10px;
        width: 992px;

        .emulate {
            float: left;
            padding-top: 7px;

            div {
                padding-bottom: 7px;
            }
        }
    }
}

