﻿@import '../Bootstrap/css/bootstrap/_mixins.scss';
@import '../Bootstrap/css/bootstrap/_variables.scss';
@import '_mixins.scss';

@mixin steps($step-height, $arrow-width, $bg-default, $text-default, $bg-active, $text-active, $bg-complete, $text-complete, $hide-inactive-labels) {
    display: flex;
    flex-direction: row;
    margin-right: $arrow-width;

    > button {
        @include user-select(none);
        background: $bg-default;
        border: 0;
        color: $text-default;
        cursor: default;
        flex-grow: 1;
        height: $step-height;
        line-height: $step-height;
        margin-right: 3px;
        position: relative;
        text-align: center;
        text-decoration: none;
        text-indent: $arrow-width;
        text-transform: uppercase;

        &:before, &:after {
            border-bottom: $step-height/2 inset transparent;
            border-left-style: solid;
            border-left-width: $arrow-width;
            border-top: $step-height/2 inset transparent;
            content: '';
            height: 0;
            position: absolute;
            top: 0;
            width: 0;
        }

        &:before {
            border-left-color: #ffffff;
            left: 0;
        }

        &:after {
            border-left-color: $bg-default;
            right: $arrow-width * -1;
            z-index: 2;
        }

        &:first-of-type {
            &:before {
                border: 0;
            }
        }

        &:last-of-type {
            margin-right: 0;
        }

        &.current, &.complete {
            cursor: pointer;
        }

        &.current {
            background: $bg-active;
            color: $text-active;

            &:after {
                border-left-color: $bg-active;
            }
        }

        &.complete {
            background: $bg-complete;
            color: $text-complete;

            &:after {
                border-left-color: #ffffff;
            }

            &:hover {
                text-decoration: none;

                &:not(.current) {
                    background: $bg-default;
                    color: $text-default;

                    &:after {
                        border-left-color: $bg-default;
                    }
                }
            }

            > span {
                position: relative;

                &:before {
                    @include glyphicon('\e013');
                    color: $bg-active;
                    left: -42px;
                    font-size: 15px;
                    line-height: 15px;
                    position: absolute;
                    top: 1px;
                }
            }
        }

        @if $hide-inactive-labels == true {
            .step-label {
                display: none;
            }

            &.complete {
                > span {
                    &:before {
                        left: -32px;
                    }
                }
            }

            &.current {
                .step-label {
                    display: inline;
                }
            }
        }
    }
}

@mixin checkbox-styled($border-default, $checkmark-color) {
    min-height: 18px;
    position: relative;

    input[type="checkbox"] {
        @include opacity(0);
        left: 0;
        margin: 0 !important;
        padding: 0 !important;
        position: absolute;
        top: 0;
        z-index: 0;
    }

    input[type="checkbox"] ~ label {
        @include user-select(none);
        cursor: pointer;
        font-size: $font-size-base;
        font-weight: normal;
        margin-bottom: 0;
        min-height: 18px;
        line-height: 18px;
        padding-left: 30px;
        position: relative;
        text-align: left;
        text-indent: 0 !important;
        text-transform: none !important;
        white-space: normal;

        &:before {
            border: 1px solid $border-default;
            content: '';
            height: 18px;
            margin-top: -9px;
            left: 0;
            position: absolute;
            top: 50%;
            width: 18px;
            z-index: 1;
        }
    }

    input[type="checkbox"]:checked ~ label {
        color: $checkmark-color;

        &:before {
            border-color: lighten($checkmark-color, 20%);
        }

        &:after {
            border-color: $checkmark-color;
            border-style: solid;
            border-width: 0 0 3px 3px;
            display: block;
            content: '';
            height: 9px;
            left: 9px;
            margin-top: -3px;
            opacity: 1;
            position: absolute;
            top: 50%;
            transform: rotate(-45deg);
            transform-origin: bottom left;
            width: 20px;
            z-index: 2;
        }
    }
}

@mixin modern-form($element-height, $font-size, $section-margin, $button-height: $element-height) {

    label {
        font-size: $font-size - 4;
        font-weight: 500;
        margin-bottom: 3px;
        text-indent: 2px;
        text-transform: uppercase;
    }

    .form-section {
        margin: auto auto $section-margin auto;
        position: relative;
    }

    .form-group {
        margin-bottom: $font-size/2;
    }

    input.form-control {
        $padding: 8px;
        height: $element-height;
        line-height: $element-height - $padding - 2px; // 1px + 1px border
        padding: $padding/2 $padding $padding/2 $padding;
    }

    select.form-control {
        height: $element-height;
    }

    .field-validation-error {
        display: none;
    }

    .input-validation-error {
        background: transparent;
        border: 1px solid $state-danger-text;
    }

    input[type=checkbox].input-validation-error + input[type=hidden] + label {
        color: $state-danger-text;
    }

    .form-control + .form-control {
        margin-top: $font-size/2;
    }

    .btn-primary {
        height: auto !important;
        line-height: $button-height - 2px !important;
        padding-bottom: 2px !important;
        padding-left: $button-height/2 !important;
        padding-right: $button-height/2 !important;
        padding-top: 0 !important;
        // override mobile specific
        box-shadow: none !important;
        text-shadow: none !important;
    }

    .checkbox-styled {
        input[type="checkbox"] ~ label {
            font-size: $font-size - 1;
        }
    }

    .field-tip {
        font-size: $font-size - 1;
        line-height: $font-size;

        &.username-tip {
            margin-bottom: $font-size/2;
        }
    }

    .switch-password {
        float: right;
        font-size: 10px;
        margin-top: 4px;
        text-transform: uppercase;
    }

    .date-of-birth {
        display: -webkit-inline-flex;
        display: flex;
        flex-direction: row;

        input.form-control {
            margin-left: 8px;
            margin-top: 0;
            text-align: center;
        }

        select {
        }

        select + input {
            width: 45px;
        }

        input + input {
            width: 60px;
        }

        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            select + input {
                width: 70px;
            }

            input + input {
                width: 80px;
            }
        }
    }

    .ssn4 {
        width: 68px;
    }

    .input-group.date {
        width: 112px;
    }

    .validation-summary-valid {
        display: none;
    }

    .validation-summary-errors {
        background: transparent;
        border: 1px solid $state-danger-text;
        color: $state-danger-text;
        display: block;
        font-size: $font-size - 1;
        padding: $section-margin/2;

        > span {
            display: block;
            text-align: center;
        }

        > ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li + li {
                margin-top: $font-size/2;
            }
        }

        > span + ul {
            margin-top: $section-margin/2;
        }

        &:not(.validation-summary-custom-errors) {
            ul {
                display: none !important;
            }
        }
    }

    .validation-summary-errors + .validation-summary-errors {
        display: none !important;
    }
}

@mixin modern-grid() {
    border-color: $vp-gray-lighter;
    border-style: solid;
    border-width: 0 0 2px 0;
    margin: 0 auto 30px auto;
    position: relative;
    table-layout: fixed;

    thead {
        tr {
            background: transparent;

            td {
                border-color: $vp-gray-lighter;
                border-style: solid;
                border-width: 0 0 2px 0;
                font-size: 10px;
                font-weight: 600;
                padding: 0 4px 8px 4px;
                text-transform: uppercase;
            }
        }
    }

    tbody {
        tr {
            td {
                border-color: transparent;
                cursor: pointer;
                font-size: 12px;
                height: 40px;
                overflow: hidden;
                padding: 8px 4px 0 4px;
                text-overflow: ellipsis;
                white-space: nowrap;

                input[type=text] {
                    display: inline-block;
                    max-width: 80px;
                }
            }

            &:last-of-type {
                td {
                    height: 48px;
                    padding-bottom: 8px;
                }
            }
        }
    }

    input[type=text] {
        border: 1px solid $vp-gray-light !important;
    }
}

@mixin modern-buttons($bg-accent) {

    .btn-accent {
        font-weight: 600;

        &.btn-outline {
            background: transparent;
            border: 2px solid $bg-accent;
            color: $bg-accent;

            &:active, &.active, &:hover, &:focus {
                background-color: $bg-accent;
                color: #ffffff;
            }
        }
    }
}

@mixin responsive-text-alignment() {
    .text-xs-left {
        text-align: left;
    }

    .text-xs-right {
        text-align: right;
    }

    .text-xs-center {
        text-align: center;
    }

    .text-xs-justify {
        text-align: justify;
    }

    @media (min-width: $screen-sm-min) {
        .text-sm-left {
            text-align: left;
        }

        .text-sm-right {
            text-align: right;
        }

        .text-sm-center {
            text-align: center;
        }

        .text-sm-justify {
            text-align: justify;
        }
    }

    @media (min-width: $screen-md-min) {
        .text-md-left {
            text-align: left;
        }

        .text-md-right {
            text-align: right;
        }

        .text-md-center {
            text-align: center;
        }

        .text-md-justify {
            text-align: justify;
        }
    }

    @media (min-width: $screen-lg-min) {
        .text-lg-left {
            text-align: left;
        }

        .text-lg-right {
            text-align: right;
        }

        .text-lg-center {
            text-align: center;
        }

        .text-lg-justify {
            text-align: justify;
        }
    }
}
