﻿@import '_variables.scss';

@mixin disabled($bg, $color) {
    &.disabled,
    &.disabled.active,
    &.disabled:active,
    &.disabled.focus,
    &.disabled:focus,
    &.disabled:hover,
    &[disabled],
    &[disabled].active,
    &[disabled]:active,
    &[disabled].focus,
    &[disabled]:focus,
    &[disabled]:hover,
    &.focus[disabled],
    &.active[disabled] {
        background-color: $bg !important;
        color: $color !important;
    }
}

@mixin glyphicon($content) {
    content: $content;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
}

@mixin link-expandable($font-size, $line-height, $number-font-size) {
    display: block;
    font-family: $font-family-alt;
    font-size: $font-size;
    font-weight: 300;
    line-height: $line-height;
    padding: 0 0 0 24px;
    position: relative;
    text-decoration: none;
    z-index: 1;

    &:hover {
        text-decoration: none;
    }

    &:after {
        @include glyphicon('\e258');
        font-weight: normal !important;
        position: absolute;
        left: 0;
        top: 0;
    }

    &.expanded {
        &:after {
            @include glyphicon('\e259');
        }
    }

    > span {
        font-family: $font-family-base;
        font-size: $number-font-size;
    }
}

@mixin link-expandable-lg() {
    @include link-expandable(18px, 40px, 20px);
}

@mixin link-expandable-md() {
    @include link-expandable(16px, 30px, 17px);
}

@mixin gridrow-border($border-width: 1px 0 1px 0) {
    border-color: $vp-gray-light;
    border-style: dotted;
    border-width: $border-width;
}