﻿body {
    font-family: Ebrima, Helvetica, Arial, sans-serif;
    font-size: 13px;
    margin: auto;
    position: relative;
    width: 100%; 
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.vp-primary {
    background: #45acc2 !important;
}


@import 'Statement/_statement-print.scss';
@import 'Support/_support-request-print.scss';
@import 'Legal/_tila.scss';
