﻿/* !default required to enable override */

$__placeholder:                         yellow;

/* these come from client settings */

$client-primary:                        $__placeholder !default;
$client-accent:                         $__placeholder !default;
$client-button-primary-bg:              $__placeholder !default;
$client-button-primary-bg-hover:        $__placeholder !default;
$client-button-payment-bg:              $__placeholder !default;
$client-button-payment-bg-hover:        $__placeholder !default;
$client-link-color:                     $__placeholder !default;
$client-link-hover-color:               $__placeholder !default;
$client-logo-path:                      '' !default;
$client-logo-width:                     0px !default;
$client-payment-icon-bg:                $__placeholder !default;

/* not client specific */

$vp-button-disabled-bg:                 #cccccc;
$vp-button-disabled-text:               #ffffff;
$vp-dark-blue:                          #092c74;
$vp-darker-blue:                        darken($vp-dark-blue, 7%);
$vp-discrepancy:                        #fce4d6;
$vp-footer-height:                      48px;
$vp-gray-dark:                          #767676;
$vp-gray-light:                         #cccccc;
$vp-gray-lighter:                       #eeeeee;
$vp-gray-lightest:                      #f4f4f4;
$vp-gray-medium:                        #aaaaaa;
$vp-light-blue:                         lighten($vp-dark-blue, 60%);
$vp-outer-width:                        993px;
$vp-primary:                            #45acc2;
$vp-primary-text:                       #ffffff;
$vp-state-green:                        #548235;

/* bootstrap overrides */

$grid-float-breakpoint:                 0;

$text-color:                            #333333;

$border-radius-base:                    0;

$brand-primary:                         $client-primary;

$btn-font-weight:                       bold;

$btn-border-radius-base:                0;
$btn-border-radius-large:               0;
$btn-border-radius-small:               0;

$btn-default-color:                     #ffffff;
$btn-default-bg:                        #595959;

$btn-primary-color:                     #ffffff;
$btn-primary-bg:                        $client-button-primary-bg;

$component-active-bg:                   $client-primary;

$font-family-base:                      Ebrima, Helvetica, Arial, sans-serif;

$font-size-base:                        13px;

$font-size-h1:                          20px;
$font-size-h3:                          20px;
$font-size-h4:                          15px;
$font-size-h6:                          16px;
$font-family-alt:                       Raleway, $font-family-base;

$link-color:                            $client-link-color;
$link-hover-color:                      $client-link-hover-color;

$headings-font-weight:                  bold;

$icon-font-path:                        '/Content/Bootstrap/fonts/' !default;

$input-bg-disabled:                     $vp-gray-lighter;
$input-border:                          #999999;
$input-border-focus:                    $vp-gray-dark;
$input-border-radius:                   0;

$dropdown-bg:                           #ffffff;
$dropdown-border:                       #999999;
$dropdown-fallback-border:              #999999;
$dropdown-link-color:                   $text-color;
$dropdown-link-hover-bg:                $vp-gray-lightest;
$dropdown-link-hover-color:             $text-color;

$form-group-margin-bottom:              8px;

$navbar-border-radius:                  0;
$navbar-default-active-color:           #025290;
$navbar-height:                         80px;
$navbar-margin-bottom:                  0;
$navbar-padding-horizontal:             0;
$navbar-padding-vertical:               0;

$navbar-default-active-color:           #025290;
$navbar-default-bg:                     #ffffff;
$navbar-default-link-active-bg:         #025290;
$navbar-default-link-active-color:      #ffffff;
$navbar-default-link-color:             $text-color;
$navbar-default-link-hover-bg:          #025290;
$navbar-default-link-hover-color:       #ffffff;

$tooltip-arrow-width:                   5px;
$tooltip-bg:                            $client-primary;
$tooltip-color:                         #ffffff;
$tooltip-max-width:                     $vp-outer-width;
$tooltip-opacity:                       1;

$state-info-bg:                         $vp-gray-lightest;
$state-info-border:                     darken($vp-gray-lighter, 2%);
$state-info-text:                       $text-color;

$state-danger-text:                     #ff0000;
$state-danger-text-darker:              #b61827;