﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.VisitPay.Enums
@using Ivh.Common.Web.Models.Alerts
@model AlertsViewModel


@if (Model.Count > 0)
{
    <div class="alerts">
        <div class="list">
            @foreach (AlertViewModel alert in Model.Alerts)
            {
                <div class="@alert.CssClass">
                    @if (alert.IsDismissable)
                    {
                        <span class="dismiss-alert" data-alert-id="@alert.AlertId"></span>
                    }
                    <em></em>
                    @{
                        string prefixText;
                        switch (alert.AlertType)
                        {
                            case AlertTypeEnum.ActionRequired:
                                prefixText = string.Format("{0}:", Html.TextRegion(TextRegionConstants.ActionRequired));
                                break;
                            case AlertTypeEnum.Welcome:
                                prefixText = string.Format("{0}!", Html.TextRegion(TextRegionConstants.Welcome));
                                break;
                            default:
                                prefixText = "";
                                break;
                        }
                    }
                    @if (!string.IsNullOrEmpty(prefixText))
                    {
                        <span>@prefixText</span>
                    }
                    @Html.Raw(alert.ContentBody)
               </div>
            }
        </div>
    </div>
}