﻿@using Ivh.Common.VisitPay.Constants
<div class="alert alert-light text-center">
    <p>@Html.TextRegion(TextRegionConstants.SiteRequiresJavascript)</p>
    <p>@Html.TextRegion(TextRegionConstants.PleaseEnableJavascript)</p>
</div>