﻿<div id="drawer-mask"></div>
<div id="drawer">
    <div data-drawer="account">
        <div class="drawer-header">@Html.TextRegion(TextRegionConstants.Hello) @CurrentUser.FirstName</div>
        <div class="drawer-content account">
            @Html.Partial("_NavAccountItems")
        </div>
        <div class="drawer-footer flex-auto">
            <div class="text-center">
                @Html.VpActionLink("btnNavSignout", Html.TextRegion(TextRegionConstants.SignOutPageHeading), "LogOff", "Account")
            </div>
        </div>
    </div>
    <div data-drawer="notifications"></div>
    <div data-drawer="help"></div>
</div>