﻿@using Ivh.Common.VisitPay.Enums
<div class="user-emulate text-right">
    You are emulating @User.Identity.Name
    <br />
    <span>Emulated by: <strong>@HttpContext.Current.Items[ClaimTypeEnum.ClientUsername].ToString()</strong></span>
</div>