﻿@using Ivh.Common.Base.Utilities.Extensions
@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.VisitPay.Enums
@model Ivh.Common.Web.Models.Consolidate.GuarantorFilterViewModel

@{
    bool isMobile = Request.RawUrl.ToUpper().StartsWith("/Mobile".ToUpper());
    string manageAccountUrl = Url.Action("ManageHousehold", "Consolidate");

    if (isMobile)
    {
        manageAccountUrl = "/mobile" + manageAccountUrl;
    }
}

@if (IsFeatureEnabled(VisitPayFeatureEnum.Consolidation) && Model.Items.Any())
{
    <table class="guarantor-filter">
        <tr>
            <th>
                @Html.Raw(Model.Title)
                @if (Model.Balance.HasValue)
                {
                    <span>@Model.Balance.FormatCurrency()</span>
                }
            </th>
            <td>
                @{
                    SelectListItem selectedItem = Model.Items.Where(i => i.Selected).SingleOrDefault();
                }
                <div class="btn-group" id="GuarantorFilterItems">
                    <a class="btn btn-default-light dropdown-toggle" data-toggle="dropdown" href="#">
                        <span id="selected-guarantor">@selectedItem.Text</span>
                        &nbsp;<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">@Html.TextRegion(TextRegionConstants.ManagedAccounts)</li>
                        @foreach (SelectListItem item in Model.Items)
                        {
                            <li>
                                <a class="guarantor-option" href="#" data-guarantor-id="@item.Value">
                                    @item.Text
                                </a>
                            </li>

                        }

                        <!-- Add Another Member -->
                        <div class="divider"></div>
                        <li>
                            <a class="add-account" href="@manageAccountUrl">@Html.TextRegion(TextRegionConstants.ManageAnotherAccount)</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    </table>
}