﻿@using System.Globalization
@using Ivh.Common.Web.Cookies
@using Microsoft.AspNet.Identity;

<style id="antiClickjack">
    body {
        display: none !important;
    }
</style>

<script type="text/javascript">
    window.VisitPay = window.VisitPay || {};
    window.VisitPay.Apps = window.VisitPay.Apps || {};
    window.VisitPay.Components = window.VisitPay.Components || {};

    VisitPay.State = (function() {
        var obj = VisitPay.State || {};
        obj.IsUserLoggedIn = '@User.Identity.IsAuthenticated' === 'True';
        obj.IsEmulation = '@HttpContext.Current.Items.Contains(ClaimTypeEnum.ClientUsername)' === 'True';
        obj.VpUserId = obj.IsUserLoggedIn ? '@User.Identity.GetUserId()' : '-1';
        obj.AntiForgeryName = '@CookieNames.Patient.AntiForgeryString';
        obj.IsOfflineUser = false; //Overridden in _LayoutOffline when user is an offline user
        return obj;
    })();
    VisitPay.Urls = (function () {
        var obj = VisitPay.Urls || {};
        obj.LogoffUrl = '@Url.Action("LogOff", "Account")';
        obj.UpdateSession = '@Url.Action("UpdateSession", "Account", new {area = ""})';
        @if (!Html.InMobile())
        {
            @:obj.VerifyEmulation = '@Url.Action("VerifyEmulation", "Account")';
            @:obj.ResolvePayments = '@Url.Action("ArrangePayment", "Payment", new {PaymentOption = PaymentOptionEnum.Resubmit})';
        }
        obj.ErrorLogging = '@Url.Action("LogError", "Error", new { area = "" })';
        obj.WindowOnError = '@Url.Action("WindowOnError", "Error")';
        obj.ChangeLocale = '@Url.Action("ChangeLocale", "Account")?locale=';
        obj.KnowledgeBaseVoteSubmit = '@Url.Action("SubmitKnowledgeBaseVote", "KnowledgeBase")';
        obj.KnowledgeBaseFeedbackSubmit = '@Url.Action("SubmitKnowledgeBaseFeedback", "KnowledgeBase")';
        return obj;
    })();
    VisitPay.ClientSettings = (function() {
        var obj = VisitPay.ClientSettings || {};
        @if (HttpContext.Current.Items.Contains(ClaimTypeEnum.ClientUsername))
        {
            @:obj.SessionTimeoutInMinutes = @ClientDto.ClientSessionTimeOutInMinutes;
        }
        else
        {
            @:obj.SessionTimeoutInMinutes = @ClientDto.GuarantorSessionTimeOutInMinutes;
        }
        obj.ClientBrandName = '@ClientDto.ClientBrandName';
        obj.SupportPhone = '@ClientDto.SupportPhone';
        obj.ActionableBalanceTextShort = '@ClientDto.ActionableBalanceTextShort';
        obj.CreditAgreementName = he.decode('@Html.TextRegion(ClientDto.CreditAgreementName)');
        return obj;
    })();

    VisitPay.Constants = (function() {
        var obj = VisitPay.Constants || {};

        obj.EmulatedUserNotAuthorized = '@HttpHeaders.Response.EmulatedUserNotAuthorized';

        return obj;
    })();

    VisitPay.Localization = (function () {
        var obj = VisitPay.Localization || {};
        obj.Active = he.decode('@Html.TextRegion(TextRegionConstants.StatusDisplayActive)');
        obj.Accept = he.decode('@Html.TextRegion(TextRegionConstants.Accept)');
        obj.Cancel = he.decode('@Html.TextRegion(TextRegionConstants.ButtonCancel)');
        obj.ChooseAction = he.decode('@Html.TextRegion(TextRegionConstants.ChooseAction)');
        obj.Confirm = he.decode('@Html.TextRegion(TextRegionConstants.ButtonConfirm)');
        obj.Continue = he.decode('@Html.TextRegion(TextRegionConstants.ButtonContinue)');
        obj.Decline = he.decode('@Html.TextRegion(TextRegionConstants.ButtonDecline)');
        obj.Disable = he.decode('@Html.TextRegion(TextRegionConstants.Disable)');
        obj.Disabled = he.decode('@Html.TextRegion(TextRegionConstants.Disabled)');
        obj.Edit = he.decode('@Html.TextRegion(TextRegionConstants.ButtonEdit)');
        obj.Enable = he.decode('@Html.TextRegion(TextRegionConstants.Enable)');
        obj.Error = he.decode('@Html.TextRegion(TextRegionConstants.Error)');
        obj.ErrorOccurredProcessingRequest = he.decode('@Html.TextRegion(TextRegionConstants.ErrorOccurredProcessingRequest)');
        obj.LastDayText = he.decode('@Html.TextRegion(TextRegionConstants.LastDay)');
        obj.MakePrimary = he.decode('@Html.TextRegion(TextRegionConstants.MakePrimary)');
        obj.Ok = he.decode('@Html.TextRegion(TextRegionConstants.Ok)');
        obj.No = he.decode('@Html.TextRegion(TextRegionConstants.No)');
        obj.PaymentValidationGeneralError = he.decode('@Html.TextRegion(TextRegionConstants.PaymentValidationGeneralError)');
        obj.PayWithThisAccount = he.decode('@Html.TextRegion(TextRegionConstants.PayWithThisAccount)');
        obj.PleaseWait = he.decode('@Html.TextRegion(TextRegionConstants.PleaseWait)');
        obj.ProcessingError = he.decode('@Html.TextRegion(TextRegionConstants.ProcessingError)');
        obj.RemovePaymentMethod = he.decode('@Html.TextRegion(TextRegionConstants.RemovePaymentMethod)');
        obj.Success = he.decode('@Html.TextRegion(TextRegionConstants.Success)');
        obj.Yes = he.decode('@Html.TextRegion(TextRegionConstants.Yes)');
        return obj;
    })();

    VisitPay.ChangeLocale = function (locale) {
        $.blockUI();

        //Change the locale on the server, then reload the page
        $.get(VisitPay.Urls.ChangeLocale + locale)
            .done(function (data) {
                if (data != null && data === true) {
                    location.reload();
                }
            });
    };

    //AntiClickjacking
    if (self === top || VisitPay.State.IsEmulation) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
    } else {
        top.location = self.location;
    }

    @{
        string daysMin = string.Join(", ", CultureInfo.CurrentUICulture.DateTimeFormat.ShortestDayNames.Select(x => string.Format("'{0}'", x)));
        string months = string.Join(", ", CultureInfo.CurrentUICulture.DateTimeFormat.MonthNames.Select(x => string.Format("'{0}'", x)));
        string monthsShort = string.Join(", ", CultureInfo.CurrentUICulture.DateTimeFormat.AbbreviatedMonthNames.Select(x => string.Format("'{0}'", x)));
    }
    try {
        $.fn.datepicker.dates['en'] = $.extend({}, $.fn.datepicker.dates['en'], {
            daysMin: [@Html.Raw(daysMin)],
            months: [@Html.Raw(months)],
            monthsShort: [@Html.Raw(monthsShort)]
        });
    } catch (exception) {
        @* let's handle this silently - it will just default to en-US *@
    }
</script>

<script type="text/javascript">
    window.VisitPay.ChatSettings = window.VisitPay.ChatSettings || {};
    window.VisitPay.ChatCommon = window.VisitPay.ChatCommon || {};
</script>
@if (IsFeatureEnabled(VisitPayFeatureEnum.FeatureChatIsEnabled))
{
    @Html.Partial("_ChatNamespaces")
}
