﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css {
    @RenderSection("css", false)
}

@section linkhome {
    <a href="/" title=""></a>
}

@section nav {
}

<div class="external-page">
    @RenderBody()
</div>

@section scripts {
    @RenderSection("scripts", false)
}

@section modals {
    @RenderSection("modals", false)
}