﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool isEmulation = HttpContext.Current.Items.Contains(ClaimTypeEnum.ClientUsername);
    //Page based help is dead for the time being, can resurrect if ever needed down the road
    //bool pageHelpEnabled = IsFeatureEnabled(VisitPayFeatureEnum.FeaturePageHelpIsEnabled);
    bool chatEnabled = IsFeatureEnabled(VisitPayFeatureEnum.FeatureChatIsEnabled) && !isEmulation && Request.IsAuthenticated;
}

@section css {
    @RenderSection("css", false)
    @if (chatEnabled)
    {
        @Styles.Render("~/bundles/css/chat")
    }
}

@section linkhome {
    @Html.ActionLink(Html.TextRegion(TextRegionConstants.HomePageHeading), "Index", "Home")
}

@section nav {

    @{
        string navbarClass = (string.Equals(Request.RawUrl.Split('?')[0], Url.Action("Index", "Home"), StringComparison.CurrentCultureIgnoreCase)) ? "home-selected" : "";
    }

    <div class="navbar-parent @navbarClass">
        <div>
            @Html.Partial("_NavPatient")
            @Html.Partial("_NavSettings")
        </div>
    </div>
}
@section user {
    @if (HttpContext.Current.Items.Contains(ClaimTypeEnum.ClientUsername))
    {
        @Html.Partial("_EmulateUser")
    }
}
@Html.Action("Alerts", "Account")

@RenderBody()

@section drawer{
    @Html.Partial("_Drawer")
}

@section help {
    @if (chatEnabled)
    {
        <div class="helpButtonGroup" id="helpButtonGroup">
            @if (chatEnabled)
            {
                <button id="chatButton" class="btn helpButton">
                    <i class="vpicon-message"></i>
                    @Html.TextRegion(TextRegionConstants.Chat)
                </button>
            }
        </div>
    }
}

@section scripts {
    @Scripts.Render("~/bundles/scripts/layout-patient")
    
    @*
    Page based help is dead for the time being, can resurrect if ever needed down the road
    @if (pageHelpEnabled)
    {
        @Scripts.Render("~/Scripts/Libraries/chardinjs.js")
        @Scripts.Render("~/Scripts/Shared/pageHelp.js")
    }*@
    @RenderSection("scripts", false)
    @if (HttpContext.Current.Items.Contains(ClaimTypeEnum.ClientUsername))
    {
        <script src="~/Scripts/Shared/emulation.js"></script>
    }
    @if (chatEnabled)
    {
        @Scripts.Render("~/bundles/scripts/chat")
    }
}

@section footer{
    <ul>
        <li>@Html.ActionLink(Html.TextRegion(TextRegionConstants.ContactUsPageHeading), "MySupportRequests", "Support", null, new { id = "aContactUs", title = Html.TextRegion(TextRegionConstants.ContactUsPageHeading), data_piwik_click = "", data_piwik_event_category = "HomePage", data_piwik_event_name = "Clicked Contact Us from Home page" })</li>
    </ul>
}

@section modals {
    @Html.Partial("~/Views/Support/_SupportSharedModals.cshtml")
    @RenderSection("modals", false)

    @* feature toggle to View Insurance Accrual Demo  *@
    @if (this.IsFeatureEnabled(VisitPayFeatureEnum.DemoInsuranceAccrualUiIsEnabled))
    {
        @Html.Partial("~/Views/Demo/_ViewInsuranceAccrualsModal.cshtml")
    }
}
