﻿@{
    Layout = null;
    ThemeStylesheet = "/theme-print.scss";

}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@RenderSection("title", false)</title>
    <style id="antiClickjack">
        body {
            display: none !important;
        }
    </style>
    <script type="text/javascript">
        if (self === top) {
            var antiClickjack = document.getElementById("antiClickjack");
            antiClickjack.parentNode.removeChild(antiClickjack);
        }
    </script>
    <style type="text/css">@Html.Raw(ThemeStylesheetRaw)</style>
    @RenderSection("css", false)
</head>
<body class="body-print">
    @RenderBody()
    @RenderSection("scripts", false)
</body>
</html>
