﻿@{
    ThemeStylesheet = "/theme.scss";
    string htmlClass = ViewBag.HtmlClass ?? string.Empty;
    string bodyClass = ViewBag.BodyClass ?? string.Empty;
    bool isMobile = Request.RawUrl.ToUpper().StartsWith("/Mobile".ToUpper());
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" class="@htmlClass">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ClientDto.ClientBrandName</title>
    <link rel="icon" href="/content/client/favicon.png" />
    @Styles.Render("~/bundles/css/base")
    <link href="@ThemeStylesheet?v=@ThemeStylesheetHash" rel="stylesheet" />
    @RenderSection("css", required: false)
</head>
<body class="@bodyClass">

    <div id="wrapper">
        <div id="header">
            <div class="brand">
                <div class="logo">
                    @RenderSection("linkhome", required: false)
                </div>
                @RenderSection("user", required: false)

                @if (!isMobile) //Mobile localization menu lives in either _NavPublicItems or _NavPatient (in mobile area)
                {
                    @Html.Partial("_LocalizationMenu")
                }
            </div>
            @RenderSection("nav", required: false)
        </div>
        <div id="content">
            @RenderBody()
        </div>
        @RenderSection("drawer", required: false)
        @RenderSection("help", required: false)
    </div>
    
    <div id="footer">
        <div>
            @if (!IsFeatureEnabled(VisitPayFeatureEnum.FeatureDebrandedUiIsEnabled))
            {
                <div class="visitpay"></div>
                if (ClientDto.FooterShowPaymentLogo)
                {
                    <div class="payment">
                        <img src="/Content/Images/trust-commerce.png" alt="" />
                    </div>
                }
                else
                {
                    <div class="logo"></div>
                }
            }
            <div class="links nojshidden">
                @if (IsBrowserSupported)
                {
                    if (!IsFeatureEnabled(VisitPayFeatureEnum.FeatureDebrandedUiIsEnabled))
                    {
                        <ul>
                            <li>@Html.ActionLink(Html.TextRegion(TextRegionConstants.LegalAgreementsPageHeading), "Index", "Legal", null, new { id = "aLegal", title = Html.TextRegion(TextRegionConstants.LegalAgreementsPageHeading) })</li>
                        </ul>
                    }
                    @RenderSection("footer", required: false)
                    if (IsBrowserSupported)
                    {
                        <ul class="switch-mobile">
                            <li><a href="/Home/SwitchTo?mode=mobile" title="@Html.TextRegion(TextRegionConstants.SwitchToMobileSite)" id="aMobile">@Html.TextRegion(TextRegionConstants.SwitchToMobileSite)</a></li>
                        </ul>
                    }
                }
            </div>

        </div>
    </div>
    
    <div id="nps-survey-container">
        <div id="nps-survey"></div>
    </div>

    @if (IsBrowserSupported)
    {
        @Scripts.Render("~/bundles/scripts/jquery")
        @Html.Partial("~/Views/Shared/_JavascriptNamespaces.cshtml")
        @Scripts.Render("~/bundles/scripts/VisitPayBase")
        @RenderSection("scripts", required: false)
        <script type="text/javascript">
            (function () {
                $('.nojshidden').removeClass('nojshidden');
            })();
        </script>
        @Html.Partial("~/Views/Shared/_IdleTimer.cshtml")
        @RenderSection("modals", required: false)
        <div id="modalFooter" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="@Html.TextRegion(TextRegionConstants.Close)"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer text-center">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">@Html.TextRegion(TextRegionConstants.Close)</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="modalEmulate" class="modal fade" tabindex="-1" data-backdrop="static">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="@Html.TextRegion(TextRegionConstants.Close)"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">@Html.TextRegion(TextRegionConstants.Error)</h4>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer text-center">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">@Html.TextRegion(TextRegionConstants.Ok)</button>
                    </div>
                </div>
            </div>
        </div>
        @* used for ajax in AddAntiForgeryToken() *@
        <form id="__AjaxAntiForgeryForm" action="#" method="post">@Html.AntiForgeryToken()</form>
    }
    @if (IsBuildBannerVisible)
    {
        <div class="alert alert-warning" id="build-banner" style="position: fixed; left: 0; top: 0; z-index: 99999999; padding: 7px;">
            <span>Build Version: @BuildVersion</span>
            @if (BuildDateTime.Day != DateTime.Today.Day)
            {
                <span>Build Date: @BuildDateTime.ToString(Format.DateTimeFormat) (@((DateTime.UtcNow - BuildDateTime).TotalHours.ToString("0")) hour(s) old)</span>
            }
            <span>&nbsp; [ <a href="javascript:;">hide</a> ]</span>
        </div>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#build-banner a').on('click', function () {
                    $.post('/Home/HideBuildBanner');
                    $('#build-banner').hide();
                });
            });
        </script>
    }
    @Html.Partial("~/Views/Shared/_Analytics.cshtml")
</body>
</html>