﻿@{
    Layout = "~/Views/Shared/_LayoutPatient.cshtml";
}

@section css {
    @RenderSection("css", false)
}

@RenderSection("guarantorFilter", false)

<div class="row">
    <div class="col-xs-9">
        @RenderBody()
    </div>
    <div class="col-xs-3 sidemenu">
        @RenderSection("sidenav", true)
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/scripts/sidebar")
    @RenderSection("scripts", false)
}

@section modals {
    @RenderSection("modals", false)
}


