﻿@{
    ThemeStylesheet = "/theme.scss";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ClientDto.ClientBrandName</title>
    @Styles.Render("~/bundles/css/base")
    <link href="@ThemeStylesheet?v=@ThemeStylesheetHash" rel="stylesheet" />
    @RenderSection("css", required: false)
</head>
<body>
    <div id="wrapper">
        <div id="content">
            @RenderBody()
        </div>
    </div>
    @if (IsBrowserSupported)
    {
        @Scripts.Render("~/bundles/scripts/jquery")
        @Html.Partial("_JavascriptNamespaces")
        @Scripts.Render("~/bundles/scripts/VisitPayBase")
        @RenderSection("scripts", required: false)
        <script type="text/javascript">
            (function () {
                $('.nojshidden').removeClass('nojshidden');
            })();
        </script>

        @Html.Partial("_IdleTimer")

        @RenderSection("modals", required: false)
        @* used for ajax in AddAntiForgeryToken() *@
        <form id="__AjaxAntiForgeryForm" action="#" method="post">@Html.AntiForgeryToken()</form>
    }
    @Html.Partial("_Analytics")
</body>
</html>