﻿@{
    Layout = "~/Views/Shared/_LayoutPatient.cshtml";
}

@section css {
    @RenderSection("css", false)
}

@RenderSection("guarantorFilter", false)

<div class="row">
    <div class="col-xs-9">
        @RenderBody()
    </div>
    <div class="col-xs-3 sidebar" data-intro="You can use the 'data-position' attribute to determine where the tooltip will be placed" data-position="bottom">
        <div class="sidebar-inner">
            @Html.Action("Sidebar", "Sidebar")
            @Html.Action("ExternalLinks", "Sidebar")
            @Html.Action("HealthEquityWidgetPartial", "Sso")

            @if (IsFeatureEnabled(VisitPayFeatureEnum.DemoHealthEquityIsEnabled))
            {
                @Html.Action("HealthEquityPartial", "Demo")
            }

            @* feature toggle to MyChart Demo *@
            @if (IsFeatureEnabled(VisitPayFeatureEnum.DemoMyChartSSOUiIsEnabled))
            {
                @Html.Action("ProviderPortalPartial", "Demo")
            }

            @* feature toggle to View Insurance Accrual Demo  *@
            @if (IsFeatureEnabled(VisitPayFeatureEnum.DemoInsuranceAccrualUiIsEnabled))
            {
                @Html.Action("InsuranceAccrualsPartial", "Demo")
            }
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/scripts/sidebar")
    @RenderSection("scripts", false)

    @if (IsFeatureEnabled(VisitPayFeatureEnum.DemoHealthEquityIsEnabled))
    {
        @Html.Action("HealthEquityModal", "Demo")
    }
}

@section modals {
    @RenderSection("modals", false)
}
