﻿@using Ivh.Common.VisitPay.Constants
@model bool /* isdisabled */

<section id="section-accountlock">
    @if (Model)
    {
        <div class="alert alert-light text-center">
            <p>
                <strong>@Html.TextRegion(TextRegionConstants.AccountDisabled)</strong>
            </p>
            <p>
                @Html.TextRegion(TextRegionConstants.AccountDisabledContact)
            </p>
        </div>
    }
    else
    {
        <div class="alert alert-light text-center">
            <p>
                <strong>@Html.TextRegion(TextRegionConstants.AccountLocked)</strong>
            </p>
            <p>
                @Html.TextRegion(TextRegionConstants.AccountLockedDetails)
            </p>
        </div>
    }
    <p class="text-center">
        <a href="/" title="" class="btn btn-primary">@Html.TextRegion(TextRegionConstants.Ok)</a>
    </p>
</section>