﻿@using System.Globalization
@using System.Threading
@using Ivh.Application.Settings.Common.Dtos

@if (ClientDto.LanguageAppSupported.Count() > 1)
{
    CultureInfo threadCulture = Thread.CurrentThread.CurrentUICulture;
    string selectedLocale = ClientDto.LanguageAppSupported.Single(x => x.Name == threadCulture.Name).NativeName;
    List<ClientCultureInfoDto> availableLocales = ClientDto.LanguageAppSupported.Where(x => selectedLocale != x.NativeName).ToList();

    <div class="btn-group nojshidden pull-right" id="localization-menu">
        <a class="btn btn-default-light dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="glyphicon glyphicon-globe"></i>&nbsp;
            <span id="selected-locale">@selectedLocale</span>
            &nbsp;<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            @foreach (ClientCultureInfoDto locale in availableLocales)
            {
                <li>
                    <a class="localization-option" href="#" data-locale="@locale.Name" data-locale-display="@locale.NativeName">@locale.NativeName</a>
                </li>
            }
        </ul>
    </div>
}