﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Web.Patient.Models
@model LoginViewModel

<div class="login-box box nojshidden">
    <div class="login">
        @using (Html.VpForm("Login", "Account", FormMethod.Post, "frmLogin", new {autocomplete = "off"}))
        {
	        @Html.HiddenFor(m => m.ReturnUrl)
	        <div>
		        @Html.LabelFor(m => m.Username)
		        @Html.TextBoxFor(m => m.Username, new {@class = "form-control-static", tabindex = 1, autocomplete = "off"})
	        </div>
            <div>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new {@class = "form-control-static", tabindex = 2, autocomplete = "off" })
            </div>
            @Html.ValidationSummary(true)
            <div class="forgot">
                <a href="@Url.Action("RequestPassword", "Account")" id="aForgotPassword" title="@Html.TextRegion(TextRegionConstants.PasswordForgot)" tabindex="-1">@Html.TextRegion(TextRegionConstants.PasswordForgot)</a>
                |
                <a href="@Url.Action("RequestUsername", "Account")" id="aForgotUsername" title="@Html.TextRegion(TextRegionConstants.UsernameForgot)" tabindex="-1">@Html.TextRegion(TextRegionConstants.UsernameForgot)</a>
            </div>
            <button type="submit" class="box-button" tabindex="3" id="btnLogin" title="@Html.TextRegion(TextRegionConstants.SignIn)">@Html.TextRegion(TextRegionConstants.SignIn)</button>
        }
        <a href="@Url.Action("Index", "Registration")" class="box-button" id="aSignup" title="@Html.TextRegion(TextRegionConstants.ButtonAccountCreate)">@Html.TextRegion(TextRegionConstants.ButtonAccountCreate)</a>
        <div class="pay-now">
            @if (@ClientDto.AppGuarantorExpressUrlHost.Length > 8)
            {
                //the client setting script transforms AppGuarantorExpressUrlHost prepending https:// (thus the 8 char length)
                <a href="@ClientDto.AppGuarantorExpressUrlHost" id="aPayNow" title="@Html.TextRegion(TextRegionConstants.PaymentOneTime)">@Html.TextRegion(TextRegionConstants.PaymentOneTime) &raquo;</a>
            }
        </div>
    </div>
</div>