﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Web.Patient.Models
@model LoginViewModel

<div class="login nojshidden">
    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        <div>
            @Html.TextBoxFor(m => m.Username, new { @class = "form-control-static", tabindex = 1, autocomplete = "off" })
            <div>
                <a href="@Url.Action("RequestUsername","Account")" title="@Html.TextRegion(TextRegionConstants.UsernameForgot)">@Html.TextRegion(TextRegionConstants.UsernameForgot)</a>
                @Html.LabelFor(m => m.Username)
            </div>
        </div>
        <div>
            @Html.PasswordFor(m => m.Password, new { @class = "form-control-static", tabindex = 2, autocomplete = "off" })
            <div>
                <a href="@Url.Action("RequestPassword","Account")" title="@Html.TextRegion(TextRegionConstants.PasswordForgot)">@Html.TextRegion(TextRegionConstants.PasswordForgot)</a>
                @Html.LabelFor(m => m.Password)
            </div>
        </div>
        <button type="submit" class="btn btn-default" tabindex="3"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span>@Html.TextRegion(TextRegionConstants.SignIn)</button>
    }
</div>
