﻿@using Ivh.Common.VisitPay.Constants
@{
    bool isMobile = Request.RawUrl.ToUpper().StartsWith("/Mobile".ToUpper());
}

<ul class="nav navbar-nav nojshidden">
    <li>
        <a href="javascript:;" title="@Html.TextRegion(TextRegionConstants.Menu)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" id="aNavPublic">
            <em class="glyphicon glyphicon-menu-hamburger"></em>
            <span class="text">@Html.TextRegion(TextRegionConstants.Menu)</span>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="@Url.Action("Login", "Account")" title="@Html.TextRegion(TextRegionConstants.SignIn)" id="aNavPublicLogin"><span class="glyphicon glyphicon-lock"></span>@Html.TextRegion(TextRegionConstants.SignIn)</a></li>
            <li><a href="@Url.Action("Index", "Registration")" title="@Html.TextRegion(TextRegionConstants.SignUp)" id="aNavPublicSignup"><span class="glyphicon glyphicon-pencil"></span>@Html.TextRegion(TextRegionConstants.SignUp)</a></li>
            <li><a href="@Url.Action("LearnMore", "Account")" title="@Html.TextRegion(TextRegionConstants.LearnMorePageHeading)" id="aNavPublicLearnMore"><span class="glyphicon glyphicon-book"></span>@Html.TextRegion(TextRegionConstants.LearnMorePageHeading)</a></li>
            <li><a href="@Url.Action("Index", "Legal")" title="@Html.TextRegion(TextRegionConstants.LegalAgreementsPageHeading)" id="aLegal"><span class="glyphicon glyphicon-hourglass"></span>@Html.TextRegion(TextRegionConstants.LegalAgreementsPageHeading)</a></li>
            <li><a href="@Url.Action("ContactUs", "Account")" title="@Html.TextRegion(TextRegionConstants.ContactUsPageHeading)" id="aNavPublicContact"><span class="glyphicon glyphicon-earphone"></span>@Html.TextRegion(TextRegionConstants.ContactUsPageHeading)</a></li>
            @if (isMobile)
            {
                @Html.Partial("../../Areas/Mobile/Views/Shared/_NavPublicMobileLocalizationDropdown")
            }
        </ul>
    </li>
</ul>