﻿@using Ivh.Common.VisitPay.Constants
<ul class="navbar-settings" id="navbar-settings"> 
    <li>
        <a data-drawer="help" href="javascript:;" title="@Html.TextRegion(TextRegionConstants.HelpCenter)" id="btnNavHelp" data-piwik-click data-piwik-event-category="Help Center" data-piwik-event-name="Help center icon clicked">
            <em class="vpicon-question"></em>
            @Html.TextRegion(TextRegionConstants.HelpCenter)
        </a>
    </li>
    <li>
        <a data-drawer="notifications" href="javascript:;" title="@Html.TextRegion(TextRegionConstants.Notifications)" id="btnNavNotifications">
            <em class="vpicon-bell-clear" id="unreadNotificationBadge"></em>
            @Html.TextRegion(TextRegionConstants.Notifications)
        </a>
    </li>
    <li>
        <a data-drawer="account" href="javascript:;" title="@Html.TextRegion(TextRegionConstants.MyAccountPageHeading)" id="btnNavCurrentUser">
            <em class="vpicon-gear"></em>
            <span class="account-name">@Html.TextRegion(TextRegionConstants.MyAccountPageHeading)</span>
        </a>
    </li>
</ul>
