﻿@using Ivh.Common.VisitPay.Constants
<nav class="navbar navbar-default navbar-menu">
    <ul class="nav navbar-nav">
        @Html.VpMenuItem(Url.Action("Index", "Home"), Html.TextRegion(TextRegionConstants.HomePageHeading), "aNavPatientHome")
        @Html.VpMenuItem(Url.Action("ArrangePayment", "Payment"), Html.TextRegion(TextRegionConstants.MakePaymentPageHeading), "aNavPatientPay")
        @Html.VpMenuItem(Url.Action("MyPayments", "Payment"), Html.TextRegion(TextRegionConstants.PaymentsPageHeading), "aNavPatientPayments")
    </ul>
</nav>
