﻿@using Ivh.Common.VisitPay.Constants
<div class="modal fade" id="RegistrationTimeoutWarning" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@Html.TextRegion(TextRegionConstants.Warning)</h4>
            </div>
            <div class="modal-body text-center">
                <p>
                    @Html.Raw(Html.TextRegion(TextRegionConstants.SessionExpiresIn, new Dictionary<string, string>
                    {
                        { "[[TimeRemaining]]", "<span id=\"timeRemaining\"></span>" }
                    }))
                </p>
                <p>@Html.TextRegion(TextRegionConstants.SessionExpiringImpactMessage)</p>
                <p>@Html.TextRegion(TextRegionConstants.DoYouWantToContinue)</p>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-primary" data-dismiss="modal">@Html.TextRegion(TextRegionConstants.ButtonContinue)</button>
                <a href="/" role="button" class="btn btn-primary" data-dismiss="modal">@Html.TextRegion(TextRegionConstants.ButtonQuit)</a>
            </div>
        </div>
    </div>
</div>