﻿<script type="text/x-template" id="steps-component">
    <div class="steps">
        <template v-for="step in steps">
            <router-link tag="button" v-bind:to="step.path" v-bind:class="{ 'current': step.isCurrent, 'complete': step.isComplete }">
                <span>{{ step.number }}<span class="step-label">. {{ step.label }}</span></span>
            </router-link>
        </template>
    </div>
</script>
