﻿<!-- ko if: HasResults -->
    <!-- ko if: PageText.IsVisible -->
    <div class="grid-pager">
        <span class="pager-button pager-prev">
            <!-- ko if: Prev.IsEnabled -->
            <em class="glyphicon glyphicon-chevron-left" data-bind="click: Prev, visible: Prev.IsEnabled"></em>
            <!-- /ko -->
            <!-- ko ifnot: Prev.IsEnabled -->
            <span class="pager-disabled">
                <em class="glyphicon glyphicon-chevron-left"></em>
            </span>
            <!-- /ko -->
        </span>
        <span data-bind="text: PageText" class="pager-text"></span>
        <span class="pager-button pager-next">
            <!-- ko if: Next.IsEnabled -->
            <em class="glyphicon glyphicon-chevron-right" data-bind="click: Next, visible: Next.IsEnabled"></em>
            <!-- /ko -->
            <!-- ko ifnot: Next.IsEnabled -->
            <span class="pager-disabled"><em class="glyphicon glyphicon-chevron-right"></em></span>
            <!-- /ko -->
        </span>
    </div>
    <!-- /ko -->
<!-- /ko -->
