﻿@using Ivh.Common.VisitPay.Constants
@model HandleErrorInfo

@{
    Layout = "~/Views/Shared/_LayoutPublicNoLogin.cshtml";
}

<h1 class="text-danger">@Html.TextRegion(TextRegionConstants.Error).</h1>
<h2 class="text-danger">@Html.TextRegion(TextRegionConstants.UnableToEmulate)</h2>
