﻿@using Ivh.Common.VisitPay.Constants
@model HandleErrorInfo

@{
    ViewBag.Title = Html.TextRegion(TextRegionConstants.Error);
}

<h1 class="text-danger">@Html.TextRegion(TextRegionConstants.Error).</h1>
<h2 class="text-danger">@Html.TextRegion(TextRegionConstants.ErrorOccurredProcessingRequest)</h2>

