﻿#section-login {
    
    background: url('/Content/Client/login-box-backgb.jpg') no-repeat left top;
    -webkit-box-shadow: 0 0 15px #646464;
    -webkit-box-shadow: 0 0 15px rgba(100, 100, 100, .7);
    box-shadow: 0 0 15px #646464;
    box-shadow: 0 0 15px rgba(100, 100, 100, .7);
    color: #ffffff;
    font-size: 12px;
    height: 281px;
    margin: 20px auto;
    padding: 20px 0;
    position: relative;
    width: 489px;
    h1 {
        color: #ffffff;
        font-size: 20px;
        line-height: 44px;
        margin: 0 0 40px 0;
        text-align: center;
        text-shadow: 1px 1px 1px #aaaaaa;
        white-space: nowrap;
    }
    form {
        margin: auto;
        position: relative;
        width: 320px;
        a {
            color: #ffffff;
            &:hover { 
                text-decoration: none;
            }
        }
    }
    .forgot {
        line-height: 26px;
        text-align: right;
    }

    .form-group {
        padding-bottom: 8px;
    }

    .btn-login {
      color: #333333;
      background-color: #f0f0f0;
      border-color: #fafafa #848484 #848484 #fafafa;
      .glyphicon {
          color: #a1a1a1;
        }
    }
}

.login-unauthorized-use-message {
    width: 70%;
    margin: auto;
    padding-top: 20px;
}