﻿@using Ivh.Common.VisitPay.Strings
@model Ivh.Web.Client.Models.FinancePlan.FinancePlanCancelViewModel

<div id="modalFinancePlanCancel" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">Cancel Finance Plan</h4>
            </div>
            <div class="modal-body">

                <table>
                    <tr>
                        <td>Finance Plan Effective Date:</td>
                        <td data-bind="text: FinancePlan.OriginationDate"></td>
                    </tr>
                    <tr>
                        <td>Original Balance:</td>
                        <td data-bind="text: FinancePlan.OriginatedFinancePlanBalance"></td>
                    </tr>
                    <tr>
                        <td>Payoff Balance:</td>
                        <td data-bind="text: FinancePlan.CurrentFinancePlanBalance"></td>
                    </tr>
                </table>
                <hr />

                <!-- ko if: FinancePlan.IsPending -->
                <div class="text-center">
                    <p>If this finance plan is canceled, new payment arrangements will need to be made to avoid past due status.</p>
                    <p>Are you sure you want to cancel?</p>
                </div>
                <!-- /ko -->
                @if (User.IsInRole(VisitPayRoleStrings.Csr.CancelFP))
                {
                    <!-- ko if: FinancePlan.IsOriginated -->
                    <div class="text-center">
                        <p>Please confirm that you want to cancel this finance plan.</p>
                    </div>
                    <!-- /ko -->
                }
            </div>
            <div class="modal-footer text-center">
                <button type="submit" class="btn btn-primary" title="Confirm" id="btnFinancePlanCancelConfirm">Confirm</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" title="Exit" id="btnFinancePlanCancelExit">Cancel</button>
            </div>
        </div>
    </div>
</div>
