﻿@using Ivh.Common.VisitPay.Strings
@model Ivh.Web.Client.Models.FinancePlan.ReallocateInterestToPrincipalModel

<div id="modalFinancePlanInterestReallocate" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">Refund Interest</h4>
            </div>
            <div class="modal-body">
                @if (User.IsInRole(VisitPayRoleStrings.Payment.PaymentRefund) || User.IsInRole(VisitPayRoleStrings.Payment.PaymentVoid))
                {
                <div>
                    <div class="row">
                        <div class="col-xs-4 text-left">Interest paid to date:</div>
                        <div class="col-xs-3 text-right text-bold">$<span data-bind="text: InterestPaid"></span></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 text-left">Amount available for refund:</div>
                        <div class="col-xs-3 text-right text-bold">$<span data-bind="text: MaxReallocationAmount"></span></div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-xs-12">
                            <span>The refunded amount entered below will apply interest to principal. If the refunded amount is greater than the remaining principal, it will result in a credit balance. Any unpaid interest will be written off.</span>
                            <span>Enter the amount to be refunded below:</span>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-xs-4 text-left">Refund Amount:</div>
                        <div class="col-xs-4">
                            <input type="text" class="form-control numeric" placeholder="0.00" data-bind="value: AmountToReallocate, valueUpdate: 'afterkeydown', preventBubble: 'click', " />
                        </div>
                    </div>
                </div>
                }
                else
                {
                <div class="text-center">
                    <p>You do not have the correct permissions to perform this action.</p>
                </div>
                }
            </div>
            <div class="modal-footer text-center">
            @if (User.IsInRole(VisitPayRoleStrings.Payment.PaymentRefund) || User.IsInRole(VisitPayRoleStrings.Payment.PaymentVoid))
            {
                <button type="submit" class="btn btn-primary" title="Confirm" data-bind="enable: IsEnabled" id="btnFinancePlanInterestReallocateConfirm">Confirm</button>
            }
                <button type="button" class="btn btn-primary" data-dismiss="modal" title="Exit" id="btnFinancePlanInterstReallocateExit">Cancel</button>
            </div>
        </div>
    </div>
</div>
