﻿<div id="modalFinancePlanBucketHistory" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">Finance Plan Bucket History for Finance Plan</h4>
            </div>
            <div class="modal-body">
                <div id="gridFinancePlanBucketHistory">
                </div>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-primary" data-dismiss="modal" title="Close">Close</button>
            </div>
        </div>
    </div>
</div>
