﻿@using Ivh.Common.VisitPay.Constants
@using Ivh.Common.VisitPay.Enums
@using Ivh.Common.VisitPay.Strings
@using Ivh.Common.Web.Constants
@using Ivh.Common.Web.Enums
@model Ivh.Common.Web.Models.FinancePlan.ReconfigureFinancePlanViewModel

@section breadcrumbs {
    <ul>
        <li>@ClientDto.ClientBrandName</li>
        <li>Reconfigure Finance Plan</li>
    </ul>
}

<h1 class="bar">Reconfigure Finance Plan</h1>
<section id="section-reconfigure" style="visibility: hidden;">
    @if (Model.HasErrorMessage)
    {
        <div class="alert alert-danger text-center">@Html.Raw(Model.ErrorMessage)</div>
    }
    else
    {
        <div class="alert alert-danger text-center hidden" data-bind="visible: IsError">@Html.TextRegion(TextRegionConstants.ErrorHasOccurred)</div>
    }
    <div class="row top-row">
        <div class="col-xs-6 text">
            <p>@Html.CmsRegion(CmsRegionEnum.ReconfigureFinancePlanCalculateText)</p>
        </div>
        <div class="col-xs-6 details">
            <strong>Existing Finance Plan Details</strong>
            <table>
                <colgroup>
                    <col />
                    <col />
                </colgroup>
                <tbody>
                    <tr>
                        <td>Monthly Payment Amount</td>
                        <td>@Model.CurrentFinancePlanPaymentAmount</td>
                    </tr>
                    <tr>
                        <td>Current Interest Rate</td>
                        <td>@Model.CurrentFinancePlanInterestRate</td>
                    </tr>
                    <tr>
                        <td>Original Balance</td>
                        <td>@Model.CurrentFinancePlanOriginalBalance</td>
                    </tr>
                    <tr>
                        <td>Current Balance</td>
                        <td>@Model.CurrentFinancePlanBalance</td>
                    </tr>
                    <tr>
                        <td>New Charges</td>
                        <td>@Model.CurrentFinancePlanNewCharges</td>
                    </tr>
                    <tr>
                        <td>@Html.TextRegion(TextRegionConstants.FinanceTotal)</td>
                        <td><strong>@Model.NewFinancePlanBalance</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    @if (!Model.HasErrorMessage)
    {
        <div class="row main-row">
            <div class="col-xs-6 reconfigure">
                <form id="frmTerms" autocomplete="off" novalidate="novalidate">
                    @if (IsFeatureEnabled(VisitPayFeatureEnum.FpOfferSetTypesIsEnabledClient) && User.IsInRole(VisitPayRoleStrings.Csr.ExtendedFinancePlanOfferSets))
                    {
                        <!-- ko if: FinancePlanOfferSetTypes.Any() -->
                        <div class="row">
                            <div class="col-xs-5">Select an Offer Set:</div>
                            <div class="col-xs-5">
                                <select id="ddFinancePlanOfferSetType" class="form-control" data-bind="options: FinancePlanOfferSetTypes, optionsText: 'Text', optionsValue: 'Value', value: FinancePlanOfferSetTypeId"></select>
                            </div>
                        </div>
                        <!-- /ko -->
                    }
                    <div class="row">
                        <div class="col-xs-5">Monthly Payment Amount:</div>
                        <div class="col-xs-7">
                            <input id="UserMonthlyPaymentAmount" class="form-control pull-left numeric" type="text" data-bind="initial: UserMonthlyPaymentAmount, value: UserMonthlyPaymentAmount, valueUpdate:'afterkeydown'">
                            @Html.VpButton("btnFinancePlanCalculate", Html.TextRegion(TextRegionConstants.ButtonGetTerms), VpButtonTypeEnum.Submit, VpButtonClassEnum.Primary, new { @class = "pull-left", data_bind = "enable: UserMonthlyPaymentAmount.Any() || UserNumberMonthlyPayments.Any()" })
                        </div>
                    </div>
                </form>
                <p class="small">
                    <em>The minimum monthly payment for this finance plan is <span data-bind="currencyText: MinimumPaymentAmount"></span></em>
                </p>
                <table class="interest-rates">
                    <thead>
                        <tr>
                            <td>If your number of payments is:</td>
                            <td>Your annual interest rate is:</td>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- ko foreach: InterestRates -->
                        <tr>
                            <td data-bind="text: DisplayText"></td>
                            <td data-bind="text: Rate"></td>
                        </tr>
                        <!-- /ko -->
                    </tbody>
                </table>
            </div>
            <div class="col-xs-6 terms-container" data-bind="with: Terms">
                <!-- ko if: ErrorMessage.Any -->
                <div class="alert alert-danger terms-error">
                    @Html.Raw(Html.TextRegion(TextRegionConstants.FinancePlanTermsQualify, new Dictionary<string, string>
                    {
                        {"[[MaximumMonthlyPayments]]", "<span data-bind=\"text: $root.MaximumMonthlyPayments\"></span>"},
                        {"[[MinimumPaymentAmount]]", "<span data-bind=\"currencyText: $root.MinimumPaymentAmount\"></span>"},
                    }))
                    <br /><br />
                    @Html.CmsRegion(CmsRegionEnum.ReconfigureFinancePlanMinimumAmountError)
                </div>
                <!-- /ko -->
                <!-- ko ifnot: ErrorMessage.Any -->
                <div class="terms">
                    <strong>Reconfigured Finance Plan Terms</strong>
                    <table>
                        <colgroup>
                            <col />
                            <col />
                        </colgroup>
                        <tbody>
                            <tr>
                                <td>@Html.TextRegion(TextRegionConstants.FinanceInterestRate)</td>
                                <td data-bind="percentText: InterestRate, precision: 2, emptyText: '-'" id="_interestRate"></td>
                            </tr>
                            <tr>
                                <td>@Html.TextRegion(TextRegionConstants.FinanceInterestOwed)</td>
                                <td data-bind="currencyText: TotalInterest, emptyText: '-'" id="_interestTotal"></td>
                            </tr>
                            <tr>
                                <td>@Html.TextRegion(TextRegionConstants.FinanceMonthlyPayments)</td>
                                <td data-bind="text: NumberMonthlyPayments() || '-'" id="_numberPayments"></td>
                            </tr>
                            <tr>
                                <td>@Html.TextRegion(TextRegionConstants.FinalPaymentDate)</td>
                                <td data-bind="text: FinalPaymentDate() || '-'" id="_finalPaymentDate"></td>
                            </tr>
                            <tr>
                                <td>@Html.TextRegion(TextRegionConstants.FinanceMonthlyPaymentTotalPrevious)</td>
                                <td data-bind="currencyText: MonthlyPaymentAmountPrevious, emptyText: '-'"></td>
                            </tr>
                            <tr>
                                <td>@Html.TextRegion(TextRegionConstants.FinanceMonthlyPaymentTotalNew)</td>
                                <td data-bind="currencyText: MonthlyPaymentAmountTotal, emptyText: '-'"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /ko -->
            </div>
        </div>
        <div class="row text-row">
            <div class="col-xs-12">
                <hr />
                @Html.CmsRegion(CmsRegionEnum.ReconfigureFinancePlanReconfigurationText)
                <hr />
            </div>
        </div>
    }
    <div class="row">
        <div class="col-xs-12 text-center">
            @Html.VpButton("btnReconfigureSubmit", Html.TextRegion(TextRegionConstants.ButtonReconfigureSubmit), VpButtonTypeEnum.Button, VpButtonClassEnum.Primary, new { data_bind = "enable: Terms().IsValid" })
            @if (Model.Terms != null)
            {
                @Html.VpButton("btnReconfigureCancel", "Cancel Reconfiguration", VpButtonTypeEnum.Button)
            }
            <a href="/Search/GuarantorAccount/@Model.VpGuarantorId#tabFinancePlans" class="btn btn-primary">Exit</a>
        </div>
    </div>
</section>

@section scripts {
    @Scripts.Render(BundleConstants.CommonFinancePlanSetup, BundleConstants.ReconfigureFinancePlan)
    <script type="text/javascript">
        $(document).ready(function() {
            var data = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
            window.VisitPay.ReconfigureFinancePlan.Initialize(data);
        });
    </script>
}
