﻿@model Ivh.Web.Client.Models.VisitPayDocument.VisitPayDocumentEditViewModel

<div id="modalEditVisitPayDocument" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">
                    Edit Document 
                </h4>
            </div>
            <form action="@Url.Action("EditVisitPayDocument","VisitPayDocument")">
                <div class="modal-body">

                    @Html.HiddenFor(m => m.VisitPayDocumentId)
                    @Html.HiddenFor(m => m.ApprovedDateString)
                    @Html.HiddenFor(m => m.CanApprove)

                    @if (Model.CanApprove)
                    {
                        <div class="row">
                            @Html.LabelFor(m => m.Approved)
                            @Html.CheckBoxFor(m => m.Approved)
                        </div>
                    }

                    <div class="row">
                        @Html.LabelFor(x => x.ActiveDateString)

                        <div class="input-group date">
                            @Html.VpTextBoxFor(m => m.ActiveDateString)
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>

                    </div>
                    <div class="row">
                        @Html.LabelFor(x => x.DisplayTitle)
                        @Html.VpTextBoxFor(x => x.DisplayTitle)
                    </div>
                    
                    <div class="row">
                        @Html.LabelFor(x => x.VisitPayDocumentTypeId)
                        @Html.ValidationMessageFor(x => x.VisitPayDocumentTypeId)
                        @Html.VpDropDownListFor(x => x.VisitPayDocumentTypeId, Model.VisitPayDocumentTypes)
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="submit" class="btn btn-primary" id="btnCloseTrainingDocumentAttachmentSubmit" title="Submit edits">Submit</button>
                    <button type="button" class="btn btn-primary" id="btnCloseTrainingDocumentAttachmentCancel" data-dismiss="modal" title="Cancel">Cancel</button>
                </div>
            </form>

        </div>
    </div>
</div>