﻿@model Ivh.Web.Client.Models.VisitPayDocument.VisitPayDocumentUploadViewModel

<div id="modalUploadVisitPayDocument" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title">
                    Upload Document
                </h4>
            </div>

            @using (Html.BeginForm("UploadVisitPayDocument", "VisitPayDocument", FormMethod.Post, new { id = "frmUploadVisitPayDocument", enctype = "multipart/form-data" }))
            {
                <div class="modal-body">
                    @Html.AntiForgeryToken()

                    <div class="row">
                        @Html.LabelFor(x => x.FileContents)

                        @Html.ValidationMessageFor(x => x.FileContents)
                        @Html.TextBoxFor(x => x.FileContents, new { type = "file", Text = "upload", @class = "form-control", accept = Model.AcceptableFileExtensions })
                        
                    </div>
                    <div class="row">
                        @Html.LabelFor(x => x.ActiveDateString)

                        <div class="input-group date">
                            @Html.VpTextBoxFor(m => m.ActiveDateString)
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>

                    </div>
                    <div class="row">
                        @Html.LabelFor(x => x.DisplayTitle)
                        @Html.ValidationMessageFor(x => x.DisplayTitle)
                        @Html.VpTextBoxFor(x => x.DisplayTitle)
                    </div>
                    
                    <div class="row">
                        @Html.LabelFor(x => x.VisitPayDocumentTypeId)
                        @Html.ValidationMessageFor(x => x.VisitPayDocumentTypeId)
                        @Html.VpDropDownListFor(x => x.VisitPayDocumentTypeId, Model.VisitPayDocumentTypes)
                    </div>
                </div>

                <div class="modal-footer text-center">
                    <button type="submit" class="btn btn-primary">Upload</button>
                </div>
            }

        </div>
    </div>
</div>