﻿@model Ivh.Web.Client.Models.VisitPayDocument.VisitPayDocumentFilterViewModel
<div id="visitPayDocument">
    <div>
        <button id="uploadButton" type="button" class="btn btn-primary">Upload</button>
    </div>


    <div id="visit-pay-document-section">
        
        @* TODO- Take this out (hide) for now *@
        @*<form class="jqGridFilter container" id="jqGridFilterTrainingDocuments" autocomplete="off">
            <div class="alert alert-info collapse" data-bind="css: { collapse: RunResults() == false }">
                Click <strong>Run</strong> to update your results
            </div>
            <div class="row">
                <div class="col">Status</div>
                <div class="col">Date Range</div>
                <div class="col text-right">
                    <button type="submit" class="btn btn-primary" id="btnGridFilterTrainingDocumentSubmit">Run</button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    @Html.DropDownListFor(m => m.VisitPayDocumentStatus, Model.VisitPayDocumentStatuses, new { @class = "form-control", data_bind = "value: VisitPayDocumentStatus" })
                </div>
                <div class="col">
                    @Html.DropDownListFor(m => m.DateRangeFrom, Model.DateRanges, new { @class = "form-control", data_bind = "value: DateRangeFrom" })
                </div>

                <div class="col text-right">
                    <button type="reset" class="btn btn-primary" id="btnGridFilterTrainingDocumentReset">Reset</button>
                </div>
            </div>
        </form>*@

        <table id="jqGridVisitPayDocuments"></table>
        <div id="jqGridPagerVisitPayDocuments"></div>
        <div id="jqGridNoRecordsVisitPayDocuments" class="alert alert-info collapse text-center">
            <strong>no documents to show</strong>
        </div>

    </div>

</div>
@section scripts {
    @Scripts.Render("~/bundles/scripts/knockout", "~/bundles/scripts/visitpaydocuments")
}