﻿@using Ivh.Common.Base.Utilities.Extensions
@using Ivh.Web.Client.Models.VisitPayDocument
@model Ivh.Web.Client.Models.VisitPayDocument.VisitPayDocumentClientViewModel

@foreach (VisitPayDocumentTypeEnum x in Model.VisitPayDocumentResultDictionary.Keys)
{
    <h1 class="bar">@x.GetDescription()</h1>
    <div>
        @foreach (VisitPayDocumentResultViewModel y in Model.VisitPayDocumentResultDictionary[x])
        {
            <div class="row">
                <div class="col-xs-2"><a href="@Url.Action("DownloadAttachment", "VisitPayDocument", new { visitPayDocumentId = y.VisitPayDocumentId})">@y.AttachmentFileName</a></div>
                <div class="col-xs-2">@y.DisplayTitle</div>
            </div>
        }
    </div>
}