﻿@import '../_variables.scss';
@import '../../../../../Content/Css/_mixins-common.scss';

#section-register {

    $form-width: 360px;

    margin: auto;
    max-width: 682px;
    position: relative;

    .steps {
        margin-bottom: 15px;
    }

    .form-section {
        max-width: $form-width;
        position: relative;
    }

    .terms-box {
        border: 1px solid $vp-gray-light;
        padding: 15px;

        hr {
            background: $vp-gray-lighter;
        }

        .btn {
            white-space: normal;
            word-break: break-word;
        }
    }
    /* this is ugly until we refactor payment methods */
    #section-payment-methods {
        display: none;

        #section-payment-method-list {
            padding-top: 50px;
            position: relative;

            #btnAddPaymentMethod {
                left: 50%;
                margin-left: -95px;
                position: absolute;
                text-align: center;
                top: -35px;
                width: 190px;
                white-space: normal;
                word-break: break-word;
            }

            > a {
                display: none;
            }

            p {
                display: none;
            }

            br {
                display: none;
            }

            .text-right {
                text-align: center !important;
            }

            .grid {
                margin-top: 15px;

                .btn-grid-link {
                    border: 0;
                    height: auto;
                    padding-left: 0;
                    padding-right: 0;

                    &:after {
                        line-height: 40px;
                    }

                    .nickname {
                        display: none;
                    }
                }
            }

            .grid ~ .grid {
                margin-top: 0;
            }
        }
    }
}

#modalSampleStatement {
    @include sample-statement($btn-primary-bg, $client-button-primary-bg-hover);
}

#overlay-register-summary {
    padding-top: 0px;
    margin-top: 0px;

    p {
        margin: 0 0 20px;
    }

    .modal-text-large {
        line-height: 40px;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .row {
        margin-left: -35px;
    }

    .modal-body {
        margin-top: 0px;
        padding-top: 0px;
    }

    .modal-footer {
        border: 0px;
        padding: 20px;
        text-align: center;
    }
}
