﻿@import '../_variables.scss';
@import '../_mixins.scss';

#section-support-request-create {
    .self-serve-text-body {
        line-height: normal;
        border: 1px solid $vp-gray-light;
        padding: 4px 34px 4px 8px;
        position: relative;
        background-color: $vp-gray-lighter;

        &:after {
            @include glyphicon('\e258');
            color: $vp-gray-medium;
            display: block;
            font-size: 36px;
            height: 36px;
            line-height: 36px;
            margin-top: -18px;
            right: 3px;
            position: absolute;
            top: 50%;
        }
    }

    a.self-serve-text-link {
        text-decoration: none;
        color: $text-color;
    }

    .detail {
        font-size: 13px;
        line-height: 34px;
        margin-top: 10px;

        > div {
            > span {
                padding-right: 7px;
            }
        }
    }

    label {
        display: inline;
        font-weight: normal;
    }

    form {
        textarea {
            height: 100px;
        }
    }
}
