﻿@import '../_variables.scss';
@import '../../../../../Content/Bootstrap/css/bootstrap/_mixins.scss';

#section-support-request {

    .communication {
        padding-top: 7px;

        .actions {
            line-height: 34px;
            padding: 0 0 7px 0;

            select {
                width: 130px;
            }

            &:after {
                clear: both;
                content: '';
                display: table;
            }
        }

        .messages {
            border-bottom: 2px solid $vp-gray-light;
            border-top: 2px solid $vp-gray-light;
            font-size: 12px;
            margin: 0 -15px 0 -15px;

            ul {
                list-style: none;
                margin: 0;
                padding: 0;

                > li {
                    display: block;
                    margin: 0;
                    padding: 7px 15px 7px 15px;

                    .title {
                        color: $brand-primary;
                        font-weight: bold;

                        button.glyphicon-paperclip {
                            margin-left: 7px;
                            margin-right: -3px;
                            margin-top: -2px;
                        }

                        &.sender-guarantor {
                            color: $vp-state-green;
                        }
                    }

                    .body {
                        height: 54px;
                        line-height: 18px;
                        overflow: hidden;
                        position: relative;

                        p {
                            margin: 0;
                            padding: 0;
                            text-align: justify;
                            -ms-word-break: break-word;
                            word-break: break-word;
                            -ms-word-wrap: break-word;
                            word-wrap: break-word;
                        }

                        .less {
                            display: none;
                        }

                        .more {
                            @include gradient-horizontal(rgba(255,255,255,0), #ffffff, 0, 30%);
                            display: none;
                            padding-left: 20px;
                            position: absolute;
                            top: 36px;
                            right: 0;
                        }

                        .more > a {
                            margin-left: 6px;
                        }
                    }

                    &:nth-of-type(odd) {
                        background: $vp-gray-lightest;

                        .body {
                            .more {
                                @include gradient-horizontal(rgba(255,255,255,0), $vp-gray-lightest, 0, 30%);
                            }
                        }
                    }
                }
            }
        }
    }
}

#section-support-request-reply {
    textarea {
        height: 350px;
    }
}

#section-support-request-close, #section-support-request-reopen {
    textarea {
        height: 150px;
    }
}

#section-support-request-attachments {

    .mobile-link {
        padding-bottom: 10px;
        padding-left: 4px;
        padding-top: 10px;

        .file {
            .icon-file-type {
                margin-right: 7px;
            }
        }
    }
}

section.support-request {
    .detail-grid {
        .detail {
            > strong {
                padding-right: 30px;
                > span {
                    font-size: 13px;
                    height: 28px;
                    line-height: 28px;
                    margin-left: -3px;
                    margin-right: 7px;
                    margin-top: 10px;
                    padding: 0 7px 0 7px;
                    position: relative;
                    text-transform: uppercase;

                    &.closed {
                        color: $vp-gray-dark;
                    }

                    &.open {
                        color: $vp-state-green;
                    }

                    &:before {
                        content: 'Status';
                        color: $text-color;
                        font-size: 9px;
                        left: 50%;
                        margin-left: -15px;
                        position: absolute;
                        top: -14px;
                    }
                }
            }
        }

        .grid {
            border-top: 1px solid $vp-gray-light;

            > div {
                border: 0;
            }
        }
    }
}
